.THIS .error{
	color:red;
}
.THIS .errorClass {
        border-color: red !important ;
}
.THIS .errorClassChk {
        border: 1px solid red !important ;
}

/*
.THIS .banner-text p {
    font-size: 12px !important;
}
*/