.THIS .slds-modal__container {
    margin: 0 auto;
    width: 85%;
    max-width: 80rem;
    min-width: 20rem;
}
.THIS .slds-rich-text-editor__toolbar{
    display:none;
}
.THIS .slds-textarea{
    height: 70px;
}
.THIS.specialText{
    height: 100px;
}
.THIS label.slds-form-element__label {
    display: none;
}