.THIS {
}
.THIS .mkList li a {
    padding-bottom: 180px !important;
}
.THIS .displayBlock {
    display: block;
}
.THIS .displayNone {
    display: none;
}
/*
@charset "UTF-8";


.THIS .marketingkit h3 {
	clear:both;
	color:#027AC6 !important;
	font-size:100% !important;
}
.THIS .mktrow {
	position:relative;
	}
.THIS .mktrow>div {
	position:relative;
	float:left;
	height:211px !important;
	width:220px !important;
	margin:3px;
	overflow:hidden;
}
.THIS .mktrow img {
	border:1px solid #ccc;
	}
.THIS .mkttitle {
	position:absolute;
	bottom:3px;
	left:3px;
	width:98%;
	text-align:left;
	font-size:11px;
	background-color:#FFF;
	}
.THIS .mkttitle p {
	margin:0px !important;
	overflow:hidden !important;
	}
.THIS .mkEdit {
	position:absolute;
	top:140px;
	left:10px;
	width:50px;
	text-align:center;
	border:1px solid #333;
	background-color:#999;
}

.THIS .mkList li {
	position:relative;
	float:left;
	list-style:none !important;
	background-image:none !important;
	margin:20px 40px 20px 0 !important;
}
.THIS .mkList li a {
	background-position: left bottom;
    background-repeat: no-repeat;
    display: block;
    height: 56px;
    padding-bottom: 125px;
    position: relative;
    width: 192px;
	text-align:center;
    vertical-align: text-bottom;
}
.THIS .mkPremier {
	background-image:url(images/mkPremier.jpg);
}
.THIS .mkRapidArc {
	background-image:url(images/mkRapidArc.jpg);
}
.THIS .mkTrilogy {
	background-image:url(images/mkTrilogy.jpg);
}
.THIS .mkWhiteTrilogy {
	background-image:url(images/mkWhiteTrilogy.jpg);
}
.THIS .mkIGRT {
	background-image:url(images/mkIGRT.jpg);
}
.THIS .mkTrueBeam {
	background-image:url(images/mkTrueBeam.jpg);
}
.THIS .mkTrueBeamSTX {
	background-image:url(images/mkTrueBeamSTX.jpg);
}
.THIS .mkTrueBeamSTXnovalis {
	background-image:url(images/mkTrueBeamSTXnovalis.jpg);
}
.THIS .mkPivotalBreast {
	background-image:url(images/mkPivitolBreast.jpg);
}
.THIS .mkPivotalBreastTB {
	background-image:url(images/mkPivotalBreastTB.jpg);
}
.THIS .mkCalypsoForProstate {
background-image: url(images/mkCalypsoForProstate.jpg);
}

.THIS .mkCalypsoBreastTransponder {
background-image: url(images/mkCalypsoBreastTransponder.jpg);
}
.THIS .mkEdge {
background-image:url(images/mkEdge.jpg);
}

.THIS .footNote {
	font-size:90%;
	clear:both;
}

.THIS .sectionDiv {
	position:relative;
	
	clear:both;
	float:left;
	width:100%;
}
.THIS .sectionName {
	position:relative;
	padding:5px;
	cursor:pointer;
	padding-left:15px;
	color:#559cbe;
	font-weight:bold;
}
.THIS .sectionDiv .closed {
	background-image:url(images/mkHarmonicaBg.png);
	background-position:center -1px;
	background-repeat:repeat-x;
}
.THIS .sectionDiv .opend {
	background-position:center -39px;
}

.THIS .collapsedDiv {
	display:none;
	position:relative;
	float:left;
}

.THIS .collapsedDiv h3 {
	margin-left:5px;
	font-size:110%;
}
*/