.THIS.dntShowMeClass {
    display:none;
}

.THIS .isCanada {
    display:none;
}

.THIS .consentForCanada {
    display:none;
}


.THIS.dntShowMeClass1 {
    display:none;
}

.THIS.showMeClass {
    display:block;
}

.THIS .redChar {
    		color: #5895BE;
            font-size: 24px;
            padding:5px;
            vertical-align:center;
            text-align: center;
}
.THIS .blackChar {
    		color: black;
            font-weight: bold;
            font-size: 24px;
            padding:5px;
            vertical-align:center;
            text-align: center;
    
}
.THIS .container {
    		background-color: #E8E8E8;
            border-style: solid;
            border-width:3px;
            width: 190px;
            height: 40px;
            text-align: center;
            vertical-align:center;
            padding-top: 5px;
    
}
.THIS .spanCaptcha {    		
    vertical-align: bottom;
}
.THIS .captcha{
    width:300px;
}
.THIS .right-panel{

    		
			float: center;
			width: 50px;
            
}

.THIS .error{
    
     color:red;
    
}
.THIS .heading{
    
     background-color: #E8E8E8;
    
}