.THIS .home-page-title-text{
   font-size: 12px !important;
    line-height: 18px !important;
    font-family: Arial, Helvetica, sans-serif !important; 
}
.THIS .homepage{
 background-color: #fff;  
}
.THIS .container{
    margin: auto;
    width : 90%;
}
.THIS .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cfd0d2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.THIS .sectionTitle{
    font-size: 14px;
    line-height: 18px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #267ED5;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}