.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}

.THIS .slds-form-element__label { 
   font-weight: bold;
   color: rgb(6, 28, 63); 
   font-size: larger;
  
} 

.THIS .slds-combobox__form-element { 
   width: 120%;
  
} 


.THIS  lightning-picklist[lightning-picklist_picklist] {
    display: inline-block;
    /* width: 40%; */
}

.THIS  lightning-combobox[lightning-combobox_combobox] {
    margin-left: 70px;
}

.THIS .slds-rich-text-editor__textarea .ql-editor{
   height:700px;
}

.THIS.LockOff { 
    display:none;
    visibility: hidden; 
} 
.THIS.LockOn { 
    display: block; 
    visibility: visible; 
    position: absolute; 
    z-index: 1;
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%;         
    text-align: center; 
    padding-top: 20%;        
    background: rgba(0,0,0, 0.1);
}