.THIS {
}
.THIS .uiInput--checkbox{
   display: -webkit-inline-box !important;
   -webkit-appearance: square-button !important;
    vertical-align: 0!important;
}

.THIS .uiInput--select.select{
    background-color: rgb(255, 255, 255)!important;
    color: #333!important;
    border: 1px solid #25a8dd!important;
    border-radius: 0!important;
    width: 100%!important;
    height: 26px !important;
    -webkit-transition: border .1s linear,background-color .1s linear!important;
    transition: border .1s linear,background-color .1s linear!important;
}