.THIS .aPIDocumentaion{
    background-color: #fff;
}
.THIS .container {
    margin: auto;
    width : 90%;
}
.THIS .inputLabel{
    display: block;
    font-weight: 600;
}
.THIS .slds-button{
    min-width: 200px;
    color: #333;
    margin: 1px;
    padding: 2px 3px;
    border: 1px solid #b5b5b5;
    border-bottom-color: #7f7f7f;
 }
.THIS .file {
    margin-bottom: 5px;
    display: block;
}