.THIS {
}
.THIS .errorClass {
        border-color: red !important ;
}

.cMvNewHeaderComponent .modal-dialog {
	width:900px;    
}

.cMvNewHeaderComponent .MarCom .RadioInput {
	float: left;
	margin-right: 5px;
}