.THIS .uiOutputDateTime{
   font-size: 13px;
}

.THIS .filter{
height: 26px !important;
}

.THIS .slds-hide {
   display: none;
}
.THIS .slds-show{
  display: block;
}
.THIS .errorClass {
        border-color: red !important ;
}
.THIS .uiOutputDate{
    font-size: 13px;
}
.THIS .largesize .tr .th{
    font-size: 21px;
}