.THIS .appLabel label {
    display: block;
    padding: 2px 0px;
}

.THIS .asterisk:after { 
    content:"  *"; 
    color: red;
    font-size: 15px;
    position: relative;
    top: 4px;
}

.THIS .slds-form-element__label {
    display:none;
}

.THIS .appButton button {
    margin-top: 9px;
}

.THIS .divHeader {
    margin-top: 9px;
}

/* fileUpload2.css is identical */
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}



.THIS .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.THIS .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.THIS .alert {
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.THIS .spinnerHolder{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: inline;
    z-index: 9999;
}

.THIS .slds-spinner_container {
    background: transparent;
}

.THIS .TxtAlign {
	text-align: center;
}
.THIS .notAuthorised {
	font-weight: bold;
    font-size: 15px;
}