.THIS table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.THIS th, .THIS td {
    text-align: left;
    padding: 8px;
    word-break: break-all;
}

.THIS td {
    font-size:12px;
}
    
.THIS tr:nth-child(even) {
    background-color: #f2f2f2;
}

.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}



.THIS .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.THIS .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.THIS .alert {
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.THIS .spinnerHolder{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: inline;
    z-index: 9999;
}

.THIS .slds-spinner_container {
    background: transparent;
}

.THIS .notAuthorised {
	font-weight: bold;
    text-align: center;
    font-size: 15px;
}