.THIS {
}
.THIS .displayBlock {
    display: block;
}
.THIS .displayNone {
    display: none;
}
.THIS .imageHeight {
    height: 170px;
}
.THIS .imageWidth {
    width: 170px;
}
.THIS .slds-card__header {
    padding-top: .0rem !important; 
    margin-bottom: .0rem !important;
    padding-left: .0rem !important;
}

.THIS .slds-card + .slds-card {
    margin-top: 0.5rem !important;
}
.THIS .slds-card__body {
    margin-bottom: 0.5rem;
}