.THIS .requiredField{
	border-left-color: #C23934;
    border-left-width: 4px;
}

.THIS .requiredDate{
    border-left-color: #FF0000;
    border-left-width: 4px;
}

.THIS .slds-checkbox__label{
    padding-left:5px;
}

.THIS .slds-section-title--divider {
    background-color: #9faab5;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 100%;
}
.THIS .hideDiv{
    display:none;
}
.THIS .slds-page-header__title{
    margin-bottom: .5rem;
}

.THIS .slds-popover {
    margin-right:10px;
}
.THIS .slds-button_icon-error {
    margin-right:10px;
}
.THIS .s1FixedTop{
    position: sticky;
}

.THIS .slds-form-element__label{
    font-weight: bold;
    margin-top: .5rem;
}
.THIS .slds-section-title--divider{
    background: #EEF1F6;
    color: #3E464E;
    text-align: left;
    border-radius: 0;
    margin-top: .0rem;
    margin-bottom: .0rem;
}

.THIS .slds-box{
    margin-top: .5rem;
}

.THIS .hiddenClass{
    display:none;
}

.THIS.LockOff { 
    display:none;
    visibility: hidden; 
} 
.THIS slds-modal_large .slds-modal__container{
    width:60%;
}
.THIS.LockOn { 
    display: block; 
    visibility: visible; 
    position: right; 
    z-index: 1;
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%;         
    text-align: center; 
    padding-top: 20%;        
    background: rgba(0,0,0, 0.1);
}

.THIS .errorBorder{
    border-color: #C23934;
}

.THIS .slds-modal__container{
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.THIS .form-element__help{
    color: #D8000C;
    background-color: #FFBABA;
}

.THIS .heraderFont{
	font-weight: bold;
}

.THIS .slds-table{
    margin-top: .5rem;
}

.THIS .slds-spinner{
    color: #769ED9;
}

.THIS .slds-checkbox{
    margin-top: .5rem;
}

.THIS .header-Content {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.THIS .slds-section-title--divider {
    font-size: .75rem;
    line-height: 1.25;
    color: black;
    text-transform: none;
    letter-spacing: .0625rem;
    padding: .75rem 1rem;
    background: rgb(249, 249, 250);
    font-weight: 900;
}
.THIS .slds-button-group{
    margin-top: 30px;
}
.THIS .closeIconClass svg{
 	fill: #FFFFFF;
}

.THIS .slds-lookup__menu {
   left: 219px;
    width: 437px;
    display: block;
}

.THIS .slds-inputTextsize {
    width:64%; 
}
.THIS .slds-input{
    width:59%;
    padding-right: 15rem;
    
}
.THIS .slds-inputsize{
    width:64%;
    text-align: right;
}
.THIS .uiInput--select{
    width:54%;
    margin-right:214px;
}
.THIS .slds-icon_xx-small{
    margin-left: 188px;
}
.THIS .ql-align-right {
	text-align: right;
}

.THIS .ql-align-center {
	text-align: center;
}
.THIS .input[readonly]{
        width: 152px;
}

.THIS .ql-font-serif {
	font-family: serif;
}
.THIS .slds-input__icon-group_right{   
     right: 16rem;
    width:54%;
}
.THIS .uiInputText{
    width:54%;
    padding-right: 2px;
}
.THIS .slds-lookup__search-input{
    width:70%;
    
}
.THIS .slds-pill-container{
    margin-right: 370px;
    
}
.THIS .slds-lookup {
    position: relative;
    width: 129%;
}
.THIS .uiInputText {
    width: 59%;
}
.THIS .slds-input__icon {
    right: 4rem;
}
.THIS .slds-button_icon-border{
    right: 2rem;
}
.THIS .slds-rich-text-editor__output{
    width: 376px;
}

.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .header-column {
    padding: 0 2rem;
}
.THIS .field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}