.THIS {
}
.THIS .slds-card__header{
    padding-left: 0rem;
}
.THIS .field-label {
    position: relative;
    background-image: url(images/mkHarmonicaBg.png);
    background-position: center -5px;
    background-repeat: repeat-x;
    /*padding: 5px 5px 5px 20px;*/
    cursor: pointer;
    border: 1px solid #ccc;
    color: #559CBE;
}
.THIS .groplock {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 11px;
    height: 11px;
    background-image: url(images/group-open.png);
    background-position: top center;
}