.THIS.LockOff { 
    display:none;
    visibility: hidden; 
} 

.THIS.LockOn { 
    display: block; 
    visibility: visible; 
    position: absolute; 
    z-index: 1;
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%;         
    text-align: center; 
    padding-top: 20%;        
    background: rgba(0,0,0, 0.1);
}

.THIS .slds-form-element__label{
    font-weight: bold;
}

.THIS .slds-input { 
    cursor: pointer; 
} 
.THIS .uiLegend { 
   font-weight: bold; 
   font-size: large;
} 
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}