.THIS slds-modal__container {
    min-width: 90rem;	
     height: initial !important;
}

.THIS .divCSS {
    display:block;
}
.THIS .hideDiv{
    display:none;
}

.THIS.LockOff { 
    display:none;
    visibility: hidden; 
}

.THIS .expectedclosedate1{
    background-color: rgb(255, 255, 255);border: 1px solid rgb(217, 219, 221);border-radius: .25rem;width: 100%;transition: border .1s linear,background-color .1s linear;display: inline-block;padding: 0 1rem 0 .75rem;line-height: 1.875rem;min-height: calc(1.875rem + (1px * 2));
    width: 100%;
}

.THIS .requiredField{
	border-left-color: #C23934;
    border-left-width: 4px;
}

.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 95%;
    top: 55%;
}
.THIS .slds-section-title--divider {
    font-size: .75rem;
    line-height: 1.25;
    color: black;
    /* text-transform: uppercase; */
    letter-spacing: .0625rem;
    padding: .75rem 1rem;
    background: rgb(249, 249, 250);
    font-weight: 900;
}

.THIS .checkboxCustom {
	  
}
.THIS .errorhide{
    display:none;
}

.THIS.modal {
    position: inherit
}

.THIS .slds-section-title--divider {
    line-height: 1.25;
    color: black;
    text-transform: capitalize !important;
    letter-spacing: .0625rem;
    padding: .75rem 1rem;
    background: rgb(249, 249, 250);
}

.THIS .slds-has-error .slds-select {
    
    border: 0.5px;
}
.THIS .new-style-border {
    
    border: 0.5px;
}

.THIS .dateRequired{
	  border: 1px solid rgb(194, 57, 52);
}

.THIS .slds-form-element__label{
    font-weight: bold;
    margin-top: .5rem;
}

.THIS .closeIconClass svg{
 	fill: #FFFFFF;
}

.THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}

.THIS .innerDivWrapper {
    min-height: 110%;
    padding-bottom: 20px;
}