.THIS .sectionTitle{
    font-size: 14px;
    line-height: 18px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #267ED5;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS .apiKeyManagelanding{
     width: 100%;
    
}

.THIS .APIKeyHeaderMargin
{
    float: left;
    margin-right: 10px;
}