.THIS slds-modal__container {
    min-width: 90rem;	
}

.THIS .divCSS {
    display:block;
}
.THIS .hideDiv{
    display:none;
}
.THIS .ShowRemoveFile{
     display: block; 
}
.THIS.LockOff { 
    display:none;
    visibility: hidden; 
}

.THIS.showBootstrapModal {
  display:block;
}

.THIS.hideBootstrapModal {
  display:none;
}

.THIS.LockOn { 
    display: block; 
    visibility: visible; 
    position: absolute; 
    z-index: 1;
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%;         
    text-align: center; 
    padding-top: 20%;        
    background: rgba(0,0,0, 0.1);
}

.THIS .closeIconClass svg{
 	fill: #FFFFFF;
}

.THIS.slds-hide{
    display:none;
}
.THIS .onHoverCursor {
    cursor: pointer;
}
.THIS .lookupModal{
    width:70%;
}

.THIS .modal-dialog{
    overflow-y: initial !important
}
.THIS .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}

.THIS .inputimg{
    z-index:0;
}

.THIS .glowing-border {
    border-color: red !important;
}

.THIS .uiInput--select.select.glowing-border {
    border-color: red !important;
}

.THIS div.glowing-border div.slds-form-element__control textarea {
    border-color: red !important;
}

.THIS .lightningTextarea{
    width:100%;
}
.THIS .textarea   erorr{
     border-color: red !important;
}
.THIS .inputhtml {
    border: 1px solid #25a8dd;
    height:26px;
    border-radius: 0px
}