.THIS .selectTest{
    width: 130px;
    margin-bottom:5px;
    height: 20px !important;
}
.THIS .blackText{
    color: black;
}
.THIS .borderNone{
    border: none;
}
.THIS #mainNavigation li a {
   /* background: #5a6a75;*/
    padding: 6px 10px 6px 10px !important;
   /* padding: 15px 10px 14px 10px;
     background: rgba(230,235,238,0.15); */
}
.THIS #mainNavigation li a:hover {
    background: #5a6a75;
    padding: 6px 10px 6px 10px !important;
   /* padding: 15px 10px 14px 10px;
     background: rgba(230,235,238,0.15); */
}
.THIS slds-dropdown {
    position: absolute;
    z-index: 7000;
    left: 50%;
    float: left;
    /* min-width: 6rem; */
    /* max-width: 20rem; */
    margin-top: .125rem;
    margin-bottom: .125rem;
    border: 1px solid #f4f4f4;
    border-radius: .25rem;
    padding: .25rem 0;
    font-size: .875rem;
     background: rgb(253, 253, 253); 
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16); */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}