.THIS slds-modal__container {
    min-width: 90rem;	
}

.THIS .divCSS {
    display:block;
}
.THIS .hideDiv{
    display:none;
}

.THIS.LockOff { 
    display:none;
    visibility: hidden; 
}

.THIS.LockOn { 
    display: block; 
    visibility: visible; 
    position: absolute; 
    z-index: 1;
    top: 0px; 
    left: 0px; 
    width: 105%; 
    height: 105%;         
    text-align: center; 
    padding-top: 20%;        
    background: rgba(0,0,0, 0.1);
}

.THIS .expectedclosedate{
    background-color: rgb(255, 255, 255);border: 1px solid rgb(217, 219, 221);border-radius: .25rem;width: 100%;transition: border .1s linear,background-color .1s linear;display: inline-block;padding: 0 1rem 0 .75rem;line-height: 1.875rem;min-height: calc(1.875rem + (1px * 2));
    width: 100%;
}

.THIS .requiredField{
	border-left-color: #C23934;
    border-left-width: 4px;
}

.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 95%;
    top: 55%;
}
.THIS .slds-section-title--divider {
    font-size: .75rem;
    line-height: 1.25;
    color: black;
    /* text-transform: uppercase; */
    letter-spacing: .0625rem;
    padding: .75rem 1rem;
    background: rgb(249, 249, 250);
    font-weight: 900;
}

.THIS .checkboxCustom {
	  
}
.THIS .errorhide{
    display:none;
}

.THIS .slds-section-title--divider {
    line-height: 1.25;
    color: black;
    text-transform: capitalize !important;
    letter-spacing: .0625rem;
    padding: .75rem 1rem;
    background: rgb(249, 249, 250);
}

.THIS .slds-has-error .slds-select {
    
    border: 0.5px;
}
.THIS .new-style-border {
    
    border: 0.5px;
}

.THIS .dateRequired{
	  border: 1px solid rgb(194, 57, 52);
}

.THIS .slds-form-element__label{
    font-weight: bold;
    margin-top: .5rem;
}

.THIS .closeIconClass svg{
 	fill: #FFFFFF;
}
.THIS.modal {
    position: inherit
}
.THIS .requiredSelect select{
    border-left-color: #c23934;
	border-left-width: 4px;
    /*border-left-style: solid;
    border-left-color: #c23934;
    height: 10px;
    border-image-width:  20px;
    margin-top:  20px;
    padding-bottom: 43px;
    padding-top: -10px;
    margin-top: -10px;*/
}