<apex:page standardController="Apttus__APTS_Agreement__c" extensions="APTS_AgreementStatusChange" action="{!ChangeStatusToInSignature}" >
   
   <apex:pageMessages id="showmsg" escape="false">
   
   </apex:pageMessages>

          
</apex:page>