<apex:page controller="APTS_MergeVendorController" action="{!doMerge}" sidebar="false" showHeader="true" lightningStyleSheets="true" title="Merge Vendor">
  <!-- Begin Default Content REMOVE THIS -->
  <apex:pageMessages id="messages"></apex:pageMessages>
  <!-- End Default Content REMOVE THIS -->
</apex:page>