<apex:page controller="APTS_AddRecipientController" sidebar="false" showHeader="true" lightningStyleSheets="true" title="AddRecipient">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <style>
        .autoCompleteBoxScrolling {
            display:none!important;
        }
        .autoCompleteSectionRow{
            display:none;
        }
        .autoCompleteRow{
            display:none;
        }
        .apexp .bPageBlock .detailList {
            width: 95%;
        }
        
        .pbHeader .pbTitle h2,
        .pbHeader .pbTitle h3 {
            font-size: 1.5em !important;
            font-weight: 550;
        }
        
        .slds-scope .slds-card__header {
            padding-top: 0;
        }
        
        .slds-scope .slds-card {
            padding: 0;
            background: #f4f6f9;
            border: 1px solid #d8dde6;
            border-radius: .25rem;
            background-clip: padding-box;
        }
    </style>
    <apex:slds />

    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"/>
    <apex:includeScript value="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"/>
    <apex:stylesheet value="/resource/SLDS0102/assets/styles/salesforce-lightning-design-system-ltng.css"/>
    <apex:stylesheet value="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"/>
    <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, 'css/bootstrap.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="slds-scope">
        <apex:form id="frm">
        <apex:actionFunction action="{!deleteRecipient}" name="deleteRecipient" reRender="tablePanelnew,messages">
            <apex:param name="deleteIndex" value="" assignTo="{!deleteIndex}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!addAnotherRecipient}" name="addAnotherRecipient" reRender="tablePanelnew,messages">
        </apex:actionFunction>
        <apex:actionFunction action="{!addToList}" name="addToList" reRender="tablePanelnew,messages">
        </apex:actionFunction>
        <apex:actionFunction action="{!moveUp}" name="moveUp" reRender="tablePanelnew,messages">
            <apex:param name="moveUpIndex" value="" assignTo="{!moveUpIndex}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!moveDown}" name="moveDown" reRender="tablePanelnew,messages">
            <apex:param name="moveDownIndex" value="" assignTo="{!moveDownIndex}"/>
        </apex:actionFunction>
    
        <apex:pageMessages id="messages" ></apex:pageMessages>


            <article class="slds-card">
                <div class="slds-shrink-none">
                    <div class="slds-card__header ">
                        <div class="slds-page-header">
                            <span class="slds-text-heading_small">Send For Esignature</span>
                        </div>
                    </div>
                    <div class="slds-card__body slds-card__body_inner">
                        <div class="slds-page-header " >
                            <div class="slds-grid " >
                                    <span class="slds-text-heading_medium">Add Recipient(s)</span>
                                    <div class="slds-form-element" style="padding-left: 2%;">
                                        <div>
                                            <apex:inputField value="{!contactObj.FirstName}" id="searchInput" style="width:200%;">
                                                <c:AutoCompleteComponent autocomplete_textbox="{!$Component.searchInput}" hidden_textbox="{!$Component.theHiddenEmail}"/>
                                            </apex:inputField> 
                                        </div>
                                    <div style="padding-left: 2%;">
                                        <a href="javascript:addToList();" style="color:rgb(13,68,153);padding-top:2%;">Add To List</a>
                                    </div>
                                    </div>
                                    
                                    <apex:inputHidden value="{!hiddenEmailId}" id="theHiddenEmail"/>
                            </div>

                            <apex:outputPanel id="tablePanelnew">
                                <div class="slds-grid " style="padding-top: 1%;">
                                    <table  width="100%" class="slds-table slds-table--bordered slds-table--striped">
                                        <thead>
                                            <tr class="slds-text-title_caps">
                                                <th scope="col">
                                                    <apex:inputCheckbox value="{!selectAllRecipients}" onclick="selectAllCheckboxes(this,'inputId')" id="inputId" />
                                                </th>
                                                <th scope="col">
                                                        <span style="font-weight: bold">Name</span>
                                                </th>
                                                <th scope="col">
                                                        <span style="font-weight: bold">Email</span> 
                                                </th>
                                                <th scope="col">
                                                        <span style="font-weight: bold">Routing Order</span>
                                                </th>
                                                <th scope="col">
                                                        <span style="font-weight: bold">Signer Type</span>
                                                </th>
                                                <th scope="col">
                                                        <span style="font-weight: bold">Action</span>
                                                </th>
                                                <th scope="col">
                                                </th>
                                                <th scope="col">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <apex:variable var="c" value="{!0}" />
                                            <apex:repeat value="{!recipientWrapperList}" var="recipientTable"  >
                                                <!-- {!recipientWrapperList}  --> 
                                                <tr>
                                                    <th scope="col">
                                                        <apex:inputCheckbox value="{!recipientTable.flag}" id="inputId" />
                                                    </th>
                                                    <th id="nameTh{!c}" scope="col">
                                                        <input id="nameInput" type="text"  class="slds-input" value="{!recipientTable.fullName}" onkeyup="setHiddenName({!c})"/>
                                                        <apex:inputHidden id="hdnName" value="{!recipientTable.hiddenName}"/>
                                                    </th>
                                                    <th id="emailTh{!c}" scope="col">
                                                        <input id="emailInput" type="text"  class="slds-input" value="{!recipientTable.emailId}" onkeyup="setHiddenEmail({!c})"/>
                                                        <apex:inputHidden id="hdnEmail" value="{!recipientTable.hiddenEmail}"/>
                                                    </th>
                                                    <th id="routingTh{!c}" scope="col">
                                                        <input id="routingInput" type="number"  class="slds-input" value="{!recipientTable.routingOrder}" onkeyup="setHiddenRouting({!c})" readonly="true" />
                                                        <apex:inputHidden id="hdnRouting" value="{!recipientTable.hiddenRouting}"/>
                                                    </th>
                                                    <th scope="col">
                                                        <apex:selectList id="signerField" value="{!recipientTable.signerType}" styleclass="slds-select" size="1">
                                                            <apex:selectOptions value="{!signerPickvals}"/>
                                                        </apex:selectList>
                                                    </th>
                                                    <th scope="col">
                                                        <!--<a href="javascript:if (window.confirm('Are you sure?')) deleteRecipient('{!recipientTable.index}');" style="color:rgb(13,68,153);">Delete</a>-->

                                                        <a href="javascript:deleteRecipient('{!recipientTable.index}');" style="color:rgb(13,68,153);">Delete</a>
                                                    </th>
                                                    <th scope="col">
                                                        <a href="javascript:moveUp('{!recipientTable.index}');" style="color:rgb(13,68,153);">Move Up</a>
                                                    </th>
                                                    <th scope="col">
                                                        <a href="javascript:moveDown('{!recipientTable.index}');" style="color:rgb(13,68,153);">Move Down</a>
                                                    </th>
                                                </tr>
                                                <apex:variable var="c" value="{!c+1}" />
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                   
                                </div>
                                <div class=""  >
                                    <a  onclick="addAnotherRecipient();return false;" style="color:rgb(13,68,153);padding-top:3%;">Add Another Recipient</a>
                                </div>
                            </apex:outputPanel>
                        </div>
                    </div>
                </div>
            </article>
            <div class="slds-grid" style="padding-top: 2%;"> 
                <div class="slds-size--7-of-12 slds-p-horizontal--medium ">
                </div>
                <div class="slds-p-horizontal--medium slds-size--7-of-12 slds-float_left">
                    <!-- <apex:commandButton value="Back" action="{!backButton}" styleClass="slds-button slds-button_neutral slds-float_left"/> -->
                    <apex:commandButton value="Next" action="{!sendForEsignature}" styleClass="slds-float_left slds-button slds-button_brand" reRender="messages"/>
                    <apex:commandButton value="Cancel" action="{!cancelButton}" styleClass="slds-button slds-button_neutral slds-float_left"/>
                </div>
                <div class="slds-grid slds-size--5-of-12">
                </div>
            </div>
        </apex:form>
    </div>
    
    <script type="text/javascript">
        function selectAllCheckboxes(obj, receivedInputID) {
            var inputCheckBox = document.getElementsByTagName("input");
            for (var i = 0; i < inputCheckBox.length; i++) {
                if (inputCheckBox[i].id.indexOf(receivedInputID) != -1) {
                    inputCheckBox[i].checked = obj.checked;
                }
            }
        }

        function setHiddenName(x)
        {
            var thId = "#nameTh"+x;
            var child = $(thId).find('#nameInput');
            var childValue = child[0].value;

            var childHidden = $(thId).find("[id*="+"hdnName]");
            childHidden.val(childValue);
        }
        function setHiddenEmail(x)
        {
            var thId1 = "#emailTh"+x;
            var child1 = $(thId1).find('#emailInput');
            var childValue1 = child1[0].value;

            var childHidden1 = $(thId1).find("[id*="+"hdnEmail]");
            childHidden1.val(childValue1);
        }
        function setHiddenRouting(x)
        {
            var thId2 = "#routingTh"+x;
            var child2 = $(thId2).find('#routingInput');
            var childValue2 = child2[0].value;

            var childHidden2 = $(thId2).find("[id*="+"hdnRouting]");
            childHidden2.val(childValue2);
        }
    </script>
  </html>
</apex:page>