<apex:page Controller="AssignUserToGroupController" id="pgId">
    <script>
        function checkAccount(){
            //alert(accId);
            var lkfield = document.getElementById('pgId:frId:pgBlId:accountsectionId:itemId:sitePartnerAcc_lkid').value;
            //alert('====>'+lkfield);            
            if(lkfield  == '000000000000000')
                return false;
            else
                MultipicklistGroupData();
                      
        }
    </script>
    <apex:form id="frId">
        <apex:pageMessages id="errorMsgId"/>
        <apex:actionFunction action="{!MultipicklistGroupData}" name="MultipicklistGroupData"  reRender="errorMsgId,pgBlId" status="Status"/>
        <apex:actionStatus id="Status" startText="Loading..." > </apex:actionStatus>
        <apex:pageBlock id="pgBlId">
            <apex:pageblocksection id="accountsectionId" >
                <apex:pageblockSectionItem id="itemId" rendered="{!If(showPGBln , false , true)}">
                    <apex:outputLabel >Partner Account</apex:outputLabel>
                    <apex:inputField value="{!contactRoleAssoc.Account__c}" id="sitePartnerAcc" onchange="MultipicklistGroupData();"/>
                </apex:pageblockSectionItem>
                <apex:pageblockSectionItem rendered="{!If(showPGBln , true , false)}">
                    <apex:outputLabel >Partner Account</apex:outputLabel>
                    <apex:outputField value="{!contactRoleAssoc.Account__c}" />                
                </apex:pageblockSectionItem>
            </apex:pageblocksection>
            <br/>
            <apex:iframe frameborder="false" src="/apex/RegularGroupList?id={!contactRoleAssoc.Account__c}&source=block" rendered="{!If(showPGBln , true , false)}" width="100%" height="500px"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>