<apex:page standardController="Input_Clearance__c" extensions="BlockeditemController" sidebar="false">
<style>
.errorMsg
{        
    font-family:Arial;
    font-size:120%;
    font-weight:bold;
    text-align:left;
} 
</style>
<apex:messages id="Msg" styleClass="errorMsg" />

<apex:form >
<apex:pageBlock title="Un-Blocked Items" mode="edit">

<apex:pageBlockButtons >
<apex:commandButton action="{!save}" value="Save"/>
<apex:commandButton action="{!cancel}" immediate="true" value="Cancel"/>
</apex:pageBlockButtons>

<apex:pageblockTable value="{!processList}" var="pList" id="table">
<apex:column headervalue="Select" >
<apex:inputCheckbox value="{!pList.checkbox}" />
</apex:column> 
<apex:column headervalue="Item Part">
<apex:outputField value="{!pList.item.Item_Part__c}"/>
</apex:column>
<apex:column headervalue="Clearance Entry Form">
<apex:outputField value="{!pList.item.Input_Clearance__c}"/>
</apex:column>

<!--<apex:column headervalue="Clearance Family">
<apex:outputField value="{!pList.item.Clearance_Family__c}"/>
</apex:column> -->
<!--<apex:column headervalue="Model Part Number">
<apex:outputField value="{!pList.item.Model_Part_Number__c}"/>
</apex:column> -->

<!--<apex:column headervalue="Regulatory Name">
<apex:outputField value="{!pList.item.Regulatory_Name__c}"/>
</apex:column> -->
<apex:column headervalue="Feature Name">
<apex:inputfield value="{!pList.item.Feature_Name__c}"/>
</apex:column>
</apex:pageblockTable>
</apex:pageBlock>
<apex:pageBlock title="Blocked Items">
<apex:pageblockTable value="{!selectedlist}" var="IList" id="table1">
<apex:column headervalue="Item Part">
<apex:outputField value="{!IList.inserteditem.Item_Part__c}"/>
</apex:column>
<apex:column headerValue="Clearance Entry Form">
<apex:outputField value="{!IList.inserteditem.Input_Clearance__c}"/>
</apex:column>
<apex:column headervalue="Clearance Entry Form Name">
<apex:outputField value="{!IList.inserteditem.Clearance_Entry_Form_Name__c}"/>
</apex:column>
<!--<apex:column headervalue="Clearance Family">
<apex:outputField value="{!IList.inserteditem.Clearance_Family__c}"/>
</apex:column> -->
<!--<apex:column headervalue="Regulatory Name">
<apex:outputField value="{!IList.inserteditem.Regulatory_Name__c}"/>
</apex:column>-->
<apex:column headervalue="Feature Name">
<apex:outputField value="{!IList.inserteditem.Feature_Name__c}"/>
</apex:column>
</apex:pageblockTable> 
</apex:pageBlock>
</apex:form>  
</apex:page>