<apex:page controller="BoxAddPermission" id="pg" showheader="false" sidebar="false">
    <apex:outputPanel rendered="{!not(isFolderExist)}">
        <apex:pageMessages id="errMsg"/>
    </apex:outputPanel>

    <apex:form id="boxPermissionFormId" rendered="{!isFolderExist}">
        <apex:pageMessages id="pgMsg"/>
        <script>
            setTimeout(function(){
                document.querySelector('[id*="saveStaus.start"]').style.display = 'none';
                if({!bUploaded}==true) {
                    window.parent.postMessage('close', '*');
                }
            }, 2000);
        </script>
        <apex:pageBlock title="Update Box Permissions" id="pb"> 
            <apex:pageBlockSection columns="1">
                <apex:selectList size="1" value="{!selectedname}" label="User Type" > 
                    <apex:actionSupport event="onchange" action="{!setName}" reRender="boxPermissionFormId" status="saveStaus" />
                    <apex:selectOptions value="{!selectednamefields}"/>  
                </apex:selectList>
            </apex:pageBlockSection> 
                
            <apex:pageBlockSection id="pbs" columns="1" collapsible="false"  rendered="{!VarianCustomer}">
                <!--<apex:inputText value="{!textfield}"  label="Please enter the name of the user"/>-->
                <apex:inputField id="lkpUser" value="{!oTmpPHILog.Director_Dept_Head__c}" label="User Name"/>

                <apex:selectList id="SelectBoxEmail" size="1" value="{!selectedrole}" label="User Role" > 
                    <apex:selectOptions value="{!selectedrolefields}"/>
                </apex:selectList>
            </apex:pageBlockSection>
                
            <apex:pageBlockSection columns="1" collapsible="false"  rendered="{!NonVarianCustomer }">
                <apex:inputText id="NoneVarianUserEmail" value="{!emailfield}" label="User Email"/>
                <apex:selectList id="SelectNonBoxEmail" size="1" value="{!selectedrole}" label="User Role" > 
                    <apex:selectOptions value="{!selectedrolefields}"/>  
                </apex:selectList>
            </apex:pageBlockSection>

            <apex:pageBlockSection columns="1" collapsible="false"  rendered="{!NonBoxCustomer }">
                <apex:inputText id="NonBoxUserName" value="{!namefield}" label="User Name"/>
                <apex:selectList id="SelectBoxRole" size="1" value="{!selectedrole}" label="User Role" > 
                    <apex:selectOptions value="{!selectedrolefields}"/>  
                </apex:selectList>
                <apex:inputText id="NonBoxUserEmail" value="{!oemailfield}" label="User Email"/>
            </apex:pageBlockSection>
                
            <!--</apex:pageBlockSection>-->
            <apex:pageBlockButtons location="bottom" rendered="{!OR(VarianCustomer, NonVarianCustomer, NonBoxCustomer)}">
                <apex:commandButton action="{!saveusers}" value="Save" id="theButton" onClick="return validateForm()"  status="saveStaus"/>
                <apex:actionStatus id="saveStaus" >
                    <apex:facet name="start">
                        <apex:outputPanel style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(/img/loading32.gif) 50% 50% no-repeat;">
                            <label style="position: absolute;left: 44%;top: 70%;font-size: 15px;">Please wait...</label>
                        </apex:outputPanel>            
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
        </apex:pageBlock>

        <script>
            if({!VarianCustomer}===true) {
                var select = document.querySelector('select[id*="lkpUser_mlktp"]');
                select.removeChild(select.options[1]);
                select.removeChild(select.options[1]);
            }

            function validateForm() {
                if({!VarianCustomer}===true) {
                    var role = document.querySelector('[id*="SelectBoxEmail"]').value;
                    if(role === 'None') {
                        alert('Please, Select role.');
                        return false;
                    }
                } else if({!NonVarianCustomer}===true) {
                    var nonVarianCustRole = document.querySelector('[id*="SelectNonBoxEmail"]').value;
                    if(nonVarianCustRole === 'None') {
                        alert('Please, Select role.'); return false;
                    }
                    
                    var validEmail = document.querySelector('[id*="NoneVarianUserEmail"]').value;
                    if(validEmail === "") {
                        alert('Please, Enter email');
                        return false;
                    }   
                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(validEmail)) {
                        return true;
                    } else {
                        alert('Please, Enter valid email');
                        return false;
                    }
                }
                return true;
            }
        </script>
        <style>
            .message {
                margin: 8px 0px !important;
            }
            .lookupInput {
                vertical-align: top;
                margin-top: -1px;
                display: inline-block;
                margin-left: 24px;
            }
            select {width:170px;}
            input {width:166px;}
        </style>
    </apex:form>
</apex:page>