<apex:page controller="BoxUploadDoc" sidebar="false" showHeader="false">
    <apex:form id="boxUploadFormId">
        <apex:pageMessages id="msg" />
        <apex:pageblock >
            <div>
                <apex:inputFile id="inputFile" value="{!uploadContent}" fileName="{!uploadFilename}" fileSize="{!uploadFileSize}"/>
            </div>
            <div style="margin-top:10px;display:block;position:relative;">
                <apex:commandbutton value="Upload" action="{!uploadFileToBox}" onclick="return validateForm()" status="statusId"/>

                <apex:actionStatus id="statusId" >
                    <apex:facet name="start">
                        <apex:outputPanel style="position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(/img/loading32.gif) 50% 50% no-repeat;">
                            <label style="position: absolute;left: 44%;top: 70%;font-size: 15px;">Please wait...</label>
                        </apex:outputPanel>            
                    </apex:facet>
                </apex:actionStatus>
            </div>
        </apex:pageblock>

        <script>
            setTimeout(function(){
                document.querySelector('[id*="statusId.start"]').style.display = 'none';
                if({!bUploaded}==true) {
                    window.parent.postMessage('close', '*');
                }
            }, 2000);


            function validateForm() {
                var inputFile = document.querySelectorAll("[id*='inputFile']")[0];
                if(inputFile.value.length === 0) {
                    alert('Please, select a file.');
                    return false;
                } else if(inputFile.files[0].size === 0) {
                    alert('File size is 0.');
                    return false;
                } else {
                    // reCreate new Object and set File Data into it
                    /*var newObject  = {
                       'lastModified'     : inputFile.lastModified,
                       'lastModifiedDate' : inputFile.lastModifiedDate,
                       'name'             : inputFile.name,
                       'size'             : inputFile.size,
                       'type'             : inputFile.type
                    }; */
                    
                    // then use JSON.stringify on new object
                    //JSON.stringify(newObject);
                    
                    document.querySelector('[id*="statusId.start"]').style.display = 'block';
                    return true;
                }
            }
        </script>
        <style>
            .message {
                margin: 8px 0px !important;
            }
        </style>
    </apex:form>
</apex:page>