<apex:page controller="CatalogViewController" contentType="txt/xml#catalogViewExport.xls" cache="true">
  <apex:outputText value="{!xlsHeader}"/>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
     xmlns:o="urn:schemas-microsoft-com:office:office"
     xmlns:x="urn:schemas-microsoft-com:office:excel"
     xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
     xmlns:html="http://www.w3.org/TR/REC-html40">
    <Styles>
      <Style ss:ID="s1">
      <Alignment/>
      <Borders/>
      <Font ss:Bold="1"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
      </Style>
    </Styles>
    <Worksheet ss:Name="{!selectedModel}">
      <Table x:FullColumns="1" x:FullRows="1">
        <Column ss:Width="170"/>
        <Row>
            <Cell ss:StyleID="s1"><Data ss:Type="String" >{!selectedFamily}:{!selectedLine}</Data></Cell>
            <Cell ss:StyleID="s1"><Data ss:Type="String" >Part</Data></Cell>
            <Cell ss:StyleID="s1"><Data ss:Type="String" >Standard Price ({!selectedCurrency})</Data></Cell>
            <Cell ss:StyleID="s1"><Data ss:Type="String" >Target Price ({!selectedCurrency})</Data></Cell>
        </Row>
        <Row>
            <Cell ss:StyleID="s1"><Data ss:Type="String"></Data></Cell>
        </Row>
        <apex:repeat value="{!selectedGroup}" var="group">
          <Row>
            <Cell ss:StyleID="s1"><Data ss:Type="String">{!group}</Data></Cell>
          </Row>
          <apex:repeat value="{!groupedPartsMap[group]}" var="part">
            <Row>
              <Cell><Data ss:Type="String">{!part.product.Name}</Data></Cell>
              <Cell><Data ss:Type="String">{!part.product.BigMachines__Part_Number__c}</Data></Cell>
              <Cell><Data ss:Type="String">
                <apex:outputText value="{0, number,###,###,##0.00}">
                  <apex:param value="{!part.standardPrice*selectedConversionRate}" />
                </apex:outputText>
              </Data></Cell>
              <Cell><Data ss:Type="String">
                <apex:outputText value="{0, number,###,###,##0.00}">
                  <apex:param value="{!part.targetPrice*selectedConversionRate}" />
                </apex:outputText>
              </Data></Cell>
            </Row>
          </apex:repeat>
          <Row>
            <Cell ss:StyleID="s1"><Data ss:Type="String"></Data></Cell>
          </Row>
        </apex:repeat>
      </Table>
    </Worksheet>
  </Workbook>
</apex:page>