<apex:page showHeader="false" controller="Thankyou"><br/>
 <h1><font style="color:black;font-family: Calibri;font-size:20px; font-style:italic"><Center><b>Thank you for submitting your form. You will be notified by email and Chatter when your group has been created so you can begin inviting members. 
</b></Center></font></h1> 


<p1><br/><br/><font style="color:black;font-family: Calibri;font-size:15px; font-style:verdana"><Center><b> For more information about groups and their management, view the <ahref ="https://varian.my.salesforce.com/sfc/p/E0000000XqCJ/a/E00000004PNM/LnUwYaFyZnq5xNI1a.gSsOtsl4fEIC8GKOoCxtZ5FjA=">Chatter Groups Quick Reference Guide</a>, <ahref ="https://varian.my.salesforce.com/sfc/p/E0000000XqCJ/a/E00000004NP1/usgBGP_DoDUYJVvEtDDd0aPoQ064vLBrkLA4nI0Tauo=">Chatter Tips and Tricks</a>  and <ahref="https://varian.my.salesforce.com/sfc/p/E0000000XqCJ/a/E00000004Mts/bmtXPh.VVE_dYKE_yUpPenmkGb_T.FTQ1iJn.8Ovs8c=">Chatter Guidelines  </a>  documents posted in Chatter. </b></Center></font></p1>
<br/><br/><br/>
<apex:form >
<center>
<apex:commandButton value="Home" action="{!homepage}" style="color:black;font-family: Calibri;font-size:18px; font-style:italic"/>
</center>
</apex:form>
</apex:page>