<apex:page controller="ContactToolPickerController">
    <style>
        /* This is for the full screen DIV */
        .popupBackground {
            /* Background color */
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
        
            /* Dimensions */
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 998;
            position: absolute;
            
            /* Mouse */
            cursor:wait;
        }
     
        /* This is for the message DIV */
        .PopupPanel {
            /* Background color */
            border: solid 2px blue;
            background-color: white;
     
            /* Dimensions */
            left: 50%;
            width: 200px;
            margin-left: -100px;
            top: 50%;
            height: 50px;
            margin-top: -25px;
            z-index: 999;
            position: fixed;
            
            /* Mouse */
            cursor:pointer;
        }
        .titleCls{
            text-align: center;
            margin-top: -10px;
            margin-left: 10px;
            height: 20px;
            line-height: 20px;
            font-size: 15px;
            background-color: #F8F8F8;
        }
    </style>
    <apex:actionStatus id="splashStatus" stopText="">
        <apex:facet name="start">
            <div>
                <div class="popupBackground" />
                <div class="PopupPanel">
                    <table border="0" width="100%" height="100%">
                        <tr>
                            <td align="center"><b>Please Wait</b></td>
                        </tr>
                        <tr>
                            <td align="center"><img src="{!$Resource.ProgressBar}"/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    <apex:form >
        <apex:actionFunction name="retrieveContactInfo" action="{!collectContactInfo}" reRender="pgb" status="splashStatus"/>
        <apex:pageBlock id="pgb">
            <apex:pagemessages id="error"></apex:pagemessages>
            <apex:pageBlockSection rendered="{!contactRoleAssociation.Contact__c == null}">
                <apex:inputField value="{!contactRoleAssociation.Contact__c}" onChange="retrieveContactInfo();"/>
            </apex:pageBlockSection>
            <div id="contentToToggle" style="display:{!if(contactRoleAssociation.Contact__c != null,"block","none")};border: 1px solid #828790;">
                <div class="titleCls" style="width:140px">&nbsp;Contact Information&nbsp;</div><br/>
                <apex:pageBlockSection rendered="{!contactRoleAssociation.Contact__c != null}">
                    <apex:outputField value="{!contactRoleAssociation.Contact__c}"/>
                    <apex:inputField value="{!contact.MarketingKit_Agreement__c}"/>
                    <apex:inputField value="{!contact.Registered_Portal_User__c}"/>
                    <apex:inputField value="{!contact.Monte_Carlo_Registered__c}"/>
                    <apex:inputField value="{!contact.Manager__c}"/>
                    <apex:inputField value="{!contact.TrueBeam_Accepted__c}"/>
                    <apex:inputField value="{!contact.Manager_s_Email__c}"/>
                    <apex:inputField value="{!contact.Is_Lung_Phantom_Contact__c}"/>
                    <apex:inputText value="{!contact.OktaId__c}" label="OKTA ID" disabled="true"/>
                    <apex:inputField value="{!contact.Is_MDADL__c}"/>
                    <apex:inputText value="{!contact.OktaLogin__c}" label="OKTA Login" disabled="true"/>
                    <apex:outputField value="{!contact.MyVarian_Registration_Date__c}"/>
                    <apex:inputText value="{!contact.activation_url__c}" label="Activation URL" disabled="true"/>
                </apex:pageBlockSection>
                <apex:pageBlockButtons location="bottom" rendered="{!contactRoleAssociation.Contact__c != null}">
                    <apex:commandButton value="Save" action="{!save}" reRender="pgb,error" status="splashStatus"/>
                    <apex:commandButton value="Save & Change Contact" action="{!saveAndChangeContact}" reRender="pgb,error" status="splashStatus"/>
                    <apex:commandButton value="Cancel" action="{!cancel}" reRender="pgb" status="splashStatus"/>
                </apex:pageBlockButtons>
            </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>