<apex:page standardController="User" showHeader="false" sidebar="false" Extensions="CpResetPasswordPortalAdmin" action="{!Passwordactionmethod}">
<apex:form >
<apex:outputpanel id="theMsg">
<apex:inputHidden value="{!noerror}" id="theHiddenInput"/>
<apex:messages />
</apex:outputpanel>
<apex:actionFunction name="actionResetpass" action="{!Resetpass}" rerender="theMsg" oncomplete="closingwindow();return false;">
    <apex:param name="PWDConfirm" value=""/>
    <apex:param name="ConfirmPWD" value=""/>
  </apex:actionFunction>
<apex:pageBlock >
<apex:pageBlockSection columns="1">
   <Center><apex:outputLabel >New Password:</apex:outputLabel> <br/> 
         <center><div id="newpass" style="display:none;color:Red">Please enter password.</div></center><br/>
        <input type="password" id="edit-profile-Password" Class="form-text required" onchange="verifypasswrd(); return false;"/>
        <center><apex:outputtext >Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters .</apex:outputtext></center><br/>
    
   <apex:outputLabel >Confirm Password:</apex:outputLabel>
        <input type="password" id="edit-profile-ConfirmPass" onchange="confirmpass(); return false;"/>
        <apex:outputtext >Reenter your password to confirm changes.</apex:outputtext>
        <div id="confirmpass" style="display:none;color:Red">Please enter Correct password in confirm password</div>
        </center>
</apex:pageBlockSection>
<apex:pageBlockButtons location="bottom">
<apex:commandButton value="Reset" onclick="passvaluechk(); return false;"/>
</apex:pageBlockButtons>
</apex:pageBlock>
<script type="text/javascript"> 
 function confirmpass()
{
  
  //alert(document.getElementById('edit-profile-Password').value);
  if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
  {
    document.getElementById('confirmpass').style.display = 'block';
  }else{
    if(document.getElementById('confirmpass') != null)
    {
     document.getElementById('confirmpass').style.display = 'none';
    }
  }
}
 function verifypasswrd()
{
  var Exp = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
  var pwd = document.getElementById('edit-profile-Password').value;
  //alert(pwd);
 if(!Exp.test(pwd) || pwd.length < 8)
 {
  alert('Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters.');
  return false;
  }
}
function passvaluechk()
{
  //verifypasswrd();
  var Exp = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
  var pwd = document.getElementById('edit-profile-Password').value;
  //alert(pwd);
 
  if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
  {
    document.getElementById('confirmpass').style.display = 'block';
    return false;
  }
  var newpwd = document.getElementById('edit-profile-Password').value;
  var confrmpwd = document.getElementById('edit-profile-ConfirmPass').value;
  if(newpwd ==''|| confrmpwd == '')
  {
    document.getElementById('newpass').style.display = 'block';
  }
  else{
     if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
      {
        document.getElementById('confirmpass').style.display = 'block';
        return false;
      }else{
     if(!Exp.test(pwd) || pwd.length < 8)
     {
      alert('Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters.');
      return false;
      }else{
     //verifypasswrd();
     actionResetpass(newpwd,confrmpwd);
     //window.close();
    }
    }
  }
}
function closingwindow()
 {
  if("{!noerror}" == "true")
  {
   window.close();
  }
 }
</script>

</apex:form>
</apex:page>