<apex:page showHeader="false" standardStylesheets="{!if(shows == 'none',false,true)}" sidebar="false" controller="cpAccessDocs" id="page1" action="{!refresh}">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
    <title>Monte Carlo Simulation | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="jquery-1.4.min.js"></script>
<!--
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/drupal.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/googleanalytics.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery_002.cycle.all.min.js.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/javascript.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.jQuery, '/jQuery/js/jquery-1.4.2.min.js')}"></script>

<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQueryEasing)}"  />
<apex:includeScript value="{!URLFOR($Resource.jQueryCycle)}"  /><script type="text/javascript"> -->

<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "googleanalytics": { "trackOutbound": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip" }, "thickbox": { "close": "Close", "next": "Next \x3e", "prev": "\x3c Prev", "esc_key": "or Esc Key", "next_close": "Next / Close on last", "image_count": "Image !current of !total" } });
//--><!]]>
<!-- </script> -->
<!-- for community -->
    <script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
        </script>
        <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
        </script>
        <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
        <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
        <script type="text/javascript">
          

    SetupTreeNode.prototype.initializeSetup = function() {
      var openNodes = '';
      if (openNodes != null) {
        SetupTreeNode.prototype.openListSetup = openNodes.split(':');
      }
      SetupTreeNode.prototype.personalSetupV2 = false;
    }

        </script><script>
          try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
    try{DynamicCss.doneLoading()}catch(e){}
        </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
        <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

    <!-- end here -->
  </head>
  <body>
<!-- Community header -->
    <apex:outputpanel style="display:{!shows}"> 
    <div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
         MyVarian
        </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$label.Org_Domain_URL}">
          Varian Medical Systems Internal
        </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
          {!Usrname}
        </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
          Logout
        </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
          00DM00000013QDl
        </div></div></apex:outputpanel>
    <!-- end here -->
<div id="wrapper">
<c:CpPortalHeader />
<!-- /topToolBar -->
      
    <div id="container">

              <c:CpPortalSideMenu />
          
      <div id="center" class="CenterNoRightSide montecarlo">
      
            <div class="centerOneCol">  
       <p>Please recall that download and use of this information is governed by a License Agreement signed by a member of your institution. Among other items, the License Agreement states that the information is 1) confidential, 2) not validated, 3) provided without warranty, 4) not for clinical use.</p>

<p>
 <script type='text/javascript' language='javascript'>
                $(document).ready(function(){
                    var newwidth = $('#center').width() - 30;
                    $('.mktrow').width(newwidth + 'px');
                });
               
            </script>
<apex:form >
 
      <!-- <apex:outputpanel rendered="{!if(shows == 'none',true,false)}">-->
        <apex:commandLink action="{!ShowPopup}" rerender="tstpopup">Review the License Agreement</apex:commandlink>
    <!-- </apex:outputpanel>-->
   </apex:form></p>
   <apex:outputtext rendered="{!if(pageName=='TrueBeam',true,false)}">
   <div class="Sidebar-CenterLeft"><apex:outputLink value="/apex/cpAccessDocs?text={!pageName}" disabled="{!isPhotonFile}" >Photon Data Files</apex:outputLink>&nbsp;|&nbsp;<apex:outputLink value="/apex/cpAccessDocs?text={!pageName}&cid=ElectronFile" disabled="{!isElectronFile}" >Electron Data Files</apex:outputLink>&nbsp;|&nbsp;<apex:outputLink value="/apex/cpAccessDocs?text={!pageName}&cid=RelCont" disabled="{!isRelCont}" >Related Content</apex:outputLink>  </div><br></br>
    </apex:outputtext>
<!--<div class="Sidebar-CenterLeft"><apex:outputPanel id="myTabs"><apex:outputLink onclick="TypeData('Photon');return false;" disabled="{!isPhotonFile}">Photon Data Files</apex:outputLink>&nbsp;|&nbsp;<apex:outputLink onclick="TypeData('Electron');return false;"  disabled="{!isElectronFile}">Electron Data Files</apex:outputLink>&nbsp;|&nbsp;<apex:outputLink onclick="TypeData('Related Content');return false;" disabled="{!isRelCont}">Related Content</apex:outputLink></apex:outputPanel>  </div><br></br>-->

<!--<div class="view-content">-->
<apex:form >
 
<!--<apex:actionFunction Name="reLoadPanel" rerender="myPanel,myTabs" action="{!AccessDocs}" ><apex:param name="TypeFile" value=""/></apex:actionFunction>
<apex:outputPanel id="myPanel">-->
<apex:repeat value="{!lTitle_ContentVer}" var="a" >
<div class='sectionDiv' >
  <div class='sectionName closed' style="display:{!If(a.lCont.size > 0, 'block', 'none')}" > {!a.TitleVal}</div>
  <div class="collapsedDiv">
  <!-- <div> -->  
 <table class="views-table cols-3">
      
   <!--   <caption>{!a.TitleVal}</caption> -->
    
 <thead style="display: inline-block;">

    <tr  >
              <th  class="views-field views-field-description"  style="width: 900px;">
          Description        </th>
              <th class="views-field views-field-filesize" style="width: 500px;" align="left">
          Size       </th>
              <th class="views-field views-field-created" style="width: 500px;">
          Post date        </th>

          </tr>
  </thead>
 

  <tbody   >
      <apex:repeat value="{!a.lCont}" var="b">
        <div >
         <tr class="odd views-row-first" style="display: inline-block;" >
                  <td class="views-field views-field-description" style="width: 610px;">
                   <a href="/sfc/servlet.shepherd/version/download/{!b.id}">{!b.Description}</a> 
                      
                  </td>
                  <td class="views-field views-field-filesize" style="width: 350px;" align="left" >                        
                    <apex:outputText value="{!ROUND(b.ContentSize/(1024*1024),4)} MB"/>
                        
                  </td>
                  <td class="views-field views-field-created" style="width: 350px;" align="left">
                   <apex:outputText value="{0,date,MMMM' 'dd', 'yyyy}" ><apex:param value="{!b.CreatedDate}" /></apex:outputText>          
                  </td>
          </tr>
          </div>
        </apex:repeat>  
    </tbody>
   
</table>
<!-- </div> -->
</div>
 
 </div>
</apex:repeat><!--</apex:outputPanel>--></apex:form>
   </div>
 <span class="clear"></span>
   <!--  </div>-->
    
      <!--   </div>   -->
          
      </div> <!--  /#center -->

          
      

    </div> <!-- /container -->

  <!-- footer -->
        <!--<div id="myFooter">-->
            <c:CpFooter />
<!--        </div>-->
  <!-- /footer -->
  </div>

  <!-- /layout -->

<apex:form >
<apex:outputPanel id="tstpopup">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                <div id="dialog" title="My Dialog Title">
        <b>Varian Monte Carlo Data Agreement ("Agreement")</b>
        <p>This agreement ("Agreement") is a legally binding instrument between Varian Medical Systems, Inc., incorporated under the laws of Delaware, having an office address at 3100 Hansen Way, Palo Alto, California 94304 ("Varian") and the institution identified in Section 1, below ("Institution"). By clicking “I agree” “I accept” or similar buttons or checkboxes, Institution accepts this Agreement and agrees to be bound by all terms of this Agreement. If you do not agree to this Agreement, then do not indicate acceptance of this Agreement and do not access or use the Confidential Information identified in Section 2.</p>

<p>WHEREAS, Institution desires to receive certain proprietary information from Varian in connection with its use in conducting Monte Carlo modeling for non-clinical, research purposes only ("Purpose");</p>

<p>WHEREAS, Varian is willing to provide such proprietary information to Institution on the terms and conditions of this Agreement, the parties agree to be bound to the terms of this Agreement.</p>

<p>1. This agreement may only be entered into, and the Confidential Information (as defined in Section 2) accessed or used by, an entity that (i) is a recognized research or medical institution having sufficient expertise to perform Monte Carlo modeling; and, (ii) has the capability to perform all obligations hereunder, including, without limitation, the indemnity of Section 11 (“Institution”). The person accepting this agreement represents and warrants that (i) he or she represents Institution; (ii) he or she has the power and authority to execute this Agreement on behalf of Institution, and (iii) that Institution meets the criteria set forth in the first sentence of this Section 1. Institution acknowledges and agrees that the terms of this Agreement are enforceable against it so long as the Agreement has been accepted electronically by Institution or Institution has accepted any performance by Varian.</p>
<p>2. Varian will deliver to Institution a packet of proprietary information ("Confidential Information"), including, without limitation:<br/>
Treatment head geometry, specifications and design schematics for Varian's Clinac series linear accelerators and/or for Varian's multileaf collimators and/or for Varian’s On-Board Imaging system and/or Varian’s PortalVision imager.</p>
<p>3. Confidential Information made available to Institution, whether directly or indirectly, by Varian shall be used by Institution only for said Purpose and Institution shall take all reasonable precautions to prevent any unauthorized duplication, disclosure or use of the Confidential Information for any other purpose. Institution shall ensure that only those individuals who have a need to know the Confidential Information for the Purpose and who have executed confidentiality agreements with Institution protecting such Confidential Information from disclosure on terms at least as protective as the terms of this Agreement shall have access to the Confidential Information. Institution shall further ensure that such individuals are made aware of the terms of this Agreement, particularly the non-disclosure provisions and shall ensure their compliance with such terms.</p>
<p>4. Institution will not make copies of any of the Confidential Information, or information derived therefrom, or portions thereof, beyond what is strictly necessary for the Purpose, without prior written authorization from Varian. Institution will not attempt to reverse engineer the Confidential Information for any purpose whatsoever. Upon completion of the Purpose or earlier request from Varian, Institution will return the Confidential Information, and all copies thereof, if any, made by Institution (including any original material prepared by Institution incorporating or derived from the Confidential Information), or, at Varian’s option certify destruction thereof. Confidentiality obligations in this Agreement shall apply until one of the exceptions of Section 6 applies.</p>
<p>5. Institution agrees not to disclose the Confidential Information to any third party without the express written permission of Varian. In the event that such written permission is granted, any Confidential Information so disclosed by Institution, shall bear appropriate markings approved by Varian to indicate the proprietary nature of such information, and any such third party shall be subject to written obligations of confidentiality at least as protective of the Confidential Information as this Agreement. Institution may publish or present the results of any research based upon its use of the Confidential Information, only upon Varian’s prior written approval of such publication or presentation. Institution agrees to grant Varian the opportunity to review a draft copy of the proposed publication or presentation for review and approval at least forty-five (45) days prior to the intended publication or presentation date, and to delete any Confidential Information identified by Varian during such review. Varian shall complete such review of the draft publication or presentation within thirty (30) days of receipt.</p>
<p>6. The provisions of the Agreement shall not apply to any portion of the Confidential Information:<br/>
<ui>
a. which is developed by Institution and in Institution's possession, as evidenced in writing, prior to its receipt of the same, directly or indirectly, from Varian;<br/>
b. which at the time of disclosure is, or thereafter becomes, through no act or failure to act on Institution's part, published information generally known on a nonconfidential basis in the industry;<br/>
c. which is furnished to Institution by others, as evidenced in writing, as a matter of right without restriction on disclosure; or,<br/>
d. which is disclosed pursuant to the requirement of a governmental agency or any law requiring disclosure thereof, provided that Varian is provided with as much advance written notice of the proposed disclosure as is practical (including a copy of any written request or order), and provided that Institution shall cooperate with Varian in any effort to limit or restrict such disclosure, via a protective order or otherwise.<br/>
</ui>
</p>

<p>7. All Confidential Information disclosed pursuant to this Agreement will be subject to the protection of this Agreement until one of the above exceptions applies. Specific Confidential Information shall not be deemed within any of the above exceptions solely because it is encompassed in more general information that does fall within one or more of the above exceptions. Confidential Information comprising a combination of items of information, some or all of which individually fall within one or more exceptions, shall not be deemed within any of the above exceptions unless the combination of such items and its principles of operation fall within one or more of the above exceptions.</p>
<p>8. In consideration of the information provided by Varian, Institution agrees to provide Varian with the data and other results of its efforts in Monte Carlo modeling, as well as any other work using the Confidential Information ("Developed Information"). Institution shall own the Developed Information (but not any underlying Confidential Information that may be present in the Developed Information or any derivative work of the Confidential Information). Institution further agrees that Varian may use the Developed Information, including any models for treatment planning, for any purpose without further consideration for Institution. Without limiting the foregoing, Institution agrees to provide Varian with immediate written notice of any potential discrepancies in or other issues with the Confidential Information or with Varian’s linear accelerators, treatment planning software or other products, in each case that are revealed by Institution’s use of the Confidential Information pursuant to this Agreement or by any of the Developed Information.</p>



<p>9. All information supplied by Varian is provided "AS IS." ALL WARRANTIES ARE EXPRESSLY DISCLAIMED. Without limiting the generality of the foregoing, Varian MAKES NO WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF ACCURACY, RELIABILITY, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>10. Institution acknowledges that the Confidential Information, and any data derived therefrom, is not intended for clinical use, and neither the data nor its use for the Purpose or any other purpose have been validated by Varian. Accordingly, Institution agrees that it will not use the Confidential Information or any data or information derived from the same (including Developed Information) clinically. As used in this Agreement, “clinically” means activity involving (i) the direct observation of patients; (ii) the diagnosis of disease or other conditions in humans; or (iii) the cure, mitigation, therapy, treatment, treatment planning or prevention of disease in humans.</p>

<p>11. Institution agrees to defend, indemnify and hold harmless Varian and its affiliated companies and their employees, directors and agents, from and against all liability, loss, damage, or expense including attorney’s and expert’s fees incurred in connection with any claim, suit, action, demand or judgment including injury to or death to any person, and loss of or damage to property, resulting from any act or omission of Institution including any clinical use, research, decisions, interpretations, or recommendations made by Institution or other activities based on the Confidential Information provided by Varian to Institution hereunder.</p>
<p>12. The relationship of the parties under this Agreement shall be that of independent contractors. This Agreement and the parties’ activities hereunder shall not be construed, expressly or implied, as a teaming agreement, joint venture, partnership, employment, other contractual relationship, or as any promise or intention to purchase any product or service or proceed with any transaction or other arrangement. No license of any kind, including but not limited to under any patents or copyrights, is granted or implied by disclosure of the Confidential Information or any other information hereunder, except strictly as is necessary for the Purpose. </p>
<p>13. The rights and obligations of this Agreement shall take precedence over specific legends or statements associated with the Confidential Information as received.</p>
<p>14. This Agreement shall be construed in accordance with the laws of the State of California without regard to any conflict of laws principles. The parties hereto agree to submit to the jurisdiction of the U.S. Federal Court or California State Superior Court sitting in the County of Santa Clara, State of California, and in no other place, and waive any defense related to jurisdiction, venue or forum non-conveniens.</p>
<p>15. Institution shall comply with all laws, rules and regulations applicable to the activities conducted pursuant to this Agreement, including without limitation the restrictions and controls imposed by the Export Administration Act, Export Administration Regulations and other export laws and regulations of the United States or other applicable government as enacted or amended from time to time.</p>
<p>16. This Agreement may not be assigned by Institution without the prior written consent of Varian.</p>
<p>17. In the event that any provision of this Agreement shall be held invalid or unenforceable for any reason, that provision shall be ineffective to the extent of such invalidity or unenforceability and such invalidity or unenforceability shall not affect any other provision of this Agreement which shall be interpreted to preserve (to the extent possible) the parties’ original intent.
<p>18. This Agreement contains the entire understanding between the parties, superseding all prior or contemporaneous communications, agreements and understandings between the
parties with respect to the exchange and protection of the Confidential Information. No modification or waiver of any provision hereof shall be valid unless expressed in writing signed by an
authorized representative of each party, nor shall any valid waiver in any instance or as to any part performance be deemed a waiver in any other instance or preclude a party from otherwise
requiring full performance under this Agreement.</p>
<p>20. This Agreement may be terminated by either party at any time by giving the other party at least sixty (60) days prior written notice; provided that all rights and obligations of the parties
under this Agreement with respect to Confidential Information provided by Varian or Developed Information developed by Institution, in each case prior to such date of termination, shall
indefinitely survive the termination of this Agreement.</p>
<p>21. Without limiting the generality of the protections and restrictions set forth in this Agreement, Institution agrees and acknowledges that any individuals permitted to have access to the
Confidential Information hereunder shall have no right to retain the information for personal use or for use at any entity or institution except for Institution, and that any such individuals
desiring to use the Confidential Information at any other entity or institution must enter into an agreement on behalf of such institution and obtain the Confidential Information from Varian for
such other entity or Institution’s use.</p>
</p>
 <apex:commandButton value="Close" action="{!closePopup}" rerender="tstpopup"/>

  </div>
  <br/>
                           </apex:outputPanel>
</apex:outputPanel>
</apex:form>




  <style type="text/css">
 
        .custPopup{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            height: 500px;
            width: 500px;
            margin-left: -250px;
            top:100px;
             overflow:auto;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
  <SCRIPT LANGUAGE="JavaScript">
            
    function TypeData(par) {
            reLoadPanel(par);
                               }
                               
                                
</script>
  <script type="text/javascript">
        function showPopUp()
        {
            
                    $("#dialog").dialog({
                        resizable: false,
                      height:640,
                      width:700,
                      modal: true,                     
                      title:"Alert",
                      buttons: {
                        
                        Cancel: function() {
                          $( this ).dialog( "close" );
                          
                        }
                      }
                                        
                    });
                    
                    return false;
                  
        }
  </script>  
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-1746809-2"]);_gaq.push(['_setCustomVar', 1, "role", "authenticated user,__Employee,__Contractor", 1]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>

  </body>
</html>

</apex:page>