<apex:page showHeader="false" id="PageId" standardStylesheets="{!if(shows == 'none',false,true)}" sidebar="false" Controller="CpNewCase" >
   <head>
    <title>Response Mail</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>


<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.TableSorter, '/jquery.tablesorter.min.js')}"/>

</head>
<!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>



<!-- end here -->
<apex:outputpanel id="JsPanel">
<script type="text/javascript">
            $(function(){
            $('#dialog_link').click(function(){
                $('<iframe src="https://myvarian.com/sites/all/modules/varian/filterproducts/help/index.html" width="100%" height="100%" frameborder="0" scrolling="yes" style="min-width: 95%;height:100%;"/>').dialog({ modal: true, width: 1200, height: 500});
                return false;
            
            });
            });
     </script>  </apex:outputpanel>
      
       <script type="text/javascript">     
            $(document).ready(function() {
 $("#loginPanelWindow").dialog({
                      autoOpen: false,
                      resizable: false,
                      height:350,
                      //dialogClass: "ui-widget-header",
                      width:550,
                      modal: true,
                      title:"",
                        buttons: {
                        "Cancel": function(){
                          $(this).dialog("close");                          
                        }
                        }
                    });

               $('#loginPanel').click(function () {
                     GetTasksid();
                   $("#loginPanelWindow").dialog("open");
               
               
                });
             $('[id$=LogoImage]').css("width","700px");
               });  
      </script>


<style>
.Sidebar-CenterLeft
{
position: relative;
float: Left;
width: 350px;
height: 68px;
}
.Sidebar-CenterRight
{
position: relative;
float: right;
width: 350px;
height : 68px;
}
.container{
    
 
    left: 10px;
    top:10px;
    width: 700px;
    height:200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.containers{
    
 
    left: 10px;
    top:10px;
    width: 500px;
    height:100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.text{
    height: 500px;
}
.left-div {
    float: left;
    margin-right: 8px;
   }
.right-div {
    margin-left: 400px;
    }
</style>
<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$Label.organizationurl}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" title="VMS-amanitri" alt="VMS-amanitri" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->
<div id="wrapper">
<c:CpPortalHeader />
<div id="container">
<c:CpPortalSideMenu />

<apex:form id="innerForm">
<div id="center" class="CenterNoRightSide contactvarian">
<div id="sidebar-right" class="sidebar sidebarRight">
    <c:CpContactmenu />
</div>
<div id="diverr" style="display:none" class="messages error"></div> 
<apex:commandButton id="back-case" value="Back to Case" action="{!backToCase}" styleClass="form-submit"/>

<div class="centerTwoCol">
<div class="form-item" id="edit-user-Activity-name-wrapper">
<apex:outputpanel id="EmailReply" rendered="{!IF(taskid == '',false,true)}">
 <!--label for="edit-user-Activity-name">Date:</label>
 <apex:outputText value="{!TaskActivityDate }"  id="edit-user-Activity-name" styleClass="form-text required" /><br></br><br></br -->
 <label for="edit-user-Account-name">Subject:</label>
 <apex:outputText value="{!Tasksubject}" id="edit-Account-name" styleClass="form-text required"/><br></br><br></br>
 <!--label for="edit-user-Names-name">Name:</label>
 <apex:outputText value="{!TaskName}"  id="edit-user-Names-name" styleClass="form-text required" /><br></br><br></br -->
  <label for="edit-user-Serial-name">Comments:</label>
 <apex:outputText value="{!TaskComment}"  id="edit-user-Serial-name" styleClass="form-text required" escape="false"/>
 
 <!-- Attachment related to email -->
 <br/><br/>
 <div style="display:{!IF(Emailattachmentids.size>0 ,'block','none')};">
   <label >Attachments: </label>
    <apex:DataTable value="{!Emailattachmentids}" var="attach" >
 
     <apex:column headerValue="Name">
               
                <a href="{!URLFOR($Action.Attachment.Download, attach.Id)}" >{!attach.Name}</a>
            </apex:column>
           
           <apex:column headerValue="Size">
               
                <apex:outputField value="{!attach.BodyLength}"/>
            </apex:column>           
    </apex:DataTable>
          
    <br/><br/></div>
    
</apex:outputpanel>
 <!--apex:outputText escape="false" value="{!TaskDetailnew }"  id="edit-user-Activity-name" styleClass="form-text required" /-->
 <apex:outputPanel id="FirstEmail" rendered="{!IF(taskid == '',true,false)}" style="width:50%">
    <div style="border: 1px solid Peru;margin: auto;min-width: 200px;display: inline-block;background: red;">
    <!-- apex:image url="{!imageURL}" width="600"></apex:image -->
    <!-- c:SR_USCaseCreation_component USCaseCreation="{!newcase.id}" ></c:SR_USCaseCreation_component -->
    <c:SR_CaseCreation_component_japanese japanese="{!newcase.id}" rendered="{!IF(CONTAINS($Label.Japanese_countries, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_japanese>
    <c:SR_CaseCreation_component_italian Italian="{!newcase.id}" rendered="{!IF(CONTAINS($Label.Italian_Counties, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_italian>
    <c:SR_CaseCreation_component_german german="{!newcase.id}" rendered="{!IF(CONTAINS($Label.GERMAN_countries, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_german>
    <c:SR_CaseCreation_component_chinese chinese="{!newcase.id}" rendered="{!IF(CONTAINS($Label.Chinese_countries, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_chinese>
    <c:SR_CaseCreation_component_english english="{!newcase.id}" rendered="{!IF(CONTAINS($Label.English_country, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_english>
    <c:SR_CaseCreation_component_french France="{!newcase.id}" rendered="{!IF(CONTAINS($Label.french_countries, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_french>
    <c:SR_CaseCreation_component_Spain Spain="{!newcase.id}" rendered="{!IF(CONTAINS($Label.Spanish_countries, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_Spain>
    <c:SR_CaseCreation_component_Portugese Portugese="{!newcase.id}" rendered="{!IF(CONTAINS($Label.Portugese, newcase.Account.Country__c),TRUE,FALSE) }"></c:SR_CaseCreation_component_Portugese>
    </div>
 </apex:outputpanel>
 <br></br><br></br>
</div><br/>

</div>

</div>
</apex:form>



</div> 
</div>
</apex:page>