<apex:page showHeader="false" id="PageId" standardStylesheets="{!if(shows == 'none',false,true)}" sidebar="false" Controller="CpCaseDetailController" action="{!shareAttachment}">
   <head>
    <title>Case Details</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>
 
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>
 
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
 
 
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.TableSorter, '/jquery.tablesorter.min.js')}"/>
 
 
</head>
<style>
.Sidebar-CenterLeft
{
position: relative;
float: Left;
width: 310px;
 
}
.Sidebar-CenterRight
{
position: relative;
float: right;
width: 310px;
}
.Sidebar-Center
{
position: relative;
float: center;
width: 25px;
}
.containers{
   
 
    left: 10px;
    top:10px;
    width: 500px;
    height:100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
   
 
    left: 10px;
    top:10px;
    width: 700px;
    height:250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.text{
    height: 500px;
}
 .casenotecol
    {
        word-wrap:break-word;
        
    } 

    .headerFormat 
    {
        height:30px; position:relative;
    }
  
      
</style>
<!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
     
 
SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}
 
    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>
 
<!-- end here -->
<script type="text/javascript"> 
    $(document).ready(function() {
        if("{!checkcountry}" == "false"){
            //alert('Within if loop');
            $("#dialog").dialog({
                          resizable: false,
                          height:200,
                          width:500,
                          modal: true,                     
                          title:"Information",
                          close: function() { 
                               window.open('/apex/CpHomePage','_self');
                            },
                          buttons: {
                          Ok: function() {
                              window.open('/apex/CpHomePage','_self');
                            }
                          }
                                                        
                        });
        }
    });
</script>

<apex:outputpanel id="JsPanel">
<script type="text/javascript">

            $(function(){
            $('#dialog_link').click(function(){
                $('<iframe src="https://myvarian.com/sites/all/modules/varian/filterproducts/help/index.html" width="100%" height="100%" frameborder="0" scrolling="yes" style="min-width: 95%;height:100%;"/>').dialog({ modal: true, width: 1200, height: 500});
                return false;
           
            });
            });
            function printCase()
            {
                window.open("/apex/CpCaseReportPDF?id={!currCase.Id}");
            }
      </script>
 
</apex:outputpanel>
<!-- Community header -->
<apex:outputpanel style="display:{!shows}">
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$Label.organizationurl}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" title="VMS-amanitri" alt="VMS-amanitri" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->
<div id="wrapper">
<c:CpPortalHeader />
<div id="container">
<c:CpPortalSideMenu />
<apex:form >
<!-- Support Cases -->
<div id="dialog" style="display:{!IF(checkcountry == false,'block','none')}">
    <div><apex:outputtext escape="false" value="{!$Label.CpSupportCaseMsg}"/></div>
</div>
<!-- Support Cases -->
<div id="center" class="CenterNoRightSide contactvarian">
    <div id="sidebar-right" class="sidebar sidebarRight">
        <c:CpContactmenu />
    </div>
<apex:actionRegion >
<apex:commandButton id="edit-case" value="Edit" action="{!editCase}" styleClass="form-submit" rendered="{!!reopencase}"/>
</apex:actionRegion>
<!--apex:commandButton id="reopen-case" value="Reopen Case" styleClass="form-submit" rendered="{!reopencase}"/-->
<apex:commandButton id="close-case" value="Request to Close"  action="{!closeCase}" styleClass="form-submit" rendered="{!!reopencase}"/>
<apex:commandButton id="cases-list" value="Back to Cases"  action="{!backToCases}" styleClass="form-submit" />
<apex:commandButton id="cases-report" value="Print"  onclick="printCase(); return false;" styleClass="form-submit" />
<br/><br/><br/>
    <h3>Case Number: {!currCase.CaseNumber}</h3>
    <div class="view-content">
    <br/>

<div style="display:{!IF(checkcountry == true,'block','none')}"> 
 
  
        <div class="Sidebar-CenterLeft" style="width:70%">
            <table style="border:0px;">
                <tr style="border:0px;">
                    <td style="border:0px;">
                        <div class="form-item" id="user-Account-name-wrapper">
                            <div style="position:absolute;width:33%">
                            <label for="user-Account-name">Institution Name: </label>
                            <apex:outputText value="{!AcctName}" id="user-Account-name"/><br></br><br></br>
                            </div>
                            <br/> <br/><br/><br/>
                            <div style="position:absolute;width:33%">
                            <label for="subject">Subject: </label>
                            <!-- <apex:outputText value="{!subject}" id="subject"/> -->  
                            <apex:outputText style="width:50px;" value="{!subject}" id="subject"/><br></br><br></br>
                            </div>
                        </div>
                    </td>
                    <td style="border:0px;">
                        <div class="form-item" id="product-version-wrapper">
                            <div style="position:absolute;width:33%">
                            <label for="product">Product Group: </label>
                            <apex:outputText value="{!product}" id="product"/> <br></br><br></br>
                            </div>
                             
                            <br/><br/><br/><br/>
                            <div style="position:absolute;width:33%">
                            <label for="user-serial-name">Serial Number: </label>
                            <apex:outputText value="{!serialname}" id="user-serial-name"/>
                            </div>
                            <br/><br/><br/><br/>
                            <!-- <div style="position:absolute;width:33%">
                            <label for="product-version">Product Version: </label>
                            <apex:outputText value="{!prodVersion}" id="product-version"/><br></br><br></br>
                            <!-- <br/><br/><br/>-->
                            <!-- </div> -->
                            <br/>
                        </div>
                    </td>
                    <td style="border:0px;">
                        <div class="form-item" id="product-version-wrapper">
                            
                            <div style="position:absolute;width:33%">
                                <label for="Priority">Priority: </label>
                                <apex:outputText value="{!CasePriority}" id="priority1"/>
                            </div> 
                            <br/><br/><br/><br/>
                            
                            <div style="position:absolute;width:33%">
                            <label for="status">Status: </label>
                            <apex:outputText value="{!CaseStatus}" id="status"/><br></br><br></br>
                            </div>
                            
                        </div>
                    </td>
                </tr>
            </table>
        </div>
 
 <!--
<div class="Sidebar-CenterLeft">
<div class="form-item" id="status-wrapper">
<div style="position:absolute;">
<label for="status">Status: </label>
<apex:outputText value="{!CaseStatus}" id="status"/><br></br><br></br>
</div>
  <br/>
  <br/> <br/><br/>
<div style="position:absolute;">
  <label for="product-version">Product Version: </label>
<apex:outputText value="{!prodVersion}" id="product-version"/><br></br><br></br>
<!-- <br/><br/><br/>--><!--
</div>
<br></br><br></br>

<br/>


</div>
<br/><br/><br/><br/>
</div>
 -->
<!--<div class="Sidebar-CenterLeft">
    <div class="form-item" id="user-Account-name-wrapper">
        <label for="user-Account-name">Institution Name: </label>
        <apex:outputText value="{!AcctName}" id="user-Account-name"/><br></br><br></br>
        <label for="product">Product: </label>
        <apex:outputText value="{!product}" id="product"/><br></br><br></br>
        <label for="status">Status: </label>
        <apex:outputText value="{!CaseStatus}" id="status"/>
    </div>
</div>
 
<div class="Sidebar-CenterRight">
    <div class="form-item" id="product-version-wrapper">
        <label for="subject">Subject: </label>
        <apex:outputText value="{!subject}" id="subject"/><br></br><br></br>
        <label for="user-serial-name">Serial Number: </label>
        <apex:outputText value="{!serialname}" id="user-serial-name"/><br></br><br></br>
        <label for="product-version">Product Version: </label>
        <apex:outputText value="{!prodVersion}" id="product-version"/>
        <br/><br/><br/>
    </div>
</div>-->
<br></br><br/><br/>
<apex:outputPanel rendered="{!IsDescvisible}">
<div>
<br/><br/><br/><br/><br/><br/>
</div><br></br>
<div  id="description-wrapper"  >
<br/><br/><br/><br/><br></br>
<!--<label for="description">Description: </label>-->
<br/><br></br><br></br>
<div class="Sidebar">
    Description
    <apex:outputtext rendered="{!isDetail}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Details"  rendered="{!isDetail}">Case Notes</apex:outputLink>
    <apex:outputtext rendered="{!isWrkOrdr}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@WorkOrder" rendered="{!isWrkOrdr}">Work Order</apex:outputLink> 
    <apex:outputtext rendered="{!isRecomndation}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Recommendation" rendered="{!isRecomndation}">Recommendation</apex:outputLink>
    </div>
<!-- apex:inputTextarea value="{!description}"  rows="5" disabled="true"  id="description" rendered="{!IsDescvisible}"  style="width:68%"/ -->
<div style="background: #dddddd;width:70%;">
<apex:outputtext value="{!description}" id="description" rendered="{!IsDescvisible}"  style="width:68%;" escape="false"/>
<!--apex:outputField value="{!currCase.Local_Description__c}" id="description" rendered="{!IsDescvisible}"  style="width:68%;"/>-->
<!-- apex:image id="theImage" value="{!URLFOR('/servlet/rtaImage?eid=500c0000004k7wD&feoid=00Nc0000000xdt3&refid=0EMc0000000ClQ8')}" width="220" height="55"/ -->
</div>
</div>
<br/>
</apex:outputPanel>

<div style="position:relative;float: Left;    width: 70%;">
    <apex:outputPanel rendered="{!showPGBln}">
    <div class="Sidebar">
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@desc">Description</apex:outputLink>
    <apex:outputtext rendered="{!isDetail}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Details"  rendered="{!isDetail}">Case Notes</apex:outputLink>
    <apex:outputtext rendered="{!isWrkOrdr}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@WorkOrder" rendered="{!isWrkOrdr}">Work Order</apex:outputLink>
    <apex:outputtext rendered="{!isRecomndation}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Recommendation" rendered="{!isRecomndation}">Recommendation</apex:outputLink>
    </div>
    <br/>
    <!-- <apex:iframe frameborder="false" src="/apex/CpCaseWorkorderDetailPage?Workid={!WorkorderId}" rendered="{!showPGBln}"  width="50%" height="300px" scrolling="false"/> -->
    </apex:outputPanel>
<br/>
</div>

<div style="position:relative;float: Left;width:70%;display:{!if(IsWorkordrvisible,'block','none')}">
<apex:outputPanel rendered="{!IsWorkordrvisible}" >
<div class="Sidebar">
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@desc">Description</apex:outputLink>
    <apex:outputtext rendered="{!isDetail}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Details"  rendered="{!isDetail}">Case Notes</apex:outputLink>
    |&nbsp;Work Order
    <apex:outputtext rendered="{!isRecomndation}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Recommendation" rendered="{!isRecomndation}">Recommendation</apex:outputLink>
</div>

<div  class="container" id="WorkOrder" style="display:{!IF(LstWork.SIZE > 0,'block','none')}">
    <!--br/><br/>
    <apex:outputfield value="{!currCase.Local_Case_Activity__c}"  id="Recommandation" style="width:68%" rendered="{!isWrkOrdr}"/ -->
    <apex:DataTable value="{!LstWork}" var="index">
   
<apex:column headerValue="Work Order #">
    
    
    <apex:outputpanel rendered="{!if(index.SVMXC__Order_Status__c !='Closed' || index.RecordType.Name != 'Field Service',true,false)}">
        <apex:outputText value="{!index.Name}"/> 
    </apex:outputpanel>
    <apex:outputpanel rendered="{!if(index.SVMXC__Order_Status__c =='Closed' && index.RecordType.Name == 'Field Service',true,false)}">
        <apex:outputText value="{!index.Name}" rendered="{!if(index.Attachments.SIZE == 0,true,false)}" />
        <apex:outputpanel rendered="{!IF(index.Attachments.SIZE != 0,true,false)}">   
            <a href="{!URLFOR($Action.Attachment.Download, index.Attachments[0].Id)}" target="_blank" >{!index.Name}</a>
        </apex:outputpanel>
    </apex:outputpanel> 
</apex:column>

            <apex:column headerValue="Date Initiated">
               <apex:outputText value="{0,date,MMM dd', 'yyyy}" style="white-space:nowrap"><apex:Param value="{!index.CreatedDate}" /></apex:outputText> 
              <!-- <apex:outputField value="{!index.CreatedDate}"/>-->
            </apex:column>  
            <apex:column headerValue="Status">
                <apex:outputText value="{!index.SVMXC__Order_Status__c}"/>
               
            </apex:column> 
                <apex:column headerValue="Subject">
                <apex:outputText value="{!index.Subject__c}"/>
               
            </apex:column> 
             
            </apex:DataTable>
        
<br/><br/></div></apex:outputPanel>
</div>
<!-- Recommendation section -->
<div style="position:relative;float: Left;width:70%;display:{!IF(IsRecomvisible,'block','none')}">
<apex:outputPanel rendered="{!IsRecomvisible}" >
<div class="Sidebar">
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@desc" >Description</apex:outputLink>
    <apex:outputtext rendered="{!isDetail}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Details"  rendered="{!isDetail}">Case Notes</apex:outputLink>
    <apex:outputtext rendered="{!isWrkOrdr}">&nbsp;|&nbsp;</apex:outputtext>
    <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@WorkOrder" rendered="{!isWrkOrdr}">Work Order</apex:outputLink>&nbsp;|&nbsp;Recommendation
    </div>
 
 
<!-- div  class="container" id="WorkOrder" style="display:{!IF(currCase.Local_Case_Activity__c != NULL,'block','none')}" -->
    <br/><!--br/ -->
    <apex:outputfield value="{!currCase.Local_Case_Activity__c}"  id="Recommandation" style="width:68%" rendered="{!isRecomndation}"/>
    <!-- <apex:DataTable value="{!LstWork}" var="index"  >
   
     <apex:column headerValue="Work Order #">
    
     <apex:outputLink value="/apex/CpCaseDetail?id={!caseids}&Count={!index.id}" rendered="{!if(index.SVMXC__Order_Status__c=='Closed',true,false)}" >{!index.Name}</apex:outputLink>
     <apex:outputLink value="/servlet/servlet.FileDownload?file={!index.Attachments[0].Id}" rendered="{!IF(AND(index.SVMXC__Order_Status__c=='Closed',index.Attachments.SIZE != 0),true,false)}" target="_blank</font>" >{!index.Name}</apex:outputLink>
    
     <apex:outputLink value="/apex/SR_VF_WorkOrderDetailPDF?id=a1rc0000000FjWN" rendered="{!if(index.SVMXC__Order_Status__c=='Closed',true,false)}" target="_blank</font>">{!index.Name}</apex:outputLink>   
 
              <apex:outputText value="{!index.Name}" rendered="{!if(OR(index.SVMXC__Order_Status__c!='Closed',index.Attachments.SIZE == 0),true,false)}"/>
               
     </apex:column>
           
            <apex:column headerValue="Date Initiated">
               <apex:outputText value="{0,date,MMM dd', 'yyyy}" style="white-space:nowrap"><apex:Param value="{!index.CreatedDate}" /></apex:outputText> 
               <apex:outputField value="{!index.CreatedDate}"/>
            </apex:column>  
            <apex:column headerValue="Status">
                <apex:outputText value="{!index.SVMXC__Order_Status__c}"/>
               
            </apex:column> 
                <apex:column headerValue="Subject">
                <apex:outputText value="{!index.Subject__c}"/>
               
            </apex:column> 
             
            </apex:DataTable> -->
        
<br/><br/><!-- /div --></apex:outputPanel>
</div>
<!-- Recommandation ends here -->
<div style="position:relative;float: Left;width:70%">
<apex:outputPanel rendered="{!Isvisible}">
<div class="Sidebar">
<apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@desc" >Description</apex:outputLink>
|&nbsp;Case Notes
<apex:outputtext rendered="{!isWrkOrdr}">&nbsp;|&nbsp;</apex:outputtext>
<apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@WorkOrder" rendered="{!isWrkOrdr}">Work Order</apex:outputLink>
<apex:outputtext rendered="{!isRecomndation}">&nbsp;|&nbsp;</apex:outputtext>
<apex:outputLink value="/apex/CpCaseDetail?id={!caseids}@Recommendation" rendered="{!isRecomndation}">Recommendation</apex:outputLink></div>
    <!-- div id="casecommentnew" style="display:{!IF(finalCommentsList.size>0 ,'block','none')}" class="container" -->
        <apex:DataTable value="{!finalCommentsList}" var="index" rendered="{!IF(finalCommentsList.size>0,true,false)}" columnsWidth="10%,65%,25%" columnclasses="casenotecol,casenotecol,casenotecol" style="table-layout: fixed;"  headerClass="headerFormat">
            <apex:column headerValue="Date">
                <apex:outputText value="{!index.createdDate}"/>
            </apex:column>
            <apex:column headerValue="Comment" >
                <!--<apex:outputText value="{!index.comment}"/>-->
                <apex:outputLink value="/apex/CpActivityHistoryDetail?Taskid={!index.objectId}" rendered="{!index.isTask}">{!index.comment}</apex:outputLink>            
                <apex:outputText value="{!index.comment}" rendered="{!!index.isTask}" escape="false"/>
            </apex:column>  
            <apex:column headerValue="Commented By">
                <apex:outputText value="{!index.commentedBy}"/> <!--&nbsp;<apex:outputField value="{!index.comment.CreatedBy.LastName}"/> -->
            </apex:column>
        </apex:DataTable>
    <!--/div-->
    <br/><br/>
<!-- /div -->
<br/><br/>
</apex:outputPanel><br/>
</div>
<div style="position:relative;float: Left;width:69%">
<apex:outputPanel rendered="{!!showPGBln}">
<!--<div class="form-item" style="display:{!IF(Attachments.size>0 ,'block','none')}; width:70%">-->
<div style="display:{!IF(Attachments.size>0 ,'block','none')};">
   <label >Attachments: </label>
    <apex:DataTable value="{!Attachments}" var="attach" >
 
     <apex:column headerValue="Name">
               
                <a href="{!URLFOR($Action.Attachment.Download, attach.Id)}" >{!attach.Name}</a>
            </apex:column>
           
           <apex:column headerValue="Size">
               
                <apex:outputField value="{!attach.BodyLength}"/>
            </apex:column>           
            </apex:DataTable>
          
<br/><br/></div></apex:outputPanel>
</div>
<div id="specmessage"></div>
<br></br><br></br><br></br>
 
 
</div>
</div>
</div></apex:form>
<br/><br/>
</div>
<c:CpFooter ></c:CpFooter> 
<!-- /div --></div>
</apex:page>