<apex:page sidebar="false" showheader="false" standardStylesheets="{!if(shows == 'none',false,true)}" id="myAccountPage" controller="CpMyAccount">
  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
    <title>My account | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" />
   <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
    
    <script type="text/javascript" src="/misc/jquery.js?Z"></script>
<script type="text/javascript" src="/misc/drupal.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/thickbox/thickbox.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/varian/marketingkit/marketingkit.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/views_slideshow/js/jquery.cycle.all.min.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/views_slideshow/contrib/views_slideshow_singleframe/views_slideshow.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/views_slideshow/contrib/views_slideshow_thumbnailhover/views_slideshow.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/views/js/base.js?Z"></script>
<script type="text/javascript" src="/sites/all/modules/views/js/dependent.js?Z"></script>
<script type="text/javascript" src="/sites/all/themes/myvarian4/javascript.js?Z"></script>
<script type="text/javascript"> 
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "thickbox": { "close": "Close", "next": "Next \x3e", "prev": "\x3c Prev", "esc_key": "or Esc Key", "next_close": "Next / Close on last", "image_count": "Image !current of !total" } });
//--><!]]>
</script>
<style>
    #center table tr {
        border-bottom: 0;
    }
    
    #center table td, #center table th {
        border-right: 0;
        }
        
        
ul#list { list-style-type: none; 
padding: 0 0 0 0;
margin: 0 0 0 0;

 }

fieldset#myfdset {
    border: 1px solid #ddd;
   
    }

legend#mylegend {
    font-size: 1.2em;
    }
.listyle
{
color : #6D7B8D;
}
      

</style>
<!-- for community -->
    <script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
        </script>
        <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
        </script>
        <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
        <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
        <script type="text/javascript">
          

    SetupTreeNode.prototype.initializeSetup = function() {
      var openNodes = '';
      if (openNodes != null) {
        SetupTreeNode.prototype.openListSetup = openNodes.split(':');
      }
      SetupTreeNode.prototype.personalSetupV2 = false;
    }

        </script>
        <script>
          try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
    try{DynamicCss.doneLoading()}catch(e){}
        </script>
        
        <link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link>
        <script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
        <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script>
        <script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

    <!-- end here -->
  </head>
  <body>
 <apex:pageMessages />
<!-- Community header -->
    <apex:outputpanel style="display:{!shows}"> 
    <div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
         MyVarian
        </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$label.Org_Domain_URL}">
          Varian Medical Systems Internal
        </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
          {!Usrname}
        </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
          Logout
        </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
          00DM00000013QDl
        </div></div></apex:outputpanel>
    <!-- end here -->
<div id="wrapper">
 
    <c:CpPortalHeader />
         
  <div id="container">
    
 <c:CpPortalSideMenu />
             
            
      <div id="center" class="CenterNoRightSide node-2789 public_page">
        
             
              <div id="sidebar-right" class="sidebar sidebarRight">
              
 
  <!--<div class="content">
    <p>If you do not see information for all the products in your department, please <a href="/contactvarian/subj/12">contact us</a> with the additional product areas needed.</p>
  </div>-->


 
 <!--<div class="content">
    <p>To ensure you receive communication from MyVarian, please add <a href="mailto:MyVarian@varian.com">MyVarian@varian.com</a> to your e-mail Contacts list.</p>
  </div>-->

</div><div id="node-2789" class="node"><div class="centerOneCol"><div id="node-2789" class="node">
         <div class="content" escape="false">
         
        <!-- <p>Please note: You will be required to enter a different username and password for this site, this is NOT your MyVarian login information.<br/>
Certificate Manager allows you to create a personalized account with access to all of the CE certificates you have earned by attending<br/>
selected Varian-sponsored events with approved ASRT/MDCB credits.</p> -->
        <font color="Blue"><b>Now available! Single Sign-on to Certificate Manager</b></font> <br/>
        <p>Take advantage of this time-saving capability and get setup now! To login to Certificate Manager via MyVarian in the future (without having to remember a separate username/password) 
        <br/>update your email address associated you’re your Certificate Manager account so that it matches the email address associated with your MyVarian account.
    <br/><br/>
    To do this: <br/>
    &nbsp; &nbsp; 1.    Go to <a href= "https://webapps.varian.com/certificate/" > https://webapps.varian.com/certificate/ </a> <br/>
    &nbsp; &nbsp; 2.    Login to Certificate Manager (your login information is not your MyVarian information) <br/>
    &nbsp; &nbsp; 3.    Click on the ‘Edit’ button <br/>
    &nbsp; &nbsp; 4.    Update your email address (so that it matches that being used with your MyVarian account) <br/>
    &nbsp; &nbsp; 5.    Scroll down and click on the ‘Save’ button. <br/><br/>
    <b><i>Moving forward, simply login to MyVarian and click on the Certificate Manager menu item to access your certificates! </i></b>
    <br/><br/>
    <font color="Blue"><b>About Certificate Manager</b></font> <br/>
    Certificate Manager allows you to access your Certificates of Attendance for participation at Varian-sponsored training sessions and other educational events. <br/> <br/>
    Certificates are posted to Certificate Manager for the following activities: <br/>
    •   On-Site training workshops approved by the ASRT and MDCB. <br/>
    •   Users Meetings and Webinars approved by the ASRT. <br/>
    •   Clinical and Technical Courses taken at an Education Center (i.e., Las Vegas) <br/>

</p>
 

</div>       
     <form method="post" action="{!$Label.MV_CertificateManger_URL}" target="_blank">
     
<input type="hidden" value="{!$User.email}" name="id" />
<input type="hidden" value="{!$Label.MV_CertificateManger_AccessToken}" name="access_token" />
 <input class="form-submit" type="submit" value="Login to Certificate Manager" /> 
</form>                            
      </div></div> </div> </div><!--  /#center -->
  
          
      
 
    </div> <!-- /container -->
  
  <!-- footer -->
      
      <c:CpFooter ></c:CpFooter> 
  
  <!-- /footer -->
  </div>
<!-- /layout -->
 
  
  </body>
</html>

</apex:page>