<apex:page controller="CPContentSubscription_Ext">
<apex:form >
<apex:pageBlock id="pgblck">
<apex:pageMessages />
<apex:pageBlockSection >
  <apex:outputLabel value="Select Content Library" for="Contentlibrary"/> <!-- for the Content library -->
    <apex:selectList value="{!ProductGroup}" id="Contentlibrary" Multiselect="true" size="5">
  <apex:selectOptions value="{!options}"/>
  </apex:selectList>
  <apex:outputLabel value="Document Type" for="Document_type"/> <!-- for the Document type field in Content -->
    <apex:selectList value="{!Doctype}" id="Document_type" Multiselect="true" size="5">
  <apex:selectOptions value="{!optionsdoc}"/>
  </apex:selectList>
</apex:pageBlockSection>

<apex:pageBlockButtons location="bottom">
<apex:commandButton value="Subscribe" action="{!Subscribe}" rerender="pgblck"/>
</apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>
</apex:page>