<apex:page standardController="ContentVersion" title="Content Details"  extensions="CpContentDetailController" >
<style> tags

.AlignOptFilld span {
float :right;
}
</style> 
   <apex:form >
    <apex:pageblock >
  
        <apex:pageBlockSection title="Content Details"  columns="1" collapsible="false" ></apex:pageBlockSection>
          
           <apex:outputLink value="/sfc/#version/{!currDoc.Id}">Edit</apex:outputLink>
            <table>
        
           <tr ><td style="width: 100px;"></td><td><b >Title</b></td><td><apex:outputtext label="Title" value="{!currDoc.Title}"/></td></tr>
           <tr ><td style="width: 100px;"></td><td><b >Tags</b></td><td><apex:outputtext label="Title" value="{!currDoc.TagCsv}"/></td></tr>
           <tr ><td style="width: 100px;"></td><td><b >Library</b></td><td><apex:outputtext label="Title" value="{!lib}"/></td></tr>
           <tr ><td style="width: 100px;"></td><td><b >Size(bytes)</b></td><td><apex:outputtext label="Title" value="{!currDoc.ContentSize}"/></td></tr> </table>
          <!--  <apex:outputField label="Title" value="{!currDoc.Title}"/>
            <apex:outputField label="Tags" value="{!currDoc.TagCsv}"/>
            <apex:outputText label="Library" value="{!lib}"/>
            <apex:outputText label="Size(bytes)" value="{!currDoc.ContentSize}"/>-->
           
        
   
        <apex:pageBlockSection title="Additional Information" columns="1"  collapsible="false" >  </apex:pageBlockSection>
     <table>
        
        
        
        <tr ><td style="width: 100px;"></td><td><b >Product Version</b></td><td><apex:outputtext value="{!currDoc.Document_Version__c}"  /></td></tr>
        <tr ><td style="width: 100px;"></td><td><b >Document Type </b></td><td> <apex:outputtext value="{!currDoc.Document_Type__c}" /></td></tr>
        <tr ><td style="width: 100px;"></td><td><b >Document Number </b></td><td> <apex:outputtext value="{!currDoc.Document_Number__c}"/></td>  </tr>
         <tr ><td style="width: 100px;"></td><td><b >Document Date </b></td><td> <apex:outputtext value="{0, date, MM'/'dd'/'yyyy}" > <apex:param value="{!currDoc.Date__c}" /> </apex:outputtext></td>  </tr>
         <tr ><td style="width: 100px;"></td><td><b >Multi-Languages </b></td><td> <apex:outputtext value="{!currDoc.Mutli_Languages__c}"/></td>  </tr>
         <tr ><td style="width: 100px;"></td><td><b >Region </b></td><td> <apex:outputtext value="{!currDoc.Region__c}"/></td>  </tr>
         <tr ><td style="width: 100px;"></td><td><b >Newly Created </b></td><td> <apex:outputtext value="{!currDoc.Newly_Created__c}"/></td>  </tr>
         <tr ><td style="width: 100px;"></td><td><b >Recently Updated </b></td><td> <apex:outputtext value="{!currDoc.Recently_Updated__c}"/></td>  </tr>
         <tr ><td style="width: 100px;"></td><td><b >Document Language </b></td><td> <apex:outputtext value="{!currDoc.Document_Language__c}"/></td>  </tr>
        
          </table>
          <!--  <apex:outputField label="Product Version" value="{!currDoc.Document_Version__c}" styleClass="AlignOptFilld" />
            <apex:outputField label="Document Type" value="{!currDoc.Document_Type__c}" styleClass="AlignOptFilld" />
            <apex:outputField label="Document Number" value="{!currDoc.Document_Number__c}" styleClass="AlignOptFilld" />
            <apex:outputField label="Document Date" value="{!currDoc.Date__c}" styleClass="AlignOptFilld" />
            <apex:outputField label="Multi-Languages" value="{!currDoc.Mutli_Languages__c}" styleClass="AlignOptFilld"/>
            <apex:outputField label="Region" value="{!currDoc.Region__c}" styleClass="AlignOptFilld"/>
            <apex:outputField label="Newly Created" value="{!currDoc.Newly_Created__c}" styleClass="AlignOptFilld"/>
            <apex:outputField label="Recently Updated" value="{!currDoc.Recently_Updated__c}" styleClass="AlignOptFilld"/>
            <apex:outputField label="Document Language" value="{!currDoc.Document_Language__c}" styleClass="AlignOptFilld"/> -->
            <!--<apex:outputField label="Parent Documentation" value="{!currDoc.Parent_Documentation__c}"/>-->
            
      
        <apex:pageBlockSection collapsible="false"   title="Associated Child Documents" rendered="{!if(AND(currDoc.Mutli_Languages__c==True,currDoc.Document_Number__c!=null),True,False)}">
          </apex:pageBlockSection><apex:outputPanel id="myPanel" rendered="{!if(AND(currDoc.Mutli_Languages__c==True,currDoc.Document_Number__c!=null),True,False)}" >
        <table >
           <thead >

    <tr  >
    <th style="width: 100px;"></th>
              <th  style="width: 400px;">
         Title </th>
              <th  style="width: 200px;">
          Document Language       </th>
              <th style="width: 200px;">
          Document Number        </th>

          </tr>
  </thead>
 

  <tbody   >
            <apex:Repeat id="DataListId" value="{!childDocs}" var="DocInfo"  >
             <tr  >
                  <td  >
             <apex:outputLink value="/sfc/#version/{!DocInfo.Id}">Edit</apex:outputLink>
                     </td>
                  <td  >            
                   <apex:outputLink value="/apex/cpcontentdetail?id={!DocInfo.Id}">{!DocInfo.Title}</apex:outputLink>               
                 </td>
                  <td  >
               {!DocInfo.Document_Language__c}
               </td>
                  <td >
                 {!DocInfo.Document_Number__c}
                 </td>
          </tr>
            </apex:repeat>
              </tbody>
   
</table>
        </apex:outputPanel>
      
        
    <apex:pageBlockButtons id="page-buttons" >
        <apex:outputLink styleClass="btn" value="/sfc/servlet.shepherd/version/download/{!currDoc.Id}"><h1>Download File</h1></apex:outputLink>
        <apex:commandButton action="{!addChild}" value="Add Child Documents"  rendered="{!if(AND(currDoc.Parent_Documentation__c==null,currDoc.Document_Number__c!=NULL),True,False)}"/>
    </apex:pageBlockButtons>
    </apex:pageblock>
    </apex:form> 
</apex:page>