<apex:page showHeader="false" id="PageId" standardStylesheets="{!if(shows == 'none',false,true)}" sidebar="false" Controller="CpNewCase" >
   <head>
    <title>Create New Case</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>


<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.TableSorter, '/jquery.tablesorter.min.js')}"/>

</head>
<!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>



<!-- end here -->
<apex:outputpanel id="JsPanel">
<script type="text/javascript">
            $(function(){
            $('#dialog_link').click(function(){
                $('<iframe src="https://myvarian.com/sites/all/modules/varian/filterproducts/help/index.html" width="100%" height="100%" frameborder="0" scrolling="yes" style="min-width: 95%;height:100%;"/>').dialog({ modal: true, width: 1200, height: 500});
                return false;
            
            });
            });
     </script>  </apex:outputpanel>
      
       <script type="text/javascript">     
            $(document).ready(function() {
 $("#loginPanelWindow").dialog({
                      autoOpen: false,
                      resizable: false,
                      height:350,
                      //dialogClass: "ui-widget-header",
                      width:550,
                      modal: true,
                      title:"",
                        buttons: {
                        "Cancel": function(){
                          $(this).dialog("close");                          
                        }
                        }
                    });

               $('#loginPanel').click(function () {
                     GetTasksid();
                   $("#loginPanelWindow").dialog("open");
               
               
                });
               });  
      </script>


<style>
.Sidebar-CenterLeft
{
position: relative;
float: Left;
width: 350px;
height: 68px;
}
.Sidebar-CenterRight
{
position: relative;
float: right;
width: 350px;
height : 68px;
}
.container{
    
 
    left: 10px;
    top:10px;
    width: 700px;
    height:200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.containers{
    
 
    left: 10px;
    top:6px;
    width: 500px;
    height:100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.text{
    height: 500px;
}
.left-div {
    float: left;
    margin-right: 8px;
   }
.right-div {
    margin-left: 400px;
    }
</style>
<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$Label.organizationurl}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" title="VMS-amanitri" alt="VMS-amanitri" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->
<div id="wrapper">
<c:CpPortalHeader />
<div id="container">
<c:CpPortalSideMenu />

<apex:form id="innerForm">
<div id="center" class="CenterNoRightSide contactvarian">
<div id="diverr" style="display:none" class="messages error"></div> 
<div id="sidebar-right" class="sidebar sidebarRight">
    <c:CpContactmenu />
</div>
<h3 style="display:{!IF(CreateEdit == true,'block','none')}">Case Number: {!Casenumber}</h3>
<h3 style="display:{!IF(CreateEdit == true,'none','block')}">Create Support Case</h3>
<h7 style="display:{!IF(CreateEdit == true,'none','block')}"><span>Use to report product related issues or request product/application support.</span></h7>
<div class="view-content">
    <br/>
<div class="Sidebar-CenterLeft">
<!--div class="form-item" id="edit-user-name-wrapper">
 <label for="edit-user-name">Name: <span class="form-required" title="This field is required.">*</span></label>
 <apex:outputText value="{!custName}" id="edit-user-name" styleClass="form-text required"/>
 <!-- <input type="text" maxlength="128" name="user_first_name" id="edit-user-first-name" size="60" value="" class="form-text required" /> -->
<!--/div -->
<div class="form-item" id="edit-user-Account-name-wrapper">
 <label for="edit-user-Account-name">Institution Name: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="user_last_name" id="edit-user-last-name" size="60" value="" class="form-text required" /> -->
 <apex:selectList id="edit-user-Account-name" value="{!AcctName}" size="1"  styleClass="form-text required" rendered="{!!CreateEdit}" disabled="{!multipleacc}" style="width:260px;">
                    <apex:selectOptions value="{!AccountList}"/>
         </apex:selectList>
<apex:outputText value="{!AcctName}" id="edit-Account-name" styleClass="form-text required" rendered="{!CreateEdit}"/>
 <!-- <apex:inputText maxlength="128" value="{!AcctName}" size="60" id="edit-user-Account-name" styleClass="form-text required"/> -->
</div>
</div>


<apex:outputpanel id="PrdPanel1">
<div class="Sidebar-CenterRight">
<div class="form-item " id="edit-product-wrapper">

 <label for="edit-product"><apex:image id="theImage" value="{!$Resource.varianhelptext}" width="10" height="10" title="{!$Label.Priority_Help}"/> Priority:
 
 
 </label>
<apex:outputText value="{!Priority}"  rendered="{!CreateEdit}"/>
<apex:selectList id="edit-Priority" value="{!SelPriority}" size="1"   rendered="{!!CreateEdit}">
                    <apex:selectOptions value="{!Priority}"/>
         </apex:selectList>
</div>
</div>
</apex:outputpanel>

<div class="Sidebar-CenterRight">
<!-- Serial Number Field -->
<div class="form-item" id="edit-user-Serial-name-wrapper">
 <label for="edit-user-Serial-name">Serial Number:</label>
 <!-- <input type="text" maxlength="128" name="user_last_name" id="edit-user-last-name" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="128" value="{!SerialName}" size="60" id="edit-user-Serial-name" styleClass="form-text required" style="width:80%"/>
</div>
</div>

<apex:outputpanel id="PrdPanel">
<div class="Sidebar-CenterLeft">
<div class="form-item " id="edit-product-wrapper">
 <label for="edit-product">Product Group: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="user_phone" id="edit-user-phone" size="60" value="" class="form-text required" /> -->
<!-- <apex:inputText maxlength="128" value="{!product}" size="60" id="edit-product" styleClass="form-text required" rendered="{!!CreateEdit}"/> -->
<apex:outputText value="{!product}" id="edit-product-name" styleClass="form-text required" rendered="{!CreateEdit}"/>
<apex:selectList id="edit-product" value="{!product}" size="1"  styleClass="form-text required" rendered="{!!CreateEdit}">
                    <apex:selectOptions value="{!productList}"/>
         </apex:selectList>
</div>
</div>
</apex:outputpanel>
<div class="Sidebar-CenterRight">
<div class="form-item" id="edit-product-version-wrapper">
 <label for="edit-product-version">Product Version: <!--span class="form-required" title="This field is required.">*</span --></label>
 <!-- <input type="text" maxlength="128" name="user_address" id="edit-user-address" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="128" value="{!prodVersion}" size="60" id="edit-product-version" styleClass="form-text required" rendered="{!!CreateEdit}" style="width:80%"/>
 <apex:outputText value="{!prodVersion}" id="edit-version-name" styleClass="form-text required" rendered="{!CreateEdit}"/>
</div>
</div>

<div class="form-item" id="edit-subject-wrapper">
 <label for="edit-subject">Subject: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="user_city" id="edit-user-city" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="1024" value="{!subject}" size="60" id="edit-subject" styleClass="form-text required" rendered="{!!CreateEdit}" style="width:25%"/>
 <apex:outputText value="{!subject}" id="edit-subject-name" styleClass="form-text required" rendered="{!CreateEdit}"/>
</div>
<!--<apex:outputPanel >
<div class="containers"  id="ActHist"  style="display:{!IF(Lsttask!=null,'block','none')}" >

    <apex:DataTable value="{!Lsttask}" var="index"  >
           
           <apex:column headerValue="Activity History">
                
              <a  href="/apex/CpActivityHistoryDetail?Taskid={!index.id}" >{!index.Subject}</a>
            </apex:column>   
             
                 
            </apex:DataTable>
          
<br/><br/></div></apex:outputPanel>-->


<div class="form-item" id="edit-message-wrapper">

<div class="view-header" style="display:{!IF(CreateEdit == true,'block','none')}"> <!--<a class="current" href="/apex/CpCreateUpdateCase?id={!caseId}&type=desc">Description</a>--><apex:outputLink value="/apex/CpCreateUpdateCase?id={!caseid}&type=desc">Description</apex:outputLink><apex:outputLink value="/apex/CpCreateUpdateCase?id={!caseid}&type=Details" rendered="{!isDetail}">&nbsp;|&nbsp;Case Notes</apex:outputLink><apex:outputLink value="/apex/CpCreateUpdateCase?id={!caseid}&type=WorkOrder" rendered="{!isWrkOrdr}">&nbsp;|&nbsp;Work Order</apex:outputLink>  </div>
 <label for="edit-message" style="display:{!IF(CreateEdit == true,'none','block')}">Description:</label>
 
 <div style="width:70%"><span><apex:inputTextarea id="edit-message" rows="30" value="{!description}" disabled="{!CreateEdit}" rendered="{!IsDescvisible}" styleClass="form-textarea resizable required textarea-processed" style="width:70%" richText="true"/></span></div>
 </div>
 <apex:iframe frameborder="true" scrolling="true" src="/apex/CpCaseWorkorderDetailPage?Workid={!WorkorderId}" rendered="{!showPGBln}"  width="50%" height="250px" />
<apex:outputPanel rendered="{!IsWorkordrvisible}" >
<div  class="container" id="WorkOrder" style="display:{!IF(LstWork.size>0 ,'block','none')}" >

    <apex:DataTable value="{!LstWork}" var="index"  >
    
     <apex:column headerValue="Work order #">
     
     <apex:outputLink value="/apex/CpCreateUpdateCase?id={!caseId}&Count={!index.id}" rendered="{!if(index.SVMXC__Order_Status__c=='Closed',true,false)}" >{!index.Name}</apex:outputLink>  
              <apex:outputText value="{!index.Name}" rendered="{!if(index.SVMXC__Order_Status__c!='Closed',true,false)}"/>
                
            </apex:column>
            
           <apex:column headerValue="Date Initiated">
               <apex:outputText value="{0,date,MMM dd', 'yyyy}" style="white-space:nowrap"><apex:Param value="{!index.CreatedDate}" /></apex:outputText>  
              <!-- <apex:outputField value="{!index.CreatedDate}"/>-->
            </apex:column>   
              <apex:column headerValue="Status">
                <apex:outputText value="{!index.SVMXC__Order_Status__c}"/>
                
            </apex:column>  
                <apex:column headerValue="Subject">
                <apex:outputText value="{!index.SVMXC__Problem_Description__c}"/>
                
            </apex:column>  
             
            </apex:DataTable>
         
<br/><br/></div></apex:outputPanel>
<apex:outputPanel rendered="{!Isvisible}"><br/>
    <div  class="container" id="casecommentnew" style="display:{!IF(finalCommentsList.size>0 ,'block','none')}" >
        <apex:DataTable value="{!finalCommentsList}" var="index"  >
            <apex:column headerValue="Date">
                <apex:outputText value="{!index.createdDate}"/>
            </apex:column>
            <apex:column headerValue="Comment">
                <!--<apex:outputText value="{!index.comment}"/>-->
                <apex:outputLink value="/apex/CpActivityHistoryDetail?Taskid={!index.objectId}" rendered="{!index.isTask}">{!index.comment}</apex:outputLink>             
                <apex:outputText value="{!index.comment}" rendered="{!!index.isTask}"/>
            </apex:column>   
            <apex:column headerValue="Commented By">
                <apex:outputText value="{!index.commentedBy}"/> <!--&nbsp;<apex:outputField value="{!index.comment.CreatedBy.LastName}"/> -->
            </apex:column>
        </apex:DataTable>
        <br/><br/>
    </div>
</apex:outputPanel>


<div>
<div class="form-item" id="edit-contact-attach-wrapper">
 <label for="edit-contact-attach">Attachment: </label>
 <!-- <input type="file" name="files[contact_attach]" class="form-file" id="edit-contact-attach" size="60"/> -->
<apex:inputFile styleclass="form-file" id="edit-contact-attach" size="60" value="{!Attachmntfile.Body}" contentType="text/plain; charset=UTF-8" fileName="{!Attachmntfile.Name}" rendered="{!inputfileshow}"/>
<br/> <I><apex:outputText style="color:#027AC6" value="Note:Remove all patient identifying information (i.e. patient name, photo, address, phone number) before submitting."/></I>

</div></div>
<!--<div class="Sidebar-CenterRight">
<!-- CommentInput Field -->
<!--<div class="form-item" id="edit-user-comment-name-wrapper" style="display:{!IF(CreateEdit == true,'block','none')}">
 <label for="edit-user-Comment-name">Case comment:</label>
 <apex:inputTextarea rows="2" value="{!CommentInput}"  id="edit-user-Comment-name" styleClass="form-text required" style="width:80%"/>

</div>
</div>-->



<apex:actionRegion > 
<div id="specmessage"></div>

<apex:commandButton id="edit-Reopen" value="Reopen"  onclick="validateData();" styleClass="form-submit" rerender="theMsg" rendered="{!ReopenCase}"/>
<apex:commandButton id="edit-Submit" value="Submit"  onclick="validateData();" styleClass="form-submit" rerender="theMsg" rendered="{!CreateEdit}"/>
<apex:commandButton id="edit-SubmitNew" value="Submit"  onclick="validateNewData();" styleClass="form-submit" rerender="theMsg"  rendered="{!!CreateEdit}"/>
<apex:commandButton id="edit-cancel" value="Cancel"  action="{!cancelCreation}" styleClass="form-submit" />
</apex:actionRegion>
</div>

<span class="clear"></span>
 
<apex:actionFunction action="{!saveCase}" name="saveCase"/>
<apex:actionFunction action="{!cancelCreation}" name="cancelCreation" />
<apex:actionfunction name="productselect" rerender="ContactPanel"/>
</div>
</apex:form>
<!-- For login popup 
    <div id='loginPanelWindow' style='display:none;'>
            <apex:form >
            <apex:outputpanel id="loginPanel1">
            
                <apex:repeat value="{!Lsttaskids}" var="index">
              Subject:  {!index.Subject}
                </apex:repeat>
           
          
            </apex:outputPanel>
 
           </apex:form>
        </div>-->

<script type="text/javascript">  

 function reLoadPanel()
 {
    productselect();
 }
function validateData()
{
    saveCase();
}
function validateNewData()
{
    var i = 0;
    var errorMessage="";
   
    if(document.getElementById('PageId:innerForm:edit-user-Account-name').value  =='--Any--')
    {
        document.getElementById('PageId:innerForm:edit-user-Account-name').className= "form-text required error";
        errorMessage=errorMessage+"<span>" + "Account Name field is required."+"</span><BR/>";
        i=1;
    }
    else
    {
        document.getElementById('PageId:innerForm:edit-user-Account-name').className= "form-text required";
    }

    
    
    if(document.getElementById('PageId:innerForm:edit-product').value  =='')
    {
        document.getElementById('PageId:innerForm:edit-product').className= "form-text required error";
        errorMessage=errorMessage+"<span>" + "Product field is required"+"</span><BR/>";
        i=1;
    }
    else
    {
        document.getElementById('PageId:innerForm:edit-product').className= "form-text required";
    }
    /*
    if(document.getElementById('PageId:innerForm:edit-product-version').value  =='')
    {
        document.getElementById('PageId:innerForm:edit-product-version').className= "form-text required error";
        errorMessage=errorMessage+"<span>" + "Product Version field is required"+"</span><BR/>";
        i=1;
    }
    else
    {
        document.getElementById('PageId:innerForm:edit-product-version').className= "form-text required";
    } */
    
    if(document.getElementById('PageId:innerForm:edit-subject').value  =='')
    {
        document.getElementById('PageId:innerForm:edit-subject').className= "form-text required error";
        errorMessage=errorMessage+"<span>" + "Subject field is required."+"</span><BR/>";
        i=1;
    }
    else
    {
        document.getElementById('PageId:innerForm:edit-subject').className= "form-text required";
    }
    if(i ==0)
    { 
    document.getElementById('diverr').style.display='none';
    saveCase();
    }
    else if(i == 1)
    {
    document.getElementById('diverr').style.display='block';
    document.getElementById('diverr').innerHTML =errorMessage;
    }
}

function cancel()
{
    //window.open('/apex/CpCasePage','_self')
    cancelCreation();
}

</script>
</div> 
</div>
</apex:page>