<apex:page controller="CpCreateContentController"  >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    
  </head> 
  <body>

    <div id="center" class="CenterNoRightSide node-add ">
        <p> <h1 class="Createcontent"  style="font-size: 200%;
    font-weight: normal !important;
    margin-bottom: 20px;">Create content</h1>   </p>                
            <div class="centerOneCol">    
                <dl class="node-type-list"><!--<a href="/node/add/banner-role" title="This banner will be seen by selected product only">Banner - by Product</a></dt><dd>This banner will be seen by selected product only</dd><dt><a href="/node/add/banner" title="An image to display in banner area.">Banner</a></dt><dd>An image to display in banner area.</dd><dt><a href="/node/add/document" title="Document Library">Document</a></dt><dd>Document Library</dd><dt><a href="/node/add/doclist">Documents List</a></dt><dd></dd><dt><a href="/node/add/employee" title="This type of node will be available only to __Employee role">Employee&#039;s Page</a></dt><dd>This type of node will be available only to __Employee role</dd><dt><a href="/node/add/events" title="Varian Events">Events</a></dt><dd>Varian Events</dd><dt><a href="/node/add/government" title="Posts for Government Affairs Corner except webinars.">Government Affairs</a></dt><dd>Posts for Government Affairs Corner except webinars.</dd><dt><a href="/node/add/institution">Institution</a></dt><dd></dd><dt><a href="/node/add/marketing-kit" title="Document or file for Marketing kit">Marketing Kit</a></dt><dd>Document or file for Marketing kit</dd><dt><a href="/node/add/message" title="This type will be used for posting content to Message Center">Message</a></dt><dd>This type will be used for posting content to Message Center</dd><dt><a href="/node/add/montecarlo" title="Download files for Monte Carlo Project">Monte Carlo</a></dt><dd>Download files for Monte Carlo Project</dd><dt><a href="/node/add/page" title="If you want to add a static page, like a contact page or an about page, use a page.">Page</a></dt><dd>If you want to add a static page, like a contact page or an about page, use a page.</dd><dt><a href="/node/add/poll" title="A poll is a multiple-choice question which visitors can vote on.">Poll</a></dt><dd>A poll is a multiple-choice question which visitors can vote on.</dd><dt><a href="/node/add/presentationspublic" title="This type will be available for none logged in users">Presentations - Public</a></dt><dd>This type will be available for none logged in users</dd><dt><a href="/node/add/presentations">Presentations</a></dt><dd></dd><dt><a href="/node/add/public-page" title="This type of documents will be available to unregistered visitors.">Public Page</a></dt><dd>This type of documents will be available to unregistered visitors.</dd><dt><a href="/node/add/special-page" title="This page will be serving as a content holder for modules. (ie. Help files, License Agreements, etc.)">SP</a></dt><dd>This page will be serving as a content holder for modules. (ie. Help files, License Agreements, etc.)</dd><dt><a href="/node/add/story" title="Stories are articles in their simplest form: they have a title, a teaser and a body, but can be extended by other modules. The teaser is part of the body too. Stories may be used as a personal blog or for news articles.">Story</a></dt><dd>Stories are articles in their simplest form: they have a title, a teaser and a body, but can be extended by other modules. The teaser is part of the body too. Stories may be used as a personal blog or for news articles.</dd><dt><a href="/node/add/tbdev" title="TrueBeam Developer Mode files">TB Developer Mode</a></dt><dd>TrueBeam Developer Mode files</dd><dt><a href="/node/add/techhepldesk" title="Content pages for Tech Help Desk">Tech Help Desk</a></dt><dd>Content pages for Tech Help Desk</dd><dt><a href="/a0U/o">Training Course</a></dt><dd></dd><dt><a href="/node/add/webinar-private" title="This webinars are access restricted by product taxonamy">Webinar Private</a></dt><dd>This webinars are access restricted by product taxonamy</dd><dt><a href="/node/add/webinars">Webinars</a></dt><dd></dd>--></dl>                  <span class="clear"></span>
                
                <apex:form >
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Banner - by Product" title="This banner will be seen by selected product only" action="{!SObjectBanner}" style="color: #027AC6; text-decoration: underline "/></p>
                                                     
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> This banner will be seen by selected product only </dd></p>
                            
                        </dt>
                    </dd>
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Banner" title="An image to display in banner area." action="{!SObjectBanner}"  style="color: #027AC6; text-decoration: underline "/></P>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> An image to display in banner area. </dd></p>
                            
                        </dt>
                    </dd>
                    
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Document" title="Document Library" action="{!SObjectContent}" style="color: #027AC6; text-decoration: underline" /></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> Document Library </dd></p>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Documents List"  action="{!SObjectDocumentList}" style="color: #027AC6; text-decoration: underline"/></p>
                            <dd></dd>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Events" title="Varian Events" action="{!SObjectEvent}" style="color: #027AC6; text-decoration: underline" /></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> Varian Events </dd></p>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                      <!--      <p><apex:commandLink value="Government Affairs" title="Posts for Government Affairs Corner except webinars." action="{!SObjectGvtAffair}" style="color: #027AC6; text-decoration: underline" /></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> Posts for Government Affairs Corner except webinars. </dd></p>-->
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Institution"  action="{!SObjectInstitution}" style="color: #027AC6; text-decoration: underline" /></p>
                            <dd></dd>
                           
                        </dt>
                    </dd>
                    
                  <dd>
                        <dt>
                            <p><apex:commandLink value="Marketing Kit" title="Document or file for Marketing kit" action="{!SobjectMarketingKitContent}" style="color: #027AC6; text-decoration: underline"/></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> Document or file for Marketing kit </dd></p>
                            
                        </dt>
                    </dd> 
                    
                    <dd>
                        <dt>
                           <p> <apex:commandLink value="Message" title="This type will be used for posting content to Message Center" action="{!SObjectMessageCenter}" style="color: #027AC6; text-decoration: underline" /></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> This type will be used for posting content to Message Center </dd></p>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Monte Carlo" title="Download files for Monte Carlo Project" action="{!SObjectMonteCarlo}" style="color: #027AC6; text-decoration: underline"/></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> Download files for Monte Carlo Project </dd> </p>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Presentations" action="{!SObjectPresentations}" style="color: #027AC6; text-decoration: underline" /></p>
                            <dd></dd>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="TB Developer Mode" title="TrueBeam Developer Mode files" action="{!SObjectTBDevloper}" style="color: #027AC6; text-decoration: underline" /></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> TrueBeam Developer Mode files </dd></p>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Tech Help Desk" title="Content pages for Tech Help Desk" action="{!SObjectTechHelp}" style="color: #027AC6; text-decoration: underline" /></p>
                            <p><dd style="font-weight: bold; margin: 0 0 10px 10px;"> Content pages for Tech Help Desk </dd></p>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Training Course" action="{!SObjectTraining}" style="color: #027AC6; text-decoration: underline" /></p>
                            <dd></dd>
                            
                        </dt>
                    </dd>
                    
                    <dd>
                        <dt>
                            <p><apex:commandLink value="Webinars" action="{!SObjectEvent}" style="color: #027AC6; text-decoration: underline"/></p>
                            <dd></dd>
                            
                        </dt>
                    </dd>
                    
                    
                    
                </apex:form>
            </div>
    </div> <!--  /#center -->


  </body>
</html>

</apex:page>