<!-- 
/*************************************************************************\
    @ Author        : Balraj Singh
    @ Date      : 26-Apr-2013
    @ Description   : This page is used to register for Events.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/

-->
<apex:page id="thePage" showHeader="false" standardStylesheets="{!if(shows=='none',false,true)}" sidebar="false" controller="CPEventRegister">

<head>
    <title>Registration Page | MyVarian</title>
    

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
    

</head>

<!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

<!-- end here -->

<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$Label.organizationurl}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->

 <body>
 
 <div id="wrapper">
     <c:CpHeader rendered="{!isGuest}"/>
     <c:CpPortalHeader rendered="{!!isGuest}"/>   
      <!-- /topToolBar -->   
 <div id="container"> 
     <c:CpSideMenu rendered="{!isGuest}"/>
            <c:CpPortalSideMenu rendered="{!!isGuest}"/> 
          <!-- /sideMenu -->
 
 <apex:outputPanel style="height:10px;" id="theMsg">  
   <font color="red"> <apex:messages styleClass="errorMsg" id="Msg"  /> </font>    
</apex:outputPanel>

 <apex:form id="innerForm">
 <apex:actionFunction Name="cust_Info" action="{!eventSubmit}"  />
 
 <div id="center" class="CenterNoRightSide eventreg">
                    
            
                    <h1 class="RegistrationPage">Registration Page</h1>         
            <div class="centerOneCol">  
                <div id="diverr" style="display:none" class="messages error"> </div> 
                    <div class="messages status" style="display:{!IF(dspMsg == 'true','block','none')};">
  
   <apex:outputText value="{!confirmerror}" ></apex:outputText> 
   
   </div>  
        
                      
              <p><strong>Register for '<a href="{!EvntLanpageurl}">{!EvntName}</a>'.</strong></p><form action="/eventreg/14466"  accept-charset="UTF-8" method="post" id="eventregistration">
<p><strong>PHYSICIANS ONLY: Please enter your NPI #: </strong></p>              
<div><input type="hidden" name="nid" id="edit-nid" value="14466"  />
<input type="hidden" name="uid" id="edit-uid" value="0"  />
<!-- commented by Raj
<div class="form-item" id="edit-user-first-name-wrapper">
 <label for="edit-user-first-name">Medical License:<span class="form-required" title="This field is required."></span></label>
 <apex:inputText maxlength="128" value="{!CustLicense}" size="60" id="edit-user-first-name" styleClass="form-text required"/> -->
 <!-- <input type="text" maxlength="128" name="user_first_name" id="edit-user-first-name" size="60" value="" class="form-text required" /> -->
 
<!-- </div> -->
<!--<div class="form-item" id="edit-profile-FMV-wrapper">-->
<!--<label for="edit-profile-FMV">Event Meal FMV: <span class="form-required" title="This field is required."></span>&nbsp;&nbsp; <apex:outputText value="{!FMV}" ></apex:outputText> </label>-->
 
<!--<apex:inputText maxlength="55" value="{!FMV}"  size="60" id="edit-profile-FMV" styleClass="form-text required"/>-->
<!--</div><p>Estimated Fair Market Value(FMV)for the meeting meals for this event</p>-->

<!-- Commented by Raj
<div class="form-item" id="edit-user-last-name-wrapper">
 <label for="edit-user-last-name">State ID#:<span class="form-required" title="This field is required."></span></label>
 <!-- <input type="text" maxlength="128" name="user_last_name" id="edit-user-last-name" size="60" value="" class="form-text required" /> -->
 <!--<apex:inputText maxlength="128" value="{!StateId }" size="60" id="edit-user-last-name" styleClass="form-text required"/>
</div> -->
<div class="form-item" id="edit-user-title-wrapper">
 <label for="edit-user-title"> <span class="form-required" title="This field is required."></span></label>
 <!-- <input type="text" maxlength="128" name="user_title" id="edit-user-title" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="128" value="{!CustNPI}" size="60" id="edit-user-last-title" styleClass="form-text required"/>
</div>

<!--
<div class="form-item" id="edit-user-mdlicense-wrapper">
 <label for="edit-user-mdlicense">License#: </label> -->
 <!-- <input type="text" maxlength="128" name="user_mdlicense" id="edit-user-mdlicense" size="60" value="" class="form-text" /> -->
<!-- <apex:inputText maxlength="128" value="{!CustLicenseTp}" size="60" id="edit-user-mdlicense" styleClass="form-text"/>
</div> -->
<apex:outputPanel rendered="{!disables}"><fieldset>
<legend><label for="edit-user-arrt"><strong><p style="color:rgb(81, 98, 111)">ARRT/MDCB number (if interested in receiving credits)</p></strong></label></legend>
<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">ARRT: <span class="form-required" title="This field is required."></span></label>
 <apex:inputText maxlength="55" value="{!EvntASRT}" disabled="{!!disables}" size="60" id="edit-ASRT_Id" styleClass="form-text required"/> 
</div>

<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">MDCB: <span class="form-required" title="This field is required."></span></label>
 <apex:inputText maxlength="55" value="{!EvntMDCB}" disabled="{!!disables}" size="60" id="edit-MDCB_Id" styleClass="form-text required"/> 
</div>
<p>Note: If you do not have your ARRT/MDCB number, please bring to event. You will need your ARRT/MDCB in order to receive credit for this event.</p>
</fieldset></apex:outputPanel>

<div>
<p>There is no registration fee to attend this event. However, federal regulations require that Varian Medical Systems collect information about U.S.-licensed medical doctors who accept business meals. Varian is unable to offer food and beverages to government employees and Vermont Health Care Professionals but eligible attendees will be offered the option to purchase meals. If your local government or specific employer has policies or laws surrounding the consumption of meals, we ask that you honor them. </p> </div>
 <div class="form-item" id="edit-profile-Meal-wrapper">
 <label for="edit-profile-Meal">Select Meal Option: <span class="form-required" title="This field is required.">*</span></label>
        <apex:selectList styleclass="form-select required" id="edit-profile-Meal" value="{!Meals}" size="1">
            <apex:selectOptions value="{!Mealoption}"></apex:selectOptions>               
        </apex:selectList>
</div><p>*Check or Cash Payments will be accepted on-site</p>
<div id="specmessage"></div>
<apex:commandButton id="edit-submit" value="Submit" onclick="getcust_Info(); return false;"  styleClass="form-submit" rerender="theMsg" />
<!-- <input type="submit" name="op" id="edit-submit" value="Submit"  class="form-submit" /> -->
<!-- <input type="hidden" name="form_build_id" id="form-72e932333ec87f9cd3781720a4c4354e" value="form-72e932333ec87f9cd3781720a4c4354e"  />
<input type="hidden" name="form_id" id="edit-eventregistration" value="eventregistration"  /> -->

</div></form>
        <span class="clear"></span>
            </div>
          
      </div> <!--  /#center -->
 
 </apex:form>
 
    
    </div>
     <!-- footer -->
    <c:CpFooter ></c:CpFooter>  
     <!-- footer --> 
  </div>
<!-- /layout -->
 <script type="text/javascript">   
 function getcust_Info()
 {
 var i = 0;
var errorMessage="";
if(document.getElementById('thePage:innerForm:edit-profile-Meal').value  =='Select...')
{

document.getElementById('thePage:innerForm:edit-profile-Meal').className= "form-text required error";
errorMessage="<span>" + "Meal option is required field"+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('thePage:innerForm:edit-profile-Meal').className= "form-text required";
}

if(i ==0)
{ 
document.getElementById('diverr').style.display='none';
cust_Info(); 
 
 
}
else if(i == 1)
{
document.getElementById('diverr').style.display='block';

document.getElementById('diverr').innerHTML =errorMessage;

}
   /* if(document.getElementById('thePage:innerForm:edit-user-first-name').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-last-name').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-last-title').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-institution').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-address').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-city').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-state').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-zip').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-phone').value.trim() == '' || document.getElementById('thePage:innerForm:edit-user-mail').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-country').value.trim() == '')
    {
        alert('FirstName, LastName, Title, Email, Institute Name, Address, City, State, Country, Phone, ZipCode are required fields');
    }
    else
    {
        cust_Info();    
        
    }
    return false;*/
 }
 function onComp()
 {
        alert('You have successfully registered for {!EvntName} Event');
        //alert("{!isGuest}");
        if('{!isGuest}' == true || '{!isGuest}' == 'true'){
            window.open('/apex/CpMyVarianHomePage','_self');
        }else{
            window.open('/apex/CpHomePage','_self');
        }
 }
function checkEmail(email) 
{
    //var email = document.getElementById('thePage:innerForm:edit-mail');
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (!filter.test(email.value)) {
    alert('Please provide a valid Email address');
    email.focus;
    return false;
    }
}   
    
</script>  
 </body>
 
</apex:page>