<!-- 
/*************************************************************************\
    @ Author        : Anupam Tripathi
    @ Date      : 18-Apr-2013
    @ Description   : This page is used to display Summary of a selected Webinar.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/

-->
<apex:page showHeader="false" sidebar="false" controller="CPEventRegister" standardStylesheets="{!if(shows=='none',false,true)}">
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
    <title>{!featEventSumm.Title__c} | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" />
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<!--<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css" style="display:{!If((shows=='none'), 'none', 'none')}" />-->

   
  </head>
  <!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

<!-- end here -->

<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$Label.organizationurl}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->
  
  
  <body>

<div id="wrapper">

    <c:CpHeader rendered="{!isGuest}"/>
    <c:CpPortalHeader rendered="{!!isGuest}"/>
      
    <div id="container">

              <c:CpSideMenu rendered="{!isGuest}"/>
              <c:CpPortalSideMenu rendered="{!!isGuest}"/>
          <apex:image value="{!strBanner}" alt="Oncology Users Meeting"  style="margin-bottom:20px;" rendered="{!IF(strBanner=='', false, true)}"/>
      <div id="center" class="CenterNoRightSide events">
              
            <!--Title-->
                    <h1 class="14826">{!featEventSumm.Title__c}</h1>         
            <div class="centerOneCol">  
      
<div id="node-14826" class="node">

 <div class="field field-type-datetime field-field-event-date">
    <br></br> 
      <!--<div class="field-label">Date:&nbsp;</div>-->
    <div class="field-items">
            <div class="views-field-field-event-date-value">
              <span class="field-content"><span class="date-display-single"> <apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!featEventSumm.From_Date__c}" /></apex:OutputText>
                <!-- Added by harshita -->
                  <apex:OutputText rendered="{!if(OR(featEventSumm.To_Date__c == featEventSumm.From_Date__c,featEventSumm.To_Date__c ==null,featEventSumm.From_Date__c ==null),'false','true')}">&nbsp;-&nbsp; </apex:outputText><apex:OutputText rendered="{!if(featEventSumm.To_Date__c == featEventSumm.From_Date__c,'false','true')}" value="{0,date,MMM' 'dd', 'yyyy}" ><apex:Param value="{!featEventSumm.To_Date__c}" /></apex:OutputText>
                <!-- <font size="3"><apex:OutputText rendered="{!if(OR(featEventSumm.To_Date__c == featEventSumm.From_Date__c,featEventSumm.To_Date__c ==null,featEventSumm.From_Date__c ==null),'false','true')}">&nbsp;-&nbsp; </apex:outputText><apex:OutputText rendered="{!if(featEventSumm.To_Date__c == featEventSumm.From_Date__c,'false','true')}" value="{0,date,MMM' 'dd', 'yyyy}" ><apex:Param value="{!featEventSumm.To_Date__c}" /></apex:OutputText></font>-->
                <!-- Code finished -->
                </span></span>
            </div>
</div>
</div>

 
    <div class="field field-type-text field-field-institution">
     <!-- <div class="field-label">Location:&nbsp;</div>-->
    <div class="field-items">
            <div class="field-item odd"><!--Institution-->
                {!featEventSumm.Location__c}    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <apex:outputPanel rendered="{!if(AND(featEventSumm.Needs_MyVarian_registration__c==true,featEventSumm.Registration_is_closed_for_event__c==false,strBanner!=''),true,false)}">
      <a href="/apex/CPEventRegister?evnt={!featEventSumm.Id}"  style="text-decoration:none !important;" class="form-submit">Register</a>
      </apex:outputPanel>   </div>
              
        </div>
</div>
    
    <br></br>
    <br></br>    
    <apex:outputPanel Styleclass="field field-type-number-integer field-field-machine-date" rendered="{!if(OR(featEventSumm.Description__c!='',featEventSumm.Description__c!='<br>') ,true,false)}">
        <div class="field-label" style="display:{!if(featEventSumm.Description__c != '','none','block')}"></div><div class="field-items"><div class="field-item">
           <apex:outputText value="{!featEventSumm.Description__c}" escape="false" />
        </div></div>
    </apex:outputPanel>
        
      </div>
      <apex:outputPanel rendered="{!if(AND(featEventSumm.Needs_MyVarian_registration__c==true,featEventSumm.Registration_is_closed_for_event__c==false,strBanner==''),true,false)}">
      <a href="/apex/CPEventRegister?evnt={!featEventSumm.Id}"  style="text-decoration:none !important;" class="form-submit">Register</a>
      </apex:outputPanel>
      <br></br>
      <apex:outputLabel rendered="{!if(AND(featEventSumm.Needs_MyVarian_registration__c==true,featEventSumm.Registration_is_closed_for_event__c==true),true,false)}"><font color="#027AC6" Size="4"><i><b>Registration is now closed.</b></i></font></apex:outputLabel> 

       
    <!-- <apex:outputLink value="/apex/CPEventRegister?evnt={!featEventSumm.Id}" style="text-decoration:none !important;" rendered="{!if(AND(featEventSumm.Needs_MyVarian_registration__c==true,featEventSumm.Registration_is_closed_for_event__c==false),true,false)}">Register </apex:outputLink> -->
    <!-- <apex:outputLink value="{!if(featEventSumm.URL__c!='',featEventSumm.URL__c,'#')}" style="text-decoration:none !important;"  rendered="{!if(AND(featEventSumm.Needs_MyVarian_registration__c==false,featEventSumm.Registration_is_closed_for_event__c==false,featEventSumm.URL__c!=''),true,false)}" target="_blank">Register</apex:outputLink> -->
    <!-- <a href="/apex/CPEventRegister?evnt={!featEventSumm.Id}"  style="text-decoration:none !important;" class="form-submit">Register</a>-->
       <div class="form-item" id="edit-files-14134-description-wrapper">
           <apex:outputPanel rendered="{!attachvis}">  <h3>Event Information</h3></apex:outputPanel>
            <ul>
                <apex:repeat value="{!featEventSumm.Attachments}" var="attach" >
                <li><strong> <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attach.Id)}" target="_blank">{!LEFT(attach.name,(FIND('.', attach.name) - 1))}</apex:outputLink></strong></li>
                <!-- <li><strong><a href="https://my.varian.com/system/files/ActivePatientPortal_ProductBrief_RAD10123A_Feb2012.pdf">Active Patient Portal Overview</a></strong></li> -->
                </apex:repeat>
            </ul>
            
         
        </div>
 <apex:outputPanel rendered="{!attachPresVis}"> <h3 >Presentations </h3><span style="color:#f00; display:{!if(isGuest == true, 'Block', 'None')}">(access to presentations requires login)</span></apex:outputPanel>
        <apex:repeat value="{!presentations}" var="pre">    
     
        <ul><li>
        <apex:repeat value="{!pre.attachments}" var="Apr">     
          
          <strong> <apex:outputLink value="{!URLFOR($Action.Attachment.Download, Apr.Id)}" target="_blank" rendered="{!!isGuest}">{!pre.Title__c} </apex:outputLink></strong>
          <strong> <apex:outputLink value="/apex/cpAccessDenied?startURL=CpEventPresList&prdnameurl={!featEventSumm.Id}" rendered="{!isGuest}">{!pre.Title__c} </apex:outputLink></strong><br />
        </apex:repeat>
                <em>{!pre.Speaker__c}</em><br />
                {!pre.Institution__c}
            </li>
        </ul>
        </apex:repeat>
 
    
 
</div>            <span class="clear"></span>
            </div>
          
      </div> <!--  /#center -->

          
      

    </div> <!-- /container -->
  
  <!-- footer -->
  <div id="wrapper">
        <c:CpFooter />
  </div>
  <!-- /footer -->
  
<!-- /layout -->

  

  </body>
</html>


</apex:page>