<!--*************************************************************************
    @ Author        : Anupam Tripathi
    @ Date      : 27-May-2013
    @ Description   : This page is used to display phantom
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************-->

<apex:page id="thePage" showHeader="false" standardStylesheets="false" sidebar="false" controller="cpLungPhantom" >

<head>
    <title>Lung phantom | MyVarian</title>
    
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>

<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
    

</head>
 <apex:outputPanel id="RCPanel1">
<script type="text/javascript">
//var j$ = jQuery.noConflict();

$(document).ready(function() {

 $( '[id$=datepickerFrom]' ).datepicker({ dateFormat: 'mm/dd/yy' });

});


</script>
 </apex:outputPanel>
<body onload="newTab({!$CurrentPage.parameters.cid}); return false;">
 
 <div id="wrapper">
   
    <c:CpPortalHeader />     
 <div id="container"> 
    
    <c:CpPortalSideMenu /> 
 
 <div id="center" class="CenterNoRightSide LUNGPHTBANNR">  
                            
    <div class="centerOneCol">
                   <!--Thank you for your commitment to providing patients with the best radiation care available. Varian has partnered with MD Anderson Dosimetry Laboratory (MDADL) to provide you access to an end-to-end QA check using the Radiological Physics Center (RPC) lung phantom. This one-time service (per eligible purchased package) is provided to you at no charge. Test results are confidential between each participating institution and MDADL. Redeeming your voucher will alert MDADL of your eligibility to receive the RPC lung phantom. MDADL will ship the phantom once the alert is received. For questions about the RPC Lung Phantom shipment contact MDADL via e-mail at <a href='mdadl@mdanderson.org'> mdadl@mdanderson.org </a> or via phone at 713.745.8989.-->
                   Varian has partnered with MD Anderson Dosimetry Laboratory (MDADL) to provide you access to an end-to-end QA check using the Radiological Physics Center (RPC) lung phantom. This one-time service (per eligible purchased package) is provided to you at no charge. Test results are confidential between each participating institution and MDADL. Redeeming your voucher will alert MDADL to ship you the RPC lung phantom. For questions about the RPC Lung Phantom shipment contact MDADL via e-mail at <a href='mailto:mdadl@mdanderson.org'> mdadl@mdanderson.org </a> or via phone at 713.745.8989.
       
     </div>                            
     
     <br/>
                         
   <apex:outputPanel id="RCPanel">
 
    <apex:form >    
       <apex:actionFunction Name="confirmandredeem" action="{!confirmPopup}" rerender="r,Reload,Reload2,RCPanel1,mySaveStatus"  >
       <apex:param name="voccidparam" value="" />
       </apex:actionFunction>
      <div id="upcomingEvents">
        
        
        <div class="centerTwoCol">  
        <div class="view view-Events view-id-Events view-display-id-page_1 view-dom-id-1">
       <!-- <div class="view-header"> <a class="current" href="#">Voucher</a> | <a href="" onClick="newTab(1); return false;">Phantom</a>  </div> -->
        
        <ul class="tabs primary">
            <li id="aveiw"  ><a class="current" href="#">Voucher</a></li>
            <li id="aedit"><a href="" onClick="newTab(1); return false;">Phantom</a></li>
            
        </ul>
        
        <div class="view-content">
       
         <BR></BR>
        <B>Click on the corresponding Voucher ID listed below to redeem your voucher. Then complete the Lung Phantom Request form to communicate shipping information to the MDADL.</B>
        <BR></BR><BR></BR>
        <apex:outputpanel id="Reload">
        <apex:datatable value="{!lLPHRec}" var="r" >
        
            <apex:column >
                <apex:facet name="header">Voucher ID</apex:facet>
                <apex:outputPanel rendered="{!r.Redeemed_By__c == ''}">     
                   <!--<a href="#" onclick="getpopup(); return false;" id="vocid" alt= "{!r.id}">{!r.Voucher_ID__c} </a>-->
                   <a href="#"  onclick="confirmandredeems('{!r.id}'); return false;" id="vocid" alt= "{!r.id}" target="_blank">{!r.Voucher_ID__c} </a>

                   </apex:outputPanel>
                   <!-- <apex:param assignTo="{!VoucherID}" id="vid" name="vid" value="{!r.id}" />-->
                <!-- <apex:outputText rendered="{!r.Redeemed_By__c != ''}" >{!r.Voucher_ID__c}</apex:outputText>-->
                  <apex:outputlink rendered="{!r.Redeemed_By__c != ''}" value="http://rpc.mdanderson.org/mdadl/Varian_Phantom_Request.aspx" target="_blank" >{!r.Voucher_ID__c}</apex:outputlink>
            </apex:column>
            <apex:column style="white-space:nowrap;">
                <apex:facet name="header">Expiration Date</apex:facet>
                <apex:outputText value="{0,date,MMMM' 'dd', 'yyyy}"><apex:param value="{!r.Expiration_Date_Ends__c}" /></apex:outputText>    
                
            </apex:column>
            <apex:column style="white-space:nowrap;">
                <apex:facet name="header">Product</apex:facet>
                <!-- {!r.Installed_Product__r.name}-->
                {!r.Serial_Lot_Number__c}
                
            </apex:column>
             <apex:column style="white-space:nowrap;">
                <apex:facet name="header">Installed Product Name</apex:facet>
                {!r.Product_Name__c}
             </apex:column>

            <apex:column >
                <apex:facet name="header">Date Redeemed</apex:facet>
            <apex:outputText value="{0,date,MMMM' 'dd', 'yyyy}"><apex:param value="{!r.Date_Redeemed__c}" /></apex:outputText> 
                
            </apex:column>
            <apex:column style="white-space:nowrap;">
                <apex:facet name="header">Redeemed By</apex:facet>
                {!r.Redeemed_By__c}
            </apex:column>
            
        </apex:datatable>
     </apex:outputpanel>
        
        
        
        </div>
        
        </div>
        </div>
         <br/><br/>
        </div>  <!--- upcomingEvents ---->
        
       
        
        <div id="RecentEvents"> 
        

        <div class="centerTwoCol">  
        <div class="view view-Events view-id-Events view-display-id-page_2 view-dom-id-1">
       <!-- <div class="view-header"> <a href="" onClick="newTab(2); return false;">Voucher</a> | <a class="current" href="#">Phantom</a>  </div> -->
        <ul class="tabs primary">
            <li id="aveiw"  ><a href="" onClick="newTab(2); return false;">Voucher</a></li>
            <li id="aedit"><a class="current" href="#">Phantom</a></li>
            
        </ul>
        <div class="view-content">
        <div class="item-list">
        <BR></BR>
        <B>Please document corresponding phantom receipt date below.</B>
        <BR></BR><BR></BR>
        <apex:outputpanel id="Reload2">
        <apex:datatable value="{!lLPHRec}" var="r">
            <apex:column >
                <apex:facet name="header">Voucher ID</apex:facet>
                 <apex:outputText >{!r.Voucher_ID__c}</apex:outputText>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Date Phantom Received</apex:facet>
                   <apex:inputField value="{!r.Date_Received__c}" id="datepickerFrom" rendered="{!r.Redeemed_By__c != ''}" />
                  <!-- <apex:inputText value="{!r.Date_Received__c}" id="datepickerFrom"  rendered="{!r.Redeemed_By__c == ''}"  disabled="{!r.Redeemed_By__c == ''}"/> 
                   <apex:inputText ></apex:inputText> -->

            </apex:column>
            <apex:column >
                <apex:facet name="header">Date Exposed Phantom Received by MDADL </apex:facet>
         <apex:outputText value="{0,date,MMMM' 'dd', 'yyyy}"><apex:param value="{!r.Date_Exposed_Phantom_Received_by_MDADL__c}" /></apex:outputText> 

            </apex:column>
            
            <apex:column >
                <apex:facet name="header">Date Results Reported by MDADL</apex:facet>
         <apex:outputText value="{0,date,MMMM' 'dd', 'yyyy}"><apex:param value="{!r.Date_Results_Reported_by_MDADL__c}" /></apex:outputText> 
            </apex:column>
            
        </apex:datatable></apex:outputpanel><br/>
        
        <apex:actionStatus id="mySaveStatus">              
            <apex:facet name="stop">                  
                <apex:commandButton value="Save" action="{!SaveRec}" status="mySaveStatus" rerender="RCPanel1,RCPanel" oncomplete="newTab(1);return false;" Rendered="{!IsSave}">                      
                </apex:commandButton>                
            </apex:facet>                
            <apex:facet name="start">                  
                <apex:commandButton value="Saving..." disabled="true" action="{!SaveRec}" status="mySaveStatus" oncomplete="newTab(1);return false;" rerender="RCPanel1,RCPanel">                      
                </apex:commandButton>                
            </apex:facet>            
        </apex:actionStatus>
        
        <!-- <apex:commandButton value="Save" action="{!SaveRec}" rerender="tstpopup" oncomplete="newTab(1);return false;"/> -->
        
        </div> </div>
        
        </div>
        </div>
        </div>  <!--- RecentEvents ---->
        
        
        
        
        
        </apex:form>
        </apex:outputPanel>
        
    </div> <!--  /#center -->
 
  </div>
    <c:CpFooter ></c:CpFooter>   
  </div>
<!-- /layout -->
<!--<apex:form >
<apex:outputPanel id="tstpopup">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                <div id="dialog" title="My Dialog Title">
                    <b>Contact Details</b> <br/><br/>
                        <strong>First Name : </strong><apex:outputField value="{!c.Firstname}"/><br/>
                        <strong>Last Name : </strong><apex:outputField value="{!c.Lastname}"/><br/>
                        <strong> Email :</strong> <apex:outputField value="{!c.email}"/><br/>
                        <strong>Phone Number :</strong> <apex:outputField value="{!c.phone}"/><br/>
                        <strong>Address : </strong><apex:outputField value="{!c.MailingStreet}"/><br/>
                        <strong>City : </strong><apex:outputField value="{!c.MailingCity}"/><br/>
                        <strong>State : </strong><apex:outputField value="{!c.MailingState}"/><br/>
                        <strong>Country : </strong><apex:outputField value="{!c.MailingCountry}"/><br/>
                        <strong>Postal Code : </strong><apex:outputField value="{!c.MailingPostalCode}"/><br/>
                </div>
          <br/>
                
                <apex:commandLink value="Confirm and Redeem" action="{!confirmPopup}" rerender="tstpopup,RCPanel,RCPanel1" oncomplete="newTab(2);return false;" style="text-decoration:none !important;" styleclass="btn"/> &nbsp; &nbsp;
                <apex:commandLink value="Cancel Redemption" action="{!closePopup}" rerender="tstpopup"  style="text-decoration:none !important;" styleclass="btn"/> 
                
            </apex:outputPanel>
</apex:outputPanel>

</apex:form>-->
<apex:form >
   <div id="popups" title="My Dialog Title" style="display:none">
                   <!-- <b>Contact Details</b> <br/><br/>-->
                        <strong>First Name : </strong><apex:outputField value="{!c.Firstname}"/><br/>
                        <strong>Last Name : </strong><apex:outputField value="{!c.Lastname}"/><br/>
                        <strong> Email :</strong> <apex:outputField value="{!c.email}"/><br/>
                        <strong>Phone Number :</strong> <apex:outputField value="{!c.phone}"/><br/>
                        <strong>Address : </strong><apex:outputField value="{!c.MailingStreet}"/><br/>
                        <strong>City : </strong><apex:outputField value="{!c.MailingCity}"/><br/>
                        <strong>State : </strong><apex:outputField value="{!c.MailingState}"/><br/>
                        <strong>Country : </strong><apex:outputField value="{!c.MailingCountry}"/><br/>
                        <strong>Postal Code : </strong><apex:outputField value="{!c.MailingPostalCode}"/><br/>
                </div>
</apex:form>

<style type="text/css">
        .custPopup{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            height: 250px;
            width: 400px;
            margin-left: -250px;
            top:100px;
             overflow:auto;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>



<script type="text/javascript">
 var globalVar = "{!$CurrentPage.parameters.cid}";
 function newTab(myVar)
 {    
    if(myVar == 1){
    document.getElementById('upcomingEvents').style.display = 'None';
    document.getElementById('RecentEvents').style.display = 'Block';
    }
    else {
    document.getElementById('RecentEvents').style.display = 'None';
    document.getElementById('upcomingEvents').style.display = 'Block';
    }
    
 }
function  getpopup()
{
$("#popups").dialog({
                        resizable: false,
                      height:350,
                      width:500,
                      modal: true,                     
                      title:"Contact Details",
                      close: function() {  
                     //  $( this ).dialog( "close" );  
                     window.open('/apex/cpLungPhantom','_self');  
                       
                                        },
                      buttons: {
                      "Confirm and Redeem": function() {
                         confirmandredeems($("#vocid").attr('alt'));
                      // window.open('/apex/cpLungPhantom','_self');   

                                           },
                        "Cancel Redemption": function() {
                        //  $( this ).dialog( "close" );  
                          window.open('/apex/cpLungPhantom','_self');            
                        }
                        
                      }
                                                    
                    });
}
function redirecturlfunction()
{
  window.open('/apex/cpLungPhantom','_self'); 
}
function confirmandredeems(selValue)
{
//var selValue = document.getElementById("vocid").value;
//alert('hiiiiiiiiiiiiiii'+selValue);
  confirmandredeem(selValue);
  window.open('http://rpc.mdanderson.org/mdadl/Varian_Phantom_Request.aspx','_blank'); 
}
 </script>

</body>
 
</apex:page>