<!-- 
   /*************************************************************************\
       @ Author        : Narmada Yelavaluri
       @ Date      : 06-May-2013
       @ Description   : This page is used to display Myaccounts page of Customer Portal.
       @ Last Modified By  :   Narmada Yelavaluri   
       @ Last Modified On  :   27-May-2013
       @ Last Modified Reason  :   Updated Header Comments
       
       change log:
       20-Dec-2017 - Divya HargunaniSTSK0013572 : MyVarian Defect: Supported Institutions
   ****************************************************************************/
   -->
<apex:page controller="CpMyAccount" sidebar="false" showheader="false" standardStylesheets="{!if(shows == 'block',true,false)}" id="myAccountPage">
   <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
      <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <meta http-equiv="expires" content="0"/>
         <meta http-equiv="Pragma" content="no-cache"/>
         <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
         <title>My account | MyVarian</title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" />
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
         <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
         <script type="text/javascript" language="javascript"> 
            $(document).ready(function(){
                
                
                if("{!usrMyCP.contactid}" == "")
                {
                 $(Mynoti).css("background-color", "rgb(255, 255, 255)");
                }
                
            
            });
            
             
         </script>
         <style>
            #center table tr {
            border-bottom: 0;
            }
            #center table td, #center table th {
            border-right: 0;
            }
            ul#list { list-style-type: none; 
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            }
            fieldset#myfdset {
            border: 1px solid #ddd;
            }
            legend#mylegend {
            font-size: 1.2em;
            }
            .listyle
            {
            color : #6D7B8D;
            }
            <!--------PopupCode---Start---------------->
            .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
            }
            .white_content 
            {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            bottom:25%;
            width: 420px;
            height: 150px;
            padding: 0px;
            border: 1px solid #030003;
            background-color: #D8D8D8;
            z-index:1;
            overflow: auto;
            filter: alpha(opacity=100);
            opacity: 1;
            }
            .white_content1 
            {
            display: none;
            position: absolute;
            top: 10%;
            left: 25%;
            bottom:35%;
            width: 610px;
            height: 340px;
            padding: 0px;
            background-color: #E0DEDF;
            border: 1px solid #030003;
            background-color: #D8D8D8;
            z-index: 1002;
            overflow: none;
            filter: alpha(opacity=100);
            opacity: 1;
            }
            <!--------PopupCode---End---------------->
            .h1,.h2,.h3,.h4,.h5,.h6
            {
            display : Block
            }
            .odd 
            {
            background-color:#FFFF66;
            }
            .even 
            {
            background-color:#8F2400;
            }
            .Tabbar{
            /*margin: Auto !important;
            padding: 0px 5px !important;*/
            }
            .spinnerBg{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #000;
            opacity: 0.2;
            z-index: 999999;
            }
            .spinner{
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url("/img/loading32.gif");
            background-size: 16px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            z-index: 9999999;
            opacity: 1;
            }
         </style>
         <!-- for community -->
         <script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js"></script>
         <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js"></script>
         <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
         <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
         <script type="text/javascript">
            SetupTreeNode.prototype.initializeSetup = function() {
              var openNodes = '';
              if (openNodes != null) {
                SetupTreeNode.prototype.openListSetup = openNodes.split(':');
              }
              SetupTreeNode.prototype.personalSetupV2 = false;
            }
            
                
         </script><script>
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
            try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
            try{DynamicCss.doneLoading()}catch(e){}
         </script>
         <link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon">
         </link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
         <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>
         <!-- end here -->
         <script type="text/javascript">
            $(function(){
            $('#addInstDialog').click(function(){
              $('<iframe src="/CpSupportedInstitutions?Id={!usrMyCP.contact.Id}" width="70%" height="70%" frameborder="0" scrolling="yes" style="min-width: 95%;height:100%;"/>').dialog({ modal: true, width: 700, height: 650,title: "Add Institution",close: function() {}});
                return false;
            
            });
            });
            
            
         </script>
      </head>
      <body>
         <!-- Community header -->
         <apex:outputpanel style="display:{!shows}">
            <div id="globalHeaderBar" class="globalHeaderBar">
               <div class="globalHeaderCommunityMenuContainer">
                  <div class="globalHeaderVerticalLineInner">
                     <div class="globalHeaderVerticalLineOuter">
                        <div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6">
                           <a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
                           MyVarian
                           </a>
                           <ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5">
                              <li class="zen-firstItem" role="presentation"></li>
                              <li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$label.Org_Domain_URL}">
                                 Varian Medical Systems Internal
                                 </a>
                              </li>
                              <li class="zen-lastItem" role="presentation"></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="globalHeaderNameMenuContainer">
                  <div class="globalHeaderVerticalLineInner">
                     <div class="globalHeaderVerticalLineOuter">
                        <div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9">
                           <a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
                           {!Usrname}
                           </span></a>
                           <ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8">
                              <li class="zen-firstItem" role="presentation"></li>
                              <li role="presentation"></li>
                              <li role="presentation"></li>
                              <li role="presentation"></li>
                              <li role="presentation"></li>
                              <li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
                                 Logout
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="nhTestHelperCurrentContext" style="display: none">
                  00DM00000013QDl
               </div>
            </div>
         </apex:outputpanel>
         <!-- end here -->
         <div id="wrapper">
         <c:CpHeader rendered="{!isGuest}"/>
         <c:CpPortalHeader rendered="{!!isGuest}"/>
         <div id="container">
         <div id="light1"  class="white_content1">
            <div>
               <iframe src="/apex/CpMyTermCondition" style="frameborder:1;width:600px;height:280px;overflow:auto;padding:1px"></iframe> 
            </div>
            <BR/>
            <!--<apex:commandButton value="save"    onclick="testfunction();"   oncomplete="document.getElementById('light').style.display='none';" id="trp"> </apex:commandButton> -->
            <div> <span><a href="javascript:void(0)" onclick="subscribe();document.getElementById('light1').style.display='none'" class="form-submit"  oncomplete="document.getElementById('light1').style.display='none';" style="text-decoration:none !important;">Submit</a></span>&nbsp;
               <span><a href="javascript:void(0)" onclick="document.getElementById('light1').style.display='none';" class="form-submit" style="text-decoration:none !important;">Cancel</a></span>
            </div>
            <div class="clearBoth"></div>
         </div>
         <c:CpSideMenu rendered="{!isGuest}"/>
         <c:CpPortalSideMenu rendered="{!!isGuest}"/>
         <div id="center" class="CenterNoRightSide user">
            <!-- <div id="sidebar-right" class="sidebar sidebarRight">
               <div id="block-block-26" class="block block-block">
                  <div class="content">
                     <p>If you do not see information for all the products in your department, please <a href="/apex/CpProdImprove?Request=ProductAccessUpdate">contact us</a> with the additional product areas needed.</p>
                  </div>
               </div>
               <div id="block-block-44" class="block block-block">
                  <div class="content">
                     <p>To ensure you receive communication from MyVarian, please add <a href="mailto:MyVarian@varian.com">MyVarian@varian.com</a> to your e-mail Contacts list.</p>
                  </div>
               </div>
               </div> -->
            <div id="tabs-wrapper" class="clear-block">
               <div id="h1notification" style="display:none">
                  <h1 class="Myaccount">My Account</h1>
               </div>
               <!-- <div id="h1User"> <h1 class="Myaccount">{!$User.UserName}</h1>    </div>-->            
               <!--<div class="centerTwoCol">-->
               <div>
                  <div id="Cs" class="messages status" style="display:{!IF(showmssg == 'true','block','none')};" >
                     The changes have been saved.
                  </div>
                  <div id="Cs2" class="messages status" style="display:{!IF(showmssg == 'false','block','none')};">
                     Institution updates will be made within 24 hours.
                  </div>
                  <div id="Cs3" class="messages status" style="display:{!IF(showemailacc == 'true','block','none')};">
                     The changes have been saved. Institution updates will be made within 24 hours.
                  </div>
                  <ul class="tabs primary">
                     <apex:outputpanel rendered="{!if(usrMyCP.contactid == null,false,true)}">
                        <li class="active" id="aveiw" ><a id="aviewa"  class="Tabbar" href="javascript:void(0)" onclick="fnview()">View</a></li>
                     </apex:outputpanel>
                     <!--<li id="aedit"><a id="aeditt" href='apex/CpProdImprove?Request=UpdatePI' onclick="fnEdt()">Edit</a></li>-->
                     <apex:outputpanel rendered="{!if(usrMyCP.contactid == null,false,true)}">
                        <li id="aedit" ><a id="aeditt"  class="Tabbar" href='/apex/CpAccountEdit?Request=UpdatePI'>Edit</a></li>
                     </apex:outputpanel>
                     <apex:outputpanel rendered="{!if(usrMyCP.contactid == null,false,true)}">
                        <li id="aSuppIns" ><a id="SuppIns"  class="Tabbar" href='javascript:void(0)' onclick="supportedIns()">Supported Institutions</a></li>
                     </apex:outputpanel>
                     <apex:outputpanel >
                        <li id="amynoti"><a  id="Mynoti"  class="Tabbar" href="javascript:void(0)" onclick="mynotification()">MyNotifications</a></li>
                     </apex:outputpanel>
                     <apex:outputpanel rendered="{!if(usrMyCP.contactid == null,false,true)}">
                        <li id="amynotiReset" ><a  id="Reset"  class="Tabbar" href="javascript:void(0)" onclick="ResetPassword()">Security</a></li>
                     </apex:outputpanel>
                     <apex:outputpanel rendered="{!checkLMSTabVisibility}">
                        <li id="lmsacct" ><a  id="lmsacct1"  class="Tabbar" href="javascript:void(0)" onclick="RequestLMSaccount()">LMS Account</a></li>
                     </apex:outputpanel>
                     <!--   <apex:outputpanel rendered="{!IF(usrMyCP.contactid != null && (usrMyCP.contact.Functional_Role__c == 'Physician' || usrMyCP.contact.Functional_Role__c == 'Physician – chief' || usrMyCP.contact.Functional_Role__c == 'Dept Admin' || usrMyCP.contact.Functional_Role__c == 'Physicist' || usrMyCP.contact.Functional_Role__c == 'CXO'),true,false)}"> -->
                     <apex:outputpanel rendered="{!if(usrMyCP.contactid == null,false,true)}">
                        <li id="aSDataCon" ><a id="DataCon1" class="Tabbar" href='javascript:void(0)' onclick="DataConsent()">Remote Service Tools</a></li>
                     </apex:outputpanel>
                     <!-- 
                        <apex:outputPanel rendered="{!IF(blnNOTRPC==false,'true','false')}">
                        <li id="amynotipnl"><a id="nop" href="javascript:void(0)" onclick="pnlmynotification()" >MyNotifications PLUS</a></li>
                        </apex:outputPanel> -->
                     <!-- <apex:outputPanel rendered="{!resetpass}"> -->
                     <!-- <li id="reset" class=""><a id="resett" href="javascript:void(0)" onclick="ResetPassword()" >Reset Password</a></li> -->
                     <!-- </apex:outputPanel> -->
                  </ul>
                  <apex:outputpanel id="themsg">
                     <div id="themsg1">
                        <apex:messages styleclass="messages status" />
                     </div>
                  </apex:outputPanel>
                  <!-- Div for reseting Password -->
                  <apex:form >
                     <div id="ResetPassword" style="display:none">
                        <ul id="list">
                           <fieldset id="security">
                              <legend>Password Reset</legend>
                              <div class="form-item">
                                 <label>Current Password:</label>
                                 <input type="password" id="edit-profile-oldPassword" Class="form-text required" value="{!oldpass}" />
                                 <li id="CurrPas" style="display:none;color:Red">Please enter the current password.</li>
                              </div>
                              <div class="form-item">
                                 <label>New Password:</label>
                                 <input type="password" id="edit-profile-Password" Class="form-text required" onchange="verifypasswrd(); return false;"/>
                                 <li id="newpass" style="display:none;color:Red">Please enter password.</li>
                                 <li>Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters.</li>
                              </div>
                              <div class="form-item">
                                 <label>Confirm Password:</label>
                                 <input type="password" id="edit-profile-ConfirmPass" Class="form-text required" onchange="confirmpass(); return false;"/>
                                 <li>Reenter your password to confirm changes.</li>
                                 <li id="confirmpass" style="display:none;color:Red">The new passwords provided do not match.</li>
                              </div>
                              <apex:commandButton value="Reset Password" onclick="passvaluechk(); return false;"   styleClass="form-submit" />
                              <apex:commandButton value="Cancel" onclick="cancelreset(); return false;"   styleClass="form-submit" />
                              <!-- <apex:commandButton id="edit-submit" value="Reset" onclick="passvaluechk(); return false;"   styleClass="form-submit" /> -->
                           </fieldset>
                        </ul>
                        <ul>
                           <fieldset id="security">
                              <legend>Recovery Question Reset</legend>
                              <div class="form-item">
                                 <label>Current Password:</label>
                                 <input type="password" id="edit-profile-currentPassword" Class="form-text required" value="{!oldpass}" />
                                 <li id="CurrPass" style="display:none;color:Red">Please enter the current password.</li>
                              </div>
                              <div class="form-item" >
                                 <label for="edit-profile-title">Recovery Question: </label>
                                 <!--<apex:selectList styleclass="form-select required" id="edit-profile-RecoveryQ" size="1">
                                    <apex:selectOptions value="{!recoveryqusoptions}"></apex:selectOptions>               
                                    </apex:selectList> -->
                                 <Select class="form-select required" id="edit-profile-RecoveryQ" size="1">
                                    <apex:repeat value="{!recoveryqusoptions}" var="list">
                                       <option value= "{!list.value}">{!list.value}</option>
                                    </apex:repeat>
                                 </Select>
                                 <!-- <apex:inputText maxlength="55" value="{!CustRecovryQ}"  size="60" id="edit-RecoveryQ" styleClass="form-text required"/> -->
                              </div>
                              <div class="form-item" id="edit-profile-title-wrapper">
                                 <label for="edit-profile-title">Recovery Answer: </label>
                                 <input type="Text" maxlength="55" size="60" id="edit-profile-RecovryAns" Class="form-text required"/>
                                 <div>The recovery answer must contain at least 4 characters.</div>
                              </div>
                              <apex:commandButton value="Reset Recovery Question" onclick="recoveryvaluechk(); return false;"   styleClass="form-submit" />
                              <apex:commandButton value="Cancel" onclick="cancelreset(); return false;"   styleClass="form-submit" />
                           </fieldset>
                        </ul>
                        <!-- <apex:commandButton value="Reset Credential" onclick="passvaluechk(); return false;"   styleClass="form-submit" /> 
                           <apex:commandButton value="Cancel" onclick="cancelreset(); return false;"   styleClass="form-submit" /> -->
                     </div>
                  </apex:form>
                  <!-- End of div -->
                  <div id="divtab2" style="display:none">
                     <ul>
                        <li><strong><a href='apex/CpProdImprove?Request=UpdatePI'>Click here to update your personal info</a></strong></li>
                        <br />
                     </ul>
                     <!-- <ul><li><strong><a href='/apex/CpContactUs'>Click here to update your personal info</a></strong></li><br /></ul>   -->        
                     <!--<ul class="tabs secondary">
                        <li class="active" ><a  id="ac" class="active" href="javascript:void(0)" onclick="fnACTView()">Account</a></li>
                        <li ><a id="pi" href="javascript:void(0)" onclick="fnpersonalView()">Personal Information</a></li>
                        
                        </ul>-->
                  </div>
                  <div id="diverr" style="display:none" class="messages error">
                  </div>
                  <div id="NotificationStatus" style="display:none" class="messages status"> Your request has been successfully received. If you subscribed to MyNotifications, you will receive your weekly e-mails every Monday. If you unsubscribed, you will no longer receive the MyNotifications e-mail.
                  </div>
                  <div id="Custlabel" style="display:none" class="messages status">
                     Your request for a Varian Learning Management System account has been successfully submitted.  Please allow 24 hours for your account to be activated.  For questions or concerns, please send inquiries to:
                     <apex:outputLink value="mailto:{!$Label.MV_LMS_SupportEmail}"> {!$Label.MV_LMS_SupportEmail}.</apex:outputLink>
                  </div>
                  <div id="PNLNotificationStatus" style="display:none" class="messages status">Your request has been successfully received. If you subscribed to MyNotificationsPlus, you will receive E-Product Notification Letter. If you unsubscribed, you will no longer receive E-Product Notification Letter.
                  </div>
                  <div id="ar1" style="display : none">
                     <!--------Added By Archana----- Your request has been successfully received. If you subscribed to MyNotificationsPlus, you will receive E-Product Notification Letter. If you unsubscribed, you will no longer receive E-Product No -->
                     <p>
                        <apex:outputPanel id="lsmAcctext">
                           <apex:outputText rendered="{!ISBLANK(usrMyCP.LMS_Status__c)}" >
                              The Varian Learning Management System (LMS) provides online training and registration capabilities for educational courses offered throughout the various Varian Education Center locations.  Register for an LMS account only if you have been instructed to do so in order to take advantage of one of these educational channels.<br></br><br></br>   
                           </apex:outputText>
                           <apex:outputText rendered="{!OR(usrMyCP.LMS_Status__c=='Request', usrMyCP.LMS_Status__c=='Pending')}" >
                              <apex:outputtext escape="false" value="{!$Label.MV_LMS_AccPendingMsg}"/>
                           </apex:outputText>
                           <apex:outputText rendered="{!usrMyCP.LMS_Status__c=='Active'}" >
                              <apex:outputtext escape="false" value="{!$Label.MV_LMS_AccActiveMsg}"/>
                           </apex:outputText>
                           <apex:outputText rendered="{!ISBLANK(usrMyCP.LMS_Status__c)}" >
                              <a href = "javascript:void(0)"  onclick = "fnLearning(); return false;">Register Now!</a>
                           </apex:outputText>
                           <!--Status'Inactive' message , By Rakesh.B --> 
                           <apex:outputText rendered="{!usrMyCP.LMS_Status__c=='Inactive'}" >
                              <apex:outputtext escape="false" value="{!$Label.MV_LMS_AccInactiveMsg}"/>
                           </apex:outputText>
                           <br/>
                           <apex:outputText rendered="{!usrMyCP.LMS_Status__c=='Inactive'}" >
                              <a href = "javascript:void(0)"  onclick = "fnLearning(); return false;">Register Now!</a>
                           </apex:outputText>
                           <!-- End of Status'Inactive' message, By rakesh.B -->
                     <div style="display:{!if(CONTAINS($Label.MV_LMS_RegStatus,usrMyCP.LMS_Status__c ),'block','none')} ;color:green;text-decoration:none !important;"> </div>
                     </apex:outputPanel>
                     </p> 
                  </div>
                  <div id="SuppInsDiv" style="display :none">
                     <apex:form id="caForm">
                        <!-----Added By Yogesh---->
                        <br/>                 
                        <p>If you support multiple institutions, you are able to edit your MyVarian account profile to add and/or remove institutions as needed (based on current support/employment needs). When you add institutions, you will gain access to information about the additional institutions you support (i.e. product and support case information).</p>
                        <p><strong>Note: <br/>We strongly request that when you no longer support an institution, you remove them from your profile. Newly added Institutions will be reflected within 48 business hours.</strong></p>
                        <br/>
                        <a href="javascript:void(0)" id="addInstDialog"  style="text-decoration:none !important;" class="form-submit">Add Institution</a>
                        <br/>
                        <br/>
                        <!--<apex:actionFunction name="removeCRA" action="{!removeCRA}" rerender="suppInsPanel">
                           <apex:actionFunction name="removeCRA" action="{!removeCRA}" rerender="caForm">
                                 <apex:param name="CRAID" assignTo="{!recordId}" value=""/>
                           </apex:actionFunction>
                           <apex:outputpanel id="suppInsPanel">-->
                        <!--STSK0013572 : MyVarian Defect: Supported Institutions  - modified the logic and added spinner -->
                        <apex:actionStatus id="spinnerStatus">
                           <apex:facet name="start">
                              <div class="spinnerBg" />
                                 <div class="spinner" />
                           </apex:facet>
                        </apex:actionStatus>
                        <apex:dataTable id="SuppInsTable" value="{!craList}" var="CRARecord" cellPadding="4" border="1" rowClasses="odd,even">
                        <apex:column title="Action">
                        <apex:facet name="header">Action</apex:facet>
                        <apex:commandLink action="{!removeCRA}" rerender="SuppInsTable" status="spinnerStatus">Remove
                        <apex:param name="CRAID" assignTo="{!recordId}" value="{!CRARecord.Id}"/>
                        </apex:commandLink>
                        <!--<a href="javascript:void(0)" onClick = "removeCRA('{!CRARecord.Id}');" > Remove </a> -->
                        </apex:column>
                        <apex:column title="Institution Name">
                        <apex:facet name="header">Institution Name</apex:facet>
                        <apex:outputText value="{!CRARecord.Account__r.Name}"/>
                        </apex:column>
                        <apex:column title="Institution">
                        <apex:facet name="header">Institution Address</apex:facet>
                        <apex:outputText value="{!CRARecord.Account__r.billingstreet} {!CRARecord.Account__r.billingCity} {!CRARecord.Account__r.billingState}  {!CRARecord.Account__r.BillingPostalCode} {!CRARecord.Account__r.billingcountry}"/>
                        </apex:column>
                        </apex:dataTable>
                        <!--</apex:outputpanel> -->
                     </apex:form>
                     </div>
                     <div id="DataCon" style="display : none">
                     <apex:form id="caForm1">
                     <br/>
                     <!--STSK0011818:Start-->
                     <!--<h2><b>Consent to Access Performance Data</b></h2><br/>
                        <p>In order to provide a world class service experience to its customers, Varian Medical Systems needs access to “Performance Data” from customer sites.<br/>
                        </p>
                        <p>“Performance Data” refers to diagnostic, environmental, operational, usage, serviceability and other performance data related to a customer’s use of Varian products and services, exclusive of PII and PHI. 
                        The Keystone system produced by Varian Medical Systems aggregates performance data from all Varian software devices at customer sites and securely transfers it to Varian using an established and secured channel of communication. The latest performance data enables Varian to provide best-in-class servicing to customer devices.
                        <br/><br/>
                        More information about Keystone is available in the following documents on the MyVarianSM customer community. 
                        <br/><br/> -->
                     <!--<apex:outputText value="{!$Label.CpMyAccount_Text1}" escape="false"/>-->
                     <!-- Product Brief: <a href="http:/varian.force.com/KeystoneBrief.pdf">http:/varian.force.com/KeystoneBrief.pdf</a> <br/>
                        Customer Technical Bulletin: <a href="http:/varian.force.com/Keystone CTB.pdf">http:/varian.force.com/Keystone CTB.pdf</a> <br/><br/>
                        <i>By consenting, the Customer agrees to Varian Medical Systems providing remote diagnostic, support and upgrade services for Varian products purchased by Customer through remote services tools. The remote services tools enable Varian to access, retrieve, view and otherwise use diagnostic, environmental, operational, usage, serviceability and other performance data, exclusive of any personally identifiable information (PII)  or patient health information (PHI), related to Customer’s use of Varian products. Customer acknowledges that Varian will retain all right, title and interest to such data.</i><br/>
                        </p> 
                        -->
                     <!--<apex:outputText value="{!$Label.CpMyAccount_Text2}" escape="false"/>-->
                     <apex:outputtext escape="false" value="{!ConsentContent}"/>
                     <!--STSK0011818:End-->
                     <br/>
                     <apex:outputpanel id="conbtnpanel">
                     <apex:outputpanel rendered="{!!isIConsent}">                                    
                     <apex:actionStatus id="contstatus">
                     <apex:facet name="start">
                     <a href="javascript:void(0)"  style="text-decoration:none !important;" class="form-submit">Authorizing......</a>
                     </apex:facet>
                     <apex:facet name="stop">
                     <a href="javascript:void(0)" onClick="iConsentAF()" style="text-decoration:none !important;" class="form-submit">I Authorize</a>
                     </apex:facet>                           
                     </apex:actionStatus>
                     </apex:outputpanel>
                     <apex:outputpanel rendered="{!isIConsent}"><a href="javascript:void(0)" style="background:none !important;background-color: #A8A8A8 !important;text-decoration:none !important;cursor:default;" class="form-submit">I Authorize</a></apex:outputpanel>
                     </apex:outputpanel>
                     <!--<apex:actionStatus id="contstatusnot">
                        <apex:facet name="start">
                        <a href="javascript:void(0)"  style="text-decoration:none !important;" class="form-submit">Waiting.....</a>
                        </apex:facet>
                        <apex:facet name="stop">
                        <a href="javascript:void(0)" onClick="iConsentAF()" style="text-decoration:none !important;" class="form-submit">I Do Not Consent</a>
                        </apex:facet>                           
                        </apex:actionStatus>-->
                     <br/>
                     <br/>
                     <apex:actionFunction action="{!iConsentClick}" name="iConsentAF"  rerender="conbtnpanel,contdiv" status="contstatus"/>
                     <apex:actionFunction name="removeCRA" action="{!removeCRA}" rerender="suppInsPanel">
                     <apex:param name="CRAID" assignTo="{!recordId}" value=""/>
                     </apex:actionFunction><apex:outputpanel id="suppInsPanel">
                     <apex:outputPanel id="contdiv">
                     <apex:pageMessages />
                     <!--<apex:dataTable id="SuppInsTable" value="{!craList}" var="CRARecord" cellPadding="4" border="1" rowClasses="odd,even">
                        <apex:column title="Action">
                        <apex:facet name="header">Action</apex:facet>                             
                        <apex:inputCheckbox disabled="{!CRARecord.Account__r.Data_Access_Consent__c}" value="{!CRARecord.Account__r.Data_Access_Consent__c}"/>
                        </apex:column>
                        
                        <apex:column title="Institution Name">
                         <apex:facet name="header">Institution Name</apex:facet>
                        <apex:outputText value="{!CRARecord.Account__r.Name}"/>
                        </apex:column>
                        
                        <apex:column title="Institution">
                         <apex:facet name="header">Institution Address</apex:facet>
                        <apex:outputText value="{!CRARecord.Account__r.billingstreet} {!CRARecord.Account__r.billingCity} {!CRARecord.Account__r.billingState}  {!CRARecord.Account__r.BillingPostalCode} {!CRARecord.Account__r.billingcountry}"/>
                        </apex:column>
                        
                        <apex:column title="Consented By">
                        <apex:facet name="header">Consented By</apex:facet>
                        <apex:outputField value="{!CRARecord.Account__r.Consent_Logged_By__c}"/> 
                        </apex:column>
                        
                        <apex:column title="Date">
                        <apex:facet name="header">Date</apex:facet>
                        <apex:outputField value="{!CRARecord.Account__r.Consent_Date__c}"/>
                        </apex:column>
                                                    
                        </apex:dataTable>-->
                     <apex:dataTable id="SuppInsTable" value="{!lstWCRA}" var="CRARecord" cellPadding="4" border="1" rowClasses="odd,even">
                     <apex:column title="Action">
                     <apex:facet name="header">Authorized</apex:facet>                             
                     <apex:inputCheckbox disabled="{!CRARecord.Action}" value="{!CRARecord.Action}"/>
                     </apex:column>
                     <apex:column title="Institution Name">
                     <apex:facet name="header">Institution Name</apex:facet>
                     <apex:outputText value="{!CRARecord.Insname}"/>
                     </apex:column>
                     <apex:column title="Institution">
                     <apex:facet name="header">Institution Address</apex:facet>
                     <apex:outputText value="{!CRARecord.InsAdd}"/>
                     </apex:column>
                     <apex:column title="Consented By">
                     <apex:facet name="header">Authorized By</apex:facet>
                     <apex:outputField value="{!CRARecord.Ag.Agreed_By__c}"/>
                     </apex:column> 
                     <apex:column title="Date">
                     <apex:facet name="header">Date</apex:facet>
                     <apex:outputfield value="{!CRARecord.Ag.Agreement_Date__c}"/>
                     <!--<apex:outputText value="{0,date,MM/dd/YYYY  HH:mm:ss}"> 
                        <apex:param value="{!CRARecord.conSDate}" /> 
                        </apex:outputText>-->
                     </apex:column>
                     </apex:dataTable>
                     </apex:outputPanel>
                     </apex:outputpanel> 
                     </apex:form>  
                     </div>
                     <div id="dv3" style="display : {!if(usrMyCP.contactid == null,'block','none')}">
                     <!-----Added By Mohit---->                 
                     <p>MyNotifications is a weekly subscription to the latest <strong>Safety Notifications, Customer Technical Bulletins and Release Notes</strong> published by Varian Medical Systems.  By subscribing to MyNotifications, you will receive a weekly e-mail listing the new documents that have been posted to MyVarian within the preceding week for products installed at your institution. See below for the products/product groups currently identified for your institution.</p>
                     </div>
                     <apex:form id="myForm">
                     <!----code added by Mohit------------>
                     <apex:actionFunction name="registerNow" action="{!registerNow}" rerender="lsmAcctext" />
                     <apex:actionFunction name="abc" action="{!chngPwds}" rerender="out"  />
                     <apex:actionFunction name="abccon" action="{!updatecon}" rerender="out"  />
                     <apex:actionFunction name="unsubs" action="{!fnunsubscribe}" rerender="PonNotif"  />
                     <apex:actionFunction name="subs" action="{!fnsubscribe}" rerender="PonNotif"  />
                     <apex:actionFunction name="subscribe2" action="{!subscribe}" rerender="CpNotif"  />
                     <apex:actionFunction name="unsubscribe2" action="{!unSubscribe}" rerender="CpNotif" />
                     <apex:actionFunction name="actionResetpass" action="{!Resetpass}" rerender="CpNotif,themsg">
                     <apex:param name="PWDConfirm" value=""/>
                     <apex:param name="ConfirmPWD" value=""/>
                     <apex:param name="OLDPWD" value=""/>
                     </apex:actionFunction>
                     <apex:actionFunction name="actionResetQA" action="{!ResetRcvryQus}" rerender="CpNotif,themsg">
                     <apex:param name="PWDCurrent" value=""/>
                     <apex:param name="RECVRYQ" value=""/>
                     <apex:param name="RECVRYA" value=""/>
                     </apex:actionFunction>
                     <apex:outputpanel id="out">
                     <apex:pageMessages />
                     <!----code end added by mohit--------->
                     <!---Mohit Code Block Start------------------->
                     <div id="dv1" style="display:{!if(usrMyCP.contactid == null,'none','block')}">
                     <!-- <h2>User : {!$User.Username} </h2> -->
                     <!-- <div>
                        <fieldset id="myfdset">
                        <legend id="mylegend">Roles</legend>
                        <ul >
                            <span>
                                <li class="listyle">Authenticated User</li>
                                <li class="listyle">_Employee</li>
                                 <li class="listyle">_Contractor</li>
                            </span>
                            
                        </ul>
                        </fieldset>
                        </div> -->
                     <BR/> 
                     <!--<div>
                        <fieldset id="myfdset">
                        <legend id="mylegend">Institution</legend>
                        <ul id="lst1">
                            <span>
                                <li class="listyle"><a href="#">Wipro Consulting(Salesforce Environment)</a></li>
                               
                            </span>
                            
                        </ul>
                        </fieldset>
                        </div> -->
                     <div style="display:{!IF(displaymsg=='true','block','none')};color:red" styleClass="errorMsg">Password and other profile related information is updated.</div>
                     <div >
                     <BR/>
                     <fieldset id="myfdset">
                     <legend id="mylegend"><b>Users Contact Information</b></legend>
                     <dl>
                     <dt>First Name</dt>
                     <dd>{!usrMyCP.contact.firstname}</dd>
                     <dt>Last Name</dt>
                     <dd>{!usrMyCP.contact.lastName}</dd>
                     <dt>Title</dt>
                     <dd>{!usrMyCP.contact.title}</dd>
                     <dt>Department Manager</dt>
                     <dd>{!usrMyCP.contact.Manager__c}</dd>
                     <dt>Institution</dt>
                     <dd>{!SapAcctName}</dd>
                     <dt>Email</dt>
                     <dd>{!usrMyCP.contact.Email}</dd>
                     <dt>Address</dt>
                     <dd>{!usrMyCP.contact.mailingStreet}</dd>
                     <dt>City</dt>
                     <dd>{!usrMyCP.contact.mailingCity}</dd>
                     <dt>State</dt>
                     <dd>{!usrMyCP.contact.mailingState}</dd>
                     <dt>Zip</dt>
                     <dd>{!usrMyCP.contact.mailingpostalcode}</dd>
                     <dt>Country</dt>
                     <dd>{!usrMyCP.contact.mailingCountry}</dd>
                     <dt>Phone</dt>
                     <dd>{!usrMyCP.contact.phone}</dd>
                     <dt>Fax</dt>
                     <dd>{!usrMyCP.contact.fax}</dd>
                     </dl>
                     </fieldset>
                     </div>
                     </div>
                     <div  id="dv2" style="display:none">
                     <!--<input id="edit-submit" class="form-submit" type="submit" value="Save" name="op" onclick="chngPwd()"/>-->
                     </div>
                     <!-------------------div for Unsubscribe-----start-------------------->
                     <div id="light"  class="white_content">
                     <table width="100%" style="border:0">
                     <tr>
                     <td width="50%" align="right" style="color:black">
                     Reason To Unsubsribe
                     </td>
                     <td width="50%" align="left">
                     <apex:inputTextarea value="{!strComment}" id="text"/>
                     </td>
                     </tr>
                     <tr>
                     <td width="50%" align="right" colspan="1">
                     <!--<apex:commandButton value="save"    onclick="testfunction();"   oncomplete="document.getElementById('light').style.display='none';" id="trp"> </apex:commandButton>-->
                     <span><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';Unsubscribe();" class="form-submit" style="text-decoration:none !important;" oncomplete="">Submit</a></span>
                     <span><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';" class="form-submit" style="text-decoration:none !important;">Cancel</a></span>
                     </td>
                     </tr>
                     </table>
                     </div>
                     <!-------------------div for Unsubscribe-----End------------------->
                     <div id="fade" class="black_overlay"></div>
                     <div id="div21" style="display:none">
                     <fieldset id="myfdset4">
                     <legend id="mylegend">Personal Information</legend>
                     <ul id="list">
                     <!--<span>
                        <li class="listyle">
                        <div class="form-item">
                            <label> First Name</label></div></li>
                            <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.firstName}" /></li><BR/>
                        </span>-->
                     <div class="form-item">
                     <label>First Name <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-firstname" styleClass="form-text required" value="{!usrMyCP.contact.firstname}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Last Name</label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.lastName}" /></li><BR/>
                        </span>-->
                     <div class="form-item">
                     <label>Last Name <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-lastname" styleClass="form-text required" value="{!usrMyCP.contact.lastName}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Title</label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Title}" /></li><BR/>
                        </span>-->
                     <div class="form-item">
                     <label>Title <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-title" styleClass="form-text required" value="{!usrMyCP.contact.Title}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Institution (Full hospital name, no abbreviations): </label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.Name}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Institution (Full hospital name, no abbreviations):</label>
                     <apex:inputtext id="edit-profile-institution" styleClass="form-text required"  style="ReadOnly :true" value="{!usrMyCP.contact.Account.Name}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Institution Address (do not use your home address):</label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingStreet}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Institution Address (do not use your home address):</label>
                     <apex:inputtext id="edit-profile-address" styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingStreet}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Institution City:</label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingCity}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Institution City: <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-city" styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingCity}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Institution State:</label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingState}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Institution State: <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-state" styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingState}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Institution Country:</label></div></li>
                        <li><apex:inputtext value="{!usrMyCP.contact.Account.BillingCountry}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Institution Country: </label>
                     <apex:selectList id="countries" value="{!strCountry}"
                        size="1" required="true" style="width:150px">
                     <apex:selectOptions value="{!countries}"/>
                     </apex:selectList>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Institution ZIP/Postal Code:</label></div>  </li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingPostalcode}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Institution ZIP/Postal Code: <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-zip" styleClass="form-text required" value="{!usrMyCP.contact.Account.BillingPostalcode}"/>
                     </div>
                     <!--<span>
                        <li class="listyle"><div class="form-item"><label>Telephone:</label></div></li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.phone}" /></li>
                        </span>-->
                     <div class="form-item">
                     <label>Telephone: <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext id="edit-profile-phone" styleClass="form-text required" value="{!usrMyCP.contact.Account.phone}"/>
                     </div>
                     <!--<li class="listyle"><div class="form-item"><label>Fax:</label></div>  </li>
                        <li><apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.fax}" /></li>-->
                     <div class="form-item">
                     <label>Fax:</label>
                     <apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Account.fax}"/>
                     </div>
                     <span>
                     <div class="form-item">
                     <label>Manager: <span class="form-required" title="This field is required.">*</span></label>
                     <apex:inputtext styleClass="form-text required" value="{!usrMyCP.contact.Manager__c}"/>
                     <li>Your immediate manager&apos;s name is necessary to confirm employment.</li>
                     </div>
                     </span>
                     </ul>
                     </fieldset>
                     <!--<input id="edit-submit" class="form-submit" type="submit" value="Save" name="op" onclick="svContact()"/>-->
                     <a href="javascript:void(0)" onclick="svContact()" style="text-decoration:none !important;" class="form-submit">Save</a>
                     </div>
                     <!---Mohit Code Block End--------------------->
                     <div id="dv5" style="display :{!if(usrMyCP.contactid == null,'block','none')}">
                     <apex:outputPanel id="CpNotif">
                     <font size="3">
                     <Strong>
                     <a href = "javascript:void(0)" onclick = "fnPONsubs(); return false;" style="display:{!IF(subscribed==true,'none','block')};text-decoration:none !important;">Subscribe</a>
                     <!--<apex:commandLink value="Subscribe" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" id="theCommandLink" rendered="{!NOT(strSubsCribUnsubsCrib)}" />-->  
                     <!-- <a href = "javascript:void(0)" onclick = "fnPONUNsubs()" style="display:{!IF(subscribed==true,'block','none')};text-decoration:none !important;">Unsubscribe</a> -->
                     <div style="display:{!IF(subscribed==true,'block','none')};text-decoration:none !important;">You are currently subscribed to MyNotifications.<a href = "javascript:void(0)" onclick = "fnPONUNsubs(); return false;"> Click Here </a>to unsubscribe.</div>
                     <!--<apex:commandLink value="Unsubscribe" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"  id="theCommandLink1" rendered="{!strSubsCribUnsubsCrib}" />-->
                     </Strong>
                     </font>
                     </apex:outputPanel>
                     <div>
                     <div class="form-item">
                     <label>Product(s): <span class="form-required" title="This field is required.">*</span></label>
                     </div>
                     </div>
                     <apex:panelgrid columns="2" border="0" width="50%" style="border: none; border-collapse: collapse;" >
                     <apex:repeat value="{!prodList1}" var="p1">
                     <div class="form-checkboxes">
                     <div class="form-item" id="edit-product-365-wrapper">
                     <label class="option" for="edit-product-365">
                     <!-- apex:inputcheckbox value="{!p1.check}" id="checkedone" Styleclass="form-checkbox" /--> {!p1}  
                     </label>
                     </div>
                     </div>
                     </apex:repeat>
                     <apex:repeat value="{!prodList2}" var="p2">
                     <div class="form-checkboxes">
                     <div class="form-item" id="edit-product-365-wrapper">
                     <label class="option" for="edit-product-365">
                     <!-- apex:inputcheckbox id="edit-product-365" value="{!p2.Check}" Styleclass="form-checkbox" /--> {!p2} 
                     </label>
                     </div>
                     </div>
                     </apex:repeat>
                     </apex:panelgrid>
                     <div class="clearBoth"></div>
                     <p>&nbsp;</p>
                     <!--apex:commandButton action="{!Submit}" value="Submit" id="edit-submit"  Styleclass="form-submit" /--> 
                     </div>
                     <div id="dv4" style="display : none">
                     <apex:outputPanel id="PonNotif">
                     <div style="display:{!IF(blnNOTRPC==false,'block','none')}">
                     <font size="3">
                     <Strong>
                     <a href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='block';" style="display:{!IF(strSubsCribUnsubsCrib==true,'none','block')};text-decoration:none !important;">Subscribe</a>
                     <!--<apex:commandLink value="Subscribe" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" id="theCommandLink" rendered="{!NOT(strSubsCribUnsubsCrib)}" />-->  
                     <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';" style="display:{!IF(strSubsCribUnsubsCrib==true,'block','none')};text-decoration:none !important;">Unsubscribe</a>
                     <!--<apex:commandLink value="Unsubscribe" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"  id="theCommandLink1" rendered="{!strSubsCribUnsubsCrib}" />-->
                     </Strong>
                     </font>
                     </div>
                     <div style="display:{!IF(blnNOTRPC==false,'none','block')}" class="messages error">
                     You must be a RAQA user to subscribe or unsubscribe.
                     </div>
                     </apex:outputPanel>
                     <div class="clearBoth"></div>
                     <p>&nbsp;</p>
                     <!--apex:commandButton action="{!Submit}" value="Submit" id="edit-submit"  Styleclass="form-submit" /--> 
                     </div>
                     </apex:outputpanel>
                     </apex:form>
                     <span class="clear"></span>
                     </div>
                  </div>
               </div>
               <!--  /#center -->
            </div>
            <!-- /container -->
            <!-------Div for Subscribe Start----------------------------------->
            <!--------------------Div for Subscribe End------------------------->
            <!-- footer -->
            <div>
               <c:CpFooter ></c:CpFooter>
            </div>
            <!-- /footer -->
         </div>
         <!-- /layout -->
      </body>
   </html>
   <script>
      function fnEdt()
      {
      document.getElementById('lmsacct').className = ''; 
      document.getElementById('SuppInsDiv').style.display = 'none';
      document.getElementById('DataCon').style.display = 'none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('div21').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      document.getElementById('dv2').style.display = 'block';
      document.getElementById('dv1').style.display = 'none';
      document.getElementById('dv3').style.display = 'none';
      document.getElementById('dv4').style.display = 'none';
      document.getElementById('divtab2').style.display = 'block';
      document.getElementById('dv5').style.display = 'none';
      document.getElementById('light1').style.display = 'none';
      document.getElementById('ResetPassword').style.display = 'none';
      }
      function fnview()
      {
       
       
       document.getElementById('aveiw').className = 'active';
       document.getElementById('aedit').className = '';
       document.getElementById('aSuppIns').className ='';
       document.getElementById('aSDataCon').className ='';
        document.getElementById('amynoti').className = '';
        document.getElementById('amynotiReset').className = '';
        if(document.getElementById('amynotipnl') != null){
          document.getElementById('amynotipnl').className = '';
          }
          
      document.getElementById('SuppInsDiv').style.display = 'none';
      document.getElementById('DataCon').style.display = 'none';
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('diverr').style.display ='none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('divtab2').style.display = 'none';
      document.getElementById('dv2').style.display = 'none';
      document.getElementById('dv1').style.display = 'block';
      document.getElementById('dv3').style.display = 'none';
      document.getElementById('dv4').style.display = 'none';
      document.getElementById('div21').style.display = 'none';
      document.getElementById('dv5').style.display = 'none';
      document.getElementById('light1').style.display = 'none';
      document.getElementById('ResetPassword').style.display = 'none';
      document.getElementById('Cs').style.display = 'none';
      document.getElementById('Cs2').style.display = 'none';
      document.getElementById('Cs3').style.display = 'none';
      document.getElementById('themsg1').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      document.getElementById('lmsacct').className = '';
      }
      function pnlmynotification()    //Visibility for MyNotification 
      {
       document.getElementById('aSuppIns').className ='';
       document.getElementById('aSDataCon').className ='';
       document.getElementById('lmsacct').className = '';
       document.getElementById('amynoti').className = '';
       document.getElementById('amynotiReset').className = '';
       document.getElementById('amynotipnl').className = 'active';
      
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('SuppInsDiv').style.display = 'none';
      document.getElementById('DataCon').style.display = 'none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('diverr').style.display ='none';
      document.getElementById('div21').style.display = 'none';
      document.getElementById('divtab2').style.display = 'none';
      document.getElementById('dv2').style.display = 'none';
      document.getElementById('dv1').style.display = 'none';
      document.getElementById('dv3').style.display = 'Block';
      document.getElementById('dv4').style.display = 'block';
      document.getElementById('dv5').style.display = 'none';
      document.getElementById('ResetPassword').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      
      
      }
      function RequestLMSaccount()
      {   
          document.getElementById('NotificationStatus').style.display='none';
         
          document.getElementById('aSuppIns').className ='';
          document.getElementById('aSDataCon').className ='';
          document.getElementById('amynotiReset').className = ''; 
          document.getElementById('aveiw').className = '';
          document.getElementById('lmsacct').className = 'active';
          document.getElementById('aedit').className = '';
          document.getElementById('amynoti').className = '';
          
          document.getElementById('SuppInsDiv').style.display = 'none';
          document.getElementById('DataCon').style.display = 'none';
          document.getElementById('ar1').style.display = 'block';
          document.getElementById('diverr').style.display ='none';
          document.getElementById('div21').style.display = 'none';
          document.getElementById('divtab2').style.display = 'none';
          document.getElementById('dv2').style.display = 'none';
          document.getElementById('dv1').style.display = 'none';
          document.getElementById('dv3').style.display = 'none';
          //document.getElementById('dv4').style.display = 'none';
          document.getElementById('dv5').style.display = 'none';
          document.getElementById('Cs').style.display = 'none';
          document.getElementById('Cs2').style.display = 'none';
          document.getElementById('Cs3').style.display = 'none';
          document.getElementById('ResetPassword').style.display = 'none';
          document.getElementById('Custlabel').style.display='none';
      
      }
      
      //Added on 7th March 2017 - for Supported Institutions tab
      
      function supportedIns()
      {
          document.getElementById('SuppInsDiv').style.display = 'block';
          document.getElementById('DataCon').style.display = 'none';
          document.getElementById('NotificationStatus').style.display='none';
          document.getElementById('diverr').style.display ='none';
          document.getElementById('ar1').style.display = 'none';
          document.getElementById('div21').style.display = 'none';
          document.getElementById('divtab2').style.display = 'none';
          document.getElementById('dv2').style.display = 'none';
          document.getElementById('dv1').style.display = 'none';
          document.getElementById('dv3').style.display = 'none';
          document.getElementById('dv4').style.display = 'none';
          document.getElementById('dv5').style.display = 'none';
          document.getElementById('light1').style.display = 'none';
          document.getElementById('ResetPassword').style.display = 'none';
          document.getElementById('Cs').style.display = 'none';
          document.getElementById('Cs2').style.display = 'none';
          document.getElementById('Cs3').style.display = 'none';
          document.getElementById('themsg1').style.display = 'none';
          document.getElementById('Custlabel').style.display='none';
       
            
           
           document.getElementById('aveiw').className = '';
           document.getElementById('aSuppIns').className = 'active';
           document.getElementById('aSDataCon').className = '';
           document.getElementById('amynotiReset').className = '';
           document.getElementById('amynoti').className = '';
           if(document.getElementById('amynotipnl') != null){
               document.getElementById('amynotipnl').className = '';
           
       }
        document.getElementById('lmsacct').className = '';
      }
      
      function DataConsent()
      {
          document.getElementById('SuppInsDiv').style.display = 'none';
          document.getElementById('DataCon').style.display = 'block';
          document.getElementById('NotificationStatus').style.display='none';
          document.getElementById('diverr').style.display ='none';
          document.getElementById('ar1').style.display = 'none';
          document.getElementById('div21').style.display = 'none';
          document.getElementById('divtab2').style.display = 'none';
          document.getElementById('dv2').style.display = 'none';
          document.getElementById('dv1').style.display = 'none';
          document.getElementById('dv3').style.display = 'none';
          document.getElementById('dv4').style.display = 'none';
          document.getElementById('dv5').style.display = 'none';
          document.getElementById('light1').style.display = 'none';
          document.getElementById('ResetPassword').style.display = 'none';
          document.getElementById('Cs').style.display = 'none';
          document.getElementById('Cs2').style.display = 'none';
          document.getElementById('Cs3').style.display = 'none';
          document.getElementById('themsg1').style.display = 'none';
          document.getElementById('Custlabel').style.display='none';
       
            
           
           document.getElementById('aveiw').className = '';
           document.getElementById('aSDataCon').className = 'active';
           document.getElementById('aSuppIns').className = '';
           document.getElementById('amynotiReset').className = '';
           document.getElementById('amynoti').className = '';
           if(document.getElementById('amynotipnl') != null){
               document.getElementById('amynotipnl').className = '';
           
       }
        document.getElementById('lmsacct').className = '';
      }  
      
      
      function mynotification()    //Visibility for MyNotification
      {
          
         
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('SuppInsDiv').style.display = 'none';
      document.getElementById('DataCon').style.display = 'none';
      document.getElementById('diverr').style.display ='none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('div21').style.display = 'none';
      document.getElementById('divtab2').style.display = 'none';
      document.getElementById('dv2').style.display = 'none';
      document.getElementById('dv1').style.display = 'none';
      document.getElementById('dv3').style.display = 'block';
      document.getElementById('dv4').style.display = 'none';
      document.getElementById('dv5').style.display = 'block';
      document.getElementById('light1').style.display = 'none';
      document.getElementById('ResetPassword').style.display = 'none';
      document.getElementById('Cs').style.display = 'none';
      document.getElementById('Cs2').style.display = 'none';
      document.getElementById('Cs3').style.display = 'none';
      document.getElementById('themsg1').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      
        
       
       document.getElementById('aveiw').className = '';
       
       document.getElementById('aSuppIns').className ='';
       document.getElementById('aSDataCon').className ='';
       document.getElementById('amynoti').className = 'active';
       
       document.getElementById('amynotiReset').className = '';
       
       if(document.getElementById('amynotipnl') != null){
           document.getElementById('amynotipnl').className = '';
           
       }
        document.getElementById('lmsacct').className = '';
      }
      function fnpersonalView()  //Visibility for ContactView
      {
          
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('SuppInsDiv').style.display = 'none';
      document.getElementById('DataCon').style.display = 'none';
      document.getElementById('diverr').style.display ='none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('pi').className = "active";
      document.getElementById('ac').className = "none";
      document.getElementById('div21').style.display = 'block';
      document.getElementById('divtab2').style.display = 'block';
      document.getElementById('dv2').style.display = 'none';
      document.getElementById('dv1').style.display = 'none';
      document.getElementById('dv3').style.display = 'none';
      document.getElementById('dv4').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      
      document.getElementById('dv5').style.display = 'none';
      document.getElementById('ResetPassword').style.display = 'none';
      
      }
      function fnACTView() //AccountView
      {
          alert("hello test3");
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('diverr').style.display ='none';
      document.getElementById('pi').className = "none";
      document.getElementById('ac').className = "active";
      document.getElementById('div21').style.display = 'none';
      document.getElementById('divtab2').style.display = 'block';
      document.getElementById('dv2').style.display = 'block';
      document.getElementById('dv1').style.display = 'none';
      document.getElementById('dv3').style.display = 'none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('dv4').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      document.getElementById('ResetPassword').style.display = 'none';
      }
      
      function ResetPassword()    //Visibility for MyNotification
      {
       
       document.getElementById('aveiw').className = '';
       document.getElementById('aSuppIns').className ='';
       document.getElementById('aSDataCon').className ='';
        document.getElementById('amynoti').className = '';
           if(document.getElementById('amynotipnl') != null){
           document.getElementById('amynotipnl').className = '';
           }
           document.getElementById('amynotiReset').className = 'active'; 
      
      document.getElementById('NotificationStatus').style.display='none';
      document.getElementById('diverr').style.display ='none';
      document.getElementById('div21').style.display = 'none';
      document.getElementById('Custlabel').style.display='none';
      document.getElementById('divtab2').style.display = 'none';
      document.getElementById('dv2').style.display = 'none';
      document.getElementById('dv1').style.display = 'none';
      document.getElementById('dv3').style.display = 'none';
      document.getElementById('dv4').style.display = 'none';
      document.getElementById('ar1').style.display = 'none';
      document.getElementById('dv5').style.display = 'none';
      document.getElementById('SuppInsDiv').style.display = 'none';
      document.getElementById('DataCon').style.display = 'none';
      
      document.getElementById('ResetPassword').style.display = 'block';
      document.getElementById('Cs').style.display = 'none';
      document.getElementById('Cs2').style.display = 'none';
      document.getElementById('Cs3').style.display = 'none';
      document.getElementById('lmsacct').className = '';
      
      }
      function chngPwd()   //For Change Pwd and Validate for the text field
      {
      var j = 0;
      var errorMessage="";
      if(document.getElementById('myAccountPage:myForm:edit-name').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-name').className= "form-text required error";
      errorMessage="<span>" + "Username field is required."+"</span><BR/>";
       j = 1;
      
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-name').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-mail').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-mail').className= "form-text required error";
      errorMessage="<span>" + "Email field is required."+"</span><BR/>";
      j = 1;
      
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-mail').className= "form-text required";
      }
      if(j ==0)
      {
      document.getElementById('diverr').style.display='none';
      abc();
      }
      else if(j == 1)
      {
      
      
      document.getElementById('diverr').style.display='block';
      
      document.getElementById('diverr').innerHTML =errorMessage;
      
      }
      
      
      
      }
      function svContact() // Validating for contact Record
      {
      var i = 0;
      var errorMessage="";
      if(document.getElementById('myAccountPage:myForm:edit-profile-firstname').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-profile-firstname').className= "form-text required error";
      errorMessage="<span>" + "First Name field is required."+"</span><BR/>";
       i = 1;
       
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-firstname').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-lastname').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-profile-lastname').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Last Name field is required."+"</span><BR/>";
      i=1;
      
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-lastname').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-title').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-profile-title').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Title field is required."+"</span><BR/>";
      i=1;
      }
      else
      { 
      document.getElementById('myAccountPage:myForm:edit-profile-title').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-address').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-profile-address').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Institution (Full hospital name, no abbreviations) field is required."+"</span><BR/>";
      i=1;
      
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-address').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-city').value  =='')
      {
      document.getElementById('myAccountPage:myForm:edit-profile-city').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Institution City field is required."+"</span><BR/>";
      i=1;
      
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-city').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-state').value  =='')
      {
      
      document.getElementById('myAccountPage:myForm:edit-profile-state').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Institution State field is required."+"</span><BR/>";
      i=1;
      
      }else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-state').className= "form-text required";
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-zip').value  =='')
      {
      
      document.getElementById('myAccountPage:myForm:edit-profile-zip').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Institution ZIP/Postal Code field is required."+"</span><BR/>";
      i=1;
      
      }else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-zip').className= "form-text required";
      
      
      }
      if(document.getElementById('myAccountPage:myForm:edit-profile-phone').value  =='')
      {
      
      document.getElementById('myAccountPage:myForm:edit-profile-phone').className= "form-text required error";
      errorMessage=errorMessage+"<span>" + "Telephone field is required"+"</span><BR/>";
      i=1;
      
      }
      else
      {
      document.getElementById('myAccountPage:myForm:edit-profile-phone').className= "form-text required";
      }
      
      
      
      if(i ==0)
      {document.getElementById('diverr').style.display='none';
       abccon();
      }
      else if(i == 1)
      {
      document.getElementById('diverr').style.display='block';
      
      document.getElementById('diverr').innerHTML =errorMessage;
      
      }
      }
      
      function showPopup()      // This to show Term and condition Popup
      {
      var popup1=document.getElementById('popup');
      
      popup1.style.display='block';
      
      }
      function hidePopup()  //To Hide the popup for Term and Condition Page
      {
      var popup1=document.getElementById('popup');
      popup1.style.display='none';
      }
      
      function Unsubscribe()     //Calling for Unsubscribe
        {
        document.getElementById('PNLNotificationStatus').style.display='block';
         window.setTimeout(function (){unsubs();} ,1000); //dumy function used in action function
         
       
        }
        function subscribe()       //Calling on Subscribe
        {
          document.getElementById('PNLNotificationStatus').style.display='block';
        window.setTimeout(function (){subs();},1000);   //dumy function used in action function
         
        }
      
        
      function fnLearning()
      {
      document.getElementById('Custlabel').style.display='block';
      document.getElementById('ar1').style.display = 'none';
      registerNow();
      }
      function fnPONUNsubs()
      {
      document.getElementById('NotificationStatus').style.display='block';
        window.setTimeout(function (){ unsubscribe2();},1000);   //dumy function used in action function
      
      }
      
      function fnPONsubs()
      {
      document.getElementById('NotificationStatus').style.display='block';
        window.setTimeout(function (){ subscribe2();},1000);   //dumy function used in action function
      
      
      }
      function confirmpass()
      {
        //alert('{!Newpass}+++{!Confirmpass}');
        //alert(document.getElementById('edit-profile-Password').value);
        if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
        {
          document.getElementById('confirmpass').style.display = 'block';
          
        }else{
          if(document.getElementById('confirmpass') != null)
          {
           document.getElementById('confirmpass').style.display = 'none';
          }
        }
      }
      function verifypasswrd()
      {
        var Exp = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        var pwd = document.getElementById('edit-profile-Password').value;
        //alert(pwd);
       if(!Exp.test(pwd) || pwd.length < 8)
       {
        alert('Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters .');
        return false;
        }
      }
      function recoveryvaluechk()
      {
        var currentpwd = document.getElementById('edit-profile-currentPassword').value;
        var RecoveryQ = document.getElementById('edit-profile-RecoveryQ').value;
        var RecoveryA = document.getElementById('edit-profile-RecovryAns').value;
       if(currentpwd == '' && RecoveryQ == '' && RecoveryA == '')
        {
          document.getElementById('newpass').style.display = 'block';
        }
        else if(currentpwd == '' )
        {
        document.getElementById('CurrPass').style.display = 'block';
        }
        else if(currentpwd != '') {
                  if(RecoveryQ != ''){
                      if(RecoveryA != ''){
                          if(RecoveryA.length < 4){
                           alert('The recover answer must contain at least 4 characters.');
                           return false;
                           }else{
                          actionResetQA(currentpwd,RecoveryQ,RecoveryA);
                          document.getElementById('edit-profile-currentPassword').value = '';
                          document.getElementById('edit-profile-RecoveryQ').value = '';
                          document.getElementById('edit-profile-RecovryAns').value = '';
                          document.getElementById('CurrPass').style.display = 'none';
                                          // function for resetting recovery question 
                          }
                      }else{
                          alert('Please Enter Recovery Answer!!');
                          return false;
                      }
                }else {
                  alert('Enter Recovery Question');
                  return false;
                }
             }
          
         }
         
      function passvaluechk()
      {
        var newpwd = document.getElementById('edit-profile-Password').value;
        var confrmpwd = document.getElementById('edit-profile-ConfirmPass').value;
        var oldpwd = document.getElementById('edit-profile-oldPassword').value;
        /*var currentpwd = document.getElementById('edit-profile-currentPassword').value;
        var RecoveryQ = document.getElementById('edit-profile-RecoveryQ').value;
        var RecoveryA = document.getElementById('edit-profile-RecovryAns').value;*/
        if(newpwd ==''&& confrmpwd == '' && oldpwd == '')
        {
          document.getElementById('newpass').style.display = 'block';
        }
         else if(oldpwd == '' )
        {
        document.getElementById('CurrPas').style.display = 'block';
          document.getElementById('newpass').style.display = 'none';
        }
        else if(oldpwd != ''){
              if(newpwd != '')
              {
               if(confrmpwd != '')
               { 
                 if(newpwd == oldpwd)
                 {
                   alert('New Password and Current Password Can\'t be same');
                   return false;
                 }else {
                   if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
                        {
                          document.getElementById('confirmpass').style.display = 'block';
                          return false;
                        }else{
                          var Exp = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
                            var pwd = document.getElementById('edit-profile-Password').value;
                            //alert(pwd);
                           if(!Exp.test(pwd) || pwd.length < 8)
                           {
                            alert('Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters .');
                            return false;
                            }else{
                           actionResetpass(newpwd,confrmpwd,oldpwd);
                           document.getElementById('edit-profile-Password').value = '';
                           document.getElementById('edit-profile-ConfirmPass').value = '';
                           document.getElementById('edit-profile-oldPassword').value = '';
                           document.getElementById('CurrPas').style.display = 'none';
                            document.getElementById('newpass').style.display = 'none';
                            }
                        }
                   //actionResetpass(newpwd,confrmpwd,oldpwd);
                   }
               } else{
                 alert('Please Enter Confirm password as well!!!');
                 return false;
               }
              }else {
                alert('Please enter New Password');
                return false;
              }
           }/* else if(currentpwd != '') {
                  if(RecoveryQ != ''){
                      if(RecoveryA != ''){
                          actionResetQA(currentpwd,RecoveryQ,RecoveryA);
                          // function for resetting recovery question 
                      }else{
                          alert('Please Enter Recovery Answer!!');
                          return false;
                      }
                }else {
                  alert('Enter Recovery Question');
                  return false;
                }
             }*/
           
             
          /*document.getElementById('edit-profile-Password').value = '';
          document.getElementById('edit-profile-ConfirmPass').value = '';
          document.getElementById('edit-profile-oldPassword').value = '';
          /*document.getElementById('edit-profile-currentPassword').value = '';
          document.getElementById('edit-profile-RecoveryQ').value = '';
          document.getElementById('edit-profile-RecovryAns').value = '';*/
      }
      function cancelreset()
      {
          document.getElementById('edit-profile-Password').value = '';
          document.getElementById('edit-profile-ConfirmPass').value = '';
          document.getElementById('edit-profile-oldPassword').value = '';
          document.getElementById('edit-profile-currentPassword').value = '';
          document.getElementById('edit-profile-RecoveryQ').value = '';
          document.getElementById('edit-profile-RecovryAns').value = '';
          document.getElementById('CurrPas').style.display = 'none';
          document.getElementById('CurrPass').style.display = 'none';
          document.getElementById('newpass').style.display = 'none';
          
      }
      
      function ClosePop(){
          $('.ui-dialog').remove();
      }
      
   </script>
   <div id="fade" class="black_overlay"></div>
</apex:page>