<!-- 
/*************************************************************************\
    @ Author        : Anupam Tripathi
    @ Date      : 04-Apr-2013
    @ Description   : This page is MyVarian Home page.
    @ Last Modified By  :   Anupam Tripathi
    @ Last Modified On  :   05-June-2013
    @ Last Modified Reason  :   Updated link for password reset
    Date/Modified By Name/Task or Story or Inc # /Description of Change 
    2/14/2018 - STSK0013902 - Increased banners timeout to 7 seconds. 
****************************************************************************/

-->
<apex:page showHeader="false" standardStylesheets="false" sidebar="false" controller="StLoginCntlr" Extensions="SlideController" action="{!RedirectExternal}" >
<!-- <apex:actionSupport event="onload" action="{!RecievePON}" /> -->
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title>Welcome to MyVarian! | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- <link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" /> -->
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>

<!--<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/drupal.js')}" />
 <script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/googleanalytics.js')}" />  
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.js')}" />
< script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery_002.cycle.all.min.js.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/javascript.js')}" /> -->

<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.jQueryEasing)}"  />
<apex:includeScript value="{!URLFOR($Resource.jQueryCycle)}"  />


<style>
    #cyclewrap{position:relative;width:545px;}  
    #cyclewrapnav {position:absolute; bottom:0; z-index:9999;}
    #cyclewrapnav a{background:transparent url(http://www.codingcereal.com/images/pagenav.png) no-repeat 0 0 ; float:left; height:15px; overflow:hidden; text-decoration:none; text-indent:-1234px; width:16px;}
    #cyclewrapnav a.activeSlide {background-position:-32px 0;}
    #cycleimages{overflow: hidden; position: relative;}
</style>

<style>
.ui-widget-header
{
    border: #1B7CBA;
    background-color: #1B7CBA;
    background-image: none;
    color: White;
}
</style>

<apex:outputPanel id="imageblock">
<!-- <img src="{!cookieTokenUrl}" style="display:none"/> -->
<script>
    //alert("{!ready}");
    if("{!ready}" == "true"){
        setTimeout(function(){window.open('{!$Label.oktacploginurl}','_self');},2000);
    }
    if("{!corrlog}" == "true"){
        setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg=true','_self');},2000);
         }  
     if("{!IsPassExist}" == "true"){ 
     setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg=false','_self');},2000);
     }
  if("{!corrlog1}" == "true"){
      setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg1=true','_self');},2000);
        }
</script>
</apex:outputPanel>

<script type="text/javascript"> 
    //$j = jQuery.noConflict();
    
    $(document).ready(function() {
        if ($('#cycleimages').length > 0) {
            $('#cycleimages').cycle({
                fx: 'scrollHorz',                
                speed: 750,
                timeout: 7000,
                randomizeEffects: false,
                pauseOnPagerHover: true,
                pagerEvent : 'mouseover', 
                easing: 'easeOutCubic',
                next: '.cyclenext',
                prev: '.cycleprev',
                pager: '#cyclewrapnav',
                pause: 0,
                cleartypeNoBg: true
            });
                       
        }
    // for login
     $("#loginPanelWindow").dialog({
                          autoOpen: false,
                          resizable: false,
                          height:350,
                          //dialogClass: "ui-widget-header",
                          width:550,
                          modal: true,
                          title:"Login Panel",
                            buttons: {
                            "Cancel": function(){
                              $(this).dialog("close");                          
                            }
                            }
                        });
            $("#loginPanelWindow2").dialog({
                          autoOpen: false,
                          resizable: false,
                          height:360,
                          //dialogClass: "ui-widget-header",
                          width:550,
                          modal: true,
                          title:"Login Panel",
                            buttons: {
                            "Cancel": function(){
                              $(this).dialog("close");                          
                            }
                            }
                        });

       $('#loginPanel').click(function () {
            var guest = {!isGuest};
            //alert('Hi');
            if(guest)
            {
                $("#loginPanelWindow").dialog("open");
            }
            else
            {
            window.open("/apex/CpCasePage","_self")
            }
        });
    
    $('#loginPanel15').click(function () {
            var guest = {!isGuest};
            //alert('Hi');
            if(guest)
            {
                $("#loginPanelWindow2").dialog("open");
            }
            else
            {
            window.open("/apex/CpProdImprove?Request=ProductImprovement","_self")
            }
        });
    
    });
    
    

function mylgn1()
    {
        
        //alert('Hi-------');
        var usr = $('[id$=edit-emailvalue]').val();//document.getElementById('j_id0:innerform:edit-emailvalue').value;
        var psw = $('[id$=edit-passvalue]').val();//document.getElementById('j_id0:innerform:edit-pass').value;
        //alert('Username:' + usr + 'Password:' + psw);
        var cont = "createspport";
        //alert(cont);
        chkLogin1(usr,psw,'createspport');
    //chkLogin2(usr,psw,'pir');
        return false;
}

function mylgn2()
    {
        
        //alert('Hi-------');
        var usr = $('[id$=edit-emailvalueprod]').val();//document.getElementById('j_id0:innerform:edit-emailvalue').value;
        var psw = $('[id$=edit-passvalueprod]').val();//document.getElementById('j_id0:innerform:edit-pass').value;
        //alert('Username:' + usr + 'Password:' + psw);
        //var cont = "pir";
        //alert(cont);
        //chkLogin1(usr,psw,'createspport');
    chkLogin2(usr,psw,'pir');
        return false;
}
    
</script>
  </head>
  
 <body ONLOAD="CallSOQL();">
 
 <apex:form forceSSL="true">
 <!--apex:actionFunction name="chkLogin" action="{!login}" >  
 </apex:actionFunction -->
 </apex:form>
 
<div id="wrapper">
 
   <c:CpHeader />
     
   <!-- /topToolBar -->
      
    <div id="container">
 
    <c:CpSideMenu />
               
      <div id="center" class="CenterWithRightSide node-3 public_page frontPage">
     


 <!-- <div id="show-case">
    <img class="img" src="http://myvarian.com/system/files/banners/Patient_Awareness_MyV_Therapist_FMA.jpg?1362522791"/>
    <img class="img" src="http://myvarian.com/system/files/banners/Patient_Awareness_MyV_Brachy_2_FMA.jpg?1362522782"/>
    <img class="img" src="http://myvarian.com/system/files/banners/myVarianFMA_2013ESTRO.jpg?1363230403"/>
    <img class="img" src="http://myvarian.com/system/files/banners/EmergTechClinicalForum_SLC_myVarian_FMA_713x238.jpg?1361576514"/>
    <img class="img" src="http://myvarian.com/system/files/banners/CanandianUsersMtg_myVarianFMA.jpg?1361831675"/>
    <img class="img" src="http://myvarian.com/system/files/banners/DEGRO_2013_MyV_FMA.jpg?1363230296"/>
</div> -->

 
 <div id="cyclewrap">
        <div id="cycleimages" style="width: 718px; height: 243px; overflow: hidden;">
         <apex:repeat value="{!bannerList}" var="ban">
       <apex:outputLink styleClass="img" value="{!if(ban.bannerStr.Link__c!='',ban.bannerStr.Link__c,'#')}" target="_blank" disabled="{!If(ban.bannerStr.Link__c == null,'true','false')}">
          <!--  <apex:outputLink styleClass="img" value="{!if(Contains(ban.bannerStr.Link__c,'http'),ban.bannerStr.Link__c,'http://'+ban.bannerStr.Link__c)}" target="_blank" disabled="{!If(ban.bannerStr.Link__c == null,'true','false')}">-->
    <!-- <apex:outputLink styleClass="img" value="{!if(Contains(ban.bannerStr.Link__c,'http'),ban.bannerStr.Link__c,'http://'+ban.bannerStr.Link__c)}" target="_blank" disabled="{!If(ban.bannerStr.Link__c == null,'true','false')}">-->

                <apex:image value="{!ban.imgSrc}" width="718" height="243"/> 
          </apex:outputLink>    
          </apex:repeat>        
                
        </div>
            <!-- 
            <a class="cycleprev" href="#">&nbsp;</a>
            <a class="cyclenext" href="#">&nbsp;</a>
             -->
            <div id="cyclewrapnav">&nbsp;</div>
    </div>
           
            <div class="clearBoth"></div><br/>
                    
            
                    <h1 class="3">Welcome to MyVarian!</h1>         
            <div class="centerTwoCol">  
 
    <div class="messages status" style="display:{!IF(dspMsg == 'true','block','none')};">
    Thank you for applying for an account. Your account is currently pending approval by the site administrator.<br />In the meantime, a welcome message with further instructions has been sent to your e-mail address.
    </div> 
      <div class="messages error" style="display:{!IF(logchk == 'true','block','none')};">
    Sorry, your username is not recognized.<a href="/apex/VR_Registration_PG"> Please register for a new account.</a></div>
   <div class="messages error" style="display:{!IF(logchk == 'false','block','none')};">
    Sorry, your password is not recognized.<a href="/apex/VR_Registration_PG?Request=Reqnewpass"> Have you forgotten your password?</a></div>
     <div class="messages error" style="display:{!IF(logchk1 == 'true','block','none')};">
    You have been locked out of your account.<a href="/apex/VR_Registration_PG?Request=Reqnewpass"> Click here to reset your password.</a></div>
    <!-- commenting as pnl is not going live with portal -->
<!-- Code for displaying message for PON Reciept -->
    
    <!-- <div class="messages status" style="display:{!PONrecieve};">
    Thank you for acknowledging the Proof of Notification.<br/>For viewing the Proof of Notification that have not been acknowledge, Please login in to Account.    
    </div> -->
    
<div id="node-3" class="node">
 
  
  <div class="content">
    <div class="hpWelcome">
    <p>The MyVarian<sup>SM</sup> customer support environment was launched in 2007 to provide personalized online assistance to Varian Medical Systems customers. Since its introduction, MyVarian has evolved to become a reliable knowledge center providing up-to-date marketing, education and product information. Varian Medical Systems welcomes you to take advantage of all MyVarian has to offer.</p>
    
    <div class="hpSection hpSubmit">
        <h2>Submit</h2>
        <ul>
            <!--<li><a href="/apex/CpProdImprove?Request=ProductImprovement">&gt; Product Improvement Request</a></li>-->
         <li><a id = 'loginPanel15' href = "#" >&gt; Submit Product Idea</a></li>
            <!-- li><a href="/apex/CpProdImprove?Request=HelpTicket">&gt; Varian Help Desk Ticket</a></li-->
            <li><a id = 'loginPanel' href = "#" >&gt; Create Support Case</a></li>

            <!--li><a href="/apex/CpProdImprove?Request=Serviceticket">&gt; Service Request</a></li -->
        </ul>
    </div>
    
   
      <div id='loginPanelWindow2' style='display:none;'><p>In order to create a Product Idea, you must first log in to MyVarian. Once you have entered your MyVarian login information, you will be able to submit the Product Idea.</p>
        <apex:form id="innerform2">
        <apex:outputpanel id="loginPanel11">
        <div class="form-item" id="edit-name-wrapper">
            <label for="edit-name">E-mail: <span class="form-required" title="This field is required.">*</span></label>
            <apex:inputText maxlength="64" id="edit-emailvalueprod" size="60" styleClass="form-text required" /> 
            <div class="description">Enter your e-mail address.</div>
        </div>
        <div class="form-item" id="edit-pass-wrapper">
            <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
            <apex:inputSecret maxlength="64" id="edit-passvalueprod" size="60" styleClass="form-text required" />
            <!-- input id="edit-pass" styleClass="form-text required" maxlength="128"  size="60" type="password" value="{!password}"/ --> 
            <div class="description">Enter the password that accompanies your e-mail.</div>
        </div>
        <input type="hidden" name="form_build_id" id="form-aa71e9e91818e9110a5b6dd8988e25da" value="form-aa71e9e91818e9110a5b6dd8988e25da"  />
        <input type="hidden" name="form_id" id="edit-user-login" value="user_login" />
        <input type="image" name="" value="Title" onclick="mylgn2();return false;" id="login_button2" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/login_btn.png')}" />
        </apex:outputPanel>
        <apex:actionFunction name="chkLogin2" action="{!LogintoOkta}" rerender="imageblock"> 
            <!--<apex:param name="password" value=""/>-->
            <apex:param name="user" value=""/>
            <apex:param name="pass" value=""/>
            <apex:param name="ProductImprovementRequest" value="" />
        </apex:actionFunction>
        </apex:form>
    </div>
    
        <!-- For login popup -->
    
       <div id='loginPanelWindow' style='display:none;'><p>In order to create a case, you must first log in to MyVarian. Once you have entered your MyVarian login information, you will be able to submit your support case.</p>
        <apex:form id="innerform">
        <apex:outputpanel id="loginPanel1">
        <div class="form-item" id="edit-name-wrapper">
            <label for="edit-name">E-mail: <span class="form-required" title="This field is required.">*</span></label>
            <apex:inputText maxlength="64" id="edit-emailvalue" size="60" styleClass="form-text required" /> 
            <div class="description">Enter your e-mail address.</div>
        </div>
        <div class="form-item" id="edit-pass-wrapper">
            <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
            <apex:inputSecret maxlength="64" id="edit-passvalue" size="60" styleClass="form-text required" />
            <!-- input id="edit-pass" styleClass="form-text required" maxlength="128"  size="60" type="password" value="{!password}"/ --> 
            <div class="description">Enter the password that accompanies your e-mail.</div>
        </div>
        <input type="hidden" name="form_build_id" id="form-aa71e9e91818e9110a5b6dd8988e25da" value="form-aa71e9e91818e9110a5b6dd8988e25da"  />
        <input type="hidden" name="form_id" id="edit-user-login" value="user_login" />
        <input type="image" name="" value="Title" onclick="mylgn1();return false;" id="login_button2" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/login_btn.png')}" />
        </apex:outputPanel>
        <apex:actionFunction name="chkLogin1" action="{!LogintoOkta}" rerender="imageblock"> 
            <!--<apex:param name="password" value=""/>-->
            <apex:param name="user" value=""/>
            <apex:param name="pass" value=""/>
            <apex:param name="Createsupportcase" value="" />
        </apex:actionFunction>
        </apex:form>
    </div>
    <!-- For login popup -->
    
    <div class="hpDevider"></div>
    
    <div class="hpSection hpRegister">
        <h2>Register</h2>   
        <ul>
           <!-- <li><a href="/apex/VR_Registration_PG">&gt; Register for an account now!</a></li>-->
           <li><a href="{!$Label.CpNewAccountRegUrl}">&gt; Register for an account now!</a></li>
        </ul>
    </div>
    
    <div class="hpDevider"></div>
    
    <div class="hpSection hpLearn">
        <h2>Learn</h2>
        <ul>
            <li><a href="/apex/cpAboutMyVarian">&gt; About MyVarian/FAQs</a></li>
        </ul>
    </div>
</div>  </div>
 
  <div class="clear-block clear">
    
  </div>
 
</div>            <span class="clear"></span>
            </div>
          
      </div> <!--  /#center -->
 
              <div class="hpRightPanel">
            <div class='evTopTitle'></div>
          <div id="block-views-webinars-block_2" class="block block-views">
  <h2>Featured Webinar</h2>
 
  <div class="content">
    <div class="view view-webinars view-id-webinars view-display-id-block_2 view-dom-id-2">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      
  <div class="views-field-field-event-date-value">
                <span class="field-content"><span class="date-display-single"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!featWebinars.From_Date__c}" /></apex:OutputText></span></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content"><a href="/apex/CpWebSummary?id={!featWebinars.id}" >{!featWebinars.Title__c}</a></span>
  </div>
  
  <div class="views-field-nothing">
                <span class="field-content"><div class='speaker'>{!featWebinars.Speaker__c}</div>
<div class='institution'>{!featWebinars.Institution__c}</div></span>
  </div>
  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <div class="webinarMonitor"></div>
<a class='seeall' href="/apex/CpWebinarLib">View Webinar Library &raquo;</a>    </div>
  
  
</div>   </div>
</div>
<div id="block-views-Events-block_1" class="block block-views">
  <h2>Upcoming Events</h2>
 
  <div class="content">
    <div class="view view-Events view-id-Events view-display-id-block_1 view-dom-id-3">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first" style="display:{!IF(upcmgEvntBln0 == true,'none','block')};">
      
  <div class="views-field-field-event-date-value">
                <span class="field-content"><span class="date-display-start"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!upcmgEvents[0].From_Date__c}" /></apex:OutputText></span><span class="date-display-separator"> - </span><span class="date-display-end"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!upcmgEvents[0].To_Date__c}" /></apex:OutputText></span></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">
             <apex:outputLink value="{!if(upcmgEvents[0].URL_Path_Settings__c!='',upcmgEvents[0].URL_Path_Settings__c,'#')}" rendered="{!if(upcmgEvents[0].Needs_MyVarian_registration__c==false,true,false)}" disabled="{!if(upcmgEvents[0].URL_Path_Settings__c != '','false','true')}" target="_blank">{!upcmgEvents[0].Title__c}</apex:outputLink>
 <apex:outputLink value="/apex/CpEventSummarypage?evnt={!upcmgEvents[0].Id}"  rendered="{!if(upcmgEvents[0].Needs_MyVarian_registration__c==true,true,false)}" target="_blank">{!upcmgEvents[0].Title__c}</apex:outputLink>    

               <!-- <a href='{!upcmgEvents[0].URL_Path_Settings__c}' target='_blank'>{!upcmgEvents[0].Title__c}</a>-->
                  <!--          <apex:outputLink value="{!if(upcmgEvents[0].URL_Path_Settings__c!='',if(Contains(upcmgEvents[0].URL_Path_Settings__c,'https://'),upcmgEvents[0].URL_Path_Settings__c,'https://'+upcmgEvents[0].URL_Path_Settings__c),'#')}" target="_blank">{!upcmgEvents[0].Title__c}</apex:outputLink>    -->
                </span>
  </div>
  
   <apex:outputPanel Styleclass="views-field-type cmeEvent" rendered="{!upcmgEvents[0].CME_Event__c}">
                <span class="field-content"></span>
  </apex:outputPanel>
  
  <div class="views-field-field-focus-value">
                <div class="field-content"><span class='evFocusTxt'>Focus</span> <span class='evFocus_3'></span></div>
  </div>
  
  <div class="views-field-field-location-value">
                <span class="field-content" style="width:100px;float:Left">{!upcmgEvents[0].Location__c}</span>
  </div>
  
  <div class="views-field-field_registration_value">
                <span class="field-content">
                <apex:outputLink value="/apex/CPEventRegister?evnt={!upcmgEvntStr0}" rendered="{!if(AND(upcmgEvents[0].Needs_MyVarian_registration__c==true,upcmgEvents[0].Registration_is_closed_for_event__c==false),true,false)}" >Register >></apex:outputLink>
               <apex:outputLink value="{!if(upcmgEvents[0].URL__c!='',upcmgEvents[0].URL__c,'#')}" rendered="{!if(AND(upcmgEvents[0].Needs_MyVarian_registration__c==false,upcmgEvents[0].Registration_is_closed_for_event__c==false,upcmgEvents[0].URL__c!=''),true,false)}" >Register>></apex:outputLink>

               <!-- <apex:outputLink value="{!upcmgEvents[0].URL_Path_Settings__c}" rendered="{!if(AND(upcmgEvents[0].Needs_MyVarian_registration__c==false,upcmgEvents[0].Registration_is_closed_for_event__c==false),true,false)}">Register >></apex:outputLink>-->
               <!-- <apex:outputLink value="{!if(upcmgEvents[0].URL__c!='',if(Contains(upcmgEvents[0].URL__c,'https://'),upcmgEvents[0].URL__c,'https://'+upcmgEvents[0].URL__c),'#')}" rendered="{!if(AND(upcmgEvents[0].Needs_MyVarian_registration__c==false,upcmgEvents[0].Registration_is_closed_for_event__c==false,upcmgEvents[0].URL__c!=''),true,false)}" target="_blank">Register>></apex:outputLink>-->
               </span>
  </div>
  
  <div class="views-field-edit-node">
                <span class="field-content"></span>
  </div>
  </div>
  <div class="views-row views-row-2 views-row-even views-row-last" style="display:{!IF(upcmgEvntBln1 == true,'none','block')};">
      
  <div class="views-field-field-event-date-value">
                <span class="field-content"><span class="date-display-start"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!upcmgEvents[1].From_Date__c}" /></apex:OutputText></span><span class="date-display-separator"> - </span><span class="date-display-end"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!upcmgEvents[1].To_Date__c}" /></apex:OutputText></span></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">
            <apex:outputLink value="{!if(upcmgEvents[1].URL_Path_Settings__c!='',upcmgEvents[1].URL_Path_Settings__c,'#')}" rendered="{!if(upcmgEvents[1].Needs_MyVarian_registration__c==false,true,false)}" disabled="{!if(upcmgEvents[1].URL_Path_Settings__c != '','false','true')}" target="_blank">{!upcmgEvents[1].Title__c}</apex:outputLink>
 <apex:outputLink value="/apex/CpEventSummarypage?evnt={!upcmgEvents[1].Id}"  rendered="{!if(upcmgEvents[1].Needs_MyVarian_registration__c==true,true,false)}" target="_blank">{!upcmgEvents[1].Title__c}</apex:outputLink>    

              <!--  <a href='{!upcmgEvents[1].URL_Path_Settings__c}' target='_blank'>{!upcmgEvents[1].Title__c} </a>-->
                              <!--  <apex:outputLink value="{!if(upcmgEvents[1].URL_Path_Settings__c!='',if(Contains(upcmgEvents[1].URL_Path_Settings__c,'https://'),upcmgEvents[1].URL_Path_Settings__c,'https://'+upcmgEvents[1].URL_Path_Settings__c),'#')}" target="_blank">{!upcmgEvents[1].Title__c}</apex:outputLink>-->
                </span>
  </div>
  
 <apex:outputPanel Styleclass="views-field-type cmeEvent" rendered="{!upcmgEvents[1].CME_Event__c}">
                <span class="field-content"></span>
  </apex:outputPanel>
  
  <div class="views-field-field-focus-value">
                <div class="field-content"><span class='evFocusTxt'>Focus</span> <span class='evFocus_1'></span><span class='evFocus_2'></span><span class='evFocus_3'></span><span class='evFocus_4'></span><span class='evFocus_5'></span></div>
  </div>
  
  <div class="views-field-field-location-value">
                <span class="field-content" style="width:100px;float:Left">{!upcmgEvents[1].Location__c}</span>
  </div>
  
  <div class="views-field-edit-node">
                <span class="field-content"></span>
  </div>
  
  <div class="views-field-field_registration_value">
                <span class="field-content">
                <apex:outputLink value="/apex/CPEventRegister?evnt={!upcmgEvntStr1}" rendered="{!if(AND(upcmgEvents[1].Needs_MyVarian_registration__c==true,upcmgEvents[1].Registration_is_closed_for_event__c==false),true,false)}">Register >></apex:outputLink>
              <!--  <apex:outputLink value="{!upcmgEvents[1].URL_Path_Settings__c}" rendered="{!if(AND(upcmgEvents[1].Needs_MyVarian_registration__c==false,upcmgEvents[1].Registration_is_closed_for_event__c==false),true,false)}">Register >></apex:outputLink>-->
                         <!--   <apex:outputLink value="{!if(upcmgEvents[1].URL__c!='',if(Contains(upcmgEvents[1].URL__c,'https://'),upcmgEvents[1].URL__c,'https://'+upcmgEvents[1].URL__c),'#')}" rendered="{!if(AND(upcmgEvents[1].Needs_MyVarian_registration__c==false,upcmgEvents[1].Registration_is_closed_for_event__c==false,upcmgEvents[1].URL__c!=''),true,false)}" target="_blank">Register>></apex:outputLink>-->
                <apex:outputLink value="{!if(upcmgEvents[1].URL__c!='',upcmgEvents[1].URL__c,'#')}" rendered="{!if(AND(upcmgEvents[1].Needs_MyVarian_registration__c==false,upcmgEvents[1].Registration_is_closed_for_event__c==false,upcmgEvents[1].URL__c!=''),true,false)}" target="_blank">Register>></apex:outputLink>

              </span>
  </div>
  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a class='seeallEvents' href="/apex/CpEventsLib?cid=2">View Event Calendar >></a>    </div>
  
  
</div>   </div>
</div>
<div id="block-views-Events-block_2" class="block block-views">
  <h2>Recent Events</h2>
 
  <div class="content">
    <div class="view view-Events view-id-Events view-display-id-block_2 view-dom-id-4">
    
  
  
      <div class="view-content">
  <div class="views-row views-row-1 views-row-odd views-row-first" style="display:{!IF(recentEvntBln0 == true,'none','block')};">
      
  <div class="views-field-field-focus-value">
                <div class="field-content"><span class='evFocusTxt'>Focus</span> <span class='evFocus_1'></span></div>
  </div>
  
  <div class="views-field-field-event-date-value">
                <span class="field-content"><span class="date-display-start"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!recentEvents[0].From_Date__c}" /></apex:OutputText></span><span class="date-display-separator"> - </span><span class="date-display-end"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!recentEvents[0].To_Date__c}" /></apex:OutputText></span></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">
                       <apex:outputLink value="{!if(recentEvents[0].URL_Path_Settings__c!='',recentEvents[0].URL_Path_Settings__c,'#')}" target="_blank" disabled="{!if(recentEvents[0].URL_Path_Settings__c != '','false','true')}">{!recentEvents[0].Title__c}</apex:outputLink>    

                <!--<a href='{!recentEvents[0].URL_Path_Settings__c}' target='_blank'>{!recentEvents[0].Title__c}</a>-->
                          <!--  <apex:outputLink value="{!if(recentEvents[0].URL_Path_Settings__c!='',recentEvents[0].URL_Path_Settings__c)}" target="_blank">{!recentEvents[0].Title__c}</apex:outputLink>    -->
                </span>
  </div>
  
 <apex:outputPanel Styleclass="views-field-type cmeEvent" rendered="{!recentEvents[0].CME_Event__c}">
                <span class="field-content"></span>
  </apex:outputPanel>
  
  <div class="views-field-field-location-value">
                <span class="field-content" style="width:100px;float:Left">{!recentEvents[0].Location__c}</span>
  </div>
  
  <div class="views-field-edit-node">
                <span class="field-content"></span>
  </div>
  </div>
  <div class="views-row views-row-2 views-row-even views-row-last" style="display:{!IF(recentEvntBln1 == true,'none','block')};">
      
  <div class="views-field-field-focus-value">
                <div class="field-content"><span class='evFocusTxt'>Focus</span> <span class='evFocus_1'></span></div>
  </div>
  
  <div class="views-field-field-event-date-value">
                <span class="field-content"><span class="date-display-start"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!recentEvents[1].From_Date__c}" /></apex:OutputText></span><span class="date-display-separator"> - </span><span class="date-display-end"><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}"><apex:Param value="{!recentEvents[1].To_Date__c}" /></apex:OutputText></span></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">
             <!--   <a href='{!recentEvents[1].URL_Path_Settings__c}' target='_blank'>{!recentEvents[1].Title__c}</a>-->
          <apex:outputLink value="{!if(recentEvents[1].URL_Path_Settings__c!='',recentEvents[1].URL_Path_Settings__c,'#')}" target="_blank" disabled="{!if(recentEvents[1].URL_Path_Settings__c != '','false','true')}">{!recentEvents[1].Title__c}</apex:outputLink>    

                               <!--             <apex:outputLink value="{!if(recentEvents[1].URL_Path_Settings__c!='',if(Contains(recentEvents[1].URL_Path_Settings__c,'https://'),recentEvents[1].URL_Path_Settings__c,'https://'+recentEvents[1].URL_Path_Settings__c),'#')}" target="_blank">{!recentEvents[1].Title__c}</apex:outputLink>    -->
                </span>
  </div>
  
  <apex:outputPanel Styleclass="views-field-type cmeEvent" rendered="{!recentEvents[1].CME_Event__c}">
                <span class="field-content"></span>
  </apex:outputPanel>
  
  <div class="views-field-field-location-value">
                <span class="field-content" style="width:100px;float:Left">{!recentEvents[1].Location__c}</span>
  </div>
  
  <div class="views-field-edit-node">
                <span class="field-content"></span>
  </div>
  </div>
    </div>
  
  
  
  
      <div class="view-footer">
      <a class='seeallEvents' href="/apex/CpEventsLib?cid=RecEvents">View Event Calendar >></a>
<div class='clearBoth'></div>    </div>
  
  
</div>   </div>
</div>
<!-- 
<div id="block-block-51" class="block block-block">
  <h2>Recent News</h2>
 
  <div class="content">
    <p><strong><a href="http://varian.mediaroom.com/SRS_equivalency">Reimbursement Rates for Stereotactic Radiosurgery Equalized</a></strong></p>
  </div>
</div>
 -->
        </div>
          
      
 
    </div> <!-- /container -->
  
  <!-- footer -->
         <c:CpFooter ></c:CpFooter>  
  <!-- /footer -->
  </div>
<!-- /layout -->
 

<script type="text/javascript"> 
    var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-1746809-2"]);_gaq.push(['_setCustomVar', 1, "role", "anonymous user", 1]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();

setTimeout("ShowE()",1000);
function ShowE(){
var msgE = "{!IF(NOT(ISNULL(propMessage)),propMessage,'')}";
if(msgE != null && msgE != "") alert(msgE);
}
    


   /* function mylgn()
    {

        //alert(document.getElementById("edit-name").value);
       // var userNm = document.getElementById("edit-name").value;
       // var pwd = document.getElementById("edit-pass").value;
       chkLogin();
       // alert(' ------ ' + userNm + '----- ' + pwd);
        return false;
    }
    */




</script>
 
  </body>









</apex:page>