<!-- 
/*************************************************************************\
    @ Author        : Priyanka Dhamija
    @ Date      : 11-July-2014
    @ Description   : This is MyVarian maintenance page
    
****************************************************************************/

-->

<apex:page id="thePage" showHeader="false" standardStylesheets="false" sidebar="false">

<head>
    <title>MyVarian Maintenance | MyVarian</title>
    

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
    

</head>

 <body>
 
 <div id="wrapper">
  <!--  <c:CpHeader rendered="{!isGuest}"/>-->
  <!--   <c:CpPortalHeader rendered="{!!isGuest}"/>-->
 <div id="topToolBar">
        <div>
            <a class="logo" href="">&nbsp;</a>

            <ul class="links primary-links">
                <li class="menu-66 first"><a href="http://www.varian.com">Varian.com</a>
                </li>   
                </ul>
        </div>
        </div>
        
      <!-- /topToolBar -->   
 <div id="container"> 
 <!-- <c:CpSideMenu rendered="{!isGuest}"/>-->
 <!--             <c:CpPortalSideMenu rendered="{!!isGuest}"/>-->


    <div id="center" class="CenterNoRightSide node-1963 public_page">   
        <h1 class="1963"></h1>         
        <div class="centerOneCol">        
        <div id="node-1963" class="node">
        <div class="content">

<p>The MyVarian<sup>SM</sup> customer support environment is undergoing maintenance and is temporarily unavailable. MyVarian will be available on Friday, 2-24-2017.<br></br>For urgent inquiries, please contact us at MyVarian@varian.com for assistance.</p>

<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.varian.com/us/oncology/services_and_support/resources">Click here </a>to access additional Customer Support Contact Information.</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="http://www.gotoassist.com/sb/varianmedicalsystems">Click here </a>to start a Clinical Help Desk Remote Connect Session in conjunction with a live Clinical Help Desk call. </p>
<p>Thank you for your understanding.</p>
<p>Varian Medical Systems</p>

        </div>

        <div class="clear-block clear">
    
        </div>

        </div>
        <span class="clear"></span>
        </div>
          
     </div> <!--  /#center -->

 
 </div>
     <!-- footer -->
    <c:CpFooter ></c:CpFooter>  
     <!-- footer --> 
  </div>
<!-- /layout -->
  
 </body>
 
</apex:page>