<!-- 
/*************************************************************************\
Author: Amit Kumar
Created Date: 06-May-2013
Description: 
This page is used to display customer support User Groups

Change Log:
21-Aug-2014 - Priyanka Dhamija - Updated ARIA link and removed Eclipse and RapidArc groups
5-Oct-2017 - Divya Hargunani - INC4710406 - Remove Yahoo Groups from MyVarian - Removed the description and link of yahoo groups(ARIA Radiation Oncology, ARIA medical Oncology, TrueBeam)
****************************************************************************/
-->

<apex:page sidebar="false" standardStylesheets="{!if(shows=='none',false,true)}" showHeader="false" controller="CpUserGroupController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
<title>OncoPeer | MyVarian</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
<style>
.Sidebar-CenterLeft
{
position: relative;
float: right;
width: 500px;
 
}
.Sidebar-CenterRight
{
position: relative;
float: right;
width: 500px;
}
</style>

<!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js"></script>
<script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js"></script>
<script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
<script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
<script type="text/javascript">
    SetupTreeNode.prototype.initializeSetup = function() {
        var openNodes = '';
        if (openNodes != null) {
            SetupTreeNode.prototype.openListSetup = openNodes.split(':');
          }
        SetupTreeNode.prototype.personalSetupV2 = false;
    }
</script>
<script>
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
    try{DynamicCss.doneLoading()}catch(e){}
</script>
<link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link>
<script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
<script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>
<!-- end here -->
</head>

<body>
 <!-- Community header -->
    <apex:outputpanel style="display:{!shows}"> 
    <div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
         MyVarian
        </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$label.Org_Domain_URL}">
          Varian Medical Systems Internal
        </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
          {!Usrname}
        </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
          Logout
        </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
          00DM00000013QDl
        </div></div></apex:outputpanel>
<!-- end here -->
    <div id="wrapper">
    <c:CpPortalHeader />
    <div id="container">
    <c:CpPortalSideMenu />              
    <div id="center" class="CenterNoRightSide OncoPeer page">
    <div class="content">
    <script type="text/javascript" language="javascript"> 
    $(document).ready(function() {
    $('.warning').click(function () { 
    alert('You are now leaving MyVarian.\nVarian Medical Systems is not responsible for the content or operation of any linked site.');
    });
    });
    </script>
    
<script type="text/javascript" language="javascript"> 
            function PopShows5(){
                    
                    $("#dialog").dialog({
                        
                      height:150,
                      width:400,
                      modal: true,
                      title:"  ",
                      close: function() {                         
                       window.open('/apex/CpOncoPeerLanding','_self'); 
                        },
                      buttons: {
                       "OK" : function() {
                       $( this ).dialog( "close" ); 
                        window.open( '{!$Label.CpOncoPeer_CloudCommunityUrl}','_blank'); 
                        }
                         
                        
                       
                      }
                                        
                    });
                    }
</script>

<div id="dialog" style="display: none">You are now leaving MyVarian.<br></br>Varian Medical Systems is not responsible for the content or<br></br> operation of any linked site.</div>

<p>OncoPeer™ cloud community is an exclusive online community where Varian customers can link<BR></BR> minds through collaboration, sharing and publishing knowledge, and networking with peers.</p>
<p><div style="padding-top:20px;" class="Sidebar-CenterRight"><h4> <img style="border:0px solid #CCC !important;padding:10px !important;Vertical-align:middle !important" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/oncopeer_icon.png')}"/>Visit <a  style="display:inline-block;" onclick="PopShows5();return false;" href="#" target="_blank"> OncoPeer cloud community </a> now! </h4></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•    No fee – open to all Varian customers <!--within certain geographies--><br></br><br></br></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•   Create events, discussion threads, and share knowledge <br></br><br></br></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•   Easily search and navigate through user generated content<br></br><br></br></div> 
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•   Build public and invite-only groups to foster collaboration<br></br><br></br></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•   Discover trending topics</div>
</p>
</div>
</div>            
</div>
<c:CpFooter />       
</div>
</body>
</apex:page>