<!--/*************************************************************************
    @ Author        : Balraj Singh
    @ Date      :   07-May-2013
    @ Description   : This page is used to display presentation detail of event webinars.
    @ Last Modified By  :   Anupam Tripathi
    @ Last Modified On  :   28-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/-->

<apex:page showHeader="false" controller="CpPresentationDetailpageController" standardStylesheets="{!if(shows=='none',false,true)}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title>Welcome to MyVarian! | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- <link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" /> -->
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
 
   <!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

<!-- end here -->

<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem"  href="{!$Label.Org_Domain_URL}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->
 
 <body>

<div id="wrapper">
    <c:CpPortalHeader />
<!-- /topToolBar -->
      
    <div id="container">
        <c:CpPortalSideMenu />

          
      <div id="center" class="CenterNoRightSide presentations">
        
                
                
                    
            
                    <h1 class="Presentations">Presentations</h1>            
            <div class="centerOneCol">  
                
                
                
                            
                            
                      
              <div class="view view-presentations view-id-presentations view-display-id-page_1 view-dom-id-1">
    
      <div class="view-filters">
      <form action="/presentations"  accept-charset="UTF-8" method="get" id="views-exposed-form-presentations-page-1">
<div><div class="views-exposed-form">
  <div class="views-exposed-widgets clear-block">
          <div class="views-exposed-widget views-widget-filter-tid">
                  
  
 
                        
      </div>
          <div class="views-exposed-widget views-widget-filter-field_event_value_many_to_one">
                  
                        
      </div>
        <div class="views-exposed-widget views-submit-button">
      <input type="submit" id="edit-submit-presentations" value="Apply"  class="form-submit" />
    </div>
  </div>
</div>

</div></form>
    </div>
  
  
      
   
  
 <apex:form >
  
 <!--<apex:pageBlock >-->
 <apex:repeat value="{!pre}" var="data">  

     <table>
        
     <tr>

     <b>Title:</b>&nbsp;<apex:outputtext value="{!data.Title__c}"/><!--<apex:outputtext rendered="{!if(data.Presentation_Recording_URL__c != '','true','false')}"><a href="{!data.Presentation_Recording_URL__c}"><img src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/Audio.PNG')}" title="View Recording" /></a></apex:outputtext>-->
     <!--<br/>-->

     </tr>
     
     <br/>
     <br/>
     <tr >
     <apex:outputtext rendered="{!If(data.Speaker__c != null,'true','false')}"><b >Speaker:</b>&nbsp;</apex:outputtext><apex:outputtext value="{!data.Speaker__c}" rendered="{!If(data.Speaker__c != null,'true','false')}"/>
    <!-- <br/>-->
     </tr>
     <br/>
     <br/>
     <tr >
     <apex:outputtext rendered="{!If(data.Date__c != null,'true','false')}"><b >Date:</b>&nbsp;</apex:OutputText><apex:OutputText value="{0,date,MMM' 'dd', 'yyyy}" rendered="{!If(data.Date__c != null,'true','false')}"><apex:Param value="{!data.Date__c}" /></apex:OutputText>
     <!--<br/>-->
      
     </tr>
     <br/>
     <br/>
     <tr >
     <apex:outputtext rendered="{!If(data.Event__r.Title__c != null,'true','false')}"><b >Event:</b>&nbsp;</apex:outputtext><apex:outputtext value="{!data.Event__r.Title__c}" rendered="{!If(data.Event__r.Title__c != null,'true','false')}"/>

     <!--<br/>-->
     </tr>
     <br/>
     <br/>
     <tr >
     <apex:outputtext rendered="{!If(data.Description__c != null,'true','false')}"><b  >Description:</b>&nbsp;</apex:outputtext><apex:outputtext value="{!data.Description__c}" escape="false" rendered="{!If(data.Description__c != null,'true','false')}"/>

    <!-- <br/>-->
     </tr>
     <br/>
     <br/>
     
     </table>
    
            </apex:repeat>
           <!--</apex:pageBlock>-->
 <br></br><br></br>
 <!--<apex:pageBlock >-->
 <body bgcolor="#cbe1eb"><b>Presentation/File</b></body>
   <apex:repeat value="{!tstData}" var="cls">

 <apex:repeat value="{!cls.col}" var="PSL" rendered="{!if(attachment.SIZE >0, 'true','false')}">
<br></br><br></br>
  
  <tr style="font-size:14px;">
       
        
  <a href="{!URLFOR($Action.Attachment.Download, PSL.Id)}" target="_blank"><img src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/PDF.PNG')}" title="View PDF"  /></a> &nbsp;&nbsp;<a href="{!URLFOR($Action.Attachment.Download, PSL.Id)}" target="_blank" >{!PSL.Name}</a></tr>
   
</apex:repeat><br></br><br></br>
<apex:repeat value="{!cls.rec}" var="RCL" rendered="{!Isaudio}">
<!--<td><br></br>{!RCL.Title__c}</td>-->
  <a href="{!RCL.Presentation_Recording_URL__c}"><img src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/Audio.PNG')}" title="View Recording" /></a>&nbsp;&nbsp;<a href="{!RCL.Presentation_Recording_URL__c}">{!RCL.Title__c}</a>

</apex:repeat>
</apex:repeat>
    <!-- <apex:dataTable value="{!attachment}" var="attach" rendered="{!if(attachment.SIZE >0, 'true','false')}">
    
     <apex:column width="6%" HeaderValue="File Type" >
                
  <p align="center"><a href="{!URLFOR($Action.Attachment.Download, attach.Id)}" ><img src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/PDF.PNG')}" title="View PDF"  /></a> </p>
          </apex:column>
      <apex:column HeaderValue="Presentation/File Title"> 
           <a href="{!URLFOR($Action.Attachment.Download, attach.Id)}" >{!attach.Name}</a>
                     </apex:column>
            <!-- <apex:column headerValue="Created By">
                
                <apex:outputField value="{!attach.OwnerId}"/>
            </apex:column> -->
          <!-- <apex:column headerValue="Size">
                
                <apex:outputField value="{!attach.BodyLength}"/>
            </apex:column>      -->      
           <!-- </apex:dataTable>-->
             <!--</apex:pageBlock> -->
              <br> </br>
              
   <!-- <apex:dataTable value="{!pre}" var="Record" rendered="{!Isaudio}">
   
     <apex:column width="6%" headerValue="File Type">
         <p align="center" ><a href="{!Record.Presentation_Recording_URL__c}"><img src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/Audio.PNG')}" title="View Recording" /></a></p>
   
  
            </apex:column>
           <apex:column HeaderValue="Presentation/File Title">
            <a href="{!Record.Presentation_Recording_URL__c}">{!Record.Title__c}</a>
          </apex:column>
             
           </apex:dataTable>-->
  </apex:form>     
 
  
  
  
</div>            <span class="clear"></span>
            </div>
          
      </div> <!--  /#center -->

          
      

    </div> <!-- /container -->
  
  <!-- footer -->
        <c:CpFooter />
  <!-- /footer -->
  </div>
<!-- /layout -->  

  </body>
 
</apex:page>