<!-- 
/*************************************************************************\
    @ Author        : Amit Kumar
    @ Date      : 06-May-2013
    @ Description   : This page is used to display Product Documentation.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/

-->
<apex:page showHeader="false" id="PageId" standardStylesheets="{!if(shows == 'none',false,true)}" sidebar="false" Controller="ProductDocumentControllerPartIntUsers" >
   <head>
    <title>MyVarian</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>


<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.TableSorter, '/jquery.tablesorter.min.js')}"/>


</head>
<!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

<!-- end here -->
<apex:outputpanel id="JsPanel">
<!-- <script>
 $(document).ready(function(){      
        $("[id$=DataListId]").tablesorter({ 
        // pass the headers argument and assing a object        
        headers: {            
            0: {          
                
            }, 
            
            1:{
               
            },
            
            2: {                

            },
            3:{
           
            },
            4:{
            
            },
            5:{
            
            }
            
        }       
    }); 
    
    $('.headerRow').click(function(){
                    //on header click remove the styling                    
                    $j('.dataRow').removeClass('last');
                    $j('.dataColumn').removeClass('addUpdated');
    });
    
    $("[id$=DataListId]").bind("sortEnd",function(e) {
                    //alert("#SubmitButton");
                    $('.mySort').remove();
                    $('.headerSortDown').children().append('<apex:image value="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/arrow-desc.png')}" styleClass="sortDesc mySort"   /> ');
                    $('.headerSortUp').children().append('<apex:image value="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/arrow-asc.png')}" styleClass="sortAsc mySort"  />');
                                        
                });
    
    
 }); 

</script> -->
<script type="text/javascript">
            $(function(){
            $('#dialog_link').click(function(){
                $('<iframe src="https://myvarian.com/sites/all/modules/varian/filterproducts/help/index.html" width="100%" height="100%" frameborder="0" scrolling="yes" style="min-width: 95%;height:100%;"/>').dialog({ modal: true, width: 1200, height: 500});
                return false;
            
            });
            });
      </script>

</apex:outputpanel>
<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$Label.organizationurl}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" title="VMS-amanitri" alt="VMS-amanitri" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->
<div id="wrapper">
<c:CpPortalHeader />
<div id="container">
<c:CpPortalSideMenu />
<apex:form >
<apex:actionFunction Name="reLoadPanel" rerender="myPanel, bnrImg, JsPanel,docTreats, myButtons,docTp,docVr,docTreatTech,RegionTp" action="{!Beginning}" />
<apex:actionFunction Name="keypressact" rerender="myPanel, bnrImg, JsPanel, myButtons" action="{!showrecords1}"/>

<div id="center" class="CenterNoRightSide">
    <!-- <iframe id="cntSearch" src="about:blank" frameborder="0" scrolling="yes"></iframe> -->       
    <apex:image id="bnrImg" value="{!strBanner}" alt="Product Documentation"  style="margin-bottom:20px;" />
    
                
                    <div id="beforetitle">
              <div id="block-filterproducts-0" class="block block-filterproducts">
 
  <div class="content">
    
    <h2><span>Search for Product Information</span></h2>
    
   
    <div class="view-filters">
      <form action="/docs"  accept-charset="UTF-8" method="get" id="views-exposed-form-docs-filtered-page-1">

          
<div><div class="views-exposed-form">
  <div class="views-exposed-widgets clear-block">
  <apex:outputpanel rendered="{!isRegionvisible}">
  <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                  <label for="edit-region">
            Region          </label>
                        <div class="views-widget">
          <div class="form-item" id="edit-region-wrapper">
         <apex:selectList id="RegionTp" value="{!RegionAll}" onChange="reLoadPanel(); return false;" size="1"  styleClass="form-select">
                    <apex:selectOptions value="{!Regions}"/>
         </apex:selectList>
</div>
        </div> </div></apex:outputpanel>
          <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                  <label for="edit-product">
            Product          </label>
                        <div class="views-widget">
          <div class="form-item" id="edit-product-wrapper">
         <apex:selectList id="prdTp" value="{!Productvalue}" onChange="reLoadPanel(); return false;" size="1"  styleClass="form-select">
                    <apex:selectOptions value="{!options}"/>
         </apex:selectList>
</div>
        </div>
      </div>
          <div class="views-exposed-widget views-widget-filter-tid" >
                  <label for="edit-libtid">
            Doc Type          </label>
                        <div class="views-widget">
          <div class="form-item" id="edit-libtid-wrapper">
            <apex:selectList id="docTp" value="{!DocumentTypes}" onChange="reLoadPanel(); return false;" size="1" styleClass="form-select" >
                    <apex:selectOptions value="{!DocTypes}"/>
                </apex:selectList>
               <!-- <apex:selectList id="docTp" value="{!DocumentTypes}" onChange="reLoadPanel(); return false;" size="1" styleClass="form-select">
                    <apex:selectOptions value="{!DocTypes}"/>
                </apex:selectList>-->
</div>
        </div>
      </div>
       <apex:outputpanel id="docTreats">
       <apex:outputpanel rendered="{!isVisible}">
          <div class="views-exposed-widget views-widget-filter-tid_1">
                  <label for="edit-vtid">
            Material Type          </label>
                        <div class="views-widget">
         
<div class="form-item" id="edit-mtid-wrapper">
                        <apex:selectList id="docVr" value="{!MaterialTypeInfo}" onChange="reLoadPanel(); return false;" size="1" styleClass="form-select" >
                                <apex:selectOptions value="{!MaterialTypes}"/>
                        </apex:selectList>
</div>
<!----Block End-->
        </div>
        
       
         
      </div>
    
       
      <div  class="views-exposed-widget views-widget-filter-tid" >
                  <label for="edit-libtid">
            Treatment Technique          </label>
                        <div class="views-widget">
          <div class="form-item" id="edit-Doctid-wrapper">
            <apex:selectList id="docTreatTech" value="{!TreatmentTechniquesInfo}" onChange="reLoadPanel(); return false;" size="1" styleClass="form-select"  >
                    <apex:selectOptions value="{!TreatmentTechniques}"/>
                </apex:selectList>
               <!-- <apex:selectList id="docTp" value="{!DocumentTypes}" onChange="reLoadPanel(); return false;" size="1" styleClass="form-select">
                    <apex:selectOptions value="{!DocTypes}"/>
                </apex:selectList>-->
</div>
        </div>
      </div></apex:outputpanel></apex:outputpanel>
       <div class="views-exposed-widget views-widget-filter-keys">
            <label for="edit-keys"> Refine using keyword: </label>
            <div class="views-widget">
                <div class="form-item" id="edit-keys-wrapper">
                <apex:inputText value="{!Document_TypeSearch}" styleClass="form-text" size="20" title="Enter the terms you wish to search for." maxlength="100" onkeypress="return noenter(event)"/>
                </div>
            </div>
        </div> 
        <!-- 
        <div class='searchfield'>
            <span>Refine using keyword:</span>
            <apex:inputText styleClass="form-text" value="{!Document_TypeSearch}" size="10" maxlength="100" id="searchfield" onkeypress="return onKeyup_TxtFieldcom();"/>
        </div> -->
      
       <div class="views-exposed-widget views-submit-button">
      
      <apex:commandButton value="Apply" styleClass="form-submit" id="edit-submit-docs-filtered" action="{!showrecords1}" reRender="myPanel, JsPanel,myButtons"/>
      <apex:commandButton value="Reset" styleClass="form-submit" id="edit-submit-docs-filtered1" action="{!reset}"    />
    </div>
  </div>
</div>

</div></form>
    </div>
  
 
    <div class="view-content">
    <br/>
   
    <apex:outputPanel id="myPanel" >
        <apex:dataTable id="DataListId" value="{!lContentVersions}" var="DocInfo"  styleClass="views-table cols-11" rowClasses="even,odd">

            <apex:column headerValue="Title" styleClass="views-field views-field-title, {!If(DocInfo.Newly_Created__c == true,'addNew','')} {!If(DocInfo.Recently_Updated__c == true,'addUpdated','')}" >
                <apex:facet name="header">
                <apex:commandLink value="Title" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Title" assignTo="{!sortField}"/>
                           </apex:commandLink>

                <!-- <a id="title" title="sort by Title" class="active" style="cursor: pointer;">Title</a> -->
                </apex:facet>               
                
                <apex:outputLink value="/sfc/servlet.shepherd/version/download/{!DocInfo.Id}" rendered="{!!DocInfo.Mutli_Languages__c}">{!DocInfo.Title}</apex:outputLink>             
                <apex:outputLink value="/apex/CpProductDocChdDtl?Id={!DocInfo.ContentDocumentId}" rendered="{!DocInfo.Mutli_Languages__c}">{!DocInfo.Title}</apex:outputLink>
                
            </apex:column>

            <apex:column headerValue="Date" headerClass="views-field views-field-field-date-value"> 
                <apex:facet name="header"> 
                <apex:commandLink value="Date" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Date__c" assignTo="{!sortField}"/>
                           </apex:commandLink>

                <!-- <a id="title" title="sort by Date" class="active" style="cursor: pointer;"> Date </a>  -->
                </apex:facet> 
                <apex:OutputText value="{0,date,MMM'. 'yyyy}" style="white-space:nowrap"><apex:Param value="{!DocInfo.Date__c}" /></apex:OutputText>
            </apex:column>

            <apex:column headerValue="Doc.Type" headerClass="views-field views-field-tid-1">  
              <apex:facet name="header"> 
              <apex:commandLink value="Doc.Type" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Document_Type__c" assignTo="{!sortField}"/>
                           </apex:commandLink>

             <!-- <a id="DocType" title="sort by Doc.Type" class="active" style="cursor: pointer;"> Doc.Type </a> -->
              </apex:facet>
            <apex:outputText value="{!DocInfo.Document_Type2__c}"/></apex:column>

           
            
            <apex:facet name="footer">Showing Page # {!pageNumber} of {!totalPages}</apex:facet>
        </apex:dataTable>
    </apex:outputPanel>    
                   
           
   </div>
   
  
   
    <div class="item-list">
        <ul class="pager">
        <apex:outputPanel id="myButtons">
            <apex:outputPanel rendered="{!if(totalPages<=1,'false','true')}">
                <li class="pager-current first">
                   <apex:commandlink action="{!Beginning}" title="First" value="First"  reRender="myPanel,myButtons, JsPanel" rendered="{!!DisablePrevious}"/>
                   <apex:outputText value="First" title="First" rendered="{!DisablePrevious}"/>
                </li>
                <li class="pager-item"> <apex:commandLink action="{!Previous}" rendered="{!!DisablePrevious}" title="<<Previous" value="<<Previous" reRender="myPanel,myButtons, JsPanel" />
                <apex:outputText value="<<Previous" title="<<Previous" rendered="{!DisablePrevious}"/>
                </li>      
                <li class="pager-item"><apex:commandLink action="{!Next}" title="Next>>" value="Next>>" rendered="{!!DisableNext}" reRender="myPanel,myButtons, JsPanel"/>
                <apex:outputText value="Next>>" title="Next>>"   rendered="{!DisableNext}"/>
                </li>
                
               <li class="pager-item"><apex:commandLink action="{!End}" title="End" value="Last" reRender="myPanel,myButtons, JsPanel" rendered="{!!DisableNext}" /> 
                 <apex:outputText value="Last" title="End" rendered="{!DisableNext}"/>
                 </li>  
            </apex:outputPanel>   
          </apex:outputPanel>
        </ul>
    </div>  
   
   
</div></div></div></div>
<script LANGUAGE="JavaScript">

function noenter(e){               
                if(window.event){                    
                    key = window.event.keyCode;     //IE               
                } 
                else{                    
                    key = e.which;     //firefox               
                }               
                if(key == 13) { 
                    //alert('hi');                
                    keypressact();                     
                    return false;               
                } else{                    
                    return true;               
                }          
            }     

</script> 

 </apex:form>
 </div>
<!-- footer -->

     <!-- footer --> 
<!-- </div></div> -->
<SCRIPT LANGUAGE="JavaScript">
            
function go(loc){ 
        popupWindow = window.open(loc,'name','width=1000,height=800,scrollbars=1');
        popupWindow.focus();
        
                 
    }
    function parent_disable() {
    

   // alert('hi');
//if(popupWindow && !popupWindow.closed)
//popupWindow.focus();
}
                         function refreshpg()
    {
        window.location.href ='/apex/CpProductDocumentation';
    }
</script>
<!-- footer -->
    <c:CpFooter ></c:CpFooter>  
     <!-- footer --> 
</div>
</apex:page>