<!-- 
/*************************************************************************\
    @ Author        : Harshita Sawlani
    @ Date      : 24-Apr-2013
    @ Description   : This page is used to display customer support for Prod Improvement.
    @ Author        : Amit Kumar
    @ Date      : 15-May-2013
    @ Description   : Add the functionality for email routing acc. to different services on contact us page.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/

-->
<apex:page showHeader="false" standardStylesheets="{!if(shows == 'none',false,true)}" sidebar="false" controller="CpProdImproveController" id="pageblock" action="{!firsttimelogin}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title>Contact us | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>
   
<script type="text/javascript" language="javascript">
            $(document).ready(function(){
                    if("{!Request}" == "ProductImprovement")
                    {
                     if("{!IndicatorPopUp}" != "False")
                     {
                    $("#dialog").dialog({
                        resizable: false,
                      height:240,
                      width:500,
                      modal: true,
                      title:"  ",
                      close: function() {                         
                          window.open('/apex/CpContactUs','_self');
                        },
                      buttons: {
                       Cancel: function() {
                          $( this ).dialog( "close" );
                          window.open('/apex/CpContactUs','_self');
                        },
                        "Continue to Product Ideas": function() {
                          $( this ).dialog( "destroy" );                          
                        }
                       
                      }
                                        
                    });
                    /*
                        t = 'Submit Product Feedback';
                        a = 'http://www.myvarian.com/sites/all/modules/varian/contactvarian/submit_product_feedback.html?height=200&width=500&modal=true';
                        g = '';
                        tb_show(t,a,g);
                   */
                   }
                   }
            });
            
            $('#remouteassist').click(function () {
                alert('test');
                t = 'test';
                a = '#TB_inline?height=200&width=350&inlineId=remouteassistwindow';          
                tb_show(t,a,g);
                return flase;
            });
        // function to check the required field
        
         
        
        </script>
 
<!-- for community -->
    <script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
        </script>
        <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
        </script>
        <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
        <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
        <script type="text/javascript">
         

    SetupTreeNode.prototype.initializeSetup = function() {
      var openNodes = '';
      if (openNodes != null) {
        SetupTreeNode.prototype.openListSetup = openNodes.split(':');
      }
      SetupTreeNode.prototype.personalSetupV2 = false;
    }

        </script><script>
          try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
    try{DynamicCss.doneLoading()}catch(e){}
        </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
        <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

    <!-- end here -->
 
</head>

 <body>
 <!-- Community header -->
    <apex:outputpanel style="display:{!shows}"> 
    <div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
         MyVarian
        </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem" href="{!$label.Org_Domain_URL}">
          Varian Medical Systems Internal
        </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
          {!Usrname}
        </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
          Logout
        </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
          00DM00000013QDl
        </div></div></apex:outputpanel>
    <!-- end here -->
 <div id="wrapper">
 
    <c:CpHeader rendered="{!!loginuser}"/>
    <c:CpPortalHeader rendered="{!loginuser}"/>
    <!-- /topToolBar -->
 
 

 <div id="container">
 
 <c:CpSideMenu rendered="{!!loginuser}"/>
 <c:CpPortalSideMenu rendered="{!loginuser}"/>
 
 <apex:form id="innerForm">
 <apex:outputpanel id="out"> <!-- <apex:pageMessages /> --> </apex:outputpanel>
 <apex:actionFunction Name="cust_Info" action="{!verify}" rerender="result" />
<apex:actionFunction Name="cust_Info_Externaluser" action="{!verify}"  />
<apex:actionFunction name="abccon" action="{!updatecon}"   />
<apex:actionFunction name="abccon" action="{!updatecon1}"   />

<!--<apex:actionFunction name="abccon" action="{!updatecon1}"   />-->
 
 <div id="center" class="CenterNoRightSide contactvarian">
        
                
                
                    
                        <div id="sidebar-right" class="sidebar sidebarRight">
           <c:CpContactmenu />
            </div>
            
                    <h1 class="ContactUs">Contact Us</h1>           
            <div class="centerTwoCol">  
     <div id="diverr" style="display:none" class="messages error">
</div>
<apex:outputPanel id="refresh">
<div class="messages status" style="display:{!IF(dspMsg == 'true','block','none')};" id="divs">
  
   <apex:outputText value="{!confirmerror}" rendered="{!display}" ></apex:outputText> 
   
   <apex:outputPanel style="height:10px;" id="theMsg">  
   <apex:messages styleClass="errorMsg" id="Msg"/>    
</apex:outputPanel>
   </div>  </apex:outputPanel>
   <!-- This block is for help Ticket -->
    <h3 style="display:{!helpticket}">Clinical Help Desk Ticket</h3>
              <p style="display:{!helpticket}">Use to report product related issues or request product/applications support.</p>
              <p style="display:{!helpticket}">
                 <a href="http://www.gotoassist.com/sb/varianmedicalsystems"><strong>Clinical Help Desk Remote Connect Session</strong></a>
                 <br/>Use in conjunction with a live Clinical Help Desk call.
              </p>
              <p>
              </p>       
   <!-- This block is for service ticket -->

    <h3 style="display:{!serviceticket}">Service Request</h3>
      <p style="display:{!serviceticket}">Use to request non-emergency service (include equipment serial number whenever possible).</p>   
                
     <!-- This block is for Request for Upgrades Quote-->      
                            
           <h3 style="display:{!requpgradequote}">Request for Upgrades Quote</h3>
           <p style="display:{!requpgradequote}">Use this form to request a sales quote for Varian equipment/software.</p>
  <!-- This block is for Product Improvement -->      
                            
           <h3 style="display:{!prodimprove}">Product Improvement Request</h3>
           <p style="display:{!prodimprove}">Use to recommend new features or suggest improvements to our products.</p>
           
           <!-- This block is for Registration and Login Question-->      
                            
           <h3 style="display:{!regandloginques}">Registration and Login Question</h3>
           <p style="display:{!regandloginques}">Use this form to submit registration/login questions not related to password issues.</p>

           <!-- This block is for Product Access Update-->      
                            
           <h3 style="display:{!ProductAccessUpd}">Product Access Update</h3>
           <p style="display:{!ProductAccessUpd}">Use this form to request access to additional product information.</p>
            
            <!-- This block is for Cannot Find Information or File Download Issues-->      
                            
           <h3 style="display:{!Filedownloadissue}">Cannot Find Information or File Download Issues</h3>
           <p style="display:{!Filedownloadissue}">Use to report difficulty downloading or finding content.</p>
             
             <!-- This block is for Webinars-->      
                            
           <h3 style="display:{!Webinar}">Webinars</h3>
           <p style="display:{!Webinar}">Use to request information about the customer presented webinar program.</p>
               
               <!-- This block is for Website Feedback-->      
                            
           <h3 style="display:{!Websfeedback}">Website Feedback</h3>
           <p style="display:{!Websfeedback}">Use to report issues about or suggest changes to MyVarian website.</p>
           
           <!-- This block is for Certificate Manager-->      
                            
           <h3 style="display:{!CertmanInquiry}">Certificate Manager</h3>
           <p style="display:{!CertmanInquiry}">Use to ask questions about how to access CE certificates online.</p>

          <!-- This block is for Learning Center-->      
                            
           <h3 style="display:{!LearnCentre}">Learning Center</h3>
           <p style="display:{!LearnCentre}">Use to ask questions about the available e-learning modules.</p>

 <!-- Paper Document Request-->      
                            
           <!--<h3 style="display:{!PaperDoc}">Paper Document Request</h3>-->
           <!--<p style="display:{!PaperDoc}">Use this form to request Varian product documentation in printed paper form.</p>-->
            <h3 style="display:{!PaperDoc}">Paper Document Request</h3>
           <p style="display:{!PaperDoc}">Use this form to request Varian product documentation in printed paper form.</p>
           <h3 style="display:{!IF(blnVisibleCode==true,'block','none')};">Personal Information Update</h3>
      

<div style="display:{!IF(blnVisibleCode==true,'none','block')};"><input type="hidden" name="type_of_request" id="edit-type-of-request" value="2"/>
<div class="form-item" id="edit-profile-firstname-wrapper">
 <label for="edit-profile-firstname">First Name: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="profile_firstname" id="edit-profile-firstname" size="60" value="" class="form-text required"/> -->
  <apex:inputText maxlength="128" value="{!CustFname1}" size="60" id="edit-profile-firstname" styleClass="form-text required" />
</div>
<div class="form-item" id="edit-profile-lastname-wrapper">
 <label for="edit-profile-lastname">Last Name: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="profile_lastname" id="edit-profile-lastname" size="60" value="" class="form-text required"/> -->
 <apex:inputText maxlength="128" value="{!CustLname1}" size="60" id="edit-profile-lastname" styleClass="form-text required" /> 
</div>
<div class="form-item" id="edit-profile-institution-wrapper">
 <label for="edit-profile-institution">Institution: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="profile_institution" id="edit-profile-institution" size="60" value="" class="form-text required"/> -->
 <apex:inputText maxlength="128" value="{!AcctName1}" size="60" id="edit-profile-institution" styleClass="form-text required" />
</div>
<div class="form-item" id="edit-profile-address-wrapper">
 <label for="edit-profile-address">Address:<span class="form-required" title="This field is required.">*</span> </label>
 <!-- <input type="text" maxlength="128" name="profile_address" id="edit-profile-address" size="60" value="" class="form-text"/> -->
<apex:inputText maxlength="128" value="{!CustStreet1}" size="60" id="edit-profile-address" styleClass="form-text" />
</div>
<div class="form-item" id="edit-profile-city-wrapper">
 <label for="edit-profile-city">City: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="profile_city" id="edit-profile-city" size="60" value="" class="form-text required"/> -->
<apex:inputText maxlength="128" value="{!CustCity1}" size="60" id="edit-profile-city" styleClass="form-text required" />
</div>
<div class="form-item" id="edit-profile-state-wrapper">
 <label for="edit-profile-state">State: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="profile_state" id="edit-profile-state" size="60" value="" class="form-text required"/> -->
 <apex:inputText maxlength="128" value="{!CustState1}" size="60" id="edit-profile-state" styleClass="form-text required" />

 <div class="description">Enter 'NA' if not applicable.</div>
</div>
<div class="form-item" id="edit-profile-country-wrapper">
 <label for="edit-profile-country">Country: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <select name="profile_country" class="form-select required" id="edit-profile-country"><option value="United States">United States</option><option value="Afghanistan">Afghanistan</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="American Samoa">American Samoa</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Anguilla">Anguilla</option><option value="Antarctica">Antarctica</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Aruba">Aruba</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Bouvet Island">Bouvet Island</option><option value="Brazil">Brazil</option><option value="British Indian Ocean Territory">British Indian Ocean Territory</option><option value="Brunei Darussalam">Brunei Darussalam</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Canada">Canada</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Christmas Island">Christmas Island</option><option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo">Congo</option><option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option><option value="Cook Islands">Cook Islands</option><option value="Costa Rica">Costa Rica</option><option value="Cote D'ivoire">Cote D'ivoire</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option><option value="French Guiana">French Guiana</option><option value="French Polynesia">French Polynesia</option><option value="French Southern Territories">French Southern Territories</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option><option value="Gibraltar">Gibraltar</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guadeloupe">Guadeloupe</option><option value="Guam">Guam</option><option value="Guatemala">Guatemala</option><option value="Guinea">Guinea</option><option value="Guinea-bissau">Guinea-bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option><option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option><option value="Honduras">Honduras</option><option value="Hong Kong">Hong Kong</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option><option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Israel">Israel</option><option value="Italy">Italy</option><option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option><option value="Korea, Republic of">Korea, Republic of</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macao">Macao</option><option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Martinique">Martinique</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mayotte">Mayotte</option><option value="Mexico">Mexico</option><option value="Micronesia, Federated States of">Micronesia, Federated States of</option><option value="Moldova, Republic of">Moldova, Republic of</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montserrat">Montserrat</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="Netherlands Antilles">Netherlands Antilles</option><option value="New Caledonia">New Caledonia</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Niue">Niue</option><option value="Norfolk Island">Norfolk Island</option><option value="Northern Mariana Islands">Northern Mariana Islands</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palau">Palau</option><option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Pitcairn">Pitcairn</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Puerto Rico">Puerto Rico</option><option value="Qatar">Qatar</option><option value="Reunion">Reunion</option><option value="Romania">Romania</option><option value="Russian Federation">Russian Federation</option><option value="Rwanda">Rwanda</option><option value="Saint Helena">Saint Helena</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option><option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option><option value="Samoa">Samoa</option><option value="San Marino">San Marino</option><option value="Sao Tome and Principe">Sao Tome and Principe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia and Montenegro">Serbia and Montenegro</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option><option value="Spain">Spain</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syrian Arab Republic">Syrian Arab Republic</option><option value="Taiwan, Province of China">Taiwan, Province of China</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania, United Republic of">Tanzania, United Republic of</option><option value="Thailand">Thailand</option><option value="Timor-leste">Timor-leste</option><option value="Togo">Togo</option><option value="Tokelau">Tokelau</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Turks and Caicos Islands">Turks and Caicos Islands</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option><option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Venezuela">Venezuela</option><option value="Viet Nam">Viet Nam</option><option value="Virgin Islands, British">Virgin Islands, British</option><option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option><option value="Wallis and Futuna">Wallis and Futuna</option><option value="Western Sahara">Western Sahara</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option></select> -->
<apex:selectList value="{!Countryvalue}" size="1" id="edit-profile-country">
            <apex:selectOptions value="{!optionscountry}"/>
        </apex:selectList> 
        
</div>
<div class="form-item" id="edit-postalcode-wrapper">
 <label for="edit-postalcode">Postal Code: </label>
 <!-- <input type="text" maxlength="128" name="email" id="edit-email" size="60" value="" class="form-text required"/>-->
 <apex:inputText maxlength="128" value="{!CustZip1}" size="60" id="edit-profile-postalcode" styleClass="form-text required" />

</div>
<div class="form-item" id="edit-email-wrapper">
 <label for="edit-email">E-mail: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="email" id="edit-email" size="60" value="" class="form-text required"/>-->
 <apex:inputText maxlength="128" value="{!CustEmail}" size="60" id="edit-profile-email" styleClass="form-text required" />

</div>
<div class="form-item" id="edit-profile-phone-wrapper">
 <label for="edit-profile-phone">Telephone: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="128" name="profile_phone" id="edit-profile-phone" size="60" value="" class="form-text required"/> -->
 <apex:inputText maxlength="128" value="{!CustPhone1}" size="60" id="edit-profile-phone" styleClass="form-text required" />

</div>
<div class="form-item" id="edit-product-wrapper">
<apex:outputpanel rendered="{!IsProductPaperDoc}">
<label for="edit-product">Product: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <select name="{!Selectval}" class="form-select required" id="edit-product"><option value="" selected="selected">Select...</option><option value="4DITC">4DITC</option><option value="Acuity">Acuity</option><option value="Argus">Argus</option><option value="ARIA CSS">ARIA CSS</option><option value="ARIA for Medical Oncology">ARIA for Medical Oncology</option><option value="ARIA for Radiation Oncology">ARIA for Radiation Oncology</option><option value="ARIA Standard / DIC">ARIA Standard / DIC</option><option value="BodyArray">BodyArray</option><option value="BrachyTherapy Accessories/Applicators">BrachyTherapy Accessories/Applicators</option><option value="BrachyTherapy BrachyVision">BrachyTherapy BrachyVision</option><option value="BrachyTherapy GammaMed">BrachyTherapy GammaMed</option><option value="BrachyTherapy VariSeed">BrachyTherapy VariSeed</option><option value="BrachyTherapy VariSource">BrachyTherapy VariSource</option><option value="BrachyTherapy Vitesse">BrachyTherapy Vitesse</option><option value="Calypso">Calypso</option><option value="Citrix">Citrix</option><option value="Clinac">Clinac</option><option value="Duet">Duet</option><option value="Eclipse">Eclipse</option><option value="FastPlan">FastPlan</option><option value="General System Integration">General System Integration</option><option value="Government Affairs">Government Affairs</option><option value="HARRP">HARRP</option><option value="IEM">IEM</option><option value="IKOE">IKOE</option><option value="MLC">MLC</option><option value="Novalis Tx">Novalis Tx</option><option value="OBI/CBCT">OBI/CBCT</option><option value="OncoView">OncoView</option><option value="Optical Guidance Platform">Optical Guidance Platform</option><option value="Portal Dosimetry">Portal Dosimetry</option><option value="PortalVision">PortalVision</option><option value="Proton">Proton</option><option value="RapidArc">RapidArc</option><option value="Real-time Position Management System">Real-time Position Management System</option><option value="SonArray">SonArray</option><option value="Trilogy">Trilogy</option><option value="TrueBeam">TrueBeam</option><option value="UNIQUE">UNIQUE</option><option value="Varian Treatment">Varian Treatment</option><option value="VARiS Vision">VARiS Vision</option><option value="Verification Console">Verification Console</option><option value="Ximatron">Ximatron</option><option value="XimaVision">XimaVision</option></select> -->
 <apex:selectList value="{!Productvalue}" size="1" id="edit-product1" onchange="reLoadPanel(); return false;">
            <apex:selectOptions value="{!options}"/>
        </apex:selectList> 
       <!--<apex:actionFunction Name="reLoadPanel" rerender="documentlanguage,IsClickButtn" action="{!documentlanguage}" status="splashStatus" />-->
   </apex:outputpanel>
   <apex:outputpanel rendered="{!!IsProductPaperDoc}">    
 <label for="edit-product">Product: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <select name="{!Selectval}" class="form-select required" id="edit-product"><option value="" selected="selected">Select...</option><option value="4DITC">4DITC</option><option value="Acuity">Acuity</option><option value="Argus">Argus</option><option value="ARIA CSS">ARIA CSS</option><option value="ARIA for Medical Oncology">ARIA for Medical Oncology</option><option value="ARIA for Radiation Oncology">ARIA for Radiation Oncology</option><option value="ARIA Standard / DIC">ARIA Standard / DIC</option><option value="BodyArray">BodyArray</option><option value="BrachyTherapy Accessories/Applicators">BrachyTherapy Accessories/Applicators</option><option value="BrachyTherapy BrachyVision">BrachyTherapy BrachyVision</option><option value="BrachyTherapy GammaMed">BrachyTherapy GammaMed</option><option value="BrachyTherapy VariSeed">BrachyTherapy VariSeed</option><option value="BrachyTherapy VariSource">BrachyTherapy VariSource</option><option value="BrachyTherapy Vitesse">BrachyTherapy Vitesse</option><option value="Calypso">Calypso</option><option value="Citrix">Citrix</option><option value="Clinac">Clinac</option><option value="Duet">Duet</option><option value="Eclipse">Eclipse</option><option value="FastPlan">FastPlan</option><option value="General System Integration">General System Integration</option><option value="Government Affairs">Government Affairs</option><option value="HARRP">HARRP</option><option value="IEM">IEM</option><option value="IKOE">IKOE</option><option value="MLC">MLC</option><option value="Novalis Tx">Novalis Tx</option><option value="OBI/CBCT">OBI/CBCT</option><option value="OncoView">OncoView</option><option value="Optical Guidance Platform">Optical Guidance Platform</option><option value="Portal Dosimetry">Portal Dosimetry</option><option value="PortalVision">PortalVision</option><option value="Proton">Proton</option><option value="RapidArc">RapidArc</option><option value="Real-time Position Management System">Real-time Position Management System</option><option value="SonArray">SonArray</option><option value="Trilogy">Trilogy</option><option value="TrueBeam">TrueBeam</option><option value="UNIQUE">UNIQUE</option><option value="Varian Treatment">Varian Treatment</option><option value="VARiS Vision">VARiS Vision</option><option value="Verification Console">Verification Console</option><option value="Ximatron">Ximatron</option><option value="XimaVision">XimaVision</option></select> -->
 <apex:selectList value="{!Productvalue}" size="1" id="edit-product" >
            <apex:selectOptions value="{!options}"/>
        </apex:selectList> 
</apex:outputpanel> 
 <div class="description">For products not listed, choose the product family (i.e. for MLC choose Clinac, for OBI choose Image Guidance).</div>
</div>
<apex:outputpanel rendered="{!!IsProductPaperDoc}">  
<div class="form-item" id="edit-version-wrapper">
 <label for="edit-version">Product Version: </label>
<apex:inputText maxlength="128" value="{!Productversion}" size="60" id="edit-version" styleClass="form-text"/></div>
 
<div class="form-item" id="edit-request-subject-wrapper">
 <label for="edit-request-subject">Subject: </label>
 
<apex:inputText maxlength="128"  id="edit-request-subject" size="60" value="{!ReqSubject}" styleClass="form-text"/></div>
<div class="form-item" id="edit-message-wrapper">
 <label for="edit-message">Long Description: <span class="form-required" title="This field is required.">*</span></label>
 <div class="resizable-textarea"><span> <apex:inputTextarea id="edit-message" rows="5" value="{!longdesc}" styleClass="form-textarea resizable required textarea-processed"/><div class="grippie" style="margin-right: -8px;"></div></span></div>
</div></apex:outputpanel> 
<apex:outputPanel style="display:{!attach}" id="att">
<div class="form-item" id="edit-contact-attach-wrapper">
 <label for="edit-contact-attach">Attachment: </label>


<apex:inputFile styleclass="form-file" id="edit-contact-attach" size="60" value="{!newatt.Body}" contentType="text/plain; charset=UTF-8" fileName="{!newatt.Name}" rendered="{!if(attach=='none','false','true')}"/>

</div>

</apex:outputPanel>

<!-- ******** Displaying Captcha Error ********* -->
<apex:outputPanel id="result">
      <font color="red">  {!result}</font>

 
 <apex:outputPanel rendered="{!IF(forcaptcha == 'block',true,false)}">
<fieldset class="captcha"  style="width:700px;">
<legend>CAPTCHA</legend><!--<div class="description">This question is for testing whether you are a human visitor and to prevent automated spam submissions.</div>--><br></br>
<font size="3"><div>Please enter <b>black</b> characters only.</div></font><br></br><div style="display:inline-block;Vertical-align:bottom !important;padding:15px !important" class="Sidebar-CenterRight"><apex:commandButton value="Reset" rerender="code" styleClass="form-submit" /></div>
 <apex:outputPanel styleClass="container" layout="block" id="code">
        <apex:outputText value="{!char1}" styleClass="blackChar"/>
        <apex:outputText value="{!char2}" styleClass="redChar"/>
        <apex:outputText value="{!char3}" styleClass="blackChar"/>
        <apex:outputText value="{!char4}" styleClass="redChar"/> 
        <apex:outputText value="{!char5}" styleClass="blackChar"/>
        <apex:outputText value="{!char6}" styleClass="redChar"/> 
    </apex:outputPanel>
    <apex:inputText value="{!input}" styleClass="input" />
   </fieldset>
 </apex:outputPanel>


 </apex:outputPanel>


<apex:actionStatus id="splashStatus" stopText="">
        <apex:facet name="start" >
            <div>
                <div class="popupBackground" />
                <div class="PopupPanel">
                    <table border="0" width="100%" height="100%">
                        <tr>
                            <td align="center"><b>Please Wait....</b></td>
                        </tr>
                        <tr>
                            <td align="center"><img src="{!$Resource.ProgressBar}"/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </apex:facet>
        
    </apex:actionStatus>
    <apex:actionFunction Name="valRadiodatadataValue"  action="{!methodone}" reRender="IsClickButtn,MultipleChkErrorMssg" status="splashStatus"><apex:param name="Radioid" value=""/></apex:actionFunction>
    <apex:actionFunction Name="reLoadPanel" rerender="myPanel,dl,messageprinting,MultipleChkErrorMssg,IsClickButtn,refresh" action="{!FakeRender}" status="splashStatus"/>
<fieldset style="display:{!show};">
<apex:outputpanel id="documentlanguage">
<div class="form-item" id="edit-language-wrapper">
 <label for="edit-language">Document Language: <span class="form-required" title="This field is required.">*</span></label>

 <apex:selectList value="{!Languagevalue }" size="1" onChange="reLoadPanel(); return false;" id="dl">
            <apex:selectOptions value="{!DocLanguages}"/>
        </apex:selectList> 
</div>
</apex:outputpanel>
<apex:outputPanel id="messageprinting" >
<div style="display:{!IsErrmessage}" ><font color="red">
<b>Documents for the language you selected are not available for the printing this time.Please make a different selection.</b></font></div>
</apex:outputpanel> 
<apex:outputPanel id="MultipleChkErrorMssg" >
<div style="display:{!IsErrorCheckbox}" ><font color="red">
<b>You are allowed to select only one document selection per paper document request.</b></font></div>
</apex:outputpanel>
<apex:outputPanel id="myPanel" >
 <div style="display:{!IsDataGridVis}" >
        <apex:dataTable id="DataListId" value="{!lContentVersions}" var="DocInfo"  styleClass="views-table cols-11" rowClasses="even,odd" >
          
          <apex:column headerValue="">
<!--<apex:inputCheckbox value="{!DocInfo.isSelected}"  >
<apex:actionSupport event="onclick" action="{!methodOne}" reRender="IsClickButtn,MultipleChkErrorMssg" status="splashStatus"/>
</apex:inputCheckbox>-->
<input type="radio" name="aa" onclick="valRadiodata(this.value);"  Autocomplete="Off"  value="{!DocInfo.ContVer.id}" >
</input>
 </apex:column>
            <apex:column headerValue="Title" styleClass="views-field views-field-title" >
                <apex:facet name="header">
                <apex:commandLink value="Title" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Title" assignTo="{!sortField}"/>
                           </apex:commandLink>

                <!-- <a id="title" title="sort by Title" class="active" style="cursor: pointer;">Title</a> -->
                </apex:facet>               
                
                <apex:outputLabel value="{!DocInfo.ContVer.Title}"></apex:outputLabel>            

                
            </apex:column>
  <apex:column headerValue="Date" headerClass="views-field views-field-field-date-value"> 
                <apex:facet name="header"> 
                <apex:commandLink value="Date" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Date__c" assignTo="{!sortField}"/>
                           </apex:commandLink>

                <!-- <a id="title" title="sort by Date" class="active" style="cursor: pointer;"> Date </a>  -->
                </apex:facet> 
                <apex:OutputText value="{0,date,MMM'. 'yyyy}" style="white-space:nowrap"><apex:Param value="{!DocInfo.ContVer.Date__c}" /></apex:OutputText>
            </apex:column>

            <apex:column headerValue="Doc.Type" headerClass="views-field views-field-tid-1">  
              <apex:facet name="header"> 
              <apex:commandLink value="Doc.Type" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Document_Type__c" assignTo="{!sortField}"/>
                           </apex:commandLink>

             <!-- <a id="DocType" title="sort by Doc.Type" class="active" style="cursor: pointer;"> Doc.Type </a> -->
              </apex:facet>
            <apex:outputText value="{!DocInfo.ContVer.Document_Type__c}"/></apex:column>

            <apex:column headerValue="Document Number" headerClass="views-field views-field-field-ctb-number-value">
            <apex:facet name="header">
            <apex:commandLink value="Document Number" action="{!toggleSort}" rerender="DataListId">
                                <!-- Value attribute should have field (API Name) to sort in asc or desc order -->
                                <apex:param name="sortField" value="Document_Number__c" assignTo="{!sortField}"/>
                           </apex:commandLink>

        <!--    <a id="DocNumber" title="sort by Document Number" class="active" style="cursor: pointer;">Document Number </a> -->
            </apex:facet> 
            <apex:outputText value="{!if(DocInfo.ContVer.Document_Number__c == '0','',DocInfo.ContVer.Document_Number__c)}"/></apex:column>    
                       <!-- <apex:facet name="footer">Showing Page # {!pageNumber} of {!totalPages}</apex:facet>-->
            </apex:dataTable>
               <div class="item-list">
        <ul class="pager">
        <apex:outputPanel id="myButtons">
            <apex:outputPanel rendered="{!if(totalPages<=1,'false','true')}">
                <li class="pager-current first">
                   <apex:commandlink action="{!Beginning}" title="First" value="First"  reRender="myPanel,myButtons, JsPanel,IsClickButtn" rendered="{!!DisablePrevious}" status="splashStatus"/>
                   <apex:outputText value="First" title="First" rendered="{!DisablePrevious}"/>
                </li>
                <li class="pager-item"> <apex:commandLink action="{!Previous}" rendered="{!!DisablePrevious}" title="<<Previous" value="<<Previous" reRender="myPanel,myButtons, JsPanel,IsClickButtn" status="splashStatus"/>
                <apex:outputText value="<<Previous" title="<<Previous" rendered="{!DisablePrevious}"/>
                </li>      
                <li class="pager-item"><apex:commandLink action="{!Next}" title="Next>>" value="Next>>" rendered="{!!DisableNext}" reRender="myPanel,myButtons, JsPanel,IsClickButtn" status="splashStatus"/>
                <apex:outputText value="Next>>" title="Next>>"   rendered="{!DisableNext}"/>
                </li>
                
               <li class="pager-item"><apex:commandLink action="{!End}" title="End" value="Last" reRender="myPanel,myButtons, JsPanel,IsClickButtn" rendered="{!!DisableNext}" status="splashStatus"/> 
                 <apex:outputText value="Last" title="End" rendered="{!DisableNext}"/>
                 </li>  
            </apex:outputPanel>   
          </apex:outputPanel>
        </ul>
    </div>  
            </div>
            
            </apex:outputPanel>
<apex:outputpanel id="IsClickButtn">
<div style="display:{!IsbuttonShow}" >
<apex:commandButton value="Submit" id="edit-submit-paperdoc"  styleClass="form-submit" onclick="Validatepaperdoc(); return false;"   action="{!verify}"/>
</div>
<div style="display:{!IsbuttonShow1}" >
<apex:commandButton value="Submit" id="edit-submit-paperdoc1"  style="width: 100px;" onclick="Validatepaperdoc(); return false;" disabled="true"  action="{!verify}"/>
</div>
</apex:outputpanel>
</fieldset>
<!-- <input type="submit" name="op" id="edit-submit" value="Submit" class="form-submit"/> -->
<div style="display:{!attach}" >
<apex:outputPanel rendered="{!IsExternaluser}">

<apex:commandButton value="Submit" id="edit-submit" styleClass="form-submit" onclick="Validatereqfield(); return false;"  action="{!verify}" />

</apex:outputPanel>
<apex:outputPanel rendered="{!!IsExternaluser}">

<apex:commandButton value="Submit" id="edit-submit1" styleClass="form-submit" onclick="ValidatereqfieldExternal(); return false;"  action="{!verify}" />

</apex:outputPanel></div>
<!-- <input type="hidden" name="form_build_id" id="form-85be6805fcfad7ba267950eba0c5612f" value="form-85be6805fcfad7ba267950eba0c5612f"/>
<input type="hidden" name="form_id" id="edit-myv-contactus" value="myv_contactus"/> -->
</div>


              <span class="clear"></span>                 
                      
              
    
            </div>
          
      </div> <!--  /#center -->
 </apex:form>
 


    </div>
     
    <!-- footer -->
    <c:CpFooter />
  <!-- /footer -->
  </div>
<style>
.Sidebar-CenterRight
{
position: relative;
float: right;
width: 500px;
}
        .redChar{
            color: #5895BE;
            font-size: 24px;
            padding:5px;
            vertical-align:center;
            text-align: center;
        }
        .blackChar{
            color: black;
            font-weight: bold;
            font-size: 24px;
            padding:5px;
            vertical-align:center;
            text-align: center;
        }
        .container{
            background-color: #E8E8E8;
            border-style: solid;
            border-width:2px;
            width: 150px;
            height: 30px;
            text-align: center;
            vertical-align:center;
            padding-top:8px;
        }
         .input{
            
            border-style: solid;
            border-width:1px;
            width: 141px;
            height: 20px;
            font-size: 24px;
            padding:5px;
            
        }
        .titleCls{
            text-align: center;
            margin-top: -10px;
            margin-left: 10px;
            height: 20px;
            line-height: 20px;
            font-size: 15px;
            background-color: #F8F8F8;
        }
        /* This is for the full screen DIV */
        .popupBackground {
            /* Background color */
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
        
            /* Dimensions */
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 998;
            position: absolute;
            
            /* Mouse */
            cursor:wait;
        }
     
        /* This is for the message DIV */
        .PopupPanel {
            /* Background color */
            border: solid 2px blue;
            background-color: white;
     
            /* Dimensions */
            left: 50%;
            width: 200px;
            margin-left: -100px;
            top: 50%;
            height: 50px;
            margin-top: -25px;
            z-index: 999;
            position: fixed;
            
            /* Mouse */
            cursor:pointer;
        }
    </style>
   
<!-- /layout -->
  <apex:outputPanel style="display:{!dialoguenotvisible}">
  <div id="dialog" title="My Dialog Title">
<b>Thank you for taking the time to communicate your feedback on Varian products.</b>
<p>
Note that reports related to deficiencies in the identity, quality, durability, reliability, safety, effectiveness 
or performance of a Varian manufactured device must be reported as a COMPLAINT to the <a href="">Varian Helpdesk</a>. 
The product feedback form should be used only to suggest product improvements.</p>
</div> </apex:outputPanel>
    <script type="text/javascript">

function confirmSubmit()
{
var doSelect = confirm('Are you sure you wish to assign?');
if(doSelect)
{
alert(doSelect);
f1();
}
return doSelect;
}

function Validatepaperdoc()
 {
 var i = 0;
var errorMessage="";
 if( document.getElementById('pageblock:innerForm:edit-profile-firstname').value.trim() == '' )
{
    document.getElementById('pageblock:innerForm:edit-profile-firstname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "First Name field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-firstname').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-lastname').value.trim() == '') 
{
  document.getElementById('pageblock:innerForm:edit-profile-lastname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Last Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-lastname').className= "form-text required";
}
 if( document.getElementById('pageblock:innerForm:edit-profile-institution').value.trim() == '') 
{
 document.getElementById('pageblock:innerForm:edit-profile-institution').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-institution').className= "form-text required";
}
 if( document.getElementById('pageblock:innerForm:edit-profile-address').value.trim() == '') 
{
  document.getElementById('pageblock:innerForm:edit-profile-address').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Address Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-address').className= "form-text required";
}
 if( document.getElementById('pageblock:innerForm:edit-profile-city').value.trim() == '' )
{
   document.getElementById('pageblock:innerForm:edit-profile-city').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "City Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-city').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-state').value.trim() == '') 
{
  document.getElementById('pageblock:innerForm:edit-profile-state').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "State Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-state').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-country').value.trim() == '--Select--') 
{
  document.getElementById('pageblock:innerForm:edit-profile-country').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Country Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-country').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-email').value.trim() == '' )
{
document.getElementById('pageblock:innerForm:edit-profile-email').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Email Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-email').className= "form-text required";
}
 
if(document.getElementById('pageblock:innerForm:edit-product1').value == '--None--') 
{
  
  document.getElementById('pageblock:innerForm:edit-product1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Product Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-product1').className= "form-text required";
}

if(i ==0)
{ 

document.getElementById('diverr').style.display='none';
cust_Info();
}
else if(i == 1)
{
document.getElementById('diverr').style.display='block';

document.getElementById('diverr').innerHTML =errorMessage;
document.getElementById('divs').style.display='none';

}
 
}

 function Validatereqfield()
 {
 var i = 0;
var errorMessage="";
 if( document.getElementById('pageblock:innerForm:edit-profile-firstname').value == '' )
{
  
  document.getElementById('pageblock:innerForm:edit-profile-firstname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "First Name field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-firstname').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-lastname').value == '') 
{
 
  document.getElementById('pageblock:innerForm:edit-profile-lastname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Last Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-lastname').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-institution').value == '') 
{
 
 document.getElementById('pageblock:innerForm:edit-profile-institution').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-institution').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-address').value == '') 
{
  
  document.getElementById('pageblock:innerForm:edit-profile-address').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Address Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-address').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-city').value == '' )
{
  
  document.getElementById('pageblock:innerForm:edit-profile-city').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "City Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-city').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-state').value == '') 
{
 
 document.getElementById('pageblock:innerForm:edit-profile-state').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "State Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-state').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-country').value == '--Select--') 
{
 
 document.getElementById('pageblock:innerForm:edit-profile-country').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Country Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-country').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-email').value == '' )
{

document.getElementById('pageblock:innerForm:edit-profile-email').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Email Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-email').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-phone').value == '') 
{

document.getElementById('pageblock:innerForm:edit-profile-phone').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Phone Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-phone').className= "form-text required";
}

 if(document.getElementById('pageblock:innerForm:edit-product').value == '--Any--') 
{
  
  document.getElementById('pageblock:innerForm:edit-product').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Product Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-product').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-message').value == '') 
{
  
  document.getElementById('pageblock:innerForm:edit-message').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Long description Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-message').className= "form-text required";
}
if(i ==0)
{ 

document.getElementById('diverr').style.display='none';
cust_Info();
}
else if(i == 1)
{
document.getElementById('diverr').style.display='block';

document.getElementById('diverr').innerHTML =errorMessage;
document.getElementById('divs').style.display='none';
}

}
function ValidatereqfieldExternal()
{
 var i = 0;
var errorMessage="";
 if( document.getElementById('pageblock:innerForm:edit-profile-firstname').value == '' )
{
  
  document.getElementById('pageblock:innerForm:edit-profile-firstname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "First Name field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-firstname').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-lastname').value == '') 
{
 
  document.getElementById('pageblock:innerForm:edit-profile-lastname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Last Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-lastname').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-institution').value == '') 
{
 
 document.getElementById('pageblock:innerForm:edit-profile-institution').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-institution').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-address').value == '') 
{
  
  document.getElementById('pageblock:innerForm:edit-profile-address').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Address Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-address').className= "form-text required";
}
if( document.getElementById('pageblock:innerForm:edit-profile-city').value == '' )
{
  
  document.getElementById('pageblock:innerForm:edit-profile-city').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "City Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-city').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-state').value == '') 
{
 
 document.getElementById('pageblock:innerForm:edit-profile-state').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "State Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-state').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-country').value == '--Select--') 
{
 
 document.getElementById('pageblock:innerForm:edit-profile-country').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Country Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-country').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-email').value == '' )
{

document.getElementById('pageblock:innerForm:edit-profile-email').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Email Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-email').className= "form-text required";
}
 if(document.getElementById('pageblock:innerForm:edit-profile-phone').value == '') 
{

document.getElementById('pageblock:innerForm:edit-profile-phone').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Phone Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-phone').className= "form-text required";
}

 if(document.getElementById('pageblock:innerForm:edit-product').value == '--Any--') 
{
  
  document.getElementById('pageblock:innerForm:edit-product').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Product Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-product').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-message').value == '') 
{
  
  document.getElementById('pageblock:innerForm:edit-message').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Long description Name field is required."+"</span><BR/>";
 i = 1;
}
else
{
document.getElementById('pageblock:innerForm:edit-message').className= "form-text required";
}
if(i ==0)
{ 

document.getElementById('diverr').style.display='none';
cust_Info_Externaluser();
}
else if(i == 1)
{
document.getElementById('diverr').style.display='block';

document.getElementById('diverr').innerHTML =errorMessage;
document.getElementById('divs').style.display='none';
}
}
function valRadiodata(aa)
{
var temporary=aa;
valRadiodatadataValue(temporary);


}

function svContact() // Validating for contact Record
{

var i = 0;
var errorMessage="";
if(document.getElementById('pageblock:innerForm:edit-profile-firstname1').value  =='')
{
document.getElementById('pageblock:innerForm:edit-profile-firstname1').className= "form-text required error";
errorMessage="<span>" + "First Name field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('pageblock:innerForm:edit-profile-firstname1').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-lastname1').value  =='')
{
document.getElementById('pageblock:innerForm:edit-profile-lastname1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Last Name field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('pageblock:innerForm:edit-profile-lastname1').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-title1').value  =='')
{
document.getElementById('pageblock:innerForm:edit-profile-title1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Title field is required."+"</span><BR/>";
i=1;
}
else
{ 
document.getElementById('pageblock:innerForm:edit-profile-title1').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-address1').value  =='')
{
document.getElementById('pageblock:innerForm:edit-profile-address1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution (Full hospital name, no abbreviations) field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('pageblock:innerForm:edit-profile-address1').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-city1').value  =='')
{
document.getElementById('pageblock:innerForm:edit-profile-city1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution City field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('pageblock:innerForm:edit-profile-city1').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-state1').value  =='')
{

document.getElementById('pageblock:innerForm:edit-profile-state1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution State field is required."+"</span><BR/>";
i=1;

}else
{
document.getElementById('pageblock:innerForm:edit-profile-state1').className= "form-text required";
}
if(document.getElementById('pageblock:innerForm:edit-profile-zip1').value  =='')
{

document.getElementById('pageblock:innerForm:edit-profile-zip1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution ZIP/Postal Code field is required."+"</span><BR/>";
i=1;

}else
{
document.getElementById('pageblock:innerForm:edit-profile-zip1').className= "form-text required";


}
if(document.getElementById('pageblock:innerForm:edit-profile-phone1').value  =='')
{

document.getElementById('pageblock:innerForm:edit-profile-phone1').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Telephone field is required"+"</span><BR/>";
i=1;

}
else
{
document.getElementById('pageblock:innerForm:edit-profile-phone1').className= "form-text required";
}



if(i ==0)
{ 

document.getElementById('diverr').style.display='none';
abccon();
alert('Your request has been send successfully to myvarian admin for Personal Information updation');
 
}
else if(i == 1)
{
document.getElementById('diverr').style.display='block';

document.getElementById('diverr').innerHTML =errorMessage;

}
}

 </script>  
 </body>

</apex:page>