<!-- 
/*************************************************************************\
    @ Author        : Amit Kumar
    @ Date      : 3-june-2013
    @ Description   : This page is used to display Training and Course data.

****************************************************************************/

-->
<apex:page showHeader="false" id="PageId" standardStylesheets="{!if(shows=='none',false,true)}" sidebar="false" Controller="CpTraingandCourseController">
   <head>
    <title>MyVarian</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>



<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.TableSorter, '/jquery.tablesorter.min.js')}"/>


<style>
    .CourseMenuBar{
        //background-image: none !important;
        color:black !important;
        pointer:cursor !important;
    }
</style>

</head>

  <!-- for community -->
<script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">
      

SetupTreeNode.prototype.initializeSetup = function() {
  var openNodes = '';
  if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
  }
  SetupTreeNode.prototype.personalSetupV2 = false;
}

    </script><script>
      try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
try{DynamicCss.doneLoading()}catch(e){}
    </script><link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

<!-- end here -->

<!-- Community header -->
<apex:outputpanel style="display:{!shows}"> 
<div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
     MyVarian
    </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem"  href="{!$Label.Org_Domain_URL}">
      Varian Medical Systems Internal
    </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
      {!Usrname}
    </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
      Logout
    </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
      00DM00000013QDl
    </div></div></apex:outputpanel>
<!-- end here -->

<apex:outputpanel id="JsPanel">
<!--<script>
 $(document).ready(function(){      
        $("[id$=DataListId]").tablesorter({ 
        // pass the headers argument and assing a object        
        headers: {            
            0: {          
                
            }, 
            
            1:{
                sorter: false 
            },
            
            2: {                

            } 
        }       
    }); 
    
    $('.headerRow').click(function(){
                    //on header click remove the styling                    
                    $j('.dataRow').removeClass('last');
                    $j('.dataColumn').removeClass('addUpdated');
    });
    
    $("[id$=DataListId]").bind("sortEnd",function(e) {
                    //alert("#SubmitButton");
                    $('.mySort').remove();
                    $('.headerSortDown').children().append('<apex:image value="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/arrow-desc.png')}" styleClass="sortDesc mySort"   /> ');
                    $('.headerSortUp').children().append('<apex:image value="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/arrow-asc.png')}" styleClass="sortAsc mySort"  />');
                                        
                });
    
    
 }); 

</script>-->

</apex:outputpanel>

<div id="wrapper">
<c:CpHeader rendered="{!isGuest}"/>
    <c:CpPortalHeader rendered="{!!isGuest}"/>
<div id="container">
<c:CpSideMenu rendered="{!isGuest}"/>
              <c:CpPortalSideMenu rendered="{!!isGuest}"/>
<apex:form >
<apex:actionFunction Name="reLoadPanel" rerender="myPanel, bnrImg, JsPanel"/>

<div id="center" class="CenterNoRightSide">
    <!-- <iframe id="cntSearch" src="about:blank" frameborder="0" scrolling="yes"></iframe> -->       
    <!--  <apex:image id="bnrImg" value="{!strBanner}" alt="Product Documentation"  style="margin-bottom:20px;" /> --> 
     <h3>Training Courses</h3>
     <br></br>  <p> 
     <!--FlexCredit quantity may vary for classes based on geographical region. If you experience any difficulties with your submission or have any questions<br></br> regarding registering online, please contact your local Varian Medical Systems office.
             -->
             <apex:outputPanel id="courselistingheader">
             <apex:outputText value="{!courseHeader}" escape="false"/>
             </apex:outputPanel>
             </p>
             <!--  <p>Important Information regarding course flex credits for north america.<apex:outputPanel style="display:{!show}"> <a href=""><strong>Click here</strong></a></apex:outputPanel></p>-->
                     
           <!--     The Number of Flex credit per geographical region may vary based on the price of individual flex credit-->
             
              <p>
              </p>  
               <!-- If you experience any difficulties with your submission or have any questions regarding registering on-line, please contact your local Varian Medical Systems office.-->
                    <div id="beforetitle">
              <div id="block-filterproducts-0" class="block block-filterproducts">
 
  <div class="content">
    
   
    
   
    <div class="view-filters">
      <form action="/docs"  accept-charset="UTF-8" method="get" id="views-exposed-form-docs-filtered-page-1">

<div><div class="views-exposed-form">
  <div class="views-exposed-widgets clear-block">
    
        
        <div class="views-exposed-widget views-widget-filter-keys">
          <!--
          <b><a href="https://www.varian.com/courses?cat=overview&solution=All&product=All&training=All&node_language=All&region=636" target="_blank">Click here</a> to view course listings available in EMEIA.</b>
          <br> 
          <b><a href="https://www.varian.com/courses?cat=overview&solution=All&product=All&training=All&node_language=All&region=637" target="_blank">Click here</a> to view course listings available in APAC.</b>
          </br> -->
            <div class="views-widget">
            <br></br> <h2><span>Search:</span> </h2>
                <div class="form-item" id="edit-keys-wrapper">
                <apex:inputText value="{!Document_TypeSearch}" styleClass="form-text" size="20" title="Enter the terms you wish to search for." maxlength="100"/>
                  <apex:commandButton value="Apply" styleClass="form-submit"   id="edit-submit-docs-filtered" action="{!showrecords1}" reRender="myPanel, JsPanel"/>
                </div>
            </div>
        </div> 
      
        <div class="views-exposed-widget views-submit-button">
      
    

    </div>
  </div>
</div>

</div>
</form>
    </div>
  
 
    <div class="view-content">
    <br/>
        <!--<div class="views-exposed-widget views-submit-button">      
            <apex:commandButton value="North America" action="{!FormMenuClick}" styleClass="form-submit CourseMenuBar" reRender="myPanel,myButtons">
                <apex:param name="SelectedMenu"  value="north america" />
            </apex:Commandbutton>
            <apex:commandButton value="EMEA" action="{!FormMenuClick}" styleClass="form-submit CourseMenuBar" reRender="myPanel,myButtons">
                <apex:param name="SelectedMenu"  value="emea" />
            </apex:Commandbutton>
            <apex:commandButton value="APAC" action="{!FormMenuClick}" styleClass="form-submit CourseMenuBar" reRender="myPanel,myButtons">
                <apex:param name="SelectedMenu"  value="apac" />
            </apex:Commandbutton>
            <apex:commandButton value="Latin America" action="{!FormMenuClick}" styleClass="CourseMenuBar form-submit" reRender="myPanel,myButtons">
                <apex:param name="SelectedMenu"  value="latin america" />
            </apex:Commandbutton>   
        </div-->
        <apex:outputpanel id="mylinks">
        <div class="Sidebar">
            <apex:commandlink value="North America" action="{!FormMenuClick}" rendered="{!IF(SelectedMenu == 'north america',false,true)}"  reRender="myPanel,myButtons,mylinks,courselistingheader">
                <apex:param name="SelectedMenu"  value="north america" />
            </apex:commandlink>
            <apex:outputtext value="North America" rendered="{!IF(SelectedMenu == 'north america',true,false)}"/>
            &nbsp;|&nbsp;
            <apex:commandlink value="EMEIA" action="{!FormMenuClick}" rendered="{!IF(SelectedMenu == 'emea',false,true)}"  reRender="myPanel,myButtons,mylinks,courselistingheader">
                <apex:param name="SelectedMenu"  value="emea" />
            </apex:commandlink>
            <apex:outputtext value="EMEIA" rendered="{!IF(SelectedMenu == 'emea',true,false)}"/>
            &nbsp;|&nbsp;
            <apex:commandlink value="APAC" action="{!FormMenuClick}" rendered="{!IF(SelectedMenu == 'apac',false,true)}"  reRender="myPanel,myButtons,mylinks,courselistingheader">
                <apex:param name="SelectedMenu"  value="apac" />
            </apex:commandlink>
            <apex:outputtext value="APAC" rendered="{!IF(SelectedMenu == 'apac',true,false)}" />
            &nbsp;|&nbsp;
            <apex:commandlink value="Latin America" action="{!FormMenuClick}" rendered="{!IF(SelectedMenu == 'latin america',false,true)}"  reRender="myPanel,myButtons,mylinks,courselistingheader">
                <apex:param name="SelectedMenu"  value="latin america" />
            </apex:commandlink>
            <apex:outputtext value="Latin America" rendered="{!IF(SelectedMenu == 'latin america',true,false)}"/>
        </div>
        <br/>
        </apex:outputpanel>
    
   
    <apex:outputPanel id="myPanel" >
        <apex:dataTable id="DataListId" value="{!lContentVersions}" var="DocInfo"  styleClass="views-table cols-11" rowClasses="even,odd">
     
            <apex:column headerValue="Course Title" styleClass="views-field views-field-title" >
                <apex:facet name="header">
                 <apex:commandLink value="Course Title" action="{!toggleSort}" rerender="DataListId">
                   <apex:param name="sortField" value="Title__c" assignTo="{!sortField}"/>
                 </apex:commandLink>
                </apex:facet> 
                   
              <!--   <apex:outputField style="align : right;" value="{!DocInfo.Title__c}"/> -->
               <apex:commandLink action="{!readmessage}" value="{!DocInfo.Title__c}" id="theCommandLink"> 
       <apex:param name="abc" value="{!DocInfo.Id}" /> </apex:commandLink>

                
            </apex:column>

            <apex:column headerValue="Training Location">
             <apex:facet name="header">
                 <apex:commandLink value="Training Location" action="{!toggleSort}" rerender="DataListId">
                   <apex:param name="sortField" value="Training_Location__c" assignTo="{!sortField}"/>
                 </apex:commandLink>
                </apex:facet> 
                 <apex:outputField style="align : right;" value="{!DocInfo.Training_Location__c}"/> 
                &nbsp; 
            </apex:column>
            <!--apex:column >
  <apex:outputLink title="" value="/{!DocInfo.id}/e?retURL=/apex/{!$CurrentPage.Name}" style="font-weight:bold">Edit</apex:outputLink> </apex:column>-->
           
            
        <apex:facet name="footer">Showing Page # {!pageNumber} of {!totalPages}</apex:facet>
        </apex:dataTable>
    </apex:outputPanel>    
                   
           
   </div>
   
 
   
    <div class="item-list">
        <ul class="pager">
            
            <apex:outputPanel id="myButtons">
                <li class="pager-current first">
                   <apex:commandlink action="{!Beginning}" title="First" value="First"  reRender="myPanel,myButtons, JsPanel"/>
                </li>
                <li class="pager-item"> <apex:commandLink action="{!Previous}" rendered="{!!DisablePrevious}" title="<<Previous" value="<<Previous" reRender="myPanel,myButtons, JsPanel"/>
                </li>      
                <li class="pager-item"><apex:commandLink action="{!Next}" title="Next>>" value="Next>>" rendered="{!!DisableNext}" reRender="myPanel,myButtons, JsPanel"/></li>
                <li class="pager-item"><apex:commandLink action="{!End}" title="End" value="Last" reRender="myPanel,myButtons, JsPanel"/> </li>  
            </apex:outputPanel>   
           
        </ul>
    </div>  
     <br/>
     
   </div></div></div></div> 
   

 </apex:form>

 
<!-- footer -->
    <c:CpFooter ></c:CpFooter>  
     <!-- footer --> 
</div></div>
<SCRIPT LANGUAGE="JavaScript">
    function go(loc){   
        popupWindow = window.open(loc,'name','width=1000,height=800,scrollbars=1');
        popupWindow.focus();
        //document.getElementById('cntSearch').src = loc;
    }
    function refreshpg()
    {
        window.location.href ='/apex/CpProductDocumentation';
    }
</script>
</apex:page>