<apex:page sidebar="false" controller="Cp_ChatterUtilityController">

   
    <center>
        <apex:form >
        
            <apex:outputPanel rendered="{!isUserPhotoUpload}" > 
                <chatter:userPhotoUpload showOriginalPhoto="true" />
                
           </apex:outputPanel> <br></br>
           <apex:outputPanel rendered="{!isUserDeleteVis}" >
        <!-- <apex:commandButton value="Delete Picture" action="{!DeletPic}" >
           
           </apex:CommandButton>-->
        <!--   <a href="javascript:void(0);" id="deletePhoto"  onclick="return chatter.getProfilePhoto().deleteProfilePhoto('{!userId}');" >Delete</a>-->
     <!--<a href="javascript:void(0)"  style="text-decoration:none !important;" class="form-submit"><b>Delete Picture</b></a>-->
           </apex:outputPanel>
          
            <script>
                var bodyElem = document.getElementsByTagName('body')[0];
                bodyElem.className = bodyElem.className.replace('brandQuaternaryBgr', '');
            </script>
        </apex:form>
    </center>
</apex:page>