<apex:page controller="SR_CreateIWO_ControllerClone" action="{!OnLoad}">

<style type="text/css">
        .custPopup{
            top: 50%;
            left: 50%;
            width:30em;
            //height:18em;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
            border: 1px solid #ccc;
            background-color: #f3f3f3;
            position:fixed;
            border-radius: 5px;
            z-index: 99999;

        }
        .popupBackground{
            background-color:black;
            opacity: 0.30;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
        }
       

    </style>
<script>
    // window.onload = function() {
    //     document.getElementById('j_id0:form1:j_id38').disabled = false;
    // }
    function setyesjava(){
        document.getElementById('j_id0:form1:j_id38').disabled = true;
        // document.getElementById('j_id0:form1:j_id38').style.display = 'none';
        // alert('hi' + document.getElementById('{!$Component.productcrteation}').disabled);
        // document.getElementById('{!$Component.productcrteation}').disabled = true;
        // alert('hi' + document.getElementById('{!$Component.productcrteation}').disabled);
        setyesaction();
    }
</script>

<apex:outputPanel >
<apex:actionstatus id="instProdStatus">
     <apex:facet name="start">
        <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
               height: 100%;opacity:0.65;width:100%;"> 
            <div class="waitingHolder" >
                <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                <span class="waitingDescription">Please Wait...</span>
            </div>
        </div>
    </apex:facet>
</apex:actionstatus>
</apex:outputPanel>

<apex:form id="form1">
<apex:pagemessages id="myErrorMessage"/>
<apex:actionfunction name="setyesaction" action="{!SetYes}" rerender="productModelpnl"/>

<apex:outputPanel id="productModelNotPresent" style="height:30px;">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!ProductModelMissing }" />
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!ProductModelMissing }">  
                <apex:pageblock >    
                   <center>
                       <B>
                           Product model information is incomplete. Please go back to the Case :&nbsp; <apex:outputlink value="/{!workOrd.SVMXC__Case__r.id}">{!workOrd.SVMXC__Case__r.CaseNumber}</apex:outputlink> and click on <b>'Update Plan'</b> to update the information.
                       </b>
                   </center>
                   
                         <center><apex:commandButton value="Ok" action="{!SetNo}"/></center>
                           
                   <!--/apex:pageblockButtons-->
            </apex:pageblock>
        </apex:outputPanel>
     </apex:outputPanel>

    <apex:outputPanel id="productModelpnl">
    
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopupModel}" />
                
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopupModel}">
                <apex:pagemessages />
                <apex:pageblock >   
                    
                   <center>
                       <B>
                           Installed Product assignment is missing on one or more Case Lines. Please update the Installation Case with the installed product assignments
                       </b>
                   </center>
                   
                         <center>
                           <!--  
                           This code is deprecated  
                           <apex:commandButton status="instProdStatus" value="Yes" onclick="this.disabled=true; setyesjava(); return false;" disabled="false" id="productcrteation"/>
                           -->
                            <apex:commandButton value="OK" action="{!SetNo}"/>
                         </center>
                           
                   <!--/apex:pageblockButtons-->
            </apex:pageblock>
        </apex:outputPanel>
     </apex:outputPanel>

<apex:outputPanel id="SelectPanel">
<Apex:pageblock title="Filter Criteria">
<apex:pageBlockButtons location="top" >
<apex:commandButton value="Search" action="{!SearchFilter}"  status="instProdStatus" rerender="instProdStatus, pageblockselect"/>
</apex:pageBlockButtons>
<apex:outputPanel id="actionregion" layout="block">
    <apex:pageblockSection columns="2">
        <!--<apex:inputField value="{!DispatchServiceTeam.SVMXC__Service_Team__c}"/-->
        <apex:outputPanel >
            <div class="tooltip">
                <img src="/img/alohaSkin/help_orange.png" style="vertical-align:middle;" />
                <span class="tooltiptext">Name of Service Team to search</span>
            </div>
            <apex:inputText id="serachBOX" value="{!searchServiceTeam}" html-placeholder="Search Team"/>
            <apex:commandButton action="{!resetServiceTeam}" reRender="actionregion" value="Go" title="Go"/>
        </apex:outputPanel>
        <apex:selectList label="Service Team" style="width:240px;"  value="{!ServiceTeamPicklistVal}" multiselect="true" id="selectServiceTeam" >
            <apex:selectOptions value="{!ServiceTeam}" />
        </apex:selectList>
        <!--<apex:inputField value="{!teamLookup.SVMXC__Service_Group__c}" id="ServiceTeam"/>-->
        
    </apex:pageblockSection>
    
    </apex:outputPanel>

</Apex:pageblock>
            <apex:pageBlock id="pageblockselect"  tabStyle="Technician_Assignment__c" title="Select Technician/Trainers"  >
            
                <apex:outputLabel rendered="{!ListWrapTechnician.size==0}">No items found for selected search criteria</apex:outputLabel> 
               
                <apex:pageBlockTable value="{!ListWrapTechnician}" var="ta"   id="pageblocktable" >
                    
                    <apex:column headerValue="Add">
                       <apex:inputCheckbox value="{!ta.ischecked}" id="checkdone" disabled="{!ta.isdisabled}"/>             
                    </apex:column> 
                    <apex:column headerValue="Technician Name"> <apex:outputLink value="/{!ta.varTech.id}" target="_blank">{!ta.varTech.Name}</apex:outputLink></apex:column> 

                     <apex:column value="{!ta.varTech.User__c}"/>
                     <apex:column value="{!ta.varTech.Technician_Manager__c}"/>
                     <apex:column value="{!ta.varTech.SVMXC__Service_Group__c}"/>
                     <apex:column value="{!ta.varTech.SVMXC__Email__c}"/>
                     <apex:column value="{!ta.varTech.SVMXC__Active__c}"/>
                     <apex:column headerValue="Start Date">
                     <apex:Inputfield value="{!ta.evnt.SVMXC__StartDateTime__c}" />
                     </apex:column>
                     <apex:column headerValue="End Date">
                     <apex:Inputfield value="{!ta.evnt.SVMXC__EndDateTime__c}" />
                     </apex:column>
                                                      
                </apex:pageBlockTable>
                <apex:pageBlockButtons >
                <apex:commandButton value="{!if(nonInstallation == true,'Add Trainers','Add Technicians')}" action="{!AddTechnicians}" status="instProdStatus"/>
                
                </apex:pageBlockButtons>             

            </Apex:pageblock>    
        <apex:pageBlock title="Selected Technician/Trainers">
        <apex:outputLabel rendered="{!ListWrapTechnicianOfPWO.size==0}">No items found for selected search criteria</apex:outputLabel>
                <apex:pageBlockTable value="{!ListWrapTechnicianOfPWO}" var="ta"   id="pageblocktable2" >
                    
                    <apex:column headerValue="Technician Name"> <apex:outputLink value="/{!ta.varTech.id}" target="_blank">{!ta.varTech.Name}</apex:outputLink></apex:column> 
                    
                     
                    <apex:column value="{!ta.varTech.User__c}"/>
                    <apex:column value="{!ta.varTech.Technician_Manager__c}"/>
                    <apex:column value="{!ta.varTech.SVMXC__Service_Group__c}"/>
                    <apex:column value="{!ta.varTech.SVMXC__Email__c}"/>
                    <apex:column value="{!ta.varTech.SVMXC__Active__c}"/>
                    <apex:column headerValue="Start Date">
                    <apex:outPutfield value="{!ta.evnt.SVMXC__StartDateTime__c}"/>
                    </apex:column>
                    <apex:column headerValue="End Date">
                    <apex:outPutfield value="{!ta.evnt.SVMXC__EndDateTime__c}"/>
                    </apex:column> 
                    <apex:column headerValue="Remove">
                        <img src="/img/func_icons/util/recycle.gif"/>
                        <apex:inputCheckbox value="{!ta.ischecked}" id="checkdone" />             
                    </apex:column> 
                     
                     
                                                      
                </apex:pageBlockTable>
                <apex:pageBlockButtons >
                <apex:commandButton value="{!if(nonInstallation == true,'Create Training Work Orders','Create IWO')}" action="{!CreateInstallationWO}" 
                status="instProdStatus" reRender="myErrorMessage"/>
                <!--<apex:commandButton value="Create Training Work Orders" action="{!AddTrainers}" rendered="{!nonInstallation}"/>-->
                
                
                </apex:pageBlockButtons>   
        </apex:pageBlock>
        </apex:outputPanel>
        
</apex:form>
  
</apex:page>