<apex:page standardController="Account"  Extensions="CustomAccountController">
    
    <apex:form > 
        <Apex:pageMessages id="pgmsg"></Apex:pageMessages>
          <apex:pageBlock id="pb1">
                <apex:pageBlockSection id="Section1" title="Account Status" columns="2">
                
                    <apex:inputField value="{!nAccount.Account_Status__c}" label="Account Status"/>
                   <!-- <apex:inputField value="{!nAccount.Action_Required__c}" label="Action Required" rendered="{!If(nAccount.Id == null,false,true)}"/>  --> 
                    <apex:inputField value="{!nAccount.Action_Required__c}" label="Action Required"/> 
                    
                </apex:pageBlockSection> 
              
                <apex:pageBlockSection id="Section2" title="Account Information" columns="2" >
                    <!-- First Column Section -->  
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.Name}" label="Account name"/>
                        <apex:inputField value="{!nAccount.Legal_Name__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="ERP Account Name"/> 
                        <apex:inputTextArea value="{!nAccount.BillingStreet}" label="Street" style="width:200px;height:50px;" > </apex:inputTextArea>
                        <apex:inputField value="{!nAccount.BillingCity}" label="City"/>       
                        <apex:inputField value="{!nAccount.Country__c}" label="Country"/>
                        <apex:inputField value="{!nAccount.State__c}" label="State"/>
                        <apex:inputField value="{!nAccount.BillingPostalCode}" label="Zip/Postal Code"/>
                        <apex:inputField value="{!nAccount.phone}" label="phone"/>
                        <apex:inputField value="{!nAccount.Phone_Number_2__c}"   onmouseup="{!$ObjectType.account.Fields.Phone_Number_2__c.inlineHelpText}" label="Phone number2"/> 
                        <apex:inputField value="{!nAccount.Fax}" label="Fax"/>
                       <!-- <apex:inputField value="{!nAccount.Market_Segment__c}" label="Market Segment"/> -->
                       <apex:pageBlockSectionItem >
                        <apex:OutputText value="Account Owner"/>
                        <apex:OutputText value="{!CurrentUser}"/>
                        </apex:pageBlockSectionItem>
                        <apex:inputField value="{!nAccount.ParentId}" label="parent"/>
                        
                       
                    </apex:pageBlockSection> 
                    <!-- Second Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.Account_Type__c}" label="Account Type" html-disabled="true" /> 
                       <!-- <apex:inputField value="{!nAccount.SFDC_Account_Ref_Number__c}" label="SFDC Account Ref Number"/> -->
                        <apex:inputField value="{!nAccount.Special_Care_Instruction_New__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="Special Care Instruction"/>
                        <apex:inputField value="{!nAccount.Distributor__c}" label="Distributor"/>
                        
                        <apex:inputField value="{!nAccount.Local_Name__c}" label="Local name"/>
                        <apex:inputTextArea value="{!nAccount.Local_Address__c}" label="Local Address" > </apex:inputTextArea>
                        <apex:inputTextArea value="{!nAccount.Yomigana__c}" label="Yomigana" > </apex:inputTextArea>
                        
                        
                    </apex:pageBlockSection> 
                </apex:pageBlockSection>              
              
                <apex:pageBlockSection id="Section3" title="Account Designations" columns="2">
                    <!-- First Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.National__c}" label="National"/> 
                        <apex:inputField value="{!nAccount.Strategic__c}" label="Strategic"/>
                        <apex:inputField value="{!nAccount.IDN__c}" label="IDN"/>
                        <apex:inputField value="{!nAccount.GPO__c}" label="GPO"/>

                    </apex:pageBlockSection> 
                    <!-- Second Column Section -->
                    <apex:pageBlockSection rendered="{!IF(AccRTName != 'Standard',true,false)}" columns="1">
                        <apex:inputField value="{!nAccount.Reference_Site__c}"  label="Reference Site"/> 
                        <apex:inputField value="{!nAccount.Luminary__c}" label="Luminary"/>
                        <apex:inputField value="{!nAccount.Early_Adopter_Program__c}" label="Early Adopter Program"/>
                        <apex:inputField value="{!nAccount.Strategic_Account_Owner__c}" label="Strategic Account Owner"/>

                    </apex:pageBlockSection>                    
        
                </apex:pageBlockSection> 
              
               <apex:pageBlockSection id="Section5" title="ERP Customer Information" columns="2">
                    <!-- First Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.Account_Block_Comment__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="ERP Account Comment"/>
                        <apex:inputField value="{!nAccount.SourceDeleted__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="ERP Marked for Deletion"/>
                        <apex:inputField value="{!nAccount.Order_Block__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="ERP Order Block"/>
                        <apex:inputField value="{!nAccount.Credit_Block__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="Credit Block"/>
                        <apex:inputField value="{!nAccount.Embargo_Block__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="Sanctioned Party Block"/>
                        <apex:inputField value="{!nAccount.Has_Location__c}" label="Customer Site"/>
                         <apex:pageBlockSectionItem > 
                        <apex:OutputText value="Account Record Type"/>
                        <apex:OutputText value="{!AccRTName }"/>
                        </apex:pageBlockSectionItem>
                        <apex:inputField value="{!nAccount.Type}" rendered="{!IF(AccRTName = 'Standard',true,false)}" label="Type"/>
                        
                    </apex:pageBlockSection> 
                  
                    <!-- Second Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.ERP_Validation_Date__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="ERP Validation Date"/>
                        <apex:inputField value="{!nAccount.Ext_Cust_Id__c}" label="ERP Customer ID"/> 
                        <apex:inputField value="{!nAccount.ERP_Site_Partner_Code__c}" label="ERP Site Partner ID"/>
                        <apex:inputField value="{!nAccount.AccountNumber}" rendered="{!IF(AccRTName = 'Standard',true,false)}" label="Account Number"/>
                        
                    </apex:pageBlockSection> 
     
                </apex:pageBlockSection> 
                
              <apex:pageBlockSection id="Section4" title="OMNI Reference Information" columns="2">
                  <!-- First Column Section -->
                  <apex:pageBlockSection columns="1">
                      <apex:inputField value="{!nAccount.OMNI_Account_Name_1__c}" label="OMNI Account Name 1" html-disabled="true" /> 
                      <apex:inputField value="{!nAccount.OMNI_Account_ID__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="OMNI Account ID" html-disabled="true" /> 
                      <apex:inputField value="{!nAccount.OMNI_Address1__c}" label="OMNI Address1" html-disabled="true" /> 
                      <apex:inputField value="{!nAccount.OMNI_Address2__c}" label="OMNI Address2" html-disabled="true" />
                      <apex:inputField value="{!nAccount.OMNI_Address3__c}" rendered="{!IF(AccRTName != 'Standard',true,false)}" label="OMNI Address3" html-disabled="true" /> 
                      
                  </apex:pageBlockSection>
                  
                  <!-- Second Column Section -->
                  <apex:pageBlockSection columns="1">
                      
                      <apex:inputField value="{!nAccount.OMNI_City__c}" label="OMNI City" html-disabled="true" />
                      <apex:inputField value="{!nAccount.OMNI_State__c}" label="OMNI State" html-disabled="true" />
                      <apex:inputField value="{!nAccount.OMNI_Country__c}" label="OMNI Country" html-disabled="true" />
                      <apex:inputField value="{!nAccount.OMNI_Postal_Code__c}" label="OMNI Postal Code" html-disabled="true" />
                      
                  </apex:pageBlockSection>    
              </apex:pageBlockSection> 
              
                <apex:pageBlockSection id="Section6" title="Portal Related Info" rendered="{!IF(AccRTName != 'Standard',true,false)}" columns="2">
                    <!-- First Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.IsCustomerPortal}" label="Customer Portal Account"/>
                        <apex:inputField value="{!nAccount.Peer_to_Peer__c}" label="Peer-to-Peer"/> 
                        <apex:inputField value="{!nAccount.Prefered_Language__c}" label="Preferred Language"/>
                        <apex:inputField value="{!nAccount.e_Subscribe__c}" label="e-Subscribe"/>
                        <apex:inputField value="{!nAccount.IGRT__c}" label="IGRT"/>
                        <apex:inputField value="{!nAccount.IMRT__c}" label="IMRT"/>
                        <apex:inputField value="{!nAccount.Paperless__c}" label="Paperless"/>
   
 
                    </apex:pageBlockSection> 
                  
                    <!-- Second Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.Latitude__c}" label="Latitude"/> 
                        <apex:inputField value="{!nAccount.Longitude__c}" label="Longitude"/>
                        <apex:inputField value="{!nAccount.SRS_SBRT_Information__c}" label="SRS/SBRT Information"/>
                        <apex:inputField value="{!nAccount.Quality__c}" label="Quality"/>
                        <apex:inputField value="{!nAccount.RapidArc__c}" label="RapidArc"/>
                        <apex:inputField value="{!nAccount.RPM__c}" label="RPM"/>
                        <apex:inputField value="{!nAccount.SRS_SBRT__c}" label="SRS/SBRT"/>
                 
                    </apex:pageBlockSection> 
                </apex:pageBlockSection> 
                
                <apex:pageBlockSection id="Section7" title="Geographic Data" columns="2"  >
                    <!-- First Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.Super_Territory1__c}" label="Super Territory" html-disabled="true" />
                        <apex:inputField value="{!nAccount.Territories1__c}" label="Territory" html-disabled="true" /> 
                        <apex:inputField value="{!nAccount.Region1__c}" label="Region" html-disabled="true" />
                        <apex:inputField value="{!nAccount.Sub_Region__c}" label="Sub-Region" html-disabled="true" />
                        <apex:inputField value="{!nAccount.District__c}" label="District" html-disabled="true" />
                         
                        <apex:inputTextArea value="{!nAccount.Description}" label="Description" readonly="true" > </apex:inputTextArea>
 
                    </apex:pageBlockSection> 
                  
                    <!-- Second Column Section -->
                    <apex:pageBlockSection columns="1"  >
                        <apex:inputField value="{!nAccount.CSS_District__c}" label="CSS District" html-disabled="true"/> 
                        <apex:inputField value="{!nAccount.HW_Install_District__c}" label="HW Install District" html-disabled="true" />
                        <apex:inputField value="{!nAccount.SW_Install_District__c}" label="SW Install District" html-disabled="true" />
                        <apex:inputField value="{!nAccount.ISO_Country__c}" label="ISO Country" html-disabled="true" />
                        <apex:inputField value="{!nAccount.IsExcludedFromRealign}" label="Exclude from territory assignment rules" html-disabled="true" />
                        <apex:inputField value="{!nAccount.Reset_Territory__c}" label="Trigger Geo/Team/Owner rule" html-disabled="true" />
                        <apex:inputField value="{!nAccount.Exclude_from_Team_Owner_rules__c}" label="Exclude from Team/Owner rules" html-disabled="true"  />
                 
                    </apex:pageBlockSection> 
     
                </apex:pageBlockSection> 
                
                <apex:pageBlockSection id="Section8" title="SYSTEM USE ONLY [This section not visible to non-System users]" rendered="{!IF(AccRTName != 'Standard',true,false)}" columns="2">
                    <!-- First Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.AccountNumber}" label="Account Number"/>
                        <apex:inputField value="{!nAccount.Type}" label="Type"/> 
                        <apex:inputField value="{!nAccount.ParentId}" rendered="{!IF(AccRTName != 'Sold To',true,false)}" label="Parent"/> 
                        
                    </apex:pageBlockSection> 
                  
                    <!-- Second Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!nAccount.Dupe_Master__c}" label="Dupe Master"/> 
                        <apex:inputField value="{!nAccount.OMNI_Account_Name_2__c}" label="OMNI Account Name 2"/>
                        <apex:inputField value="{!nAccount.Functional_Location__c}" label="Functional Location"/>
                       
                    </apex:pageBlockSection> 
     
                </apex:pageBlockSection> 
                
                <apex:pageBlockButtons >
                        <apex:commandButton value="Save" action="{!saveAccount}" reRender="pgmsg" style="width:100px;height:20px;"/>
                        <apex:commandButton value="Save & New" action="{!saveAndNewAccount}" reRender="pgmsg" style="width:100px;height:20px;"/>
                        <apex:commandButton value="Cancel" action="{!cancel}" style="width:100px;height:20px;"/>
                </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>