<!--***************************************************************************
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
31-Aug-2017 - Rakesh - STSK0012697 - Display all attachments of Idea.
*************************************************************************************-->
<apex:page standardController="Idea" extensions="IdeaCustomController" standardStylesheets="false">
    
                <iframe id="my_iframe" style="display:none;"></iframe>
    
    <apex:sectionHeader title="Idea" subtitle="{!Idea.Title}"/>
    <apex:form id="theform">
    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <style>
        #backgroundPopup
            {  
                display:none;  
                position:fixed;  
                _position:absolute; /* hack for internet explorer 6*/ 
                height:100%;  
                width:100%;  
                top:0;  
                left:0;  
                background:#000000;  
                border:1px solid #cecece;  
                z-index:70;  
            } 

        #divLocPopUp
            {  
                display:none; 
                position:fixed;  
                _position:absolute; /* hack for internet explorer 6*/                 
                //top:50px; 
                background:#FFFFFF;  
                border:2px solid #cecece;  
                z-index:71;  
                padding:12px;
            }
    </style>
    <style>
        .pageBlock2{
            background-color: transparent !important;
            border: 0px !important;
        }
        .tableTD{
            padding:5px;
        }
        
        .tableTR{
            border-bottom:1px solid #ECECEC;
        }
        .tableHeadTD{
            padding:10px;
            Font-size:16px;
            font-weight:bold;
        }
        .promoted{
            //background-color:#F9F9F9;
            padding:10px;
            text-align:center;
        }
        .PromoteBTN{
            background-image: url('{!URLFOR($Resource.IdeaInternalSR,'Images/MPromote.png')}');
            height:48px;width:72px;border-width:0px;background-repeat:no-repeat;cursor:pointer;
        }
        .DemoteBTN{         
            background-image: url('{!URLFOR($Resource.IdeaInternalSR,'Images/MDemote.PNG')}');
            height:25px;width:73px;border-width:0px;background-repeat:no-repeat;cursor:pointer;
        }
        .PromoteBTN:hover{
            margin-left: 0.5px;
            background-image: url('{!URLFOR($Resource.IdeaInternalSR,'Images/Promote_Enable.png')}');
        }
        .DemoteBTN:hover{           
            background-image: url('{!URLFOR($Resource.IdeaInternalSR,'Images/Demote_Enable.png')}');
        }
        .downloadIcon{
            background-image: url('{!URLFOR($Resource.IdeaInternalSR,'Images/AttachmentDownload.png')}');
        }
        
    </style>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        jQuery.fn.center = function () 
        {
            this.css("position", "absolute");
            this.css("top", ((j$(window).height() - this.outerHeight()) / 2) + j$(window).scrollTop() + "px");
            this.css("left", ((j$(window).width() - this.outerWidth()) / 2) + j$(window).scrollLeft() + "px");
            
            return this;
        }

        jQuery.fn.centerStatus = function () 
        {
            this.css("position", "absolute");
            this.css("top", (j$(window).height() / 2) + (this.outerHeight() / 2) + 50 + "px");
            this.css("left", (j$(window).width() / 2) + j$(window).scrollLeft() + "px");
            return this;
        }
        
        
        function ClosePopUp(){
            j$("#backgroundPopup").fadeOut("slow");
            j$("#divLocPopUp").fadeOut("slow");

        }
        
        function saveIdeaJS(){
            saveIdeaAF();
        }
        
        
        function OpenPopUp(){
            j$("#divLocPopUp").center();                              
            j$("#backgroundPopup").css({"opacity": "0.7"});
            j$("#backgroundPopup").fadeIn("slow");
            j$("#divLocPopUp").fadeIn("slow");               
            j$("#divLocPopUp").css("display","block");
        }
    </script>

    
        <apex:actionfunction action="{!saveIdea}" name="saveIdeaAF" rerender="theform"/>
        <apex:actionfunction action="{!deleteIdea}" name="deleteIdea" rerender="mainBlock"/>
        
        <!--
        <apex:actionfunction action="{!DeleteTask}" name="deleteIdeaTask" rerender="theform">
            <apex:param value="" name="TaskId"/>
        </apex:actionfunction> -->
        
        <apex:actionfunction action="{!DeleteComment}" name="deleteIdeaComment" rerender="theform">
            <apex:param value="" name="CommentId"/>
        </apex:actionfunction>
        <apex:actionfunction action="{!DeleteInternalComment}" name="deleteInternalIdeaComment" rerender="theform">
            <apex:param value="" name="CommentId"/>
        </apex:actionfunction>
        
        
        
        <apex:actionfunction action="{!makeVote}" name="makeVote" rerender="theform">
        <apex:param value="" name="type"/>
    </apex:actionfunction>
    
    
        <div id="divLocPopUp" style="overflow: auto;">
            <div style="background-color:blue;">
                <div style="float:left"><b><h2>ClearQuest</h2></b></div>
                <div style="float:right">
                    <a href="javascript:void(0)" onclick="ClosePopUp()">
                        close
                    </a>                    
                </div>
            </div>
            <br/>
            <div style="padding:10px;"> 
                <table style="width:100%;border-collapse: collapse;" cellpadding="10" cellspacing="10">
                    <tr class="tableTR">
                        <td class="tableTD">ClearQuest Number</td>
                        <td class="tableTD"><apex:inputField value="{!obj.IdeaObj.ClearQuest_Number__c}"/></td>
                    </tr>
                    <tr class="tableTR">
                        <td class="tableTD">Entered By</td>
                        <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Entered_By__c}"/></td>
                    </tr>
                    <tr class="tableTR">
                        <td class="tableTD">Date Entered</td>
                        <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Date_Entered__c}"/></td>
                    </tr>
                </table>
            </div>
            <div style="text-align:center">
                <input value="Save" class="btn" name="view" onclick="saveIdeaJS()" title="View" type="button"/>
                <input value="Cancel" class="btn" id="popupCancel" name="edit" onclick="ClosePopUp()" title="cancel" type="button"/>
            </div>
        </div>
        <div id="backgroundPopup"></div> 
        
        <apex:pageMessages />
        <apex:pageBlock id="mainBlock">
            
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Edit" immediate="true" action="{!EditIdea}"  /> <!-- disabled="{!IF(obj.IdeaObj.Status == 'Converted to Case' ,true,false)}" -->
                <apex:commandButton value="Delete" onclick="return confirmDeleteJS()"  immediate="true" rerender="mainBlock"/>
                <apex:commandButton value="Close" action="/apex/CustomIdeaListView?{!filter}"  immediate="true"/>
                <!-- <apex:commandButton value="Find Duplicates" action="/ideas/ideaMergeSearch.apexp?id={!idea.id}" /> -->
                <apex:commandButton value="{!IF(obj.IdeaObj.Case_Number__c == null,'Convert to Case','Converted to Case')}" action="{!ConvertCase}" disabled="{!IF(obj.IdeaObj.Case_Number__c <> null || obj.IdeaObj.ClearQuest_Number__c <> null || obj.IdeaObj.Contact__c = null,true,false)}"  immediate="true" />
                <apex:commandButton value="{!IF(obj.IdeaObj.ClearQuest_Number__c == null,'Submit to ClearQuest','Submitted to ClearQuest')}" onclick="OpenPopUp()" disabled="{!IF(obj.IdeaObj.Case_Number__c <> null || obj.IdeaObj.ClearQuest_Number__c <> null,true,false)}" rerender="mainBlock" />
                
            </apex:pageBlockButtons>
            <table style="width:100%;border-top:1.5px solid #8a9ebe;">
                <tr>
                    <td class="tableHeadTD" colspan="2">
                        Product Idea Information
                    </td>
                </tr>
                <tr>
                    <!-- <td class="tableTD" style="width:10%">
                        <div class="promoted">
                            
                            <apex:outputpanel rendered="{!!obj.isVoteEnable}">
                                <apex:outputpanel rendered="{!obj.isPromoted}">
                                    <apex:image url="{!URLFOR($Resource.IdeaInternalSR, 'Images/Promoted.PNG')}"/>                                   
                                </apex:outputpanel>
                                <apex:outputpanel rendered="{!!obj.isPromoted}">
                                    <apex:image url="{!URLFOR($Resource.IdeaInternalSR, 'Images/Demoted.PNG')}"/>
                                </apex:outputpanel>
                            </apex:outputpanel>
                            <apex:outputpanel rendered="{!obj.isVoteEnable}">
                                <div class="PromoteBTN" onclick="makeVote('up')"/>
                                <div class="DemoteBTN" onclick="makeVote('down')"/>
                            </apex:outputpanel>
                            <div style="text-align:center;">{!obj.IdeaObj.votetotal} point</div>
                            
                        </div>
                    </td> -->
                    <td class="tableTD" style="width:50% !important">
                        <table style="border-collapse: collapse;">
                            <tr class="tableTR">
                                <td class="tableTD">Product Idea ID</td>
                                <td  class="tableTD"><apex:outputField value="{!obj.IdeaObj.Product_Idea_ID__c}"/> </td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Title</td>
                                <td class="tableTD"><apex:outputfield value="{!obj.IdeaObj.Title}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Idea</td>
                                <td class="tableTD"><apex:outputfield value="{!obj.IdeaObj.body}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Product Group</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Categories}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Product Version</td>
                                <!--<td class="tableTD"><apex:outputField value="{!obj.IdeaObj.CreatedById}"/></td> -->
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Product_Version__c}"/></td>
                            </tr>
                           
                            <tr class="tableTR">
                                <td class="tableTD">Status</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Status }"/></td>
                            </tr>
                             <tr class="tableTR">
                                <td class="tableTD">Release Version</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Release_Version__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Attachments<div class="downloadIcon"/></td>
                                <td class="tableTD">
                                    <!-- STSK0012697.Display all attachments of Idea -->
                                    <table>
                                        <apex:repeat value="{!lstIdeaAttachment}" var="IdeaAttachment">
                                            <tr onclick="DownloadFile('{!IdeaAttachment.Id}')">
                                                <td><apex:image url="{!URLFOR($Resource.IdeaInternalSR, 'Images/AttachmentDownload.png')}" 
                                                    style="margin-right:5px;width: 16px; height: 16px;cursor: pointer;"/>
                                                </td>
                                                <td style="cursor: pointer;">
                                                    <apex:outputField value="{!IdeaAttachment.Name}" />
                                                </td>
                                                
                                            </tr>
                                        </apex:repeat>
                                    </table>                                   
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align:middle;text-align:left;">
                        
                        <input type="button" Class="btn" value="{!CommentCount}"  style="padding: 25px; background-image: none;cursor: default;"/>
                        <!--<apex:outputpanel rendered="{!!isVotabel}"><input type="button" Class="btn" value="{!CommentCount}" /></apex:outputpanel>
                        <apex:outputpanel rendered="{!isVotabel}"><apex:CommandButton value="{!CommentCount}" action="{!upVote}" /></apex:outputpanel>
                           -->
                    </td>
                </tr>
            </table>
            <table style="width:100%;border-top:1.5px solid #8a9ebe;">
                <tr >
                    <td class="tableHeadTD" colspan="2">
                        Submitter Information
                    </td>
                </tr>
                <tr>
                    <td class="tableTD" style="width:50%">
                        <table style="border-collapse: collapse;">
                            <tr class="tableTR">
                                <td class="tableTD">Created By</td>
                                <!--<td class="tableTD"><apex:outputField value="{!obj.IdeaObj.CreatedById}"/></td> -->
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Contact__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Email</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Email__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Functional Role</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Functional_Role__c}"/></td>
                            </tr>               
                        </table>
                    </td>
                    <td class="tableTD" style="width:50%">
                        <table style="border-collapse: collapse;">
                            <tr class="tableTR">
                                <td class="tableTD">Account</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Account__c}"/></td>
                            </tr>
                            
                            <tr class="tableTR">
                                <td class="tableTD">Country</td>
                                <td class="tableTD"><apex:outputfield value="{!obj.IdeaObj.Country__c}"/></td>
                            </tr>
                            <!--
                            <tr class="tableTR">
                                <td class="tableTD">Territory</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Territory__c}"/></td>
                            </tr>   -->
                            <tr class="tableTR">
                                <td class="tableTD">Created Date</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.createdDate}"/></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
            <apex:outputpanel >
            <!-- rendered="{!IF(obj.IdeaObj.ClearQuest_Number__c != null,true,false) || !IF(obj.IdeaObj.Case_Number__c != null,false,true)}" -->
            <table style="width:100%;border-top:1.5px solid #8a9ebe;" >
                <tr>
                    <td class="tableHeadTD" colspan="1" rendered="{!IF(ConvertedCase.CaseNumber != null,true,false)}" >
                        ClearQuest Information
                    </td>
                    <td class="tableHeadTD" colspan="1" rendered="{!IF(ConvertedCase.CaseNumber != null,true,false)}">
                        Case Information
                    </td>
                </tr>
                <tr>
                    <td class="tableTD" style="width:50%">
                        <table style="border-collapse: collapse;">
                            <tr class="tableTR">
                                <td class="tableTD">ClearQuest Number (PF #)</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.ClearQuest_Number__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Entered By</td>
                                <td class="tableTD"><apex:outputField rendered="{!IF(obj.IdeaObj.ClearQuest_Number__c != null,true,false)}" value="{!obj.IdeaObj.Entered_By__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Date Entered</td>
                                <td class="tableTD"><apex:outputField rendered="{!IF(obj.IdeaObj.ClearQuest_Number__c != null,true,false)}" value="{!obj.IdeaObj.Date_Entered__c}"/></td>
                            </tr>              
                        </table>
                    </td>
 
                    <td class="tableTD" style="width:50%">  
                        <table style="border-collapse: collapse;">

                            <tr class="tableTR">
                                <td class="tableTD">Case Number</td>
                                <td class="tableTD"> <a href="/{!ConvertedCase.id}"> <apex:outputField value="{!ConvertedCase.CaseNumber}"/></a></td>
 
                            </tr>
                           <!-- <tr class="tableTR">
                                <td class="tableTD">Case Subject</td>
                                <td class="tableTD"><apex:outputField value="{!ConvertedCase.Subject}"/></td>
                            </tr> -->
                            <tr class="tableTR">
                                <td class="tableTD">Converted By</td>
                                <td class="tableTD"><apex:outputField value="{!ConvertedCase.CreatedById}"/></td>
                            </tr> 
                           <tr class="tableTR">
                                <td class="tableTD">Converted Date</td>
                                <td class="tableTD"> 
                                    <apex:outputField value="{!ConvertedCase.createdDate}">
                                       <!-- <apex:param value="{!ConvertedCase.createdDate}" />  value="{0, date, MM/dd/yyyy hh:mm a}" -->
                                    </apex:outputField>
                                </td>
                            </tr>                           
                        </table>
                    </td>
                </tr>
                
                
            </table> 
            </apex:outputpanel>
            <br/>
            <table style="width:100%;border-top:1.5px solid #8a9ebe;">
                <tr >
                    <td class="tableHeadTD" colspan="2">
                        Product Idea Internal Details
                    </td>
                </tr>
                <tr>
                    <td class="tableTD" style="width:50%">
                        <table style="border-collapse: collapse;">
                            <tr class="tableTR">
                                <td class="tableTD">Assigned Group</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Assigned_group__c}"/></td>
                            </tr>
                           
                            <tr class="tableTR">
                                <td class="tableTD">Assigned PdM</td>
                                <!--<td class="tableTD"><apex:outputField value="{!obj.IdeaObj.CreatedById}"/></td> -->
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Assigned_PdM__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">TFS Item #</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.TFS_Item__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Complaint Number (CP #)</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Complaint_Number_CP__c}"/></td>
                            </tr>
                            <!--STSK0012364 - Rakesh.Start  -->   
                            <tr class="tableTR">
                                <td class="tableTD">User Submitted</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.User_Submitted__c}"/></td>
                            </tr>
                           
                            <!--STSK0012364 - Rakesh.End  -->              
                        </table>
                    </td>
                    <td class="tableTD" style="width:50%">
                        <table style="border-collapse: collapse;">
                            <tr class="tableTR">
                                <td class="tableTD">Priority</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Priority__c}"/></td>
                            </tr>
                            
                            <tr class="tableTR">
                                <td class="tableTD">Risk</td>
                                <td class="tableTD"><apex:outputfield value="{!obj.IdeaObj.Risk__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Size</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.Size__c}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD" colspan="2">&nbsp;</td>
                            </tr>
                            <!--STSK0012364 - Rakesh.Start  --> 
                            <tr class="tableTR">
                                <td class="tableTD">Last Modified By</td>
                                <td class="tableTD"><apex:outputField value="{!obj.IdeaObj.lastmodifiedById}"/>,&nbsp;<apex:outputField value="{!obj.IdeaObj.LastModifiedDate}"/></td>
                            </tr>
                            <!--STSK0012364 - Rakesh.End  -->                             
                        </table>
                    </td>
                </tr>
            </table>
            <br/>
            <!-- <apex:outputpanel rendered="{!IF(ConvertedCase.id != null,true,false)}">
            <table style="width:100%;border-top:1.5px solid #8a9ebe;">
                <tr >
                    <td class="tableHeadTD" colspan="2">
                        Case Information
                    </td>
                </tr>
                <tr>   
                    <td class="tableTD">  
                        <table style="border-collapse: collapse;">

                            <tr class="tableTR">
                                <td class="tableTD">Case Number</td>
                                <td class="tableTD"> <a href="/{!ConvertedCase.id}"> <apex:outputField value="{!ConvertedCase.CaseNumber}"/></a></td>
 
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Case Subject</td>
                                <td class="tableTD"><apex:outputField value="{!ConvertedCase.Subject}"/></td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Converted Date</td>
                                <td class="tableTD"> 
                                    <apex:outputField value="{!ConvertedCase.createdDate}">
                                       <!-- <apex:param value="{!ConvertedCase.createdDate}" />  value="{0, date, MM/dd/yyyy hh:mm a}" -->
                                  <!--  </apex:outputField>
                                </td>
                            </tr>
                            <tr class="tableTR">
                                <td class="tableTD">Converted By</td>
                                <td class="tableTD"><apex:outputField value="{!ConvertedCase.CreatedById}"/></td>
                            </tr>               
                        </table>
                    </td>
                </tr>
            </table> 
             </apex:outputpanel> -->
            <br/>
            <apex:outputpanel rendered="{!!isFindLayout}">
                <table style="width:100%;border-top:3px solid #178AFF;border-bottom:1px solid #E5E5E5;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;border-collapse: collapse;">
                    <tr style="border-bottom:1px solid #ECECEC;">
                        <td class="tableHeadTD" colspan="1" style="width: 30%;">
                            Comments
                        </td>
                        <td class="tableHeadTD" colspan="1">                        
                            <apex:commandLink value="Add Your Comment" action="{!AddNewComment}" style="font-size: 14px;" />
                        </td>
                    </tr>
                    <tr>
                         <td class="tableTD" colspan="2">
                            <table style="border-collapse: collapse;width:100%">
                                <apex:repeat value="{!obj.lstComments}" var="c">
                                    <tr class="tableTR">
                                        <td class="tableTD" style="width:200px;"> 
                                            <apex:commandLink action="{!EditComment}" value="Edit" style="color:#015BA7;font-weight:bold;text-decoration: none;">
                                                <apex:param name="CommentId" value="{!c.Id}"/>
                                            </apex:commandLink>
                                            &nbsp;|&nbsp;
                                           <a href="javascript:void(0)" onclick="return confirmDeleteCommentJS('{!c.Id}')" style="color:#015BA7;font-weight:bold;text-decoration: none;">Del</a>
                                            
                                        </td>
                                        <td class="tableTD">
                                            <div>{!c.CommentBody}</div>
                                            <!--<div><apex:commandLink value="Like" style="color:#015BA7;font-weight:normal;text-decoration: none;"/></div>-->
                                        </td>
                                        <td class="tableTD" style="width:200px;">
                                            <div><apex:commandLink value="{!c.createdBy.Name}" style="color:#015BA7;font-weight:bold;text-decoration: none;"/></div>
                                            <div style="font-family: Arial,Helvetica,sans-serif;color: rgb(102, 102, 102);">
                                                <apex:outputText value="{0, date, MM/dd/yyyy hh:mm a}">
                                                    <apex:param value="{!c.createdDate}" /> 
                                                </apex:outputText>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </apex:repeat>
                            </table>
                        </td>
                        
                    </tr>
                </table>
                <br/>   
                <apex:outputpanel rendered="{!NewCommentEnable}">
                    <table style="width:100%;border-top:3px solid #178AFF;border-bottom:1px solid #E5E5E5;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5">
                        <tr>
                            <td class="tableHeadTD" colspan="2">
                                Add Your Comment
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="tableTD">
                                Comment
                            </td>
                            <td class="tableTD">
                                <apex:inputField value="{!newComment.commentBody}" required="true"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableTD">
                                &nbsp;
                            </td>
                            <td class="tableTD">
                                <apex:commandButton value="Post" action="{!saveNewComment}"/>
                            </td>
                        </tr>
                    </table>
                </apex:outputpanel>
                <br/>
                <table style="width:100%;border-top:3px solid #178AFF;border-bottom:1px solid #E5E5E5;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;border-collapse: collapse;">
                    <tr style="border-bottom:1px solid #ECECEC;">
                        <td class="tableHeadTD" colspan="1" style="width: 30%;">
                            Internal Comments
                        </td>
                        <td class="tableHeadTD" colspan="1">                        
                            <apex:commandLink value="Add Your Comment" action="{!AddNewInternalComment}" style="font-size: 14px;" />
                        </td>
                    </tr>
                    <tr>
                         <td class="tableTD" colspan="2">
                            <table style="border-collapse: collapse;width:100%">
                                <apex:repeat value="{!obj.lstInternalComments}" var="c">
                                    <tr class="tableTR">
                                        <td class="tableTD" style="width:200px;"> 
                                            <apex:commandLink action="{!EditComment}" value="Edit" style="color:#015BA7;font-weight:bold;text-decoration: none;">
                                                <apex:param name="CommentId" value="{!c.Id}"/>
                                                <apex:param name="isinternal" value="yes"/>
                                            </apex:commandLink>
                                            &nbsp;|&nbsp;
                                           <a href="javascript:void(0)" onclick="return confirmDeleteInternalCommentJS('{!c.Id}')" style="color:#015BA7;font-weight:bold;text-decoration: none;">Del</a>
                                            
                                        </td>
                                        
                                        <td class="tableTD">
                                            <div>{!c.Comment__c}</div>
                                            <!--<div><apex:commandLink value="Like" style="color:#015BA7;font-weight:normal;text-decoration: none;"/></div>-->
                                        </td>
                                        <td class="tableTD" style="width:200px;">
                                            <div><apex:commandLink value="{!c.createdBy.Name}" style="color:#015BA7;font-weight:bold;text-decoration: none;"/></div>
                                            <div style="font-family: Arial,Helvetica,sans-serif;color: rgb(102, 102, 102);">
                                                <apex:outputText value="{0, date, MM/dd/yyyy hh:mm a}">
                                                    <apex:param value="{!c.createdDate}" /> 
                                                </apex:outputText>
                                            </div>
                                        </td>
                                    </tr>
                                </apex:repeat>
                            </table>
                        </td>
                        
                    </tr>
                </table>
                <br/>   
                <apex:outputpanel rendered="{!NewInternalCommentEnable}">
                    <table style="width:100%;border-top:3px solid #178AFF;border-bottom:1px solid #E5E5E5;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5">
                        <tr>
                            <td class="tableHeadTD" colspan="2">
                                Add Your Comment
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="tableTD">
                                Comment
                            </td>
                            <td class="tableTD">
                                <apex:inputField value="{!newInternalComment.Comment__c}" required="true"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableTD">
                                &nbsp;
                            </td>
                            <td class="tableTD">
                                <apex:commandButton value="Post" action="{!saveNewInternalComment}"/>
                            </td>
                        </tr>
                    </table>
                </apex:outputpanel>
                <br/>
                <!-- <table style="width:100%;border-top:3px solid #178AFF;border-bottom:1px solid #E5E5E5;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;border-collapse: collapse;">
                    <tr style="border-bottom:1px solid #ECECEC;">
                        <td class="tableHeadTD" colspan="1" style="width: 30%;">
                            Task
                        </td>
                        <td class="tableHeadTD" colspan="1" style="    padding-left: 30px;">                        
                            <apex:commandLink value="Add New Task" action="{!AddNewTask}" style="font-size: 14px;" />
                        </td>
                    </tr>
                    <tr>
                         <td class="tableTD" colspan="2">
                            <table style="border-collapse: collapse;width:100%">
                                <tr style="background-color:#F2F3F3">                               
                                    <th style="padding: 5px;">Action</th>
                                    <th style="padding: 5px;">Subject</th>
                                    <th style="padding: 5px;">Due Date</th>
                                    <th style="padding: 5px;">Status</th>
                                    <th style="padding: 5px;">Priority</th>
                                    <th style="padding: 5px;">Assigned To</th>
                                </tr>
                                <apex:repeat value="{!obj.lstTasks}" var="c">
                                    <tr class="tableTR">
                                        <td class="tableTD"> 
                                            <apex:commandLink action="{!EditTask}" value="Edit" style="color:#015BA7;font-weight:bold;text-decoration: none;">
                                                <apex:param name="TaskId" value="{!c.Id}"/>
                                            </apex:commandLink>
                                            &nbsp;|&nbsp;
                                            <a href="javascript:void(0)" onclick="return confirmDeleteTaskJS('{!c.Id}')" style="color:#015BA7;font-weight:bold;text-decoration: none;">Del</a>
                                            
                                            
                                        </td>
                                       
                                        <td class="tableTD">
                                            <div>{!c.Subject}</div>
                                        </td>                                       
                                        <td class="tableTD">                                            
                                            <div style="font-family: Arial,Helvetica,sans-serif;color: rgb(102, 102, 102);">
                                                <apex:outputText value="{0, date, MM/dd/yyyy hh:mm a}">
                                                    <apex:param value="{!c.ActivityDate}" /> 
                                                </apex:outputText>
                                            </div>
                                        </td>
                                        <td class="tableTD">
                                            <div>{!c.Status}</div>
                                        </td>
                                         <td class="tableTD">
                                            <div>{!c.Priority}</div>
                                        </td>
                                         <td class="tableTD">
                                            <div><apex:outputField value="{!c.OwnerId}" style="color:#015BA7;font-weight:bold;text-decoration: none;"/></div>
                                        </td>
                                        
                                        
                                    </tr>
                                </apex:repeat>
                            </table>
                        </td>
                        
                    </tr>
                </table> -->
                
                <br/>
                <table style="width:100%;border-top:3px solid #178AFF;border-bottom:1px solid #E5E5E5;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;border-collapse: collapse;">
                    <tr style="border-bottom:1px solid #ECECEC;">
                        <td class="tableHeadTD" colspan="2">
                            Last 100 Votes
                        </td>
                     
                    </tr>
                    <tr>
                         <td class="tableTD" colspan="2">
                            <table style="border-collapse: collapse;width:100%">
                                <apex:repeat value="{!IdeaVote}" var="c">
                                    <tr class="tableTR">
                                        <td class="tableTD"> 
                                            <apex:outputfield value="{!c.CreatedById}"/>
                                        </td>                                       
                                    </tr>
                                </apex:repeat>
                            </table>
                        </td>
                        
                    </tr>
                </table>
            <br/>
            
            </apex:outputpanel>         
        </apex:pageBlock>
        <apex:outputpanel rendered="{!isFindLayout}">
            <apex:pageBlock title="Possible Duplicates ({!RelatedIdeas.size})">
            <apex:pageBlockButtons >
                <apex:commandButton value="Merge with Current Idea" action="{!MergeIdea}"/>
                <apex:commandButton value="Cancel" action="{!Cancelfind}"/>
            </apex:pageBlockButtons>

            <apex:pageBlockTable value="{!RelatedIdeas}" var="p">
                <apex:column >
                    <apex:facet name="header"> 
                    <apex:inputCheckbox onchange="checkAll(this)"/>
                    </apex:facet>
                    <apex:inputCheckbox value="{!p.isCheck}" id="checkedone"/>
                </apex:column>
                <apex:column headervalue="Title" value="{!p.IdeaObj.Id}" />
                <apex:column headervalue="Idea Body" value="{!p.Ideabody}" />
                <apex:column headervalue="Vote Total" value="{!p.IdeaObj.VoteTotal}" />
                <apex:column headervalue="Comments" value="{!p.commentCount}" />
                <apex:column headervalue="Posted By" value="{!p.IdeaObj.CreatorName}" />
                <apex:column headervalue="Category" value="{!p.IdeaObj.Categories}" />
                <apex:column headervalue="Date/Time" value="{!p.IdeaObj.CreatedDate}" />
            </apex:pageBlockTable>
            </apex:pageBlock>
        </apex:outputpanel>
    </apex:form>
    <script>
        j$ = jQuery.noConflict();
        j$(document.getElementById('j_id0:theform:mainBlock')).addClass('pageBlock2');
        
        function DownloadFile(attId) {
            var url = '{!InstanceURL}/servlet/servlet.FileDownload?file='+attId;                                                    
            var win = window.open(url, '_blank');  win.focus();
        }
        function checkAll(cb)
        {
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("checkedone")!=-1)
                inputElem[i].checked = cb.checked;
            }
        }
        function confirmDeleteJS(){
            var isDelete = confirm("Deleting this item is irreversible. Touch OK to continue or CANCEL to abort.");
            if (isDelete) {
                deleteIdea();
                return true;
            }
            return false;
        }
         function confirmDeleteTaskJS(objid){
            
            var isDelete = confirm("Deleting this item is irreversible. Touch OK to continue or CANCEL to abort.");
            if (isDelete) {
                deleteIdeaTask(objid);
                return true;
            }
            return false;
        } 
        function confirmDeleteCommentJS(objid){
            var isDelete = confirm("Deleting this item is irreversible. Touch OK to continue or CANCEL to abort.");
            if (isDelete) {
                deleteIdeaComment(objid);
                return true;
            }
            return false;
        }
        function confirmDeleteInternalCommentJS(objid){
            var isDelete = confirm("Deleting this item is irreversible. Touch OK to continue or CANCEL to abort.");
            if (isDelete) {
                deleteInternalIdeaComment(objid);
                return true;
            }
            return false;
        }
        
    </script>
</apex:page>