<!--***************************************************************************
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
31-Aug-2017 - Rakesh - STSK0012697 - Added fields Complaint Number (CP #) and ClearQuest Number (PF #) .
*************************************************************************************-->
<apex:page standardController="Idea" extensions="IdeaCustomEditController">
 
    <apex:sectionHeader title="Idea" subtitle="Edit Idea"/>
    <apex:form id="theform">
     
        <apex:pageMessages />
        
        <apex:pageBlock id="mainBlock">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}"/>
                <apex:commandButton value="Send Email" action="{!SendEmail}"/>
                <apex:commandButton value="Cancel" action="{!Cancel}" immediate="true"/>
                
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:outputfield value="{!ideaObj.CommunityId}"/>
                <apex:inputfield value="{!ideaObj.Title}"/>
                <apex:inputfield value="{!ideaObj.Body}"/>
                <apex:inputfield value="{!ideaObj.Categories}"/>
                <apex:inputfield value="{!ideaObj.User_Submitted__c}"/> <!--STSK0012364 - Rakesh  -->
                <apex:inputfield value="{!ideaObj.Contact__c}"/>
                <apex:inputfield value="{!ideaObj.Status}"/>
                <apex:inputfield value="{!ideaObj.Release_Version__c}" />
                <apex:inputfield value="{!ideaObj.Assigned_group__c}" rendered="{!isEditableProductGroup}"/>
                <apex:inputfield value="{!ideaObj.Assigned_PdM__c}"/>
                <apex:inputfield value="{!ideaObj.TFS_Item__c}"/>
                <apex:inputfield value="{!ideaObj.Complaint_Number_CP__c}"/>
                <apex:inputfield value="{!ideaObj.ClearQuest_Number__c}"/>
                <apex:inputfield value="{!ideaObj.Priority__c}"/>
                <apex:inputfield value="{!ideaObj.Risk__c}"/>
                <apex:inputfield value="{!ideaObj.Size__c}"/>
                
                <apex:pageBlockSectionItem >
                    Attachment
                    <apex:outputpanel >
                    <apex:outputField value="{!IdeaAttachment.Name}"/>&nbsp;&nbsp;
                    <apex:inputfile value="{!IdeaAttachment.Body}" filename="{!IdeaAttachment.Name}" contentType="{!IdeaAttachment.ContentType}" />
                    </apex:outputpanel>
                    </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>    
            

        </apex:pageBlock>
        </apex:form>
        <apex:form id="blcomment" rendered="{!IF(idea.id != null,true,false)}">
        <apex:actionfunction action="{!DeleteInternalComment}" name="deleteInternalIdeaComment" rerender="blcomment">
            <apex:param value="" name="CommentId"/>
        </apex:actionfunction>
        <apex:pageblock title="Internal Idea Comment">
            <apex:pageBlockButtons >
                <apex:commandButton value="New Comment" action="{!NewInternalComment}"/>
            </apex:pageBlockButtons>
            <apex:pageblocktable value="{!InternalIdeaComment}" var="c">
                <apex:column headervalue="Action">
                    <apex:commandLink action="{!EditComment}" value="Edit" style="color:#015BA7;font-weight:bold;text-decoration: none;">
                        <apex:param name="CommentId" value="{!c.Id}"/>
                    </apex:commandLink>
                    &nbsp;|&nbsp;
                   <a href="javascript:void(0)" onclick="return confirmDeleteInternalCommentJS('{!c.Id}')" style="color:#015BA7;font-weight:bold;text-decoration: none;">Del</a>
                </apex:column>  
                <apex:column value="{!c.Comment__c}" headervalue="Comment"/>
                <apex:column value="{!c.CreatedById}" headervalue="Created By"/>
            </apex:pageblocktable>

        </apex:pageBlock>
        
        <script>
            function confirmDeleteInternalCommentJS(objid){
                var isDelete = confirm("Deleting this item is irreversible. Touch OK to continue or CANCEL to abort.");
                if (isDelete) {
                    deleteInternalIdeaComment(objid);
                    return true;
                }
                return false;
            }
        </script>
        
        
    </apex:form>

</apex:page>