<apex:page standardController="VU_Speakers__c" showHeader="false" sidebar="false">

<style type="text/css">
    * {
        margin:0;
        padding:0;
    }

    body {
        text-align:center;
    }

   

</style>

<div>

    <apex:repeat value="{!VU_Speakers__c.Attachments}" var="a">

        <apex:variable value="dummy" var="dummy" rendered="{!CONTAINS(a.Name, '.jpg') || CONTAINS(a.Name, '.gif') || CONTAINS(a.Name, '.png') || CONTAINS(a.Name, '.jpeg')}">

            <img src="/servlet/servlet.FileDownload?file={!a.Id}" title="{!a.Name}" style="max-height: 200px"/>

        </apex:variable>
       
    </apex:repeat>
</div>


</apex:page>