<!--
/*
 * Author: Amitkumar Katre
 * Created Date: 15-May-2017
 * Project/Story/Inc/Task : Installed product/ lightning project 
 * Description: This will be used to create installed product tree view based on top level product.
 */
-->
<apex:page standardController="SVMXC__Installed_Product__c" extensions="InstalledProductTreeCtrlLtg" id="pg" showHeader="false">
    <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS090Updated, 'assets/styles/salesforce-lightning-design-system.css')}" />
    <style>
    table {
        table-layout:fixed;
    }
    table td {width:100px; word-wrap:break-word;}
    </style>
    <div class="slds" >     
    <apex:includeScript value="{!$Resource.fixed_table_js}" />
    <script>
        $(document).ready(function(){
            $("#dateTable").tableHeadFixer({"left" : 8}); 
            //$(".aser").hide();    
            $(".showhr").click(function() {
                $(this).closest('tr').nextUntil("tr:has(.showhr)").toggle("fast", function() {});
                if($(this).children().html() == '+'){
                    $(this).children().html('&#8722;');   
                }else{
                    $(this).children().html('&#43;');;
                }
            });
            $(".ipId").click(function() {
                //for salesforce one navigation or lightning
                //if(typeof sforce.one != 'undefined') { // For Salesforce1 
                //sforce.one.navigateToSObject($(this).attr("value"));
                //}else { // For Salesforce web
               window.open('/'+$(this).attr("value"), "_blank");
                //}
            })
        });        
    </script>
    <br/>
    <article class="slds-card">
      <div class="slds-card__body slds-card__body_inner">
          <div class="wrapper" style="height:400px;">
          <table class="slds-table slds-table_bordered slds-max-medium-table_stacked-horizontal"  id="dateTable" >
          <thead>
            <tr class="slds-text-title_caps">
              <th scope="col">
                  <div class="slds-truncate" title="Installed Product Date">Installed <br/> Product
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Product Name">Product <br/>Name
                </div>
              </th>
              <th scope="col">
                  <div class="slds-truncate" title="Product Version Build">Product <br/>Version <br/>Build 
                  
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Serial Number" >Serial<br/> Number 
                 
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Contract Start Date">
                  Service  <br/> Contract
                </div>

              </th>
              <th scope="col">
                <div class="slds-truncate" title="Contract Start Date">Contract <br/>Start Date
                  
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Contract End Date" >Contract <br/>End Date
                  
                </div>
              </th>
             
              <th scope="col">
                <div class="slds-truncate" title="Status">Status
                 
                </div>
              </th>
             </tr>
          </thead>
          <tbody>
            <apex:repeat value="{!IPData}" var="ip">
                <tr class="slds-hint-parent" >
                 <td> <div class="slds-section slds-is-open"  >
                     <a class="showhr" href="#" style="text-decoration:none;">
                      <span class="test">&#8722;</span> 
                     </a>
                     <a href="#" class="ipId" value="{!ip.Id}" style="background:{!IF(ip.id == SVMXC__Installed_Product__c.Id,'darkorange','')};">{!ip.Name}</a></div>
                 </td>
                 <td>
                      <div class="slds-truncate" 
                           title="{!ip.SVMXC__Product__r.name}">
                          {!ip.SVMXC__Product__r.name}</div>
                  </td>
                 <td>{!ip.Product_Version_Build__r.Name}</td>
                 <td>{!ip.SVMXC__Serial_Lot_Number__c}</td>
                 <td>{!ip.SVMXC__Service_Contract__r.Name}</td>
                 <td>
                    <apex:outputText value="{0,date,MM/dd/yy}">
                        <apex:param value="{!ip.SVMXC__Service_Contract__r.SVMXC__Start_Date__c}" />
                     </apex:outputText>
                    </td>
                 <td><apex:outputText value="{0,date,MM/dd/yy}">
                        <apex:param value="{!ip.SVMXC__Service_Contract__r.SVMXC__End_Date__c}" />
                     </apex:outputText></td>
                 <td>{!ip.SVMXC__Status__c}</td>
                </tr>
                <apex:variable value="{!ip.R00N70000001hzcvEAA__r}"  var="iplist" />
                <apex:repeat value="{!iplist}" var="childIp">
                <tr class="slds-hint-parent aser" >
                  <td scope="row" data-label="Installed Product Name" style="text-align: center;">
                    <div class="slds-truncate" style="background: {!IF(childIp.id == SVMXC__Installed_Product__c.Id,'darkorange','')};" 
                         title="{!childIp.Name}">
                        <a href="#" class="ipId" value="{!childIp.Id}">{!childIp.Name}</a>
                    </div>
                  </td>
                  <td>
                      <div class="slds-truncate" title="{!childIp.SVMXC__Product__r.name}">{!childIp.SVMXC__Product__r.name}</div>
                  </td>
                  <td>{!childIp.Product_Version_Build__r.Name}</td>
                  <td>{!childIp.SVMXC__Serial_Lot_Number__c}</td>
                  <td>{!childIp.SVMXC__Service_Contract__r.Name}</td>
                  <td>
                    <apex:outputText value="{0,date,MM/dd/yy}">
                        <apex:param value="{!ip.SVMXC__Service_Contract__r.SVMXC__Start_Date__c}" />
                     </apex:outputText>
                    </td>
                 <td><apex:outputText value="{0,date,MM/dd/yy}">
                        <apex:param value="{!ip.SVMXC__Service_Contract__r.SVMXC__End_Date__c}" />
                     </apex:outputText></td>
                  <td>{!childIp.SVMXC__Status__c}</td>
                </tr>
                </apex:repeat>
            </apex:repeat>
          </tbody>
        </table> 
       </div>
     </div>
    </article>
  </div> 
</apex:page>