<apex:page standardController="Review_Products__c" recordSetVar="unused" sidebar="false">

<apex:includeScript value="{!$Resource.UtilJS}" />
<apex:form >
<apex:pageBlock >
<apex:pageMessages />
<apex:pageBlock >
Note: All modifications made on the page will be lost if Cancel button is clicked without clicking the Save button first. 
</apex:pageBlock>
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!save}"/>
<apex:commandButton value="Cancel" action="{!cancel}"/>
</apex:pageBlockButtons>
<apex:pageBlockTable value="{!selected}" var="a" id="table">
<apex:column headerValue="Product Profile">
<apex:inputField value="{!a.name}"/>
</apex:column>
<apex:column headerValue="Transition Phase gate">
<apex:inputField value="{!a.Transition_Phase_Gate__c}"/>
</apex:column>
<apex:column headerValue="National Language Support">
<apex:inputField value="{!a.National_Language_Support__c}"/>
</apex:column>
<apex:column headerValue="Design Output Review">
<apex:inputField value="{!a.Design_Output_Review__c}"/>
</apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form> 
</apex:page>