<apex:page standardController="SVMXC__Service_Order__c"
  recordSetVar="workOrders"
  extensions="MultiReviewCompleteController">

   <apex:stylesheet value="{!URLFOR($Resource.SLDS090, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
   <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" />
   <apex:includeScript value="{!$Resource.fixed_table_js}" />
   <apex:includeScript value="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/jquery.tablesorter.min.js" />
   <apex:stylesheet value="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/css/theme.blue.min.css" />
   <apex:form id="reviewForm">
       <div class="slds">
           
       <apex:actionFunction action="{!doCompleteReview}" name="doCompleteReview" reRender="reviewForm" oncomplete="saveComplete();"/>
       <apex:actionFunction action="{!redirect}" name="back" />
       <apex:outputPanel id="workOrder" rendered="{!woResultList.size > 0 }">
          <div class="slds-page-header">
              <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate">
                  <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                      <svg class="slds-icon slds-icon-standard-user" aria-hidden="true">
                        
                      </svg>
                    </div>
                    <div class="slds-media__body">
                      <p class="slds-text-title--caps slds-line-height--reset">Work Order Review Complete Result:</p>
                      <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title"></h1>
                    </div>
                  </div>
                  </div>
               </div>
           </div>
          <table class="slds-table slds-table--edit slds-table--bordered slds-table--fixed-layout slds-table--resizable-cols slds-no-cell-focus" >
          <thead>
            <tr class="slds-text-title--caps">
              <th scope="col">
                <div class="slds-truncate" title="Work Order Number">Work Order Number</div>
              </th>
              <th scope="col">
                <div title="Status">Status</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <apex:repeat value="{!woResultList}" var="result">  
            <tr >
              <th scope="row" data-label="Opportunity Name">
                <div class="slds-truncate" title="Cloudhub">{!result.woNumber}</div>
              </th>
              <td data-label="Status" class="{!result.success}" style="color:black;">
                {!result.msg}
              </td>
            </tr>
            </apex:repeat>          
           </tbody>
        </table>
        <br/>
        <apex:commandLink action="{!redirect}" value="back" styleClass="slds-button slds-button--brand"/>   
        </apex:outputPanel></div>
      </apex:form>
      <apex:outputPanel id="other">
      <div class="slds">
         <center>
            <div class="slds-spinner--large" id="spinner">
                    <img src="/resource/SLDS090/assets/images/spinners/slds_spinner_brand.gif" alt="Loading..." />
            </div>
         </center>
         <div class="slds-notify_container" style="display:{!If(size != 0,'none','')}"> 
          <div class="slds-notify slds-notify--toast slds-theme--error " role="alert">
            <span class="slds-assistive-text">Warning</span>
            <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close" onclick="back();">
              <c:svg styleClass="slds-button__icon slds-button__icon--large" path="/assets/icons/utility-sprite/svg/symbols.svg#close" />
              <span class="slds-assistive-text">Close</span>
            </button>
            <div class="slds-notify__content">
              <h2 class="slds-text-heading--small">Please select work order for review</h2>
            </div>
          </div>
         </div>
         
         <div class="slds-notify_container" style="display:{!If(size < 25,'none','')}"> 
          <div class="slds-notify slds-notify--toast slds-theme--error " role="alert">
            <span class="slds-assistive-text">Warning</span>
            <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close" onclick="back();">
              <c:svg styleClass="slds-button__icon slds-button__icon--large" path="/assets/icons/utility-sprite/svg/symbols.svg#close" />
              <span class="slds-assistive-text">Close</span>
            </button>
            <div class="slds-notify__content">
              <h2 class="slds-text-heading--small">Please do not select more than 25 records</h2>
            </div>
          </div>
         </div>
         
         <div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
               <div class="slds-modal__header">
                  <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" onclick="back();">
                    <c:svg styleClass="slds-button__icon slds-button__icon--large" path="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                     <span class="slds-assistive-text">Close</span>
                  </button>
                  <h2 id="header43" class="slds-text-heading--medium">Work Order Review Complete</h2>
               </div>
               <div class="slds-modal__content slds-p-around--medium">
                  <p>Please confirm, you are trying to mark the work order reviewed</p>
               </div>
               <div class="slds-modal__footer">
                  <button class="slds-button slds-button--neutral" onclick="back();">Cancel</button>
                  <button class="slds-button slds-button--brand" onclick="save();">Save</button>
               </div>
            </div>
         </div>
         <div class="slds-backdrop slds-backdrop--close"></div>
      </div>
      </apex:outputPanel>
      <script>
        var size = '{!size}';
        
        console.log(size);
        
        if(size == 0){
            $('.slds-modal').hide();        
        }
        
        console.log("size==="+size);
        
        if(size > 25){
            $('.slds-modal').hide();        
        }
        
        $('.slds-spinner--large').hide();   
    
        function save(){
            $('.slds-spinner--large').show();
            $('.slds-modal').hide();
            doCompleteReview();
         }
         function saveComplete(){
            $('.slds-modal').hide();
            $('.slds-spinner--large').hide();
         }
    </script>
</apex:page>