<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0">
    <title>MyVarian Logout</title>

    <style>
        h2 {
            margin-top: 10px;
            font-weight: bold;
            color: #0392d9;
            text-align: center !important;
            display: block !important;
            width: 100% !important;                 
        }

        i {
            text-align: center !important;
            display: block !important;
            width: 100% !important;
            margin-top:20px;
        }
    </style>

    <div class="container-fluid">
        <script type="text/javascript">
            $('#navbar-left').hide();
            $('#navbar-right').hide();
        </script>
        <apex:iframe src="{!$Site.Prefix}/secur/logout.jsp" height="1" width="1" />
        <script>
            function redirectToLogin(){
                window.parent.location="{!$Site.Prefix}/varian";
            }
            setTimeout("redirectToLogin()", 3000);
        </script>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <h2>Logging out...</h2>
    </div>
</apex:page>