<!-- 

/*************************************************************************\

    @ Author        : Surendra Babu

    @ Date      : 13-Feb-2016

    @ Description   : This page is MyVarian Login page for varian unite app.

    @ Last Modified By  :   surendra Babu

    @ Last Modified On  :   15-Feb-2016

    @ Last Modified Reason  :   Updated for better UI.

****************************************************************************/



-->

<apex:page showHeader="false" standardStylesheets="false" sidebar="false" controller="StLoginCntlr" Extensions="SlideController" action="{!RecievePON}">

<!-- <apex:actionSupport event="onload" action="{!RecievePON}" /> -->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="expires" content="0" />

    <meta http-equiv="Pragma" content="no-cache" />

    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />

    <title>Welcome to MyVarian! | MyVarian</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<!-- <link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" /> 

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
05-June-2013
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>



<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>



<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>-->

<!--<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>-->

<!--<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>



<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.js')}" />

<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/drupal.js')}" />

 <script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/googleanalytics.js')}" />  

<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.js')}" />

<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.js')}" />

< script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery_002.cycle.all.min.js.js')}" />

<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.js')}" />

<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.js')}" />

<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/javascript.js')}" /> -->



<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />

<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />

<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />

<apex:includeScript value="{!URLFOR($Resource.jQueryEasing)}"  />

<apex:includeScript value="{!URLFOR($Resource.jQueryCycle)}"  />





<style>
.sidebar .block-user h2{display:none;}
#container{margin:0% auto;font-size:16px;font-family: sans-serif;}
.item-list ul{padding:0 12px;}
.item-list ul a:nth-child(1){display:none;}
.item-list ul br{display: none;}
.item-list ul a{text-decoration: none !important;font-size: 13px; color: #027DBA;}

#sidebar-left .logoIconImg img{width: 250px;height: auto;margin: 70px;}
#block-user-0{padding-top: 250px;position: relative;}
#sidebar-left{ margin:-10px auto;    display: block; border:0px #ddd solid; border-radius: 5px;  width:400px;    float: none;}
#sidebar-left .logoIconImg{top: 0;text-align: center;position: absolute;width: 100%;margin: 0;left: 0;height: 200px;background: -webkit-linear-gradient(#40a9c8, #238bae);background: -o-linear-gradient(#40a9c8, #238bae);background: -moz-linear-gradient(#40a9c8, #238bae);background: linear-gradient(#40a9c8, #238bae);}
.form-required {color:red;}
#sidebar-left .content{ background:transparent;  margin: -20px auto;    display: block;    float: none;}
.block-user, #block-nice_menus-1 {background-image:none;}
#edit-name-wrapper label, #edit-pass-wrapper label{display:block;padding:10px 10px 0 15px;font-size:16px;color:#666;}
#edit-name-wrapper input, #edit-pass-wrapper input{font-size: 16px;box-shadow: inset 0px 2px 3px 1px #E0DDDD; background:#fff;padding: 10px 5px;margin:5px 12px;border: 1px solid #E0DDDD;width: 90%;border-radius: 10px;}
#login_button1 { -webkit-appearance: none;  -webkit-border-radius: 0;font-size: 20px;height: 50px;color: #fff;margin:10px ;padding:15px;border: 0px solid #ccc;border-radius: 0px;width:380px;text-align:center;
 background: #86bfdb; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#86bfdb, #377e9e); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#86bfdb, #377e9e); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#86bfdb, #377e9e); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#86bfdb, #377e9e); /* Standard syntax (must be last) */}
.createnewaccount{text-align: right;display: inline-block;float: right;font-size: 16px;color: #666;text-decoration: none;margin: 20px 10px;}   
.forgetpwd {text-align: right;display: inline-block;float: right;font-size: 16px;color: #666;text-decoration: none;margin-left: 21%;}
.item-list{display:none;}

.alertClass a:link, .alertClass a:visited {color: #027AC6;text-decoration: none;}
.alertClass{text-align: center;font-size: 14px;background: #fcc;color: #200;padding: 2px;border: 1px solid #d77;}
#cyclewrap{position:relative;width:545px;}  

    #cyclewrapnav {position:absolute; bottom:0; z-index:9999;}

    #cyclewrapnav a{background:transparent url(http://www.codingcereal.com/images/pagenav.png) no-repeat 0 0 ; float:left; height:15px; overflow:hidden; text-decoration:none; text-indent:-1234px; width:16px;}

    #cyclewrapnav a.activeSlide {background-position:-32px 0;}

    #cycleimages{overflow: hidden; position: relative;}
    
    body{background-color:#f4f4f4}

@media  screen and (max-width:768px) {
#sidebar-left .logoIconImg {height: 150px;}
#block-user-0 {padding-top: 120px;position: relative;}
#sidebar-left .logoIconImg img {width: 150px;margin: 60px;}
#container {margin: 100px auto;}
#sidebar-left{ width:400px;}
#login_button1 {width:95%;height: 50px;}
}
@media  screen and (max-width:480px) {
#sidebar-left .logoIconImg {height: 150px;}
#block-user-0 {padding-top: 120px;position: relative;}
#sidebar-left .logoIconImg img {width: 150px;margin: 60px;}

#login_button1 {width:280px;height: 50px;}
#sidebar-left{ width:300px;}
}    
@media  screen and (max-width:320px) {
#block-user-0 {padding-top: 120px;position: relative;}
#login_button1 {width:280px;height: 50px;}
#sidebar-left{ width:300px;}
}
</style>



<style>

.ui-widget-header

{

    border: #1B7CBA;

    background-color: #1B7CBA;

    background-image: none;

    color: White;

}


</style>



<apex:outputPanel id="imageblock">

<!-- <img src="{!cookieTokenUrl}" style="display:none"/> -->

<script>


function conditionCheck(){
mylgn();
return false; 
}

    
    

<!--alert("{!ready}"); -->

    if("{!ready}" == "true"){

        setTimeout(function(){window.open('{!$Label.oktacploginurl}','_self');},1000);

    }

    if("{!corrlog}" == "true"){

        setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg=true','_self');},1000);

         }  

     if("{!IsPassExist}" == "true"){ 

     setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg=false','_self');},1000);

     }

  if("{!corrlog1}" == "true"){

      setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg1=true','_self');},1000);

        }
</script>



</apex:outputPanel>



<script type="text/javascript"> 

    //$j = jQuery.noConflict();

    

    $(document).ready(function() {
    
$(document).keypress(function (e) {   
if (e.which == 13) {  
conditionCheck();
//mylgn();return false;
//alert();
  }})
  
$("#edit-name-wrapper input, #edit-pass-wrapper input").keypress(function(){
$("#alertErrorMsg").css("display","none");
});


    $('#edit-name-wrapper').prepend($('<div id="alertErrorMsg" class="alertClass" style="display:none;"></div>'));
    $('#edit-name-wrapper label').replaceWith('<label for="edit-name">Email <span class="form-required" title="This field is required.">*</span></label>');
    $('#edit-pass-wrapper label').replaceWith('<label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>');
   
    $('.sidebar').prepend($('<div class="logoIconImg"><img id="theImage" src="{!$Resource.MyVarianLogo}"  width="100" height="100"/> </div>'));
    $('#login_button1').attr('src', '');

      $('#login_button1').attr('value', '');
      $('#login_button1').attr('class', 'LoginDiv');
      $('.LoginDiv').replaceWith('<input id="login_button1" onclick="conditionCheck()" src="" type="button" value="Login" class="LoginDiv"><br><ul><a class="forgetpwd" href="/apex/VR_Registration_PG?Request=Reqnewpass" title="Request new password via e-mail." target="_top">Forgot your password?</a><br><a class="createnewaccount" href="/apex/VR_Registration_PG" title="Create new account" target="_top">Create new account</a></ul>');    
      $('#block-menu-menu-mainmenu-anonimus , #topToolBar').hide();

        if("{!dspMsg}" == "true"){
          $("#alertErrorMsg").css("display","block");
          $("#alertErrorMsg").html("Thank you for applying for an account. Your account is currently pending approval by the site administrator.\n In the meantime, a welcome message with further instructions has been sent to your e-mail address.");
          }
          
          if("{!logchk}" == "true"){
            $("#alertErrorMsg").css("display","block");
            $("#alertErrorMsg").html("Sorry, your username is not recognized.<a href='/apex/VR_Registration_PG'> Please register for a new account.</a>");
            }

          if("{!logchk}" == "false"){
            $("#alertErrorMsg").css("display","block");
            $("#alertErrorMsg").html("Sorry, your password is not recognized.<a href='/apex/VR_Registration_PG?Request=Reqnewpass'> Have you forgotten your password?</a>");
            }
    
          if("{!logchk1}" == "true"){
            $("#alertErrorMsg").css("display","block");
            $("#alertErrorMsg").html("You have been locked out of your account.<a href='/apex/VR_Registration_PG?Request=Reqnewpass'> Click here to reset your password.</a>");
            }   
       
       
        if ($('#cycleimages').length > 0) {

            $('#cycleimages').cycle({

                fx: 'scrollHorz',                

                speed: 750,

                timeout: 4000,

                randomizeEffects: false,

                pauseOnPagerHover: true,

                pagerEvent : 'mouseovetitletitler', 

                easing: 'easeOutCubic',

                next: '.cyclenext',

                prev: '.cycleprev',

                pager: '#cyclewrapnav',

                pause: 0,

                cleartypeNoBg: true

            });

                       

        }https://unite.varian.com/mobileApp/privacy-policy.html

    // for logintitle

     $("#loginPanelWindow").dialog({

                          autoOpen: false,

                          resizable: false,

                          height:350,

                          //dialogClass: "ui-widget-header",

                          width:550,

                          modal: true,

                          title:"Login Panel",

                            buttons: {

                            "Cancel": function(){

                              $(this).dialog("close");                          

                            }

                            }

                        });



       $('#loginPanel').click(function () {

            var guest = {!isGuest};

            //alert('Hi');

            if(guest)

            {

                $("#loginPanelWindow").dialog("open");

            }

            else

            {

            window.open("/apex/CpCasePage","_self")

            }

        });

    });



function mylgn1()

    {

        

        //alert('Hi-------');

        var usr = $('[id$=edit-emailvalue]').val();//document.getElementById('j_id0:innerform:edit-emailvalue').value;

        var psw = $('[id$=edit-passvalue]').val();//document.getElementById('j_id0:innerform:edit-pass').value;

        //alert('Username:' + usr + 'Password:' + psw);

        var cont = "createspport";

        //alert(cont);

        
        
        1(usr,psw,'createspport');

        return false;

    }

</script>

</head>

<body>

 <apex:form forceSSL="true">

 <!--apex:actionFunction name="chkLogin" action="{!login}" >  

 </apex:actionFunction -->





 </apex:form>

 

<div id="wrapper">
  <c:CpHeader />
   <!-- /topToolBar -->
    <div id="container">
   <c:CpSideMenu />
      <div id="center" class="CenterWithRightSide node-3 public_page frontPage">

                       

            <div class="centerTwoCol">  
   <div class="messages status" style="display:{!IF(dspMsg == 'true','block','none')};">

    Thank you for applying for an account. Your account is currently pending approval by the site administrator.<br />In the meantime, a welcome message with further instructions has been sent to your e-mail address.

    </div> 
   <div class="messages error" style="display:{!IF(logchk == 'true','block','none')};">

    Sorry, your username is not recognized.<a href="/apex/VR_Registration_PG"> Please register for a new account.</a></div>
    

   <div class="messages error" style="display:{!IF(logchk == 'false','block','none')};">

    Sorry, your password is not recognized.<a href="/apex/VR_Registration_PG?Request=Reqnewpass"> Have you forgotten your password?</a></div>

     <div class="messages error" style="display:{!IF(logchk1 == 'true','block','none')};">

    You have been locked out of your account.<a href="/apex/VR_Registration_PG?Request=Reqnewpass"> Click here to reset your password.</a></div>

 
<div id="node-3" class="node">
  <div class="content">
    <div class="hpWelcome">
        <!-- For login popup -->
    <div id='loginPanelWindow' style='display:none;'>
    
        <apex:form id="innerform">$('#login_button1').

        <apex:outputpanel id="loginPanel1">

        <div class="form-item" id="edit-name-wrapper">

            <label for="edit-name">E-mail: <span class="form-required" title="This field is required.">*</span></label>

            <apex:inputText maxlength="64" id="edit-emailvalue" size="60" styleClass="form-text required" /> 

            <div class="description">Enter your e-mail address.</div>
           
        </div>

        <div class="form-item" id="edit-pass-wrapper">

            <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>

            <apex:inputSecret maxlength="64" id="edit-passvalue" size="60" styleClass="form-text required" />

            <!-- input id="edit-pass" styleClass="form-text required" maxlength="128"  size="60" type="password" value="{!password}"/ --> 

            <div class="description">Enter the password that accompanies your e-mail.</div>

        </div>

        <input type="hidden" name="form_build_id" id="form-aa71e9e91818e9110a5b6dd8988e25da" value="form-aa71e9e91818e9110a5b6dd8988e25da"  />

        <input type="hidden" name="form_id" id="edit-user-login" value="user_login" />

        <input type="button" name="" value="Log in" onclick="mylgn1();return false;" id="login_button2" />

        </apex:outputPanel>

        <apex:actionFunction name="chkLogin1" action="{!LogintoOkta}" rerender="imageblock"> 

            <!--<apex:param name="password" value=""/>-->

            <apex:param name="user" value=""/>

            <apex:param name="pass" value=""/>

            <apex:param name="Createsupportcase" value="" />

        </apex:actionFunction>

        </apex:form>
    </div>
    <!-- For login popup -->
</div>
</div>
</div>          
</div>
</div> <!--  /#center -->
</div> <!-- /container -->

  <!-- footer -->
       
  <!-- /footer -->
  </div>

<!-- /layout -->

 



<script type="text/javascript"> 

    var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-1746809-2"]);_gaq.push(['_setCustomVar', 1, "role", "anonymous user", 1]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();



setTimeout("ShowE()",1000);

function ShowE(){

var msgE = "{!IF(NOT(ISNULL(propMessage)),propMessage,'')}";

if(msgE != null && msgE != "") alert(msgE);

}

  

</script> </body>



















</apex:page>