<!--
//
// (c) 2014 Appirio, Inc.
//
// This component provides functionality App Detail Page.
//
// 16/05/2015	Naresh K Shiwani	Initial		T-395854
-->
<apex:page docType="html-5.0" 
			showHeader="false" 
			sidebar="false" 
			standardStylesheets="false" 
			applyHtmlTag="false" 
			applyBodyTag="false" 
			cache="false" >
	<apex:composition template="OCSUGC_Template">
        <apex:define name="body">
        	OCSDC_AppFiles4
        </apex:define>
    </apex:composition>
</apex:page>