<!--
//
// (c) 2014 Appirio, Inc.
//
// This component provides functionality App Detail Page.
//
// 16/05/2015	Naresh K Shiwani	Initial		T-395854
-->
<apex:page docType="html-5.0" 
			showHeader="false" 
			sidebar="false" 
			standardStylesheets="false" 
			applyHtmlTag="false" 
			applyBodyTag="false" 
			cache="false">
	<apex:composition template="OCSUGC_Template">
        <apex:define name="body">
          <h2>Monte Carlo Solutions</h2>
          <div id="gettingStartedDoc">
          	<div class="panel panel-info">
              <div class="panel-heading">Getting Started</div>
              <div class="panel-body">
                <p>It depends on which system you'd like to simulate.</p>

                <p>For TrueBeam, we've already simulated the treatment head and provide the results as phase space files (lists of particles) immediately upstream of the jaws. You can simulate the jaws and MLC with your own simulation code based on drawings in the data package.</p> 

                <p>Alternatively, simulate the entire treatment head with the cloud based web app VirtuaLinac. A presentation on the VirtuaLinac is available 
                <a href="http://radiotherapyresearchtools.com/montecarlo/content/virtualinac_2014austin.pdf"  target="_blank">here</a><br/>
                Contact us for a demonstration. To get started, you'll need to sign the usage agreement and get an account with Amazon Web Services at 
                <a href="http://aws.amazon.com" target="_blank">http://aws.amazon.com</a></p>

                <p>For Clinac and Trilogy, download the data package with details of the treatment head and implement in your own simulation code.</p>

              </div>
            </div>
          </div>
          <div id="detailedDocs" style="padding-bottom:20px;">
            <h3>Detailed Documentation &amp; Downloads</h3>
            Detail documentation along with data files are avilable on <a href="CpMonteCarlo" target="_blank">MyVarian under Research Tools</a>.
          </div>
        </apex:define>
    </apex:composition>
</apex:page>