<!-- 
//  Created date - 10 Nov,2015 - Shital Bhujbal  - Page created to show privacy statement from Application's terms of use 	[ONCO - 429]
 --> 
<apex:page docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false">
           
	<apex:composition template="OCSUGC_Template">
    	<apex:define name="body">
    		<c:OCSDC_App_PrivacyStatement />
    	</apex:define>
    </apex:composition>
    
</apex:page>