<apex:page docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           controller="OCSUGC_ComposeChatterMessageController"
           cache="false">

<!--     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/> -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <style>
        .feedbackForm
        {
            border-bottom:0px;
            padding-bottom:0px;
        }

        .glow:hover, .glow:focus, .glow:active
         {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            background-color: #26868b;
         }
        .ui-front {
            z-index: 200 !important;
        }
        .ui-menu .ui-menu-item { font-size: 12px !important;}

    </style>
    <script>
    //Autosearch Functionality
        var j$ = jQuery.noConflict();

        j$(document).ready(function() {

            //invisble ajax loader

            //autocomplete code
            var sObjects;
            var queryTerm ;

            j$('#recipient-search').autocomplete({

               minLength: 1,

               source: function(request, response) {

                       queryTerm = request.term;

                       OCSUGC_ComposeChatterMessageController.populateUserEmailIdList(request.term, function(result, event){

                             if(event.type == 'exception')
                             {
                                 alert(event.message);
                             }
                             else
                             {
                                  sObjects = result;
                                  response(sObjects);
                             }
                        });
                     }
             });

        });

        //Show error message when field is blank
        function activateSendButton(){

            var recipientName = document.getElementById('recipient-search').value;
            var Array = recipientName.split(',');

            if(Array.length > 1){

                alert('{!$Label.OCSUGC_MultipleUserNameEntered}');
                return false;
            }
            else if(document.getElementById('recipient-search').value == ''){

                alert('{!$Label.OCSUGC_ToFieldEmpty}');
                return false;

            }
            else if(document.getElementById('idText').value == '')
            {
                alert('{!$Label.OCSUGC_MessageBodyEmpty}');
                return false;
            }

            if(document.getElementById('recipient-search').value != '' && document.getElementById('idText').value != ''){

                SendMessage(document.getElementById('idText').value,document.getElementById('recipient-search').value);

            }
        }
    </script>
    <apex:composition template="OCSUGC_Template">
         <apex:define name="body">
            <div id="wrap">
                <div class="container-fluid" >
                    <div class="container-bs">
                        <article class="create group">
                            <apex:form style="text-align: left;" Id="formId">
                                <apex:actionfunction name="redirectToUserProfilePage" action="{!btnCancel}" reRender="msg,idChatterMessage" status="actionStatus"/>

                                <apex:actionFunction name="SendMessage" action="{!btnSave}" reRender="formId" status="actionStatus">
                                     <apex:param name="message" value="" assignTo="{!strMessage}" />
                                     <apex:param name="selectedUserName" value="" assignTo="{!strSelectedUserName}" />
                                </apex:actionFunction>

                                <apex:actionFunction name="showFullMessageContent" action="{!fetchSelectedInboxMessage}" reRender="nwMessage,idChatterReplyMessage" status="actionStatus">
                                     <apex:param name="MsgId" value="" assignTo="{!strConversationId}" />
                                     <apex:param name="IndMsgId" value="" assignTo="{!strIndivisualMessageId}" />
                                </apex:actionFunction>
                                <apex:actionFunction name="newMessage" action="{!newMessage}" reRender="formId,opId" status="actionStatus">
                                </apex:actionFunction>
                                <apex:actionFunction name="replyMessage" action="{!replyMessage}" reRender="formId" status="actionStatus">
                                    <apex:param name="SelectedMsgId" value="" assignTo="{!strSendMessage}" />
                                </apex:actionFunction>
                                <apex:OutputPanel >
                                     <table>
                                         <tr>
                                            <td valign="top" style="background-color:#f2f3f5;">
                                                <label class="subHearderText" style="margin-left: 13px;">{!$Label.OCSUGC_Messages}</label>
                                            </td>
                                             <td valign="top" style="background-color:#f2f3f5;">
                                                <apex:outputPanel id="nwMessage" >
<!--                                                    <apex:outputPanel rendered="{!!newMessage}" >-->
                                                    <apex:outputPanel rendered="{!!isTypeHead}" >
                                                        <input type="button" style="margin-top: 10px;margin-left: 15px;" class="btn btn-primary btn-lg active" value='{!$Label.OCSUGC_NewMessage}' onclick="newMessage();"/>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                             </td>
                                         </tr>
                                         <tr>
                                            <td valign="top" style="background-color:#f2f3f5;overflow: scroll;">
                                                 <apex:OutputPanel Id="opId">
                                                    <table cellpadding ="1"  cellspacing="1" style="width: 237px;border: 1px solid black;margin-left: 13px;" id="tblInbox">
                                                        <apex:repeat var="msg" value="{!lstMessageWrapper}">
                                                            <!-- onclick="ShowSeletedItem(this,'{!msg.Id}','{!msg.MessageId}');"  -->
                                                             <tr Class="glow" Id="{!msg.Id}" onclick="ShowSeletedItem(this,'{!msg.Id}','{!msg.MessageId}');" style="cursor:pointer;background-color:{!msg.strBgColor}">
                                                                <td valign="top" style="padding: 6px 12px;width: 15%;border-bottom: 1px solid black;">
                                                                    <apex:image value="{!msg.Photo}" alt="Profile pic" width="40" height="40" style="border-radius: 50%;"/>
                                                                </td>
                                                                <td style="border-bottom: 1px solid black;">
                                                                    <apex:outputText style="color: black;font-size: 13px;font-weight: bold;" value="{!msg.Firstname} {!msg.Lastname}" /><br/>
                                                                    <apex:outputText style="color: black;font-size: 11px;" value="{!msg.ShortMessage}" /><br/>
                                                                    <apex:outputText style="color: gray;font-size: 10px;" value="{!msg.SendDateTime}" /><br/>
                                                                    <apex:inputHidden value="{!msg.FullMessage}" />
                                                                    <apex:inputHidden value="{!msg.Id}" />
                                                                </td>
                                                             </tr>
                                                        </apex:repeat>
                                                    </table>
                                                    <script>
                                                        function ShowSeletedItem(idTr,param,param1)
                                                        {
                                                            showFullMessageContent(param,param1);
                                                            idTr.style.cssText += "box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);background-color: rgb(147, 199, 204);cursor:pointer;";
                                                            var table = document.getElementById("tblInbox");
                                                            var rows = table.getElementsByTagName("tr");
                                                            for (i = 0; i < rows.length; i++) {
                                                                row = table.rows[i];
                                                                if(row.getAttribute("Id") != idTr.getAttribute("Id"))
                                                                {
                                                                    row.style.cssText += "box-shadow: none;background-color: white;cursor:pointer;";
                                                                }
                                                            }
                                                        }
                                                   </script>
                                                </apex:OutputPanel>
                                            </td>
                                            <td valign="top" style="background-color:#f2f3f5;width: 100%;">
                                                <div class="newMessageContainer" style="padding: 15px;margin-left: 0px;">
                                                    <apex:outputPanel id="idChatterReplyMessage" >
<!--                                                                    <apex:outputPanel id="idChatterMessage" rendered="{!newMessage}">-->
                                                                    <apex:outputPanel id="idChatterMessage" rendered="{!isTypeHead}">
                                                                       <apex:outputPanel >
                                                                            <label class="toStyle">To : </label>
                                                                            <input id="recipient-search"  style="width: 50%;"/>
                                                                            <hr></hr>
                                                                            <apex:actionstatus id="saveSatus">
                                                                               <apex:facet name="start">
                                                                                   <div id="salesforceSource_blurybackground" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.4;filter:alpha(opacity=40)"></div>
                                                                                   <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 80%; display: ''; ">
                                                                                       <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
                                                                                           <table align="center" valign="middle" style="width: 100%; height: 30%">
                                                                                               <tr align="center" valign="middle" style="width: 100%; height: 30%">
                                                                                                   <td valign="middle"><img src="/img/loading.gif"/><span class="waitingDescription"><b>Loading...</b></span></td>
                                                                                               </tr>
                                                                                           </table>
                                                                                       </div>
                                                                                   </div>
                                                                                   <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "></div>
                                                                               </apex:facet>
                                                                             </apex:actionstatus>
                                                                            <label class="toStyle">{!$Label.OCSUGC_WriteMessage}</label>
                                                                            <textarea id="idText" cols="90" rows="10" value="{!strMessage}" styleclass="styleBody"/><br/>
                                                                            <div>
                                                                               <input type="button" class="btn btn-primary btn-lg active" value='{!$Label.OCSUGC_SendButton}' id="sendButton" style="margin-left:0px;" onclick="activateSendButton();"/>
                                                                               <input type="button" class="btn btn-primary btn-lg active" value='{!$Label.OCSUGC_EditProfileCancelButton}' onclick = "redirectToUserProfilePage();" />
                                                                            </div>
                                                                        </apex:outputPanel>
    <!--                                                                     <apex:OutputPanel rendered="{!isMessageSent}"> -->
    <!--                                                                       <div class="newMessageContainer" style="padding-left:20%;padding-bottom: 10%;"> -->
    <!--                                                                            <label class="toStyle">{!$Label.OCSUGC_SuccessMessage}</label> -->
    <!--                                                                            <input type="button" class="btn btn-primary btn-lg active" value='{!$Label.OCSUGC_NewMessage}' onclick = "location.href = '/spheros/Spheros_ComposeChatterMessage'"/>  -->
    <!--                                                                       </div> -->
    <!--                                                                     </apex:OutputPanel> -->
                                                                    </apex:outputPanel>
<!--                                                                    <apex:outputPanel rendered="{!!newMessage}" >-->
                                                                    <apex:outputPanel rendered="{!!isTypeHead}" >
                                                                       <apex:repeat value="{!lstSingleMessage}" var="item" >
                                                                           <table style="width: 100%;overflow: scroll;">
                                                                               <tr style="background-color : rgb(147, 199, 204);"><td colspan="2" ><apex:outputText id="sendDateTime" value="{!item.SendDateTime}" style="float: right;font-size: 10px;margin-top: 10px;margin-right: 10px;" ></apex:outputText></td></tr>
                                                                               <tr style="background-color : rgb(147, 199, 204);">
                                                                                   <td  colspan="2" style="padding-left: 25px;padding-bottom:6px;">
                                                                                   <apex:outputText id="Recipientid" value="From {!item.Firstname} {!item.Lastname}" rendered="{!item.isReceived}"/>
                                                                                   <apex:outputText id="Senderid" value="To {!item.Firstname} {!item.Lastname}" rendered="{!(!item.isReceived)}"/>
                                                                                   </td>
                                                                                </tr>

                                                                                <!--<tr style="background-color : rgb(147, 199, 204);">
                                                                                   <td colspan="2" style="padding-left: 25px;padding-bottom:6px;">
                                                                                       <apex:outputText id="ShortMessageid" value="{!item.ShortMessage}" ></apex:outputText>
                                                                                   </td>
                                                                                </tr>-->

                                                                                <tr style="width: 100%;height: 100%;padding-left: 24px;background-color : white;border-bottom: 1px solid rgb(214, 213, 213);border-left: 1px solid rgb(214, 213, 213);border-right: 1px solid rgb(214, 213, 213);">
                                                                                   <td colspan="2"><div style="padding-left: 23px;height: 100px;padding-top: 11px;">
                                                                                   {!item.FullMessage}
                                                                                   </div></td>
                                                                                </tr>
       <!--                                                                         <tr><td colspan="2">&nbsp;</td></tr> -->
                                                                                <tr>
                                                                                    <td colspan="2" style="background-color : rgb(240, 240, 240);">
                                                                                       <hr/>
                                                                                    </td>
                                                                                </tr>
                                                                           </table>
                                                                       </apex:repeat>
                                                                       <br/>
                                                                       <apex:inputTextarea id="idReplyTxt" cols="90" rows="5" value="{!strSendMessage}" style="background-color : rgb(240, 240, 240);padding-left: 25px;padding-top:25px;" html-placeholder="Reply here.." />
                                                                       <input type="button" class="btn btn-primary btn-lg active" value='{!$Label.OCSUGC_ReplyMessage}' onclick="passSelectedId();" style="margin-left: 0px;" id="replyButton"/>
                                                                       <script>
                                                                           function passSelectedId()
                                                                           {
                                                                               var ReplyMsg = document.getElementById('{!$Component.idReplyTxt}').value;
                                                                               if(ReplyMsg =='' && ReplyMsg == null)
                                                                                   return false;
                                                                               else
                                                                                   replyMessage(ReplyMsg);
                                                                           }
                                                                       </script>
                                                                    </apex:outputPanel>
                                                           </apex:outputPanel>
                                                       </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- used to show loading status -->
                                            <apex:actionstatus id="actionStatus" startText="Requesting...">
                                                <apex:facet name="start">
                                                    <div id="salesforceSource_blurybackground" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.7;filter:alpha(opacity=60)"></div>
                                                    <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 80%; display: ''; ">
                                                        <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
                                                        <table align="center" valign="top" style="width: 100%; height: 30%">
                                                        <tr align="center" valign="top" style="width: 100%; height: 30%">
                                                             <td valign="top"><img src="/img/loading.gif"/><span class="waitingDescription"><b>Loading...</b></span></td>
                                                        </tr>
                                                        </table>
                                                        </div>
                                                    </div>
                                                    <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "/>
                                                    <script>document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);</script>
                                                </apex:facet>
                                                <apex:facet name="stop"></apex:facet>
                                            </apex:actionstatus>
                                        </apex:OutputPanel>
                                </apex:form>
                                </article>
                            </div>
                        </div>
                    </div>
                </apex:define>
            </apex:composition>
</apex:page>