<apex:page docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           cache="false">
  
    <html dir="ltr" lang="en-US" id="idHTML">
        <head>
            <c:OCSUGC_Resources id="idResource"/>
            
        </head>
        <header>
                <div class="container-bs">
                    <nav class="navbar navbar-default navbar-static" role="navigation">
                        <div class="container-fluid">
                            <div id="brand">
                                <a href="{!$Page.OCSUGC_Login}">
                                    Brand
                                </a>
                            </div>                                     
                        </div>
                    </nav> 
                </div>
        </header>
           <body id="home">
            <div id="wrap">
                <div class="container-fluid" >
                    <div class="container-bs">
                         <c:OCSUGC_ContactUs /> 
                    </div>
                </div>
            </div>
            
            <c:OCSUGC_Footer_NG />
        </body>
    </html>
</apex:page>