<apex:page id="pg"
           docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           controller="OCSUGC_UploadNewFilesController"
           cache="false"
           action="{!fetchFeedInfo}">
	<apex:composition template="OCSUGC_Template">
		<!-- ONCO-421 -->
		<apex:define name="pageTitle">
			<title></title>
		</apex:define>
		<apex:define name="body">
			<div id="wrapTemp">
				<apex:form >
					<apex:actionFunction name="uploadFiles" action="{!uploadNewImage}" />
					<apex:actionFunction name="cancelUploadFile" action="{!redirectToDetailPage}"/>
					<apex:outputPanel rendered="{!IF(isDc, false, true)}">
						<div>
							<img src="{!$Site.prefix}/sfc/servlet.shepherd/version/download/{!discussionImage.Id}?asPdf=false&operationContext=CHATTER" height="50%" width="50%" />
						</div>
					</apex:outputPanel>
					
			    	<div>
			    		<apex:actionRegion id="uploadfrm">
			    			<div>
			    				<input type="text" size= "45" id="extensionsTextBox" style="background-color: transparent;font-size:13px; border: 0px solid;color:gray;"
                                	   	value = "{!commmaSeperatedExtensions}" onfocus="if(this.value=='{!commmaSeperatedExtensions}'){this.value='';}"
                            	   		onblur="if(this.value==''){this.value='{!commmaSeperatedExtensions}';}" />
			    				<!-- <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            	<span class="fileinput-filename" style="word-break: break-all;"></span> -->
			    			</div>
			    			<span>
			    				<apex:inputfile id="imgInp" value="{!attachFile.body}" contentType="{!attachFile.ContentType}" filename="{!attachFile.Name}" 
			    					accept="{!If(isDC,'','image/x-png, image/gif, image/jpeg')}" onchange="readURL(this,event)" styleClass="inputFileClass" />
			    			 </span>
			    			 
			    			<div id="previewDiv">
			    				<img id="previewImg" src="#" alt="your image" width="50%" height= "50%" />			    				
			    			</div>
			    		</apex:actionRegion>
			    	</div>
			    	
				</apex:form>
			</div><!--/#wrapTemp -->
			<article class="create group buttons">
				<input type="button" id="uploadFile" class="btn btn-primary btn-lg active" value="Replace" onclick="uploadFiles();"/>
				<input type="button" id="cancelUpload" class="btn btn-primary btn-lg active" value="Cancel" onclick="cancelUploadFile();"/>
			</article>	
	<Script>
		
		$( document ).ready(function() {
		    $('#previewDiv').hide();
		    $('#uploadFile').hide();
		});
		
		function fileTypeCheck(thisId) {
			var fileNameWithPath = thisId.value;
			
			if(fileNameWithPath != '') {
				var fileName = fileNameWithPath.split(/(\\|\/)/g).pop();
				if(fileName.length > 80) {
					alert('{!$Label.OCSUGC_Exceeded_File_Name_Limit}' + '\n' + fileName);
					thisId.value = null;
					fillFileTypePlaceHolder();
					return false;
				}
				var ext = fileNameWithPath.substr(fileNameWithPath.lastIndexOf('.') + 1);
				var extArray = ('{!commmaSeperatedExtensions}').split(",");
				for(var i = 0; i < extArray.length; i++) {
					extArray[i] = extArray[i].trim();
				}
				if(extArray.indexOf(ext.toUpperCase()) == -1 ) {
					lockScreen(false,'{!$Label.OCSUGC_Uploading}');
					alert('File Type not Supported. You can only upload ' + '{!commmaSeperatedExtensions}' + ' files.');
					thisId.value = null;
					return;
				}
				document.getElementById("extensionsTextBox").value = fileName;
		    }
		}
		
		function readURL(thisId, e) {
			var file = e.target.files;
			var isDC = '{!isDC}';
			console.log('==' + file + isDC);
			fileTypeCheck(thisId);
			if (file && (isDC == 'false')) {
		        var reader = new FileReader();
				reader.onload = function (e) {
		            $('#previewImg').attr('src', e.target.result);
		            $('#newDesc').attr('value',e.target.result);
		            $('#previewDiv').show();
		        	$('#uploadFile').show();
		        }
				reader.readAsDataURL(e.target.files[0]);
			}
		}
		
		function fillFileTypePlaceHolder(){
            document.getElementById('extensionsTextBox').style.display = 'block';
        }
		
	</Script>
			
			
		</apex:define>
	</apex:composition>

</apex:page>