<apex:page id="pg" docType="html-5.0" showHeader="false" sidebar="false"
	standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false"
	controller="OCSUGC_UserSettingsController" cache="false">
	<link
		href="/sCSS/31.0/sprites/1405014268000/Theme3/default/gc/elements.css"
		rel="stylesheet" type="text/css" />
	<style>
</style>
	<apex:composition template="OCSUGC_Template">
		<!-- ONCO-421 -->
    	<apex:define name="pageTitle">
			<title>{!pageTitle}</title>
		</apex:define>
		<apex:define name="body">
			<div id="mainbody">
					<article class="create group">
					 <apex:form >
						<h1>{!$Label.OCSUGC_Settings}</h1> 						                                                
            <apex:outputPanel id="errorSuccessMsg" layout="block">
               <apex:outputLabel style="color: black;" rendered="{!successMessage!=''}">{!successMessage}</apex:outputLabel>
               <apex:outputLabel style="color: red;" rendered="{!errorMessage!=''}">{!errorMessage}</apex:outputLabel>
            </apex:outputPanel>  
						<div class="col-md-6 mandatory">
							<div class="form-group">
								<h1>{!$Label.OCSUGC_Email_Notification_Preferences}</h1>
								<apex:pagemessages />
								
								<apex:outputPanel rendered="{!contact != null}"
									styleClass="checkbox" layout="block">									
									<table>
										<tr>											
											<td><apex:inputCheckbox styleClass="checkbox active"
													value="{!contact.OCSUGC_Notif_Pref_EditGroup__c}"
													onchange="checkForEmptyValue(this.value);" /></td>
											<td class="active">{!$Label.OCSUGC_Receive_group_update_email_notifications}</td>
										</tr>
										<tr>
											
											<td><apex:inputCheckbox styleClass="checkbox active"
													value="{!contact.OCSUGC_Notif_Pref_ReqJoinGrp__c}"
													onchange="checkForEmptyValue(this.value);" /></td>
										  <td class="active">{!$Label.OCSUGC_Receive_user_requests_to_join_groups}</td>
										</tr>
										<tr>											
											<td><apex:inputCheckbox styleClass="checkbox active"
													value="{!contact.OCSUGC_Notif_Pref_InvtnJoinGrp__c}"
													onchange="checkForEmptyValue(this.value);" /></td>
										  <td class="active">{!$Label.OCSUGC_Receive_invitations_to_join_groups}</td>
										</tr>
										<tr>											
											<td><apex:inputCheckbox styleClass="checkbox active"
													value="{!contact.OCSUGC_Notif_Pref_PrivateMessage__c}"
													onchange="checkForEmptyValue(this.value);" /></td>
											<td class="active">{!$Label.OCSUGC_Receive_private_message_notifications}</td> 
										</tr>
									</table>
								</apex:outputPanel>


							</div>
							<!-- /.form-group -->

							<div class="form-group single-drop">								
								<input id="hiddenInput" type="hidden" name="hiddenInput"
									class="hiddenInput" />
								<apex:actionFunction name="updateTimeZoneSettings"
									action="{!updateTimeZoneSettings}" reRender="errorSuccessMsg"
									oncomplete="lockScreen(false,'{!$Label.OCSUGC_Processing}');" />								
									<label for="event-location">{!$Label.OCSUGC_Label_Time_Zone}</label>
									<apex:inputField value="{!userDetails.TimeZoneSidKey}"
										styleclass="form-control multiselect textClass"
										onchange="checkForEmptyValue(this.value);" />							
								<!-- /.form-group -->
							</div>
							<!-- /.form-group -->

						</div>

						<div class="col-md-6 optional"></div>
            </apex:form>
					</article>

					<article class="create group buttons">
						<apex:outputPanel id="buttonPanel">
							<button type="button" class="btn btn-primary btn-lg active"
								onclick="window.location.href='{!$Page.OCSUGC_Home}?isResetPwd=true'">{!$Label.OCSUGC_Label_Cancel}</button>
							<button type="button" class="btn btn-primary btn-lg inactive"
								id="createButton" disabled="disabled"
								onClick="lockScreen(true,'{!$Label.OCSUGC_Processing}'); updateTimeZoneSettings();">{!$Label.OCSUGC_Label_Update}</button>
						</apex:outputPanel>
					</article>

				

			</div>
			<!--/#wrap -->
		</apex:define>
	</apex:composition>

	<script>

                function checkForEmptyValue(thisValue){
                    var isAnyOneBlank = false;
                    jQuery('.textClass').each(function() {
                        if (jQuery(this).val() == '') {
                                isAnyOneBlank = true;
                        }
                       });
                       if(isAnyOneBlank){
                        document.getElementById('createButton').className = "btn btn-primary btn-lg inactive";
                        jQuery('#createButton').each(function() {
                            jQuery(this).attr("disabled", true);
                        });
                       }else{
                        document.getElementById('createButton').className = "btn btn-primary btn-lg active";
                        jQuery('#createButton').each(function() {
                            jQuery(this).attr("disabled", false);
                        });
                       }
                }
            </script>
</apex:page>