<apex:page id="pg"
           docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           controller="OCSUGC_UserProfileEditController"
           cache="false">
  <apex:composition template="OCSUGC_Template_NG">
    <apex:define name="pageTitle">
      <title>{!pageTitle}</title>
    </apex:define>
    <apex:define name="body">

      

      <h4>Edit Your Profile</h4><br/>

      <apex:form >
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <img src="{!largePhotoUrl}" alt="..."/>
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"  style="width: 200px;">
          <span class="fileinput-new">Select New Image</span>
          <span class="fileinput-exists">Change</span>
          <apex:inputFile value="{!photoBlobValue}"
                        contentType="{!photoContentType}"
                        fileName="{!photoFilename}"/>
          </span>
          <div class="btn-group fileinput-exists" role="group">
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          <apex:commandButton value="Save"
                            action="{!uploadPhoto}"
                            styleClass="btn btn-success fileinput-exists"/>
          </div>
        </div>
      </div>
      </apex:form>
      <br/>

      <apex:form id="idFormVarianAffiliation" style="text-align: left;">

        
        <!-- calling the server side functionality to update contact field  -->
        <apex:actionFunction name="callOnValidation" action="{!btnUpdateContact}" rerender="idFormVarianAffiliation" onComplete="lockScreen(false,'{!$Label.OCSUGC_Updating}');">
            <apex:param name="VarianAffilliationValue" value="" assignTo="{!strVarianAffiliation}" />
            <apex:param name="firstname" value="" assignTo="{!strFirstName}" />
            <apex:param name="lastname" value="" assignTo="{!strLastName}" />
            <apex:param name="UserAboutMe" value="" assignTo="{!strUserAboutMe}" />
        </apex:actionFunction>

        {!$Label.OCSUGC_ProfileEditFirstName} <span class = "required" style="color:red">*</span><br/>
        <apex:inputText id="idfirstName" value="{!strFirstName}" onkeyup="saveButtonWorks();" styleClass="form-control" style="font-family: proxima-nova-condensed,Arial,sans-serif;font-weight: 400;font-size: 24px;color: #454F58; background-color: #F3F3F2; text-align: left; height: 45px;" /><br/>

        {!$Label.OCSUGC_ProfileEditLastName} <span class = "required" style="color:red">*</span><br />
        <apex:inputText id="idLastName" value="{!strLastName}" onkeyup="saveButtonWorks();" styleClass="form-control" style="font-family: proxima-nova-condensed,Arial,sans-serif;font-weight: 400;font-size: 24px;color: #454F58; background-color: #F3F3F2; text-align: left; height: 45px;" /><br/>

        {!$Label.OCSUGC_ProfileEditAboutMe}
        <!-- Code changed 2 Sept 2014 Shital Bhujbal  Task ref :ONCO-273 -->
        <textarea class="form-control" id="idAboutMe" onkeyup="limitText(this,1000,true);" style="margin-top: 0px; font-family: proxima-nova-condensed, Arial, sans-serif; font-weight: 300; font-size: 20px; resize: horizontal; height: 322px; background-color: #F3F3F2; text-align: left;">{!strUserAboutMe}</textarea> 
        <font size="1" style="font-family: proxima-nova, Times, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857; color: #666666;">
            {!$Label.OCSUGC_EditProfileCountDown1}
                <span id="countdown" style="color: #666666;">{!intAboutMeCount}</span>
            {!$Label.OCSUGC_EditProfileCountDown2}
        </font>
        <br />
        <br />

        <apex:inputCheckbox id="checkBoxVarianAffiliated" onclick="showVarianAffiliation(this);" value="{!isVariantAffiliationCheck}" /> &nbsp;
        <apex:outputText value="{!$Label.OCSUGC_VarianAffiliationCheckboxLabel}" style="font-weight: bold;" />
        <br />
        <br />
        <!-- Containing the functionality of "VariantAffiliation" textbox show /hide
           if it is true then we get Variant Affiliation text box to enter value into it -->
        <div id="divAffilationPickList">
            {!$Label.OCSUGC_VarianAffiliationTextBoxLabel}<br />
            <div class="form-group single-drop">
                <apex:selectList size="1" styleclass="form-control multiselect textClass" value="{!userInformation.contact.OCSUGC_Affiliation_Type__c}" onchange="showVarianAffiliationByPickList(this);" style="background-color: #F3F3F2;" id="picklistAffiliationType">
                    <apex:selectOptions value="{!affiliatedTypePickListValues}" />
                </apex:selectList>
            </div>
        </div>
        <br />

        <div id="divAffilationTextBox">
            <apex:outputText value="{!$Label.OCSUGC_Affiliation_Details}" />
            <input type="text" maxlength="255" Id="idTxtBoxVarianAffiliation" onkeypress="checkEnter(event);" style="border: 1px solid #dddddd; text-align: left; height: 40px; width: 100%; margin-top: 0px;  background-color: #F3F3F2; font-family: proxima-nova-condensed, Arial, sans-serif; font-weight: 300; font-size: 20px;" class="form-control" /><br />
            <br />
        </div>
        <!-- Display the button based the Afiliation check box  -->
        <apex:actionFunction name="btnCancelAction" action="{!btnCancel}" rerender="idAbouts" onComplete="lockScreen(false,'{!$Label.OCSUGC_Loading}');"/>

        <div class="eidt profile buttons">
            <button id="btnCancel" type="button" onclick="btnCancelAction();lockScreen(true,'{!$Label.OCSUGC_Loading}');" class="btn btn-primary btn-lg active">Cancel</button>
            &nbsp;
            <apex:outputPanel Id="OpForButtonDispalyId">
                <button id="btnUpdate" type="button" onclick="validateNull();" class="btn btn-primary btn-lg active">{!$Label.OCSUGC_EditProfileUpdateButton}</button>
            </apex:outputPanel>
        </div>

        <script>
            $(document).ready(function() {
                showVarianAffiliation(document.getElementById('pg:OCSUGC_Template:idFormVarianAffiliation:checkBoxVarianAffiliated'));
                document.getElementById("idTxtBoxVarianAffiliation").value = '{!strVarianAffiliation}';
                saveButtonWorks();
            });

            function refreshFileName(inputFile) {
              document.getElementById("selectedFileName").innerText = inputFile.value;
            }
            
            //used to show/hide the Varian Affiliation picklist inside a page
            function showVarianAffiliation(chkBox)
            {
                if(chkBox.checked){
                    $("#divAffilationPickList").show();
                    showVarianAffiliationByPickList(document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:picklistAffiliationType"));
                } else {
                        $("#divAffilationPickList").hide();
                        $("#divAffilationTextBox").hide(); 
                        document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:picklistAffiliationType").value = "";
                }                                                               
            }
            
            //used to show/hide the Varian Affiliation textbox if piclist
            //value equals to other inside a page
            //(Task Ref. T-330869) Updated and set dynamic css through jquery.
            function showVarianAffiliationByPickList(pickListValue)
            { 
                setTimeout(function() { jQuery("li:has('a').active > a").css({'padding':'0'});
                            jQuery("li:has('a'):not(.active) > a").css({'padding':'0'});
                            },500);
                
                if(pickListValue.value=='Other'){
                    $("#divAffilationTextBox").show();
                }
                else{
                    document.getElementById("idTxtBoxVarianAffiliation").value = '';
                    $("#divAffilationTextBox").hide();
                }
            }

            //used to validate that user are entering value inside textbox or not
            //T-328680 - Conditional Validation and server method calling.
            function validateNull(){
                var firstNameId = document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:idfirstName").value;
                var lastNameId =  document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:idLastName").value;
                var AboutMeId = document.getElementById('idAboutMe').value;
                var reason= '';
                if(document.getElementById('pg:OCSUGC_Template:idFormVarianAffiliation:checkBoxVarianAffiliated').checked 
                    && document.getElementById('pg:OCSUGC_Template:idFormVarianAffiliation:picklistAffiliationType').value == ''){
                        alert('{!$Label.OCSUGC_VarianAffiliationAlertMessage}');
                        return false;
                }
                if(document.getElementById('pg:OCSUGC_Template:idFormVarianAffiliation:checkBoxVarianAffiliated').checked 
                    && document.getElementById('pg:OCSUGC_Template:idFormVarianAffiliation:picklistAffiliationType').value == 'Other'){
                        reason = jQuery('#idTxtBoxVarianAffiliation').val();
                        if(reason == null || reason == ''){
                            alert('{!$Label.OCSUGC_VarianAffiliationDetailsAlert}');
                            return false;
                        }
                    }
                    lockScreen(true,'{!$Label.OCSUGC_Updating}');
                    callOnValidation(reason,firstNameId,lastNameId,AboutMeId);
            }

            //executed when enterkey is pressed
            function checkEnter(e)
            {
               if(e.keyCode == 13)
               {
                    var lastNameId = document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:idLastName").value;
                    var firstNameId = document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:idfirstName").value;
                    var idInputTextarea = document.getElementById('idTxtBoxVarianAffiliation').value;
                    var AboutMeId = document.getElementById('{!$Component.idAboutMe}').value;
                    callOnValidation(idInputTextarea,firstNameId,lastNameId,AboutMeId);
                    return true;
               }
               else
                return false;
             }

              function validate(e)
              {
                var e=window.event || e
                var keyunicode=e.charCode || e.keyCode
                //Allow alphabetical keys, plus BACKSPACE and SPACE
                return (keyunicode>=65 && keyunicode<=122 || keyunicode==8 || keyunicode==32)? true : false
              }

                //used to limit text according to passed parameters.
                function limitText(limitField, limitCount, isToShowRemainingChar) {
                    if(limitField!=null){
                        if (limitField.value.length > limitCount) {
                            limitField.value = limitField.value.substring(0, limitCount);
                        } if(isToShowRemainingChar){
                                document.getElementById('countdown').innerHTML = limitCount - limitField.value.length;
                        }
                    }
                }
                
                function saveButtonWorks() {
                    var firstNameId = document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:idfirstName").value;
                    var lastNameId =  document.getElementById("pg:OCSUGC_Template:idFormVarianAffiliation:idLastName").value;
                    var AboutMeId = document.getElementById('idAboutMe').value;

                    /*if((firstNameId != null && firstNameId !='') && (lastNameId != null && lastNameId !='')
                        && (AboutMeId != null && AboutMeId !='')) {*/
                      if((firstNameId != null && firstNameId !='') && (lastNameId != null && lastNameId !='')) {
                        document.getElementById("btnUpdate").className = "btn btn-primary btn-lg active";
                        document.getElementById("btnUpdate").disabled = false;
                    } else {
                        document.getElementById("btnUpdate").className = "btn btn-default btn-lg active";
                        document.getElementById("btnUpdate").disabled = true;
                    }
                }

                

        </script>

      </apex:form>      
    </apex:define>
  </apex:composition>
</apex:page>