<apex:page id="pg"
           docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="true"
           applyHtmlTag="false"
           applyBodyTag="false"
           Controller="OCSUGC_UploadKnowledgeFile"
           cache="false">
  <head></head>

  <apex:composition template="OCSUGC_Template">
    <apex:define name="body">
        <!--[if lte IE 10]>
            <h1 style="text-transform: none !important;">OUR Message goes here</h1>
        <![endif]-->

        <article class="create group">
            <div class="col-md-6 mandatory">
                <div class="form-group" >
                    <label class="required"><span>*</span> File Upload</label>
                    <div class="fileinput fileinput-new input-group" id="uploadFileDiv">
                        <div class="form-control" style="overflow: hidden;">
                            <div id="msg" style="background-color: transparent;font-size:15px; border: 0px solid; color: gray;padding-right: 0px;z-index: 0;">
                                {!IF(knowledgeExchange.id!='',attachment.Name,'Please select a file to upload')}
                            </div>
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-primary btn-file btn-lg active">
                            <span class="fileinput-new" onclick="clickUpload()">Upload</span>
                            <span class="fileinput-exists" onclick="clickUpload()">Change</span>
                        </span>
                    </div>
                    <div style="position:relative;margin-top:5px;">
                        <span style="color: #999;">Maximum file size is 500 MB. </span>
                        <span style="color: tomato;display:'{!IF(commmaSeperatedExtensions!='','block','none')}';">{!commmaSeperatedExtensions} Allowed only</span>
                    </div>
                </div>
            </div>

            <apex:form >
                <apex:actionFunction name="redirectPage" action="{!redirectToKnowledgePage}"></apex:actionFunction>
            </apex:form>

            <div id="shareMsg">
                <label style="width: 70%">Your file is successfully attached. Please click on share button to publish your discussion. It will take time depending upon file size.</label>
                <input type="button" id="btnShare" class="btn btn-primary btn-lg active" style="margin-left: 15px;display: inline-block !important;float: right;margin-right: 125px;margin-top: 50px;" value="Share" onclick="skipFileUpload();lockScreen(true,'Publishing');" />
            </div>

            <article class="create group buttons">
                <input type="button" id="btnCancel" class="btn btn-primary btn-lg active" style="margin-left: 15px;" value="Cancel" onclick="cancelUploadFile();"/>
                <input type="button" id="btnSave" class="btn btn-primary btn-lg active" style="margin-left: 15px;" value="Share" onclick="share();"/>
            </article>
        </article>

        <!-- Commenting out this line as Id is mapped wrong and causing the chatter to fail, need to find which change cause this component to fail -->
        <!-- <chatter:feed entityId="{!$CurrentPage.parameters.Id}" onComplete="showSuccessMessage();"/> -->
        <chatter:feed entityId="{!$CurrentPage.parameters.Id}" onComplete="showSuccessMessage();"/>
        <apex:form >
            <apex:actionFunction name="skipFileUpload" action="{!skipFileUpload}" /> 
        </apex:form>

        <style>
            #shareMsg{
                display: none;
            }

            .btn-bs {
                margin-top: 0px;
            }
        </style>
        <script src="/soap/ajax/35.0/connection.js"></script>

        <script>
            function share(){
                if($('.file')[1].files.length > 0){
                    // 524288000 bytes = 500 MB
                    if($('.file')[1].files[0].size > 524288000){
                        //alert(('{!$Label.OCSUGC_Maximum_File_Size_FGAB_Discussion}').replace(/FILE_SIZE/gi,'{!$Label.OCSUGC_FGAB_Discussion_File_Upload_Size_Limit}'));
                        alert("You can not upload a file of size more than 500 MB. Please use a file of size less than 500 MB.");
                        return;
                    }
                    
                    if ($('.file')[1].files[0].size===0) {
                        alert('You can\'t upload file size with 0');
                        return;
                    }

                    try {
                        chatter.getPublisher().getWidget('visibilityDropdownWidget').setFeedItemVisibility('ALL_USERS');
                    } catch (err){}

                    var FileName = '';
                    if($('.file')[1].files[0].name !== null || $('.file')[1].files[0].name!==undefined)
                        FileName = $('.file')[1].files[0].name.toUpperCase();

                    var ext = FileName.substr(FileName.lastIndexOf('.') + 1);

                    var selectedExtensions = '{!commmaSeperatedExtensions}'
                    //alert(ext +'==='+ ext);
                    if(selectedExtensions.lastIndexOf(ext) == -1){
                        alert('File Type not Supported. You can only upload ' + selectedExtensions + ' files.');
                        return;
                    }
                  
                    $('#publishersharebutton').trigger('click');
                    $('.zen-btn').hide();
                    $('#btnSkip').hide();
                    $('#btnSave').hide();
                    $('#btnCancel').hide();
                    $('.form-group').hide();
                    //$('#shareMsg').show();
                }else{
                    alert('Please select a file');
                }
            }
            
            function showSuccessMessage(){
              $("#publisherQuestionTitle").hide();
                //$('#shareMsg').show();
                redirectPage();
            }
            
            function cancelUploadFile() {
                if('{!$CurrentPage.parameters.Id}'==''){
                    window.open('{!$Page.OCSUGC_Home}','_self');
                } else{
                    window.open('{!$Page.OCSUGC_KnowledgeArtifactDetail}?knowledgeArtifactId={!$CurrentPage.parameters.Id}','_self');
                }
            }
            
            function showSuccessMsg(){
                $('.zen-btn').hide();
                $('#btnSkip').hide();
                $('#btnSave').hide();
                $('#btnCancel').hide();
                $('.form-group').hide();
                
            }
            
            function clickUpload(){
              if (navigator.userAgent.match(/MSIE\s(?!10.0)/)) {
                      alert('Please use IE10 or higher for this functionality');
                      return false;
                  }
              $('#chatterFile').focus().trigger('click');
              $('#publishersharebutton').css( 'background-color', '#555');
              try {
                    chatter.getPublisher().getWidget('visibilityDropdownWidget').setFeedItemVisibility('ALL_USERS');
              } catch (err)
              {
                ;
              }
              
              if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
                    $('#publishersharebutton').css( 'background-image', '-moz-linear-gradient(center top , #555 0px, #555 100%)');
                }else if(navigator.userAgent.toLowerCase().indexOf('chrome') > -1){
                    $('#publishersharebutton').css( 'background-image', '-webkit-linear-gradient(top,#555 0,#555 100%)');
                }
              
            }
            
            $( document ).ready(function() {

                setTimeout(function(){
                    $('#publisherAttachContentPost').trigger('click');
                    $('#chatterUploadFileAction').trigger('click');
                    $('.publisherTextAreaPlaceholder').hide();
                    $('.bottomBarLeft').hide();
                    $('.uploadFileSizeLimit').hide();
                    $('#feedwrapper').hide();
                    $('.publisherFeedItemTypeChoices').hide();
                    $(".contentPublisherSlideDown.customPanel.alignTop").css("border", "0");
                    $(".cxfeedinnerwrapper").hide();

                    $('.clearContentPanelButtonContainer').hide();

                    var ua = window.navigator.userAgent;
                    var msie = ua.indexOf("MSIE ");
                    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){
                        
                        if(parseInt(ua.substring(msie + 5, ua.indexOf(".", msie))) > 9 ){
                            $('#uploadFileDiv').hide();
                            $('#btnSave').hide();
                            $('#btnCancel').hide();
                            $('#chatterFileStageTwo').css( 'background-color', 'rgb(192, 199, 191)');
                            $('#chatterFileStageTwo').css( 'border', '0px');
                            $('#chatterFileStageTwo').css( 'border-radius', '0px');
                            $('#chatterFileStageTwo').css( 'box-shadow', 'none');
                            $('#chatterFileForm').css( 'margin-left', '-20%');                          
                            $('.create group buttons').css( 'width', '45%');
                            $('.create group buttons').css( 'margin-top', '10%');
                        }
                    }
                    else {
                        $('#chatterFileStageTwo').hide();
                        $('.publisherBottomBarPlaceholder').css( 'opacity', '0');
                    }
                    $('.publisherWrapper').css( 'float', 'right');
                    $('.publisherWrapper').css( 'margin-top', '-13.5%');
                    $('#publishersharebutton').css( 'margin-right', '45px');
                    $('#publishersharebutton').css( 'width', '104%');
                    $('#publishersharebutton').css( 'height', '35px');
                    $('#publishersharebutton').css( 'padding', '0');
                    $('#publisherBottomBar').css( 'height', '40px');
                    $('#publisherBottomBar').css( 'background-color', 'rgb(192, 199, 191)');
                    $('#publisherBottomBar').css( 'border', '0');
                    $('.publisherBottomBarPlaceholder').css( 'position', 'absolute');
                    $('.publisherBottomBarPlaceholder').css( 'width', '8%');
                    $('.publisherBottomBarPlaceholder').css( 'margin-top', '-13.6%');
                    $('.publisherBottomBarPlaceholder').css( 'margin-left', '125%');
                    $('.contentPublisherSlideDown').css( 'border', '0'); 

                    //if('{!$CurrentPage.parameters.Id}'!=='' && '{!$CurrentPage.parameters.Id}'!==null && '{!recordExist}'==='true') {}
                    if('{!$CurrentPage.parameters.Id}'==='' || '{!$CurrentPage.parameters.Id}'===null || '{!recordExist}'==='false') {
                        $('.zen-btn').hide();
                        $('#btnSkip').hide();
                        $('#btnSave').hide();
                        $('#btnCancel').hide();
                        $('.form-group').hide();
                        $('#chatterFileStageTwo').hide();
                        alert('Knowledge Article Id does not exist.');
                    }
                }, 10);
                
                setTimeout(function(){
                    $('.file').on('change', function(){ 
                        $('#msg').html($('.file')[1].files[0].name);
                        $('#publishersharebutton').css( 'background-color', '#555');
                        $('#publishersharebutton').css( 'border', '0');
                        $('#publishersharebutton').css( 'background-image', 'none');
                    });
                }, 100);
                
                setTimeout(function(){
                    $('#publishersharebutton').on('click', function(){ 
                        $('.zen-btn').hide();
                        $('#btnSkip').hide();
                        $('#btnSave').hide();
                        $('#btnCancel').hide();
                        $('.form-group').hide();
                        $('#chatterFileStageTwo').hide();                      
                    });
                }, 100);
            });         
            
        </script> 
        <script> 
            var $buoop = {c:2,reminder: 0}; 
            function $buo_f(){ 
             var e = document.createElement("script"); 
             e.src = "//browser-update.org/update.js"; 
             document.body.appendChild(e);
            };
            try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
            catch(e){window.attachEvent("onload", $buo_f)}
        </script> 
        
    </apex:define>
  </apex:composition>
</apex:page>