<apex:page docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           controller="OCSUGC_ComposeChatterMessageController"
           action="{!fetchInboxMessage}"
           cache="false">
    
     <apex:composition template="OCSUGC_Template">
     <apex:define name="pageTitle">
    <title>{!pageTitle}</title>
   </apex:define>
     <apex:define name="body">
    <apex:form Id="formId"> <!-- <body> -->
        <apex:actionFunction name="showFullMessageContent" action="{!fetchSelectedInboxMessage}" reRender="idChatterReplyMessage" oncomplete="lockScreen(false,'{!$Label.OCSUGC_Loading}'); $('.needLinkify').linkify({validate: validateLinksInText });">
             <apex:param name="MsgId" value="" assignTo="{!strConversationId}" />
             <apex:param name="convName" value="" assignTo="{!strConversingUserName}" />
        </apex:actionFunction>
         <apex:actionFunction name="replyMessage" action="{!replyMessage}" rerender="leftMessagePaneId,idChatterReplyMessage" oncomplete="lockScreen(false,'{!$Label.OCSUGC_Loading}'); $('.needLinkify').linkify({validate: validateLinksInText });" >
            <apex:param name="SelectedMsgId" value="" assignTo="{!strSendMessage}" />
        </apex:actionFunction>
        <apex:outputpanel id="DummyPAnel">

        </apex:outputpanel>
        <div>            
          <div id="profile-actions" class="col-sm-3">
            <div class="profile-content">
              <div class="profile-details" style="padding-bottom:80px;">
                <!--<button type="button" class="btn btn-primary btn-lg active" onclick="RedirectToPrivateMsg();"><a href="{!$Page.OCSUGC_PrivateMessage}{!IF(isDC,'?dc=true','')}">{!$Label.OCSUGC_NewMessage}</a></button>-->
                <!-- Shital Bhujbal   7/7/2015   Changes done in New message button to solve issue ONCO-337.    -->
                <a class="btn btn-primary btn-lg active col-sm-3" href="{!$Page.OCSUGC_PrivateMessage}{!IF(isDC,'?dc=true','')}">{!$Label.OCSUGC_NewMessage}</a>
              </div>
              <h2 class="message">My Inbox</h2>
               <div class="message-list">                              
                 <apex:outputPanel Id="leftMessagePaneId" layout="block">
                   <apex:repeat var="msg" value="{!lstMessageWrapper}">
                     
                     <div class="{!msg.strBgColor}" style="{!IF(msg.isRead, 'background: #ebebe9;' , 'background: #FEF5E4;')}" Id="{!msg.Id}" onclick="lockScreen(true,'{!$Label.OCSUGC_Loading}');markAsRead('{!msg.Id}','{!msg.isRead}'); ShowSeletedItem(this,'{!msg.Id}','{!msg.MessageId}', '{!msg.Firstname} {!msg.Lastname}');"> 
                       <a href="#">
                         <div class="headshot">
                           <apex:image value="{!msg.Photo}" alt="Profile pic" width="40" height="40" style="border-radius: 50%;"/>
                         </div>
                          <div class="info">
                             <div class="meta">
                               <apex:outputText style="color: black;font-size: 13px;font-weight: bold;" value="{!msg.Firstname} {!msg.Lastname}" /><br />
                                 <span>
                                   <apex:outputText style="color: black;font-size: 11px;" value="{!msg.ShortMessage}" /><br/>
                                   <apex:outputText style="color: gray;font-size: 10px;" value="{!msg.SendDateTime}" /><br/>
                                 </span>                                     
                             </div>
                           </div>
                       </a>
                     </div>           
                   </apex:repeat>
                 </apex:outputPanel>
                              <script>
                                   function ShowSeletedItem(idTr,param,param1,name)
                                  {
                                      showFullMessageContent(param,name);
                                       

                                      //need to make logic on toggling between messages in Inbox.

                                      var divMessageOverview = document.getElementsByClassName("message-overview");
                                      for(i = 0; i < divMessageOverview.length; i++)
                                      {
                                          if(divMessageOverview[i].getAttribute("Id") != idTr.getAttribute("Id"))
                                          {
                                              divMessageOverview[i].className = "message-overview";
                                              $(divMessageOverview[i]).css( "background", "#ebebe9" );
                                          }
                                      }
                                      idTr.className = "message-overview active";
                                      $(idTr).css("background", "#fff");
                                  }
                                  function markAsRead(msgId, isRead) {
                                    if(typeof isRead !== 'undefined' && isRead == 'false') {
                                      $("#"+msgId).css( "background", "#ebebe9" );
                                    }
                                  }

                             </script>
                            </div>
                        </div>
                        </div>
                        <script>
                            function jumpToBottom()
                            {
                              window.location = '#message';
                              document.getElementById("message").focus();
                            }

                            function passSelectedId()
                            {
                                var ReplyMsg = document.getElementById('message').value;                                
                                if(ReplyMsg =='' || ReplyMsg == null) {                                   
                                    return false;
                                }
                                else {
                                                                     
                                    replyMessage(ReplyMsg);
                                    return true;
                                }
                            }
                            
                            jQuery(document).ready(function(){

                                var divMessageOverview = document.getElementsByClassName("message-overview active");
                                for(i = 0; i < divMessageOverview.length; i++)
                                {
                                    $(divMessageOverview[i]).css( "background", "#fff" );
                                }
                                
                            });                            
                        </script>
                        
                        <style>
                            pre{
                                background-color: inherit;
                                border: 0;
                            }

                            article.profile.messages .message:last-child {
                              margin-bottom: 0px;
                            }

                            article.profile.messages .message {
                              padding: 15px 20px;
                              border-bottom: none;
                            }

                            article.profile.messages .message.sent {
                              background: none !important;
                            }

                            article.profile.messages .message.sent p.reply {
                              color: #5A5F62;
                              font-size: 14px;
                              font-weight: bold;
                              text-align: right;
                            }

                            .bubble
                            {
                            position: relative;
                            padding: 10px;
                            background: #f6f6f6;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                            border: #ececec solid 1px;
                            white-space: pre-wrap;
                            }

                            article.profile.messages .message.sent .bubble {
                              background: #fdfdfd;
                              text-align: right;
                              border: #e8e8e8 solid 1px;
                            }

                           .bubble:after
                            {
                            content: '';
                            position: absolute;
                            border-style: solid;
                            border-width: 0 8px 10px;
                            border-color: #f6f6f6 transparent;
                            display: block;
                            width: 0;
                            z-index: 1;
                            margin-left: -8px;
                            top: -10px;
                            left: 7%;
                            }

                            .bubble:before
                            {
                            content: '';
                            position: absolute;
                            border-style: solid;
                            border-width: 0 8px 10px;
                            border-color: #e8e8e8 transparent;
                            display: block;
                            width: 0;
                            z-index: 0;
                            margin-left: -8px;
                            top: -11px;
                            left: 7%;
                            }

                            .message.sent > .bubble:after
                            {
                            content: '';
                            position: absolute;
                            border-style: solid;
                            border-width: 0 8px 10px;
                            border-color: #fdfdfd transparent;
                            display: block;
                            width: 0;
                            z-index: 1;
                            margin-left: -8px;
                            top: -10px;
                            left: 93%;
                            }

                            .message.sent > .bubble:before
                            {
                            content: '';
                            position: absolute;
                            border-style: solid;
                            border-width: 0 8px 10px;
                            border-color: #e8e8e8 transparent;
                            display: block;
                            width: 0;
                            z-index: 0;
                            margin-left: -8px;
                            top: -11px;
                            left: 93%;
                            }



                        </style>
                        <article class="profile messages col-sm-8 col-sm-offset-1" style="padding:0px; margin-top: 10px;">
                          <div>
                              <div class="panel-scroller">
                                <apex:outputPanel id="idChatterReplyMessage" >
                                  <h4 style="padding: 20px 20px 0px 20px;">Your Conversation with {!strConversingUserName}</h4>                                  
                                     <apex:outputPanel layout="block" rendered="{!canReply}" styleclass="message" style="border-bottom: 2px solid #CCC; padding-top:0px; margin-top:-35px;">
                                        <a href="#message" class="btn btn-primary btn-lg active" onclick="jumpToBottom(); return false;">{!$Label.OCSUGC_ReplyMessage}</a>
                                     </apex:outputPanel>
                                  <apex:repeat value="{!lstSingleMessage}" var="item" >
                                          <apex:outputPanel layout="block" styleClass="message sent" rendered="{!(!item.isReceived)}">
                                            <p class="reply">
                                            Me
                                            <span>{!item.SendDateTime}</span></p>
                                            <div class="bubble"><pre class="needLinkify" style="font-family: proxima-nova,Times,Helvetica,Arial,sans-serif;">{!item.FullMessage}</pre></div>
                                          </apex:outputPanel>
                                          <apex:outputPanel layout="block" styleClass="message" rendered="{!item.isReceived}">
                                            <p class="reply">{!item.Firstname} {!item.Lastname}
                                            <span>{!item.SendDateTime}</span></p>
                                            <div class="bubble"><pre class="needLinkify" style="font-family: proxima-nova,Times,Helvetica,Arial,sans-serif;">{!item.FullMessage}</pre></div>
                                          </apex:outputpanel>
                                  </apex:repeat>

                                      <apex:outputPanel layout="block" styleClass="message reply" style="border-top: 2px solid #CCC; border-bottom: none; background-color:#f5f5f5;"  rendered="{!canReply}">
                                        <form>
                                          <div class="form-group">
                                            <label for="message">{!$Label.OCSUGC_ReplyMessage}</label>
                                            <textarea class="form-control" placeholder="Message" id="message" value="{!strSendMessage}"></textarea>
                                          </div>
                                          <apex:commandbutton styleclass="btn btn-primary btn-lg active" Id="rplyMsg" onclick="if(passSelectedId()) { lockScreen(true,'{!$Label.OCSUGC_Loading}'); }" rerender="DummyPAnel" value="{!$Label.OCSUGC_ReplyMessage}" style="cursor:pointer;" />
                                        </form>
                                      </apex:outputPanel>
                              </apex:outputPanel>
                            </div>
                          </div>
                      </article>
        </div><!--/#wrap -->
<!--    </body> -->
    </apex:form>
    </apex:define>
    </apex:composition>
</apex:page>