<!--
//
// (c) 2014 Appirio, Inc.
//
// This page is used to create and update Knowledge File.
08 Nov 2014    Naresh K Shiwani    I-137732
12 Oct 2015    Shital Bhujbal      ONCO-401     Added onKeydown event on Tags.
 -->
<apex:page id="pg"
           docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           controller="OCSUGC_KnowledgeArtifactCreationCon"
           cache="false">
           <style>
           select.customCss {
                width:200px !Important;
                height:200px !Important;
                background-color: #fff !Important;
           }
           img.customCss {
                width: 43px !Important;
           }

           .col-sm-4 > .multiSelectPicklistTable{
             display : none;
           }

           .ShowDefaultOption > .requiredInput > .btn-group > .multiselect-container li:first-child {
                display : block !important;
            }
           </style>
        <apex:composition template="OCSUGC_Template">
            <apex:define name="body">
                <article class="create group" style="margin: 0px 1% 0px;">
                    <apex:outputPanel id="errorPane"  style="color: red !important;">
                         <apex:pagemessages />
                         <script>
                                if($('.msgIcon') != null) {
                                    $('.msgIcon').hide();
                                }
                         </script>
                         <br/>
                     </apex:outputPanel>
                    <apex:outputPanel id="startKnowledgeLabel" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                        <h1>Share Knowledge</h1>
                    </apex:outputPanel>
                    <apex:outputPanel id="updateKnowledgeLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                        <h1>Update Knowledge</h1>
                    </apex:outputPanel>
                    <div class="form-group" id="required-instruction">
                        <label class="required" style="padding-top:22px"><span>*</span> Required Field</label>
                    </div>
                    <input id="hiddenInput" type="hidden" name="hiddenInput" class="hiddenInput"/>
                    <apex:actionStatus id="LoadStatus">
                        <apex:facet name="start">
                            <apex:outputPanel >
                            <apex:outputPanel styleClass="popupBackground" layout="block"/>
                                    <apex:outputPanel styleClass="custPopup statusBGClass" layout="block">
                                                Waiting...<br/><br/><br/>
                                    <apex:image value="/img/loading32.gif" />
                                </apex:outputPanel>
                             </apex:outputPanel>
                        </apex:facet>
                    </apex:actionStatus>
                 </article>

                <div class="col-md-6 mandatory">
                    <apex:form id="frm1">
                        <article class="create group">
                            <div class="form-group single-drop">
                                <label class="required" for="knowledge-type"><span>*</span>{!$Label.OCSUGC_ArtifactType}</label>
                                <apex:outputPanel id="FileTypeDropDown" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                                    <div class="btn-group open ShowDefaultOption">
                                        <apex:actionRegion >
                                            <apex:inputField value="{!knowledgeExchange.OCSUGC_Artifact_Type__c}"  styleclass="textClass req form-control multiselect" id="knowledge-visibility">
                                            <apex:actionSupport event="onchange" action="{!fetchExtensions}" onComplete="artifactTypeChange();">
                                                <apex:param name="firstParam" value="" assignTo="{!knowledgeExchange.OCSUGC_Artifact_Type__c}" />
                                            </apex:actionSupport>
                                            </apex:inputField>
                                        </apex:actionRegion>
                                        <apex:outputPanel rendered="{!requiresManagerApproval}">
                                            <font size="2">{!$Label.OCSUGC_Require_Manager_Approval}</font>
                                        </apex:outputPanel>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel id="FileTypeLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                    <apex:outputText value="{!knowledgeExchange.OCSUGC_Artifact_Type__c}" style="padding-left: 10px;"/>
                                </apex:outputPanel>
                            </div><!-- /.form-group -->
                                <apex:actionFunction name="uploadFileAction" action="{!uploadAttachment}">
                                </apex:actionFunction>

                                <!--<div class="form-group">
                                    <apex:actionFunction name="refresh" reRender="tagPanel" status="LoadStatus"/>
                                        <label class="required"><span>*</span> File Upload</label>
                                        
                                         <apex:outputPanel id="FileUpload"> 
                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                <div class="form-control" data-trigger="fileinput">
                                                    <input type="text" size= "45" id="extensionsTextBox" style="background-color: transparent;font-size:13px; border: 0px solid;color:gray;" value = "{!commmaSeperatedExtensions}" onfocus="if(this.value=='{!commmaSeperatedExtensions}'){this.value='';}" onblur="if(this.value==''){this.value='{!commmaSeperatedExtensions}';}" />
                                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                    <span class="fileinput-filename" id="inputFileNameSpan"></span>
                                                </div>
                                                <span class="input-group-addon btn btn-primary btn-file btn-lg active">
                                                    <span class="fileinput-new">Upload</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <apex:inputfile id="idInputFile" styleClass="inputFileClass" value="{!attachment.body}" disabled="{!knowledgeExchange.OCSUGC_Artifact_Type__c=='Select a File Type'}" filename="{!attachment.Name}" onchange="updateHiddenValue(this, event);checkForEmptyValue();" ></apex:inputfile>
                                                </span>
                                                <a href="#" id="removeBtn" class="input-group-addon btn btn-default active fileinput-exists" data-dismiss="fileinput" onClick="fillFileTypePlaceHolder();">Remove</a>
                                            </div>
                                        <font size="2">{!selectedKASupportedFileSizeLabel}</font>
                                        </apex:outputPanel>
                                        <apex:outputPanel id="FileUploadLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                            <apex:outputText value="{!attachment.Name}" style="padding-left: 10px;"/>
                                        </apex:outputPanel>
                                </div>-->
                                <!--<apex:outputPanel id="FileUpload" rendered="{!IF(knowledgeExchange.id=='',true,false)}">-->
                                <!-- /.form-group -->



                            <div class="form-group">
                                 <label class="required" for="knowledge-title"><span>*</span> Title</label>
                                <apex:inputField value="{!knowledgeExchange.OCSUGC_Title__c}"  styleClass="req form-control textClass" style="height: 37px;" id="knowledge-title" onkeyup="limitText(this, 225, false);checkForEmptyValue();"/>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                <label class="required" for="knowledge-description" style="width: 125px;"><span>*</span> Description</label>
                                {!$Label.OCSUGC_Do_Not_Enter_Personal_Info}
                                <apex:inputField onkeyup="limitText(this, 5000, true);checkForEmptyValue();" value="{!knowledgeExchange.OCSUGC_Summary__c}"  styleClass="req form-control textClass" label="Description" id="knowledge-description" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 124px;"/>
                                You have <span id="countdown">5000</span> characters left.
                            </div><!-- /.form-group -->

                            <div class="form-group single-drop">
                                <label class="required" for="group-visibility"><span>*</span> Visibility</label>
                                <apex:outputPanel id="VisibilityDropDown" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                                    <apex:selectList value="{!selectedGroup}" size="1" styleclass="form-control multiselect textClass" id="group-visibility"
                                    onchange="checkForEmptyValue();updateTagsActionForVisibility();" >
                                        <apex:selectOptions value="{!allUserGroups}"/>
                                    </apex:selectList>
                                </apex:outputPanel>
                                <apex:outputPanel id="VisibilityLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                    <apex:outputText value="{!knowledgeExchange.OCSUGC_Group__c}" style="padding-left: 10px;"/>
                                </apex:outputPanel>
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="knowledge-Video">Youtube Video</label>
                                <apex:inputField value="{!knowledgeExchange.OCSUGC_Youtube_Video__c}"  styleClass="req form-control textClass" style="height: 37px;" id="knowledge-video"/>
                            </div>
                            -->
                            <!-- /.form-group -->

                        </article>
                    </apex:form>
                </div>

                <div class="col-md-6 optional">
                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'RapidPlan DVH Estimation Model'
                                                  || knowledgeExchange.OCSUGC_Artifact_Type__c == 'Developer Mode XML'
                                                  || knowledgeExchange.OCSUGC_Artifact_Type__c == 'AURA Report'
                                                  || knowledgeExchange.OCSUGC_Artifact_Type__c == 'InSightive Dashboard', true, false)}">
                        <apex:form id="frm2">
                            <article class="create group">
                                <apex:actionFunction name="updateTagsAction" action="{!updatePrePopulateTags}" rerender="idTag" status="clearAllStatus">
                                    <apex:param value="" name="param1" assignTo="{!selectedPicklistValue}"/>
                                    <apex:param value="" name="param2" assignTo="{!selectedOldPicklistValue}"/>
                                </apex:actionFunction>

                                <apex:actionFunction name="updateWrapperForMultiPicklistValuesAction" action="{!updateWrapperForMultiPicklistValues}" rerender="idTag">
                                    <apex:param value="" name="param1" assignTo="{!commaSeperatedPicklistValues}"/>
                                </apex:actionFunction>

                                <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'RapidPlan DVH Estimation Model', true, false)}">
                                    <apex:outputPanel id="RapidPlanDropDown" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                                        <div class="form-group">
                                            <label for="knowledgeanatomical">Anatomical Site:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Anatomical_Sites__c}"
                                                styleClass="form-control multiselect" id="knowledgeanatomical"/>
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="targetDoseLevel">Target Dose Level:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;"
                                                    value="{!knowledgeExchange.OCSUGC_Target_Dose_Level__c}" styleClass="form-control multiselect" id="targetDoseLevel" />
                                        </div><!--/.form-group -->
                                    </apex:outputPanel>
                                    <apex:outputPanel id="RapidPlanLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Anatomical_Sites__c),false,true)}">
                                            <div class="form-group">
                                                <label for="knowledgeanatomical">Anatomical Site:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Anatomical_Sites__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Target_Dose_Level__c),false,true)}">
                                            <div class="form-group">
                                                <label for="targetDoseLevel">Target Dose Level:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Target_Dose_Level__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>

                                <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'Developer Mode XML', true, false)}" id="developermodexml">
                                    <apex:outputPanel id="DeveloperModeDropDown" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                                        <div class="form-group">
                                            <label for="qatest">QA Test:</label>
<!--    Included_Structures__c                              <div id="inc" class="col-sm-4"> -->
                                                <apex:inputField id="qatest" onchange="updateTags(this);this.oldvalue = this.value;"
                                                    value="{!knowledgeExchange.OCSUGC_QA_test__c}" styleClass="form-control multiselect"/>
<!--                                                        </div> -->
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="truebeamversion">TrueBeam Version:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_TrueBeam_version__c}"
                                                styleClass="form-control multiselect" id="truebeamversion"/>
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="exotictrajectory">Exotic Trajectory:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Exotic_Trajectory__c}"
                                                    styleClass="form-control multiselect" id="exotictrajectory"/>
<!--                                                     <input id="blankline" type="text" name="blankline" style="background-color: transparent; border: 0px solid;"/>                                   -->
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="imagingonly">Imaging Only:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Imaging_Only__c}"
                                                    styleClass="form-control multiselect" id="imagingonly"/>
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="dynamictracking">Dynamic Tracking:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Dynamic_Tracking__c}"
                                                styleClass="form-control multiselect" id="dynamictracking"/>
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="intrafiximaging">Intra Frx Imaging:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Intra_Frx_Imaging__c}"
                                                    styleClass="form-control multiselect" id="intrafiximaging"/>
<!--                                                     <input id="blankline" type="text" name="blankline" style="background-color: transparent; border: 0px solid;"/>                                   -->
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="gating">Gating:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Gating__c}"
                                                    styleClass="form-control multiselect" id="gating"/>
                                        </div><!--/.form-group -->
                                    </apex:outputPanel>
                                    <apex:outputPanel id="DeveloperModeLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_QA_test__c),false,true)}">
                                            <div class="form-group">
                                                <label for="qatest">QA Test:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_QA_test__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_TrueBeam_version__c),false,true)}">
                                            <div class="form-group">
                                                <label for="truebeamversion">TrueBeam Version:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_TrueBeam_version__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Exotic_Trajectory__c),false,true)}">
                                            <div class="form-group">
                                                <label for="exotictrajectory">Exotic Trajectory:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Exotic_Trajectory__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Imaging_Only__c),false,true)}">
                                            <div class="form-group">
                                                <label for="imagingonly">Imaging Only:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Imaging_Only__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Dynamic_Tracking__c),false,true)}">
                                            <div class="form-group">
                                                <label for="dynamictracking">Dynamic Tracking:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Dynamic_Tracking__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Intra_Frx_Imaging__c),false,true)}">
                                            <div class="form-group">
                                                <label for="intrafiximaging">Intra Frx Imaging:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Intra_Frx_Imaging__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Gating__c),false,true)}">
                                            <div class="form-group">
                                                <label for="gating">Gating:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Gating__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>

                                <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'AURA Report', true, false)}">
                                    <apex:outputPanel id="AuraReportDropDown" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                                        <div class="form-group">
                                            <label for="reporttype">Report Type:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Report_Type__c}"
                                                styleClass="form-control multiselect" id="reporttype"/>
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="compatibilityaura">Compatibility:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;"
                                                    value="{!knowledgeExchange.OCSUGC_Compatibility__c}" styleClass="form-control multiselect" id="compatibilityaura" />
                                        </div><!--/.form-group -->
                                    </apex:outputPanel>
                                    <apex:outputPanel id="AuraReportLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Report_Type__c),false,true)}">
                                            <div class="form-group">
                                                <label for="reporttype">Report Type:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Report_Type__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Compatibility__c),false,true)}">
                                            <div class="form-group">
                                                <label for="compatibilityaura">Compatibility:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Compatibility__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>

                                <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'InSightive Dashboard', true, false)}">
                                    <apex:outputPanel id="InSightiveDropDown" rendered="{!IF(knowledgeExchange.id=='',true,false)}">
                                        <div class="form-group">
                                            <label for="dashboardtype">Dashboard Type:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;" value="{!knowledgeExchange.OCSUGC_Dashboard_Type__c}"
                                                styleClass="form-control multiselect" id="dashboardtype"/>
                                        </div><!--/.form-group -->

                                        <div class="form-group">
                                            <label for="compatibilityinsightive">Compatibility:</label>
                                                <apex:inputField onchange="updateTags(this);this.oldvalue = this.value;"
                                                    value="{!knowledgeExchange.OCSUGC_Compatibility__c}" styleClass="form-control multiselect" id="compatibilityinsightive" />
                                        </div><!--/.form-group -->
                                    </apex:outputPanel>

                                    <apex:outputPanel id="InSightiveLabel" rendered="{!IF(knowledgeExchange.id!='',true,false)}">
                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Dashboard_Type__c),false,true)}">
                                            <div class="form-group">
                                                <label for="dashboardtype">Dashboard Type:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Dashboard_Type__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!IF(ISBLANK(knowledgeExchange.OCSUGC_Compatibility__c),false,true)}">
                                            <div class="form-group">
                                                <label for="compatibilityinsightive">Compatibility:</label>
                                                <apex:outputText value="{!knowledgeExchange.OCSUGC_Compatibility__c}"/>
                                            </div><!--/.form-group -->
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>

                            </article>
                        </apex:form>
                    </apex:outputPanel>

                    <apex:form id="frm3">
                        <article class="create group" style="{!IF(knowledgeExchange.id=='','','margin-top: -23px;')}">
                                <apex:outputPanel id="idTag">
                                    <div class="form-group form-tags">
                                        <apex:actionFunction name="updateTagsActionForVisibility" action="{!updatePrePopulateTagsForVisibility}" rerender="idTag"/>
                                        <apex:actionFunction immediate="true" name="addTagAction" action="{!addTag}" rerender="idTag, errorPane" status="clearAllStatus">
                                            <apex:param name="selectedTag" assignTo="{!selectedTag}" value="" />
                                        </apex:actionFunction>
                                        <apex:actionFunction immediate="true" name="updateTagAction" action="{!updateTag}" reRender="idTag" status="clearAllStatus">
                                            <apex:param name="selectedTag" assignTo="{!selectedTag}" value="" />
                                        </apex:actionFunction>
                                        <apex:outputPanel >
                                            <label for="tags">{!$Label.OCSUGC_Tags}</label>
                                            <input type="text" style="height: 38px;" class="form-control" id="tags" placeholder="+ Tag" onkeyup="limitText(this,40,false);" onKeydown="Javascript: if (event.keyCode==13) {addTagAction(document.getElementById('tags').value); return false;}"/>
                                            <apex:outputPanel rendered="{!IF(wrapperTags.size<VALUE($Label.OCSUGC_Knowledge_Tag_Limit) , true, false)}">
                                                <button type="button" class="btn-sm btn-primary active" onClick="addTagAction(document.getElementById('tags').value);">+Add</button>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!IF(wrapperTags.size>=VALUE($Label.OCSUGC_Knowledge_Tag_Limit) , true, false)}">
                                            <button type="button" class="btn-sm btn-primary inactive" disabled="disabled" onClick="addTagAction(document.getElementById('tags').value);">+Add</button>
                                         </apex:outputPanel>
                                        </apex:outputPanel>
                                        <div style="{!IF(wrapperTags.size == 0,'display: none;','display: block;')}">
                                            <ul>
                                               <apex:repeat value="{!wrapperTags}" var="tag">
                                                   <li class="{!IF(tag.isActive,'active','inactive')}">
                                                    <a href="javascript:void(0);" onClick="updateTagAction('{!tag.tagName}');">
                                                        {!tag.tagName}
                                                    </a>
                                                   </li>
                                               </apex:repeat>
                                            </ul>
                                        </div>
                                    </div>
                                    <apex:actionStatus id="clearAllStatus">
                                        <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px" height="17px"/></apex:facet>
                                        <apex:facet name="stop" />
                                    </apex:actionStatus>
                                    <script>
                                        $("#tags").keydown(function(event){
                                        if(event.keyCode == 13) {
                                          event.preventDefault();
                                          return false;
                                        }
                                      });
                                    </script>
                                </apex:outputPanel>
                            </article>
                        </apex:form>
                     </div>
                <article class="create group buttons">
                  <apex:outputPanel id="buttonPanel">
                  <button type="button" class="btn btn-primary btn-lg active" onclick="fnCancel();">Cancel</button>
                  <button type="button" class="btn btn-primary btn-lg inactive" id="createButton" onClick="lockScreen(true,'{!$Label.OCSUGC_Processing}'); addKnowledgeTags();">
                  {!IF(ISBLANK(knowledgeExchange.id),'Save And Next','Update And Next')}</button>
                    </apex:outputPanel>
                </article>
<!--                                <div class="col-sm-12" id="copyright"> -->
<!--                                    <p>&copy; 2014 Varian Medical Systems, Inc.? All rights reserved.<a href="#">Terms of Use</a><a href="#">Privacy Statement</a><a href="#">FAQs</a><a href="#">Contact Us</a></p> -->
<!--                                </div> -->
                </apex:define>
        </apex:composition>
        <script>

                function fillFileTypePlaceHolder(){

                }

                function checkForEmptyValue(){
                    var isAnyOneBlank = false;
                    jQuery('.textClass').each(function() {
                        if (jQuery(this).val() == ''
                            || jQuery(this).val() == 'Select a File Type') {
                            isAnyOneBlank = true;
                        }
                    });
                    if(isAnyOneBlank){
                    if(document.getElementById('createButton')!=null)
                        document.getElementById('createButton').className = "btn btn-primary btn-lg inactive";
                        jQuery('#createButton').each(function() {
                            jQuery(this).attr("disabled", true);
                        });
                    }else{
                    if(document.getElementById('createButton')!=null)
                        document.getElementById('createButton').className = "btn btn-primary btn-lg active";
                        jQuery('#createButton').each(function() {
                            jQuery(this).attr("disabled", false);
                        });
                    }
                }

                jQuery('.custom-upload input[type=file]').change(function(){
                    var testStr = $(this).val();
                    var i1 = testStr.lastIndexOf("\\");
                    if(i1 != -1){
                        testStr = testStr.substring(i1+1);
                    }
                    jQuery(this).next().find('#fileName').html(testStr);
                });


                //Function to add article tags for user
                function addKnowledgeTags(){
                    var isValidate = true;
                    jQuery('.req').each(function() {
                        if (jQuery(this).val() == '') {
                          isValidate = false;
                          if (!jQuery(this).next('div').hasClass('errorMsg')) {
                            jQuery('<div class="errorMsg" style="color:red;"><nobr><strong>{!JSENCODE($Label.OCSUGC_Error)} </strong>{!JSENCODE($Label.OCSUGC_Required_Field_Error)}</nobr></div>').insertAfter(this);
                          }
                        }else {
                            jQuery(this).next('.errorMsg').remove();
                        }
                    });
                    if(!isValidate){
                        return false;
                    }
                    /*if('{!knowledgeExchange.id}'=='' || '{!knowledgeExchange.id}'==null){
                        var selectedFileExtension = '';
                        $('.hiddenInput').each(function(){
                            selectedFileExtension = ''+$(this).val().toUpperCase();
                        });
                        if(selectedFileExtension == '' || selectedFileExtension == null){
                            lockScreen(false,'{!$Label.OCSUGC_Uploading}');
                            //alert('{!$Label.OCSUGC_Please_Select_File_To_Upload}');
                            alert('{!$Label.OCSUGC_Please_Select_File_To_Upload}');
                            return;
                        }

                        var selectedExtensions = '{!commmaSeperatedExtensions}'
                        //alert(selectedExtensions +'==='+ selectedFileExtension);
                        if(selectedExtensions.lastIndexOf(selectedFileExtension) == -1){
                            lockScreen(false,'{!$Label.OCSUGC_Uploading}');
                            alert('File Type not Supported. You can only upload ' + selectedExtensions + ' files.');
                            return;
                        }
                    }*/
                    uploadFileAction();
                }

                function updateHiddenValue(thisId, e){
                    var fileNameWithPath = thisId.value;
                    
                    if(fileNameWithPath != ''){
                    //Start Here - 11 Nov 2014    Naresh K Shiwani       (Task Ref. I-137732)
                        var fileName = fileNameWithPath.split(/(\\|\/)/g).pop();
                        console.log(fileName);
                        
                        var extArray = ('{!commmaSeperatedExtensions}').split(",");
                        
                        for(var i = 0; i < extArray.length; i++) {
                            extArray[i] = extArray[i].trim();
                        }
                        
                        if(fileName.length > 80){
                            alert('{!$Label.OCSUGC_Exceeded_File_Name_Limit}' + '\n' + fileName);
                            thisId.value = null;
                            fillFileTypePlaceHolder();
                            return false;
                        }
                    //Ends Here - 11 Nov 2014    Naresh K Shiwani       (Task Ref. I-137732)
                        if(document.getElementById('extensionsTextBox')!=null)
                            document.getElementById('extensionsTextBox').style.display = 'none';
                    }
                    // ONCO-418
                    var ext = fileNameWithPath.substr(fileNameWithPath.lastIndexOf('.') + 1);
                    if(extArray.indexOf(ext.toUpperCase()) == -1 ) {
                        lockScreen(false,'{!$Label.OCSUGC_Uploading}');
                        alert('File Type not Supported. You can only upload ' + '{!commmaSeperatedExtensions}' + ' files.');
                        return;
                    }
                    var fle = e.target.files;
                    var fsize;
                    var arr = JSON.parse('{!JsonMap}');
                    var allowedsize = parseInt(arr["{!knowledgeExchange.OCSUGC_Artifact_Type__c}"])*1024;
                    console.log(' -- allowedsize -- ' + allowedsize + ' -- arr -- ' + arr["{!knowledgeExchange.OCSUGC_Artifact_Type__c}"]);
                    for(var i = 0, f; f = fle[i]; i++) {
                        fsize = f.size;
                    }
                    
                    if(fsize > allowedsize) {
                        alert('Cannot upload file, Maximum File size is ' + '{!selectedKASupportedFileSizeLabel}');
                        thisId.value = null;
                        return false;
                    }
                    // ONCO-418
                    
                    $('.hiddenInput').each(function(){
                        $(this).val(ext);
                    });
                    
                    checkFileSize();
                }
                
                function checkFileSize() {
                    var file = document.getElementById('idInputFile');
                    console.log(' oncomplete ' + file);
                }
                
                function updateTags(textbox){
                    if((textbox.oldvalue !='' || textbox.oldvalue != null) 
                        && (textbox.value =='' || textbox.value == null)){
                            updateTagAction(textbox.oldvalue);
                    } else{
                    updateTagsAction(textbox.value, textbox.oldvalue);
                }
                }

                function checkMultiPickListValues(){
                    var selectedOptions = $.map($('#inc :selected'),
                        function(e) {
                            return $(e).text();
                        } );
                    var str = selectedOptions.join(',');
                    //alert(str);
                    updateWrapperForMultiPicklistValuesAction(str);
                }
                $('.messageText').css('color', 'red');

                $(document).ready(function() {
                        artifactTypeChange();
                        checkForEmptyValue();
                        if('{!uploadStatus}' != ''){
                            alert('{!uploadStatus}');
                        }

                        setTimeout(function(){
                        jQuery("li:has('a'):has('label'):has('input[Value=None]')").remove();
                        }, 1000);

                        jQuery("#pg\\:CK_Template\\:frm1\\:knowledge-title").attr("placeholder", "Title");
                        jQuery("#pg\\:CK_Template\\:frm1\\:knowledge-description").attr("placeholder", "Description");
                        if('{!commmaSeperatedExtensions}' == '') {
                            if(document.getElementById('extensionsTextBox')!=null) {
                                document.getElementById('extensionsTextBox').value = 'Please select File Type First';
                            }
                        }

                        //limitText(document.getElementById('pg:CK_Template:frm1:knowledge-description'), 5000, true);
                        
                        $("#tags").keydown(function(event){
                            if(event.keyCode == 13) {
                              event.preventDefault();
                              return false;
                            }
                        });

                });

                function artifactTypeChange() {
                  if('{!knowledgeExchange.OCSUGC_Artifact_Type__c}'=='Select a File Type') {
                    $("#removeBtn").attr("disabled","disabled");
                  }
                  else {
                     $("#removeBtn").removeAttr("disabled");
                  }
                }
                function limitText(limitField, limitCount, isToShowRemainingChar) {
                    if (limitField.value.length > limitCount) {
                        limitField.value = limitField.value.substring(0, limitCount);
                    } else {
                        if(isToShowRemainingChar){
                            document.getElementById('countdown').innerHTML = limitCount - limitField.value.length;
                        }
                    }
                }

                function fnCancel() {
                    if('{!knowledgeExchange.id}'==''){
                        window.open('{!$Page.OCSUGC_Home}','_self');
                    } else{
                        window.open('{!$Page.OCSUGC_KnowledgeArtifactDetail}?knowledgeArtifactId={!knowledgeExchange.id}','_self');
                    }
                }

        </script>
        <style>
            custom-upload {
                position: relative;
                height: 40px;
                width: 350px;
                margin:30px;
            }

            .custom-upload input[type=file]
            {
                outline: none;
            position: relative;
            text-align: right;
            -moz-opacity: 0;
            filter: alpha(opacity: 0);
            opacity: 0;
            z-index: 2;
            width: 100%;
            height: 70px;

            }

            .custom-upload .fake-file
            {
                background:url({!URLFOR($Resource.OCSUGC_IconUpload)}) center right no-repeat;
                position: absolute;
            top: 0px;
            left: 0px;
            width: 88px;
            padding: 0;
            margin: 0;
            z-index: 1;
            height: 55px;
            line-height: 100%;
            cursor:pointer;
            }

            .custom-upload .fake-file input
            {
                font-size:16px;
                height:40px;
                width:300px;
            }
        </style>
</apex:page>