<apex:page controller="OCSUGC_MarketingApplicationsController" docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="true" applyHtmlTag="false" applyBodyTag="false" id="pg">

    <apex:composition template="OCSUGC_Template">
    <br/>
        <apex:define name="body">
            <apex:form id="frm">
            <apex:pageBlock >
                <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Request Access" onclick="showLightBox(); return false;" disabled="{!IF(permission.Id != null, true, false)}"/>
                </apex:pageBlockButtons>
                <br/>
                <br/>
                <apex:pageBlockSection >
                    <apex:outputField value="{!application.Name}" />
                    <apex:outputField value="{!application.OCSUGC_Description__c}" />
                </apex:pageBlockSection>
            </apex:pageBlock>

        <div id="light" class="white_content" style="width:30%;" >

        <apex:outputpanel >
             <apex:actionstatus id="statusC">
               <apex:facet name="start">
                 <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                        height: 100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="top: 100px; width: 100px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </div>
                 </div>
               </apex:facet>
             </apex:actionstatus>
       </apex:outputpanel>
    <div class="lightBoxSection" >
    <apex:pageBlock title="Access Reason" id="pageBlock1" mode="edit" >
        <apex:pageBlockButtons location="bottom">
<apex:commandButton value="Request Access"  action="{!updateApplicationPermissions}" status="statusC" rerender="frm" oncomplete="hideLightBox(); alert('{!$Label.OCSUGC_App_Request_Confirmation}');return false;"/>
            <apex:commandButton value="Cancel" onclick="hideLightBox(); return false;"/>
        </apex:pageBlockButtons>

        <apex:pageBlockSection columns="1" id="pbsection1" >
                    <apex:inputField value="{!permission.OCSUGC_Access_Reason__c}" label="Please explain why you would like to access this application"/>
                </apex:pageBlockSection>
    </apex:pageBlock>

    </div>

</div>
<div id="fade" class="black_overlay"></div>
</apex:form>
</apex:define>
</apex:composition>

<style>

        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:100;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left:30%;
            width: 35%;
            height: 255px;
            background-color: white;
            z-index:101;
           resize:both;
        }
        .white_content2 {
            display: none;
            position: absolute;
            top: 10%;
            left:4.5%;
            width: 92%;
            height:82%;
            background-color: white;
            z-index:1002;
           resize:both;
        }
    </style>
<script>
    var $ = jQuery.noConflict();
    $('.lightBoxSection').find('.vfLabelColTextWrap').css('width', '25%');
    //-----------------------------------------------------------------------------------------------------------
    // This function is used to show light box on click of section article link
    //-----------------------------------------------------------------------------------------------------------
    function showLightBox() {
        document.getElementById('light').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
    }
    //-----------------------------------------------------------------------------------------------------------
    // This function is used to hide light box on click of Ok button of light box
    //-----------------------------------------------------------------------------------------------------------
    function hideLightBox() {
        document.getElementById('light').style.display = 'none';
        document.getElementById('fade').style.display = 'none';
    }
</script>
</apex:page>