<apex:page docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           id="CK_Marketing_Template">

<apex:includeScript value="{!URLFOR($Resource.OCSUGC_GoogleAnalytics)}"  />
      <style>
        
      </style>
    <html dir="ltr" lang="en-US" id="idHTML">
        <head>
            <c:OCSUGC_Resources id="idResource"/>
            <style>
                .jumbotron h1{
                    margin-top: 0px;
                }

                #brand {
                    width: 140px !important;
                }

                #copyright a{
                    color: #333;
                    font-weight:normal;
                }
              .dkgreen .sub-header ul > li a {
                      border-left: 0px dotted #c7cdc6 !important;
                      color: #4c5449;
                  }
                  .dkgreen .sub-header ul > li:last-of-type a {
                    border-right: 0px dotted #c7cdc6 !important;
                  }
                  .sub-header ul > li a {
                      font-size: 22px !important;
                  }
            </style>
        </head>
<!--        <c:CAKE_Marketing_Header id="idHead"/>-->
        <body id="ocsugclogin" class="bkg-text has-image"> 



<!--             <header> -->
<!--                <div class="container-bs"> -->
<!--                    <nav class="navbar navbar-default navbar-static" role="navigation"> -->
<!--                        <div class="container-fluid"> -->
<!--                            <div id="brand"> -->
<!--                                <a href="{!$Page.OCSUGC_Login}"> -->
<!--                                    Oncology Cloud Community -->
<!--                                </a> -->
<!--                            </div> -->
<!--                        </div>/.container-fluid -->
<!--                    </nav> /navbar -->
<!--                </div>/.container-bs -->
<!--            </header> -->
            <div id="wrap">
                <div class="container-fluid" >
                    <div class="container-bs">
                        <div class="shadow">&nbsp;</div> 
                        <!-- Page content area -->
                        <apex:insert name="body"/>
                    </div><!--/.container-bs -->
                </div><!--/.container-fluid -->
                <c:OCSUGC_Footer /> 
            </div><!--/#wrap -->
                       
            <script>
              $(document).ready(function() {
                  $('.multiselect').multiselect();
              });
            </script>
        </body>
    </html>
</apex:page>