<!--
//
// (c) 2014 Appirio, Inc.
//
// This component provides functionality to Report a Problem.
//
// 23 Nov, 2014    Puneet Sardana               Original Ref T-335867
// 13-Apr-2015     Naresh K SHiwani             Added white-space pre property for description   T-372653
//                                              and comments.
// 14-May-2015     Naresh K SHiwani             Added output panel commentAttachFileOP.          T-395255
// 15-Feb-2016     Shital Bhujbal          		Made 'report a problem' button as a dropdown so that community moderator can delete any post.
//												'Delete comment' functionality added for community moderator 	ONCO - 450
//28-Apr-2016	   Shital Bhujbal				Manager/Moderator can approve/reject/delete file from OncoPeer.Also added modal for rejection.	ONCO-486
-->
<apex:page id="pg"
            docType="html-5.0"
            showHeader="false"
            sidebar="false"
            standardStylesheets="false"
            applyHtmlTag="false"
            applyBodyTag="false"
            controller="OCSUGC_KnowledgeArtifactDetailCon"
            cache="false"
            action="{!updateViewCount}"> 

              <div id="light" class="white_content">
                <div style="margin-top: 30px; margin-left: 40px;">
                  <input type="button" class="btn-bs btn-primary" value="Accept"
                    onClick="window.location.href='{!$Site.prefix}/sfc/servlet.shepherd/version/download/{!feedItem.RelatedRecordId}?asPdf=false&amp;operationContext=CHATTER';hideLightBox(); return false;" />
                    &nbsp;&nbsp;&nbsp;
                    <input type="button" class="btn-bs btn-primary" value="Cancel" onClick="hideLightBox(); return false;" />
                </div>
              </div>

              <div id="fade" class="black_overlay"></div>
              <style>
				.modal-title {
					line-height: 1.1;
					font-size: 20px;
				}
                .black_overlay{
                display: none;
                position: absolute;
                top: 0%;
                left:
                0%;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index:1001;
                -moz-opacity: 0.8;
                opacity:.80;
                filter: alpha(opacity=80);
                }
                .white_content {
                display: none;
                position: absolute;
                top: 40%;
                left:40%;
                width: 20%;
                height: 100px;
                background-color: white;
                z-index:2001;
                resize:both;
                }
                
                .panel-content h2, body {
                    word-wrap: break-word;
                }
                
 #detail-chatter .chatter-content .chatter-comment .message-attachment {
          padding: 10px;
          color: #222222;
          line-height: 1.2em;
          background-color: #efefef;
          border: 1px solid #a2a2a2;
          border-top: none;
          margin-top: 0px; }
          #detail-chatter .chatter-content .chatter-comment .message-attachment img {
            width: auto;
            float: left;
            padding-right: 10px; }
          #detail-chatter .chatter-content .chatter-comment .message-attachment span {
            font-size: .9em; }
          #detail-chatter .chatter-content .chatter-comment .message-attachment .delete-attachment {
            display: inline-block;
            float: right;
            cursor: pointer;
            margin-top: -8px; }
            #detail-chatter .chatter-content .chatter-comment .message-attachment .delete-attachment img {
              padding-right: 0px; }
          #detail-chatter .chatter-content .chatter-button {
            padding: 0px 0px 0px;
            text-align: right; } 
            #detail-chatter .chatter-content .chatter-button .upload-file {
              cursor: pointer;
              display: inline-block; 
              float: left;
              text-align: left; }
              #detail-chatter .chatter-content .chatter-button .upload-file img {
                padding-right: 4px;
                height: 16px;
                vertical-align: text-top; }
              #detail-chatter .chatter-content .chatter-button .upload-file span {
                line-height: 1em;
                color: #333; }
            #detail-chatter .chatter-content .chatter-button button {
              background: #0d89ce;
              border: none;
              color: #fff;
              text-transform: uppercase;
              padding: 6px 20px;
            }
            
            #msgAttachment{
                display: none;
            }
            
            #chatterFile{
                margin: 10px 0 0 0;
                padding: 10px;
                line-height: 1.2em;
                background-color: rgba(255, 255, 255, 0.4);
                border: 1px solid #a2a2a2;
            }
            
            #chatterFileImg{
                width: auto;
                float: left;
                padding-right: 10px
            }
            
            .description, body{word-wrap: break-word;}
            </style>
              <apex:composition template="OCSUGC_Template">
              <!-- ONCO-421 -->
              <apex:define name="pageTitle">
				<title>{!pageTitle}</title>
			 </apex:define>
                <apex:define name="body">
                  <apex:outputPanel rendered="{!knowledgeExchange.OCSUGC_Status__c != 'Approved'}">
                    <h4 style="padding-left: 24.5%; color: red;">
                      {!$Label.OCSUGC_Knowledge_file_is_pending_approval}</h4>
                  </apex:outputPanel>
                  <apex:outputPanel rendered="{!knowledgeExchange.OCSUGC_Status__c == 'Approved' || knowledgeExchange.OwnerId == $User.Id || isCommunityManager || isCommunityModerator}">
                    <div style="padding-left: 8%;">
                      <apex:outputPanel rendered="{!knowledgeExchange.OCSUGC_Is_Deleted__c}">
                        <h4>
                          {!$Label.OCSUGC_Content_Deleted_Navigate_To_Home_Page} <a
                            href="{!$Page.OCSUGC_Home}">Click here</a>.
                        </h4>
                      </apex:outputPanel>
                      <apex:outputPanel rendered="{!NOT(isAccessible)}">
                        <h4>
                          {!$Label.OCSUGC_Content_Not_Accessible_Navigate_To_Home_Page}</h4>
                      </apex:outputPanel>
                    </div>
                    <apex:outputPanel rendered="{!NOT(knowledgeExchange.OCSUGC_Is_Deleted__c) && isAccessible}">
                     <apex:form >
                      <script>
                                    function checkToShowModelWindow(){                                                                               
                                        var isSensitive = {!isSensitive};
                                        window.location.href = '{!$Site.prefix}/sfc/servlet.shepherd/version/download/{!feedItem.RelatedRecordId}?asPdf=false&amp;operationContext=CHATTER';
                                        return false;
                                    }
                                </script>
                      
                        <apex:actionFunction rerender="frmConfirmation" action="{!showConfirmation}" name="showConfirmation" onComplete="showCustomDialogDelete();" status="deleteStatus">
                          <apex:param name="contentType" assignTo="{!contentType}" value="" />
                          <apex:param name="contentId" assignTo="{!contentId}" value="" />
                          <apex:param name="supportContentId" assignTo="{!supportContentId}" value="" />
                        </apex:actionFunction>
                        
                      </apex:form>
                       <div role="alert" id="error-alert" style="display:none;color: red !important;" class="message errorM3">
                           <table cellspacing="0" cellpadding="0" border="0" style="padding:0px;margin:0px;" class="messageTable">
                             <tbody>
                               <tr valign="top">
                                 <td>
                                   <img title="ERROR" src="/s.gif" class="msgIcon" alt="ERROR" />
                                 </td>
                                 <td class="messageCell">
                                   <div class="messageText">
                                     <span style="color:#cc0000">
                                       <h4>Error:</h4>
                                     </span>
                                     {!$Label.OCSUGC_CommentBlackListedErrorMessage}<br/>
                                   </div>
                                </td>
                               </tr>
                                <tr><td></td><td></td>
                               </tr>
                             </tbody>
                           </table>
                        </div>       
                        <apex:outputPanel id="errorPane" style="color: red !important;">
                          <apex:pageMessages />
                          <br/>
                        </apex:outputPanel>
                      <div id="wrapTemp">

                        <div style="margin-left: 80px;">
                          <c:OCSUGC_NotificationComponent />
                        </div>
                        <article class="detail col-sm-6">
                          <div class="col-sm-12">
                            <div class="panel-container col-xs-12">
                              <div class="panel-overview col-xs-12">
                                <div class="panel-bookmark">
                                  <apex:outputPanel id="bookmarks">
                                    <a href="javascript:void(0);" class="{!IF(isBookMarked, 'active bookMarkLinkClass', 'inactive bookMarkLinkClass')}" onclick="lockScreen(true,'{!$Label.OCSUGC_Processing}'); manageBookmarkRemoteAction();">
                                      <img src="{!URLFOR($Resource.OCSUGC_Design, 'img/bookmark.png')}" />
                                    </a>
                                  </apex:outputPanel>
                                </div>
                                <div class="action-icon">
                                  <img
                                    src="{!URLFOR($Resource.OCSUGC_Design, 'img/icon-knowledge.png')}" />
                                </div>
                                <div class="col-xs-6">
                                  <h3>
                                    <apex:outputLabel value="{!knowledgeExchange.OCSUGC_Artifact_Type__c}" />
                                  </h3>
                                  <p class="date">
                                    <apex:outputText value="{!knowledgeRelativeCreateDate}"/ >
                                  </p>
                                  <p class="subtext">Shared with :
                                    <apex:outputLink rendered="{!knowledgeExchange.OCSUGC_Group_Id__c != 'Everyone'}" value="{!$Page.OCSUGC_GroupDetail}?g={!knowledgeExchange.OCSUGC_Group_Id__c}"> {!knowledgeExchange.OCSUGC_Group__c}</apex:outputLink>
                                    <apex:outputText value=" {!knowledgeExchange.OCSUGC_Group__c}" rendered="{!knowledgeExchange.OCSUGC_Group_Id__c == 'Everyone'}" />
                                    <apex:outputpanel rendered="{!isArchivedGroup}">
                                        {!$Label.OCSUGC_Label_Deleted}
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!isArchivedGroup}">
                                        <div style="text-align: left; color: red;">
                                            {!$Label.OCSUGC_Shared_With_Non_Existent_Group}
                                        </div>
                                    </apex:outputpanel>
                                  </p>
                                </div>
                                <div class="panel-actions col-xs-6">
                                  <div class="panel-social col-md-12">
                                    <apex:form id="likeForm">
                                      <apex:outputPanel id="likecount">
                                      <span class="likes">
<!--                                         <apex:commandLink styleClass="active likeIconClass" rendered="{!isLikedByCurrentUser }" onclick="callCommontActionFunction('unlikeFeedItemAction');return false;" /> -->
<!--                                         <apex:commandLink styleClass="inactive likeIconClass"  rendered="{!!isLikedByCurrentUser }"  onclick="callCommontActionFunction('likeCommentAction');return false;" /> -->
                                        <apex:commandLink styleClass="likePanelClassOnFeedItem {!IF(isLikedByCurrentUser, 'active likeIconClass', 'inactive likeIconClass')}"
                                            onclick="likeUnlikeFeedItemRemoteAction(); return false;" />
                                        <apex:outputPanel style="display: inline;" layout="block" id="likeCountPanel" styleClass="likeCountPanel"> {!feedItem.likeCount} </apex:outputPanel>
                                      </span>
                                        <span class="discussion commentCount">
                                          {!feedItem.commentCount} </span>
                                        <span class="views">
                                          {!knowledgeExchange.OCSUGC_Views__c} </span>
                                        <apex:actionStatus id="saveLike">
                                          <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px"
                                              height="17px" />
                                          </apex:facet>
                                          <apex:facet name="stop" />
                                        </apex:actionStatus>
                                      </apex:outputPanel>
                                    </apex:form>
                                  </div>
                                  <apex:outputPanel id="likeContentUpperDiv" rendered="{!cannotFlagContentOrComment}">
                                       <div style="height: 18px;width: 80px;z-index: 2;position: relative;top:5px;left: 70px;"></div>
                                  </apex:outputPanel>
                                  <div class="col-md-12">
                                    <!-- <apex:outputPanel rendered="{!knowledgeExchange.CreatedById != $User.Id}"> -->
                                    <apex:outputPanel rendered="{!knowledgeExchange.CreatedById != $User.Id && !(isCommunityModerator) && !(isCommunityManager)}">
                                      <button type="button" class="btn btn-primary btn-lg active" onClick="showCustomDialog();">{!$Label.OCSUGC_ReportAProblem}</button>
                                    </apex:outputPanel>
                                    
                                   	<apex:outputPanel rendered="{!knowledgeExchange.OCSUGC_Status__c == 'Approved' && (isCommunityManager || isCommunityModerator) && knowledgeExchange.CreatedById != $User.Id}">
										<div class="col-md-12">
											<div class="btn-group" style="font-size: 17px;">
												<a href="#" onclick="showCustomDialog();">{!$Label.OCSUGC_ReportAProblem}</a>
												<button class="btn btn-primary btn-lg active dropdown-toggle"
													type="button" data-toggle="dropdown">
													<span class="caret"></span>
													<span class="sr-only">Toggle Dropdown</span>
												</button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
												<li>
													<a class="confirmUser" href="#" data-toggle="modal" data-target="#disableAccess" onClick="showConfirmation('DeleteKnowledge','{!knowledgeExchange.id}','');">{!$Label.OCSUGC_Delete}</a>
													<script>
														$('.messageText').css('color', 'red');
													</script>
													</li>
												</ul>
											</div>
										</div>
									</apex:outputPanel>
									<apex:form >
										<apex:outputPanel rendered="{!knowledgeExchange.OCSUGC_Status__c == 'Pending Approval' && (isCommunityManager || isCommunityModerator) && knowledgeExchange.CreatedById != $User.Id}">
									    	<div class="col-md-12">
									    		<div class="btn-group" style="font-size: 17px;">
													<apex:commandLink action="{!updateKnowledgeArtifacts}" value="Approve" oncomplete="window.location.reload();">
														<apex:param value="{!knowledgeExchange.Id}" assignTo="{!selectedKnowledgeExchangeId}" name="selectedKnowledgeExchangeId"/>
														<apex:param value="Approved" assignTo="{!artifactStatus}" name="artifactStatus"/>
													</apex:commandLink>
										    		<button class="btn btn-primary btn-lg active dropdown-toggle" type="button" data-toggle="dropdown">
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu dropdown-menu-right" role="menu">
														 <li>
															<a href="#rejectionModal" id="rejectReason" data-toggle="modal">Reject</a>
														 </li>
														 <li>
															<a class="confirmUser" href="#" data-toggle="modal" data-target="#disableAccess" onClick="showConfirmation('DeleteKnowledge','{!knowledgeExchange.id}','');">{!$Label.OCSUGC_Delete}</a>
														 </li>
													</ul>
									    		</div>
									    	</div>									
										</apex:outputPanel>
									</apex:form>
									<!-- Modal for rejection start-->
									<div id="rejectionModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
											    <div class="modal-header" style = "padding-bottom: 25px;">
											        <button type="button" id="closeButton" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											        <h3 class="modal-title" style="float:left">Reason for Rejection :</h3>
											    </div>
											     <apex:form id="innerForm">
												    <div class="modal-body">
												    	<apex:inputField value="{!knowledgeExchange.OCSUGC_Rejection_Reason__c}" styleClass="form-control" style="min-width: 100%;"/>
												    </div>
												    <div class = "modal-footer" id="footerDiv">
														<apex:commandLink value="Save" action="{!updateKnowledgeArtifacts}" styleClass="btn btn-primary btn-lg active" onComplete="showHomePage();">
															<apex:param value="{!knowledgeExchange.Id}" assignTo="{!selectedKnowledgeExchangeId}" name="selectedKnowledgeExchangeId"/>
															<apex:param value="Rejected" assignTo="{!artifactStatus}" name="artifactStatus"/>
														</apex:commandLink>
														<a href="#" class="btn btn-primary btn-lg active" data-dismiss="modal" style="padding-right: 20px;" >{!$Label.OCSUGC_Modal_Button_Cancel}</a>
													</div>
												</apex:form>
											</div>
										</div>
									</div>
									<!-- Modal for rejection end-->
                                    <apex:outputPanel rendered="{!knowledgeExchange.CreatedById == $User.Id}">
                                      <div class="btn-group">
                                        <button class="btn btn-primary btn-lg active" type="button" onclick="lockScreen(true,'{!$Label.OCSUGC_Processing}'); editKnowledgeRemoteAction();">
                                          {!$Label.OCSUGC_Button_Edit}</button>
                                        <button class="btn btn-primary btn-lg active dropdown-toggle" type="button" data-toggle="dropdown">
                                          <span class="caret"></span> <span class="sr-only">Toggle
                                            Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                          <li><a class="confirmUser" href="#" data-toggle="modal" data-target="#disableAccess"
                                                 onClick="showConfirmation('DeleteKnowledge','{!knowledgeExchange.id}','');">Delete</a>
                                            <script>
                                                                $('.messageText').css('color', 'red');
                                            </script>
                                          </li>
                                        </ul>
                                      </div>
                                      <apex:actionStatus id="deleteStatus">
                                        <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px" height="17px" />
                                        </apex:facet>
                                        <apex:facet name="stop" />
                                      </apex:actionStatus>
                                    </apex:outputPanel>
                                  </div>
                                </div>
                              </div>

                              <div class="panel-scroller col-xs-12">
                                <div class="panel-media">
                                  <div class="zoom" data-toggle="modal" data-target="#xlView">Zoom</div>
                                </div>
                                <div class="panel-content">
                                  <h2>{!knowledgeExchange.OCSUGC_Title__c}</h2>
                                  <div class="action-download">
                                    <!-- <a href="#" style="text-decoration: none;" onclick="checkToShowModelWindow();">Download</a> -->
                                    <apex:form >
                                    <apex:commandLink reRender="msg" onclick="checkToShowModelWindow();" style="text-decoration: none;" action="{!insertKnowledgeDownloads}" value="{!$Label.OCSUGC_Download}" />
                                    </apex:form>
                                  </div>
                                  <div class="panel-author affiliate">
                                    <p>
                                      
                                       <apex:outputPanel rendered="{!userInformation.isActive}">
                                       		<apex:outputLink value="{!$Page.OCSUGC_UserProfile}?userId={!userInformation.Id}" >
                                          		<img src="{!userInformation.SmallPhotoUrl}" />
                                        	</apex:outputLink>
                                        	<apex:outputLink styleClass="feedUserName" style="color: #222222;"
                                         				 value="{!$Page.OCSUGC_UserProfile}?userId={!userInformation.Id}" >
                                          		By {!userInformation.Name}
                                         	</apex:outputLink>
                                        </apex:outputPanel>
                                      	
                                      	
                                      <br />
                                      <apex:outputPanel rendered="{!IF(!isCommunityManager && !isCommunityModerator && !isCommunityContributor  && (userInformation.Contact.OCSUGC_Affiliation_Type__c != null || userInformation.Contact.Account.Legal_Name__c == $Label.OCSUGC_Varian_Medical_Systems), true, false)}">
                                        <em>{!$Label.OCSUGC_Affiliated_with_Varian}</em>
                                      </apex:outputPanel>
                                      <apex:outputPanel rendered="{!isCommunityContributor && !isCommunityManager}">
                                        <em>{!$Label.OCSUGC_Varian_Employee_Community_Contributor}</em>
                                      </apex:outputPanel>
                                      <apex:outputPanel rendered="{!isCommunityModerator}">
                                           <em>{!$Label.OCSUGC_Varian_Employee_Community_Moderator}</em>
                                      </apex:outputPanel>
                                      <apex:outputPanel rendered="{!isCommunityManager}">
                                        <em>{!$Label.OCSUGC_Varian_Employee_Community_Manager}</em>
                                      </apex:outputPanel>
                                      <br /> <br />
                                    </p>
                                  </div>
                                  <p class="description" style="white-space: pre-wrap;">
                                    <apex:OutputText escape="{!If(isDescriptionConvertedToLink,'false','true')}" value="{!knowledgeExchange.OCSUGC_Summary__c}" />
                                  </p>
                                </div>
                                <div class="panel-categories">
                                  <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'RapidPlan DVH Estimation Model', true, false)}">
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Anatomical_Sites__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Anatomical Site:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Anatomical_Sites__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Target_Dose_Level__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Target Dose Level:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Target_Dose_Level__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                  </apex:outputPanel>
                                  <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'Developer Mode XML', true, false)}">
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_QA_test__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        QA Test:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_QA_test__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_TrueBeam_version__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        TrueBeam Version:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_TrueBeam_version__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Exotic_Trajectory__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Exotic Trajectory:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Exotic_Trajectory__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Imaging_Only__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Imaging Only:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Imaging_Only__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Dynamic_Tracking__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Dynamic Tracking:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Dynamic_Tracking__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Intra_Frx_Imaging__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Intra Frx Imaging:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Intra_Frx_Imaging__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Gating__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Gating:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Gating__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                  </apex:outputPanel>
                                  <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'AURA Report', true, false)}">
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Report_Type__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Report Type:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Report_Type__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Compatibility__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Compatibility:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Compatibility__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                  </apex:outputPanel>
                                  <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Artifact_Type__c == 'InSightive Dashboard', true, false)}">
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Dashboard_Type__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Dashboard Type:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Dashboard_Type__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(knowledgeExchange.OCSUGC_Compatibility__c != '', true, false)}">
                                      <p class="col-sm-6">
                                        Compatibility:<br />
                                        <strong>{!knowledgeExchange.OCSUGC_Compatibility__c}</strong>
                                      </p>
                                    </apex:outputPanel>
                                  </apex:outputPanel>
                                </div>
                                <div class="panel-tagging">
                                  <p class="tags">{!commaSeperatedTags}</p>
                                </div>
                                <div class="panel-related" style="{!IF(RelatedKnowledges.size == 0, 'display: none;', 'display: block;')}">
                                  <h6>{!$Label.OCSUGC_Related}</h6>
                                  <apex:repeat var="relatedKnowledge" value="{!RelatedKnowledges}">
                                    <div>
                                      <a
                                        href="{!$Page.OCSUGC_KnowledgeArtifactDetail}?knowledgeArtifactId={!relatedKnowledge.OCSUGC_Knowledge_Exchange__c}"
                                        target="_blank"> <img
                                        src="{!URLFOR($Resource.OCSUGC_Design, 'img/icon-knowledge.png')}" />
                                      </a>
                                      <p>
                                        <a
                                          href="{!$Page.OCSUGC_KnowledgeArtifactDetail}?knowledgeArtifactId={!relatedKnowledge.OCSUGC_Knowledge_Exchange__c}"
                                          target="_blank">{!relatedKnowledge.OCSUGC_Knowledge_Exchange__r.OCSUGC_Title__c}</a><br />by
                                        {!relatedKnowledge.OCSUGC_Knowledge_Exchange__r.CreatedBy.Name}
                                      </p>
                                    </div>
                                  </apex:repeat>
                                </div>
                              </div>
                              <!-- /.panel-scroller -->
                            </div>
                            <!-- /.panel-container -->
                          </div>
                        </article>
                        <apex:outputPanel rendered="{!NOT(isCommentsReadOnlyUser) || (isCommentsReadOnlyUser && childComments.size > 0)}">
                          <div id="detail-chatter" class="col-sm-6">
                            <div class="chatter-content">
                              <apex:form id="chatterFeedForm">
                                <apex:actionFunction action="{!commentUploadWithAttachment}" name="compCommentsUpload">
                                  <apex:param name="stringComments" value="" assignTo="{!stringComments}"/>
                                </apex:actionFunction>  
                                <apex:outputpanel rendered="{!NOT(isArchivedGroup) && NOT(isCommentsReadOnlyUser)}">
                                  <div style="If (isArchivedGroup,'display: none;">
                                    <div class="form-group chatter-comment"   style="margin-bottom: 0px;">
                                      <apex:inputTextArea id="commentArea" html-placeholder="{!$Label.OCSUGC_Add_comment}" onkeyup="limitText(this);validateNull();" styleClass="form-control" rows="1" value="{!stringComments}"></apex:inputTextArea>
                                      <script>
                                                function resetAttachmentButton(){
                                                    document.getElementById('pg:CK_Template:chatterFeedForm:commentfileinput').value = ''; 
                                                    $('#msgAttachment').hide();  
                                                }
                                      </script>                                             
                                      <div class="message-attachment" id="msgAttachment"><img src="{!URLFOR($Resource.OCSUGC_Design, 'img/icon-doc.png')}" /><span class="attachName"></span><br/>
                                         <span class="bodyLenght"></span>
                                         <div class="delete-attachment"><img src="{!URLFOR($Resource.OCSUGC_Design, 'img/icon-delete.png')}" onclick="resetAttachmentButton(); return false;"/></div>
                                      </div> 
                                      <font size="1">You have <input id="countdown" readonly="true" type="text" name="countdown" size="4" value="5000" style="background-color: transparent; border: 0px solid;" />
                                        characters left.
                                      </font>
                                    </div>
                                    <div class="form-group chatter-button" style="If (isArchivedGroup,'display: none;">
                                      <button id="btnShareComment" type="button" class="btn btn-default" onclick="postComment(); return false;" disabled="true" style="background-color: grey">
                                        Share
                                      </button>
                                      &nbsp;
                                      <apex:actionStatus id="saveChatter">
                                        <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px" height="17px" />
                                        </apex:facet>
                                        <apex:facet name="stop" />
                                      </apex:actionStatus>
                                      <script>
                                      function setAttachmentPreview(){
                                            var file = document.getElementById('pg:CK_Template:chatterFeedForm:commentfileinput').files[0]; 
                                            
                                            $('.attachName').text(file.name);
                                            $('.bodyLenght').text((file.size/(1024 * 1024)).toFixed(2) + 'MB');
                                            $('#msgAttachment').show();  
                                        }
                                      </script> 
                                      <apex:outputPanel rendered="{!isDC}" id="commentAttachFileOP">
                                          <div class="upload-file">
                                            <apex:inputfile id="commentfileinput" styleClass="inputFileClass" style="opacity: 0; position: absolute; width: 15%; cursor: pointer;" onchange="setAttachmentPreview(); return false;" filename="{!attachment.Name}" value="{!attachment.body}" contentType="{!attachment.contentType}" />
                                            <img src="{!URLFOR($Resource.OCSUGC_Design, 'img/icon-doc.png')}" />
                                            <span>Attach File</span>
                                          </div>
                                       </apex:outputPanel>
                                    </div>
                                    <apex:actionFunction name="insertFeedCommentAction" action="{!insertFeedComment}" rerender="chatterFeedForm, commentChatterFeed, likecount, errorPane" status="saveChatter" />
                                  </div>
                                </apex:outputpanel>
                              </apex:form>
                                <div class="chatter">
                                   <apex:form > 
                                      <apex:actionFunction action="{!flagComment}" name="flagComment" rerender="chatterFeedForm" immediate="true" status="saveChatter"  onComplete="onProcessComplete('Flag');">
                                        <apex:param name="commentId" value="" assignTo="{!selectedChatterFeedId}" />
                                        <apex:param name="isFlagged" value="" assignTo="{!isFlagged}" />
                                        <apex:param name="flagType" value="" assignTo="{!flagType}" />
                                        <apex:param name="flagCommentReason" value="" assignTo="{!flagCommentReason}" />
                                      </apex:actionFunction> 
                                      <apex:outputPanel id="commentChatterFeed">
                                        <apex:repeat var="chatterFeed" value="{!childComments}">
                                          <div class="comment">
                                            <div class="headshot">
                                              <apex:outputPanel rendered="{!chatterFeed.user.isActive}">
                                                <apex:outputLink value="{!$Page.OCSUGC_UserProfile}?userId={!chatterFeed.user.id}"  rendered="{!chatterFeed.isClickAble}">
                                                  <img src="{!chatterFeed.user.SmallPhotoUrl}" />
                                                </apex:outputLink>
                                              </apex:outputPanel>
                                              <apex:outputPanel rendered="{!NOT(chatterFeed.user.isActive) || NOT(chatterFeed.isClickAble)}">
                                                <img src="{!chatterFeed.user.SmallPhotoUrl}" />
                                              </apex:outputPanel>
                                            </div>
                                            <div class="info">
                                              <div class="meta">
                                                <apex:outputPanel rendered="{!chatterFeed.user.isActive}">
                                                  <apex:outputLink value="{!$Page.OCSUGC_UserProfile}?userId={!chatterFeed.user.id}"    rendered="{!chatterFeed.isClickAble}">
                                                    <span style="color: #222222;">{!chatterFeed.user.FirstName} {!chatterFeed.user.LastName} </span>
                                                  </apex:outputLink>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!NOT(chatterFeed.user.isActive) || NOT(chatterFeed.isClickAble)}">
                                                  <span style="color: #222222;">{!chatterFeed.user.FirstName} {!chatterFeed.user.LastName} </span>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!IF(!chatterFeed.isCommunityManager && !chatterFeed.isCommunityModerator && !chatterFeed.isCommunityContributor && (chatterFeed.user.Contact.OCSUGC_Affiliation_Type__c != null || chatterFeed.user.Contact.Account.Legal_Name__c == $Label.OCSUGC_Varian_Medical_Systems), true, false)}" layout="inline">
                                                  <br/>
                                                  <span style="color: #222222;">
                                                    {!$Label.OCSUGC_Affiliated_with_Varian}
                                                  </span>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!chatterFeed.isCommunityContributor && !chatterFeed.isCommunityManager}" layout="inline">
                                                  <br/>
                                                  <span style="color: #222222;">
                                                    {!$Label.OCSUGC_Varian_Employee_Community_Contributor}
                                                  </span>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!chatterFeed.isCommunityModerator}" >
                                                    <br/>
                                                    <span style="color: #222222;">
                                                       <em>{!$Label.OCSUGC_Varian_Employee_Community_Moderator}</em>
                                                    </span>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!chatterFeed.isCommunityManager}" layout="inline">
                                                  <br/>
                                                  <span style="color: #222222;">
                                                    {!$Label.OCSUGC_Varian_Employee_Community_Manager}
                                                  </span>
                                                </apex:outputPanel>
                                                <br /> <span> <apex:outputText value="{!chatterFeed.sDate}" /> </span>
                                              </div>
                                              <div class="social" style="width: 25%;">
                                                	<a class="confirmUser" href="#" data-toggle="modal" data-target="#disableAccess" onClick="showConfirmation('DeleteKnowledgeArtifactComment','{!chatterFeed.feedItem.Id}','{!knowledgeExchange.id}');" style="display:{!IF(isCommunityModerator || isCommunityManager,'','none')}">
											          <span class="glyphicon glyphicon-trash" style="padding-right: 20px; color:#59666f"></span>
											        </a>
                                                <span class="flag" style="padding-right: 10px;"><a  class="{!IF(chatterFeed.isFlagged, 'active', 'inactive')}"
                                                  href="javascript:void(0);"
                                                  onclick="showCustomDialogForFlaggingTemp(this, '{!chatterFeed.feedItem.Id}', {!chatterFeed.isFlagged});"></a>
                                                </span>
                                                <span class="likes">
    
                                                  <apex:commandLink styleClass="{!IF(chatterFeed.isLikedByUser,'active likeIconClass','inactive likeIconClass')} feedCommentLikeIconClass{!chatterFeed.feedItem.Id}"
                                                      onclick="likeUnlikeCommentOnFeedItemRemoteAction('{!chatterFeed.feedItem.Id}'); return false;" />
    
                                                    <apex:outputPanel layout="block" style="display: inline;" styleClass="feedCommentLikeCount{!chatterFeed.feedItem.Id}">
                                                      {!chatterFeed.likeCount}
                                                    </apex:outputPanel>
    
                                                </span>
                                                <apex:outputPanel id="likeUpperDiv" rendered="{!cannotFlagContentOrComment}">
                                                  <div style="height: 18px; width: 40px; z-index: 2; position: relative; top: -20px; left: 78px;"></div>
                                                </apex:outputPanel>
                                              </div>
                                              <div class="message">
                                            <pre style="font-family: proxima-nova, Arial, sans-serif;">
                                                <apex:OutputText escape="{!If(chatterFeed.isCommentConvertedToLink,'false','true')}" value="{!chatterFeed.commentBody}" />
                                            </pre>
                                          </div>
                                              <apex:outputPanel rendered="{!chatterFeed.file.Id <> null}">
                                                  <div class="message-attachment" id="chatterFile"><img src="{!URLFOR($Resource.OCSUGC_Design, 'img/icon-doc.png')}" id="chatterFileImg" /><a href="{!$Site.prefix}/sfc/servlet.shepherd/version/download/{!chatterFeed.file.Id}">{!chatterFeed.file.Title}</a><br/>
                                                      <span> 
                                                          <apex:outputText value="{0, number, 00KB}">
                                                                <apex:param value="{!chatterFeed.file.ContentSize/1024}" />
                                                          </apex:outputText>
                                                      </span>
                                                  </div>
                                               </apex:outputPanel>
                                            </div>
                                          </div>
                                        </apex:repeat>
                                       
                                        </apex:outputPanel>
                                   </apex:form>
                                </div>
                            </div>
                            <!-- /.chatter-content -->
                          </div>
                          <!-- /#detail-chatter -->
                        </apex:outputPanel>
                      </div>
                      <!--/#wrap -->
                      <style>
                        pre{
                            margin: 0;
                            padding: 0;
                            background-color: inherit;
                            border: 0;
                            margin-bottom: -32px;   
                            white-space: pre-wrap;                          
                        }
                    </style>
                      <script>                                            
                        var maxFileSize = parseInt('{!$Label.OCSUGC_Comment_File_Upload_Size_Limit}') * 1024 * 1024;                    
                        var isChatterActive='{!chatterFeedCurrentUser.user.isActive}';
                        var userId='{!chatterFeedCurrentUser.user.id}';
                        var isClickable = '{!chatterFeedCurrentUser.isClickAble}';
                        var profileLink='/OCSUGC/OCSUGC_UserProfile?userId='+userId;
                        var profilePhotoSrc='{!chatterFeedCurrentUser.user.SmallPhotoUrl}';        
                        var userFirstName='{!chatterFeedCurrentUser.user.FirstName}';
                        var userLastName='{!chatterFeedCurrentUser.user.LastName}';
                        var isCommunityManager='{!chatterFeedCurrentUser.isCommunityManager}';
                        var isCommunityContributor='{!chatterFeedCurrentUser.isCommunityContributor}';
                        var isCommunityModerator='{!chatterFeedCurrentUser.isCommunityModerator}';
                        var affiliationType='{!chatterFeedCurrentUser.user.Contact.OCSUGC_Affiliation_Type__c}';
                        //var accountName='{!chatterFeedCurrentUser.user.Contact.Account.Legal_Name__c}';    
                        var afffiliatedWithVarian ='{!$Label.OCSUGC_Affiliated_with_Varian}';
                        var communityContributor = '{!$Label.OCSUGC_Varian_Employee_Community_Contributor}';
                        var communityModerator = '{!$Label.OCSUGC_Varian_Employee_Community_Moderator}';
                        var communityManager = '{!$Label.OCSUGC_Varian_Employee_Community_Manager}';
                        var chatterDate ='{!chatterFeedCurrentUser.sDate}';
                        var feedItemId = '{!feedItem.Id}';
                        var knowledgeId = '{!knowledgeArtifactId}';
                        var cannotFlagOrComment = '{!cannotFlagContentOrComment}';            
                        var vSystem = '{!$Label.OCSUGC_Varian_Medical_Systems}';
                        var DeleteKnowledgeArtifactComment = 'DeleteKnowledgeArtifactComment';
                        var isArchivedGroup = {!isArchivedGroup};
                        var varianaffliated = {!IF(isCommunityManager || isCommunityContributor || isCommunityModerator || userInformation.Contact.OCSUGC_Affiliation_Type__c != null || userInformation.Contact.Account.Legal_Name__c == $Label.OCSUGC_Varian_Medical_Systems, true, false)};                                   
                        //Created 20-Jan-2105  Puneet Sardana   In this there are two types of comments
                        //                                      1.  Comment without attachment - added using Remote Action and its html is added separately.
                        //                                      2.  Comment with Attachment - added with Action Function and page is refreshed 
                        //                                      Original Ref T-349305 
                        function postComment() { 
                          lockScreen(true,'{!$Label.OCSUGC_Commenting}');         
                          var idInputTextarea = document.getElementById("pg:CK_Template:chatterFeedForm:commentArea").value;      
                          checkForBlackListError(idInputTextarea);     
                        } 
                        
                       //Created 20-Jan-2105  Puneet Sardana   Original Ref T-349305
                       function checkForBlackListError(comment) { 
                         var commentLimitLabel = '{!$Label.OCSUGC_Comment_File_Upload_Size_Limit}';
                         var commentCannotUploadLabel = '{!$Label.OCSUGC_Cannot_Upload_Comment_File}';
                         var commentCannotUploadLessLabel = '{!$Label.OCSUGC_MB_Please_Use_Comment_File_Size_Less}';
                         var mbLabel = '{!$Label.OCSUGC_MB}';
                         var finalCommentFileErrorLabel = commentCannotUploadLabel + ' ' + commentLimitLabel + ' '  + commentCannotUploadLessLabel + ' ' + commentLimitLabel + ' ' + mbLabel;
                         if('{!isDC}' == 'true'){  
                            var file = document.getElementById('pg:CK_Template:chatterFeedForm:commentfileinput').files[0];
                         }         
                         Visualforce.remoting.Manager.invokeAction(
                              '{!$RemoteAction.OCSUGC_KnowledgeArtifactDetailCon.checkForBlackListWords}',
                               comment,      
                            function(result, event) {          
                              if(event.type === 'exception') {
                                console.log("exception");
                                console.log(event);
                              } else if(event.status) {                        
                                if(result==true) { 
                                   $('#error-alert').hide();               
                                  if(file!=undefined) { 
                                    if(file.size <= maxFileSize) {                        
                                      compCommentsUpload(comment);
                                    }
                                    else {
                                      resetCommentInput();
                                      alert(finalCommentFileErrorLabel);
                                    }
                                  }
                                  else {                
                                    insertOnlyComment(comment);
                                  }
                                }
                                else {                
                                  resetCommentInput();           
                                  $('#error-alert').show();
                                }
                                              
                              } else {
                                console.log(event.message);
                              }
                            },
                            {buffer: true, escape: true, timeout: 120000}
                          );
                       }
                       //Created 27-Apr-2016  Shital Bhujbal   ONCO - 486
                       function showHomePage() {
						   window.location.href = '{!$Page.OCSUGC_Home}?isResetPwd=true&fgab={!isFGAB}';
					   }
                       //Created 20-Jan-2105  Puneet Sardana   Original Ref T-349305
                       function resetCommentInput() {
                         lockScreen(false,'{!$Label.OCSUGC_Commenting}');        
                         document.getElementById('pg:CK_Template:chatterFeedForm:commentfileinput').value="";             
                       }
                       //Created 20-Jan-2105  Puneet Sardana   Original Ref T-349305
                       function insertOnlyComment(comment) {                       
                          var commentCount=parseInt($('span.commentCount').text());
                          $('span.commentCount').text(commentCount + 1);
                          Visualforce.remoting.Manager.invokeAction(
                              '{!$RemoteAction.OCSUGC_KnowledgeArtifactDetailCon.insertFeedCommentRemote}',
                               comment, knowledgeId, feedItemId,commentCount,'{!isDC}',      
                            function(result, event) {
                              console.log(result);
                              if(event.type === 'exception') {
                                console.log("exception");
                                console.log(event);
                              } else if(event.status) {                                                
                                insertCommentHtml(comment,result);              
                              } else {
                                console.log(event.message);
                              }
                            },
                            {buffer: true, escape: true, timeout: 120000}
                          );   
                       }
                       //Created 20-Jan-2105  Puneet Sardana   Original Ref T-349305
                       function insertCommentHtml(comment,commentId) {   
                           $('#pg:CK_Template:chatterFeedForm:commentArea').val('');              
                                 var cDiv='';
                                 cDiv+='<div class="comment insertedComment">';
                                 cDiv+='<div class="headshot">';
                                 if(isChatterActive == 'true') {
                                     cDiv+='<span class="chatterFeedCurrentUserActive">';
                                     cDiv+='<a href='+profileLink+'>';
                                     cDiv+='<img src='+profilePhotoSrc+'>'+'</img>';
                                     cDiv+='</a>';
                                     cDiv+='</span>';
                                 }               
                           if(isChatterActive == 'false' || isClickable =='false') { 
                             cDiv+='<span class="chatterFeedCurrentUserNotActiveAndNotClickable">';
                               cDiv+='<img src='+profilePhotoSrc+'>'+'</img>';
                               cDiv+='</span>';       
                           }  
                                 
                                 cDiv+='</div>';
                                 cDiv+='<div class="info">';
                                 cDiv+='<div class="meta">';
                                 if(isChatterActive == 'true') {
                                     cDiv+='<span class="chatterFeedCurrentUserActive">';
                                     cDiv+='<a style="color: #222222;" href='+profileLink+'>';
                                     cDiv+=userFirstName +'&nbsp;' + userLastName;
                                     cDiv+='</a></span>';
                                 }
                                 if(isChatterActive == 'false' || isClickable =='false') { 
                                     cDiv+='<span class="chatterFeedCurrentUserNotActiveOrNotClickable">';
                                     cDiv+='<span style="color: #222222;">'+userFirstName+'&nbsp;'+userLastName;
                                     cDiv+='</span>';
                                     cDiv+='</span>';
                                 }
                                 if(varianaffliated == 'true') {
                                     cDiv+='<span class="afffiliatedWithVarian"><br />';         
                                     cDiv+='<span style="color: #222222;"><em style="font-size: 12px;">'+afffiliatedWithVarian+'</em></span>';
                                     cDiv+='</span>';
                                 }
                                 if(isCommunityManager == 'false' && isCommunityContributor == 'true') {
                                     cDiv+='<span class="contributorButNotManager"><br />';
                                     cDiv+='<span style="color: #222222;"><em style="font-size: 12px;">' +communityContributor+'</em></span>';
                                     cDiv+='</span>';
                                 }
                                 if(isCommunityManager == 'true') {
                                 cDiv+='<span class="manager"><br /><span style="color: #222222;"><em style="font-size: 12px;">'+communityManager+'</em></span>';
                                     cDiv+='</span>';
                                 }
                                 if(isCommunityModerator == 'true') {
                                 cDiv+='<span class="manager"><br /><span style="color: #222222;"><em style="font-size: 12px;">'+communityModerator+'</em></span>';
                                     cDiv+='</span>';
                                 }
                                 cDiv+='<br /><span>'+chatterDate+'</span></div>';
                                 cDiv+='<div class="social">'; 
                                 cDiv+='<a class="confirmUser" href="#" data-toggle="modal" data-target="#disableAccess" onClick="showConfirmation(DeleteKnowledgeArtifactComment,'+'\''+commentId+ '\''+',knowledgeId);" style="display:{!IF(isCommunityModerator || isCommunityManager,'','none')}">'
							 	 cDiv+='<span class="glyphicon glyphicon-trash" style="padding-right: 20px; color:#59666f"></span></a>'
                                 
                                 cDiv+='<span class="flag">';
                           cDiv+='<a class="inactive" href="javascript:void(0);" onclick="showCustomDialogForFlaggingTemp(this,'+'\''+commentId + '\'' +', false);"></a>';
                           cDiv+='</span>'; 
                           cDiv+='<span class="likes">';   
                           cDiv+='<a href="#" class="inactive likeIconClass feedCommentLikeIconClass'+commentId+'" onclick="likeUnlikeCommentOnFeedItemRemoteAction('+'\''+commentId+'\''+'); return false;" />';
                           cDiv+='<div style="display: inline;" class="feedCommentLikeCount'+commentId+'">0</div>';
                           cDiv+='</span>';
                           if(cannotFlagOrComment == 'true') {
                               cDiv+='<span class="cannotFlagOrComment">';
                               cDiv+='<div style="height: 18px; width: 50px; z-index: 2; position: relative; top: -20px; left: 188px;"></div>';
                               cDiv+='</span>';
                           }
                                 cDiv+='</div>';
                                 cDiv+='<div class="message" style="word-break:inherit;white-space: pre-wrap;">';
                                 comment = comment.replace(/</gi,"&lt;").replace(/>/gi,"&gt;");     

                                 cDiv+=comment;
                                 cDiv+='</div></div>';
                                 $("#mCSB_2_container").prepend(cDiv);           
                                 document.getElementById("pg:CK_Template:chatterFeedForm:commentArea").value = ""; 
                                 lockScreen(false,'{!$Label.OCSUGC_Commenting}');    
                                 $('.message').linkify({
                                    validate: validateLinksInText
                                 });                
                       }

                                  function showLightBox() {
                                      document.getElementById('light').style.display = 'block';
                                      document.getElementById('fade').style.display = 'block';
                                  }
                                  //-----------------------------------------------------------------------------------------------------------
                                  // This function is used to hide light box on click of Ok button of light box
                                  //-----------------------------------------------------------------------------------------------------------
                                  function hideLightBox() {
                                      document.getElementById('light').style.display = 'none';
                                      document.getElementById('fade').style.display = 'none';
                                  }

                                  $(".inactive").hover(function () {
                                      $(this).toggleClass("active");
                                   });

                                 $(document).ready(function() {
                                      //disableLikes();
                                      if({!isCreated}){
                                          
                                      }
                                      if(isArchivedGroup){
                                          jQuery('.likeIconClass').each(function() {
                                             jQuery(this).css("cursor", "not-allowed");
                                             jQuery(this).attr("class", 'likeIconClass inactive');
                                             jQuery(this).css("background", 'url("{!URLFOR($Resource.OCSUGC_Design, 'img/icon-like-transparent.png')}") no-repeat left center #dddddd');
                                          });
                                      }
                                      if(!varianaffliated){
                                          $('.feedUserName').css({'position':'absolute','padding-top':'4px'});
                                      }
                                  });
                                  function disableLikes() {
                                    jQuery('.likeIconClass > a').each(function(e) {
                                        e.preventDefault();
                                    })

                                  }
                                  function callCommontActionFunction(selectItemCallback, keyId){
                                      if(isArchivedGroup){
                                          return false;
                                      }else{
                                          if(keyId == null || keyId == ''){
                                              window[selectItemCallback]();
                                          }else{
                                              window[selectItemCallback](keyId);
                                          }
                                      }
                                  }

                                  function limitText(limitField, limitCount, limitNum) {
                                      if (limitField.value.length > 5000) {
                                          limitField.value = limitField.value.substring(0, 5000);
                                      } else {
                                          document.getElementById('countdown').value = 5000 - limitField.value.length;
                                      }
                                  }

                                  function showCustomDialogForFlaggingTemp(thisId, commentId, isFlagged){
                                    if(isFlagged){
                                        jQuery(thisId).css("background", 'url("{!URLFOR($Resource.OCSUGC_Design, 'img/icon-flag-transparent.png')}") no-repeat left center #0d89ce');
                                        flagComment(commentId, isFlagged, null, null);
                                    }else{
                                        jQuery(thisId).css("background", 'url("{!URLFOR($Resource.OCSUGC_Design, 'img/icon-flag-transparent.png')}") no-repeat left center #dddddd');
                                        showCustomDialogForFlagging(commentId, isFlagged);
                                    }
                                }

                              function validateNull(){
                                  var idInputTextarea = document.getElementById("pg:CK_Template:chatterFeedForm:commentArea").value;
                                   if(idInputTextarea == null || idInputTextarea.trim() == ''){
                                          document.getElementById("btnShareComment").disabled = true;
                                          $("#btnShareComment").css("background-color", "grey");
                                          //document.getElementById("btnShareComment").style = "background-color: grey";
                                      }
                                      else{
                                          document.getElementById("btnShareComment").disabled = false;
                                          $("#btnShareComment").css("background-color", "#0D89CE");
                                          //document.getElementById("btnShareComment").style = "background-color: #0D89CE";
                                      }
                                  }
                              function insertComment(){
                                   document.getElementById("btnShareComment").disabled = true;
                                   $("#btnShareComment").css("background-color", "grey");
                                   $("#pg\\:CK_Template\\:chatterFeedForm\\:commentArea").attr("disabled", "disabled");
                                   $("#pg\\:CK_Template\\:chatterFeedForm\\:commentArea").attr("style","background :#b3bbb1");
                                   insertFeedCommentAction();
                              }

      // Edit Poll
      function editKnowledgeRemoteAction() {
        var targetURL = '';
        Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.OCSUGC_KnowledgeArtifactDetailCon.editKnowledge}',
          '{!knowledgeExchange.Id}', '{!isDC}', 
          function(result, event){
            if (event.status) {
              targetURL = result;
              targetURL = '{!$Site.Prefix}'+ targetURL;
              window.open(decodeURIComponent(targetURL),'_self');
            } else if (event.type === 'exception') {
              console.log('Exception: '+event.message);
            } else {
              console.log('Error: '+event.message);
            }
          },
          {escape: true}
        );
      }


      // Bookmark KA
      function manageBookmarkRemoteAction() {
        Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.OCSUGC_KnowledgeArtifactDetailCon.manageBookmark}',
          '{!knowledgeExchange.Id}',
          function(result, event){
            if (event.status) {
              lockScreen(false,'{!$Label.OCSUGC_Processing}');

              if(result != null && result != '' && result === true) {
                $('.bookMarkLinkClass').removeClass('inactive');
                $('.bookMarkLinkClass').addClass('active');
              } else {
                $('.bookMarkLinkClass').removeClass('active');
                $('.bookMarkLinkClass').addClass('inactive');
              }
            } else if (event.type === 'exception') {
              lockScreen(false,'{!$Label.OCSUGC_Processing}');
              console.log('Exception: '+event.message);
            } else {
              lockScreen(false,'{!$Label.OCSUGC_Processing}');
              console.log('Error: '+event.message);
            }
          },
          {escape: true}
        );
      }

      // Like-Unlike KA
      function likeUnlikeFeedItemRemoteAction() { 
        var networkName = '{!currentNetworkName}'; 
        document.getElementById('pg:CK_Template:likeForm:saveLike.start').style.display = 'inline';
        Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.OCSUGC_KnowledgeArtifactDetailCon.likeUnlikeFeedItem}',networkName, 
          '{!knowledgeExchange.Id}', '{!feedItem.Id}',
          function(result, event) {
            if (event.status) {
              document.getElementById('pg:CK_Template:likeForm:saveLike.start').style.display = 'none';
              $('.likeCountPanel').text(result.likeCountForCurrentItem);
              if(result.likeIdForLoggedInUser != null && result.likeIdForLoggedInUser != '') {
                $('.likePanelClassOnFeedItem').removeClass('inactive');
                $('.likePanelClassOnFeedItem').addClass('active');
              } else {
                $('.likePanelClassOnFeedItem').removeClass('active');
                $('.likePanelClassOnFeedItem').addClass('inactive');
              }
            } else if (event.type === 'exception') {
              console.log('Exception: '+event.message);
            } else {
              console.log('Error: '+event.message);
            }
          },
          {escape: true}
        );
      }

      // Like-Unlike KA Comments
      function likeUnlikeCommentOnFeedItemRemoteAction(commentId) {
        document.getElementById('pg:CK_Template:chatterFeedForm:saveChatter.start').style.display = 'inline';
        Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.OCSUGC_KnowledgeArtifactDetailCon.likeUnlikeChatterOnFeed}',
          '{!knowledgeExchange.Id}', '{!feedItem.Id}',commentId,'{!isDC}',
          function(result, event) {
            if (event.status) {
              document.getElementById('pg:CK_Template:chatterFeedForm:saveChatter.start').style.display = 'none';
              var className = 'feedCommentLikeCount'+commentId;
              var classNameForLikeIcon = 'feedCommentLikeIconClass'+commentId;
              $('.'+className).text(result.likeCountForCurrentItem);
              if(result.likeIdForLoggedInUser != null && result.likeIdForLoggedInUser != '') {
                $('.'+classNameForLikeIcon).removeClass('inactive');
                $('.'+classNameForLikeIcon).addClass('active');
              } else {
                $('.'+classNameForLikeIcon).removeClass('active');
                $('.'+classNameForLikeIcon).addClass('inactive');
              }
            } else if (event.type === 'exception') {
              console.log('Exception: '+event.message);
            } else {
              console.log('Error: '+event.message);
            }
          },
          {escape: true}
        );
      }

              </script>
            </apex:outputPanel>
          </apex:outputPanel>
        </apex:define>
      </apex:composition>
      <apex:form id="frmConfirmation">
        <c:OCSUGC_Confirmation ContentType="{!contentType}"
          ContentId="{!contentId}" SupportContentId="{!supportContentId}" />
      </apex:form>
      <apex:form id="frmReportProb">
        <c:OCSUGC_ReportAProblem id="compReportProb"
          contentId="{!knowledgeArtifactId}" typeOfContent="Knowledge File"></c:OCSUGC_ReportAProblem>
      </apex:form>
</apex:page>