<apex:page docType="html-5.0"
           showHeader="false"
           sidebar="false"
           standardStylesheets="false"
           applyHtmlTag="false"
           applyBodyTag="false"
           controller="OCSUGC_ComposeChatterMessageController"
           cache="false">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
   <script>
        //Autosearch Functionality
        var j$ = jQuery.noConflict();

        j$(document).ready(function() {


            //autocomplete code
            var sObjects;
            var queryTerm ;

            j$('#message-to').autocomplete({

               minLength: 1,
               source: function(request, response)
               {

                    queryTerm = request.term;
                    //alert('queryTerm :'+queryTerm);

                    OCSUGC_ComposeChatterMessageController.populateUserNameList(request.term,'{!isDC}',function(result, event){

                          if(event.type == 'exception')
                          {
                              alert(event.message);
                          }
                          else
                          {
                              sObjects = result;
                              // I-137350
                              for (i = 0; i < sObjects.length; i++) {
                               sObjects[i] = sObjects[i].replace(/&amp;/gi, '&');
                               dummyDiv = document.createElement('div');
                               dummyDiv.innerHTML = sObjects[i];
                               sObjects[i] = dummyDiv.childNodes[0].nodeValue;
                               sObjects[i] = sObjects[i].replace(/"/g,'\"');
                              }
                              response(sObjects);
                          }
                    });
                }
            });
        });
    </script>
     <apex:composition template="OCSUGC_Template">
	<apex:define name="pageTitle">
		<title>{!pageTitle}</title>
	</apex:define>
     <apex:define name="body">
    <apex:form Id="formId">

        <apex:actionFunction name="SendMessage" action="{!btnSave}"  reRender="formId" oncomplete="lockScreen(false,'{!$Label.OCSUGC_Loading}');">
            <apex:param name="message" value="" assignTo="{!strMessage}" />
            <apex:param name="selectedUserName" value="" assignTo="{!strSelectedUserName}" />
        </apex:actionFunction>

        <apex:actionFunction name="newMessagefun" action="{!newMessage}" reRender="formId,MainOPId" />

        <!-- <body> -->
        <script>

            //Show error message when multiple name is entered in To Field.
            function checkMessageToFieldValue(){

                if(document.getElementById('{!$Component.sendBtnForTypeHead}').style.opacity != 1)
                {
                    return false;
                }
                else
                {
                    var recipientName;
                    recipientName= document.getElementById('message-to').value;

                    var Array = recipientName.split(',');

                    if(Array.length > 1)
                    {

                        alert('{!$Label.OCSUGC_MultipleUserNameEntered}');
                    }
                    else
                    {
                        lockScreen(true,'{!$Label.OCSUGC_Loading}');
                        SendMessage(document.getElementById('message').value,document.getElementById('message-to').value);
                    }
                }
            }
            function checkMessageToSpecifiedUserFieldValue()
            {
                if(document.getElementById('{!$Component.sendButton}').style.opacity != 1)
                {
                    return false;
                }
                else
                {
                    lockScreen(true,'{!$Label.OCSUGC_Loading}');
                    SendMessage(document.getElementById('message').value,document.getElementById('message-to-SpecifiedUser').value);
                }

            }
            // Changed 11-11-2014 Puneet Sardana Ref I-137348
            function activateSendButton(evt){

                var e=window.event || evt
                var keyunicode=evt.charCode ||evt.keyCode
                if('{!isTypeHead}' == 'true')
                {

                    if(keyunicode == 13)
                    {
                        // document.getElementById('{!$Component.sendBtnForTypeHead}').click();
                         return false;
                    }
                    if(document.getElementById('message').value != '' && document.getElementById('message-to').value != '')
                    {
                        document.getElementById('{!$Component.sendBtnForTypeHead}').style.opacity = 1;
                    }
                    else
                    {
                        document.getElementById('{!$Component.sendBtnForTypeHead}').style.opacity = 0.50;
                    }
                }
                else
                {
                    if(keyunicode == 13)
                    {
                        // document.getElementById('{!$Component.sendButton}').click();
                         return false;
                    }
                    if(document.getElementById('message').value != '' && document.getElementById('message-to-SpecifiedUser').value != '' )
                    {
                        document.getElementById('{!$Component.sendButton}').style.opacity = 1;
                    }
                    else
                    {
                        document.getElementById('{!$Component.sendButton}').style.opacity = 0.50;
                    }
                }
            }

            function redirectToHomePage()
            {       
                    if('{!isDC}' == 'true') {
                        window.location.href = '{!$Page.OCSDC_Home}?isResetPwd=true&dc=true'
                    } else {
                        window.location.href = '{!$Page.OCSUGC_Home}?isResetPwd=true'
                    }
            }

            function redirectMessageDetail(param)
            {
                if(param == 'send')
                {
                    param = '{!strConversationId}';
                }
                window.location.href = '{!$Page.OCSUGC_MessageDetailView}?msgUserId='+param+'&view='+'{!isTypeHead}'+('{!isDC}' == 'true'? '&dc=true' : '');
            }

        </script>
        <apex:outputpanel id="DummyPAnel"/>
        <div id="mainbody">
                  <apex:outputpanel Id="MainOPId" layout="block">
                    <div id="profile-actions" class="col-sm-3">
                        <div class="profile-content">
                          <div class="profile-details">
                          </div>
                            <div class="message-list">
                              <h2 class="message">My Inbox</h2>
                              <apex:repeat var="msg" value="{!lstMessageWrapper}">
                                  <div class="message-overview" style="{!IF(msg.isRead, 'background:#ebebe9;' , 'background: #FEF5E4;')}"> <!--  <div class="message-overview active"> -->
                                      <a Id="{!msg.Id}" style="cursor:pointer !important" onclick="redirectMessageDetail('{!msg.struserId}');"> <!-- ShowSeletedItem(this,'{!msg.Id}','{!msg.MessageId}');" -->
                                          <div class="headshot"><apex:image value="{!msg.Photo}" alt="Profile pic" width="40" height="40" style="border-radius: 50%;"/></div>
                                          <div class="info">
                                            <div class="meta">
                                                <apex:outputText style="color: black;font-size: 13px;font-weight: bold;" value="{!msg.Firstname} {!msg.Lastname}" /><br />
                                                <span>
                                                    <apex:outputText style="color: black;font-size: 11px;" value="{!msg.ShortMessage}" /><br/>
                                                    <apex:outputText style="color: gray;font-size: 10px;" value="{!msg.SendDateTime}" /><br/>
                                                </span>
                                            </div>
                                          </div>
                                      </a>
                                  </div>
                              </apex:repeat>
                            </div>
                        </div>
                        </div>
                        <article class="profile messages col-sm-8 col-sm-offset-1">
                          <div class="panel-container">
                              <div class="panel-scroller">
                                <apex:outputPanel id="idChatterReplyMessage" >
                                   <!-- New message Section -->
                                  <apex:outputPanel >
                                    <div class="message reply new">
                                        <form>
                                          <div class="form-group">
                                            <label for="message-to">To</label>
                                                <apex:outputpanel rendered="{!isTypeHead}">
                                                    <input type="text" class="form-control" id="message-to" onkeyup="activateSendButton(event);"/>
                                                </apex:outputpanel>
                                                <apex:outputpanel rendered="{!(!isTypeHead)}">
                                                    <input type="text" class="form-control" value = "{!strdefaultUserName}" id="message-to-SpecifiedUser" readonly="readonly" onfocus="this.blur()"  onkeyup="activateSendButton(event);"/>
                                                </apex:outputpanel>
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Message</label>
                                                <textarea class="form-control" placeholder="Message" id="message" value="{!strMessage}" onkeyup="activateSendButton(event);"></textarea>
                                            </div>
                                            <apex:outputpanel rendered="{!isTypeHead}">
                                                <apex:commandbutton styleclass="btn btn-primary btn-lg active" Id="sendBtnForTypeHead" onclick="checkMessageToFieldValue();" disabled="false" rerender="DummyPAnel" value="Send" style="opacity: 0.50;background-color:#26868b;margin-left: 5px;cursor:pointer;" />
                                            </apex:outputpanel>
                                            <apex:outputpanel rendered="{!(!isTypeHead)}">
                                                <apex:commandbutton styleclass="btn btn-primary btn-lg active" Id="sendButton" onclick="checkMessageToSpecifiedUserFieldValue();" disabled="false" rerender="DummyPAnel" value="Send"  style="opacity: 0.50;background-color:#26868b;margin-left: 5px;cursor:pointer;" />
                                            </apex:outputpanel>
                                            <button type="reset" class="btn btn-primary btn-lg active" style="cursor:pointer;"  onclick = "redirectToHomePage();">Cancel</button>
                                         </form>
                                    </div><!-- /.message -->
                                 </apex:outputPanel>
                              </apex:outputPanel>
                            </div><!-- /.panel-scroller -->
                          </div><!-- /.panel-container -->
                      </article>
                    </apex:outputpanel>
        </div><!--/#wrap -->
<!--    </body> -->
    </apex:form>
    </apex:define>
    </apex:composition>
</apex:page>