<apex:page standardController="L2848__c" extensions="SubmitL2848Record"  action="{!UpdateIsSubmit}" sidebar="false" showHeader="false">
<apex:form >
<apex:pageBlock >
 <apex:pageMessages />
</apex:pageBlock>
 </apex:form>
</apex:page>