<apex:page standardController="Opportunity" extensions="OpportunityControllerExtension,DateUtility" Id="oppPage" showHeader="true">

    <!--<apex:includeScript value="//cdn.rawgit.com/mailtoharshit/ForceSniffer.Js/master/js/forcesniffer.min.js"/>-->
    <apex:includeScript value="{!$Resource.SalesforceDetectDevice}"/>
    <apex:outputPanel rendered="{!NOT(isLightning)}">
        <style>
            .bPageBlock .detailList .labelCol {
              width: 35%;
            }
            
        </style>
        
        <script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
        <script>
            var originalOnLoad = window.onload;
            
            window.onload=function(){
                originalOnLoad();
                document.getElementById("oppPage:form1:pb1:pbs1:pbs2:primaryContact_lkwgt").setAttribute('href','javascript:openCustomContactLookup();');
                document.getElementById("oppPage:form1:pb1:pbs1:secondSection:endUserPBSection:endUserSection:endUser_lkwgt").setAttribute('href','javascript:redirectToSitePartnerPage();');
            }
            
            
            function redirectToSitePartnerPage(){
            
                var acctId = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:pbsi1:Account_lkid').value;
                var acctName = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:pbsi1:Account').value;
                if(acctName=='' || acctName==null){
                    alert('Plese select Account.');
                }else{
                    newwindow = window.open("/apex/OpportunitySitePartners?accountId="+acctId,"new","height = 500,width = 700,left = 420,top = 250, menubar = false, scrollbars = yes,resizable =yes");         
                    if (window.focus) {newwindow.focus()}
                }
            }
            
            function fetchEndUserAddress(partnerNumber,partnerName){
                showEndUserAddress(partnerNumber,partnerName);
            }
            
            function validate(){
            var test =document.getElementById('oppPage:form1:pb1:psb1:secondSection:sellist').value;
            if(test.value == '--None--' || test.value == null){
            alert("please fill the field");
            return true;
            }
            }
            
            
            function openCustomContactLookup(){
                
                var acctId = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:pbsi1:Account_lkid').value;
                var acctName = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:pbsi1:Account').value;
                var searchTextFromOpp = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:primaryContact').value;
                
                if(acctName=='' || acctName==null){
                    alert('Please select Account.');
                }else{
                    newwindow = window.open("/apex/OpportunityContacts?accountId="+acctId+"&searchTextFromOpp="+searchTextFromOpp,"new","height = 500,width = 700, left= 420,top = 250,menubar = false, scrollbars = yes,resizable =yes");
                    if (window.focus) {newwindow.focus()}
                }
            }
            
            function clearEndUser(){
                document.getElementById('oppPage:form1:pb1:pbs1:secondSection:endUserPBSection:endUserSection:endUser').value = '';
                document.getElementById('oppPage:form1:pb1:pbs1:secondSection:sitePartnerAddress').value = '';
                document.getElementById('oppPage:form1:pb1:pbs1:pbs2:primaryContact').value = '';
            }
            
            function validateNDA(){
                var countries = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:Country');
                var selectedCountry = countries.options[countries.selectedIndex].value;
                
                if(selectedCountry == ''){
                    alert('Please fill all the required fields.');
                    return false;
                }else{
                    sforce.connection.sessionId = '{!$Api.Session_ID}';
                    var sfCountries = sforce.connection.query("SELECT Id,Name From Country__c Where Name ='"+selectedCountry+"' and Region__c='NA'");   
                    var records = sfCountries.getArray("records");
                    
                    if(document.getElementById('oppPage:form1:pb1:ndaSection:ndaSection1:ndaSection2:ndaRecommendation').checked == false && records.length>0){
                        if(confirm('I certify that I have put in place or will put in place an NDA with the customer prior to disclosing Varian confidential information or disclosing below threshold pricing related to this opportunity.')){
                            document.getElementById('oppPage:form1:pb1:ndaSection:ndaSection1:ndaSection2:ndaRecommendation').checked = true;
                            return true;
                        }else{
                            return false;
                        }
                    }
                }
                return true;
            }
            
        function addRemoveRow(actionName, rowId){
            if(actionName == 'add'){
                var npRecordTypes = document.getElementById('oppPage:form1:pb1:nonVarianProductsBlock:npRecordTypes');
                var recordTypeId = npRecordTypes.options[npRecordTypes.selectedIndex].value;
                console.log('----recordTypeId'+recordTypeId);
                addOrRemoveRow('add','',recordTypeId);
            }else{
                addOrRemoveRow('remove',rowId,'');
            }
            return true;
        }
        
            function confirmCloseDate(){
                var closeDate = document.getElementById('oppPage:form1:pb1:pbs1:MarketProbabilitysec:opportunityCloseDate').value;
                var requestedDeliveryDate = document.getElementById('oppPage:form1:pb1:pbs1:MarketProbabilitysec:requestedDeliveryDate').value;
                var stageElement = document.getElementById('oppPage:form1:pb1:pbs1:MarketProbabilitysec:stageSection:Stage');
                var stageName = stageElement.options[stageElement.selectedIndex].value;
                
                var stageValue = parseInt(stageName.slice(0, 2).trim());
                
                var returnValue = true;
                
                console.log('---closeDate'+closeDate+'---requestedDeliveryDate'+requestedDeliveryDate+'---'+stageValue);
                if(closeDate!=''){
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.DateUtility.isLessThanToday}',
                        closeDate, 
                        function(result, event){
                            if(event.status) {
                                if(result && stageValue < 6){
                                    if(confirm('The expected close date is in the past. Do you still want to proceed?')){
                                        console.log('----in confirm');
                                        returnValue = true;
                                    }else{
                                        returnValue = false;
                                    }
                                }
                            }else if (event.type === 'exception') {
                                returnValue = true;
                            }else {
                                returnValue = true;
                            }
                        }, 
                        {escape: true}
                    );
                }
                console.log('--before second call'+returnValue);
                Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.DateUtility.isDate1GreaterThanDate2}',
                        closeDate,
                        requestedDeliveryDate,
                        function(result, event){
                            if(event.status) {
                                if(result && stageValue < 6){
                                    if(confirm('The expected close date is past the requested delivery date. Please update the requested delivery date inside the quote.')){
                                        returnValue = true;
                                    }else{
                                        returnValue = false;
                                    }
                                }else{
                                    returnValue = true;
                                }
                            }else if (event.type === 'exception') {
                                returnValue = true;
                            }else {
                                returnValue = true;
                            }
                        }, 
                        {escape: true}
                    );
                console.log('--after second call'+returnValue);
                return returnValue;
            }
        
        /*
        function setSelectedValuesOnOpp(selectedIpValues, productFamily){
            if(productFamily == 'HW'){
                document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:HW_IP_NVIP1:HW_IP_NVIP2:HW_VIP_NVIP').value = selectedIpValues.join();
            }else if(productFamily == 'SW'){
                document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:SW_IP_NVIP1:SW_IP_NVIP2:SW_VIP_NVIP').value = selectedIpValues.join();
            }
        }
        */
        
        function setSelectedValuesOnOpp(selectedIpValues, productFamily){
            var existingVal;
            var uniqueVal;
            var uniqueList;
            if(productFamily == 'HW'){
            	existingVal = document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:HW_IP_NVIP1:HW_IP_NVIP2:HW_VIP_NVIP').value;
                if(existingVal != '') {
                    uniqueList=existingVal.split(',').filter(function(item,i,allItems){
                        return i==allItems.indexOf(item);
                    }).join(',');                    
                	document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:HW_IP_NVIP1:HW_IP_NVIP2:HW_VIP_NVIP').value = existingVal + ',' + selectedIpValues.join();
                } else {
                	document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:HW_IP_NVIP1:HW_IP_NVIP2:HW_VIP_NVIP').value = selectedIpValues.join();
                }
                
            }else if(productFamily == 'SW'){
                existingVal = document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:SW_IP_NVIP1:SW_IP_NVIP2:SW_VIP_NVIP').value;
                if(existingVal != '') {
                	
                    uniqueVal = existingVal + ',' + selectedIpValues.join();
                        
                    uniqueList = uniqueVal.split(',').filter(function(item,i,allItems){
                        return i==allItems.indexOf(item);
                    }).join(',');
                
                    document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:SW_IP_NVIP1:SW_IP_NVIP2:SW_VIP_NVIP').value = uniqueList;//existingVal + ',' + selectedIpValues.join();
                } else {
                	document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:SW_IP_NVIP1:SW_IP_NVIP2:SW_VIP_NVIP').value = selectedIpValues.join();
                }
                
            } else if(productFamily == 'SC') {
                existingVal = document.getElementById('oppPage:form1:pb1:productReplacementSection:SC_IP_NVIP:SC_IP_NVIP1:SC_IP_NVIP2:SC_VAL').value;
                if(existingVal != '') {
					uniqueVal = existingVal + ',' + selectedIpValues.join();
                        
                    uniqueList = uniqueVal.split(',').filter(function(item,i,allItems){
                        return i==allItems.indexOf(item);
                    }).join(',');
                    document.getElementById('oppPage:form1:pb1:productReplacementSection:SC_IP_NVIP:SC_IP_NVIP1:SC_IP_NVIP2:SC_VAL').value = uniqueList;// existingVal + ',' + selectedIpValues.join();
            	} else {
                	document.getElementById('oppPage:form1:pb1:productReplacementSection:SC_IP_NVIP:SC_IP_NVIP1:SC_IP_NVIP2:SC_VAL').value = selectedIpValues.join();
                }
            }
        }
        
        function openIPLookup(productFamily){
            var acctId = document.getElementById('oppPage:form1:pb1:pbs1:pbs2:pbsi1:Account_lkid').value;
            var sitePartnerAccId = '';
            if(document.getElementById('oppPage:form1:pb1:pbs1:MarketProbabilitysec:endUserPBSection:endUserSection:endUser_lkid') != null){
            	sitePartnerAccId = document.getElementById('oppPage:form1:pb1:pbs1:MarketProbabilitysec:endUserPBSection:endUserSection:endUser_lkid').value;
                console.log('sitePartnerAccId'+'-->' + sitePartnerAccId);
            }
            
            var objectName = '';
            var productVendor = '';
            var selectedValues = '';
            if(productFamily == 'HW'){
                var HWProductVendorElement = document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:linacVendor');
                productVendor = HWProductVendorElement.options[HWProductVendorElement.selectedIndex].value;
                //selectedValues = document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:HW_IP_NVIP1:HW_IP_NVIP2:HW_VIP_NVIP').value;
            	selectedValues = document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:linacVendor').value;
            
            }else if(productFamily == 'SW'){
                var SWProductVendorElement = document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:oisVendor');
                productVendor = SWProductVendorElement.options[SWProductVendorElement.selectedIndex].value;
                //selectedValues = document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:SW_IP_NVIP1:SW_IP_NVIP2:SW_VIP_NVIP').value;
            	selectedValues = document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:oisVendor').value;
            
            } else if(productFamily == 'SC'){
            	var SCProductVendorElement = document.getElementById('oppPage:form1:pb1:productReplacementSection:SC_IP_NVIP:serviceContracts');
                productVendor = SCProductVendorElement.options[SCProductVendorElement.selectedIndex].value;
            	selectedValues = document.getElementById('oppPage:form1:pb1:productReplacementSection:SC_IP_NVIP:serviceContracts').value;
            }
            
            if(productFamily == 'SC') {
                objectName = 'SC';
            } else {
                if(productVendor == 'Varian'){
                    objectName = 'SVMXC__Installed_Product__c';
                }else if(productVendor != 'Varian' && productVendor != ''){
                    objectName = 'Competitor__c';
                }
            }
            
            /*
            if(productVendor == 'Varian'){
                objectName = 'SVMXC__Installed_Product__c';
            }else if(productVendor != 'Varian' && productVendor != ''){
                objectName = 'Competitor__c';
            }*/
            
            if(objectName!='' && selectedValues != ''){
                var newwindow = window.open("/apex/OpportunityReplacementProducts?productFamily="+productFamily+"&objectName="+objectName+"&accountId="+acctId+"&selectedIPValues="+selectedValues+ (sitePartnerAccId != '' ? '&sitePartnerAccId='+sitePartnerAccId: ''),"new","height = 500,width = 700, left= 420,top = 250,menubar = false, scrollbars = yes,resizable =yes");
                if (window.focus) {newwindow.focus();}
            }else{
                if(productFamily != 'SC') {
                	alert('Please select '+productFamily+' System Takeout');
            	} else {
                	alert('Please select Service Takeout');
                }
            }
        }
        //INC4873200:INC4904281
        function clearVal(val) {
            if(val == 'HW_VIP_NVIP') {
                console.log(val);
                //document.getElementById('{!$Component.HW_VIP_NVIP}').value = '';
                document.getElementById('oppPage:form1:pb1:productReplacementSection:HW_IP_NVIP:HW_IP_NVIP1:HW_IP_NVIP2:HW_VIP_NVIP').value="";
                console.log(val);
            } else if(val == 'SW_VIP_NVIP') {
                document.getElementById('oppPage:form1:pb1:productReplacementSection:SW_IP_NVIP:SW_IP_NVIP1:SW_IP_NVIP2:SW_VIP_NVIP').value="";
                console.log(val);
            } else if(val == 'SC_VAL') {
                
                document.getElementById('oppPage:form1:pb1:productReplacementSection:SC_IP_NVIP:SC_IP_NVIP1:SC_IP_NVIP2:SC_VAL').value="";
            	console.log(val);
            }
        }
        </script>
       <apex:pageMessages id="pgMsg"/>
    
       <p/> <h1> Opportunity</h1><p/>
        <apex:form id="form1">
            <apex:pageBlock id="pb1">
                <apex:pageBlockSection id="pbs1" title="Oppotunity Detail" columns="2">
                    
                    <!-- First Column Section -->
                    <apex:pageBlockSection id="pbs2" columns="1">
                        <apex:outputfield value="{!Opportunity.Ownerid}" label="Opportunity Owner"/>       
                        <apex:inputField value="{!Opportunity.Name}" label="Opportunity Name" style="width:250px;"/> 
                        
                        <apex:pageBlockSectionItem id="pbsi1">
                             <apex:outputLabel value="Account Name" for="Account"/>
                             <apex:actionRegion >
                                 <apex:inputField value="{!Opportunity.accountid}" label="Account Name" id="Account" required="true" style="width:250px;">
                                     <apex:actionSupport event="onchange" action="{!SaveandClose}" oncomplete="clearEndUser();" rerender="Country, Currency,acctAddress,mforecastpercentage,MarketProbabilitysec,AccSector" status="showAccountAddressStatus"/>
                                 </apex:inputField>
                             </apex:actionRegion>
                         </apex:pageBlockSectionItem>
                         <!--Added by Divya for INC4638292: changed the value of required attribute to true-->
                         <apex:inputField value="{!Opportunity.Account_Sector__c}" id="AccSector" label="Account Sector" required="true"/>
                         <apex:inputField value="{!Opportunity.Payer_Same_as_Customer__c}" label="Payer Same as Customer" required="true"/>                    
                        <apex:inputTextArea value="{!acctAddress}" label="Address" Id="acctAddress" readonly="true" disabled="true" style="width:250px;height:70px;">
                            <apex:actionStatus id="showAccountAddressStatus" style="align:right;">
                                <apex:facet name="start">                        
                                    <img src="/img/loading.gif" />                   
                                </apex:facet>  
                            </apex:actionStatus>
                        </apex:inputTextArea>
                        
                        <apex:pageBlockSectionItem id="typeOpp">
                             <apex:outputLabel value="Type" for="Opportunity"/>
                             <apex:actionRegion >
                                 <apex:inputField value="{!Opportunity.Type}" label="Type">
                                    <apex:actionSupport event="onchange" action="{!showQuoteReplaced}" reRender="efg,lostBusiness" /> <!-- -->
                                 </apex:inputField>
                             </apex:actionRegion>
                         </apex:pageBlockSectionItem>
                         
                         
                        
                        <apex:outputPanel id="efg" layout="block" style="margin-left : 36%;">
                            <apex:pageBlockSectionItem id="replacedQuoate" rendered="{!Opportunity.Type == 'Replacement'}">
                                <apex:outputLabel value="#Quote" for="Opportunity"/>
                                <apex:actionRegion >
                                <apex:inputfield value="{!Opportunity.Quote_Replaced__c}" label="#Quote" 
                                                 required="true" 
                                                 >
                                                 <apex:actionSupport event="onchange" action="{!getReplacedQuoateAmount}" reRender="test"/>
                                </apex:inputfield> 
                                <apex:outputText id="test" value="{0, number, ###,###,###,##0.00}" >
                                 <apex:param value="{!replacedQuoateAmount}"/> 
                                </apex:outputText>
                                </apex:actionRegion>
                            </apex:pageBlockSectionItem>
                        </apex:outputPanel> 
                        
                        <apex:inputfield value="{!Opportunity.Primary_Contact_Name__c}" label="Primary Contact Name" required="TRUE" Id="primaryContact"/>
                        <apex:inputField value="{!Opportunity.CurrencyIsoCode}" id="Currency" label="Opportunity Currency"/>
                        <apex:inputField value="{!Opportunity.Deliver_to_Country__c}" id="Country" label="Deliver to Country" required="true" />
                        
                        <!-- <apex:inputfield value="{!Opportunity.Fiscal_Year__c}" label="Fiscal Year"/> -->
                        <apex:inputField value="{!Opportunity.F_Fiscal_Year__c}" label="Fiscal Year"/>
                        <apex:inputField value="{!Opportunity.F_Fiscal_Quarter__c}" label="Fiscal Quarter"/>
                        
                        <apex:inputField value="{!Opportunity.Description}" label="Description" style="width:250px;height:100px;"/>
                    </apex:pageBlockSection>
                  
                    <!-- Second Column Section -->
                    
    
                    <apex:pageBlockSection columns="1" Id="secondSection" id="MarketProbabilitysec">
                        <apex:pageBlockSectionItem id="blankSpace">
                        </apex:pageBlockSectionItem>
                        <apex:outputField value="{!Opportunity.Opportunity_Type__c}" Label="Primary Quote Type"/>
                        <apex:pageBlockSectionItem id="endUserPBSection">
                            <apex:outputLabel value="Site Name/Partner"/>
                            <apex:pageBlockSectionItem id="endUserSection">
                                <apex:actionRegion >
                                    <apex:inputField value="{!Opportunity.Site_Partner__c}" style="width:250px;" id="endUser">
                                        <apex:actionSupport event="onchange" rerender="sitePartnerAddress" status="showSitePartnerStatus"/>
                                    </apex:inputField>
                                </apex:actionRegion>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSectionItem>
                         
                        <apex:inputTextArea value="{!sitePartnerAddress}" label="Address" Id="sitePartnerAddress" readonly="true" disabled="true" style="width:250px;height:70px;">
                            <apex:actionStatus id="showSitePartnerStatus" style="align:right;">
                                <apex:facet name="start">                        
                                    <img src="/img/loading.gif" />                   
                                </apex:facet>  
                            </apex:actionStatus>
                        </apex:inputTextArea>
                        <apex:inputField value="{!Opportunity.Amount}" label="Amount"/>
                        <apex:inputfield value="{!Opportunity.CloseDate}" label="Expected Close Date" required="TRUE" id="opportunityCloseDate"/>
                        <apex:inputfield value="{!Opportunity.Expected_Delivery_Date__c}" label="Primary Quote Req.Delivery Date" id="requestedDeliveryDate"/>
                        <!--Ajinkya.26/10/2016.START-->
                        <apex:pageblocksectionItem id="stageSection">
                       
                        <apex:outputLabel value="Opportunity Stage" for="Stage"/>
                         <apex:actionRegion >
                        <apex:inputField value="{!Opportunity.StageName}" label="Opportunity Stage" id="Stage">
                            <apex:actionSupport event="onchange" action="{!setLostOppotunity}" 
                                                reRender="pgMsg,lostBusiness,nonVarianInstalledProducts" />
                        </apex:inputField>
                        </apex:actionRegion>
                       </apex:pageblocksectionItem>
                        <!--Ajinkya.26/10/2016.END-->
                        
                        <!--Rakesh.1/7/2016.Start-->
                        <!--<apex:inputField value="{!Opportunity.Unified_Funding_Status__c}" id="unifiedFundingStatus"/>-->
                        <apex:pageblocksectionItem helpText="{!$ObjectType.opportunity.Fields.Unified_Funding_Status__c.inlineHelpText}" id="sellist">
                            <apex:outputLabel value="Forecast Percentage" />
                            <apex:selectList value="{!Opportunity.Unified_Funding_Status__c}" id="mforecastpercentage"    multiselect="false" size="1" >
                                <apex:selectOptions value="{!ForecastPercentage}" />    
                            </apex:selectList>
                        </apex:pageblocksectionItem>
                        <!-- Rakesh.1/7/2016.End-->
                        <apex:inputField value="{!Opportunity.Unified_Probability__c}"  rendered="{!IsWithoutDeal}" id="MarketProbability" />
                        <apex:inputField value="{!Opportunity.Tender_Deal__c}" id="tenderDeal"/>
                        
                        <apex:pageblocksectionItem id="existngPRSection">
                        <apex:outputLabel value="Existing Product Replacement"/>
                        <apex:actionRegion >
                            <apex:inputField value="{!Opportunity.Existing_Equipment_Replacement__c}" label="Existing Product Replacement" required="TRUE">
                                <apex:actionSupport event="onchange" reRender="productReplacementSection" />
                            </apex:inputField>
                        </apex:actionRegion>
                    </apex:pageblocksectionItem>
                        
                        <apex:inputField value="{!Opportunity.Particle_Therapy_Opportunity__c}" id="vptOpportunity"/>
                    </apex:pageBlockSection>
                    
                </apex:pageBlockSection>
                <!--<apex:pageBlockSection title="Existing Product Replacement" columns="2">
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!Opportunity.Competitor_Units__c}" label="Qty Linac Takeout"/>
                        <apex:inputField value="{!Opportunity.Add_Linac_system_older_than_10_years__c}" label="Add Linac system older than 10 years"/>
                        <apex:inputField value="{!Opportunity.Competitive_Takeout_Vendor__c}" label="Linac System Takeout"/> 
                        <apex:inputField value="{!Opportunity.Competitive_System_Lost__c}" label="Software System/Other Takeout"/>
                    </apex:pageBlockSection>
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!Opportunity.Competitive_Software_Lost__c}" label="TPS System Takeout"/>
                        <apex:inputField value="{!Opportunity.Collection_of_Lost_Business_reason__c}" label="Brachy System Takeout"/>
                        <apex:inputField value="{!Opportunity.Velocity_Takeout__c}" label="Velocity Takeout"/>
                        --><!--<apex:inputField value="{!Opportunity.X3rd_Party_Service_Takeout__c}" label="3rd Party Service Takeout"/> 
<apex:inputField value="{!Opportunity.PCSN__c}" label="PCSN"/> -->
                    <!--</apex:pageBlockSection>
                </apex:pageBlockSection>-->
                
                <apex:pageBlockSection title="Existing Product Replacement" columns="2" id="productReplacementSection" showHeader="{!Opportunity.Existing_Equipment_Replacement__c == 'Yes'}">
                    <apex:pageBlockSection columns="1" id="HW_IP_NVIP" rendered="{!Opportunity.Existing_Equipment_Replacement__c == 'Yes'}">
                        <apex:inputField value="{!Opportunity.Competitive_Takeout_Vendor__c}" label="Linac System Takeout" Id="linacVendor"/> 
                        <apex:pageBlockSectionItem Id="HW_IP_NVIP1">
                            <apex:outputLabel value="Varian PCSN/Non Varian IB"/>
                            <apex:pageBlockSectionItem Id="HW_IP_NVIP2">
                                <!--INC4873200:INC4904281-->
                                <apex:inputText value="{!Opportunity.Varian_PCSN_Non_Varian_IB__c}" id="HW_VIP_NVIP" disabled="false"/>
                                <apex:outputPanel > 
                                    <img title="Customer Install Base" style="vertical-align:top;cursor: pointer;" onmouseover="this.className = 'lookupIconOn';
                                                                                                                                this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';
                                                                                                                                                                              this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';"
                                         onblur="this.className = 'lookupIcon';" onclick="openIPLookup('HW');" class="lookupIcon"  src="/s.gif"/>
                                	<img src="/img/func_icons/util/recycle.gif" title="clear values" onclick="clearVal('HW_VIP_NVIP');"/><!--INC4873200:INC4904281-->
                                </apex:outputPanel>
                            </apex:pageBlockSectionItem>                    
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                    <apex:pageBlockSection columns="1" id="SW_IP_NVIP" rendered="{!Opportunity.Existing_Equipment_Replacement__c == 'Yes'}">
                        <apex:inputField value="{!Opportunity.Competitive_System_Lost__c}" id="oisVendor" label="Software System/Other Takeout"/>
                        <apex:pageBlockSectionItem Id="SW_IP_NVIP1">  
                            <apex:outputLabel value="Varian SW Serial No./Non Varian IB"/>
                            <apex:pageBlockSectionItem Id="SW_IP_NVIP2">
                                <!--INC4873200:INC4904281-->
                                <apex:inputText value="{!Opportunity.Varian_SW_Serial_No_Non_Varian_IB__c}" id="SW_VIP_NVIP" disabled="false"/>
                                <apex:outputPanel > 
                                    <img title="Customer Install Base" style="vertical-align:top;cursor: pointer;" onmouseover="this.className = 'lookupIconOn';
                                                                                                                                this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';
                                                                                                                                                                              this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';"
                                         onblur="this.className = 'lookupIcon';" onclick="openIPLookup('SW');" class="lookupIcon"  src="/s.gif"/>
                                	<img src="/img/func_icons/util/recycle.gif" title="clear values" onclick="clearVal('SW_VIP_NVIP');"/><!--INC4873200:INC4904281-->
                                </apex:outputPanel>
                            </apex:pageBlockSectionItem>                    
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                    
                    <apex:pageBlockSection columns="1" id="SC_IP_NVIP" rendered="{!Opportunity.Existing_Equipment_Replacement__c == 'Yes'}">
                        <apex:inputField value="{!Opportunity.Service_Takeout__c}" id="serviceContracts" style="width: 200px"/>
                        <apex:pageBlockSectionItem Id="SC_IP_NVIP1">  
                            <apex:outputLabel value="Varian SC Serial No./Non Varian IB"/>
                            <apex:pageBlockSectionItem Id="SC_IP_NVIP2">
                                <!--INC4873200:INC4904281-->
                                <apex:inputText value="{!Opportunity.Varian_SC_Serial_No_Non_Varian_IB__c}" id="SC_VAL" disabled="false"/>
                                <apex:outputPanel > 
                                    <img title="Customer Install Base" style="vertical-align:top;cursor: pointer;" onmouseover="this.className = 'lookupIconOn';
                                                                                                                                this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';
                                                                                                                                                                              this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';"
                                         onblur="this.className = 'lookupIcon';" onclick="openIPLookup('SC');" class="lookupIcon"  src="/s.gif"/>
                                	<img src="/img/func_icons/util/recycle.gif" title="clear values" onclick="clearVal('SC_VAL');"/><!--INC4873200:INC4904281-->
                                </apex:outputPanel>
                            </apex:pageBlockSectionItem>                    
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>                    
                    
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="Competitor Details" columns="2">
                    <apex:pageBlockSection columns="1"></apex:pageBlockSection>
                    <apex:pageBlockSection columns="1"></apex:pageBlockSection>
                </apex:pageBlockSection>
                <apex:pageblock Id="nonVarianProductsBlock">
                    <div align="center">
                        <apex:outputLabel value="Select Record Type:" for="npRecordTypes" style="font-weight:bold;padding-right:10px;"/>
                        <apex:selectList Id="npRecordTypes" size="1">
                            <apex:selectOptions value="{!nonVarianProductRecordTypes}"/>
                        </apex:selectList>
                        <!--INC4873200:INC4904281--><!-- Changing the name to 'Add' from 'Add New Non-Varian InstalledProduct' as suggested by Yogesh -->
                        <apex:outputLink style="padding-left:10px;" value="javascript:void(0);" onclick="addOrRemoveRow('add','',document.getElementById('oppPage:form1:pb1:nonVarianProductsBlock:npRecordTypes').options[document.getElementById('oppPage:form1:pb1:nonVarianProductsBlock:npRecordTypes').selectedIndex].value);">Add</apex:outputLink>
                    </div>
                    
                    <apex:pageBlockTable value="{!nonInstalledVarianProducts}" var="installedProduct" id="nonVarianInstalledProducts">
                        
                        <apex:column headerValue="Lost ?">
                            <apex:facet name="header">
                                <apex:image value="/img/msg_icons/info32.png" style="height: 20px;width: 20px;" id="info"
                                            title="Select the checkbox to sync competitor information to account " />
                            </apex:facet>
                            <!--<apex:inputCheckbox value="{!installedProduct.isLost}" rendered="{!installedProduct.nonVarianProduct.isLost__c != true}" />
                            <apex:outputField value="{!installedProduct.nonVarianProduct.isLost__c}" rendered="{!installedProduct.nonVarianProduct.isLost__c == true}" />-->
                            <apex:inputCheckbox value="{!installedProduct.nonVarianProduct.isLost__c}" 
                                                rendered="{!if( ((Opportunity.StageName != '7 - CLOSED WON' && Opportunity.StageName != '8 - CLOSED LOST')
                                                          )
                                                        , true, false)}" />
                            
                            <apex:outputField value="{!installedProduct.nonVarianProduct.isLost__c}" 
                                              rendered="{!if( ((Opportunity.StageName == '7 - CLOSED WON' || Opportunity.StageName == '8 - CLOSED LOST')
                                                        ), true, false)}" />
                        </apex:column>
                        
                        <apex:column headerValue="Type">
                            <apex:outputText value="{!installedProduct.nonVarianProduct.RecordType.Description}"/>
                        </apex:column>
                        <apex:column headerValue="Product Type">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Product_Type__c}" 
                                             rendered="{!installedProduct.nonVarianProduct.Id==null}"></apex:inputField>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Product_Type__c}" 
                                              rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Vendor">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Vendor__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Vendor__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Product Name">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Model__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Model__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Vault identifier">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Vault_identifier__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" 
                                             required="{!installedProduct.nonVarianProduct.RecordType.DeveloperName=='DS'}"></apex:inputField>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Vault_identifier__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Estimated Installation">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Year_Installed__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}"
                                             required="{!installedProduct.nonVarianProduct.RecordType.DeveloperName=='DS'}"/>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Year_Installed__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Service Provider">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Service_Provider__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}"
                                             required="{!installedProduct.nonVarianProduct.RecordType.DeveloperName=='DS'}"/>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Service_Provider__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Status">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Status__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}"
                                             required="{!installedProduct.nonVarianProduct.RecordType.DeveloperName=='DS'}"/>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Status__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column headerValue="Isotope Source">
                            <apex:inputField value="{!installedProduct.nonVarianProduct.Isotope_Source__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" 
                                             required="{!installedProduct.nonVarianProduct.RecordType.DeveloperName=='BA'}"/>
                            <apex:outputField value="{!installedProduct.nonVarianProduct.Isotope_Source__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                        </apex:column>
                        <apex:column >
                            <apex:outputLink value="javascript:void(0);" 
                                             onclick="addOrRemoveRow('remove','{!installedProduct.rowNumber}','')" 
                                              rendered="{! (Opportunity.StageName != '6 - CLOSED CONTINGENT (N/A)' ||
                                                            Opportunity.StageName != '9 - CLOSED DEAD' ||
                                                            Opportunity.StageName != '10 - SUPERSEDED') &&
                                                        installedProduct.nonVarianProduct.isLost__c != true }"
                                             style="color:red;">
                                Remove
                            </apex:outputLink>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageblock>
                
                <!--  <apex:pageblock >
                  
                    <apex:pageBlockSection title="Non-Varian Install Base" columns="1">
                        <apex:pageBlockTable value="{!nonInstalledVarianProducts}" var="installedProduct" id="nonVarianInstalledProducts">
                            <apex:column headerValue="Product Name">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Model__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Model__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Product Type">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Product_Type__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Product_Type__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Vendor">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Vendor__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Vendor__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Vault identifier">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Vault_identifier__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Vault_identifier__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Year Installed">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Year_Installed__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Year_Installed__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Service Provider">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Service_Provider__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Service_Provider__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Status">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Status__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}" required="true"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Status__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Isotope Source">
                                <apex:inputField value="{!installedProduct.nonVarianProduct.Isotope_Source__c}" rendered="{!installedProduct.nonVarianProduct.Id==null}"></apex:inputField>
                                <apex:outputField value="{!installedProduct.nonVarianProduct.Isotope_Source__c}" rendered="{!installedProduct.nonVarianProduct.Id!=null}"></apex:outputField>
                            </apex:column>
                            <apex:column >
                                <apex:outputLink value="javascript:void(0);" onclick="addOrRemoveRow('remove','{!installedProduct.rowNumber}')" rendered="{!installedProduct.nonVarianProduct.Id==null}" style="color:red;">
                                    Remove
                                </apex:outputLink>
                            </apex:column>
                        </apex:pageBlockTable>
                    </apex:pageBlockSection>
                    <apex:pageblockbuttons >
                        <apex:outputLink value="javascript:void(0);" onclick="addOrRemoveRow('add','')">Add New Non-Varian InstalledProduct</apex:outputLink>
                    </apex:pageblockbuttons>
                </apex:pageblock> -->
                
                <apex:pageBlockSection title="NDA Recommendation" columns="1" id="ndaSection">
                    <apex:pageBlockSection columns="1" id="ndaSection1">
                        <apex:pageBlockSectionItem id="ndaSection2">
                            <apex:inputfield value="{!Opportunity.NDA_Recommendation__c}" id="ndaRecommendation">
                            <apex:outputLabel style="font-weight: bold;font-size: 91%;color:#4A4A56;font-family: Arial;" value="I certify that I have put in place or will put in place an NDA with the customer prior to disclosing Varian confidential information or disclosing below threshold pricing related to this opportunity." for="ndaRecommendation"/>
                            </apex:inputfield>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="Additional Information" columns="2">
                             
                    <!-- First Column Section -->         
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!Opportunity.Budget_Approval_Confirmation__c}" label="Budget Approval Confirmation"/>
                        <apex:inputField value="{!Opportunity.Distributor_Selling_Partner_Influence__c}" label="Distributor/Selling Partner Influence"/>
                        <apex:inputfield value="{!Opportunity.Require_Customer_visit_to_Factory__c}" label="Require Customer visit to Factory"/>
                        <apex:inputfield value="{!Opportunity.Prior_Opportunity__c}" label="Prior Opportunity"/>
                        <apex:inputfield value="{!Opportunity.Service_Maintenance_Contract__c}" label="Service/Maintenance Contract"/>
                    </apex:pageBlockSection>
                    
                    <!-- Second Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!Opportunity.Budget_Approval_Date__c}" label="Budget Approval Date"/>
                        <apex:inputField value="{!Opportunity.Government_Business__c}" label="Government Business"/>
                        <apex:inputField value="{!Opportunity.C_Level_Sign_off_required__c}" label="C-Level Sign off required"/>
                        <apex:inputField value="{!Opportunity.Market_Analysis_Program__c}" label="Market Analysis Program"/>
                        <apex:inputField value="{!Opportunity.Market_Access_Program__c}" label="Market Access Program"/>
                    </apex:pageBlockSection>       
                    
                </apex:pageBlockSection>
                
                <!--Added Won Business section on 3.17.2016 By Narmada as suggested by John -->
            <apex:pageBlockSection title="Won/Lost Business" columns="2" id="winLossSection">
                <apex:pageBlockSection columns="1">
                    <apex:inputField value="{!Opportunity.Competitive_Price__c}" label="Competitive Deal Price US $" required="{!Opportunity.StageName == '8 - CLOSED LOST'}"/>
                    <apex:inputField value="{!Opportunity.Key_Decision_Makers__c}" label="Primary Key Decision Maker"/>
                    <apex:inputField value="{!Opportunity.Actions_to_win_future_business1__c}" label="Actions to win future business" style="width:250px;height:20px;" required="{!Opportunity.StageName == '8 - CLOSED LOST' || Opportunity.StageName == '7 - CLOSED WON'}"/>
                    <!-- not required <apex:inputField value="{!Opportunity.Lost_Software__c}"/>
                    <apex:inputField value="{!Opportunity.Lost_OIS__c}"/>
                    <apex:inputField value="{!Opportunity.Lost_TPS__c}"/>-->
                    <!--<apex:inputField value="{!Opportunity.Service_Contract_Terms__c}" label="Service Contract Lost" style="width:250px;height:50px;"/>-->
                    <apex:inputField value="{!Opportunity.Service_Contract_Years1__c}" label="Service Contract Years"/>
                    <!--<apex:inputField value="{!Opportunity.Role_Of_Key_Decision_Maker__c}" label="Key Decision Maker Role"/>-->
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1">
                    <apex:inputField value="{!Opportunity.Primary_Won_Reason__c}" required="{!Opportunity.StageName == '8 - CLOSED LOST' || Opportunity.StageName == '7 - CLOSED WON'}"/>
                    <!-- not required <apex:inputField value="{!Opportunity.Primary_Won_Detail__c}" required="{!Opportunity.StageName == '8 - CLOSED LOST' || Opportunity.StageName == '7 - CLOSED WON'}"/>-->
                    <apex:inputField value="{!Opportunity.Secondary_Won_Reason__c}" required="{!Opportunity.StageName == '8 - CLOSED LOST' || Opportunity.StageName == '7 - CLOSED WON'}"/>
                    <!-- not required <apex:inputField value="{!Opportunity.Secondary_Won_Detail__c}" required="{!Opportunity.StageName == '8 - CLOSED LOST' || Opportunity.StageName == '7 - CLOSED WON'}"/>-->
                    <apex:inputField value="{!Opportunity.Comments_for_Win__c}" style="width:250px;height:100px;" /><!-- INC4849196: required="{!Opportunity.StageName == '8 - CLOSED LOST' || Opportunity.StageName == '7 - CLOSED WON'}"-->
                </apex:pageBlockSection>              
            </apex:pageBlockSection>
            <!--- Won business Section End -->
                
               
                  <apex:pageBlockSection title="Opportunity Closing" columns="2">
                    
                     <!-- First Column Section -->
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!Opportunity.New_Site_Approval__c}" label="New Site Approval"/>
                        <apex:inputField value="{!Opportunity.Is_New_Construction_needed__c}" label="Is New Construction needed?"/>
                        <apex:inputField value="{!Opportunity.All_Con_requirements_known_and_met__c}" label="All Con requirements known and met"/>
                        <apex:inputField value="{!Opportunity.Site_construction_costs__c}" label="Site Construction Costs" style="width:250px;height:100px;"/>
                    </apex:pageBlockSection>         
                     
                     <!-- Second Column Section -->                
                    <apex:pageBlockSection columns="1">
                        <apex:inputField value="{!Opportunity.All_State_Regulatory_issues_resolved__c}" label="All State Regulatory issues resolved"/>
                        <apex:inputField value="{!Opportunity.Terms_and_Conditions_resolved__c}" label="Terms and Conditions resolved"/>
                        <apex:inputField value="{!Opportunity.Site_Construction_Plans_completed__c}" label="Site Construction Plans Completed" style="width:250px;height:100px;"/>
                    </apex:pageBlockSection>
                        
                </apex:pageBlockSection>
                
                   
                
                <apex:pageBlockSection title="Opportunity OMNI" columns="2">
                
                       <!-- First Column Section -->
                      <apex:pageBlockSection columns="1">
                          <apex:inputField value="{!Opportunity.Approval_Notes__c}" label="Approval Notes" style="width:250px;height:100px;"/>
                          <apex:inputField value="{!Opportunity.OMNI_Adjustment__c}" label="OMNI Adjustment"/>
                          <apex:inputField value="{!Opportunity.OMNI_Manager_Probability__c}" label="OMNI Manager Probability"/>
                          <apex:inputField value="{!Opportunity.OMNI_Quote_Number__c}" label="OMNI Quote Number"/>
                          <apex:inputField value="{!Opportunity.Original_Quote__c}" label="Original Quote"/>
                          <apex:inputField value="{!Opportunity.Discount__c}" label="Discount"/>
                          <apex:inputField value="{!Opportunity.Replaced_Quote__c}" label="Replaced Quote #"/>
                          <apex:inputField value="{!Opportunity.Prebook__c}" label="Prebook"/>
                          <apex:inputField value="{!Opportunity.SO_Num__c}" label="SO Num  "/>
                      </apex:pageBlockSection>
                    
                       <!-- Second Column Section -->
                        <apex:pageBlockSection columns="1">
                            <apex:inputField value="{!Opportunity.OMNI_Contingencies__c}" label="OMNI Contingencies"/>
                            <apex:inputField value="{!Opportunity.Multimode__c}" label="Multimode"/>
                            <apex:inputField value="{!Opportunity.Replacement__c}" label="Replacement"/>
                            <apex:inputField value="{!Opportunity.VMS_Installed__c}" label="VMS Installed"/>
                            <apex:inputField value="{!Opportunity.Forecast_As__c}" label="Forecast As"/>   
                            <apex:inputField value="{!Opportunity.SLSA_SSA__c}" label="SLSA / SSA"/>
                            <apex:inputField value="{!Opportunity.SRS_SBRT_Distributor__c}" label="SRS / SBRT Distributor"/>
                            <apex:inputField value="{!Opportunity.Status__c}" id="status__c" label="OMNI Quote Status"/>
                            <apex:inputField value="{!Opportunity.OMNI_Probability__c}" id="omniProbability" label="OMNI Probability"/>
                      </apex:pageBlockSection>
                </apex:pageBlockSection>
                <apex:pageBlockButtons >
                    <apex:commandButton value="Save" onclick="return confirmCloseDate();" action="{!OppSave}" style="width:100px;height:20px;" />
                    <apex:commandButton value="Cancel" action="{!cancel}" style="width:100px;height:20px;"/>
                </apex:pageBlockButtons>
    
                
            </apex:pageBlock>
       
        <apex:actionFunction name="addOrRemoveRow" action="{!addRemoveInstalledProduct}" rerender="nonVarianInstalledProducts" immediate="true">
            <apex:param name="addremoveFlag" value=""/>
            <apex:param name="rowNumber" value=""/>
            <apex:param name="recordTypeIdValue" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="myFun" action="{!SaveandClose}">
            <apex:param name="a" value="" assignTo="{!acid}"/>
        </apex:actionFunction>
        </apex:form>
    </apex:outputPanel>
    <!-- below component rendered only in lightning -->
    <apex:outputPanel rendered="{!isLightning}">
    <apex:includeLightning />
    <div id="lightning" />
    <script>       
        if(isMobile.any){ 
            var vOpp = '{!Opportunity.Id}';
            SfdcApp.projectOneNavigator.fireContainerEvent('force:navigateToComponent', 
                                                           {componentDef : "c:CreateQuickOpportunity", 
                                                            componentAttributes: {
                                                                recordId: '{!Opportunity.Id}', 
                                                                accountId: '{!$CurrentPage.parameters.accId}'
                                                            }
                                                           });
            
        }else{
            console.log(' NOT MOBILE');
            $Lightning.use("c:LightningOutApp", function() {
              $Lightning.createComponent("c:CreateOpportunityComponent",
              { "recordId" : '{!Opportunity.Id}',
                "accountId" : '{!$CurrentPage.parameters.accId}'},
              "lightning",
              function(cmp) {
                // do some stuff
              });
            });
        }
        
    </script>
    </apex:outputPanel>
    
</apex:page>