<apex:page controller="OpportunityPCSN" showHeader="false" id="apexPage">
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <script type="text/javascript">
       var j$ = jQuery.noConflict();
       j$(document).ready(function() {
       
           var selectedRecords = "{!$CurrentPage.parameters.selectedIPValues}";
           if(selectedRecords!=''){
               var selectedRecordArray = selectedRecords.split(',');
               
               j$.each(selectedRecordArray, function(index,value) {
                    if(j$("#" + value).length != 0){
                        j$("#"+value).prop( "checked", true );
                    }
                });
           }
           j$('[id$=sendRecordsLink]').click(function(){
               var selectedValues = [];
               j$.each(j$("input[name='selectRecord']:checked"), function(){            
                   selectedValues.push(j$(this).attr('id'));
               });
               console.log(JSON.stringify(selectedValues));
               top.window.opener.setSelectedValuesOnOpp(selectedValues, "{!$CurrentPage.parameters.productFamily}");
               window.close();
           });
       });
    </script>
    <apex:form Id="pageForm" id="apexForm">
        <apex:pageBlock Id="apexPageBlock" Title="{!if($CurrentPage.parameters.objectName == 'SVMXC__Installed_Product__c','Installed Products',
                                if($CurrentPage.parameters.objectName == 'SC', 'Service Contracts' ,'Non Varian Installed Products') )}" 
                        mode="edit" tabStyle="Opportunity">
            
            <apex:pageBlockTable Id="ipList" value="{!installedProducts}" var="replacementProduct" rendered="{!$CurrentPage.parameters.objectName == 'SVMXC__Installed_Product__c'}">
                
                <apex:column headerValue="" style="white-space: nowrap;">
                    <input id="{!replacementProduct['Name']}" name="selectRecord" type="checkbox"/>
                </apex:column>
                <apex:column headerValue="Installed Product Id">
                    <apex:outputText value="{!replacementProduct['Name']}"/>
                </apex:column>
                <apex:column headerValue="Product Name">
                    <apex:outputText value="{!replacementProduct['SVMXC__Product__r.name']}"/>
                </apex:column>
                <apex:column headerValue="Product Version Build">
                    <apex:outputText value="{!replacementProduct['Product_Version_Build__r.Name']}"/>
                </apex:column>
                <apex:column headerValue="Serial Number">
                    <apex:outputText value="{!replacementProduct['SVMXC__Serial_Lot_Number__c']}"/>
                </apex:column>
                <apex:column headerValue="Service Contract">
                    <apex:outputText value="{!replacementProduct['SVMXC__Service_Contract__r.Name']}"/>
                </apex:column>
                <apex:column headerValue="Contract Start Date">
                    <apex:outputText value="{0,date,MM/dd/yy}">
                        <apex:param value="{!replacementProduct['SVMXC__Service_Contract__r.SVMXC__Start_Date__c']}" />
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Contract End Date">
                    <apex:outputText value="{0,date,MM/dd/yy}">
                        <apex:param value="{!replacementProduct['SVMXC__Service_Contract__r.SVMXC__End_Date__c']}" />
                    </apex:outputText>
                </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable Id="nonVarianIPList" value="{!installedProducts}" var="replacementProduct" rendered="{!$CurrentPage.parameters.objectName == 'Competitor__c'}">
                
                <apex:column headerValue="" style="white-space: nowrap;">
                    <input id="{!replacementProduct['Name']}" name="selectRecord" type="checkbox"/>
                </apex:column>
                <apex:column headerValue="Non Varian Product Id">
                    <apex:outputText value="{!replacementProduct['Name']}"/>
                </apex:column>
                <apex:column headerValue="Prodct Type">
                    <apex:outputText value="{!replacementProduct['RecordType.Description']}"/>
                </apex:column>
                <apex:column headerValue="Vendor">
                    <apex:outputText value="{!replacementProduct['Vendor__c']}"/>
                </apex:column>
                <apex:column headerValue="Product Name">
                    <apex:outputText value="{!replacementProduct['Model__c']}"/>
                </apex:column>
                <apex:column headerValue="Vault identifier">
                    <apex:outputText value="{!replacementProduct['Vault_identifier__c']}"/>
                </apex:column>
                <apex:column headerValue="Year Installed">
                    <apex:outputText value="{!replacementProduct['Year_Installed__c']}"/>
                </apex:column>
                <apex:column headerValue="Service Provider">
                    <apex:outputText value="{!replacementProduct['Service_Provider__c']}"/>
                </apex:column>
                <apex:column headerValue="Status">
                    <apex:outputText value="{!replacementProduct['Status__c']}"/>
                </apex:column>
                <apex:column headerValue="Isotope Source">
                    <apex:outputText value="{!replacementProduct['Isotope_Source__c']}"/>
                </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockTable id="serviceContractTable" value="{!installedProducts}" var="contract" 
                                 rendered="{!$CurrentPage.parameters.objectName == 'SC'}">
                <apex:column headerValue="" style="white-space: nowrap;">
                    <input id="{!contract['Name']}" name="selectRecord" type="checkbox"/>
                </apex:column>
                <apex:column headerValue="Name" style="white-space: nowrap;">
                	<apex:outputText value="{!contract['Name']}"/>
                </apex:column>
                <apex:column headerValue="Prodct Type">
                    <apex:outputText value="{!contract['RecordType.Description']}"/>
                </apex:column>
                <apex:column headerValue="Vendor">
                    <apex:outputText value="{!contract['Vendor__c']}"/>
                </apex:column>
                <apex:column headerValue="Service Provider">
                    <apex:outputText value="{!contract['Service_Provider__c']}"/>
                </apex:column>
                <apex:column headerValue="Status">
                    <apex:outputText value="{!contract['Status__c']}"/>
                </apex:column>
            </apex:pageBlockTable>
            
            <apex:pageBlockButtons id="apexPageBlockButtons">
                <apex:outputLink value="javascript:void(0);" id="sendRecordsLink">Send Selected Records To Opportunity</apex:outputLink>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>