<apex:page standardController="SVMXC__Service_Order__c">

    <apex:includeLightning />
    <div id="lightning" />
    <script>
        $Lightning.use("c:SalesOrderItemDeliveryApp", function() {
          $Lightning.createComponent("c:SalesOrderItemDelivery",
          {recordId : '{!SVMXC__Service_Order__c.id}'},
          "lightning",
          function(cmp) {
            // do some stuff
          });
        });
    </script>   
</apex:page>