<apex:page id="pg" standardController="Sales_Order__c" lightningStylesheets="true">
    
    <apex:slds />
    
    <style type="text/css">
        #header{
        background-color:#f4f6fe;
        }
        
    </style>
    
    <script>
    
    var isIE = /Trident|MSIE|Edge/.test(navigator.userAgent);
    
    var fullasShipped = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Generate-AS-Shipped?sales_order={!Sales_Order__c.Name}'
    var dashHome = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Home'
    var oktaHome = 'https://varian.okta.com/home/template_saml_2_0/0oak4gtlipJEUVDTTFJR/3079'
    
        function openPage(pageToOpen)
        {     
            if(pageToOpen == 'asShipped')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = fullasShipped;},5000);
                        }
                }

            
            if(pageToOpen == 'dashHome')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = dashHome;},5000);
                        }
                    }  
        } 
    </script>
   <div class="slds-scope">
       
        <apex:form >
            <div class="slds-media__body">
            <div class="slds-box" id="header">
             <h1 class="slds-page-header__title" title="SAP Cumulus Material Traceability Reports">SAP Cumulus Material Traceability Reports</h1>
                <p><strong>Use Chrome or Firefox Only.</strong>  &nbsp; Launches SAP Cumulus Application with Details Related to this Sales Order. &nbsp; Options Rendered Depend on Master Data for this Record</p>
             </div>
            
            <div class="slds-box">
                <apex:commandButton styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open Material Traceability Dashboard" value="SAP Traceability Home" onclick="openPage('dashHome'); return false;" />
                <apex:commandButton rendered="{!Sales_Order__c.Name != null}" styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open As-Shipped Report for {!Sales_Order__c.Name}" value="As-Shipped: {!Sales_Order__c.Name}" onclick="openPage('asShipped'); return false;" />
                </div>
            </div>
         </apex:form>
                      
    </div>  
                                                                                                                                                                                         
</apex:page>