<apex:page id="pg" standardController="SVMXC__Installed_Product__c" lightningStylesheets="true">
    
    <apex:slds />
    
    <style type="text/css">
        #header{
        background-color:#f4f6fe;
        }
        
    </style>
    
    <script>
    
    var isIE = /Trident|MSIE|Edge/.test(navigator.userAgent);
    
    var fullasBuiltEquip = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Generate-AS-Built?var=0&equipment_number={!SVMXC__Installed_Product__c.PCSN__c}'
    var fullasShipped = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Generate-AS-Shipped?sales_order={!SVMXC__Installed_Product__c.Sales_Order__r.Name}'
    //Not yet required// var fullMatSerTrace = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Generate-AS-Built?var=0&material={!SVMXC__Installed_Product__c.Sales_OrderItem__r.ERP_Material_Number__c}&serial={!SVMXC__Installed_Product__c.SVMXC__Serial_Lot_Number__c}'
    //Not yet required// var fullMatBatchTrace = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Generate-AS-Built?var=0&material={!SVMXC__Installed_Product__c.Sales_OrderItem__r.ERP_Material_Number__c}&batch={!SVMXC__Installed_Product__c.SVMXC__Serial_Lot_Number__c}'
    var dashHome = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Home'
    var oktaHome = 'https://varian.okta.com/home/template_saml_2_0/0oak4gtlipJEUVDTTFJR/3079'
    
        function openPage(pageToOpen)
        {
            if(pageToOpen == 'asBuilt')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = fullasBuiltEquip;},5000);
                        }
                }
            
            /* Commenting out.  IE clear variable value when domain changes.  Can open as blank, reroute x2, but then setTimeout not functioning
            if(pageToOpen == 'asShipped')
                {
                var fullasShipped = 'https://wd.varian.com/sap/bc/ui5_ui5/sap/zmat_trace/#/Generate-AS-Shipped?sales_order={!SVMXC__Installed_Product__c.Sales_Order__r.Name}'
                var win = window.open('','_blank');
                win.location = oktaHome;
                console.log("window:"+win);
                    if(win.closed){
                        console.log("window closed:"+win);
                        }else{
                            console.log("window open:"+win);
                            }
                win.focus();
                console.log("window:"+win);    
                setTimeout(function(){win.location = fullasShipped;},5000);
                }*/
            
            if(pageToOpen == 'asShipped')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = fullasShipped;},5000);
                        }
                }
            
            /* Not required yet per RLin
            if(pageToOpen == 'traceser')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = fullMatSerTrace;},5000);
                        }
                }
            
            if(pageToOpen == 'tracebatch')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = fullMatBatchTrace;},5000);
                        }
                }
                */
            
            if(pageToOpen == 'dashHome')
                {
                if (isIE)
                    {
                    alert("Please use the Chrome browser for this application");
                    }else{
                        var win = window.open(oktaHome, '_blank');
                        win.blur();
                        setTimeout(function(){win.location = dashHome;},5000);
                        }
                    }  
        } 
    </script>
   <div class="slds-scope">
       
        <apex:form >
            <div class="slds-media__body">
            <div class="slds-box" id="header">
             <h1 class="slds-page-header__title" title="SAP Cumulus Material Traceability Reports">SAP Cumulus Material Traceability Reports</h1>
                <p><strong>Use Chrome or Firefox Only.</strong>  &nbsp; Launches SAP Cumulus Application with Details Related to this Installed Product. &nbsp; Options Rendered Depend on Master Data for this Record</p>
             </div>
            
            <div class="slds-box">
                <apex:commandButton styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open Material Traceability Dashboard" value="SAP Traceability Home" onclick="openPage('dashHome'); return false;" />
                <apex:commandButton rendered="{!SVMXC__Installed_Product__c.Sales_Order__c != null}" styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open As-Shipped Report for {!SVMXC__Installed_Product__c.Sales_Order__r.Name}" value="As-Shipped: {!SVMXC__Installed_Product__c.Sales_Order__r.Name}" onclick="openPage('asShipped'); return false;" />
                <apex:commandButton rendered="{!SVMXC__Installed_Product__c.PCSN__c != null}" styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open As-Built Report for {!SVMXC__Installed_Product__c.PCSN__c}" value="As-Built: {!SVMXC__Installed_Product__c.PCSN__c}" onclick="openPage('asBuilt'); return false;" />
                <!-- Not required yet <apex:commandButton rendered="{!SVMXC__Installed_Product__c.Sales_OrderItem__c != null}" styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open MaterialSerial Trace for {!SVMXC__Installed_Product__c.Sales_OrderItem__r.ERP_Material_Number__c}, {!SVMXC__Installed_Product__c.SVMXC__Serial_Lot_Number__c}" value="Mat/Serial: {!SVMXC__Installed_Product__c.Sales_OrderItem__r.ERP_Material_Number__c}, {!SVMXC__Installed_Product__c.SVMXC__Serial_Lot_Number__c}" onclick="openPage('traceser'); return false;" />-->             
                <!-- Not required yet <apex:commandButton rendered="{!SVMXC__Installed_Product__c.Sales_OrderItem__c != null}" styleClass="slds-button slds-button_brand slds-m-around_xx-small" title="Open MaterialBatch Trace for {!SVMXC__Installed_Product__c.Sales_OrderItem__r.ERP_Material_Number__c} {!SVMXC__Installed_Product__c.SVMXC__Serial_Lot_Number__c}" value="Mat/Batch: {!SVMXC__Installed_Product__c.Sales_OrderItem__r.ERP_Material_Number__c}, {!SVMXC__Installed_Product__c.SVMXC__Serial_Lot_Number__c}" onclick="openPage('tracebatch'); return false;" />-->            
                </div>
            <!-- <apex:canvasApp applicationName="SAP_Material_Traceability" scrolling="yes" height="500px" width="100%" Parameters="{'param1':'{!SVMXC__Installed_Product__c.PCSN__c}'}" /> -->
            </div>
         </apex:form>
                      
    </div>  
                                                                                                                                                                                         
</apex:page>