<apex:page controller="SelectSpeakerControler">
    <apex:form >
        <apex:pageBlock title="Speakers">
            <c:MultiselectPicklist leftLabel="Available Speakers"
                leftOption="{!allSpeakers}"
                rightLabel="Selected Speakers"
                rightOption="{!selectedSpeakers}"
                size="14"
                width="150px"/>
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <apex:outputText >{!message}</apex:outputText>
</apex:page>