<apex:page controller="CreateGroupController">
    <apex:form >
            <apex:messages />

            <div class="bPageTitle">
                <div class="ptBody">
                    <div class="content">
                        <img src="/s.gif" alt="Home" class="pageTitleIcon" title="Home" /><h1 class="noSecondHeader pageType">Create New Group</h1>
                        <div class="blank">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="ptBreadcrumb"></div>

            <div class="bPageBlock brandSecondaryBrd bEditBlock secondaryPalette">
                <div class="pbHeader">
                    <table>
                        <tbody>
                            <tr>
                                <td class="pbTitle">&nbsp;</td>
                                <td class="pbButtonb">
                                    <apex:commandButton value="Previous" action="{!previous}"/>  
                                    <apex:commandButton value="Cancel" action="{!cancel}"/>  
                                    <apex:commandButton value="Save" action="{!save}"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pbBody">
                    <div class="pbSubblock">
                        <div class="pbSubheader brandTertiaryBgr tertiaryPalette"><h3>Step 3. Select and Sort Group Members</h3></div>
                        <br />
                        <br />                      
                        <div class="pbSubbody">
                        <!--
                            <c:MultiselectPicklist leftLabel="Available Contacts"
                                leftOption="{!allContacts}"
                                rightLabel="Selected Contacts"
                                rightOption="{!selectedContacts}"
                                size="14"
                                width="150px" id="userlist"/>
                        -->
                            <c:MultiSelectComponent leftLabel="Available Members" rightLabel="Selected Members" size="500" width="145px" height="150px" leftOptions="{!allMembers}" rightOptions="{!selectedMembers}"/>
                        </div>
                    </div>
                </div>
            </div>
    </apex:form>
    <apex:outputText >{!message}</apex:outputText>
</apex:page>