<apex:page standardcontroller="SVMXC__Site__c" extensions="SR_AvailableProductStock">
 <apex:pageBlock >
 <apex:pageBlockTable value="{!objProdStk}" var="k">
 <apex:column headerValue="Product" >{!k.SVMXC__Product__r.name}</apex:column>
 <apex:column headerValue="Status" >{!k.SVMXC__Status__c}</apex:column>
 <apex:column headerValue="Available Quantity" >{!k.SVMXC__Available_Qty__c}</apex:column>
 <apex:column headerValue="Last Modified by" >{!k.LastModifiedBy.Name}</apex:column>
 </apex:pageBlockTable> </apex:pageBlock>
</apex:page>