<apex:page standardController="Case" extensions="SR_Case_Customer_Values" showChat="false" sidebar="false" lightningStylesheets="true">
    <apex:includeScript value="/support/console/32.0/integration.js"/>
    <script>
        function openwindow()
        {
            if(sforce.console.isInConsole())
            {
                sforce.console.getEnclosingPrimaryTabId(function (result)
                {        
                    //alert('tabid -- ' + result.id);
                    //alert('tab label -- ' + result.label);
                    window.open("/apex/SR_Case_Edit_Customer_Values_PopUp_Page?id={!current_case.id}&consoleSign=true&tabid=" + result.id, "myWindow",  "width=900,height=300,top=200,left=400,right=400,resizable=0,location=no,scrollbars=no");
                });
            }
            else
            {
                window.open("/apex/SR_Case_Edit_Customer_Values_PopUp_Page?id={!current_case.id}&consoleSign=false", "myWindow",  "width=900,height=300,top=200,left=400,right=400,resizable=0,location=no,scrollbars=no");
            }
        };


        function postvalchk(tabid, console){
            if(console == 'true')
            {
                setTimeout( function () 
                {
                    //alert('settimeout');
                    sforce.console.openPrimaryTab(tabid, '/{!current_case.id}', true, 
                        '{!current_case.CaseNumber}');
                    sforce.console.getEnclosingPrimaryTabId(function (result)
                    {
                        //alert('inside first method');
                        sforce.console.refreshPrimaryTabById(result.id, true);
                        return false;
                    });

                },1000);
            }
            else
            {
                window.parent.location.href = '/' + tabid;
            }
        };
    </script>

    <style>
        .buttonStyle {  text-align:center; align:center; color:#FFFFFF !important; background:#245871 !important;  }
    </style>

    <style type="text/css">
        body .individualPalette .secondaryPalette.bPageBlock
        {
            background-color:#FFFFFF;
            border-color: #FFFFFF;
        }
        .label
        {
            font-size: smaller;
        }
    </style>
    <apex:form >
        <apex:pagemessages />
        <apex:pageBlock >
            <apex:commandButton onclick="openwindow();" 
                                value="Modify Date/Time(s)" 
                                style="align:center;" styleClass="buttonStyle"/>
            <apex:pageblocksection columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{! $label.SR_Customer_Malfunction_Start_Date_Time}" style="font-weight:bold; ;padding-right:3%;"/>
                    <apex:outputtext value="{!current_case.Customer_Malfunction_Start_Date_time_Str__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{! $label.SR_Customer_Preferred_Start_Date_Time}" style="font-weight:bold; padding-right:3%;"/>
                    <apex:outputtext value="{! current_case.Customer_Requested_Start_Date_Time__c}"/>
                </apex:pageBlockSectionItem>
                <!--<apex:pageBlockSectionItem>
                    <apex:outputlabel value="{! $label.SR_Customer_Malfunction_End_Date_Time}" style="font-weight:bold; padding-right:3%;"/>
                    <apex:outputtext value="{!current_case.Customer_Malfunction_End_Date_Time_str__c}"/>
                </apex:pageBlockSectionItem>-->
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="{! $label.SR_Customer_Preferred_End_Date_Time}" style="font-weight:bold; padding-right:3%;"/>
                	<apex:outputtext value="{!current_case.Customer_Requested_End_Date_Time__c}"/>
                </apex:pageBlockSectionItem>
            </apex:pageblocksection>
        </apex:pageBlock>
    </apex:form>
</apex:page>