<apex:page controller="SR_CreateArticleFeedback_class">


        <style type="text/css">

        .popup
        {
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 300px;
            margin-left: -150px;
            top:80px;
        }

        .popupBg
        {
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 70);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
    
    
<apex:form id="form1">
<apex:pageBlock tabstyle="Case" title="Create feedback">
<apex:pageblockSection title="Please fill feedback comments">

<apex:outputfield value="{!varArticle.ArticleNumber }"/>
<apex:outputText ></apex:outputText>
<apex:inputTextarea label="Comment"  value="{!comment}" rows="10" cols="40"/>

</apex:pageblockSection>
<apex:pageblockButtons location="bottom" >
<apex:outputPanel id="popup">
        <apex:outputPanel styleClass="popupBg" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="popup" layout="block" rendered="{!displayPopUp}">
                Your feedback has been submitted.Click ok to return to article.
                <table>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><apex:commandButton value="OK" action="{!closePopup}" rerender="popup" /></td>
                </tr>
                </table>
            </apex:outputPanel>
        </apex:outputPanel>
<apex:commandButton value="Save" action="{!doSave}" reRender="form1"/>
</apex:pageblockButtons>

</apex:pageBlock>


</apex:form>
  
</apex:page>