<apex:page controller="SR_CreatePWO" action="{!OnLoad}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style type="text/css">
        .custPopup{
             
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 30%;
            padding:10px;
            position: absolute;
            /* These are the 3 css properties you will need to change so the popup 
            displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can add 
            the height property for a fixed size pop up if you want.*/
            width:500px;
            margin-left: -50px;
            bottom:700px;
            height:60px;
        }
        
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }
       

    </style>




<apex:form id="frm">


 <apex:outputPanel id="LocationMissing" style="height:30px;" rendered="{!LocationMissing}">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!LocationMissing}" />
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!LocationMissing}">  
                <apex:pageblock >    
                   <center>
                       <B>
                           Location information is incomplete. Please go back to the Case :&nbsp; <apex:outputlink value="/{!objCS.id}">{!objCS.CaseNumber}</apex:outputlink> and click on <b>'Update Plan'</b> to update the information.
                       </b>
                   </center>
                   <apex:actionRegion >
                         <center><apex:commandButton value="Ok" action="{!SetOk}" /></center>
                    </apex:actionRegion>       
                   <!--/apex:pageblockButtons-->
            </apex:pageblock>
        </apex:outputPanel>
     </apex:outputPanel>

     
    <apex:outputPanel id="pnl" rendered="{!if(LocationMissing,false,true)}">
        <apex:pagemessages id="myErrorMessage"/>
               <apex:pageBlock title="Select user and create planning work order" id="cs" mode="edit" >
                <apex:pageBlockSection title="Fill Details" columns="1">
                     <!-- JW@ff 9-18-15 DE5778 <apex:inputField value="{!woObj.Service_Team__c}" /> -->
                     <apex:inputField value="{!woObj.ownerid}" label="User"/> 
                     <apex:inputField value="{!objcs.Accountid}"/>
                     <apex:inputField value="{!objcs.ProductSystem__c}"/> <!-- DE3449, Updated from SVMXC__Top_Level__c to ProductSystem__c-->
                     <apex:inputField value="{!woObj.SVMXC__Preferred_Start_Time__c}" label="Start Date" required="true"/>
                     <apex:inputField value="{!woObj.SVMXC__Preferred_End_Time__c}" label="End date" required="true"/>
                     <!-- cdelfattore@forefront  comment out the below line because it appers twice on the page -->
                     <!-- <apex:inputField value="{!woObj.Service_Team__c}" label="Service Team"/> --> 
                    
                    <!-- DE7207 : Use Internal Comments instead of Subject -->
                    <!--<apex:inputTextarea label="Subject" value="{!objCS.Subject}" style="width: 300px; height: 100px;"/> label="Internal Comments" -->
                    <apex:inputField value="{!woObj.Internal_Comment__c}" required="true" style="width: 300px; height: 100px;"/>

                     <apex:inputField value="{!woObj.Installation_Type__c}" required="true"/> 
                           
                 </apex:pageBlockSection>
                 <apex:pageBlockButtons >
                    <apex:commandButton value="Assign to Installation Manager " action="{!createWO}" status="processstatus" reRender="pnl"/>
                    <apex:commandButton value="Cancel" action="{!goCancel}" immediate="true" />
                    <apex:actionStatus id="processstatus" style="align:center;" >
                        <apex:facet name="start" >
                            <img src="/img/loading.gif"  height="20" width="20" />                       
                        </apex:facet>
                    </apex:actionStatus>
                </apex:pageBlockButtons>    
            </apex:pageBlock>
            </apex:outputPanel>
    </apex:form>
</apex:page>