<apex:page standardController="SVMXC__Site__c" extensions="SR_DisplayProductTreeViewONLocation" sidebar="false" showHeader="false"  >
<apex:form >

<!--<apex:pageblock >-->
<div style="width:1450px">
       <!-- <Apex:pageBlockSection title="Filter Criteria"  >-->
        <apex:outputPanel >
        <apex:outputText value="Product Type" style="font-weight:bold"/>
        &nbsp;&nbsp;&nbsp;
                   <apex:selectList value="{!picklistvalue}" size="1" label="Product Type">
            <apex:selectOptions value="{!picklistoptions}"/>
        </apex:selectList>
        &nbsp;&nbsp;&nbsp;
    <apex:commandButton value="Go" action="{!reloadIframe}" reRender="theFrame"/>
    </apex:outputPanel>
     
        <!--</Apex:pageBlockSection>-->
        <br> </br>
       

<apex:outputPanel id="theFrame">
    <apex:iframe src="{!iframeSource}" scrolling="false" id="iframe"  width="1450px"/>

</apex:outputPanel>
</div>
 <!--</apex:pageblock>-->
</apex:form>
</apex:page>