<apex:page controller="SR_EmailController" sidebar="false" showHeader="false" >
  	<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />
    <style>
        .displayBlock {
            display:block;
        }
        .ui-autocomplete-loading { 
            background: white url(/img/loading32.gif) right center no-repeat;
            background-size:15px 15px; 
        }
        .placeHolder {
            font-style: italic;
        }
        
    </style>
    <style type="text/css">
    .form-style-1 {
        margin:10px auto;
        max-width: 85%;
        //padding: 20px 12px 10px 20px;
        font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    .form-style-1 li {
        padding: 0;
        display: block;
        list-style: none;
        margin: 3px 0 0px 0px;;
    }
    .form-style-1 label{
        margin:0 0 3px 0;
        padding:0px;
        display:block;
        font-weight: bold;
    }
    .form-style-1 input[type=text], 
    .form-style-1 input[type=date],
    .form-style-1 input[type=datetime],
    .form-style-1 input[type=number],
    .form-style-1 input[type=search],
    .form-style-1 input[type=time],
    .form-style-1 input[type=url],
    .form-style-1 input[type=email],
    textarea, 
    select{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border:1px solid #BEBEBE;
        padding: 7px;
        margin:0px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;  
    }
    .form-style-1 input[type=text]:focus, 
    .form-style-1 input[type=date]:focus,
    .form-style-1 input[type=datetime]:focus,
    .form-style-1 input[type=number]:focus,
    .form-style-1 input[type=search]:focus,
    .form-style-1 input[type=time]:focus,
    .form-style-1 input[type=url]:focus,
    .form-style-1 input[type=email]:focus,
    .form-style-1 textarea:focus, 
    .form-style-1 select:focus{
        -moz-box-shadow: 0 0 8px #88D5E9;
        -webkit-box-shadow: 0 0 8px #88D5E9;
        box-shadow: 0 0 8px #88D5E9;
        border: 1px solid #88D5E9;
    }
    .form-style-1 .field-divided{
        width: 30%;
    }
    
    .form-style-1 .field-long{
        width: 100%;
    }
    .form-style-1 .field-select{
        width: 100%;
    }
    .form-style-1 .field-textarea{
        height: 300px;
    }
    .form-style-1 input[type=submit], .form-style-1 input[type=button]{
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }
    .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
        background: #4691A4;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
    }
    .form-style-1 .required{
        color:red;
    }
    
    .newOne{
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }
    .newOne:hover{
        background: #4691A4;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
    }    
        
    </style>
  
    <apex:form id="autoCompleteForm" >
        
        <ul class="form-style-1">
      	<li>
            <label id="msg" class="required"></label>
        </li>
        <li>
            <label>To<span class="required">*</span></label>
            <apex:outputPanel >
                     <apex:inputTextarea id="AccountTextBox" value="{!searchTerm}" styleClass="placeHolder" rows="1" styleclass="field-long"/>
                     <apex:inputHidden id="searchAccountId" value="{!selectedContacts}" /><br/>
            </apex:outputPanel>
            <apex:outputPanel id="selectedContatsNew">
                     
            </apex:outputPanel>
        </li>
         
        <li>
            <label>CC</label>
            <apex:inputTextarea value="{!CCAddress}" styleclass="field-long "/>
        </li>    
        <li>
            <label>Subject</label>
            <apex:inputTextarea value="{!Subject}" styleclass="field-long"/>
        </li>    
        <li>
            <label>Body</label>
            <apex:inputTextarea value="{!Body}" styleclass="field-long field-textarea"/>
        </li>    
     
        <li>
             <label>Attachments</label>
             <apex:repeat value="{!attchmentWrapperList}" var="aw"> 
                     <li>
                         <apex:inputCheckbox value="{!aw.check}"/> &nbsp;
                         <apex:commandLink value="{!aw.a.Name}" target="_blank" action="/{!aw.a.Id}" />  
                 	</li>
             </apex:repeat>
        </li>
            
        <li>
             <label>Select File</label>
             <apex:inputFile value="{!extraAw.a.body}" filename="{!extraAw.a.name}" />
        </li>
            <br/>       
        <li>
           <apex:commandLink styleClass="newOne" target="_parent" value="Send" action="{!sendEmailToUser}" onclick="return validate();"/> 
            &nbsp;&nbsp;
            <apex:commandLink styleClass="newOne" target="_parent" value="Cancel" action="/{!quoteRec.Id}"/>             

        </li>
	</ul>
    </apex:form>
    <script type="text/javascript">
    	function descardTo(val){
            $('[id$='+val+']').remove();
            $('[id$='+val+'_atag]').remove();
            var old = $('[id$=searchAccountId]').val();
            old = old.replace(val+';','');
            $('[id$=searchAccountId]').val(old);
    	}
    	
    	function empty(str){
            return !str || !/[^\s]+/.test(str);
        }
		
    	function validate(){
            var val = $('[id$=searchAccountId]').val();
            if(empty(val)){
            	alert('Please select atleast one "To Contact"');
                return false;
            }
            return true;
        }
    	
        var PLACEHOLDER = 'Search Here'; 
        var AccountObjects;
        var queryTerm;
        $('[id$=AccountTextBox]').autocomplete({
            minLength: 2,
            source: function(request, response) {
                        queryTerm = request.term;
                        SR_EmailController.searchContact(request.term, function(result, event){
                            if(event.type == 'exception') {
                                  alert(event.message);
                            } else {
                                 AccountObjects = result;
                                 response(AccountObjects );
                            }
                        });
                   },
            focus: function( event, ui ) {
                        $('[id$=AccountTextBox]').val('');
                        return false;
                    },
            select: function( event, ui ) {
                		var contactIds = $('[id$=searchAccountId]').val();
                		$('[id$=searchAccountId]').val(contactIds+ui.item.Id+';' );
                		var innerTag = "<a id= '"+ui.item.Id+"' style='color:red;cursor:pointer' onclick = 'descardTo(\""+ui.item.Id+"\")' > X </a>";
                		$('[id$=selectedContatsNew]').append("<a id= '"+ui.item.Id+"_atag' ><u><b>"+ui.item.Name+"</b></u>;</a>" +innerTag);
                        return false;
                    },
         })
         .data( "autocomplete" )._renderItem = function( ul, item ) {
            var entry = "<a>" + item.Name;
            entry = entry + "</a>";
            entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( entry )
                .appendTo( ul );
        };
            
        // Add or remove placeholder values
        $('[id$=AccountTextBox]').val(PLACEHOLDER);
        $('[id$=AccountTextBox]').on("focus",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === PLACEHOLDER ){
                $tgt.val('');
                $tgt.removeClass('placeHolder');
            }
        });
        $('[id$=AccountTextBox]').on( "blur",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === '' ){
                $tgt.val(PLACEHOLDER);
                $tgt.addClass('placeHolder');
            }
        });
    
    	$('[id$=AccountTextBox]').on( "change",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === '' ){
                $tgt.val(PLACEHOLDER);
                $tgt.addClass('placeHolder');
            }
        });
    </script>
    <script> 
    function submitOrderFun(){
        window.close();
        top.window.opener.callSubmitOrder();
    }
    function submitOrderCancelFun(){
        window.close();
    }  
    function funatt(id,inputid)
    {
         document.getElementById(inputid).value = id;
          return true;
    }     
 </script>
</apex:page>