<apex:page standardController="Case" extensions="SRCaseOverrideonProduct" showHeader="false" >
<apex:includeScript value="{!URLFOR($Resource.DynaTree, 'jquery/jquery.js' )}" />
        <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'jquery/jquery-ui.custom.js' )}" />
        <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'jquery/jquery.cookie.js' )}" />
        <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'src/jquery.dynatree.js' )}" />    
        <!--<apex:stylesheet value="{!URLFOR($Resource.DynaTree, 'src/skin/skin-vista/ui.dynatree.css')}" />-->
        <apex:stylesheet value="{!URLFOR($Resource.DynaTree, 'src/skin-vista/ui.dynatree.css')}" />
 
<style>
  .headerRow .TableTitle {
    background-color: skyblue !important;
    background-image: none !important; 
    color: black !important; 
    overflow:auto;
     
  }
 
  ul.dynatree-container span.td {
     
     display:inline-block;
     
      overflow: hidden;
     background-color: #ffffff;
   

  }
   a:visited {
    color: #ffffff;
}   

  .c1
  {
     position: static;
     color: black;
  }
  .c2
  { position: absolute;
     color: black;
     
     display : block
    
  }
  .c3
  { position: absolute;
   color: black;
     left : 440px;
     width: 100px;
     word-wrap: break-word;
     display : block
  }
  .c4
  { position: absolute;
     color: black;
     left: 650px;
     width: 100px;
     display : block
  }
  .c5
  { 
    color: black;
     left: 800px;
     width: 250px;
     display : block;
      position: absolute 
}
    .c6
  { 
    color: black;
     left: 890px;
     width: 150px;
     display : block;
      position: absolute 
}
  
  ul.dynatree-container span.td:nth-child(1) {
     position: static;
     color: black;
       
 
  }
  ul.dynatree-container span.td:nth-child(2) {
     color: black;
     
      
 
  }
  ul.dynatree-container span.td:nth-child(3) {
     color: black;
     left : 540px;
     width: 100px;
    word-wrap: break-word;
    
  }
  ul.dynatree-container span.td:nth-child(4) {
     color: black;
     left: 650;
     width: 100px;
    
  }
ul.dynatree-container span.td:nth-child(5) {
     color: black;
     left: 800px;
     width: 250px;
   
 
   
  }
     
ul.dynatree-container span.td:nth-child(6) {
     color: black;
     left: 890px;
     width: 150px;
   
 
   
  }
  
  
   .col1
  {
  margin-left:350px;
   width: 380px;
   fore-color:black
   
  }
  .col2
  {
  margin-left:450px;
   width: 300px;
  }
  .col3
  {
  margin-left:600px;
   width: 130px;
  }
  .col4
  {
  margin-left:690px;
   width: 200px;
  }
  .col5
  {
  margin-left:850px;
   width: 150px;
  }
   .col6
  {
  margin-left:950px;
   width: 150px;
  }

 </style>
 
<apex:form id="myform">
<apex:actionRegion > 
<apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;width:750px;">
            <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
            <apex:inputText id="txtSearch" value="{!searchString}" />
           <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}" ></apex:commandButton></span>
          </apex:outputPanel>
<!--<apex:pageblock id="searchResults"> 
      
<apex:pageblockSection >
<apex:pageblocktable value="{!results}" var="ProductVar">
<apex:column headerValue="Installed Product Id" headerClass="TableTitle">
<apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!ProductVar.Id}','{!ProductVar.Name}', false)" rendered="{!NOT(ISNULL(ProductVar.Id))}">{!ProductVar.Name}</apex:outputLink>--><!--Commented By Mohit-->
<!--<apex:outputLink value="javascript:top.window.opener.doLookupPick('{!formid}','cas4_lkid','cas4','{!Contactvar.Id}','{!Contactvar.Name}',false)">{!Contactvar.Name}</apex:outputLink>    -->   
<!--"top.window.opener.lookupPick('editPage','cas4_lkid','cas4','','001L000000ED5cd','THE CANCER CENTER OF LAKE MANASSAS','null','cas4_lkid','cas4','')"-->
<!--</apex:column>
<apex:column headerValue="Account Name" headerClass="TableTitle">
<apex:outputField value="{!ProductVar.SVMXC__Company__c}" />
</apex:column>
<apex:column headerValue="Product" headerClass="TableTitle">
<apex:outputField value="{!ProductVar.SVMXC__Product__c}" />
</apex:column>
<apex:column headerValue="Serial/Lot Number" headerClass="TableTitle">
<apex:outputField value="{!ProductVar.SVMXC__Serial_Lot_Number__c}" />
</apex:column>
<apex:column headerValue="Date Installed" headerClass="TableTitle">
<apex:outputField value="{!ProductVar.SVMXC__Date_Installed__c }" />
</apex:column>
</apex:pageblocktable>
</apex:pageblockSection>
</apex:pageblock>-->

<script type="text/javascript">
       
       
              $(function(){
              
             
    
       $("#tree").dynatree({
      onActivate: function(node) {
               $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");  
                $('ul.dynatree-container span.td:nth-child(5)').addClass ("c6");                
      },
      persist:true,
      onCustomRender: function(node) {
        // Render title as columns
        if(node.data.title.indexOf("@") == -1){
          // Default rendering
          return false;
        }
         var cols = node.data.title.split("@"),
          
         
          html = "<a class='dynatree-title' href='javascript:void(0)' style='text-decoration:none !important' >";
            //html = "<div class='dynatree-title' >";
        for(var i=0; i<cols.length-1; i++){
          if (i==0)
          {
         // html += "<span class='td c1' style='cursor: pointer' ><font size='2'><strong>"+ cols[i] +"</strong></font></span>";
         
         //{!FormTag}','{!TextBox}_lkid','{!TextBox}','"+cols[cols.length-1]"'+,'"+ cols[i] +"', false)'><font size='2'><strong> "+cols[i] +"</strong></font></span>";
        //html +="<span class='td c1' style='cursor: pointer' onclick=javascript:top.window.opener.lookupPick2(";
        var strProdIdName=cols[2]+"$"+cols[i];
         html +="<span class='td c1' style='cursor: pointer;width:300px;' onclick=redirectToNode('"+strProdIdName+"')><font size='2'><strong>" + cols[i] + "</strong></font></span>";
        
        //html += "'{!FormTag}'" +" , " +"'{!TextBox}_lkid'"+" , "  +"'{!TextBox}'"+ " , '"+cols[cols.length-1]+ "' , '"+ cols[i] +  "' , false "+")><font size='2'><strong>"+cols[i] +"</strong></font></span>";
       
         } if (i==1)
          {
          html += "<span class='td c2' style='cursor:text;' title="+cols[i]+"><font size='2'><strong>" + cols[i] + "</strong></font></span>";
          }if (i==2)
          {
          html += "<span class='td c3' style='cursor:text;' title="+cols[i]+"><font size='2'><strong>" + cols[i] + "</strong></font></span>";
          }
         /* if (i==3)
          {
          html += "<span class='td c4' style='cursor:text;' title="+cols[i]+"><font size='2'><strong>" + cols[i] + "</strong></font></span>";
          }
          if (i==4)
          {
          html += "<span class='td c5' style='cursor:text;'title="+cols[i]+"><font size='2'><strong>" + cols[i] + "</strong></font></span>";
          }
           if (i==5)
          {
          html += "<span class='td c6' style='cursor:text;'title="+cols[i]+"><font size='2'><strong>" + cols[i] + "</strong></font></span>";
          }*/
          
               $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                /*$('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");
                 $('ul.dynatree-container span.td:nth-child(5)').addClass ("c6");*/
        }
        var k = html + "</a>";
        
        return k;
        //return html ;
      },
      children: {!LstOfProductNodes} 
      
    });
                        $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                        $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                        $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                       /* $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                        $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");  
                        $('ul.dynatree-container span.td:nth-child(5)').addClass ("c6");    */                    
  });
  
   
            
            // This function expands all the nodes of tree on click of "Expand All" link available on VF page.
            function Expand(value){             
                $("#tree").dynatree("getRoot").visit(function(node){
                       
            
                    if(node.data.title.toLowerCase().trim().indexOf(value.toLowerCase().trim())>=0 && value!=''){
                        node.data.title="<font size='5'>"+node.data.title +"</font>";
                         $('ul.dynatree-container span.td:first-of-type(1)').addClass ("c1");
                         $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                          $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                    
                        /* $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                        $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); */
                        node.makeVisible();
                        node.render();
                    }
                    if((node.data.title).indexOf('<')!=-1){
                         node.data.title= (node.data.title).substring(8,(node.data.title).length-9);
                     }  
                     $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                        $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                        $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                       /* $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                        $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); */                    
                     node.render();
                    node.expand(true);
                });

            }    
            
            // This function collapses all the nodes of tree on click of "Collapse All" link available on VF page.   
            function Collapse(value){       
                $("#tree").dynatree("getRoot").visit(function(node){
                        $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                        $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                        $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                       /* $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                        $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); */
                    if(node.data.title.toLowerCase().trim().indexOf(value.toLowerCase().trim())>=0 ){
                        node.data.title="<font size='5' color='red'>"+node.data.title +"<font>";   
                        $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                        $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                       $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                         /*$('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                        $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); */
                       
                        node.render();
                    }
                    if((node.data.title).indexOf('<')!=-1){
                         node.data.title= (node.data.title).substring(8,(node.data.title).length-9);
                     }               
                     node.render();
                     
                    node.expand(false);
                });
                
            }   
           
          function redirectToNode(a)
         {
         
         // window.top.location.href="{!$Label.SR_InstanceURL}"+Nodeidd;
           var srProdIdName=a.split('$');     
         top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}',srProdIdName[0],srProdIdName[1], false);
        }
        </script>
        
        <apex:outputpanel >
        
         <apex:PageBlock id="PgBlckId"> 
           
            <!-- Below div is rendered on loading of VF page with help of DynaTree JSQuery.--> 
            
            <div id="tree1">
                <div id="header" style="background-color:#6495ed;">
                
                <table><tr height="40px"><td class="col1"><b>Installed Product</b></td><td class="col2"><b>Product Name</b></td></tr></table>
                </div>
                
                
              <div id="tree" style="height:200px;overflow:auto;position:relative;">
                
                </div>
                
               </div> 
         
        </apex:PageBlock> 
         
</apex:outputpanel>

</apex:actionRegion>        
</apex:form>
</apex:page>