<apex:page standardController="Case" extensions="SRCaseOverrideonContact" showHeader="false" action="{!search}">

<script>
function cancelthecreation(){
  cancelaction();
 }
</script>
<style>
  .headerRow .TableTitle {
    background-color: skyblue !important;
    background-image: none !important; 
    color: black !important; 
    
  }
 </style>
<apex:form id="myform"> 
<apex:actionfunction name="cancelaction" action="{!Contactcancel}" immediate="true"/>
<apex:pageMessages />
<apex:actionRegion > 
    <apex:outputPanel id="top" layout="block" style="overflow: auto; height: 100px;margin:5px;padding:10px;padding-top:2px;width:750px;height:80px;" ><!--overflow:auto;width:750px;height:250px;-->
                <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
                <apex:inputText id="txtSearch" value="{!searchString}" />
                  <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}" ></apex:commandButton></span>
                   <apex:actionSupport event="onclick" reRender="CreateContactId,searchResults"> 
                  <span style="padding-left:5px"><apex:commandButton id="btnGo1" value="New" action="{!NewContact}"></apex:commandButton></span>
                  </apex:actionSupport>
    </apex:outputPanel>
    <!--apex:outputPanel id="top1" layout="block" style="overflow: auto;height:400px;"-->
<apex:actionRegion >
<apex:pageblock rendered="{!VarContact==false}" id="searchResults" >          
<div style="overflow:auto;height:200px;">
<apex:pageblockSection >
<apex:pageblocktable value="{!results}" var="Contactvar">
<apex:column headerValue="Contact Name" headerClass="TableTitle ">
<apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!Contactvar.Id}','{!Contactvar.Name}', false)" rendered="{!NOT(ISNULL(Contactvar.Id))}">{!Contactvar.Name}</apex:outputLink>
<!--<apex:outputLink value="javascript:top.window.opener.doLookupPick('{!formid}','cas4_lkid','cas4','{!Contactvar.Id}','{!Contactvar.Name}',false)">{!Contactvar.Name}</apex:outputLink>    -->   
<!--"top.window.opener.lookupPick('editPage','cas4_lkid','cas4','','001L000000ED5cd','THE CANCER CENTER OF LAKE MANASSAS','null','cas4_lkid','cas4','')"-->
</apex:column>
<apex:column headerValue="Account Name" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.AccountId}" />
</apex:column>
<apex:column headerValue="Phone" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.Phone}" />
</apex:column>
<apex:column headerValue="Mobile" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.MobilePhone}" />
</apex:column>
<apex:column headerValue="Other Phone" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.OtherPhone}" />
</apex:column>
<apex:column headerValue="Primary Contact Number" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.Primary_Contact_Number__c }" />
</apex:column>
</apex:pageblocktable>

</apex:pageblockSection>
<!-- contact creation Seaction -->
 
<!-- contact creation Seaction End -->
 </div>
</apex:pageblock>
</apex:actionRegion>
 <!--/apex:outputPanel -->
 <apex:outputPanel id="top2" layout="block" style="overflow:auto;">
<apex:pageBlock rendered="{!VarContact}" title="Create Contact" id="CreateContactId">

      <apex:pageBlockButtons >
        <apex:commandButton action="{!Contactsave}" value="Save"/>
        
         <apex:commandButton value="Cancel" onclick="cancelthecreation();" immediate="true" rerender="searchResults,CreateContactId"/>
        
      </apex:pageBlockButtons>
      
     <apex:pageBlockSection columns="1" showHeader="false">
        <apex:inputField value="{!contact.FirstName}" />
        <apex:inputField value="{!contact.LastName}" />
        <apex:inputField value="{!contact.Suffix__c}" />
        <apex:inputField value="{!contact.Title}" />
        <apex:inputField value="{!contact.Specialty__c}" />
        <apex:inputField value="{!contact.Contact_Type__c}" />
        <apex:inputField value="{!Contact.Primary_Contact_Number__c}" />
        <apex:inputField value="{!Contact.Phone}" />
        <apex:inputField value="{!Contact.MobilePhone}" />
        <apex:inputtext label="Email" value="{!emailId}" />
        
    
        </apex:pageBlockSection>
 
    </apex:pageBlock>
    </apex:outputPanel>
</apex:actionRegion> 

</apex:form>
</apex:page>