<!---------------------------------------------------------------------
   - Author        : DeveloperAtWork
   - Functionality : Cloud Spokes Challenge - 2562
   - Description   :  Tree- Like Data Selection for Products on Case.
   -                  
   - This Visualforce page is being displayed on click of "Search Prouduct"  
   - Button available on Case Record.
   - CS stands for Cloud Spokes as part of Coding Standards.
   ------------------------------------------------------------------------>
<apex:page id="pg" standardController="SVMXC__Installed_Product__c" showHeader="false" sidebar="false" extensions="CS_ProductTreeView" action="{!GenerateTreeStructureForProducts}">
   <html>
      <head>
         <meta http-equiv="X-UA-Compatible" content="IE=8" />
         <style type="text/css">
            ul.dynatree-container span.td {
            position: absolute;
            display:inline-block;
            overflow: hidden;
            background-color: #ffffff;
            }
            a:visited {
            color: #ffffff;
            }   
            <!-- Styling for header -->
            .dynatree-container>li:first-child
            { 
            background-color:#87CEFA;
            height:50px;
            font-weight:bold;
            } 
            .dynatree-container>li:first-child>span>a>span
            {
            background-color: #87CEFA;
            margin-top:15px;
            font-weight:bold;
            }
            .dynatree-container>li:first-child>span>a
            {
            background-color: #87CEFA;
            border-style:none;
            font-weight:bold;
            }
            .td.c8 :first-child
            {
            text-align:center;
            }
            .c1
            {
            position: static;
            color: black;
            }
            .c2
            {  position: absolute;
            color: black;
            left: 310px;
            width: 380px;
            display : block;
            }
            .c3
            { position: absolute;
            color: black;
            left : 500px;
            width: 140px;
            display : block;
            }
            .c4
            { position: absolute;
            color: black;
            left: 650px;
            width: 120px;
            display : block;
            }
            .c5
            { 
            color: black;
            left: 760px;
            width: 300px;
            display : block;
            position: absolute ;
            }
            .c6
            { 
            color: black;
            left: 950px;
            width: 130px;
            display : block;
            position: absolute ;
            text-align:center;
            }
            .c7
            { 
            color: black;
            left: 1080px;
            width: 130px;
            display : block;
            position: absolute ;
            text-align:center;
            }
            .c8
            { 
            color: black;
            left: 1200px;
            width: 150px;
            display : block;
            position: absolute ;
            }
            .c9
            { 
            color: black;
            left: 1240px;
            width: 150px;
            display : block;
            position: absolute ;
            }
            ul.dynatree-container span.td:nth-child(1) {
            position: static;
            color: black;
            }
            ul.dynatree-container span.td:nth-child(2) {
            color: black;
            left: 310px;
            width: 380px;
            }
            ul.dynatree-container span.td:nth-child(3) {
            color: black;
            left : 500px;
            width: 140px;
            text-align:center;
            }
            ul.dynatree-container span.td:nth-child(4) {
            color: black;
            left: 650px;
            width: 120px;
            }
            ul.dynatree-container span.td:nth-child(5) {
            color: black;
            left: 760px;
            width: 300px;
            }
            ul.dynatree-container span.td:nth-child(6) {
            color: black;
            left: 950px;
            width: 130px;
            text-align:center;
            } 
            ul.dynatree-container span.td:nth-child(7) {
            color: black;
            left: 1080px;
            width: 130px;
            text-align:center;
            } 
            ul.dynatree-container span.td:nth-child(8) {
            color: black;
            left: 1220px;
            width: 150px;
            } 
            ul.dynatree-container span.td:nth-child(9) {
            color: black;
            left: 1290px;
            width: 150px;
            text-align:left;
            } 
            .col1
            {
            fore-color:black;
            width: 280px;
            text-align:center;
            }
            .col2
            {
            margin-left:300px;
            width: 250px;
            text-align:center;
            }
            .col3
            {
            margin-left:540px;
            width: 100px;
            text-align:center;
            }
            .col4
            {
            margin-left:650px;
            width: 150px;
            text-align:center;
            }
            .col5
            {
            margin-left:900px;
            width: 275px;
            text-align:center;
            }
            .col6
            {
            margin-left:900px;
            width: 100px;
            text-align:center;
            }
            .col7
            {
            margin-left:1200px;
            width: 100px;
            text-align:center;
            }
            .col8
            {
            margin-left:1300px;
            width: 100px;
            text-align:center;
            }
            .col9
            {
            margin-left:1400px;
            width: 100px;
            text-align:center;
            }
            #tree {
            height: 200px;
            width: 1492px;
            }
         </style>
      </head>
      <body>
         <!--input type="text" name="filter" id="filter" /-->
         <apex:form id="formId" >
            <apex:inputHidden id="hdnNodeId" value="{!strNodeId}"/>
            <!-- Including Static Resource for enabling DynaTree JSquery  -->
            <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'jquery/jquery.js' )}" />
            <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'jquery/jquery-ui.custom.js' )}" />
            <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'jquery/jquery.cookie.js' )}" />
            <apex:includeScript value="{!URLFOR($Resource.DynaTree, 'src/jquery.dynatree.js' )}" />
            <apex:stylesheet value="{!URLFOR($Resource.DynaTree, 'src/skin-vista/ui.dynatree.css')}" />
            <!-- On VF page load , below script gets executed which displays the tree structure. -->
            <script type="text/javascript">
               $('#filter').keypress(function() {
                 if($(this).val().length >=2 )
                     {
                         var $input = $(this);
                         $(".dynatree-title").each(function(){
                             if($(this).text().toLowerCase().indexOf($input.val().toLowerCase()) >= 0) {
                                 $(this).html("<font color='blue'>"+$(this).text() +"</font>");
                                 alert($(this).text());
                             }
                         });
                     }
               });
               
                   $(function(){
                   
                  
               
               $("#tree").dynatree({
               onActivate: function(node) {
                    $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                     $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                     $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                     $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                     $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");  
                     $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6"); 
                     $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7"); 
                     $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8");
                     $('ul.dynatree-container span.td:nth-child(9)').addClass ("c9");                
               },
               
               onCustomRender: function(node) {
               // Render title as columns
               if(node.data.title.indexOf("@") == -1){
               // Default rendering
               return false;
               }
               var cols = node.data.title.split("@"),
               
               
               html = "<a class='dynatree-title' href='javascript:void(0)' style='text-decoration:none !important'>";
                 //html = "<div class='dynatree-title' >";
               for(var i=0; i<cols.length-1; i++){
                       
               if (i==0)
               {
               html += "<span class='td c1' style='cursor: pointer' onclick=redirectToNode('"+(cols[cols.length-1])+"')><font size='1' color='"+(cols[cols.length-2]) +"'><normal> "+ cols[i] + "</normal></font></span>";
               } if (i==1)
               {
               html += "<span class='td c2' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }if (i==2)
               {
               html += "<span class='td c3' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }
               if (i==3)
               {
               html += "<span class='td c4' style='cursor:text;'><font size='1' ><normal>" + cols[i] + "</normal></font></span>";
               }
                if (i==4)
               {
               html += "<span class='td c5' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }if (i==5)
               {
               html += "<span class='td c6' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }
               if (i==6)
               {
               html += "<span class='td c7' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }
               if (i==7)
               {
               html += "<span class='td c8' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }
               if (i==8)
               {
               html += "<span class='td c9' style='cursor:text;'><font size='1'><normal>" + cols[i] + "</normal></font></span>";
               }
               
                 $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                 $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                 $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                 $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                 $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");
                 $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6");
                 $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7");
                 $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8");
                 $('ul.dynatree-container span.td:nth-child(9)').addClass ("c9");
               
               }
               var k = html + "</a>";
               
               return k;
               //return html ;
               },
               children: {!LstOfProductNodes} 
               
               });
                             $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                             $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                             $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                             $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                             $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); 
                             $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6"); 
                             $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8");
                             $('ul.dynatree-container span.td:nth-child(9)').addClass ("c9");                        
               });
               
               
                 
                 // This function expands all the nodes of tree on click of "Expand All" link available on VF page.
                 function Expand(value){             
                     $("#tree").dynatree("getRoot").visit(function(node){
                            
                 
                         if(node.data.title.toLowerCase().trim().indexOf(value.toLowerCase().trim())>=0 && value!=''){
                             node.data.title="<font size='3'>"+node.data.title +"</font>";
                              $('ul.dynatree-container span.td:first-of-type(1)').addClass ("c1");
                             $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                             $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                             $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                             $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");
                             $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6"); 
                             $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8");
                             $('ul.dynatree-container span.td:nth-child(9)').addClass ("c9");                          
                             node.makeVisible();
                             node.render();
                         }
                         if((node.data.title).indexOf('<')!=-1){
                              node.data.title= (node.data.title).substring(8,(node.data.title).length-9);
                          }  
                             $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                             $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                             $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                             $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                             $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); 
                             $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6");   
                             $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c9");                        
                          node.render();
                         node.expand(true);
                     });
               
                 }    
                 
                 // This function collapses all the nodes of tree on click of "Collapse All" link available on VF page.   
                 function Collapse(value){       
                     $("#tree").dynatree("getRoot").visit(function(node){
                             $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                             $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                             $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                             $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                             $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5"); 
                             $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6");   
                             $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c9");
                         if(node.data.title.toLowerCase().trim().indexOf(value.toLowerCase().trim())>=0 ){
                             node.data.title="<font size='3' color='red'>"+node.data.title +"<font>";   
                             $('ul.dynatree-container span.td:nth-child(1)').addClass ("c1");
                             $('ul.dynatree-container span.td:nth-child(2)').addClass ("c2");
                             $('ul.dynatree-container span.td:nth-child(3)').addClass ("c3");
                             $('ul.dynatree-container span.td:nth-child(4)').addClass ("c4");
                             $('ul.dynatree-container span.td:nth-child(5)').addClass ("c5");
                             $('ul.dynatree-container span.td:nth-child(6)').addClass ("c6");   
                             $('ul.dynatree-container span.td:nth-child(7)').addClass ("c7"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c8"); 
                             $('ul.dynatree-container span.td:nth-child(8)').addClass ("c9");
                             node.render();
                         }
                         if((node.data.title).indexOf('<')!=-1){
                              node.data.title= (node.data.title).substring(8,(node.data.title).length-9);
                          }               
                          node.render();
                          alert(node);
                         node.expand(false);
                     });
                     
                 }   
                 
               function redirectToNode(Nodeidd)
               {
               document.getElementById('pg:formId:hdnNodeId').value=Nodeidd;
               //window.top.location.href="{!$Label.SR_InstanceURL}"+Nodeidd;
               window.open('/'+Nodeidd,'_blank');
               
               }
            </script>
            <!-- Below line displayes the image and header title displayed on VF page.-->
            <!-- Below div is rendered on loading of VF page with help of DynaTree JSQuery.--> 
            <!-- <div id="header" style="background-color:#6495ed;width:116%">
               <table><tr height="40px"><td class="col1"><b>Installed Product</b></td><td class="col2"><b>Product Name</b></td><td class="col3"><b>Product Version Build
               </b></td><td class="col4"><b>Serial Lot Number</b></td><td class="col5"><b>Service Contract</b></td><td class="col6"><b>Service Contract Start Date</b></td><td class="col7"><b>Service Contract End Date</b></td><td class="col8"><b>City</b></td><td class="col9"><b>Status</b></td></tr></table>
               </div> -->
            <div id="tree" style="height:200px;width:auto;">
            </div>
         </apex:form>
      </body>
   </html>
</apex:page>