<apex:page controller="SR_PrepareOrderPdfcontroller" standardStylesheets="false" id="pge" showHeader="false" applyHtmlTag="false" renderAs="pdf">
    <head>
        <style type = "text/css">
            integer counter = 0;
            @page{
            @top-right {
            font-family:sans-serif;
            font-size:80%;
            content: "Page " counter(page)  " of " counter(pages);
            }
            }    
            
            .Sidebar-CenterLeft
            {
            position: relative;
            float: Left;
            width: 350px;
            height: 68px;
            }
            .Sidebar-CenterRight
            {
            position: relative;
            float: right;
            width: 350px;
            height : 68px;
            }
            
            .left-div {
            float: left;
            margin-right: 8px;
            }
            .right-div {
            margin-left: 400px;
            }
            table.tblborder th{
            background-color:#BDBDBD;
            }
            
            table.contblborder th{
            background-color:#BDBDBD;
            }   
            
            
            table.tblborder,table.tblborder th,table.tblborder td
            {
            border:1px solid black;
            border-collapse:collapse;
            }
            pre {
                white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
            }
        </style>
        
    </head>
    
    <!-- <apex:image url="/servlet/servlet.FileDownload?file=015c0000000AkzW"/> -->
    <apex:image url="{!$Resource.VarianLogo}" width="150" height="100"/>

    
    <table class="tblborder" style="float: right;">
        <tr>
            <th class="thcolor" >ELECTRONIC PURCHASE ORDER TRANSMITTAL-EPOT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <!--<td style="border-style: solid; border-width: 1px">Page: </td>-->
        </tr>
        <tr>
            <td ><b>Site: </b>{!SitePartnerAddrLine1}</td>
        </tr>
        
    </table>
    <br/>
    
    <div style="font-size:15px">
        <table style="border:0" width="100%">
            <tr>
                <td style = "width:50%"><b>Sales/Services Manager: </b>{!salesManager}</td>
                <td>
                <apex:outputLabel style="font-weight:bold" value="Printed:" />
                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!NOW()}" /> 
                </apex:outputText>
                </td>
                <!--<td style = "width:55%"><b>Printed: </b>{!NOW()}</td> -->
            </tr>
            <tr>
                <td><b>Sales/Service Operations Specialist: </b>{!salesAdministrator }</td> 
                <td><b>Quote Number: </b>{!objQuote.name}</td>
            </tr>
            <tr>
                <td><b>Contract Administrator: </b>{!contrAdmin}</td>
                <td>
                <apex:outputLabel style="font-weight:bold" value="Quote Date:" />
                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!QuoteDate}" /> 
                </apex:outputText>
                </td>
                <!-- <td><b>Quote Date: </b>{!QuoteDate}</td> -->
            </tr>
            <tr>
                <td><b>Quote Creator: </b>{!quoteCreator}</td>
                <td>
                <apex:outputLabel style="font-weight:bold" value="Contract Start Date:" />
                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!objQuote.Contract_Start_Date__c}" /> 
                </apex:outputText>
                </td>
                <!--<td><b>Contract Start Date: </b>{!objQuote.Contract_Start_Date__c}</td> -->
            </tr>
            <tr>
                <td><b>Subsidary: </b></td>
                <td>
                <apex:outputLabel style="font-weight:bold" value="Contract End Date:" />
                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!objQuote.Contract_End_Date__c}" /> 
                </apex:outputText>
                </td>
            </tr>
            <tr>
                <td><b>Site Project Manager: </b>{!siteProjManager}</td>
                <td><b>Product: </b>{!prod}</td>
            </tr>
        </table>
    </div>
    <br/>
    <div>
        <table class="tblborder" width="100%">
            <tr>
                <th width="50%">Sold To: {!soldTo}</th>
                <th width="50%">Ship To: {!shipTo}</th>
            </tr>
            <tr>
                <td style="vertical-align:top">
                    <!--<apex:outputLabel >{!soldToAcctName} <br/></apex:outputLabel> -->                           
                    <apex:outputLabel rendered="{!IF(soldToAddrLine1 <> null, true, false)}">{!soldToAddrLine1} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(soldToAddrLine2 <> null, true, false)}">{!soldToAddrLine2} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(soldToAddrLine3 <> null, true, false)}">{!soldToAddrLine3} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(soldToAdd<> null, true, false)}">{!soldToAdd} </apex:outputLabel> 
                    <apex:outputLabel rendered="{!IF(soldToAddrLine4 <> null, true, false)}">{!soldToAddrLine4} <br/></apex:outputLabel>
                    <br/><br/>
                </td>
                <td style="vertical-align:top">
                    <apex:outputLabel rendered="{!IF(shipToAddrLine1 <> null, true, false)}">{!shipToAddrLine1} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(shipToAddrLine2 <> null, true, false)}">{!shipToAddrLine2} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(shipToAddrLine3 <> null, true, false)}">{!shipToAddrLine3} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(shipToAdd<> null, true, false)}">{!shipToAdd} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(shipToAddrLine4 <> null, true, false)}">{!shipToAddrLine4}</apex:outputLabel>
                    <br/><br/>
                </td>    
            </tr>
            <tr>
                <th width="50%"><b> Site Partner: {!SitePartner}</b></th>
                <th width="50%"><b>Bill To: {!billTo}</b></th>
            </tr>
            <tr>
                <td style="vertical-align:top"> 
                    <apex:outputLabel rendered="{!IF(SitePartnerAddrLine1 <> null, true, false)}">{!SitePartnerAddrLine1} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(SitePartnerAddrLine2 <> null, true, false)}">{!SitePartnerAddrLine2} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(SitePartnerAddrLine3 <> null, true, false)}">{!SitePartnerAddrLine3} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(SitePartnerAdd<> null, true, false)}">{!SitePartnerAdd} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(SitePartnerAddrLine4 <> null, true, false)}">{!SitePartnerAddrLine4}</apex:outputLabel>   
                    <br/><br/>
                </td>
                <td style="vertical-align:top">
                    <apex:outputLabel rendered="{!IF(billToAddLine1 <> null, true, false)}">{!billToAddLine1} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(billToAddLine2 <> null, true, false)}">{!billToAddLine2} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(billToAddLine3 <> null, true, false)}">{!billToAddLine3} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(billToAdd<> null, true, false)}">{!billToAdd} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(billToAddLine4 <> null, true, false)}">{!billToAddLine4}</apex:outputLabel>
                    <br/><br/>
                </td>
            </tr>
            <tr>
                <th width="50%"><b> End User: {!endUser}</b></th>
                <th width="50%"><b> 3rd Party Rep/Distributor: </b></th>
            </tr>
            <tr>
                 <td style="vertical-align:top">                
                    <apex:outputLabel rendered="{!IF(endUserAddLine1 <> null, true, false)}">{!endUserAddLine1} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(endUserAddLine2 <> null, true, false)}">{!endUserAddLine2} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(endUserAddLine3 <> null, true, false)}">{!endUserAddLine3} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(endUserAdd<> null, true, false)}">{!endUserAdd} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(endUserAddLine4 <> null, true, false)}">{!endUserAddLine4}</apex:outputLabel>   
                    <br/><br/>
                </td>
                <td></td>
            </tr>
            <tr>
                <th width="50%"><b> Payer: {!payer} </b></th>
                <td width="50%"></td>
            </tr>
            <tr>
                <td style="vertical-align:top">                
                    <apex:outputLabel rendered="{!IF(payerAddrLine1  <> null, true, false)}">{!payerAddrLine1} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(payerAddrLine2  <> null, true, false)}">{!payerAddrLine2} <br/></apex:outputLabel>             
                    <apex:outputLabel rendered="{!IF(payerAddrLine3  <> null, true, false)}">{!payerAddrLine3} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(endUserAdd<> null, true, false)}">{!payerAdd} <br/></apex:outputLabel>
                    <apex:outputLabel rendered="{!IF(payerAddrLine4  <> null, true, false)}">{!payerAddrLine4}</apex:outputLabel>   
                    <br/><br/>
                </td>
                <td></td>
            </tr>
            <tr> 
                <td>
                    <b>SAP Sales Org: </b> <apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services', true,false)}" > {!objQuote.Sales_Org__c} </apex:outputLabel><br/><br/>
                    <b>SAP Service Org: </b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Sales', true,false)}" > {!objQuote.Service_Org__c} </apex:outputLabel> <br/><br/>
                    <b>SAP EPOT Status: </b>{!objQuote.Interface_Status__c}<br/><br/>
                    <b>SAP Systems Quote#:</b><br/><br/>
                    <b>SAP Sales Order#: </b> <br/><br/>
                    <b>SAP Service Order#: </b> <br/><br/>
                    <b>Subscription Order#: </b>{!subscriptionNumbers}<br/><br/>
                    <b>SAP Sales Prebook#: </b>{!objQuote.SAP_Prebooked_Sales__c}<br/><br/>
                    <b>SAP Service Prebook#: </b>{!objQuote.SAP_Prebooked_Service__c}<br/><br/>
                    <b>Epot Sales Message:</b>{!objQuote.Booking_Message__c}<br/><br/>
                    <b>Epot Service Message:</b>{!objQuote.Message_Service__c}<br/><br/>
                 </td>
                 <td></td>
            </tr>
        </table>
    </div>
    <br/><br/>
    <table class="tblborder" border="0" width="100%" style="{!if(objQuote.Subscription_Quote__c,'display:block;','display:none;')}">
        <tr>
            <td colspan="8"><b>Subscription Details</b></td>
        </tr>
        <tr>
            <th style="background-color:#BDBDBD;"><b>Product Name</b></th>
            <th style="background-color:#BDBDBD;"><b>Start Date</b></th>
            <th style="background-color:#BDBDBD;"><b>End Date</b></th>
            <th style="background-color:#BDBDBD;"><b>Contract Number</b></th>
            <th style="background-color:#BDBDBD;"><b>SAAS Billing Frequency</b></th>
            <th style="background-color:#BDBDBD;"><b>Percentage of Total Implementation At Booking</b></th>
            <th style="background-color:#BDBDBD;"><b>Total Implementation</b></th>
            <th style="background-color:#BDBDBD;"><b>Total Subscription</b></th>
        </tr>   
        <apex:repeat value="{!subscriptions}" var="subscription">
            <tr>
                <td>{!subscription.productName}</td>
                <td>{!subscription.startDate}</td>
                <td>{!subscription.endDate}</td>
                <td>{!SubscriptionContractNumbers[subscription.productCode]}</td>
                <td>{!subscription.billingFrequency}</td>
                <td>{!subscription.implementationBookingPercent}%</td>
                <td>{!subscription.implementationTotal}</td>
                <td>{!subscription.subscriptionTotal}</td>
            </tr>   
        </apex:repeat> 
    </table>
    
    <br/><br/>
    
    <table class="contblborder" border="0" width="100%">
        <tr>
            <th width="40%">Contact Name</th>
            <th width="30%">Title</th>
            <th width="20%">Phone</th>
            <th width="10%">Other</th>
        </tr>       
        
        <tr>
            <td width="40%">Principal Contact: &nbsp; {!objQuote.Principal_Contact__r.Name}</td>  
            <td width="30%">{!objQuote.Principal_Contact__r.Title}</td>
            <td width="20%" >{!objQuote.Principal_Contact__r.Phone}</td>
            <td width="10%">{!objQuote.Principal_Contact__r.OtherPhone}</td>
        </tr>      
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        
        <tr>
            <td >Purchasing Contact: &nbsp; {!objQuote.Purchasing_Contact__r.Name}</td>
            <td >{!objQuote.Purchasing_Contact__r.Title}</td>
            <td >{!objQuote.Purchasing_Contact__r.Phone}</td>
            <td >{!objQuote.Purchasing_Contact__r.OtherPhone}</td>
            <td></td>
        </tr>           
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        
        <tr>
            <td >Medical Contact: &nbsp; {!objQuote.Medical_Contact__r.Name}</td>
            <td > {!objQuote.Medical_Contact__r.Title}</td>
            <td > {!objQuote.Medical_Contact__r.Phone}</td>
            <td > {!objQuote.Medical_Contact__r.OtherPhone}</td>
            <td></td>
        </tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        
        <tr>
            <td >Physics Contact: &nbsp; {!objQuote.Physics_Contact__r.Name}</td>
            <td > {!objQuote.Physics_Contact__r.Title}</td>
            <td > {!objQuote.Physics_Contact__r.Phone}</td>
            <td > {!objQuote.Physics_Contact__r.OtherPhone}</td>
            <td></td>
        </tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        
        
        <tr>
            <td >Technical Contact: &nbsp; {!objQuote.Technical_Contact__r.Name}</td>
            <td > {!objQuote.Technical_Contact__r.Title}</td>
            <td > {!objQuote.Technical_Contact__r.Phone}</td>
            <td > {!objQuote.Technical_Contact__r.OtherPhone}</td>
            <td></td>
        </tr>
        
        
    </table><br/><hr/>
    <table style = "border:0" rules = "cols" width="100%">
        <tr> 
            <td width="50%" style = "border-right: 1px solid #000000;"><b>Reference Quotation: </b>{!objQuote.Reference_Quotation__c}</td>
            <td width="50%"><b>Exchange Rate: </b>{!objQuote.BigMachines__Opportunity__r.Conversion_Rate__c}</td>
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b>Type/Status: </b>{!objQuote.Quote_Type__c}</td>
            <td ><b>Purchase Order Number: </b>{!objQuote.Purchase_Order_Number__c}</td>
        </tr>
        <tr>
            <td width="50%">
                <apex:outputLabel style="font-weight:bold" value="Purchase Order Date:" />
                <apex:outputText style="width=50% ;padding-right:121px; border-right: 1px solid #000000;" Value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!objQuote.Purchase_Order_Date__c}" /> 
                </apex:outputText>
            </td>
            <td width="50%">
                <apex:outputLabel style="font-weight:bold" value="SAP Prebooked Date Sales:" />
                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!objQuote.SAP_PreBooked_Date_Sales__c}" /> 
                </apex:outputText>
            </td>
            <!--<td width="50%" style = "border-right: 1px solid #000000;"><b>Customer PO Received: </b>{!objQuote.Purchase_Order_Date__c}</td>
            <td width="50%" ><b>SAP Prebooked Date Sales:</b>{!objQuote.SAP_PreBooked_Date_Sales__c}</td> -->
        </tr>
        <tr>
            <td width="50%">
                <apex:outputLabel style="font-weight:bold" value="Purchase Order Received Date:" />
                <apex:outputText style="width=50% ;padding-right:56px; border-right: 1px solid #000000;" Value="{0,date,MM'/'dd'/'yyyy}">
                <apex:param value="{!objQuote.Purchase_Order_Received_Date__c}" /> 
                </apex:outputText>
            </td>
            <td>
                <apex:outputLabel style="font-weight:bold" value="SAP Prebooked Date Service:" />
                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!objQuote.SAP_PreBooked_Date_Service__c}" /> 
                </apex:outputText>
            </td>
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b>Sales Payment Terms: </b>{!objQuote.Payment_Terms__c}</td>          
            <td><b>Functional Location: </b>{!objQuote.Functional_Location__c}</td>
        </tr>
        <tr>            
            <td width="50%" style = "border-right: 1px solid #000000;"><b>Service Payment Terms: </b>{!objQuote.Service_Payment_Terms__c}</td>
        </tr>
    </table><hr/>
    
    <table style = "border:0" rules = "cols" width="100%">
        <tr>
            <!--<td style = "width:50%; border-right: 1px solid #000000;"><b>Ship Date: </b>{!objQuote.Projected_Ship_Date__c}</td> -->
            <td>
                <apex:outputLabel style="font-weight:bold" value="Ship Date:" />
                <apex:outputText style="padding-right:200.5px; border-right: 1px solid #000000;" Value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!objQuote.Projected_Ship_Date__c}" /> 
                </apex:outputText>
            </td>
            <td style = "{!if(objQuote.Subscription_Only_Quote__c,'display:none;','width:50%;')}"><b>Down Payment %:</b>{!objQuote.Down_Payment__c} </td>
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b>INCOTERMS: </b>{!objQuote.IncoTerms__c}</td>
            <td style = "{!if(objQuote.Subscription_Only_Quote__c,'display:none;','width:50%;')}"><b>Pre Shipment %:</b>{!objQuote.Pre_Shipment__c}</td>
        </tr>
        <tr>
            <td>
                <apex:outputLabel style="font-weight:bold" value=" Delivery Date:" />
                <apex:outputText style=" padding-right:173.5px; border-right: 1px solid #000000;" Value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!objQuote.Requested_Delivery_Date__c}" /> 
                </apex:outputText>
            </td>
            <!--<td style = "width:50%; border-right: 1px solid #000000"><b>Delivery Date: </b>{!objQuote.Requested_Delivery_Date__c}</td> -->
            <td style = "{!if(objQuote.Subscription_Only_Quote__c,'display:none;','width:50%;')}"><b>Shipment %:</b>{!objQuote.ShipmentValue__c}</td>
        </tr>
        <tr>
            <td style = "width:50%; border-right: 1px solid #000000;"><b>Account Affiliation: </b>{!objQuote.Affiliated_Account__c}</td>
            <td style = "{!if(objQuote.Subscription_Only_Quote__c,'display:none;','width:50%;')}"><b>Delivery %:</b>{!objQuote.Delivery__c} </td>
        </tr>
        <tr>
            <td style = "width:50%; border-right: 1px solid #000000;"><b>Billing Frequency:</b>{!objQuote.Billing_Frequency__c}</td>
            <td style = "{!if(objQuote.Subscription_Only_Quote__c,'display:none;','width:50%;')}"><b>Acceptance %:</b>{!objQuote.AcceptanceValue__c}</td>
            <!-- <td style = "width:33%; border-right: 1px solid #000000;"><b>PA Delivery Promised: </b>{!objQuote.Requested_Delivery_Date__c}</td> -->
        </tr>
        
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"></td>
            <td width="50%" style = "{!if(objQuote.Subscription_Only_Quote__c,'display:none;','display:block;')}"><b>Post Acceptance %:</b>{!objQuote.PostAcceptanceValue__c} </td>
        </tr>
    </table><hr/>
    <table style = "border:0" rules = "cols" width="100%" >
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b> Certificate of Need Replacement: </b> <apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Certificate_of_Need_Replacement__c}</apex:outputLabel></td>
            <td width="50%" ><b> Certificate of Need New:</b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Certificate_of_Need_New__c}</apex:outputLabel></td>     
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b> Board Approval Required: </b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Board_Approval_Required__c}</apex:outputLabel> </td>
                <td width="50%" ><b> Plan to Financing or Lease:</b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Plan_to_Financing_or_Lease__c}</apex:outputLabel></td>     
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b>Export Licence Required: </b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Export_License_Required__c}</apex:outputLabel> </td>
                <td width="50%" ><b> Other Blocks:</b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Other_Blocks__c}</apex:outputLabel></td>     
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b> No Contingencies: </b> <apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.No_Contingencies__c}</apex:outputLabel></td>
                <td idth="50%" ><b> Projected Contingency Release Date :</b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Release_Date__c}</apex:outputLabel></td>     
        </tr>
        <tr>
            <td width="50%" style = "border-right: 1px solid #000000;"><b> Contingency Released Date:</b><apex:outputLabel rendered="{!IF(objQuote.Order_Type__c != 'Services',true,false)}" >{!objQuote.Contingency_Release_Date__c}</apex:outputLabel></td>     
        </tr>
    </table><hr/>
    <table class="tblborder">
        <tr>
            <th style="width:60%"><b>Acknowledgment Letter To: </b></th>
            <th style="width:80%"><b>Leasing Company Information: </b></th>
        </tr>
        <td></td>
        <td>Lease Number:</td>
    </table><hr/>
    <table>
        <tr>
            <td><B>Contingencies:</B>{!Contingencies}</td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td>
            <B>Billing Instructions:</B>{!objQuote.Custom_Billing_Milestones__c}
            <p style="{!if(objQuote.Subscription_Quote__c,'display:block','display:none')}">For Services, please refer to the Payment Terms in the Quotation</p>
            </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B> Shipping Instructions:</B>{!objQuote.Shipping_instructions__c} </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B> Configuration Instructions: </B> {!objQuote.Configuration_Instructions__c}</td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B>Installation/Acceptance Instructions: </B> {!objQuote.Installation_Acceptance_Instructions__c}</td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr> 
            <td><B>Sales Terms and Conditions: </B> <pre>{!objQuote.prd_ht3__c}</pre></td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr> 
            <td><B>Special Payment terms: </B> <pre>{!objQuote.Special_Payment_Terms__c}</pre></td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr> 
            <td><B>Reference Documents:</B>{!objQuote.Reference_Documents__c} </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B>Action(s) Required:</B>{!objQuote.Actions_Required__c} </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B>Customer Penalty:</B>{!objQuote.Customer_Penalty__c} </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B>Varian Penalty:</B>{!objQuote.Varian_penalty__c} </td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
            <td><B>Internal Notes: </B><pre>{!objQuote.prd_ht1__c} </pre></td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </table>    
</apex:page>