<apex:page standardController="SVMXC__Site__c" sidebar="false" showheader="false" >
<apex:pageBlock >
    <apex:form >  
        <iframe height="600px" id="theIframe" name="theIframe" src ="{!SVMXC__Site__c.Smart_Alert_Link__c}" 
width="100%"></iframe>

    </apex:form>  
  </apex:pageBlock>    
</apex:page>