<apex:page id="pg" controller="SR_ViewEntitlement" >
    <!-- <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" /> -->
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" />
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js" />
        <apex:styleSheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />
        <apex:includeScript value="{!URLFOR($Resource.chosen_jquery_plugin, 'chosen_jquery_plugin/chosen.jquery.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.chosen_jquery_plugin, 'chosen_jquery_plugin/chosen.jquery.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.chosen_jquery_plugin, 'chosen_jquery_plugin/docsupport/prism.js')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.chosen_jquery_plugin, 'chosen_jquery_plugin/docsupport/prism.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.chosen_jquery_plugin, 'chosen_jquery_plugin/chosen.css')}"/>
        
         <style type="text/css">
            .custPopup{
                
                overflow:auto; 
                background-color: white;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
                left: 30%;
                padding:10px;
                position: absolute;
                /* These are the 3 css properties you will need to change so the popup 
                displays in the center of the screen. First set the width. Then set 
                margin-left to negative half of what the width is. You can add 
                the height property for a fixed size pop up if you want.*/
                width: 850px;
                margin-left: -150px;
                bottom: 800px;
                top : 100px;
                height:500px;
            }
           .col1Class1
            {
                width:10%;
                border-color: #FFFFFF;
            }
            
            .col1Class2
            {
                width:10%;
            }
            
            .col1Class3
            {
                width:10%;
            }
            .col1Class4
            {
                width:10%;
            }
            .col1Class5
            {
                width:10%;
            }
            .col1Class6
            {
                width:20%;
            }
            .col1Class7
            {
                width:20%;
            }
            .col1Class8
            {
                width:20%;
            }
            .popupBackground{
                background-color:black;
                opacity: 0.20;
                filter: alpha(opacity = 20);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 0;
            }
            .pbSubheader 
            {
            
            bgcolor:"#7062F0";
            }
            .rowstyle { padding:0px; 
            border-bottom:none solid #F2F3F4;
            }
            .placeHolder {
            font-style: italic;
        }
        .chosen-rtl .chosen-drop { left: -9000px; }
         
            .grid {
            width: 600px;
            height: 600px;
            }
            .ui-grid-header-cell{
            height:auto;
            text-align: center;
            }
            .ui-grid-filter-container {
            padding: 4px 10px;
            position: relative;
            }    
            .ui-grid-cell-contents {
            height: auto;
            }
            .grid .ui-grid-header-cell input{
            height: 25px;
            }
            .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
            position: absolute;
            top: 50%;
            line-height: 32px;
            margin-top: -10px;
            right: 10px;
            opacity: .66;}
            #subRegion_chosen{
            //margin-left: -15px !important;
            }
            #escpectedClosedDate_chosen{
            //margin-left: -15px !important; 
            }
            #fpopup label{
            display:none;
            } 
            .modal-dialog{
            max-width:300px;
            }
            
            .alert{
                    padding: 5px !important; 
            }
             
            #pqt_chosen{
                width: 160px !important;;
             }

        </style>
       
        
    
    <!-- apex:messages / -->
        <apex:form id="frm">
          
          
        <!-- <apex:inputhidden value="{!strProductId}" id="strProductId"/>
        <apex:inputhidden value="{!strevent}" id="strevent"/> -->
         
            <apex:pageBlock title="Training Deliverables for   {!strFrom}" id="pb" tabstyle="account" >
           <apex:outputPanel id="msg2"><apex:pageMessages /></apex:outputPanel>
        <apex:actionRegion >  
    <apex:outputPanel id="filters">         
    <table width="80%">
    <tr>
    <!---Sales Order Start------------------------------>
       <td width="5%" align="right" style="display:{!bln_PicklistDisable}"> 
            <apex:outputLabel >Sales Order</apex:outputLabel>
        </td>
        <td width="5%" align="left" style="display:{!bln_PicklistDisable}">
            <apex:selectList size="3" multiselect="true"  value="{!strSalesOrderItem}"> 
                <apex:selectOptions value="{!lstSOIOption}"/>  
            </apex:selectList>
        </td>
        <td width="5%" align="right" style="display:{!bln_PicklistDisable}"> 
            <apex:outputLabel >Service Contracts</apex:outputLabel>
        </td>
        <td width="5%" align="left" style="display:{!bln_PicklistDisable}">
            <apex:selectList size="3" multiselect="true"  value="{!strServiceContract}"> 
                <apex:selectOptions value="{!lstSCOption1}" rendered="{!lstSCOption1 != null}"/>  
                <apex:selectOptions value="{!lstSCOption2}" rendered="{!lstSCOption2 != null}"/>  
                <apex:selectOptions value="{!lstSCOption3}" rendered="{!lstSCOption3 != null}"/>  
                <apex:selectOptions value="{!lstSCOption4}" rendered="{!lstSCOption4 != null}"/>  
                <apex:selectOptions value="{!lstSCOption}" rendered="{!lstSCOption != null}"/>  
            </apex:selectList>
        </td>
        <!---Site  Partner- Start-->
        <td width="5%" align="right" > 
            <apex:outputLabel >Site Partner</apex:outputLabel>
        </td>
        <td width="5%" align="left" >
            <apex:selectList size="3"  label="Location" value="{!strLocation}"> 
                 <apex:selectOptions value="{!lstOfLocations}"/>                  
            </apex:selectList>
        </td>
        <!--Site  Partner  - End-->
        
        <!---Plan  Start-->
     
        <!-- <td width="5%" align="right" style="display:{!bln_PicklistDisable}"> 
            <apex:outputLabel >Plan Type</apex:outputLabel>
        </td>
        <td width="10%" align="left" style="display:{!bln_PicklistDisable}">
            <apex:selectList size="3"  label="Work Type" value="{!strWorkType}"> 
                <apex:selectOption itemvalue="Inst" itemLabel="Installation"/>
                <apex:selectOption itemvalue="HD"     itemLabel="Field Service"/>
                <apex:selectOption itemvalue="Training"       itemLabel="Training"/> 
                <apex:selectOption itemvalue="CONSLT"     itemLabel="Consulting"/>
                <apex:selectOption itemvalue="PRFSVC"  itemLabel="Professional Services"/>
            </apex:selectList>
        </td> -->
        <!---Work Type End-->
        <td width="5%" align="right"> 
            <apex:outputLabel >Delivery Status</apex:outputLabel>
        </td>
        <td width="5%" align="left">
            <apex:selectList size="3" multiselect="true" label="By Source" value="{!strStatus}"> 
            <apex:selectOption itemLabel="All" itemvalue="All"/>
            <apex:selectOption itemLabel="Backlog" itemvalue="Backlog"/>
            <!-- <apex:selectOption itemLabel="Planned" itemvalue="Planned"/> -->
            <apex:selectOption itemLabel="In-Progress" itemvalue="In-Progress"/>
            <apex:selectOption itemLabel="Completed" itemvalue="Completed"/>
            <apex:selectOption itemLabel="Cancelled" itemvalue="Cancelled"/> 
            <apex:selectOption itemLabel="Expired" itemvalue="Expired"/>
            </apex:selectList>
        </td>
        
        
        <!---Material Group- Start-->
        <td width="5%" align="right" style="display:{!bln_PicklistDisable}"> 
            <apex:outputLabel >Material Group</apex:outputLabel>
        </td>
        <td width="5%" align="left" style="display:{!bln_PicklistDisable}">
            <apex:selectList size="3" multiselect="true" label="Material Group" value="{!strMaterialType}"> 
                <apex:selectOption itemLabel="All" itemvalue="All"/>
                <apex:selectOption itemvalue="H:TRNING"        itemLabel="H:TRNING"/> 
                <apex:selectOption itemvalue="H:EDUCTN"        itemLabel="H:EDUCTN"/>
                <apex:selectOption itemvalue="H:PRFSVC"        itemLabel="H:PRFSVC"/>
                <apex:selectOption itemvalue="H:CONSLT"        itemLabel="H:CONSLT"/>
                <apex:selectOption itemvalue="H:CREDTS"        itemLabel="H:CREDTS"/>
            </apex:selectList>
        </td>
        <!---Material Group- End-->
        
        
        <!---Installed  Product  - Start-->
        <!-- <td width="5%" align="right" > 
            <apex:outputLabel >Installed Product</apex:outputLabel>
        </td>
        <td width="10%" align="left" >
            <apex:selectList size="3"  label="Installed Product" value="{!strIP}"> 
                <apex:selectOptions value="{!lstINSOptn}"/>  
            </apex:selectList> 
        </td> -->
        <!---Installed  Product  - Start-->
    </tr> 
    </table>
         <br/>
          <br/>
            <apex:commandbutton value="Go" styleclass="btn" onclick="return fnSearch()"  style="width:100px"  
             rerender="filters,pnlSOI,pnlSLA,pnlCD,pnlwd,pnlCS" status="loadingStatus"/>          
    </apex:outputPanel>
    <apex:actionfunction name="fnSearch"         action="{!SearchSOI}"  rerender="filters,pnlSLA,pnlCD,pnlSOI,pnlCS,pnlWDC" status="sosearch"/>      
    </apex:actionRegion>
    <apex:actionStatus id="sosearch" style="align:center;" >
        <apex:facet name="start" >
            <img src="/img/loading.gif"  height="20" width="20" />                       
        </apex:facet>
    </apex:actionStatus> 
    <apex:actionRegion id="newac">
    <apex:outputPanel id="Plan"> 
            <div style="display:{!bln_PicklistDisable}">
            </div>
          <br/>
        
    <!--Sales Order Item -->     
            
            <apex:outputPanel id="pnlCD" >
            <apex:outputPanel rendered="{!IF(bln_PicklistDisable=='None',false,true)}">
                <!--<apex:outputText value="{!lstwrpSOI.size}"/>-->
                <apex:pageblockSection id="SOISecion" collapsible="true"  Title="Sales Order Items" columns="1"  >
                    <!-- <apex:pageBlock > --> <!-- No more need for pagination -->
                        <!-- cdelfattore@forefront 9/25/2015 added the pagination buttons -->
                        <!-- <apex:commandButton rendered="{!hasprevious}" value="Previous" action="{!previous}" rerender="SOISecion"/>
                        <apex:commandButton rendered="{!hasnext}" value="Next" action="{!next}" rerender="SOISecion"/>
                    </apex:pageBlock> -->

                    <apex:pageBlockTable title="Sales Order Items" value="{!filteredCounDetailswithProductSOI}" var="counterDtl"
                    >
                        <!--
                        <apex:column >
                            <apex:facet name="header"> <apex:inputCheckbox onclick="checkAll(this,'checkedone');showCounterdetails();" value="{!blnselectAll}" /></apex:facet>
                            <apex:inputCheckbox value="{!soi.blnselSOI}" id="checkedone" onclick="showCounterdetails();">
                            <!-- cdelfattore@forefront 10/12/2015 (mm/dd/yyyy) - using action funciton instead of action support -->
                            <!-- needed to use actionfunction in order for the mass select checkbox to fire the method that filters the deliverables section. -->
                            <!-- <apex:actionSupport event="onchange" action="{!showCounterdetails}" rerender="pnlCD" /></apex:inputCheckbox> -->
                            <!--
                            </apex:inputCheckbox>
                            
                        </apex:column>
                        -->
                        <apex:column width="5%">
                        <apex:inputCheckbox value="{!counterDtl.selected}" disabled="{!counterDtl.disabled}"/>
                        </apex:column>
                        <apex:column id="so"              headerValue="Sales Order" value="{!counterDtl.counterDetail.Sales_Order__c}" />
                        <apex:column id="soi"             headerValue="SO Item"   value="{!counterDtl.counterDetail.Sales_Order_Item__c}"  />
                        <apex:column id="Ussage"                headerValue="Delivery Status" value="{!counterDtl.strUssageStatus}" />
                        <apex:column id="covlimit"       headerValue="Initial"  >
                           <apex:outputText value="{!FLOOR(counterDtl.counterDetail.SVMXC__Coverage_Limit__c)}" id="CovLim"/>
                        </apex:column>
                        <apex:column id="counterreading"  headerValue="Remaining"  > 
                            <apex:outputText value="{!FLOOR(counterDtl.counterDetail.SVMXC__Counter_Reading__c)}" id="theValue2"/>
                        </apex:column>
                        <apex:column id="unitofCounter"  headerValue="Units"  value="{!counterDtl.counterDetail.Units__c}"  width="7%"/>
                        <apex:column id="prodcode"              headerValue="Material #" value="{!counterDtl.counterDetail.Sales_Order_Item__r.Product__r.ProductCode}"  /> 
                        <apex:column id="Material_Description"  headerValue="Material Description" value="{!counterDtl.counterDetail.SVMXC__Counter_Name__c}"   />
                        <apex:column id="MaterialGRp"           headerValue="Material Group"       value="{!counterDtl.counterDetail.SVMXC__Product__r.Material_Group__c}"  />
                        <apex:column id="AcceptanceDate"    headerValue="Acceptance Date"  >
                            <apex:outputText value="{0,date,M'/'d'/'yyyy}">
                                        <apex:param value="{!counterDtl.strAcceptancedate}" /> 
                            </apex:outputText>
                        </apex:column>
                        <apex:column id="coverageEndDate"   headerValue="Expiration Date"  value="{!counterDtl.counterDetail.End_Date__c}"  />
                        <apex:column id="ERPNWA"                headerValue="ERP NWA"             ><a href="/{!strNWA_keyPrefix}?rlid={!$Label.SR_ERPWBS_LookUPID}&id={!counterDtl.strERPWBSID}" target="_blank"><b>{!IF(counterDtl.strNWAName=='' ,'No Available ERP NWA',counterDtl.strNWAName )}</b></a></apex:column>
                        <apex:column id="IntrnlCmt"    width="7px"    headerValue="Internal Comment" value="{!counterDtl.counterDetail.Sales_Order_Item__r.Internal_Comments__c}"  />
                    </apex:pageBlockTable>

                    <apex:actionFunction action="{!showCounterdetails}" name="showCounterdetails" rerender="pnlCD" status="loadingStatus"/>
                </apex:pageblockSection>
                
            </apex:outputPanel>
            </apex:outputPanel>
        
     <!--Contract Table-->    
          <apex:outputPanel id="pnlSLA" >
                <apex:pageblockSection collapsible="true"  Title="Service Contracts" columns="1" id="section_contract">
                <!-- 
                <apex:pageMessage severity="Info" summary="No Information to display" strength="3" rendered="{!NOT(lstWrpProdServices.size > 0)}"></apex:pageMessage> 
              <script>twistSection(document.getElementById("{!$Component.section_contract}").childNodes[0].childNodes[0]); </script>
             <BR/>
                
                 
               <div style="height:5px;padding:5px" >
               </div> 
               -->
     <!--Available Service as entitlements-->     
          
            
                <apex:pageBlockTable value="{!filteredCounDetailswithProductSC}" var="k" columnsWidth="40px,200px,200px,200px,200px,200px,200px,200px,200px,200px,200px">
                   <!-- 
                    <apex:column headervalue="">
                        <!--JW@ff 12-10-15 DE6874 added onclickServiceContractFilter() to onclick js actions-->
                        <!--
                        <apex:facet name="header"><apex:inputCheckbox onclick="checkAllBoxes(this, 'serConChkBox'); onclickServiceContractFilter();" /></apex:facet>
                        <apex:inputCheckbox styleClass="serConChkBox" value="{!k.chkbxVisible}" onclick="onclickServiceContractFilter()"/>
                    </apex:column> <!-- cdelfattore@forefront 10/5/2014 MM/DD/YYYY - added the checkbox variable from the wrapper class back into the page, not sure what the original intent of the checkbox is but I will be using it for filtering the deliverables section of the page. -->
                    <apex:column >
                        <apex:inputCheckbox value="{!k.selected}" disabled="{!k.disabled}"/>
                    </apex:column>
                    <apex:column headervalue="SLA Detail"><a href="/{!k.counterDetail.SLA_Detail__c}" target="_blank">{!k.counterDetail.SLA_Detail__r.Name}</a></apex:column>
                    <!-- <apex:column headervalue="Installed Product Name" value="{!k.strProdName}" /> -->
                    <apex:column headervalue="Service Name " value="{!k.counterDetail.SLA_Detail__r.SVMXC__Available_Services__r.Name}" />
                    <!-- <apex:column headervalue="Service Type " value="{!k.objSLADetail.SVMXC__Available_Services__r.SVMXC__Service_Type__c }" /> -->
                    <apex:column headervalue="Delivery Status" value="{!k.strUssageStatus}" />
                    <apex:column id="covlimit"       headerValue="Initial">
                       <apex:outputText value="{!FLOOR(k.counterDetail.SVMXC__Coverage_Limit__c)}" id="CovLim"/>
                    </apex:column>
                    <apex:column id="counterreading"  headerValue="Remaining" > 
                        <apex:outputText value="{!FLOOR(k.counterDetail.SVMXC__Counter_Reading__c)}" id="theValue2"/>
                    </apex:column>
                    <apex:column id="unitofCounter"     value="{!k.counterDetail.Units__c}" />
                    <apex:column id="MaterialGRp"           headerValue="Material Group"       value="{!k.counterDetail.SVMXC__Product__r.Material_Group__c}" />
                    <!-- <apex:column headervalue="SLA Term " value="{!k.objSLADetail.SVMXC__SLA_Terms__r.Name }" /> 
                    <apex:column headerValue="Location"    value="{!k.objSrvcContrct.Location__r.Name}" /> -->
                    <apex:column headervalue="Start Date " value="{!k.counterDetail.SVMXC__Service_Maintenance_Contract__r.SVMXC__Start_Date__c}" />  
                    <apex:column headervalue="End Date " value="{!k.counterDetail.SVMXC__Service_Maintenance_Contract__r.SVMXC__End_Date__c}" />
                    <apex:column headervalue="Combined Duration" >
                        <apex:outputText value="{!k.counterDetail.Start_Date__c}-{!k.counterDetail.End_Date__c}" id="theValue3"/>
                    </apex:column>
                    <apex:column headervalue="Contract Number "  ><a href="/{!k.counterDetail.SVMXC__Service_Maintenance_Contract__c}" target="_blank">{!k.counterDetail.SVMXC__Service_Maintenance_Contract__r.name}</a></apex:column>
                    <!-- <apex:column value="{!k.objSrvcContrct.ERP_Contract_Type__c }" headerValue="ERP Contract Type"/> -->
                    
                </apex:pageBlockTable> 
                <!--JW@ff 12-10-15 DE6874  add status tag and change action to showcounterdetails from clickservicecontract-->
                <apex:actionFunction action="{!showCounterDetails}" name="onclickServiceContractFilter" reRender="pnlCD" status="loadingStatus"/>
                    </apex:pageblockSection> 
                    
               </apex:outputPanel>
            <BR/>
            <apex:pageBlockSection title="Test" showHeader="true" rendered="false">
                <apex:pageBlockSectionItem >
                    <apex:outputText value="Label" />
                    <apex:outputText value="Value" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection> 
            </apex:outputPanel>
             
     <!-------------Counter Details----------------------------> 
            
             <apex:outputPanel id="pnlSOI">
                <div style="display:{!bln_PicklistDisable}">
                    <apex:commandButton value="Training" action="{!gtProduct}"  rerender="pnlOnsite,msg2,pnlbg, testing" status="counterStatus1">  <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="TRNING" />  </apex:commandButton>
                    <apex:commandButton value="Education"  action="{!gtProduct}" rerender="pnlClass"  status="counterStatus1"> <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="Edu" />  </apex:commandButton>
                    <apex:commandButton value="Consulting" action="{!gtProduct}" rerender="pnlOnsite" status="counterStatus1"> <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="Cons"/>  </apex:commandButton>
                    <apex:commandButton value="Prof. Svc" action="{!gtProduct}" rerender="pnlOnsite" status="counterStatus1"> <apex:param name="firstParam" assignTo="{!strBtnParam}"      value="Prof"/>   </apex:commandButton>
                    <apex:actionStatus id="counterStatus1" style="align:center;" >
                        <apex:facet name="start" >
                            <img src="/img/loading.gif"  height="20" width="20" />                       
                        </apex:facet>
                    </apex:actionStatus>
                </div>
            </apex:outputPanel>
            <!--
               <apex:pageblockSection collapsible="true" Title="Deliverables" columns="1">
                    <apex:pageBlockTable title="Select Credits" value="{!filteredCounDetailswithProduct}" var="counterDtl">
                        <apex:column >
                        <apex:inputCheckbox value="{!counterDtl.selected}" disabled="{!counterDtl.disabled}"/>
                        </apex:column>
                        <apex:column id="so"              headerValue="Sales Order" value="{!counterDtl.counterDetail.Sales_Order__c}" />
                        <apex:column id="soi"             headerValue="SO Item"   value="{!counterDtl.counterDetail.Sales_Order_Item__c}" />
                        <apex:column id="conuterNames"    headerValue="Material Description"      value="{!counterDtl.counterDetail.SVMXC__Counter_Name__c }" />
                        <apex:column id="covlimit"       headerValue="Initial">
                           <apex:outputText value="{!FLOOR(counterDtl.counterDetail.SVMXC__Coverage_Limit__c)}" id="CovLim"/>
                        </apex:column>
                        <apex:column id="counterreading"  headerValue="Remaining" > 
                            <apex:outputText value="{!FLOOR(counterDtl.counterDetail.SVMXC__Counter_Reading__c)}" id="theValue2"/>
                        </apex:column>
                        <apex:column id="unitofCounter"     value="{!counterDtl.counterDetail.Units__c}" />
                        <apex:column id="coverageStartDate" headerValue="Start Date" value="{!counterDtl.counterDetail.Sales_Order__r.Pricing_Date__c}" />
                        <apex:column id="AcceptanceDate"    headerValue="Acceptance Date">
                            <apex:outputText value="{0,date,M'/'d'/'yyyy}">
                                        <apex:param value="{!counterDtl.strAcceptancedate}" /> 
                            </apex:outputText>
                        </apex:column>
                        <apex:column id="coverageEndDate"   headerValue="Expiration Date"  value="{!counterDtl.counterDetail.End_Date__c}" />
                        
                        <apex:column id="MaterialGroup"   headerValue="Material Group"      value="{!counterDtl.counterDetail.SVMXC__Product__r.Material_Group__c }" />
                        <apex:column id="Nwa"             headerValue="ERP NWA"             value="{!counterDtl.strNWAName}" />
                        <apex:column id="NwaEstimated"    headerValue="ERP Budget"  value="{!counterDtl.strEstimatedWork}" />
                        <apex:column id="contractFor"    headerValue="Service Contract"   value="{!counterDtl.counterDetail.SVMXC__Service_Maintenance_Contract__c}" />
                        <apex:column id="counterName"    value="{!counterDtl.counterDetail.Name}" style="cursor: pointer;" onclick="window.open('{!$Label.SR_InstanceURL}apex/counterpopup?id={!counterDtl.counterDetail.id}','popUpWindow','height=400,width=1000,left=180,top=200,resizable=yes,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no, status=yes');" />   
                        <apex:column id="Status"  headerValue="Active" value="{!counterDtl.counterDetail.SVMXC__Active__c }" />
                        <apex:column id="IntrnlCmt"        headerValue="Internal Comment" value="{!counterDtl.counterDetail.Internal_Comments__c}" />
                        
                        <!-- <apex:column id="AcceptanceDate" headerValue="Acceptance date" value="{!counterDtl.strAcceptancedate}" /> -->
                        
                        
                        
                        <!-- <apex:column id="HLI"               headerValue="Higher level Item"   value="{!counterDtl.counterDetail.Sales_Order_Item__r.Parent_Item__c}" /> -->
                        <!-- <apex:column id="InstalledProduct"  headerValue="Installed Product"   value="{!counterDtl.counterDetail.SVMXC__Installed_Product__c}" /> -->
                        
                        <!-- <apex:column id="accountFor"        value="{!counterDtl.counterDetail.Account__c}" /> -->
                        <!-- <apex:column id="CoverageReading"   headerValue="Usage"   value="{!counterDtl.counterDetail.SVMXC__Counter_Definition__c}" /> -->
                    <!--    
                    </apex:pageBlockTable>
                </apex:pageblockSection>
                <br/>
    <!-----Button for Trainig/EduCation/Consulting------------------------>      
    <!--    
                <div style="display:{!bln_PicklistDisable}">
                    <apex:commandButton value="Training" action="{!gtProduct}"  rerender="pnlOnsite,msg2,pnlbg, testing" status="counterStatus">  <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="TRNING" />  </apex:commandButton>
                    <apex:commandButton value="Education"  action="{!gtProduct}" rerender="pnlClass"  status="counterStatus"> <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="Edu" />  </apex:commandButton>
                    <apex:commandButton value="Consulting" action="{!gtProduct}" rerender="pnlOnsite" status="counterStatus"> <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="Cons"/>  </apex:commandButton>
                    <apex:commandButton value="Prof. Svc" action="{!gtProduct}" rerender="pnlOnsite" status="counterStatus"> <apex:param name="firstParam" assignTo="{!strBtnParam}"      value="Prof"/>   </apex:commandButton>
                    <apex:actionStatus id="counterStatus" style="align:center;" >
                        <apex:facet name="start" >
                            <img src="/img/loading.gif"  height="20" width="20" />                       
                        </apex:facet>
                    </apex:actionStatus>
                </div>
                


             </apex:outputPanel> -->
            <!--<apex:actionfunction name="fnshowProfessional" action="{!gtProduct}" rerender="pnlOnsite" > <apex:param name="firstParam" assignTo="{!strBtnParam}" value="Prof"/>   </apex:actionfunction> 
            <apex:actionfunction name="fnshowConsulting" action="{!gtProduct}" rerender="pnlOnsite" >  <apex:param name="firstParam" assignTo="{!strBtnParam}"     value="Cons"/>  </apex:actionfunction> 
            <apex:actionfunction name="fnshowclass"      action="{!gtProduct}" rerender="pnlClass" >  <apex:param name="firstParam" assignTo="{!strBtnParam}"          value="Edu" />  </apex:actionfunction>      
            <apex:actionfunction name="fnshowpp"         action="{!gtProduct}"  rerender="pnlOnsite"> <apex:param name="firstParam" assignTo="{!strBtnParam}"            value="TRNING" />  </apex:actionfunction>--->

    </apex:actionRegion>
             <!-------------Work Details cONTACT tABLE----------------------------> 
             <apex:outputPanel id="pnlWDC">  
             <apex:outputPanel >
            
                <apex:pageblockSection collapsible="true" Title="Overview of Trainings" columns="1">
                    <apex:commandButton value="Export to Excel" action="{!export2excel}"/>    
                    <apex:pageblockSection collapsible="true" Title="Applications/Consulting" columns="1">
                        <apex:pageBlockTable value="{!lstwrpOnsite}" var="k" >
                            <apex:column headerValue="Sales Order/Contract #" value="{!k.strSalesOrder}"/>
                            <!--<apex:column headerValue="SO Item/Line #" value="{!k.strSalesOrderItem}" />  columnsWidth="50px,100px,100px,100px,100px,100px,100px" -->
                            <apex:column headerValue="Material Description" value="{!k.strTrainingName}" />
                            <!-- <apex:column headerValue="Trainer" value="{!k.strTrainer1}" /> -->
                            <apex:column headerValue="Order Status" value="{!k.woOrderStatus}"/>
                            <!--
                            <apex:column headerValue="Cancel">
                                <apex:inputCheckbox value="{!k.wdCancel}" disabled="true"/>
                            </apex:column>
                            <apex:column headerValue="Completed">
                                <apex:inputCheckbox value="{!k.wdCompleted}" disabled="true"/>
                            </apex:column> -->
                            <!--
                            <apex:column id="strtdateIwo"    headerValue="Start Date of WO">
                            <apex:outputText value="{0,date,M'/'d'/'yyyy}">
                                        <apex:param value="{!k.strStartDateofIWO}" /> 
                            </apex:outputText>
                        </apex:column>
                        <apex:column id="enddateIwo"    headerValue="End Date of WO">
                            <apex:outputText value="{0,date,M'/'d'/'yyyy}">
                                        <apex:param value="{!k.strEndDateofIWO}" /> 
                            </apex:outputText> 
                        </apex:column> -->
                            <!-- <apex:column headerValue="Start Date of IWO" value="{!k.strStartDateofIWO}"/>
                            <apex:column headerValue="End Date of IWO" value="{!k.strEndDateofIWO}" /> -->
                            <!-- <apex:column headerValue="Work Detail" ><a href="/{!k.strWOId}" target="_blank">{!k.strWorkDetail}</a></apex:column> -->
                            <apex:column headerValue="PWO Number" ><a href="/{!k.iwoId}" target="_blank">{!k.woName}</a></apex:column>
                            <apex:column headerValue="IWO's Available" >
                            <apex:inputcheckbox value="{!k.hasIWO}" disabled="true"/>
                            </apex:column>
                        </apex:pageBlockTable>
                    </apex:pageblockSection>
                    
                    <apex:pageblockSection collapsible="true" Title="Classroom" columns="1">
                    <apex:pageBlockTable value="{!lstwrpWorkDetail}" var="k" > <!-- columnsWidth="50px,50px,50px,100px,200Px" -->
                    
                        <apex:column headerValue="Sales Order/Contract #"      value="{!k.strso}" />
                        <apex:column headerValue="SO Item/Line #" value="{!k.strsoi}" />
                        <apex:column headerValue="Material Description"    value="{!k.strCountName}"  />
                        <apex:column headerValue="Coupon #" width="100px"  value="{!k.objworkDetail.ERP_Reference__c}" />
                        <apex:column headerValue="Attendee" width="300px">
                        {!k.strContactName.Participant_First_Name__c} &nbsp; {!k.strContactName.Participant_Last_Name__c}
                        </apex:column>
                        <apex:column headerValue="Course ID"           value="{!k.objworkDetail.Course_ID__c}"  />
                        <!-- <apex:column headerValue="Location"        value="{!k.strContactName.Facility__c}" /> -->
                      <!--  <apex:column id="expdateNWA"    headerValue="Expiration Date" value="{!k.NWAexpdate}" /> -->
                        <apex:column id="strtdateEvt"    headerValue="Event Start" value="{!k.dtStartDate}" />
                        <apex:column id="enddateEvt"    headerValue="Event End" value="{!k.dtEndDate}" />
                            <!-- <apex:outputText value="{0,date,M'/'d'/'yyyy}">
                                        <apex:param value="{!k.dtStartDate}" />  
                            </apex:outputText> -->
                        <!-- </apex:column>
                        <apex:column id="enddateEvt"    headerValue="Event End Date" value="{!k.dtEndDate}">
                            <!-- <apex:outputText value="{0,date,M'/'d'/'yyyy}">
                                        <apex:param value="{!k.dtEndDate}" /> 
                            </apex:outputText> -->
                        <!-- </apex:column>
                        <!-- <apex:column headerValue="" value="{!k.dtStartDate}"  />  
                        <apex:column headerValue="Classroom Event End Date " value="{!k.dtEndDate}" /> -->
                        <apex:column headerValue="Work Detail"     ><a href="/{!k.objworkDetail.id}" target="_blank">{!k.objworkDetail.name}</a></apex:column>
                        <!--    <apex:column >

                            
                            <apex:facet name="header">
                                <apex:panelGrid columns="7" border="0" style="border-bottom:inherit" rules="groups" cellpadding="0" cellspacing="0"  width="100%" columnClasses="col1Class1,col1Class2,col1Class3,col1Class4,col1Class5,col1Class6,col1Class7">
                                        <apex:outputText style="col1Class1"><b>Reference </b></apex:outputText> 
                                        <apex:outputText style="col1Class2"><b>Usage</b></apex:outputText> 
                                        <apex:outputText style="col1Class3"><b>Unit Type</b></apex:outputText> 
                                        <apex:outputText style="col1Class4"><b>Participant</b></apex:outputText> 
                                        <apex:outputText style="col1Class5"><b>Status</b></apex:outputText> 
                                        <apex:outputText style="col1Class6"><b>Counter Name</b></apex:outputText>
                                        <apex:outputText style="col1Class7"><b>Line Number</b></apex:outputText>
                                </apex:panelGrid>
                            </apex:facet>
                            
                            <apex:repeat value="{!k.lstwrpWD_withinwrap}" var="t" rendered="{!k.lstwrpWD_withinwrap.size >0}">
                            

                            
                                <apex:panelGrid border="0" style="border-bottom:none;padding:0px" columns="7" width="100%" columnClasses="col1Class1,col1Class2,col1Class3,col1Class4,col1Class5,col1Class6,col1Class7">
                                    <apex:outputText style="col1Class1" value="{!t.strERPReference}"></apex:outputText> 
                                    <apex:outputText style="col1Class2" value="{!t.objworkDetail.Counter_Used__c}"></apex:outputText> 
                                    <apex:outputText style="col1Class3" value="{!t.strUnit }"></apex:outputText> 
                                    <apex:outputText style="col1Class4" value="{!t.strContactName.Contact__r.Name}"></apex:outputText> 
                                    <apex:outputText style="col1Class5" value="{!t.strContactName.Status__c}"></apex:outputText> 
                                    <apex:outputText style="col1Class6" value="{!t.strCountName }"></apex:outputText>
                                    <apex:outputText style="col1Class7" value="{!t.objworkDetail.Name }"></apex:outputText>
                                </apex:panelGrid>
                            </apex:repeat>
                            <apex:panelGrid rowClasses="rowstyle" columns="7" border="0"  style="border-bottom-style:hidden" rules="groups"   width="100%" columnClasses="col1Class1,col1Class2,col1Class3,col1Class4,col1Class5,col1Class6,col1Class7" rendered="{!k.lstwrpWD_withinwrap.size =0}">
                                        <apex:outputText style="col1Class1" value="{!k.strERPReference}"></apex:outputText> 
                                        <apex:outputText style="col1Class2" value="{!k.objworkDetail.Counter_Used__c}"></apex:outputText> 
                                        <apex:outputText style="col1Class3" value="{!k.strUnit }"></apex:outputText> 
                                        <apex:outputText style="col1Class4" ></apex:outputText> 
                                        <apex:outputText style="col1Class5" ></apex:outputText> 
                                        <apex:outputText style="col1Class6" value="{!k.strCountName }"></apex:outputText>
                                        <apex:outputText style="col1Class7" value="{!k.objworkDetail.Name }"></apex:outputText>
                            </apex:panelGrid>
                             
                           
                        </apex:column> -->
                        
                        <!-- TA7694 Only column status from commented Column code above-->
                        <apex:column headerValue="Status"        value="{!k.status}"/>
                         <!--
                         <apex:column >
                            <apex:facet name="header">
                                <apex:panelGrid columns="7" border="0" style="border-bottom:inherit" rules="groups" cellpadding="0" cellspacing="0"  width="100%" columnClasses="col1Class1,col1Class2,col1Class3,col1Class4,col1Class5,col1Class6,col1Class7">
                                        <apex:outputText style="col1Class5"><b>Status</b></apex:outputText> 
                                </apex:panelGrid>
                            </apex:facet>
                            <!--commented CM 
                            <apex:repeat value="{!k.lstwrpWD_withinwrap}" var="t" rendered="{!k.lstwrpWD_withinwrap != null && k.lstwrpWD_withinwrap.size > 0}"> <!-- JW@ff 1-4-16 DE6953 added null check in rendered to fix error caused by null lstwrpWD_withinwrap on wrpWorkDetail (k) commented CM --> 
                            <!-- 
                             <apex:panelGrid border="0" style="border-bottom:none;padding:0px" columns="7" width="100%" columnClasses="col1Class1,col1Class2,col1Class3,col1Class4,col1Class5,col1Class6,col1Class7">
                                 <apex:outputText style="col1Class5" value="{!k.strContactName.Registration_Status__c}"></apex:outputText> 
                             </apex:panelGrid> -->
                         <!-- </apex:repeat>  commented CM -->
                        
                        <!-- </apex:column>  -->
                        
                    </apex:pageBlockTable>
                    </apex:pageblockSection><BR/>  
                </apex:pageblockSection>
            </apex:outputPanel>
            </apex:outputPanel>
     <!-------------Counter Summary---------------------------->   
     <!--
            <apex:outputPanel id="pnlCS" >
                <apex:pageblockSection collapsible="true" Title="Deliverables Summary" columns="1" id="Deliver_Summary">
                    <script>twistSection(document.getElementById("{!$Component.Deliver_Summary}").childNodes[0].childNodes[0]); </script>
                    <apex:repeat value="{!lstTrinConsolidate}" var="dirKey">
                        <apex:pageblockSection collapsible="true" Title="{!dirKey.strTrainingName}" columns="5">
                            <apex:pageBlockTable value="{!dirKey.lsttemp}" var="varCS1"   >
                                <apex:column id="Cunit1"  headervalue="Unit"  value="{!varCS1.strUnitType}" /> 
                                <apex:column id="CounterName1"         headervalue="Remaining"><apex:outputText value="{!FLOOR(varCS1.sumCounterReading)}"/></apex:column>
                                <apex:column id="CounterSold1"         headervalue="Initials"><apex:outputText value="{!FLOOR(varCS1.strSumTotalSold)}" /></apex:column>    
                            </apex:pageBlockTable>
                        </apex:pageblockSection>
                    </apex:repeat>
                </apex:pageblockSection>   
            </apex:outputPanel>
        -->
       <!------Onsite application Training Start------------------------------------>    
            
            
            <!--<apex:actionRegion id="acr2" renderRegionOnly="false">-->
           
      
            <apex:outputPanel id="pnlOnsite"  style="overflow:auto;">
                        
                       <apex:outputPanel id="pnlbg" styleClass="popupBackground" layout="block" rendered="{!displaypnlOnsite}"/> 
                       
                      
                        <div style="display:{!IF(displaypnlOnsite==True ,'block','none')}" Class="custPopup">
                        <!--<apex:outputPanel id="pnlpop" styleClass="custPopup" layout="block" >-->
                        <apex:pageblock id="pb1" title="{!strTitle}" tabstyle="Account" >
                            
                        <apex:outputPanel id="Ermsg1" rendered="{!disPlayError}"> 
                            <font style="color:red"><b>{!strErrorMessage}</b></font>
                        </apex:outputPanel>
                        <apex:outputPanel id="Ermsg3" rendered="{!disPlayError}">                      
                            <font style="color:red"><b>{!strErrorMessage2}</b></font>
                        </apex:outputPanel>
                        <apex:outputPanel id="Ermsg2" rendered="{!disPlayError}">                      
                                   <font style="color:red"><b>{!strErrorMessage2}</b></font>
                        </apex:outputPanel>
                        <apex:outputPanel id="Ermsg4" rendered="{!disPlayError}">                      
                                   <font style="color:red"><b>{!strAdvErrorMessage}</b></font>
                        </apex:outputPanel>
                        <br/>
                        <br/>
                                <apex:pageBlockSection title="Count  - {!intcountSum} Available" collapsible="true" columns="1" rendered="{!lstProdTraining_Count.size >0}">
                                
                                    <apex:pageblockTable id="pbt1" value="{!lstProdTraining_Count}" var="k" >
                                        <apex:column >
                                            <apex:inputCheckbox value="{!k.blnselprod}"  ></apex:inputCheckbox> 
                                        </apex:column>
                                        <apex:column value="{!k.ObjProd.Name}"/>
                                        <apex:column value="{!k.ObjProd.Material_Group__c}" />
                                        <!-- <apex:column value="{!k.ObjProd.Budget_Hrs__c}" /> -->
                                        <apex:column value="{!k.ObjProd.ProductCode}"/>
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                <apex:pageBlockSection title="Hours - {!intHrsSum} Available" columns="1" collapsible="true" rendered="{!if(lsthrs.size==0,false,true)}">
                                    <apex:pageblockTable id="pbt2" value="{!lsthrs}" var="varhrs" >
                                        <apex:column >
                                            <apex:inputText value="{!varhrs.usrval}"  style="width:40px" >
                                        </apex:inputText>
                                                  
                                <apex:actionStatus id="CreateEvent2" style="align:center;" >
                                    <apex:facet name="start" >
                                            <img src="/img/loading.gif"  height="20" width="20" />                       
                                    </apex:facet>
                                </apex:actionStatus>
                                        </apex:column>
                                        <apex:column value="{!varhrs.ObjProd.Name}"/>
                                        <apex:column value="{!varhrs.ObjProd.Material_Group__c}" />
                                        <!-- <apex:column value="{!varhrs.ObjProd.Budget_Hrs__c}" /> -->
                                        <apex:column value="{!varhrs.ObjProd.ProductCode}"/>
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                
                                <br/>
                                <apex:pageBlockSection title="Credit  - {!strNonAdvantage} Available" collapsible="true" columns="1"  rendered="{!lstProdTraining_Flex.size >0}">
                                    <apex:pageblockTable id="pbt3" value="{!lstProdTraining_Flex}" var="k">
                                        <!-- <apex:column headerValue="Days"> -->
                                        <apex:column id="checkSelect" >
                                                <input type="radio" name="productradio" onclick="selectedrecord('{!k.ObjProd.id}');"  /> 
                                            </apex:column>
                                        <apex:column >
                                           <apex:inputText value="{!k.usrval}"  style="width:40px" ></apex:inputText>
                                        </apex:column>
                                        <apex:column value="{!k.ObjProd.Name}"/>
                                        <apex:column value="{!k.ObjProd.Material_Group__c}" />
                                        <!-- <apex:column value="{!k.ObjProd.Budget_Hrs__c}" /> -->
                                        <apex:column value="{!k.ObjProd.Credit_s_Required__c}" rendered="{!If(OR(strBtnParam =='Cons',strBtnParam =='Prof'),false,true) }"/>
                                        <apex:column value="{!k.ObjProd.Advantage_Credits_Required__c}" rendered="{!!If(OR(strBtnParam =='Cons',strBtnParam =='Prof'),false,true) }"/>
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                <br/>
                                
                    
                                <apex:pageBlockSection collapsible="true" title="Advantage Credit -{!strAdvantage} Available" columns="1" rendered="{!lstProdTraining_Advantage.size > 0}">
                                    <apex:pageblockTable id="pbt4" value="{!lstProdTraining_Advantage}" var="k" rendered="{!lstProdTraining_Advantage.size >0}">
                                        <apex:column >
                                           <!-- <apex:inputText value="{!k.usrval}"  style="width:40px" ></apex:inputText> --> <apex:inputCheckbox value="{!k.blnselprod}"/> 
                                        </apex:column>
                                        <!-- DE6552 - JW@ff 1-7-16 modified since advantage list now holds wrpNWA wrappers-->
                                        <!-- <apex:column value="{!k.ObjProd.Name}"/>
                                        <apex:column value="{!k.ObjProd.Material_Group__c}" />
                                        <apex:column value="{!k.ObjProd.Budget_Hrs__c}" />
                                        <apex:column value="{!k.ObjProd.Credit_s_Required__c}"/>
                                        <apex:column value="{!k.ObjProd.Advantage_Credits_Required__c}"/> -->
                                        <apex:column value="{!k.ObjNWA.Description__c}"/>
                                        <apex:column value="{!k.ObjNWA.name}"/>
                                        <apex:column headerValue="Credits Required" value="{!k.ObjNWA.ERP_Estimated_Work__c}" />
                                       <!-- DE7132  <apex:column value="{!k.ObjNWA.Product__r.Material_Group__c}" />
                                        <apex:column value="{!k.ObjNWA.Product__r.Budget_Hrs__c}" />
                                        <apex:column value="{!k.ObjNWA.Product__r.Credit_s_Required__c}"/>
                                        <apex:column value="{!k.ObjNWA.Product__r.Advantage_Credits_Required__c}"/> --> 
                                        
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                <apex:pageBlockSection title="Contact" collapsible="true" columns="2">
                                        <apex:inputfield value="{!objWorkOrderContact.SVMXC__Contact__c}" />
                                        <!-- <apex:commandButton action="{!NewContact}" value="New Contact"/> -->
                                        <apex:inputfield value="{!objWorkOrderContact.Contact2__c}" />
                                        <!-- <apex:inputfield value="{!objWorkOrderContact.SVMXC__Preferred_Start_Time__c}"/>
                                        <apex:inputfield value="{!objWorkOrderContact.SVMXC__Preferred_End_Time__c}"/> -->
                                        <apex:inputfield value="{!objWorkOrderContact.Subject__c}" />
                                        <apex:selectList size="3"  label="Location" value="{!str_Location}"> 
                                             <apex:selectOptions value="{!lstOfLocations}"/>                  
                                        </apex:selectList>
                                        <apex:selectList size="3"  label="ServiceTeam" value="{!str_ServiceTeam}" id="serviceTeam"> 
                                            <apex:selectOptions value="{!ListOfTrainingServiceTeams}"/>                  
                                        </apex:selectList>
                                        <script type="text/javascript">
                                            var $j = jQuery.noConflict();
                                            $j(document).ready(function() {
                                                $j("select[id$=serviceTeam]").chosen();
                                            });
                                        </script>
                                        <!--
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Service Team Name" for="serviceTeam" />
                                            <apex:outputPanel >
                                                <apex:inputText id="serviceTeamTextBoxId" value="{!searchServiceTeam}" styleClass="placeHolder"/>
                                                <apex:inputHidden id="searchServiceTeamId" value="{!selectedServiceTeam}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        -->
                                        <apex:inputText label="SWO/JO" value="{!str_SWO}"/>

                                        
                                       <!-- <apex:pageMessages id="showmsg"></apex:pageMessages> --> 
                                        
                                </apex:pageBlockSection>
            <!--
            <script type="text/javascript">
                var $j = jQuery.noConflict();
                j$(document).ready(function() {
                    j$("select[id$=serviceTeam]").chosen();
                });
                var config = {
                   '.chosen-select'           : {},
                   '.chosen-select-deselect'  : {allow_single_deselect:true},
                   '.chosen-select-no-single' : {disable_search_threshold:10},
                   '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                   '.chosen-select-width'     : {width:"95%"}
                }
                for (var selector in config) {
                   $j(selector).chosen(config[selector]);
                }
                 
                $j('#datepicker_div .input-daterange').datepicker({
                     todayBtn: true,
                     autoclose:true
                });
            </script>    
         
      
            <!-- # AutoComplete.page -->
            <!--
            <script type="text/javascript">
               var $j = jQuery.noConflict();
               
               $j(document).ready(function() {
                        jQuery('.requiredLegend span').hide();
                 
                        console.log('inside');
                        var PLACEHOLDER = 'Enter Service Team Name Here'; 
                        var serviceTeams;
                        var queryTerm ='';
                        
                        $j('[id$=serviceTeamTextBoxId]').autocomplete({
                            minLength: 0,
                            source: function(request, response) {
                                        console.log('inside 1');
                                        queryTerm = request.term;
                                        SR_ViewEntitlement_CM.searchServiceTeams(request.term, function(result, event){
                                            if(event.type == 'exception') {
                                                  alert(event.message);
                                           } else {
                                                 serviceTeams = result;
                                                 response(serviceTeams);
                                           }
                                        });
                                   },
                            focus: function( event, ui ) {
                                    $j('[id$=serviceTeamTextBoxId]').val(ui.item.Name);
                                    return false;
                                    },
                            select: function( event, ui ) {
                                    console.log('inside 3');
                                        $j('[id$=serviceTeamTextBoxId]').val(ui.item.Name);
                                        $j('[id$=searchServiceTeamId]').val(ui.item.Id);
                                        return false;
                                    },
                         })
                        .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                            console.log('inside 4');
                            var entry = "<a>" + item.Name;
                            entry = entry + "</a>";
                            entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
                            return $j( "<li></li>" )
                                .data( "ui-autocomplete-item", item )
                                .append( entry )
                                .appendTo( ul );
                        };
                            
                        // Add or remove placeholder values
                        $j('[id$=serviceTeamTextBoxId]').val(PLACEHOLDER);
                        $j('[id$=serviceTeamTextBoxId]').on("focus",  function(event){
                            $tgt = $j(event.target);
                            if($tgt.val() === PLACEHOLDER ){
                                $tgt.val('');
                                $tgt.removeClass('placeHolder');
                            }
                        });
                        $j('[id$=serviceTeamTextBoxId]').on( "blur",  function(event){
                            $tgt = $j(event.target);
                            if($tgt.val() === '' ){
                                $tgt.val(PLACEHOLDER);
                                $tgt.addClass('placeHolder');
                            }
                        });
                        $j('[id$=serviceTeamTextBoxId]').on( "change",  function(event){
                            $tgt = $j(event.target);
                            if($tgt.val() === '' ){
                                $tgt.val(PLACEHOLDER);
                                $tgt.addClass('placeHolder');
                    }
                });

               });
                
            </script>    
            <!-- <apex:selectList size="1"  label="ServiceTeam" value="{!str_ServiceTeam}"> 
                 <apex:selectOptions value="{!ListOfTrainingServiceTeams}"/>                  
            </apex:selectList> -->
            
        
                                
                              <br/>
                                    <!-- <input type="button" value="Get Total Hrs"  class="btn"  Onclick="fnTotal1();return false;"/> -->
                                <apex:commandButton value="Create Work Order"   action="{!createWorkOrder}"  status="CreateEvent1"/>   
                               <!-- <apex:commandButton value="Close" onclick="fnClosePopup();return false;"  /> -->
                               <apex:commandButton value="Close" action="{!closePopup}" rerender="pnlOnsite" status="CreateEvent1"/> 
                               
                        <apex:actionStatus id="CreateEvent1" style="align:center;" >
                            <apex:facet name="start" >
                                    <img src="/img/loading.gif"  height="20" width="20" />                       
                            </apex:facet>
                        </apex:actionStatus>&nbsp;
                       
                            </apex:pageblock>
                            
                            
                        <!--</apex:outputPanel>-->
                        </div>
            </apex:outputPanel>         
             
             <!--</apex:actionRegion>-->
             
              <apex:actionRegion id="acr3">
        <!------Onsite application Training End------------------------------------>
            
            
        <!------Classroom Training Start-------------------------------------------------->   
     <apex:outputPanel id="pnlClass"  style="overflow:auto">
            <apex:inputhidden value="{!strProductId}" id="strProductId"/>
            <apex:inputhidden value="{!strevent}" id="strevent"/>
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPnlClass}"/>
                        <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPnlClass}">
                            <apex:pageblock title="Classroom Training" mode="Edit" id="pb2">
                            <br/>
                                <apex:outputPanel id="Ermsg1" rendered="{!disPlayError}">
                                    <font style="color:red"><b>{!strErrorMessage}</b></font>
                                </apex:outputPanel>
                                <br/>
                                <!--filter for classroom -->
                                
                                <apex:pageBlockSection title="Filter"  columns="2" rendered="{!lstProdTraining_Advantage.size == 0 && lstProdEducation.size == 0}">
                                       <!--  <table width="80%">
    <tr>

       <td width="5%" align="right" style="display:{!bln_PicklistDisable}"> 
            <apex:outputLabel >Training Type</apex:outputLabel>
        </td> 
        <td width="5%" align="left" >-->
            <apex:selectList size="3" label="Training Type"   value="{!strTrningType}"> 
                <apex:selectOptions value="{!optionsTrainingType}"/>  
            </apex:selectList>
        <!-- </td> -->
        <!---Site  Partner- Start--------------------->
        <!-- <td width="5%" align="right" > 
            <apex:outputLabel >Training Region</apex:outputLabel>
        </td> -->
        <!-- <td width="5%" align="left" > -->
            <apex:selectList size="3"  label="Training Region" value="{!strTrningRegion}" multiselect="true"> 
                 <apex:selectOptions value="{!optionsTrainingRegion}"/>                  
            </apex:selectList>
        <!-- </td>
    </tr> 
    </table>-->
                                        <!-- <apex:inputfield value="{!objProduct2.Training_Type__c}" />
                                        <apex:inputfield value="{!objProduct2.Training_Region__c}" /> -->
                                        
                                        
                                        <apex:commandButton value="Search Course" action="{!gtClassRoomProduct}" status="pickstatus" rerender="pnlClass" />  
                                        <apex:actionStatus id="pickstatus" style="align:center;" >
                                            <apex:facet name="start" >
                                                    <img src="/img/loading.gif"  height="20" width="20" />                       
                                            </apex:facet>
                                        </apex:actionStatus> 
                                        
                                </apex:pageBlockSection>
                                
                                <!--section  for classroom when count selected-->
                                
                                <apex:pageBlockSection title="Count  - {!intcountSum} Available" collapsible="true" columns="1" rendered="{!lstProdTraining_Class.size >0 && lstProdEducation.size == 0}">
                                    <apex:pageblockTable id="pbt5" value="{!lstProdTraining_Class}" var="k" rendered="{!lstProdTraining_Class.size >0 && lstProdEducation.size == 0}">
                                                <apex:column id="checkSelect" >
                                                    <input type="radio" name="productradio" onclick="selectedrecord('{!k.ObjProd.id}');"  /> 
                                                </apex:column>
                                                <apex:column headervalue="Course Name" value="{!k.ObjProd.Name}"/>
                                                <apex:column headervalue="Course Code" value="{!k.ObjProd.Course_Code__c}" />
                                                <!-- JW@ff 12/9/15 removed per DM on DE6290 -->
                                                <!-- <apex:column headervalue="Credit's Required" value="{!k.ObjProd.Credit_s_Required__c}"/>
                                                <apex:column headervalue="Advantage Credit's Required" value="{!k.ObjProd.Advantage_Credits_Required__c}"/> -->
                                                <apex:column headervalue="Region" value="{!k.ObjProd.Training_Region__c}"/>
                                                
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                
                                <!--section  for classroom when Credit selected-->
                                <apex:pageBlockSection collapsible="true" title="Flex Credit  - {!strNonAdvantage} Available " columns="1" rendered="{!lstProdTraining_Flex.size >0}">
                                    <apex:pageblockTable id="pbt6" value="{!lstProdTraining_Flex}" var="k" rendered="{!lstProdTraining_Flex.size >0}">
                                            
                                            <apex:column id="checkSelect" >
                                                <input type="radio" name="productradio" onclick="selectedrecord('{!k.ObjProd.id}');"  /> 
                                            </apex:column>
                                            <apex:column >
                                               <apex:inputText value="{!k.usrval}"  style="width:40px" ></apex:inputText>
                                            </apex:column>
                                            <apex:column headervalue="Course Name" value="{!k.ObjProd.Name}"/>
                                            <apex:column headervalue="Course Code" value="{!k.ObjProd.Course_Code__c}" />
                                            <apex:column headervalue="Credit's Required" value="{!k.ObjProd.Credit_s_Required__c}"/>
                                            <!--apex:column headervalue="Advantage Credit's Required" value="{!k.ObjProd.Advantage_Credits_Required__c}"/ -->
                                            <apex:column headervalue="Region" value="{!k.ObjProd.Training_Region__c}"/>
                                        </apex:pageblockTable>
                                </apex:pageBlockSection>
                                <apex:pageBlockSection collapsible="true" title="Advantage Credit - {!strAdvantage} Available" columns="1" rendered="{!lstProdTraining_Advantage.size > 0}">
                                    <apex:outputText value="For information purposes only.  Action is initiated via LMS" />
                                    <apex:pageblockTable id="pbt7" value="{!lstProdTraining_Advantage}" var="k" rendered="{!lstProdTraining_Advantage.size >0}">
                                       <!-- <apex:column id="checkSelect"> -->
                                            <!-- <input type="radio" name="productradio" onclick="selectedrecord('{!k.ObjProd.id}');"  disabled="{!IF(k.displayInfoOnly,'disabled','')}"/> --> <!-- US5099 - JW@ff 10-16-2015 only display based on displayInfoOnly field on wrpProd. Don't show checkbox if that field is true -->
                                            <!-- DE6552 - JW@ff 1-7-16 modified since advantage list now holds wrpNWA wrappers-->
                                            <!--<input type="radio" name="productradio" onclick="selectedrecord('{!k.ObjNWA.Product__c}');"  disabled="{!IF(k.displayInfoOnly,'disabled','')}"/>
                                        </apex:column>  -->
                                        <!-- DE6552 - JW@ff 1-7-16 modified since advantage list now holds wrpNWA wrappers-->
                                        <!-- <apex:column value="{!k.ObjProd.Name}"/>
                                        <apex:column value="{!k.ObjProd.Course_Code__c}" />
                                        <apex:column value="{!k.ObjProd.Material_Group__c}" />
                                        <apex:column value="{!k.ObjProd.Budget_Hrs__c}" />
                                        <apex:column value="{!k.ObjProd.Credit_s_Required__c}"/>
                                        <apex:column value="{!k.ObjProd.Advantage_Credits_Required__c}"/> -->
                                        <apex:column value="{!k.ObjNWA.Description__c}"/>                                       
                                        <apex:column value="{!k.ObjNWA.Product__r.Course_Code__c}" />
                                        <apex:column value="{!k.ObjNWA.name}" headervalue="Coupon #"/>
                                        <!-- DE7132 <apex:column value="{!k.ObjNWA.Product__r.Material_Group__c}" />
                                        <apex:column value="{!k.ObjNWA.Product__r.Budget_Hrs__c}" />
                                        <apex:column value="{!k.ObjNWA.Product__r.Credit_s_Required__c}"/>
                                        <apex:column value="{!k.ObjNWA.Product__r.Advantage_Credits_Required__c}"/> -->
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                <apex:pageBlockSection collapsible="true" title="Education " columns="1" rendered="{!lstProdEducation.size > 0}">
                                    <apex:outputText value="For information purposes only.  Action is initiated via LMS" />
                                    <apex:pageblockTable id="pbt8" value="{!lstProdEducation}" var="k" rendered="{!lstProdEducation.size > 0}">
                                        <apex:column value="{!k.ObjNWA.Description__c}"/>                                       
                                        <apex:column value="{!k.ObjNWA.Product__r.Course_Code__c}" />
                                        <apex:column value="{!k.ObjNWA.name}" headervalue="Coupon #"/>
                                    </apex:pageblockTable>
                                </apex:pageBlockSection>
                                <!-- commented 
                                <br/>
                                <apex:outputPanel id="Ermsg" rendered="{!disPlayError}">
                                    <font style="color:red"><b>{!strErrorMessage}</b></font>
                                </apex:outputPanel>
                                <br/> -->
                                
                                <!-- JW@ff 12-9-15 removed per DM on DE6290 -->
                                <!--section  for classroom when Event  -->
                                <!-- <apex:pageblockTable value="{!lstRPevt}" var="e" id="evttable" >
                                    <apex:column >
                                        <input type="radio" name="countRadio" onclick="selectedevent('{!e.Objevt.id}');"  />
                                    </apex:column>
                                    <apex:column value="{!e.Objevt.Subject}"       headervalue="Class name"/>
                                    <apex:column value="{!e.Objevt.StartDateTime}" headervalue="Start Date"/>
                                    <apex:column value="{!e.Objevt.EndDateTime}"   headervalue="End Date"/>
                                    <apex:column value="{!e.strEvtCity}"           headervalue="City"/>
                                </apex:pageblockTable> -->

                                 <!-- JW@ff 12-11-15 DE6290 -->
                                <apex:pageBlockSection title="Contact" collapsible="true" columns="2" rendered="{!lstProdTraining_Advantage.size == 0 && lstProdEducation.size == 0}">
                                    <apex:inputfield value="{!objWorkOrderContact.SVMXC__Contact__c}" />
                                    <apex:inputfield value="{!objWorkOrderContact.Contact2__c}" />
                                    <apex:inputfield value="{!objWorkOrderContact.SVMXC__Preferred_Start_Time__c}"/>
                                    <apex:inputfield value="{!objWorkOrderContact.SVMXC__Preferred_End_Time__c}"/>
                                    <apex:inputfield value="{!objWorkOrderContact.Subject__c}" />

                                    <apex:selectList size="3"  label="Location" value="{!str_Location}"> 
                                         <apex:selectOptions value="{!lstOfLocations}"/>                  
                                    </apex:selectList>
                                    <apex:inputText label="SWO/JO" value="{!str_SWO}"/>
                                </apex:pageBlockSection>
                                <br/>

                                <!--section  for classroom buttons  -->
                                <apex:outputPanel id="btnclass">
                                
                                    <!-- JW@ff 12-9-15 removed per DM on DE6290 -->
                                    <!-- <input type="Button" class="btn"  value="Find Classes" onclick="evt(); return false;"/>
                                    <apex:actionStatus id="SearchEvent" style="align:center;" >
                                        <apex:facet name="start" >
                                                <img src="/img/loading.gif"  height="20" width="20" />                       
                                        </apex:facet>
                                    </apex:actionStatus> -->
                                
                                    <!-- JW@ff 12-9-15 DE6290 removed blnCreateWO rendered check from button tag -->
                                    <apex:commandButton value="Create Work Order"  Onclick="createwo();return false;" rerender="pnlClass" status="loadingStatus" rendered="{!lstProdTraining_Advantage.size == 0 && lstProdEducation.size == 0}"/>

                                   <apex:commandButton value="Close" action="{!closePopup}"  rerender="pnlClass" status="CreateEvent"/>
                                    <!-- <input type="Button" class="btn"  value="Close" onclick="fnClosePopup();return false;"/> -->
                                    <!-- JW@ff 12-24-15 TA7785 US5236 decommission
                                        <apex:actionStatus id="CreateEvent" style="align:center;" >
                                        <apex:facet name="start" >
                                                <img src="/img/loading.gif"  height="20" width="20" />                       
                                        </apex:facet>
                                    </apex:actionStatus> -->
                                    <!-- <apex:commandButton value="Close" onclick="fnClosePopup();return false;" status="CreateEvent" /> -->
                                    
                                </apex:outputPanel>
                        
                        </apex:pageblock>
                        </apex:outputPanel>
                        
            </apex:outputPanel>
        <!------ClassRoom Training End------------------------------------>
                    <apex:actionfunction name="close"           action="{!closePopup}" rerender="pnlClass" />             <!--Action Function------>
            <!--US5236 decommission  
                <apex:actionfunction name="fngetevent"       action="{!gtEvent}" rerender="evttable,btnclass">  </apex:actionfunction>--> 
            <!-- JW@ff 12-9-15 DE6290 added pnlClass to rerender tag, added status tag -->
            <apex:actionfunction name="cretWO"         action="{!createWorkOrder}"  rerender="pnlClass,hiddenforrerendering,pb1,pb2,Ermsg,Ermsg1,Ermsg2,Ermsg3" status="CreateEvent"/>   <!--Action Function------>
         </apex:actionRegion>
         <apex:actionRegion >
       <!------------Case popup for use Plan button functionality-------------------------->    
            <apex:outputPanel id="popupCase" style="overflow:auto;height:250px;">
                <apex:inputhidden value="{!strCaseIdd}" id="strCaseId"/> 
                    <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopupCase}"/>
                            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopupCase}">
                                    
                                        <apex:pageblock tabstyle="account" >
                                            <apex:pageBlockSection collapsible="true" title="Case" columns="1">
                                                <apex:pageblockTable value="{!lstwrpCase}" var="k" >
                                                    <apex:column id="checkSelect" >
                                                        <input type="radio" name="Caseradio" onclick="selectedrecordCase('{!k.ObjCase.id}');"  />
                                                        <apex:actionStatus id="caselinests" style="align:center;" >
                                                            <apex:facet name="start" >
                                                                    <img src="/img/loading.gif"  height="20" width="20" />                       
                                                            </apex:facet>
                                                        </apex:actionStatus>                                        
                                                    </apex:column>
                                                    <apex:column Headervalue="Case Number"><a href="/{!k.ObjCase.id}" >{!k.ObjCase.Casenumber}</a></apex:column>
                                                    <apex:column headervalue="Subject" value="{!k.ObjCase.Subject}"/>
                                                    <apex:column headervalue="Description" value="{!k.ObjCase.Description}"/>
                                                    <apex:column headervalue="Status" value="{!k.ObjCase.Status}"/>
                                                    <apex:column headervalue="Contact" value="{!k.ObjCase.Contact.Name}"/>
                                                </apex:pageblockTable>
                                            </apex:pageBlockSection>
                                            <apex:outputPanel id="pnlerrormessage">
                                            <div ><font style="color:red"><b>{!strErrorMessage}</b></font></div> </apex:outputPanel>
                                            <apex:pageBlockSection title="Case Line" columns="1">
                                                <apex:pageblockTable value="{!lstwrpCaseLine}" var="e" id="pbCaseLine" >
                                                    <apex:column ><apex:inputCheckbox value="{!e.blnCaseLine}"/></apex:column>
                                                    <apex:column headervalue="Case Line Name" value="{!e.objCaseLine.Name}"/>
                                                    <apex:column headervalue="Case Number" value="{!e.objCaseLine.SVMXC__Case__r.caseNumber}"/>
                                                    <apex:column headervalue="SalesOrder Item Name" value="{!e.objCaseLine.Sales_Order_Item__r.Name}"/>
                                                    <apex:column headervalue="Product" value="{!e.objCaseLine.SVMXC__Product__c}"/>
                                                    <apex:column headervalue="ERP NWA" value="{!e.objCaseLine.ERP_NWA__r.Name}"/>
                                                </apex:pageblockTable>
                                            </apex:pageBlockSection>
                                        
                                        
                                        </apex:pageblock>
                                        <br/> <br/>
                                        <apex:outputPanel id="PnlBtncase">
                                            <apex:commandButton value="Use Plan"  action="{!gtCaseSOI}"  rerender="popupCase,pnlCD,pnlSOI,pnlerrormessage,popupCase"  />
                                            <apex:commandButton value="Close" action="{!closePopupCase}" rerender="popupCase"/> 
                                        </apex:outputPanel>
                                        
                            </apex:outputPanel>
            </apex:outputPanel>
            <apex:actionfunction name="fnCloseCasepopup" action="{!closePopupCase}" rerender="popupCase,pnlSOI" > </apex:actionfunction>  <!--Close PopupCase----->
            <apex:actionfunction name="showcaseLine"    action="{!showCaseLine}" rerender="pbCaseLine" status="caselinests"/>         <!--Action Function------>    
            </apex:actionRegion>
                   
            </apex:pageBlock>
            
                   


           
           <apex:outputpanel id="hiddenforrerendering">
           </apex:outputpanel>  
                        
            <apex:actionstatus id="loadingStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb; height: 100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>

            </apex:actionstatus>
            <script>
                 
                var selectedCountId = null;
                var originalURL = window.document.URL.toString();
                var splittedURL = originalURL.split("?");
               // var selectedCourse = document.getElementById('pg:frm:pb:selectCourseAndTraining:coursName').value;           
                var strIds = " " ;
                var temp =" ";
                var prodids='';
                var eveids='';
                function   closecasePopUP()
                {
                    fnCloseCasepopup();
                }
                
                
                
                /*US5236 decommission
                function evt()
                {               
                    fngetevent();            
                }*/
                function fnClosePopup()
                {
                 close();
                }
                
                function fnProd(chkbx)
                {
                    if(chkbx.checked)
                    { 
                     strIds=strIds+chkbx.id+";"
                    
                    }else
                    {
                        if(strIds.lastIndexof(chkbx.id) !=-1)
                        {   /*var temp = " ";
                            var splittxt=strIds.split(";");
                            for(var i=0; i<splittxt.length ; i++)
                            {
                            if(splittxt[i] !=chkbx.id && splittxt[i]!="")
                            {
                            temp=temp+splittxt[i]+";" ;
                            }
                            }
                            alert(temp);
                            strIds=temp;*/
                            strIds = strIds.replace(chkbx.id ," ");
                            //alert(chkbx.id);
                        }
                    }
                
                }
                 
               
                //JW@ff 12-9-15 removed per DM on DE6290
                /*function selectedevent(selevt)
                {
                
                 document.getElementById('pg:frm:pb:strevent').value = selevt;
                }*/
                
                function createwo()
                {
                    //JW@ff 12-9-15 removed per DM on DE6290
                    /*if(document.getElementById('pg:frm:pb:strevent').value !='' )
                    {*/
                    if(document.getElementById('pg:frm:pb:strProductId').value != '' && document.getElementById('pg:frm:pb:strProductId').value != null)
                    {
                      cretWO();
                    }
                    else
                    {
                        alert('Please select a course');
                    }
                    /*}
                    else
                    {
                    alert('Please select atleast event');
                    
                    }*/
                }
                function selectedrecord(selected)
                {
                
                document.getElementById('pg:frm:pb:strProductId').value = selected;
                
                }
                function selectedrecordCase(selectedCase)
                {
                 document.getElementById('pg:frm:pb:strCaseId').value = selectedCase;
                 showcaseLine();
                }
                /* 
                //CM : Commented for Task STSK0011542 - April 2017 Release - Chandramouli
                function fnGO()
                {   var r;
                
                   if("{!bln_PicklistDisable}" == 'None' || "{!bln_PicklistDisable}" == 'none')
                   {  fnSearch();
                    // r = confirm("Selection of Entitlement may be lost ,Are you sure to GO");
                    }else
                    {
                    r = confirm("Proceeding will refresh your screen to display items according to your filter changes. Are you sure you want to proceed?");
                    }
                    if (r == true) 
                    {
                        fnSearch();
                        return false;
                    } 
                    else 
                    {
                    return false;
                    }
                }
                */
                function checkAll(cb,cbid)
                {
                var t=cb;
                
                var inputElem = document.getElementsByTagName("input");
                for(var i=0; i<inputElem.length; i++){
                   
                    if(inputElem[i].id.indexOf(cbid)!=-1)
                    {
                        inputElem[i].checked = cb.checked;
                        }
                }

              }
              //cdelfattore@forefrontcorp 10/7/2015 made better check all function.
              //the checkAll function above grabs all of the input boxes and the iterates over all of the inputs on the page
              //and looks that the input tag contains the id of the parent tag. Then is knows to check that box
              //using a class name is much easier, that way you only iterate over the inputs you want to check 
              function checkAllBoxes(chkBox, className){
                var inputChkBoxArray = document.getElementsByClassName(className);
                for(var i = 0; i < inputChkBoxArray.length; i++){
                    if(chkBox.checked){
                        inputChkBoxArray[i].checked = true;
                    }
                    else {
                        inputChkBoxArray[i].checked = false;
                    }
                }
              }
            </script>
            
        </apex:form>

</apex:page>