<apex:page showHeader="false" sidebar="false" standardController="SVMXC__Service_Order__c" extensions="SR_Class_WorkOrderDetailPDF" renderAs="pdf" language="{!Language}">
    <c:SR_WorkOrder_Detail_PDF recordid="{!SVMXC__Service_Order__c.Id}"/>   
</apex:page>