<apex:page standardController="SVMXC__Service_Order__c" extensions="SR_WorkOrder_Customer_Values" showChat="false" sidebar="false">
    <apex:includeScript value="/support/console/32.0/integration.js"/>
    <script>
        function openwindow()
        {        
            if(sforce.console.isInConsole())
            {
                sforce.console.getEnclosingPrimaryTabId(function (result)
                {        
                    //alert('tabid -- ' + result.id);
                    //alert('tab label -- ' + result.label);
                    window.open("/apex/SR_WorkOrder_Edit_Values_PopUp_Page?id={!current_workOrder.id}&consoleSign=true&tabid=" + result.id, "myWindow",  "width=600,height=300,top=200,left=400,right=400,resizable=0,location=no,scrollbars=no");
                });
            }
            else
            {
                window.open("/apex/SR_WorkOrder_Edit_Values_PopUp_Page?id={!current_workOrder.id}&consoleSign=false", "myWindow",  "width=600,height=300,top=200,left=400,right=400,resizable=0,location=no,scrollbars=no");
            }

        };
        function postvalchk(tabid, console){
            if(console == 'true')
            {
                setTimeout( function () {
                    //alert('settimeout');
                    sforce.console.getEnclosingPrimaryTabId(function (result)
                    {
                        //alert('inside first method');
                        sforce.console.refreshPrimaryTabById(result.id, true);
                        return false;
                    });
                },1000);
            }
            else
            {
                window.parent.location.href = '/' + tabid;
            }
        };
    </script>

    <style>
        .buttonStyle {  text-align:center; align:center;  }
    </style>

    <style type="text/css">
        body .individualPalette .secondaryPalette.bPageBlock
        {
            background-color:#FFFFFF;
            border-color: #FFFFFF;
        }
        .label
        {
            font-size: smaller;
        }
    </style>
    <apex:form >
        <apex:pagemessages />
        <apex:pageBlock >
            <apex:pageBlockButtons location="top" >
                <apex:commandButton onclick="openwindow();" value="Modify Date/Time(s)" style="align:center;" styleClass="buttonStyle" rendered="{!!IsClosed}"/>
            </apex:pageBlockButtons>
            <apex:pageblocksection columns="2">
                <apex:pageblockSectionItem >
                    <apex:outputlabel value="{!$Label.SR_Customer_Malfunction_Start_Date_Time}" style="font-size : 91%;padding-right:3%;"/>
                    <apex:outputtext value="{!current_workOrder.Customer_Malfunction_Start_Date_Time__c}"/>
                </apex:pageblocksectionItem>
                <apex:pageblocksectionItem >
                    <apex:outputlabel value="{!$Label.SR_Customer_Preferred_Start_Date_Time}" style="font-size : 91%;width:18%;"/>
                    <apex:outputtext value="{!current_workOrder.Customer_Requested_Start_Date_Time__c}"/>
                </apex:pageblocksectionItem>
                <apex:pageblocksectionItem >
                    <apex:outputlabel value="{!$Label.SR_Customer_Preferred_End_Date_Time}" style="font-size : 91%;width:18%;"/>
                    <apex:outputtext value="{!current_workOrder.Customer_Requested_End_Date_Time__c}"/>
                </apex:pageblocksectionItem>
            </apex:pageblocksection>
        </apex:pageBlock>
    </apex:form>
</apex:page>