<apex:page standardController="Product2" extensions="SROverrideModelPart" showHeader="false" action="{!search}">

<script>
function cancelthecreation(){
  cancelaction();
 }
</script>
<style>
  .headerRow .TableTitle {
    background-color: skyblue !important;
    background-image: none !important; 
    color: black !important; 
    
  }
 </style>
<apex:form id="myform"> 
<apex:pageMessages />
<apex:actionRegion > 
    <apex:outputPanel id="top" layout="block" style="overflow: auto; height: 100px;margin:5px;padding:10px;padding-top:2px;width:750px;height:80px;" ><!--overflow:auto;width:750px;height:250px;-->
                <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
                <apex:inputText id="txtSearch" value="{!searchString}" />
                  <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}"></apex:commandButton></span>
                   <!--apex:actionSupport event="onclick" reRender="CreateContactId,searchResults"> 
                  <span style="padding-left:5px"><apex:commandButton id="btnGo1" value="New" action="{!NewContact}"></apex:commandButton></span>
                  </apex:actionSupport -->
    </apex:outputPanel>
    <apex:outputPanel id="top1" layout="block" style="overflow: auto;height:400px;">
<apex:actionRegion >
<apex:pageblock id="searchResults" >          
<apex:pageblockSection >
<apex:pageblocktable value="{!results}" var="Contactvar">
<apex:column headerValue="Part Name" headerClass="TableTitle ">
<apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!Contactvar.Id}','{!Contactvar.Name}', false)" rendered="{!NOT(ISNULL(Contactvar.Id))}">{!Contactvar.Name}</apex:outputLink>
</apex:column>
<apex:column headerValue="Product Code" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.ProductCode}" />
</apex:column>
<apex:column headerValue="Product Line" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.SVMXC__Product_Line__c}" />
</apex:column>
<apex:column headerValue="Active" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.IsActive}" />
</apex:column>
<!--apex:column headerValue="Other Phone" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.OtherPhone}" />
</apex:column>
<apex:column headerValue="Primary Contact Number" headerClass="TableTitle ">
<apex:outputField value="{!Contactvar.Primary_Contact_Number__c }" />
</apex:column-->
</apex:pageblocktable>
</apex:pageblockSection>
<!-- contact creation Seaction -->
 
<!-- contact creation Seaction End -->
 
</apex:pageblock>
</apex:actionRegion>
 </apex:outputPanel>
 </apex:actionRegion> 

</apex:form>
</apex:page>