<apex:page showHeader="false" id="PageId" standardStylesheets="{!if(shows=='none',false,true)}" Controller="MyVarianProductIdea">
    <head>
        <title>Product Idea | MyVarian</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>



        <apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
        <apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
        <apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}"  />
        <apex:includeScript value="{!URLFOR($Resource.TableSorter, '/jquery.tablesorter.min.js')}"/>


        <style>
        .CourseMenuBar{
        color:black !important;
        pointer:cursor !important;
        }
        </style>
        <style>

        .PostIdeaLable{
            font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;font-size: 153.8%;color: #555;
            
            -webkit-margin-before: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            
        }
        
        #bgPopup
            {  
                display:none;  
                position:fixed;  
                _position:absolute; /* hack for internet explorer 6*/ 
                height:100%;  
                width:100%;  
                top:0;  
                left:0;  
                border:1px solid #cecece;  
                z-index:100;  
            } 
        #divNewIdeaPopup{
                display:none; 
                position:fixed;  
                _position:absolute; /* hack for internet explorer 6*/  
                height:611px;  
                width:950px; 
                //top:50px; 
                background:#FFFFFF;  
                border:2px solid #cecece;  
                z-index:200;  
                padding:12px;
        }
        #divCommentsPopup
            {  
                display:none; 
                position:fixed;  
                _position:absolute; /* hack for internet explorer 6*/  
                height:550px;  
                width:950px; 
                //top:50px; 
                background:#FFFFFF;  
                border:2px solid #cecece;  
                z-index:200;  
                padding:12px;
            }
    </style>
    </head>

    <!-- for community -->
    <script src="/jslibrary/1381427012000/sfdc/JiffyStubs.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/main.js"></script><script src="/jslibrary/jslabels/1382057526000/en_US.js">
    </script>
    <script src="/jslibrary/1381427012000/sfdc/AccessibleDialog.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/DevContextMenu.js"></script>
    <script type="text/javascript">


    SetupTreeNode.prototype.initializeSetup = function() {
    var openNodes = '';
    if (openNodes != null) {
    SetupTreeNode.prototype.openListSetup = openNodes.split(':');
    }
    SetupTreeNode.prototype.personalSetupV2 = false;
    }

    </script>
    <script>
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/zen-componentsCompatible.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/elements.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/common.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/setup.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382134726000/Theme3/base/dStandard.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom0.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1382476000000/Theme3/00DM00000013QDl/005E00000033Wxn/base/dCustom1.css")}catch(e){}
    try{DynamicCss.addCssUrl("/sCSS/29.0/sprites/1381884298000/Theme3/default/base/extended.css")}catch(e){}
    try{DynamicCss.doneLoading()}catch(e){}
    </script>
    <link href="https://varian--SFDM.cs7.my.salesforce.com/favicon.ico" rel="shortcut icon"></link><script src="/jslibrary/1381427012000/sfdc/Security.js"></script>
    <script src="/jslibrary/1381427012000/sfdc/Setup.js" defer="true"></script><script src="/jslibrary/1381427012000/sfdc/Zen.js" defer="true"></script>

<!-- end here -->

    <!-- Community header -->
    <apex:outputpanel style="display:{!shows}"> 
        <div id="globalHeaderBar" class="globalHeaderBar"><div class="globalHeaderCommunityMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="6"><a id="globalHeaderCommunitySwitcher" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="4"><b class="zen-selectArrow"></b>
        MyVarian
        </a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderCommunitySwitcher" data-uidsfdc="5"><li class="zen-firstItem" role="presentation"></li><li class="" role="presentation"><a title="Varian Medical Systems" role="menuitem"  href="{!$Label.Org_Domain_URL}">
        Varian Medical Systems Internal
        </a></li><li class="zen-lastItem" role="presentation"></li></ul></div></div></div></div><div class="globalHeaderNameMenuContainer"><div class="globalHeaderVerticalLineInner"><div class="globalHeaderVerticalLineOuter"><div class="zen-select" role="application" data-sfdc-widget="SfdcCmp.Ui.Dropdown" data-isselect="false" data-uidsfdc="9"><a id="globalHeaderNameMink" class="zen-trigger" title="Press space bar or Enter key to open" aria-haspopup="true" href="javascript:void(0)" data-uidsfdc="7"><b class="zen-selectArrow"></b><span><span class="chatter-avatarSmall chatter-avatar globalHeaderProfilePhoto" title="VMS-amanitri"><img class="chatter-photo" width="20" height="20" src="{!$Label.CPProfilePhotoURL}"></img><img class="chatter-avatarStyle" title="" alt="" src="/s.gif"></img></span>
        {!Usrname}
        </span></a><ul class="zen-options" role="menu" aria-labelledby="globalHeaderNameMink" data-uidsfdc="8"><li class="zen-firstItem" role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li role="presentation"></li><li class="zen-lastItem" role="presentation"><a title="Logout" role="menuitem" href="/secur/logout.jsp">
        Logout
        </a></li></ul></div></div></div></div><div class="nhTestHelperCurrentContext" style="display: none">
        00DM00000013QDl
        </div></div>
    </apex:outputpanel>
    <!-- end here -->

    <apex:outputpanel id="JsPanel">
    </apex:outputpanel>

    <div id="wrapper">
    <c:CpHeader rendered="{!isGuest}"/>
    <c:CpPortalHeader rendered="{!!isGuest}"/>
    <div id="container">
    <c:CpSideMenu rendered="{!isGuest}"/>
    <c:CpPortalSideMenu rendered="{!!isGuest}"/>
    <div id="center" class="CenterNoRightSide ideabanner"> 
    <span class="clear"></span>
    <div style="min-height:800px;overflow-y:auto">
    <apex:form ><c:IdeaComponent2 /></apex:form>
    </div>
    </div>
    <br/>
    <!-- footer -->
    <c:CpFooter ></c:CpFooter>  
    <!-- footer --> 
    </div>
    </div>
    <SCRIPT LANGUAGE="JavaScript">
        function go(loc){   
            popupWindow = window.open(loc,'name','width=1000,height=800,scrollbars=1');
            popupWindow.focus();
            //document.getElementById('cntSearch').src = loc;
        }
        function refreshpg()
        {
            window.location.href ='/apex/CpProductDocumentation';
        }
    </script>
    <script type="text/javascript">
    //var $ = jQuery.noConflict();
        jQuery.fn.center = function () 
        {
            this.css("position", "absolute");
            this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
            this.css("left", "10px");
            
            return this;
        }
        
        function CloseCommentsPopup(){
            $("#bgPopup").fadeOut("slow");
            $("#divCommentsPopup").fadeOut("slow");

        }
        
        function OpenCommentsPopup(){
            $("#divCommentsPopup").center();                              
            $("#bgPopup").css({"opacity": "0.7"});
            $("#bgPopup").fadeIn("slow");
            $("#divCommentsPopup").fadeIn("slow");               
            $("#divCommentsPopup").css("display","block");
        }
        function CloseNewIdeaPopup(){
            $("#bgPopup").fadeOut("slow");
            $("#divNewIdeaPopup").fadeOut("slow");
            //ResetNewIdeaAF();
        }
        function CheckValidation(){
            
            var IdeaPG  = document.getElementById('pageblock:innerForm:j_id87:j_id88:selectNewProductGroup');
            var IdeaTitle  = document.getElementById('pageblock:innerForm:j_id87:j_id88:NewIdeaTitle');
            var IdeaBody  = document.getElementById('pageblock:innerForm:j_id87:j_id88:NewIdeaBody:textAreaDelegate_body');
            
            alert(IdeaBody.value);
            return true;
        }
        function SaveIdea(){
            var isValidate = CheckValidation();
            if(isValidate){
                //SaveIdeaAF();
            }else{
                //
            }
        }
        function PrePostIdea(){            
            $("#dialogPostIdeaAlert").dialog({
            resizable: false,
            height:240,
            width:500,
            modal: true,
            title:"  ",
            close: function() {                         
            //$( this ).dialog( "close" );
            $( this ).dialog( "destroy" );
            },
            buttons: {
            Cancel: function() {
            $( this ).dialog( "destroy" );
            //window.open('/apex/CpContactUs','_self');
            },
            "Continue to Product Ideas": function() {
            //$( this ).dialog( "close" );

            OpenNewIdeaPopup();   
            $( this ).dialog( "destroy" );                       
            }

            }

            });
        }
        function OpenNewIdeaPopup(){
            /*STSK0012364 - Rakesh */
            /*$("#divNewIdeaPopup").center();                              
            $("#bgPopup").css({"opacity": "0.7"});
            $("#bgPopup").fadeIn("slow");
            $("#divNewIdeaPopup").fadeIn("slow");               
            $("#divNewIdeaPopup").css("display","block");*/
            onPostIdeaClickAF();
            /*STSK0012364 - Rakesh */
        }
        function showMoreDescription(ideaid){
            var ShortEle  = document.getElementById('ShortDescription'+ideaid);
            var LongEle  = document.getElementById('LongDescription'+ideaid);
            ShortEle.style.display = 'none';
            LongEle.style.display = 'block';
        }
        function onCommentClick(ideaid){
           
            $("input[id$=inputIdeaId]").val(ideaid);
            OpenCommentsPopupAF();
        }
        function onSearchEnter(e){
                
                if(window.event){                    
                    key = window.event.keyCode;     //IE               
                } 
                else{                    
                    key = e.which; //firefox               
                }               
                if(key == 13) {                
                    onSerachClickAF();                     
                    return false;               
                } else{                    
                    return true;               
                }      
        }
        
         
            
        var isPostEnable = true;
        function PostIdeaSaveJS(TitleEle){
        
            //alert(TitleEle);
            if(isPostEnable){
                isPostEnable = false;
                var postideabtn = document.getElementById('postIdeaBTN');
                postideabtn.value = 'Saving.....';
                var headerinput  = document.getElementById(TitleEle);
                var errordiv  = document.getElementById('errorpostidea');
                
                if(headerinput.value != ''){
                    errordiv.style.display = 'none';
                    errordiv.innerHTML = '';
                    PostIdeaSave();
                }else{
                    errordiv.style.display = '';
                    errordiv.innerHTML = 'Please fill the Title and Description';
                    isPostEnable = true;
                    postideabtn.value = 'Post Idea';
                }
            }
        }
        
        
</script>
</apex:page>