<apex:page id="detailsByDayPg" action="{!InitializePage}" docType="html-5.0" controller="SR_TimeCard_Controler" sidebar="false">
	
	<!-- apex tabs do not work well, using jquery tabs -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<div id="tabs">
		<ul>
			<apex:repeat id="tabLabelRepeat" value="{!TabDetailsbyDayPageMethod}" var="dayKey">
        		<li>
        			<a href="#{!dayKey}">{!dayKey}</a>
        		</li>
        	</apex:repeat>	
        	<!-- Go Back Button savon/FF 8-24 DE5660 -->
        	<a href="/apex/SR_TimeCard" style = 'float: right; cursor: pointer; margin-right: 18px;'>Go Back</a>
		</ul>
		<apex:repeat id="tabContentRepeat" value="{!TabDetailsbyDayPageMethod}" var="dayKey">
    		<div id="{!dayKey}">
    			<apex:pageBlock >
	    			<apex:pageBlockTable value="{!TabDetailsbyDayPageMethod[dayKey]}" var="perDay">
	    				<apex:column headerValue="Type" value="{!perDay.Record_Type_Name__c}" />
	    				<apex:column headerValue="Activity" value="{!perDay.Organizational_Activity__r.Name} {!perDay.Work_Details__r.SVMXC__Activity_Type__c}"/>
	    				<apex:column headerValue="Start Time" value="{!perDay.Start_Date_Time__c}" />
	    				<apex:column headerValue="End Time" value="{!perDay.End_Date_Time__c}" />
	    				<apex:column headerValue="Hours" value="{!perDay.TotalTime__c}" />
	    				<apex:column headerValue="Work Order No.">
	    					<apex:outputLink value="/{!perDay.Work_Details__r.SVMXC__Service_Order__c}" target="_blank">{!perDay.Work_Order_Number__c}</apex:outputLink>
	    				</apex:column>
	    				<apex:column headerValue="Case No." value="{!perDay.Case_Number__c}" />
	    				<apex:column headerValue="Account" value="{!perDay.Associated_Account__c}" />
	    				<apex:column headerValue="PCSN" value="{!perDay.PCSN__c}" />
	    				<!-- Changed the status field referenced DK 9/18/2015 DE5882-->
	    				<apex:column headerValue="Status" value="{!perDay.Work_Details__r.SVMXC__Service_Order__r.SVMXC__Order_Status__c}" />
	    				<apex:column headerValue="Completed">
	    					<!-- <apex:outputField value="{!perDay.Work_Details__r.Completed__c}" rendered="{!IF(perDay.Work_Details__c == null, false, true)}"/> -->
	    					<apex:outputField value="{!perDay.Work_Details__r.Completed__c}" rendered="{!IF(perDay.RecordType.Name == 'Direct Hours', true, false)}"/> <!-- render based on record type -->
	    				</apex:column>
	    			</apex:pageBlockTable>
	    		</apex:pageBlock>
    		</div>
    	</apex:repeat>		
	</div>

	<script type="text/javascript">
		$('#tabs').tabs({
 			active: {!activeTabIndex}
		});
	</script>
</apex:page>