<apex:page sidebar="false" showHeader="false" standardStylesheets="false">
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <title>vMarket</title>

    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    
    <style>
        body {            
            font-family: 'Open Sans', sans-serif;
            background-color: #fff;
        }
    	.page-content{
        	text-align: center;
        }
        .notAvailableImgWrap{
        	margin-top: 150px;
        }
		.whoopsText{
        	opacity: 0.5;  			
  			font-size: 60px;
  			font-weight: 800;  			
  			color: rgba(48, 74, 97, 0.5);
        	line-height: 1;
    		margin: 50px 0 40px 0;
        }
		.notInRegionText{
        	font-size: 26px;
  			font-weight: bold;  
  			color: #304a61;
        	line-height: 1;
        	margin-bottom: 50px;
        }
		.subText{
        	font-size: 26px;
  			font-weight: 600;
  			line-height: 1.38;  			
  			color: #bac5ce;
        	line-height: 1;
        }
		.gohome {
        	font-family: 'Open Sans', sans-serif;
          width: 150px;
          height: 43px;
          background-color: #178eea;
          border:#f0f8ff;
          margin-top:25px;
          color: #fff;  
       	  cursor: pointer;
        	font-size: 18px;
		}        
    </style>
    
    <div class="page-content">
        <div class="notAvailableImgWrap"> 
        	<img src="{!$Resource.vMarketNotAvailable}" />
        </div>
        <div class="whoopsText">Whoops!</div>
        <div class="notInRegionText">Not available in your Region</div>
        <div class="subText">The item you've requested is not currently available in your region.</div>
        <button class="gohome" onClick="window.open('/vMarketSignIn',target='_self')">SIGN IN</button>
    </div>
    
</apex:page>