<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="vMarketHomePageCategoryControllers" action="{!authorizeConnectAccount}">
    <html>
        <head>
            <meta charset="utf-8" /> 
            <meta content="IE=edge" http-equiv="X-UA-Compatible" /> 
            <meta content="width=device-width,initial-scale=1" name="viewport" />
            <title>vMarket</title>            
        </head>
        <body>
            <c:vMarketHeader />
            <div class="container">
                <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarket.css')}"/>
                <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}"/>

                <div class="row">
                    <apex:variable var="count" value="{!0}" /> 
                    <apex:repeat value="{!AllCategoryList}" var="category">
                        <apex:outputPanel layout="block" styleClass="col-md-6 col-sm-6 col-xs-12 mainAppCategoryBlock" style="margin-bottom:30px;">
                            <apex:outputPanel layout="block">
                                <apex:outputPanel layout="block" styleClass="col-md-5 col-sm-6 col-xs-12">
                                    <apex:outputPanel layout="block" styleClass="mainAppCatImgWrap" style="padding-left:0px;">
                                        <apex:outputPanel layout="block" styleClass="mainAppCatImg" style="opacity: 0.65;">
                                            <apex:image value="{!category.URL}" alt="category" style="height: 150px !important;border: 1px solid #ccc;"/>
                                        </apex:outputPanel>                          
                                        <apex:outputPanel layout="block" styleClass="appCount" style="font-size: 1.5em !important;">{!category.TotalAppCount}&nbsp;Apps</apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleClass="col-md-7 col-sm-6 col-xs-12">
                                    <apex:outputPanel layout="block" styleClass="mainAppCatInfoWrap">
                                        <apex:outputPanel layout="block" ><a href="{!IF(category.CategoryName=='All apps', '/vMarketCatalogue', '/vMarketCatalogue?cat='+category.CategoryName)}" class="mainAppCatLink">{!category.CategoryName}</a></apex:outputPanel>
                                        <apex:outputPanel layout="block" styleClass="mainAppCatDesc">
                                            <strong>Category Description:</strong><br />{!category.Description}
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" styleClass="mostPopAppLink">
                                            Most popular:&nbsp;&nbsp;<a href="{!$Label.Cp_site}/vMarketAppDetails?appId={!category.AppId}" class="appText">{!category.PopularApp}</a>
                                            &nbsp;<span class="stars-container stars-{!category.RatingText}">★★★★★</span>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:variable var="count" value="{!count+1}"/>
                    </apex:repeat>
                </div>
                
                
                <!-- View App Modal Start -->
                <div id="viewAppModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document" style="width: 90%;">                        
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">App Details</h4>
							</div>
                            <div class="modal-body">
                                <div class="row" style="padding-left: 18px;">
                                                                <div class="col-md-6">
                                    <div class="topBar">
                                        <div class="appName pull-left">fullAccess</div>
                                        <div class="appStarRatingWrapper pull-left">
                                            <fieldset class="rating">
                                                <label class = "full"></label>
                                                <label class = "full"></label>
                                                <label class = "full"></label>
                                                <label class = "full"></label>
                                                <label class="half"></label>
                                                <div class="clear-fix"></div>
                                            </fieldset>
                                        </div>
                                        <div class="clear-fix"></div>
                                    </div>
                                    <div class="appDescription">
                                        Sophisticated software tools to enhance the quality of treatment and improve the efficiency of clinical workflow. fullAccess supports flexible viewing of multi-modality diagnostic images 
            and multi-vendor treatment plans; quantitative analysis and benchmarking of plan quality metrics; and sharing of RT data between facilities and caregivers for clinical collaboration.
                                    </div>
                                    <div class="keyFeaturesWrapper">
                                        <div class="headText"><strong>Key Features:</strong></div>
                                        <ul class="featureList">
                                            <li>Check every dose constraint</li>
                                            <li>Easily compare treatment plans</li>
                                            <li>Automate plan checking</li>
                                            <li>Print constraint documentation for billing and ACR compliance</li>
                                        </ul>
                                    </div>
                                                                <div class="priceText"><strong>$1250 peryear</strong></div>
                                    <div class="categoryText">
                                        <div><strong>Category:</strong></div>
                                        <div>Eclipse API apps</div>
                                    </div>
                                                                <div class="clear-fix"></div>
                                    <div class="contactInfo pull-left">
                                        <div><strong>Contact info:</strong></div>
                                        <div class="emailText">info@radialogica.com</div>
                                        <div class="phoneText">800-515-9132</div>
                                    </div>
                                    <div class="placeAppToCartWrapper pull-right" style="margin-top: 25px;">
                                        <a href="/vMarketShoppingCart" class="btn btn-success">Place to Cart&nbsp;<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                                    </div>
                                                                <div class="clear-fix"></div>
                                                                                </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5" style="margin-bottom: 10px;"><apex:image url="{!$Resource.appDummyImg}"/></div>
                                            <div class="col-md-5"><apex:image url="{!$Resource.appDummyImg}"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5"><apex:image url="{!$Resource.appDummyImg}"/></div>
                                            <div class="col-md-5"><apex:image url="{!$Resource.appDummyImg}"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <!-- View App Modal End -->
            </div>
            <c:vMarketFooter />
            <apex:include pageName="vMarketLoginBox" />
        </body>
    </html>
</apex:page>