<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="vMarket_TermsOfUseController" action="{!validateUser}">
        <!--<c:vMarketDevHeader />-->
        <style>
            .termsNcond {
                
                opacity: 0.5;
                font-family: OpenSans;
                font-size: 18px;
                line-height: 1.46;
                text-align: left;
                color: rgba(48, 74, 97, 0.5);
            }
            .accept {
                width: 150px;
                height: 40px;
                object-fit: contain;
                background-color: #178eea;
                color: white;
                box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            }
            .decline {
                width: 122px;
                height: 40px;
                object-fit: contain;
                background-color: #7d7d7d;
                color: white;
                box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            }
            .vMarketLogoTop {
                background-image: url('{!$Resource.vMarketLogo}');
                background-repeat: no-repeat;
                width: 116px;
                height: 30px;
                margin-top: 20px;
                display: inline-block;
                float: left;
                margin-left: 100px;
            }
            
            
            /* header styles */
            .topHeader {
                background-color: #f4f5f9;
                height: 100px;
            }
            
            .topHeader .container {
                width: 1296px;
                padding-left: 45px;
                padding-right: 45px;
            }
            .dropdownItem{
                display: block;
                width: 100%;
                padding: 0px 1.5rem;
                clear: both;
                font-weight: 400;
                color: #292b2c;
                text-align: inherit;
                white-space: nowrap;
                background: 0 0;
                border: 0;
            }
            body {
                font-family: 'Open Sans', sans-serif;
                background-color: #f4f5f9;
                padding: 0px !important;
            }
            
            .clear-fix {
                clear: both;
            }
            
            .margin-top-20 {
                margin-top: 20px;
            }
            
            .page-top-section {
                background: #ebebeb;
                height: 175px;
            }
            
            .page-top-section .container {
                width: 1296px;
                padding-left: 45px;
            }
            
            .page-top-section .pageTitle {
                color: #304a61;
                font-size: 24px;
                font-weight: 600;
                margin-top:15px;
            }
            
            .page-content-section {
                background: #fff;
                min-height: 500px;
                margin-top: -85px;
                padding: 30px 40px 30px 40px;
                width: 1296px;
            }
            /* common css end */
            .bottomFooterWrapper {
                color: #b6c2cb;
                font-size: 12px;
                text-align: center;
                margin-top: 15px;
                margin-bottom: 10px;
            }
            
            .bottomFooterWrapperContainer {
                margin-top: 10px;
            }
            
            
            .nav-tabs > li > a {
                border-radius: 0px !important; 
            }
            
        </style>
        <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
        <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
        <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />        
        <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
        <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
        <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
        <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />
        
        <div class="container-fluid topHeader">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="row">
                       <div class="col-md-4"></div>
                       <div class="col-md-4">
                           <div class="logoDiv">
                               <a class="vMarketLogoTop" href=""></a>
                           </div>
                       </div>
                       <div class="col-md-4"></div>
                   </div>
                <div class="clear-fix"></div>
            </div>
            <!-- /.container -->
        </div>
        
        <div id="content-wrapper">
            <div class="container-fluid page-top-section">
                <div class="container">
                    
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" id="termsLi">
                            <a id="vMarketterms" href="#vMarketplacetermsOfuse" aria-controls="vMarketplacetermsOfuse" role="tab" data-toggle="tab" style="height:85px;">
                                <h3 class="pageTitle pull-left">Terms of Use</h3>
                            </a>
                        </li>
                        <li role="presentation" id="privacyLi">
                            <a id="vMarketprivacy" href="#vMarketplaceprivacy" aria-controls="vMarketplaceprivacy" role="tab" data-toggle="tab" style="height:85px;">
                                <h3 class="pageTitle pull-left">{!$Label.vMarket_PrivacyAgreement}</h3>
                            </a>
                        </li>
                    </ul>
                    
                
                </div>
            </div>
            
            <div role="tabpanel" class="container page-content-section">
                <div id="tc_content" class="tab-content" style="height:380px;text-align:justify;">
                    <div role="tabpanel" class="tab-pane" id="vMarketplaceprivacy">
                        <div class="panel-content">                                       
                            
                            <div style="font-family:OpenSans;font-size: 24px;line-height: 1.11;text-align:right;" id="archievedPrivacy">
                                <apex:outputPanel styleclass="btn-group" id="archivedPrivacyPanel" rendered="{!PrivacyArchievedVersionAvailable}">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                                aria-haspopup="true" aria-expanded="false">
                                        ARCHIVED PRIVACY VERSIONS
                                    </button>
                                    <div class="dropdown-menu">
                                        <apex:repeat value="{!privacyArchievedVersions}" var="key">
                                            <apex:repeat value="{!privacyArchievedVersions[key]}" var="ver">
                                                <a class="dropdownItem" href="#" onclick="loadResource('{!ver}', '{!key}')">{!key}</a><br/>
                                            </apex:repeat>
                                        </apex:repeat>
                                    </div>
                                </apex:outputPanel>
                            </div>
                            
                            <iframe src="{!URLFOR($Resource.vMarket_Privacy_Agreement)}" id="privacy_statement_iframe" style="overflow-y:scroll;height:420px;width:100%;border:1px solid #ccc;" height="100%" width="100%"></iframe>
                        
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="vMarketplacetermsOfuse">
                        <div class="panel-content" >                      

                            <div style="font-family:OpenSans;font-size: 24px;line-height: 1.11;text-align:right;" id="archieved">
                                <apex:outputPanel styleclass="btn-group" id="archivedVerPanel" rendered="{!TermsOfUseArchievedVersionAvailable}">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                                aria-haspopup="true" aria-expanded="false">
                                        ARCHIVED TERMS OF USE VERSIONS
                                    </button>
                                    <div class="dropdown-menu">
                                        <apex:repeat value="{!termsOfUseArchievedVersions}" var="key">
                                            <apex:repeat value="{!termsOfUseArchievedVersions[key]}" var="ver">
                                                <a class="dropdownItem" href="#" onclick="loadResource('{!ver}', '{!key}')">{!key}</a><br/>
                                            </apex:repeat>
                                        </apex:repeat>
                                    </div>
                                </apex:outputPanel>
                            </div>

                            <iframe src="{!URLFOR($Resource.vMarket_TermsOfUse)}" id="terms_of_use_iframe" style="overflow-y:scroll;height:420px;width:100%;border:1px solid #ccc;" height="100%" width="100%"></iframe>
                        
                        </div>
                    </div>
                </div>
                
                <!-- Agree,Disagree_section -->
                <div style="text-align:center;margin-top: 60px;">
                    <button type="button" class="accept" style="margin-bottom: 2px;" onClick="agreeTerms()" id="submitTOS" >{!$Label.vMarket_Agree_Button_Label}</button>
                    <button type="button" class="decline" onclick="disAgreeTerms()" data-dismiss="modal" id="disagreeTOS">{!$Label.vMarket_Disagree_Button_Label}</button>
                </div>
                
            </div>
            
        </div>
    
        <apex:form >
            <apex:actionFunction action="{!agreeTerms}" name="agreeTermsAction" oncomplete="modstrb();"/>
            <apex:actionFunction action="{!disAgreeTerms}" name="disAgreeAction" />
        </apex:form>
        <c:vMarketDevFooter />
        <apex:include pageName="vMarketLoginModal" />
        
        <script type="text/javascript">
            
            $(document).ready(function(){
                if($.urlParam('type') == 'terms') {
                    $("#vMarketplacetermsOfuse").addClass("active");
                    $("#termsLi").addClass("active");
                    $("#privacyLi").removeClass("active");privacyLi
                    $("#vMarketplaceprivacy").removeClass("active");
                    console.log(' == terms == ');
                } else {
                    $("#vMarketplacetermsOfuse").removeClass("active");
                    $("#termsLi").removeClass("active");
                    $("#privacyLi").addClass("active");privacyLi
                    $("#vMarketplaceprivacy").addClass("active");
                    console.log(' == privacy == ');
                }
            });
            
            $.urlParam = function(name){
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return results[1] || 0;
            }
            
            function agreeTerms() {
              agreeTermsAction();
            }
    
            function disAgreeTerms() {
              disAgreeAction();
            }
            
            function modstrb() {
                $('#addStrModal').modal('show');
            }
        </script>
    </apex:page>