<apex:page showheader="false" controller="vMarketDevBugFixController" standardStylesheets="true" action="{!initializePage}">
        
            <c:vMarketDevHeader />
            <apex:outputPanel Id="selectedDivId">
            <script>
                $(function(){
                    $('.divLoading').show();
                });
            </script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css" />            
            
            <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"/>
            <link rel="stylesheet" href="{!URLFOR($Resource.vMarket_jqeury_te, 'vMarket_jqeury_te/jquery-te-1.4.0.css')}" />
            
            <style type="text/css">
                .container {
                    width: 1000px;
                    background: none;
                }
                .page-content-section{
                    background: #fff !important;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 20px;
                    padding-bottom: 30px;
                }
                .publishercontainer{
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                .contentPublisherSlideDown .panel {
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    border: 0px;
                    box-shadow: none;
                }
                .publishercontainer .contentPublisherSlideDown table.postInput{ 
                    width: 100%;
                }
                
                #uploadAppFormWrapper .formSection .sectionContainer > .row{
                    margin-bottom: 30px;
                }
                
                .contentPublisherSlideDown .panelBody{
                    padding-top: 0px !important;
                }
                
                .contentPublisherSlideDown table.postInput{
                    margin-left: 0 !important;
                }
                
                .contentPublisherSlideDown table.postInput td{
                    padding-bottom: 0px !important;
                }
                
                #appCategoryVersionError, #appPackageError, #appSelectError,#appBugFixFeaturesError{
                    color: red;
                    display: none;
                }
                
                #fakeAppPackageFileInput{
                    font-family: inherit;
                }
                
                #appSourceUploadBtn {
                    width: 98px;
                    height: 31px;
                    background-color: #00c485;
                    border: 0;
                    color: #fff;
                    margin-top: 3px;
                    border-radius: 0;
                }
                
                
                .stepTitleText{
                    font-size: 16px;
                    color: #5c5c5c;
                    font-weight: 600;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    margin-left: 8px;
                }
                
                .leftContentPanel{
                border: solid 1px #ebebeb;
                
                margin-left: 20px;
                height: 100%;           
                }
                
                .packageUploadWrapper{
                    width: 100%;
                    background-color: #fbfbfb;
                    padding-top: 40px;
                    display:Inline-block;
                }
                
                .packageUploadWrapper .formField{
                        margin-bottom: 30px;
                    }              
                    .packageUploadWrapper .fieldLabel{
                        display: inline-block;
                        font-size: 14px;
                        color: #666;
                        text-align: right;
                    }
                    
                .packageUploadWrapper .fieldInput input, .packageUploadWrapper .fieldInput textarea, .packageUploadWrapper .fieldInput select{
                    border: 1px solid #ededed;
                    width: 100% !important;
                    padding: 5px 5px 5px 5px;
                    background: #fefefe;
                }
                
                .packageUploadWrapper .fieldInfo {
                    font-size: 12px;
                    color: #bac5ce;
                }
                
                .contentPublisherSlideDown .requiredInput input[type="file"] {
                    max-width: none;
                }
                
                .chosen-container{
                    width: 100% !important;
                }
                
                .chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single{
                    background-image: none;
                    border: 1px solid #ededed;
                    width: 100% !important;
                    padding: 5px 5px 3px 10px;
                    background: #fefefe;
                    height: 35px;
                    box-shadow: none;
                    border-radius: 0;
                }
                
                .chosen-container-active.chosen-with-drop .chosen-single{
                    border-bottom: none;
                }
                
                .chosen-container .chosen-drop{
                    box-shadow: none;
                    border: 1px solid #ededed;
                }
                
                .chosen-container-single .chosen-single div b{
                    background-position: 0 8px;
                }
                
                #appPkgTable thead tr th{
                    background-color: #e0e0e0;
                    font-size: 14px;
                    color: #666666;
                    font-weight: normal;
                }
                #appPkgTable thead tr th:last-child, #appPkgTable tbody tr td:last-child{
                    text-align: center;
                }
                
                #appPkgTable tbody tr td{
                    border-bottom: 1px solid #ebebeb;
                    font-size: 16px;
                    color: #232323;
                }
                
                #appPkgTable .deleteAppSourceLink i{
                    color: #ef4b25;
                    font-size: 20px;
                    cursor: pointer;
                }
                
                .bootstrap-filestyle{
                    width: 100%;
                }
                
                .bootstrap-filestyle label{
                    background-color: #178eea;
                    padding: 0 10px;
                    color: #fff;
                    border: 0;
                    border-radius: 0;
                    color: #fff !important;
                    font-weight: normal !important;
                }
                .bootstrap-filestyle label:hover{
                    background-color: #178eea;
                }
                .bootstrap-filestyle input[type="text"]{
                    border: 1px solid #ededed;
                    width: 100% !important;
                    padding: 5px 5px 5px 5px;
                    background: #fefefe;
                    border-radius: 0;
                    box-shadow: none;
                }
                
                .backBtnLink, .submitAppLink, .reviewAppLink  {            
                    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
                    -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
                    color: #fff;
                    text-align: center;
                    padding-top: 8px;
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: inline-block;
                }
                .backBtnLink:hover, .submitAppLink:hover, .reviewAppLink:hover{
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                }
                .backBtnLink{
                    background-color: #7d7d7d;
                    width: 112px;
                    height: 40px;
                }
                .submitAppLink{
                    background-color: #178eea;
                    width: 132px;
                    height: 40px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
                .reviewAppLink{
                    background-color: #00c485;
                    width: 132px;
                    height: 40px;
                }
                .bottomButtonsWrapper{
                    text-align: center;
                    margin-top: 30px;
                }
        
                #uploadProgressDialog {
                    display: none !important;
                }
                .MessageModal {
                text-align: center;
            }
            
            .modalHeader {
                font-size: 18px;
                font-weight: bold;
                text-align: left;
                color: #304a61;
                border-bottom: 0px !important;
                margin-bottom: -15px;
                }
        
           /* 
            .modal {
                padding-right: 0 !important;
            }
            
            .modalText {
                font-family: OpenSans;
                font-size: 18px;
                font-weight: bold;
                color: #304a61;
            }
            
            .modal-content {
                border-radius: 0;
                padding: 30px;
            }
            
            */
            .MessageModal .modal-dialog {
                width: 400px;
            }
            
            .MessageModal .mainMessageText {
                color: #304a61;
                font-size: 18px;
                font-weight: bold;
            }
            
            .MessageModal .okBtn {
                background-color: #178eea;
                width: 150px;
                color: #fff;
                border-radius: 0;
            }
            
            .bootbox.modal .modal-footer{
                text-align:center;
            }
            
            
                .CancelButton {
                    width: 117px;
                    height: 43px;
                    background-color: #7d7d7d;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    color: #ffffff;
                    border: 0;
                    outline: none;
                }
                
                .SubmitButton {
                    border: 0;
                    outline: none;
                    width: 117px;
                    height: 43px;
                    background-color: #178eea;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    color: #ffffff;
                }
        
            
                
                /** Puneet **/
                .jqte {border:0;margin:0;}
                .jqte_tool.jqte_tool_1 .jqte_tool_label {height:20px;}
                .jqte_editor ol, .jqte_editor ul {padding: 0px 10px;}
                .jqte_editor ul {list-style-type: square;}
                .jqte_editor b {font-weight:700;} 
                
            </style>
            
            <script>
                
                var styleLinks = $('link');
                $.each(styleLinks, function(index, item){
                    stylesheetURL = item.href;
                    if (stylesheetURL.indexOf("default/gc/common.css") >= 0){
                        $(this).prop( "disabled", true ); 
                    }
                    if (stylesheetURL.indexOf("default/gc/extended.css") >= 0){
                        $(this).prop( "disabled", true ); 
                    }
                    if (stylesheetURL.indexOf("default/base/common.css") >= 0){
                       $(this).prop( "disabled", true ); 
                    }
                    if (stylesheetURL.indexOf("default/base/extended.css") >= 0){
                        $(this).prop( "disabled", true ); 
                    }
                });
            </script>
            
        
       <apex:outputpanel id="confirmBox">
        <div class="modal fade MessageModal" tabindex="-1" role="dialog"
            id="confirmBoxModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{!$Resource.vMarketConfirmNavigationIcon}" />
                        <div class="mainMessageText" style="padding: 15px 0;">
                            <span id="alertText" class="modalText"></span>
                        </div>
                        <button type="button" class="CancelButton" data-dismiss="modal" id="cancelbutton">NO</button>
                        <button type="button" class="SubmitButton" id="AppActionButton"
                            onClick="submitAppTrigger()">PUBLISH/APPROVE</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </apex:outputpanel>
            <div id="content-wrapper">
                <div class="container-fluid page-top-section">
                    <div class="container">
                        <h3 class="pageTitle pull-left">Bug Fix</h3>    
                         <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>                
                    </div>
                </div>
                
                <div class="container page-content-section">
                    <div class="stepTitleText">
                     Bug Fix -  Package Details
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                            <div class="leftContentPanel">
                                
                                <div class="packageUploadWrapper">
                                    <apex:form id="bugFixForm"><apex:pageMessages ></apex:pageMessages>

                                    <div class="formField row">
                                         
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">
                                            Select App: 
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 fieldInput" Id="selectedAppId">
                                            <apex:selectList id="appName" value="{!selectedApp}" size="1" onchange="setSelectedApp();fetchAppSourceRecords();" required="true"
                                        html-data-rule-required="true" html-data-trigger="focus"
                                        html-data-msg-required="Please Select an App">
                                                <apex:selectOptions value="{!AppRecords}" />
                                            </apex:selectList>
                                            <input id="selectedApp" type="hidden" name="selectedApp" value="{!selectedApp}"/>
                                            <div id="appSelectError">Please select an App</div>
                                            
                                            <apex:actionFunction action="{!fetchAppSource}" name="fetchAppSourceId" rerender="appSourceSelectWrapper,form2">
                                                <apex:param value="" name="chatterAppSrc" />
                                            </apex:actionFunction>
                                        </div>
                                    </div>
                                    <div class="formField row">
                                        <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">
                                            Select App Category Version
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">
                                            <apex:outputPanel id="appSourceSelectWrapper">
                                            <apex:selectList id="appSource" value="{!selectedAppSource}" size="1" onchange="selectedAppSrc()" 
                                        html-data-rule-required="true" html-data-trigger="focus"
                                        html-data-msg-required="Please Select an App Source" >                                                                                              
                                                <apex:selectOptions value="{!AppSourceRecords}" />                                                  
                                                </apex:selectList> <!-- required="true"-->
                                                <div id="appCategoryVersionError">Please select category version</div>
                                                <apex:actionFunction action="{!selectedAppSrc}" name="selectedAppSrc" rerender="form2"/>            
                                            
                                            <script>
                                               $(function(){
                                                $("select[id*='appSource']").chosen({enable_split_word_search:true,search_contains:true});
                                               });                                           
                                            </script>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                    
        <!--                            <div class="formField row">
                                          <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">
                                            Bug Features:
                                        </div>
                                      <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">                                            
                                            <apex:inputTextarea value="{!bug_fix_features}" id="bugKeyFeatures"/>                                            
                                        </div> 
                                        <div class="col-md-3 col-sm-6 col-xs-12 fieldInfo">Max 500 Words</div>
                                    </div>     -->                                   
                                    </apex:form>
                                    <div class="formField row">
                                        <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">
                                            App Package:
                                        </div>
                                         
                                        <div  id="appSourceChatterWrapper">  
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                               <div class="formField">
                                                    <div id="chatterWrapper" style="display:none;">                                      
                                                    <chatter:feed entityId="{!appSourceForChatter.Id}" />                                        
                                                    <div id="appPackageError">Please select app package</div>
                                                    </div>
                                               </div> 
                                            </div>
                                             
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="formField">
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                        <button id="appSourceUploadBtn" class="btn btn-success"  onclick="window.submit_btn_clicked =true;clickUpload();">UPLOAD</button>  <!-- clickUpload(); -->
                                                     <!-- <apex:commandButton value="UPLOAD" action="{!createAppSource}" styleClass="btn btn-success" id="appSourceUploadBtn"/>-->
                                                        
                                                        <input id="appSourceForChatter" type="hidden" name="appSourceForChatter" value="{!appSourceForChatter.Id}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                               
                                
                                <apex:form > 
                                    <div class="row">
                                        <div class="col-md-12">
                           
                                            <apex:outputPanel id="form2" rendered="{!documentsExist}"> <!--{!IF(appSourceFiles.keyset().size != 0,true,false)} -->
                                            <div class="formField row" Style="margin-top: 15px;margin-bottom: 15px;">
                                                  <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel" style="text-align: right;">
                                                    Bug Features:
                                                </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">                                            
                                                    <!--<apex:inputTextarea value="{!bug_fix_features}" id="bugKeyFeatures" required="true"/>    -->
                                                    <apex:inputHidden value="{!bug_fix_features}" id="bugHiddenField"/>                                        
                                                    <div id="appBugFixFeaturesError" type="Hidden">Please Enter Bug Fix Features</div>
                                                    <textarea id="bugKeyFeatures" rows="5" cols="70"/>                                            
                                                </div> 
                                                <div class="col-md-3 col-sm-6 col-xs-12 fieldInfo">Max 500 Words</div>
                                            </div>
                                            <table class="table" id="appPkgTable" style="margin-bottom: 35px;">
                                                <thead>
                                                <tr>
                                                    <th>App Version Compatible With</th>
                                                    <th>Remove Package</th> 
                                                </tr>
                                                </thead>
                                                <tbody> 
                                                <apex:repeat var="appSc" value="{!appSourceList}">   
                                                 <apex:outputPanel rendered="{!if(CONTAINS(keyString,appSc.id),'true','false')}">                                              
                                                <tr>                                                    
                                                    <td>
                                                        <a href="/sfc/servlet.shepherd/version/download/{!appSourceFiles[appSc.id]}"> {!appSc.App_Category_Version__c}</a>  
                                                       <!-- <apex:outputPanel rendered="{!if(CONTAINS(keyString,appSc.id),'false','true')}"> Please Try Again .. </apex:outputPanel>  -->
                                                    <!-- <apex:outputLink  rendered="{!appSourceFiles[appSc.id] != ''}" target="_document" value="{!URLFOR($Action.Attachment.Download, appSourceFiles[appSc.id])}" styleClass="downloadBtn">{!appSc.App_Category_Version__c}</apex:outputLink> -->
                                                   
                                                    </td>
                                                    <td>                                               
                                                        <a class="deleteAppSourceLink" data-appSourceID="{!appSc.Id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a> 
                                                    </td>
                                                </tr>  </apex:outputPanel>
                                               
                                                
                                                </apex:repeat>
                                                </tbody>
                                            </table>
                                            
                                            <div class="bottomButtonsWrapper">
                                <a class="backBtnLink" onclick="window.submit_btn_clicked =true;cancelBugFix();">Cancel</a>
                                <a class="submitAppLink"  onclick="window.submit_btn_clicked=true;confirm();">Submit App</a><!--submitAppTrigger(); -->
                            </div>
                                            </apex:outputPanel>
                                            
                                        </div>
                                    </div>
                                    <apex:actionFunction action="{!createAppSource}" name="createAppSource">
                                        <apex:param name="selectedCatVersions" assignTo="{!selectedCatVersions}" value="{!selectedCatVersions }"/>
                                    </apex:actionFunction>
                                    <apex:actionFunction action="{!submitApp}" name="submitAppId" reRender="">
                                        <apex:param value="" name="selectedAppId" />
                                    </apex:actionFunction>    
                                    <apex:actionFunction name="deleteAppSource" action="{!deleteSource}" rerender="selectedDivId,form2" status="reviewDeleteAppSourceStatus">                             
                                        <apex:param value="" assignTo="{!SelSourceRecID}" name="SelSourceRecID"/>                                                            
                                    </apex:actionFunction>
                                    <apex:actionStatus onstart="reviewDeleteAppSourceStatus(0)"
                                        onstop="reviewDeleteAppSourceStatus(1)" id="reviewDeleteAppSourceStatus" /> 
                                        
                                        
                                        
                                </apex:form>
                                
                                
                            </div>
                            
                          <!--  <div class="bottomButtonsWrapper">
                                <a class="backBtnLink" onclick="cancelBugFix();">Cancel</a>
                                <a class="submitAppLink"  onclick="confirm();">Submit App</a>
                            </div> --><!--submitAppTrigger(); -->
                        </div>
                        
                    </div>
                </div>
            </div>  
            
            <script src="/soap/ajax/35.0/connection.js"></script>
            
           
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
            <script type="text/javascript" src="{!URLFOR($Resource.vMarket_jqeury_te, 'vMarket_jqeury_te/jquery-te-1.4.0.min.js')}"></script>
      <!--      
    <script type="text/javaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script> -->
            <script>
           
            $(window).bind("beforeunload",function(event) 
            {
           
                if(!window.submit_btn_clicked)
                  {
                                return "true";
                  }   
            });
            function removejscssfile(filename, filetype){
                var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist from
                var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
                var allsuspects=document.getElementsByTagName(targetelement)
                for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
                if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(filename)!=-1)
                    allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
                }
            }    
            
            //removejscssfile("ckeditor.js", "js")
            
            
                function validateAppSourceExtension(elementValue){                    
                    var ext = elementValue.split('.').pop().toLowerCase();                    
                    if($.inArray(ext, ['msi','zip']) == -1) {                        
                        return false;
                    }else{                        
                        return true;
                    }
                }
            
                function setSelectedApp(){
                    var appId = $('#selectedApp').val();  
                    //alert(appId);                      
                    localStorage.setItem('selectedApp', appId); 
                    //$('[id$="selectedApp1"]').val(appId);
                    //console.log('appid'+appId);
                    var appSrcId = $('#appSourceForChatter').val();
                    //console.log('appSrcid'+appSrcId);
                    var appScrArrayValue = JSON.parse(localStorage.getItem('selectedAppSrcArray'));
                    if(appScrArrayValue == null){
                        var appScrArray = [];
                        appScrArray.push(appSrcId);
                        localStorage.setItem('selectedAppSrcArray', JSON.stringify(appScrArray));
                    }else{
                        appScrArrayValue.push(appSrcId);
                        localStorage.setItem('selectedAppSrcArray', JSON.stringify(appScrArrayValue));
                    }
                    
                    
                }
                
                
                var finished = false;
                var proceed = false; 
                function clickUpload(){   
                    //refresh();   
                    var appSelectValid = false;
                    var appSourceValid = false;
                    var appCatVersionValid = false;
                    
                    if( $("select[id*='appName'] :selected").val() == '' ){
                        $("#appSelectError").show();
                        proceed = false;
                        appSelectValid = false;
                    }else{
                        $("#appSelectError").hide();
                        appSelectValid = true;
                    }
                    
                    if( $("select[id*='appSource'] :selected").val() == '' ){
                        $("#appCategoryVersionError").show();
                        proceed = false;
                        appCatVersionValid = false;
                    }else{
                        $("#appCategoryVersionError").hide();
                        appCatVersionValid = true;
                    }
                    
                    if( $('.file')[1].files.length === 0 ){
                        $("#appPackageError").html('Please select app package').show();
                        proceed = false;
                    }else {
                        $("#appPackageError").hide();  
                    }
                    
                    if( $('.file')[1].files.length !== 0 ){
                        appSourceValid = validateAppSourceExtension($('.file')[1].value);
                        
                        if(appSourceValid){
                            $("#appPackageError").hide();
                        }else{                              
                            $("#appPackageError").html('Only msi/zip files are allowed').show();
                            proceed = false;
                        }
                    }
                    
                    if( appSelectValid && appCatVersionValid && appSourceValid ){                                                      
                        $("#appSelectError").hide();
                        $("#appCategoryVersionError").hide();
                        $("#appPackageError").hide();
                        $('#publishersharebutton').trigger('click');                        
                        $('.divLoading').show();
                        proceed = true;
                    }
                    
                    /* $("#appSelectError").hide();
                        $("#appCategoryVersionError").hide();
                        $("#appPackageError").hide();
                        $('#publishersharebutton').trigger('click');                        
                        $('.divLoading').show();
                        proceed = true;*/
                    
                    if(proceed){
                        refresh();
                        setTimeout(function(){ createAppSource(); },100000);
                    }
                    
                }
                
                function refresh() 
                {
                    console.log('Checking for File');
                    
                    vMarketDevBugFixController.fileuploaded($('#appSourceForChatter').val(),
                    function(result, event) {
                        console.log(result);
                        if(result==true)
                        {
                            createAppSource();
                        }
                    });
                
                    setTimeout(refresh, 3000);
                }
                
                function reviewDeleteAppSourceStatus(statusFlag){                      
                    if( statusFlag === 0 ){
                        $('#divLoading').show();                 
                    }else if( statusFlag === 1 ){
                         $('#divLoading').hide();           
                    }
                }
                
                function submitAppTrigger(){
                  var action = $("#AppActionButton").text();
            if(action=="PROCEED") {   
            //jQuery('[id$=bugFixForm]').submit();
            $('#confirmBoxModal').modal('toggle');                    
                    var selectedAppId =  localStorage.getItem("selectedApp");                                                                        
                        submitAppId(selectedAppId);
                        localStorage.clear();
                    //}
                }
                
                }
                
                function confirm(){    
                var selectedAppId =  localStorage.getItem("selectedApp");     
                 if( selectedAppId == null )
                 {                            
                        $("#appSelectError").show();
                 }
                else
                {                            
                        $("#appSelectError").hide();                                 
                        $("#appBugFixFeaturesError").hide();
                       if('{!documentsExist}')
                        {                        
                            if( $("#bugKeyFeatures").val() == '' )
                            {
                                $("#appBugFixFeaturesError").show();
                            }
                            else
                            {
                            jQuery('[id$=bugHiddenField]').val($("#bugKeyFeatures").val());
                            $('#confirmBoxModal').modal('toggle');
                            $("#alertText").text("{!$Label.vMarket_Confirm_BugFix}");
                            $("#AppActionButton").text('PROCEED');
                            $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
                            $("#confirmBoxModal").modal('show'); 
                            
                            }
                        }
                
                }
                
                }
            
                function fetchAppSourceRecords(){                    
                    
                    var appIdList = $.parseJSON(localStorage.getItem('selectedAppSrcArray'));
                    //alert(appIdList);
                    var appIdString = (appIdList.length > 0) ? appIdList.join(',') : '';
                    //alert('here'+appIdString);
                    //console.log('Passed App id'+appIdString);
                    //fetchAppSourceId(appIdString);
                    //alert($('#selectedApp').val());
                   fetchAppSourceId($('#selectedApp').val()); 
                    //localStorage.removeItem('selectedAppSrcArray');
                }
                
                function cancelBugFix(){
                    localStorage.clear();
                    window.location.href = "/vMarketDeveloper";
                }
            
               
                $(document).ready(function() {
                
                if('{!uploadError}'=='true')
                {
                $('#confirmBoxModal').modal('toggle');
                $("#alertText").text("{!$Label.vMarket_Source_Upload_Error}");
                $("#AppActionButton").hide();
                $("#cancelbutton").text('Ok');
                $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
                $("#confirmBoxModal").modal('show'); 
                }
                    $("textarea[id*='bugKeyFeatures']").jqte({
                        fsize: false,
                        format: false,
                        color: false,
                        sub: false,
                        sup: false,
                        indent: false,
                        outdent: false,
                        left: false,
                        center: false,
                        right: false,
                        strike: false,
                        link: false,
                        unlink: false,
                        rule: false,
                        remove: false,
                        source:false
                });
                
                
              
                   /*  $('[id$=appLogo]').rules("add",{
                        required: true,
                        extension: "zip",
                        messages:{                   
                           required:"<div class=\"round-rect\">Please enter an App Source</div>",
                           extension:"<div class=\"round-rect\">Please enter only ZIP Sources</div>"
                        }
                  });
                    */
                     $("select[id*='appName']").chosen({enable_split_word_search:true,search_contains:true});
                     $("select[id*='appSource']").chosen({enable_split_word_search:true,search_contains:true});
                     
                     $("select[id*='appName']").change(function(e){
                         $('#selectedApp').val($(this).val());
                     });
                     
                    
                     
                    var checkChatterExist = setInterval(function(){                             
                        if ($('#publisherAttachContentPost').length) {
                            //console.log(proceed);
                            $('#publisherAttachContentPost').trigger('click');
                            $('#chatterUploadFileAction').trigger('click');
                            $('.uploadFileSizeLimit').hide();           
                            $('.contentPublisherSlideDown.customPanel.alignTop').css('border', '0');
                            $('.clearContentPanelButtonContainer').hide();
                            $('.publisherFeedItemTypeChoices').hide();      
                            $('.cxfeedinnerwrapper').hide();  
                            $('.publisherBottomBarPlaceholder').hide();
                            $('.publisherTextAreaPlaceholder.alignCenter').hide();                               
                            
                            $('input[name="chatterFile"]').filestyle({
                                icon: false,
                                buttonText: "Select Package"
                            });
                            $('#chatterWrapper').show();
                            clearInterval(checkChatterExist );                            
                            $('.divLoading').hide();
                       }
                    }, 2000);
                    
                    $(document).on('change','select[id*="appSource"]', function(e){                        
                        e.preventDefault();
                        var selectedVal = $(this).val();
                        //console.log(selectedVal);
                        if(selectedVal){
                            $('#appSourceChatterWrapper').show();
                        }else{
                            $('#appSourceChatterWrapper').hide();
                        }
                    });
                    
                    $(document).on('click','.deleteAppSourceLink', function(){
                    window.submit_btn_clicked = true;
                        var SelSourceRecID = $(this).attr('data-appSourceID');
                        //console.log(SelSourceRecID);
                        bootbox.confirm({
                            message: "Are you sure want to delete this Package?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'submitAppLink appSourceDeleteYes'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'backBtnLink'
                                }
                            },
                            callback: function (result) {
                                if(result === true){
                                    $('#divLoading').show();
                                    deleteAppSource(SelSourceRecID);
                                }
                            }
                        });
                        
                    });
                    
                  /*  if( $('#appPkgTable tboby tr').length === 0){
                        $('#appPkgTable').hide();
                    }else {
                        $('#appPkgTable').show();
                    }*/
                    
                                      
                });
                
                
                
                               
            </script>
            </apex:outputPanel>
            <apex:include pageName="vMarketLoginBox" />
            
        
        
    
 
     <c:vMarketDevFooter />
</apex:page>