<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="vMarket_TermsOfUseController" action="{!validateUser}">
    <!--<c:vMarketDevHeader />-->
    <style>
        .termsNcond {
            width: 322px;
            height: 17px;
            opacity: 0.5;
            font-family: OpenSans;
            font-size: 18px;
            line-height: 1.46;
            text-align: left;
            color: rgba(48, 74, 97, 0.5);
        }
        .accept {
            width: 150px;
            height: 40px;
            object-fit: contain;
            background-color: #178eea;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
        }
        .decline {
            width: 122px;
            height: 40px;
            object-fit: contain;
            background-color: #7d7d7d;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
        }
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 20px;
            display: inline-block;
            float: left;
        }
    </style>
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />        
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />
    
    <apex:outputPanel id="content-wrapper" layout="block" >
        
        <div class="container-fluid page-top-section" style="background: #ebebeb;height: 100px;">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="logoDiv">
                            <a class="vMarketLogoTop" href="/vMarketLogin"></a>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        
        
        <apex:outputPanel layout="block" Styleclass="container page-content-section appDetailsWrapper" rendered="{!If( OR(isDevPending, NOT(isDev)), false, true)}">
            <div Style="height:18px;font-family:OpenSans;font-size:24px;line-height:1.11;text-align:left;color:#304a61;">
                {!$Label.vMarket_PrivacyAgreement}
            </div><br/><br/>
            <div class="termsNcond">{!$Label.vMarket_TermsNCond}</div><br/>
            <div id="tc_content" style="height:380px;overflow-y: scroll;text-align:justify;">
                <div class="panel-content">
                    <div id="privacy_statement" style="font-size:90% ;display: block;">&nbsp;</div>
                </div>  
            </div><br/><br/><div class="clear-fix"></div>
            <!-- Agree,Disagree_section -->
            <div>
                <button type="button" class="accept" style="margin-bottom: 2px;" onClick="agreeTerms()" id="submitTOS" >{!$Label.vMarket_Agree_Button_Label}</button>
                <button type="button" class="decline" onclick="disAgreeTerms()" data-dismiss="modal">{!$Label.vMarket_Disagree_Button_Label}</button>
            </div>
            <!-- Agree,Disagree_section_ends_here -->
        </apex:outputPanel>
        
    </apex:outputPanel>
    <!-- Panel Visible is Customer's Developer Request is in Pending State -->
    <apex:outputPanel id="content-wrapper-pending" layout="block" rendered="{!If(isDevPending, true, false)}" 
                                style="height:380px;overflow-y:scroll;text-align:justify;">
        <div class="container-fluid page-top-section">
            <div class="container" style="text-align:center">
                <h3 class="pageTitle pull-center">{!$Label.vMarket_DevReqPending}</h3>
                <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>
            </div>
        </div>
    </apex:outputPanel>
    <!-- Panel visible is Customer is already a Developer -->
    <apex:outputPanel id="content-wrapper-developer" layout="block" rendered="{!If(!isDev, true, false)}"
                                style="height:380px;overflow-y: scroll;text-align:justify;">
        <div class="container-fluid page-top-section" style="text-align:center">
            <div class="container">
                <h3 class="pageTitle pull-center">{!$Label.vMarket_TermsNConditionAccepted}</h3>
                <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>
            </div>
        </div>
    </apex:outputPanel>
    
    <apex:form >
        <apex:actionFunction action="{!agreeTerms}" name="agreeTermsAction" oncomplete="modstrb();"/>
        <apex:actionFunction action="{!disAgreeTerms}" name="disAgreeAction" />
    </apex:form>
    <c:vMarketDevFooter />
    <apex:include pageName="vMarketLoginModal" />
    
    <div class="modal fade" id="addStrModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" data-backdrop="static" data-keyboard="false" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center; margin: 0 auto;">
                    <apex:image id="conStr" value="{!$Resource.vMarketStripeIcon}"/>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                        <apex:image id="close" value="{!$Resource.vMarket_ModalCloseIcon}" style="width: 14.5px;height: 14.5px;object-fit: contain;"/>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formField" style="text-align: center;margin: 0 auto;">
                        <h4 class="modal-title" id="addReviewModalLabel" style="font-size: 18px;font-weight: bold;color: #304a61;font-family: OpenSans;">
                            Your Stripe Account Information
                        </h4>
                        <div class="titleDescriptionWrapper">
                            <div class="descriptionOutput">
                                <p style="font-family: OpenSans;font-size: 16px;font-weight: 600;line-height: 1.5;color: #bac5ce;">
                                Stripe Account Id is required to make the transaction to your account.<br/>
                                Please click the link below to login to your Stripe Account<br/>
                                </p>
                                <hr style="width:118px;"/>OR<hr style="width:118px;"/>
                                <p style="font-family: OpenSans;font-size: 16px;font-weight: 600;line-height: 1.5;color: #bac5ce;">
                                    Sign up to create Stripe Account
                                </p> 
                            </div>
                        </div>
                        <div>
                            <button type="button" class="accept" onclick="stripeInfo();" Style="width: 234px;height: 43px;background-color: #178eea;">
                                {!$Label.vMarket_ConnectWithStripe}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#privacy_statement").load("{!URLFOR($Resource.vMarket_TermsOfUse)}");
        
        function agreeTerms() {
          agreeTermsAction();
        }

        function disAgreeTerms() {
          disAgreeAction();
        }
        
        function modstrb() {
            $('#addStrModal').modal('show');
        }
        
        function stripeInfo() {
            window.open("{!vMarketStripeURL}","_self");
        }
        
        
    </script>
</apex:page>