<apex:page sidebar="false" showHeader="false" standardStylesheets="false" docType="html-5.0">
    <c:vMarketHeader />
    <style type="text/css">
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 12px;  
            color: #bac5ce;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-size: 12px;  
            color: #bac5ce;
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-size: 12px;  
            color: #bac5ce;
        }
        :-moz-placeholder { /* Firefox 18- */
            font-size: 12px;  
            color: #bac5ce;
        }
        .formField{
            margin-bottom: 30px;
            border: solid 1px #ededed;
            padding: 10px;
        }
        .fieldLabel{
            color: #b6c2cb;
            font-size: 14px;
        }
        .fieldInput input, .fieldInput textarea{
            width: 100%;
            border:0;
            font-size: 16px;  
            color: #304a61;
        }
        .submitBtn{
            background-color: #178eea;
            width: 150px;
            height: 40px;
            color: #fff;
            display: block;
            text-align: center;
            padding-top: 9px;
            cursor: pointer;
            text-decoration: none;
            margin: 20px auto 0 auto;
        }
        .submitBtn:hover, .submitBtn:focus, .submitBtn:visited{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        
        label.error {
            color: #fff;
            font-size: 0.8em;
            background: #ef4b25;
            padding: 5px;
            border-radius: 3px;
            margin-bottom: 2px;
            margin-right: 16.5%;
            position: relative;
            float: right;
        }
        ul.alert{
            list-style: none;
        }
        
    </style>
    <div id="content-wrapper">
        <div class="container-fluid page-top-section">
            <div class="container">
                <h3 class="pageTitle pull-left">CONTACT US</h3>
                <div class="breadCrumbWrapper pull-right">
                    <c:vMarketBreadCrumb />
                </div>
            </div>
        </div>
       </div>
    <c:vMarketFooter />
    
    
</apex:page>