<apex:page sidebar="false" showHeader="false" standardStylesheets="false" id="pg" >
    <title>vMarket Dev Approval Admin</title>
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />        
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />
    <script
        src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script
        src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <Style>
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 20px;
            display: inline-block;
            float: left;
        }
        
        
        /* header styles */
        .topHeader {
            background-color: #f4f5f9;
            height: 100px;
        }
        
        .topHeader .container {
            width: 1296px;
            padding-left: 45px;
            padding-right: 45px;
        }
        
    </Style>
    
        
       <div class="container-fluid topHeader">
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                   <div class="col-md-4"></div>
                   <div class="col-md-4">
                       <div class="logoDiv">
                           <a class="vMarketLogoTop" href=""></a>
                       </div>
                   </div>
                   <div class="col-md-4"></div>
               </div>
            <div class="clear-fix"></div>
        </div>
        <!-- /.container -->
    </div>
    
    <apex:outputPanel id="content-wrapper" layout="block" >    
        
        <div class="container-fluid page-top-section" style="background: #ebebeb;height: 100px;">
            <div class="container ">
                <div class="container-fluid page-top-section">
                    <div class="container">
                        <h3 class="pageTitle pull-left">WELCOME {!$User.LastName}</h3>
                    </div>
                </div>
            </div> 
        </div>
        
        <apex:outputPanel styleClass="container page-content-section" layout="block">
            <div class="row">
                <div class="col-md-12">
                    <apex:outputPanel layout="block" id="infoItemsTableWrapper" >
                        <ul class="nav nav-tabs responsive hidden-xs hidden-sm nav-justified" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#pendingApps">Pending Developer Requests</a></li>
                            <li><a data-toggle="tab" href="#existingApps">Existing Developers</a></li>
                            <li><a data-toggle="tab" href="#rejectedApps">Rejected Developer Requests</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="pendingApps" class="tab-pane active">
                                <c:vMarket_DeveloperStatus status="Pending" 
                                    divId="pg:infoItemsTableWrapper:pendingApps:comp:pb:idActionPopupPanel" Count="1"/>
                            </div>
                            <div id="existingApps" class="tab-pane">
                                <c:vMarket_DeveloperStatus status="Approved" 
                                    divId="pg:infoItemsTableWrapper:existingApps:comp:pb:idActionPopupPanel" Count="2"/>
                            </div>
                            <div id="rejectedApps" class="tab-pane">
                                <c:vMarket_DeveloperStatus status="Rejected" 
                                    divId="pg:infoItemsTableWrapper:rejectedApps:comp:pb:idActionPopupPanel" Count="3"/>
                            </div>
                        </div>
                    </apex:outputPanel>
                </div>
            </div>
        </apex:outputPanel>
        
    </apex:outputPanel>
    
    
</apex:page>