<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="vMarket_DeveloperAgreementController" action="{!validateUser}" docType="html-5.0">
    <!--<c:vMarketDevHeader />-->
      
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />        
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />
    
    <style>
        body {
            font-family: 'Open Sans', sans-serif;            
        }
    
        *::-ms-clear {
            display: none;
        }
    
        *{
            outline:none;
        }
        
        a{
            text-decoration:none;            
        }
        a:hover{
            text-decoration:none;            
        }
        .termsNcond {            
            opacity: 0.5;            
            font-size: 18px;            
            text-align: left;
            color: rgba(48, 74, 97, 0.5);
            margin-bottom: 10px;
        }
        .accept {
            background-color: #178eea;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            width: 156px;
            height: 38px;
            line-height: 38px;
            display: inline-block;
            color: #fff;
            text-align: center;            
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
        }
        .decline {
            background-color: #7d7d7d;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            width: 156px;
            height: 38px;
            line-height: 38px;
            display: inline-block;
            color: #fff;
            text-align: center;            
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
        }
        .logoDiv{
            text-align: center;
        }
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 20px;
            display: inline-block;
        }
        .dropdownItem{
            display: block;
            width: 100%;
            padding: 0px 1.5rem;
            clear: both;
            font-weight: 400;
            color: #292b2c;
            text-align: inherit;
            white-space: nowrap;
            background: 0 0;
            border: 0;
        }
    </style>
    <apex:outputPanel id="content-wrapper" layout="block" >
        
        <div class="container-fluid page-top-section" style="background: #ebebeb;height: 100px;">
            <div class="container ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="row">
                    <div class="logoDiv">
                        <a class="vMarketLogoTop" href="/vMarketLogin"></a>
                    </div>
                </div>
            </div>
        </div>
        
        <apex:outputPanel layout="block" Styleclass="container page-content-section appDetailsWrapper" rendered="{!If( OR(isDevPending, NOT(isDev)), false, true)}">
            
            <div class="row" Style="font-size:24px;text-align:left;color:#304a61;padding: 10px 0;">
                <div class="col-md-6">Developer {!$Label.vMarket_PrivacyAgreement}</div>
                <div class="col-md-6">
                    <apex:outputPanel styleclass="btn-group" id="archivedVerPanel" rendered="{!archievedVersionAvailable}" styleClass="pull-right">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false">
                            ARCHIVED VERSIONS
                        </button>
                        <div class="dropdown-menu">
                            <apex:repeat value="{!archievedVersions}" var="key">
                                <apex:repeat value="{!archievedVersions[key]}" var="ver">
                                    <a class="dropdownItem" href="#" onclick="loadResource('{!ver}', '{!key}')">{!key}</a><br/>
                                </apex:repeat>
                            </apex:repeat>
                        </div>
                    </apex:outputPanel>
                </div>
            </div>
            <div class="clear-fix"></div>            
            <div class="row termsNcond">
                <div class="col-md-12">{!$Label.vMarket_TermsNCond}</div>
            </div>
            <div class="clear-fix"></div>
            <div id="tc_content" style="margin-bottom: 20px;">                
                <div class="panel-content">
                    <div id="privacy_statement" style="height: 400px;">
                        <iframe src="{!URLFOR($Resource.vMarket_DeveloperAgreement)}" id="privacy_statement_iframe" style="overflow-y:scroll;height:100%;width:100%;border:1px solid #ccc;" height="100%" width="100%"></iframe>
                    </div>
                </div>  
            </div><div class="clear-fix"></div>
            <!-- Agree,Disagree_section -->
            <div>
                <a class="accept" style="margin-bottom: 2px;" onClick="agreeTerms()" id="submitTOS" >{!$Label.vMarket_Agree_Button_Label}</a>
                <a class="decline" id="disagreeTOS" onclick="disAgreeTerms()" data-dismiss="modal">{!$Label.vMarket_Disagree_Button_Label}</a>
            </div>
            <!-- Agree,Disagree_section_ends_here -->
        </apex:outputPanel>
        
    </apex:outputPanel>
    <!-- Panel Visible is Customer's Developer Request is in Pending State -->
    <apex:outputPanel id="content-wrapper-pending" layout="block" rendered="{!If(isDevPending, true, false)}" 
                                style="height:380px;overflow-y:scroll;text-align:justify;">
        <div class="container-fluid page-top-section">
            <div class="container" style="text-align:center">
                <h3 class="pageTitle pull-center">{!$Label.vMarket_DevReqPending}</h3>
                <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>
            </div>
        </div>
    </apex:outputPanel>
    <!-- Panel visible is Customer is already a Developer -->
    <apex:outputPanel id="content-wrapper-developer" layout="block" rendered="{!If(!isDev, true, false)}"
                                style="height:380px;overflow-y: scroll;text-align:justify;">
        <div class="container-fluid page-top-section" style="text-align:center">
            <div class="container">
                <h3 class="pageTitle pull-center">{!$Label.vMarket_TermsNConditionAccepted}</h3>
                <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>
            </div>
        </div>
    </apex:outputPanel>
    
    <apex:form >
        <apex:actionFunction action="{!agreeTerms}" name="agreeTermsAction" oncomplete="modstrb();" status="AgreementStatus"/>
        <apex:actionFunction action="{!disAgreeTerms}" name="disAgreeAction" status="AgreementStatus"/>
        <apex:actionFunction action="{!skipStripe}" name="skipStripe" status="AgreementStatus"/>
        <apex:actionStatus id="AgreementStatus">
            <apex:facet name="start">
                <div id="divLoading" class="divLoading">
                    <p class="innerLoading">
                        <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" /><br />
                        Please wait...
                    </p>
                </div>
            </apex:facet>
        </apex:actionStatus>
        
    </apex:form>
    <c:vMarketDevFooter />
    <apex:include pageName="vMarketLoginModal" />
    
    <div class="modal fade" id="addStrModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" data-backdrop="static" data-keyboard="false" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center; margin: 0 auto;">
                    <apex:image id="conStr" value="{!$Resource.vMarketStripeIcon}"/>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                        <apex:image id="close" value="{!$Resource.vMarket_ModalCloseIcon}" style="width: 14.5px;height: 14.5px;object-fit: contain;"/>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formField" style="text-align: center;margin: 0 auto;">
                        <h4 class="modal-title" id="addReviewModalLabel" style="font-size: 18px;font-weight: bold;color: #304a61;">
                            Your Stripe Account Information
                        </h4>
                        <div class="titleDescriptionWrapper">
                            <div class="descriptionOutput">
                                <p style="font-size: 13.5px;font-weight: 600;line-height: 1.5;color: #bac5ce;">
                                    {!$Label.vMarket_Stripe_Connect}
                                </p>
                                <!--<p style="font-size: 13.5px;font-weight: 600;line-height: 1.5;color: #bac5ce;">
                                Stripe Account Id is required to make the transaction to your account.<br/>
                                Please click the link below to login to your Stripe Account <br/>
                                </p>
                                <hr style="width:118px;"/>OR<hr style="width:118px;"/>
                                <p style="font-size: 16px;font-weight: 600;line-height: 1.5;color: #bac5ce;">
                                    Sign up to create Stripe Account
                                </p> -->
                            </div>
                        </div>
                        <div>
                            <button type="button" class="accept" onclick="stripeInfo();" Style="width: 234px;height: 43px;background-color: #178eea;">
                                {!$Label.vMarket_ConnectWithStripe}
                            </button>
                        </div>
                        <hr/>
                        <div class="titleDescriptionWrapper">
                            <div style="font-size: 12px;color: #bac5ce; font-weight: 600;">
                               <span style="text-decoration:underline"><a href="#" onclick="skipStripe()">Skip this Step</a>.</span><span> {!$Label.vMarket_Skip_Stripe}</span>
                            </div>
                        </div>
                         <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        function loadResource(resource, currentVer) {            
            if(currentVer != 'Current') {
                console.log(true);
                $('#submitTOS').hide();
                $('#disagreeTOS').hide();
                $('.accept').attr('disabled','disabled');
                $('.decline').attr('disabled','disabled');
            } else {
                console.log(false);
                $('#submitTOS').show();
                $('#disagreeTOS').show();
                $('.accept').removeAttr('disabled');
                $('.decline').removeAttr('disabled');
            }            
            var iframe = document.getElementById('privacy_statement_iframe');
            iframe.src = resource;
            var htmlContent = iframe.contentWindow.document.body.innerHTML;
            iframe.body.innerHTML = htmlContent;
            
            $("#privacy_statement_iframe").html(htmlContent);

            //iframe.contentDocument.location.reload(true);
            //document.getElementById('privacy_statement_iframe').contentWindow.document.write(resource);
            //iframedoc = iframe.contentDocument || iframe.contentWindow.document;
            
        }
        
        function agreeTerms() {
          agreeTermsAction();
        }

        function disAgreeTerms() {
          disAgreeAction();
        }
        
        function modstrb() {
            $('#addStrModal').modal('show');
        }
        
        function stripeInfo() {
            window.open("{!vMarketStripeURL}","_self");
        }
        
        
    </script>
    

    
</apex:page>