<apex:page sidebar="false" showHeader="false"
    standardStylesheets="false" controller="vMarketAppDetailsController">
    <c:vMarketDevHeader />

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        
        /* Page content styling */
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        /* Page styling start */
        #content-wrapper {
            margin-top: 42px;
        }
        /* Page styling end */
        .page-top-section .container {
            width: 1296px;
            padding-left: 45px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -100px;
            padding: 30px 25px 20px 40px;
            width: 1296px;
        }
        
        .appVersionsSelectWrapper {
            display: inline-block;
        }
        
        .appVersionsSelectWrapper select {
            padding: 5px 10px;
            border: 1px solid #fff;
            font-size: 1em;
        }
        
        strong {
            font-weight: bold;
        }
        
        .message table {
            display: inline-block;
            font-weight: bold;
        }
        
        .noAppExist {
            font-size: 1.5em;
            font-weight: bold;
            font-family: Georgia, serif;
            color: #c7c7c7;
            margin: auto;
            padding-top: 38px;
        }
        
        .filter_box {
            border: 1px solid #cccccc;
            border-radius: 5px 5px;
            margin-top: 14px;
        }
        
        .filter_box h4 {
            font-weight: bold;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 15px;
        }
        
        .filter_box ul {
            display: block;
            list-style-type: disc;
            margin-top: 0.6em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }
        
        .filter_box ul li {
            padding-left: 10px;
        }
        
        .filter_box ul li.active {
            background: #f0f0f0;
            font-weight: bold;
        }
        
        .chart_Box {
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #ebebeb;
            float: left;
            width: 100%;
        }
        
        #statusTab {
            border-bottom: 1px solid #ebebeb;
            /*padding-bottom: 20px;*/
            margin-bottom: 20px;
        }
        
        #statusTab>li>a {           
            font-size: 20px;
            color: #304a61;         
            text-align: center;
        }
        
        #statusTab>li>a:hover {
            border-color: transparent;
            border-bottom: 4px solid #178eea;
            background: transparent;
        }
        
        #statusTab>li.active>a {
            border-color: transparent;
            border-bottom: 4px solid #178eea;
            font-weight: 600;
        }
        
        .appDetailsWrapper .appName {
            font-size: 32px;
            color: #304a61;
        }
        
        .appDetailsWrapper .appDevName {
            font-size: 18px;
            color: #666;
        }
        
        .appDetailsWrapper .appDevName {
            font-size: 18px;
            color: #666;
            margin-bottom: 5px;
        }
        
        .appDetailsWrapper .appCatName {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 5px;
            color: #666666;
        }
        
        .appDetailsWrapper .appCatName strong {
            color: #304a61;
            font-weight: 600;
        }
        
        .appDetailsWrapper .appStatus {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 5px;
            color: #666666;
        }
        
        .appDetailsWrapper .appStatus strong {
            color: #3197eb;
            font-weight: 600;
        }
        
        .appDetailsWrapper .appReviewsCount {
            font-size: 16px;
            color: #666;
            margin-left: 10px;
        }
        
        .appDetailsWrapper .appPrice {
            font-size: 16px;
            color: #00c485;
            font-weight: 600;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        .appDetailsWrapper .addToCartBtn {
            background-color: #178eea;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            width: 156px;
            height: 38px;
            display: block;
            color: #fff;
            text-align: center;
            padding-top: 8px;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
        }
        
        .appDetailsWrapper .devInfoLabel {
            color: #304a61;
            font-size: 14px;
            font-weight: 600;
        }
        
        .appDetailsWrapper .devEmail {
            color: #666;
            font-size: 14px;
            font-weight: 600;
            margin-top: 5px;
        }
        
        .appDetailsWrapper .infoLabel {
            color: #304a61;
            font-size: 20px;
            margin-bottom: 12px;
            line-height: 1;
        }
        
        .appDetailsWrapper .infoText {
            color: #666666;
            font-size: 14px;
            word-wrap:break-word;
        }
        
        .appDetailsWrapper .descTextWrap {
            margin-top: 25px;
        }
        
        .appDetailsWrapper .filterReviewsDropdownWrap {
            margin-bottom: 10px;
        }
        
        .appDetailsWrapper .filterReviewsDropdownWrap label {
            color: #304a61;
            font-size: 15px;
            font-weight: normal;
        }
        
        .appDetailsWrapper .filterReviewsDropdownWrap select {
            color: #304a61;
            font-size: 12px;
            margin-left: 10px;
            padding: 5px;
        }
        
        .appDetailsWrapper  .appAvgRatingNumber {
            color: #304a61;
            font-size: 120px;
            font-weight: 300;
            line-height: 1;
        }
        
        .carousel-wrapper {
            width: 680px;
            background-color: #f7f7f7;
            margin-top: 30px;
            padding: 30px 0;
            margin-left: 50px;
        }
        
        .carousel-inner {
            margin: 0 auto;
            width: 600px;
            height: 400px;
        }
        
        .carousel-control {
            width: 0 !important;
            background-image: none !important;
            opacity: 1 !important;
            width: 48px !important;
            height: 48px !important;
            top: 45%;
            background-color: #ffffff;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            padding-top: 12px;
        }
        
        .carousel-control>i {
            font-size: 26px;
            color: #b6c2cb;
            box-shadow: none;
        }
        
        .carousel-control.left {
            left: 15px;
        }
        
        .carousel-control.right {
            right: 15px;
        }
        
        .carousel-inner>.item>a>img {
            margin: 0 auto;
            width: 600px;
            height: 400px;
        }
        
        .carousel-inner .video a {
            position: relative;
        }
        
        .carousel-inner .video a .playIconWrap {
            position: absolute;
            display: block;
            background: url('{!$Resource.vMarketYoutubePlayIcon}');
            top: 150px;
            left: 230px;
            z-index: 2000;
            width: 141px;
            height: 100px;
        }
        
        .ekko-lightbox.modal{
            position: absolute;
            overflow-y: hidden;
        }
        
        .ekko-lightbox.modal:before{
            display: none;          
        }
        
        .ekko-lightbox.modal .modal-dialog{         
            top: 20%;
        }
        
        .ekko-lightbox .modal-header {
            border-bottom: 0px;
            padding: 0px;
        }
        
        .ekko-lightbox .modal-body {
            padding-top: 0;
        }
        
        .ekko-lightbox .close {
            margin-top: 5px;
            margin-right: 15px;
            font-size: 25px;
            margin-bottom: 5px;
            opacity: 1;
        }
        
        .editDiv {
            text-align: right;
            margin-top: 10px;
        }
        
        .editLink {
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            color: #178eea;
            position: relative;
            top: 2px;
        }
        
        .ChartHeaderTitle {
            font-size: 22px;
            text-align: left;
            color: #a4a4a4;
            padding: 15px 30px 0px 25px;
        }
        
        .ChartMixTitle {
            font-size: 22px;
            font-weight: 600;
            text-align: left;
            color: #304a61;
            padding: 10px 30px 0px 25px;
            margin-top: 10px;
        }
        
        .TotalDownload {
            font-size: 40px;
            color: #178eea;
            font-weight: 600;
            padding: 0px 30px 0px 25px;
        }
        
        .SubTotalDownload {
            font-size: 18px;
            color: #178eea;
            font-weight: 600;
            padding: 0px 10px 0px 10px;
        }
        
        .TotalEarning {
            font-size: 40px;
            font-weight: 600;
            color: #225a84;
            padding: 0px 30px 0px 25px;
        }
        
        .SubTotalEarning {
            font-size: 18px;
            font-weight: 600;
            color: #225a84;
            padding: 0px 10px 0px 10px;
        }
        
        .TotalEarningUnit {
            font-size: 26px;
            color: #8b8b8b;
        }
        
        .SubTotalEarningUnit {
            font-size: 18px;
            color: #8b8b8b;
        }
        
        .RatingStyle {
            font-size: 40px;
            font-weight: 600;
            color: #ffd200;
            padding: 0px 30px 0px 25px;
        }
        
        .SubChartHeaderTitle {
            font-size: 16px;
            color: #a4a4a4;
            padding: 0px 10px 20px 10px;
        }
        
        .SubRatingStyle {
            font-size: 18px;
            font-weight: 600;
            color: #ffd200;
            padding: 0px 10px 0px 10px;
        }
        
        .appsFilterSelect.bootstrap-select {
            border-radius: 0px;
            width: auto !important;
        }
        
        .appsFilterSelect.bootstrap-select .dropdown-toggle {
            outline: none !important;
            border-radius: 0;
            background: #fff;
            box-shadow: none;
            color: #304a61;
            font-size: 12px;
            width: 165px;
            border-color: #304a61 !important;
        }
        
        .bootstrap-select.btn-group .dropdown-toggle .filter-option {
            color: #304a61;
            font-size: 12px;
            font-weight: 600;
            padding-left: 10px;
        }
        
        .appsFilterSelect.bootstrap-select .dropdown-toggle:visited,
            .appsFilterSelect.bootstrap-select .dropdown-toggle:focus,
            .appsFilterSelect.bootstrap-select .dropdown-toggle:active,
            .appsFilterSelect.bootstrap-select .dropdown-toggle:hover {
            background: #fff;
        }
        
        ul.dropdown-menu li:hover, ul.dropdown-menu li:active {
            color: #304a61;
        }
        
        ul.dropdown-menu li a {
            outline: none;
            border: 0;
            color: #a4a4a4;
            background: #fff;
            font-weight: 400;
            font-size: 13px;
        }
        
        ul.dropdown-menu li a:hover, ul.dropdown-menu li a:focus, ul.dropdown-menu li a:visited,
            ul.dropdown-menu li a:active {
            outline: none;
            border: 0;
            color: #304a61;
            background: #fff;
        }
        
        ul.dropdown-menu li {
            outline: none;
            border: 0;
            background: #fff;
        }
        
        ul.dropdown-menu li:hover, ul.dropdown-menu li:focus, ul.dropdown-menu li:visited,
            ul.dropdown-menu li:active {
            outline: none;
            border: 0;
            color: #304a61;
            background: #fff;
        }
        
        .dropdown-menu {
            border-radius: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        
        .align-right {
            text-align: right;
        }
        /*
                .appsFilterSelect.bootstrap-select .dropdown-menu {
                    border: 0px;
                    border-radius: 0px;
                }
                
                .appsFilterDropdownWrap {
                    float: right;
                    margin-top: 20px;
                    margin-right: 25px;
                }
                
                .dropdown-menu {
                    padding: 0 !important;
                    border-radius: 0 !important;
                    color: #fefefe;
                }
                
                .dropdown-menu>li>a {
                    border: 0;
                    outline: none;
                }
                
                ul.dropdown-menu>li:focus, ul.dropdown-menu>li:active, ul.dropdown-menu>li:hover
                    {
                    border: 0px!improtant;
                    background: #fff;
                }
                */
        .noChartMsg {
            text-align: center;
            width: 100%;
            display: inline-block;
            margin-top: 50px;
            font-weight: 600;
            font-size: 15px;
            color: #304a61;
        }
        
        .descTextWrap {
            margin-top: 25px;
        }
        
        .showMoreDescLink, .showLessDescLink, .featuresListLessLink,
            .featuresListMoreLink {
            font-size: 14px;
            color: #178eea;
            display: block;
            cursor: pointer;
            width: 100px;
        }
        
        .LongDescriptionText {
            display: none;
        }
        
        #appDetailsTab{
            border-bottom: 1px solid rgba(161, 161, 161, 0.5);
        }
        
        #appDetailsTab>li>a {
        color: #304a61;
        font-size: 20px;
        }
        
        #appDetailsTab>li>a:hover {
        border: 0;
        background: none;
        }
        
        #appDetailsTab>li.active>a {
        border: 0;
        border-bottom: 4px solid #178eea;
        }
        
        .appSupportWrapper{
            padding-top: 30px;
            padding-bottom: 20px;
        }
        
        .appSupportWrapper .labelName{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.37;            
            color: #304a61;         
        }
        .appSupportWrapper .valueWrap{
            font-size: 14px;
            color: #767676;
            margin-top: 10px;
            word-wrap:break-word;
        }
        .devSupportValueWrap{
            border: 1px solid #ebebeb;
            min-height: 200px;
            padding: 10px;
            font-size: 14px !important;
        }
        
    </style>

    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css" />
    <apex:includeScript value="{!$Resource.vMarketResponsiveTabsJS}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js" />
    <apex:includeScript value="{!$Resource.vMarketReadmore}" />

    <apex:variable var="AppDeveloperDetail"
        value="{!IF(AppPublished, AppDetail, AppDevDetail)}" />


    <script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>


    <div id="content-wrapper">
        <div class="container-fluid page-top-section">
            <div class="container">
                <h3 class="pageTitle pull-left">APP DETAILS</h3>
                <div class="breadCrumbWrapper pull-right">
                    <c:vMarketBreadCrumb />
                </div>
            </div>
        </div>

        <div class="container page-content-section">
            <apex:outputPanel styleClass="row"
                rendered="{!AND(AppDeveloperDetail==null, IsAccessible)}"
                layout="block">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                    style="margin-top: 50px;">
                    <apex:image value="{!$Resource.vMarketNoApps}" />
                    <p style="font-size: 20px;">{!$Label.vMarketNoAppDetails}</p>
                </div>
            </apex:outputPanel>

            <apex:outputPanel styleClass="row" rendered="{!NOT(IsAccessible)}"
                layout="block">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                    style="margin-top: 50px;">
                    <apex:image value="{!$Resource.vMarketPermissionDenied}" />
                    <p style="font-size: 20px;">{!$Label.vMarketPermissionDenied}</p>
                </div>
            </apex:outputPanel>

            <apex:outputPanel styleClass="row"
                rendered="{!AND(AppDeveloperDetail!=null, IsAccessible)}"
                layout="block">
                <div class="col-md-12 col-sm-12">
                    <ul class="nav nav-tabs responsive hidden-xs hidden-sm"
                        id="statusTab">
                        <li class="active"><a data-toggle="tab" href="#appdashboard">App
                                Dashboard</a></li>
                        <li><a data-toggle="tab" href="#appdetails">App Details</a></li>
                    </ul>
                </div>

                <div class="clear-fix"></div>
                <div class="col-md-12 col-sm-12">
                    <div class="tab-content">
                        <div id="appdashboard" class="tab-pane active">
<!--<apex:outputPanel rendered="{!isRejected}" style="color:red;"><strong>Rejection Reason :</strong>&nbsp; {!rejectedComment} </apex:outputPanel> -->
                            <apex:outputPanel styleClass="row"
                                rendered="{!NOT(AppPublished)}" layout="block">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                                    style="margin-top: 50px;">
                                    <apex:image value="{!$Resource.vMarketAppNotPublished}" />
                                    <p style="font-size: 20px;">
                                        {!$Label.vMarketAppNotPublished}</p>
                                </div>
                            </apex:outputPanel>

                            <apex:outputPanel rendered="{!AppPublished}">
                                <div class="row" style="margin-top: 2em;">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="chart_Box">
                                            <div class="ChartHeaderTitle">App Total Download</div>
                                            <div class="TotalDownload">
                                                <apex:outputText value="{0, number, ###,###,###,##0}">
                                                    <apex:param value="{!AppDeveloperDetail.InstallCount}" />
                                                </apex:outputText>
                                            </div>
                                            <div class="clear-fix"></div>
                                            <div id="chart_appDownloads_new" style="height: 150px;"></div>
                                            <div class="clear-fix"></div>

                                            <div class="col-md-12">
                                                <div class="SubTotalDownload col-md-8">
                                                    <apex:outputText value="{0, number,currency}">
                                                        <apex:param value="{!IF(MonthlyDownload!=null, MonthlyDownload, 0)}" />
                                                    </apex:outputText>
                                                </div>
                                                <div class="SubTotalDownload col-md-4 align-right">
                                    <apex:outputPanel rendered="{!AppDeveloperDetail.Price!=0}">                <apex:outputText value="{0, number,currency}">
                                                        <apex:param value="{!AppDeveloperDetail.InstallCount}" />
                                                    </apex:outputText></apex:outputPanel>
                                                </div>
                                                <div class="SubChartHeaderTitle col-md-8">Last 6
                                                    months</div>
                                           <apex:outputPanel rendered="{!AppDeveloperDetail.Price!=0}"><div class="SubChartHeaderTitle col-md-4 align-right">Buyers</div> </apex:outputPanel>
                                            </div>
                                        </div>
                                    </div>
                                     
                                    <div class="col-md-4 col-sm-4">
                                        <div class="chart_Box">
                                            <div class="ChartHeaderTitle">My Total Earnings</div>
                                            <div class="TotalEarning">
                                                {!AppDeveloperDetail.CurrencyIsoCode}&nbsp;
                                                <apex:outputText label="NRR" value="{0, number,currency}">
                                                    <apex:param value="{!IF(TotalEarning!=null, TotalEarning, 0)}" />
                                                </apex:outputText>
                                            </div>
                                            <div id="chart_earnings_new" style="height: 150px;"></div>
                                            <div class="col-md-12">
                                                <div class="SubTotalEarning col-md-12">
                                                    <!--{!AppDeveloperDetail.CurrencyIsoCode}&nbsp;-->
                                                    <apex:outputText label="NRR" value="{0,number}">
                                                        <apex:param value="{!IF(MonthlyEarning!=null, MonthlyEarning, 0)}" />
                                                    </apex:outputText>
                                                </div>
                                                <div class="SubChartHeaderTitle col-md-12">Last 6
                                                    months</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="chart_Box">
                                            <div class="ChartHeaderTitle">Average Customer Rating</div>
                                            <div class="RatingStyle">{!AppDeveloperDetail.RatingObj.ScaledRating}</div>
                                            <div id="chart_appDownloads_new" style="height: 150px;"></div>
                                            <div class="col-md-12">
                                                <div class="SubRatingStyle col-md-12">{!AppRanking}</div>
                                                <div class="SubChartHeaderTitle col-md-12">App
                                                    Ranking(Based on App Downloads)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2em; margin-bottom: 20px;">
                                    <div class="col-md-12 col-sm-12 ">
                                        <div class="chart_Box">
                                            <div class="ChartMixTitle">
                                                <span>App Analytics</span>
                                                <apex:form style="display:inline-block;float:right;">
                                                    <apex:selectList id="FilterType"
                                                        styleClass="selectpicker appsFilterSelect"
                                                        value="{!selected_frequency}" size="1">
                                                        <apex:selectOptions value="{!MonthList}" />
                                                        <apex:actionSupport event="onchange"
                                                            action="{!changeMonthlyFreq}" rerender="chartMix" />
                                                    </apex:selectList>
                                                </apex:form>
                                            </div>
                                            <apex:outputPanel id="chartMix">
                                                <div id="chart_mix_new" style="height: 300px;"></div>
                                                <script>
                                                    function drawMixChartNew() {
                                                        var monthdict = {'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}
                                                    
                                                    
                                                        var filter_data = '{!FilterEarningChartData}';
                                                        filter_data = $.parseJSON(filter_data);
                                            
                                                        var filter_data1 = '{!FilterInstallChartData}';
                                                        filter_data1 = $.parseJSON(filter_data1);
                                            
                                                        var dataArray = new Array();
                                                        
                                                        // Earning dictionary data
                                                        var earningsMap = {};
                                                        $.each(filter_data, function(outer_index, outer_jsonObject) {
                                                            earningsMap[filter_data[outer_index][0]] = filter_data[outer_index][1];
                                                        });
                                            
                                                        // Install count dictionary data
                                                        var installCountMap = {};
                                                        $.each(filter_data1, function(outer_index, outer_jsonObject) {
                                                            installCountMap[filter_data1[outer_index][0]] = filter_data1[outer_index][1];
                                                        });
                                            
                                                        var newDataArray = new Array();
                                                        var isChartDataAvailable = false;
                                                        $.each(getFullYearSelectedFmtList('{!selected_frequency}'), function(index, key) {
                                                            if (key_exists(key, earningsMap) && key_exists(key, installCountMap)) {
                                                                isChartDataAvailable = true;
                                                                newDataArray.push([key, parseInt(earningsMap[key]), parseInt(installCountMap[key])]);
                                                            } else if (key_exists(key, earningsMap) && !key_exists(key, installCountMap) && earningsMap[key]!==undefined) {
                                                                isChartDataAvailable = true;
                                                                newDataArray.push([key, parseInt(earningsMap[key]), 0]);
                                                            } else if (!key_exists(key, earningsMap) && key_exists(key, installCountMap) && installCountMap[key]!==undefined) {
                                                                isChartDataAvailable = true;
                                                                newDataArray.push([key, 0, parseInt(installCountMap[key])]);
                                                            } else {
                                                                isChartDataAvailable = isChartDataAvailable || false;
                                                                newDataArray.push([key, 0, 0]);
                                                            }
                                                        });
                                            
                                                        // Check Empty chart
                                                        if (!isChartDataAvailable) {
                                                        var price = '{!AppDeveloperDetail.Price}';
                                                            if(price!=0) $("#chart_mix_new").html("<span class='noChartMsg'>No data available for last {!selected_frequency} month </span>");
                                                            else  $("#chart_mix_new").html("<span class='noChartMsg'>App is Free for Download </span>");
                                                            return false;
                                                        }
                                            
                                                        var tickArray = new Array();
                                                        $.each(newDataArray, function(index, val) {
                                                            var sdate = val[0];
                                                            var newDate = sdate.split(' ');
                                                            newDataArray[index][0] = new Date(newDate[1], monthdict[newDate[0]]-1);
                                                            tickArray.push(newDataArray[index][0]);
                                                        });
                                                        
                                                        /*$.each(newDataArray, function(index, val) {
                                                            
                                                        }*/
                                            
                                                        var data = new google.visualization.DataTable();
                                                        data.addColumn('date', 'Year');
                                                        data.addColumn('number', 'App Earnings');
                                                        data.addColumn('number', 'App Downloads');
                                                        data.addRows(newDataArray);
                                            
                                                        var chartWidth = $("#chart_mix_new").width();
                                                        var left = (0.05 * chartWidth);
                                                        var right = (0.03 * chartWidth); 
                                            
                                                        var options = {
                                                            width: chartWidth,
                                                            height: 300,
                                                            legend: 'top',
                                                            chartArea: {width:chartWidth,left:left,top:60,right:right,height:200},
                                                            pointSize: 7,
                                                            dataOpacity: 0.3,
                                                            fillColor: '#fff',
                                                            colors: ['#178eea', '#ff7141'],
                                                            hAxis: { ticks: tickArray,
                                                                    format: 'MMM, yy',
                                                                    baselineColor: '#fff',
                                                                    gridlines: {
                                                                        color: '#fff',
                                                                        count: 6
                                                                        }
                                                                    },
                                                            vAxis:  {
                                                                        format: 'short',
                                                                        baselineColor: '#f9f9f9',
                                                                        gridlines: {
                                                                            color: '#f9f9f9'
                                                                            }
                                                                    }
                                                        };
                                            
                                                        var formatter = new google.visualization.DateFormat({pattern: 'MMM, yy'});
                                                        formatter.format(data, 0);
                                            
                                                        var chart = new google.visualization.LineChart(document.getElementById('chart_mix_new'));
                                                        chart.draw(data, options);
                                                    }
                                                    google.charts.load('current', {'packages':['line']});
                                                    google.charts.setOnLoadCallback(drawMixChartNew);
                                                </script>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </div>
                        <div id="appdetails" class="tab-pane">
                            <div class="appDetailsWrapper">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-12 appLogoWrap">
                                        <img src="{!AppDeveloperDetail.LogoUrl}" alt="..." width="167" />
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="appName">{!AppDeveloperDetail.Name}</div>
                                        <div class="appCatName">
                                            App Category:&nbsp;<strong>{!AppDeveloperDetail.CategoryName}</strong><br></br>
                                            Country(S):&nbsp;<strong>{!AppDeveloperDetail.Countries}</strong>
                                        </div>
                                        <div class="appStatus">
                                            <apex:outputpanel rendered="{!AppDeveloperDetail.ApprovalStatus!='Info Requested'}">Status:&nbsp;<strong>{!AppDeveloperDetail.ApprovalStatus}</strong><!--<apex:outputPanel rendered="{!isRejected}" style="color:red;">&nbsp; {!rejectedComment} --></apex:outputPanel> 
                                             <apex:outputpanel rendered="{!AppDeveloperDetail.ApprovalStatus=='Info Requested'}">Status:&nbsp;<a href="vMarketDevAppInitialEdit?appId={!appId}"><strong>{!AppDeveloperDetail.ApprovalStatus}</strong></a></apex:outputPanel> 
                                        </div>
                                        <apex:outputPanel rendered="{!AND(AppDeveloperDetail.Price==0, NOT(AppDeveloperDetail.Subscribed))}"
                                            styleClass="appPrice" layout="block">FREE</apex:outputPanel>
                                        <apex:outputPanel rendered="{!AND(AppDeveloperDetail.Price!=0, AppDeveloperDetail.Subscribed)}"
                                            styleClass="appPrice" layout="block">SUBSCRIPTION<br></br>
                                            {!AppDeveloperDetail.CurrencyIsoCode}&nbsp;
                        <apex:outputText label="NRR" value="{0,number}">
                                                <apex:param value="{!AppDeveloperDetail.Price}" />
                                            </apex:outputText>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!AND(AppDeveloperDetail.Price!=0, NOT(AppDeveloperDetail.Subscribed))}"
                                            styleClass="appPrice" layout="block">
                        {!AppDeveloperDetail.CurrencyIsoCode}&nbsp;
                        <apex:outputText label="NRR" value="{0,number}">
                                                <apex:param value="{!AppDeveloperDetail.Price}" />
                                            </apex:outputText>
                                        </apex:outputPanel>
                                    </div>
                                    <apex:outputPanel rendered="{!isEditable}">
                                    <div
                                        class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-5 col-xs-12 editDiv">
                                        <a href="/vMarketDevAppEdit?appId={!appId}"><img
                                            src="{!$Resource.vMarketEditIcon}" alt="edit app" width="25" />&nbsp;<span
                                            class="editLink">Edit</span></a>
                                    </div></apex:outputPanel>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-md-12 col-sm-12 col-xs-12 descTextWrap margin-top-20">
                                        <div class="infoLabel">Description</div>
                                        <div class="infoText">
                                            <p>
                                                <apex:outputText value="{!AppDeveloperDetail.ShortDescription}"
                                                    escape="true" />
                                            </p>
                                            <div class="longDescWrapper">
                                                <a class="showMoreDescLink">More</a>
                                                <div class="LongDescriptionText">
                                                    <apex:outputText value="{!AppDeveloperDetail.LongDescription}"
                                                        escape="true" />
                                                    <a class="showLessDescLink">Less</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="infoLabel" style="margin-top: 40px;">Features</div>
                                        <div class="infoText">
                                            <div class="featuresListWrapper">
                                                <!--<ul class="featuresList">
                                                    <li> -->
                                                    <apex:outputText value="{!AppDeveloperDetail.KeyFeatures}" escape="false" />
                                                   <!-- </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Carousel Wrapper -->
                                    <div class="col-md-8 col-sm-8 carousel-wrapper">
                                        <!-- <div id="AppCarousel" class="carousel slide" data-ride="carousel"> -->
                                        <div id="appImagesCarousel" class="carousel slide"
                                            data-ride="carousel">
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <apex:variable var="mediaAssetsIndex" value="{!1}" />
                                                <apex:repeat var="img"
                                                    value="{!AppDeveloperDetail.ImageAppAssets}">
                                                    <apex:outputPanel layout="none"
                                                        rendered="{!AppDeveloperDetail.ImageAppAssets!=null}">
                                                        <div
                                                            class="{!IF(mediaAssetsIndex==1,'item active','item')}">
                                                            <a href="{!img}" data-toggle="lightbox" data-type="image">
                                                                <img src="{!img}" class="img-fluid" />
                                                            </a>
                                                            <!--<apex:outputLink value="{!img}" rel="prettyPhoto[pp_gal]" data-toggle="lightbox" data-gallery="appImages-gallery" data-type="image">
                                                <apex:image url="{!img}" class="img-fluid" />
                                            </apex:outputLink>-->
                                                        </div>
                                                    </apex:outputPanel>
                                                    <apex:variable var="mediaAssetsIndex"
                                                        value="{!mediaAssetsIndex+1}" />
                                                </apex:repeat>
                                                <apex:outputPanel layout="block"
                                                    rendered="{!AppDeveloperDetail.AppAssetVideoId!=null}"
                                                    styleClass="item video">
                                                    <a
                                                        href="https://www.youtube.com/watch?v={!AppDeveloperDetail.AppAssetVideoId}"
                                                        data-toggle="lightbox" data-gallery="appImages-gallery">
                                                        <span class="playIconWrap"></span> <img
                                                        src="https://img.youtube.com/vi/{!AppDeveloperDetail.AppAssetVideoId}/0.jpg"
                                                        class="img-fluid" />
                                                    </a>
                                                </apex:outputPanel>

                                            </div>

                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#appImagesCarousel"
                                                role="button" data-slide="prev"> <i
                                                class="fa fa-chevron-left" aria-hidden="true"></i>
                                            </a> <a class="right carousel-control" href="#appImagesCarousel"
                                                role="button" data-slide="next"> <i
                                                class="fa fa-chevron-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs responsive" id="appDetailsTab">
                                            <li class="active"><a href="#reviews">App Support</a></li>                            
                                        </ul>
                                        <div class="tab-content responsive">
                                            <div class="tab-pane active appSupportWrapper">
                                                <apex:form >
                                                <div class="row" style="margin-bottom: 50px;">
                                                    <div class="col-md-4">
                                                        <div class="labelName">Published By</div>
                                                        <div class="valueWrap">{!AppDeveloperDetail.PublisherName}</div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="labelName">Contact No.</div>
                                                        <div class="valueWrap">{!AppDeveloperDetail.PublisherPhone}</div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="labelName">Publisher Info</div>
                                                        <div class="valueWrap">
                                                          <!--  <apex:commandLink action="{!AppDeveloperDetail.getPublisherWebsite}" value="Publisher website" target="_blank" rendered="{!(AppDeveloperDetail.PublisherWebsite != NULL)}"></apex:commandLink> -->
                                                          <apex:outputLink value="https://{!AppDeveloperDetail.PublisherWebsite}" target="_blank" rendered="{!(AppDeveloperDetail.PublisherWebsite != NULL)}">Publisher website </apex:outputLink>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="labelName">Developer Support</div>
                                                        <div class="valueWrap devSupportValueWrap">
                                                            {!AppDeveloperDetail.Publisher_Developer_Support}
                                                        </div>
                                                    </div>
                                                </div>
                                                </apex:form> 
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
        </div>
    </div>
    <c:vMarketDevFooter />
    

    <script>
        var DEFAULT_SELECTED_MONTH = 6;

        $(document).ready(function() {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                   });
            });
            
            $('#descriptionDiv').readmore({
              speed: 75,
              maxHeight: 20
            });
            
            $('.showMoreDescLink').click(function(){
                $('.LongDescriptionText').toggle();
                $(this).hide();
            });
            
            $('.showLessDescLink').click(function(){
                $('.LongDescriptionText').toggle();
                $('.showMoreDescLink').show();
            });
            
            $('.featuresListWrapper').readmore({
                collapsedHeight: 160,
                speed: 75,
                lessLink: '<a class="featuresListLessLink" href="#">Less</a>',
                moreLink: '<a class="featuresListMoreLink" href="#">More</a>'
            });
        });

        function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
          var separator = uri.indexOf('?') !== -1 ? "&" : "?";
          return uri.match(re) ? uri.replace(re, '$1' + key + "=" + value + '$2') : (uri + separator + key + "=" + value);
        }
        
        function removeURLParameter(url, parameter) {
            //prefer to use l.search if you have a location/link object
            var urlparts= url.split('?');   
            if (urlparts.length>=2) {
        
                var prefix= encodeURIComponent(parameter)+'=';
                var pars= urlparts[1].split(/[&;]/g);
        
                //reverse iteration as may be destructive
                for (var i= pars.length; i-- > 0;) {    
                    //idiom for string.startsWith
                    if (pars[i].lastIndexOf(prefix, 0) !== -1) {  
                        pars.splice(i, 1);
                    }
                }
        
                url= urlparts[0]+'?'+pars.join('&');
                return url;
            } else
                return url;
        }

        function selectMonthlyFrequency() {
            $('#vMarketLoader').show();
            var month = $("select[id*='FilterType']").val();
            var redirect_url = updateQueryStringParameter(window.location.href, 'filterBy', month);
            window.location = redirect_url;
        }

        function drawChartEarningsNew() {
            var filter_data = '{!FilterEarningChartData}';
            filter_data = $.parseJSON(filter_data);
            var dataArray = new Array();
            dataArray.push(['Year', 'Earning']);
            
            var dataMap = {};
            var isChartDataAvailable = false;
            $.each(filter_data, function(outer_index, outer_jsonObject) {
                dataMap[filter_data[outer_index][0]] = parseFloat(filter_data[outer_index][1]);
            });

            $.each(getFullYearSelectedFmtList(DEFAULT_SELECTED_MONTH), function(index, key) {
                if (dataMap[key]===undefined) {
                    isChartDataAvailable = isChartDataAvailable || false;
                    dataArray.push([key, 0]);
                } else {
                    isChartDataAvailable = true;
                    dataArray.push([key, dataMap[key]]);
                }
            });

            // Check Empty chart            
            if (dataArray.length===1 || !isChartDataAvailable) {
            var price = '{!AppDeveloperDetail.Price}';
              if(price!=0)  $("#chart_earnings_new").html("<span class='noChartMsg'>No data available for last {!selected_frequency} month </span>");
              else $("#chart_earnings_new").html("<span class='noChartMsg'>App is Free for Download </span>");
                return false;
            }

            var data = google.visualization.arrayToDataTable(dataArray);
            var chartWidth = $("#chart_earnings_new").width();
            var left = (0.04 * chartWidth);
            var right = (0.04 * chartWidth);
            var options = {
                width: chartWidth,
                height: 150,
                chartArea: {width:chartWidth,left:left,top:5, right: right, height:135},
                curveType: 'function',
                legend: 'none',
                pointSize: 7,
                colors: ['#178eea'],
                dataOpacity: 0.3,
                hAxis: { gridlines: {
                            color: 'transparent',
                            count: 0
                        },
                        textPosition: 'none'
                        },
                vAxis: {
                        ticks: []
                    }
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_earnings_new'));
            chart.draw(data, options);
        }


        function drawChartAppDownloadsNew() {
            var filter_data = '{!FilterInstallChartData}';
            filter_data = $.parseJSON(filter_data);
            var dataArray = new Array();
            dataArray.push(['Year', 'Downloads']);

            var dataMap = {};
            var isChartDataAvailable = false;
            $.each(filter_data, function(outer_index, outer_jsonObject) {
                dataMap[filter_data[outer_index][0]] = parseFloat(filter_data[outer_index][1]);
            });

            $.each(getFullYearSelectedFmtList(DEFAULT_SELECTED_MONTH), function(index, key) {
                if (dataMap[key]===undefined) {
                    dataArray.push([key, 0]);
                    isChartDataAvailable = isChartDataAvailable || false;
                } else {
                    isChartDataAvailable = true;
                    dataArray.push([key, dataMap[key]]);
                }
            });

            // Check Empty chart
            if (dataArray.length===1 || !isChartDataAvailable) {
             var price = '{!AppDeveloperDetail.Price}';
                if(price!=0) $("#chart_appDownloads_new").html("<span class='noChartMsg'>No data available for last {!selected_frequency} month </span>");
                else $("#chart_appDownloads_new").html("<span class='noChartMsg'>App is Free for Download</span>");
                return false;
            }

            var data = google.visualization.arrayToDataTable(dataArray);
            var chartWidth = $("#chart_earnings_new").width();
            var left = (0.04 * chartWidth);
            var right = (0.04 * chartWidth);
            var options = {
                width: chartWidth,
                height: 150,
                chartArea: {width:chartWidth,left:left,top:5, right: right, height:135},
                curveType: 'function',
                legend: 'none',
                colors: ['#225a84'],
                pointSize: 7,
                dataOpacity: 0.3,
                hAxis: { gridlines: {
                            color: 'transparent',
                            count: 0
                        },
                        textPosition: 'none'
                        },
                vAxis: {
                        ticks: []
                    }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_appDownloads_new'));
            chart.draw(data, options);
        }


        function drawMixChartNew() {
        
            var monthdict = {'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}
        
        
            var filter_data = '{!FilterEarningChartData}';
            filter_data = $.parseJSON(filter_data);

            var filter_data1 = '{!FilterInstallChartData}';
            filter_data1 = $.parseJSON(filter_data1);

            var dataArray = new Array();
            
            // Earning dictionary data
            var earningsMap = {};
            $.each(filter_data, function(outer_index, outer_jsonObject) {
                earningsMap[filter_data[outer_index][0]] = filter_data[outer_index][1];
            });

            // Install count dictionary data
            var installCountMap = {};
            $.each(filter_data1, function(outer_index, outer_jsonObject) {
                installCountMap[filter_data1[outer_index][0]] = filter_data1[outer_index][1];
            });

            var newDataArray = new Array();
            var isChartDataAvailable = false;
            $.each(getFullYearSelectedFmtList('{!selected_frequency}'), function(index, key) {
                if (key_exists(key, earningsMap) && key_exists(key, installCountMap)) {
                    isChartDataAvailable = true;
                    newDataArray.push([key, parseInt(earningsMap[key]), parseInt(installCountMap[key])]);
                } else if (key_exists(key, earningsMap) && !key_exists(key, installCountMap) && earningsMap[key]!==undefined) {
                    isChartDataAvailable = true;
                    newDataArray.push([key, parseInt(earningsMap[key]), 0]);
                } else if (!key_exists(key, earningsMap) && key_exists(key, installCountMap) && installCountMap[key]!==undefined) {
                    isChartDataAvailable = true;
                    newDataArray.push([key, 0, parseInt(installCountMap[key])]);
                } else {
                    isChartDataAvailable = isChartDataAvailable || false;
                    newDataArray.push([key, 0, 0]);
                }
            });

            // Check Empty chart
            if (!isChartDataAvailable) {
             var price = '{!AppDeveloperDetail.Price}';
              if(price!=0)  $("#chart_mix_new").html("<span class='noChartMsg'>No data available for last {!selected_frequency} month</span>");
                else $("#chart_mix_new").html("<span class='noChartMsg'>App is Free for Download</span>");
                return false;
            }

            var tickArray = new Array();
            $.each(newDataArray, function(index, val) {
                var sdate = val[0];
                var newDate = sdate.split(' ');
                newDataArray[index][0] = new Date(newDate[1], monthdict[newDate[0]]-1);
                tickArray.push(newDataArray[index][0]);
            });
            
            /*$.each(newDataArray, function(index, val) {
                
            }*/

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Year');
            data.addColumn('number', 'App Earnings');
            data.addColumn('number', 'App Downloads');
            data.addRows(newDataArray);

            var chartWidth = $("#chart_mix_new").width();
            var left = (0.05 * chartWidth);
            var right = (0.03 * chartWidth); 

            var options = {
                width: chartWidth,
                height: 300,
                legend: 'top',
                chartArea: {width:chartWidth,left:left,top:60,right:right,height:200},
                pointSize: 7,
                dataOpacity: 0.3,
                fillColor: '#fff',
                colors: ['#178eea', '#ff7141'],
                hAxis: { ticks: tickArray,
                        format: 'MMM, yy',
                        baselineColor: '#fff',
                        gridlines: {
                            color: '#fff',
                            count: 6
                            }
                        },
                vAxis:  {
                            format: 'short',
                            baselineColor: '#f9f9f9',
                            gridlines: {
                                color: '#f9f9f9'
                                }
                        }
            };

            var formatter = new google.visualization.DateFormat({pattern: 'MMM, yy'});
            formatter.format(data, 0);

            var chart = new google.visualization.LineChart(document.getElementById('chart_mix_new'));
            chart.draw(data, options);
        }

        /* Date Custom methods starts here */
        function key_exists(key, search) {
            if (!search || (search.constructor !== Array && search.constructor !== Object)) {
                return false;
            }
            for (var i = 0; i < search.length; i++) {
                if (search[i] === key) {
                    return true;
                }
            }
            return key in search;
        }

        function getMonthAbbr(cDate) {
            return cDate.toDateString().slice(4,7);
        }
    
        function getTwoDigitYear(cDate) {
            return cDate.toDateString().slice(-2);
        }

        function getFourDigitYear(cDate) {
            return cDate.toDateString().slice(-4);
        }

        function getFullYearSelectedFmtList(selected_month) {
            var now = new Date();
            var monthList = new Array();
    
            for(var i=parseInt(selected_month)-1; i>=0; i--) {
                var currentDate = new Date(now.getFullYear(), now.getMonth()-i, now.getDate());
                monthList.push(getMonthAbbr(currentDate) + ' ' + getFourDigitYear(currentDate));
            }
            return monthList;
        }
        /* Date Custom methods ends here */

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartEarningsNew);
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartAppDownloadsNew);
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawMixChartNew);
    </script>

    <script type="text/javascript">
        $(window).on("load", function(){
            $('#vMarketLoader').hide();
        });
    </script>
</apex:page>