<apex:page controller="vMarketAppUploadController" id="page">
	
	<Style>
		.cke_top{
			display:none !important;
		}
		.dataCol {
				
		}
	</Style>
	
	<apex:form id="frm">
		<apex:pageBlock id="pb">
			<apex:pageBlockSection id="pdsec">
				<apex:inputField id="name" value="{!app.Name}" label="Name"/>
				<apex:inputField id="srtDes" value="{!app.Short_Description__c}" label="Short Description"/>
				<apex:inputField id="longDes" value="{!app.Long_Description__c}" label="Detail Description"/>
				<apex:inputField id="features" value="{!app.Key_features__c}" label="Key Features"/>
				<apex:inputField id="Prc" value="{!app.Price__c}" />
				<apex:inputField id="cate" value="{!app.App_Category__c}" label="Category"/>
			</apex:pageBlockSection>
            <apex:pageBlockButtons id="blkButtons">
				<apex:commandButton value="Cancel" action="{!cancelAppUpload}"/>
                <apex:commandButton value="Save as Draft" action="{!saveAppAsDraft}"/>
                <apex:commandButton value="Next" action="{!nextStep}"/>
            </apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
	
</apex:page>