<apex:page sidebar="false" showHeader="false"
    standardStylesheets="false" controller="VMarketReviewerController">
    <title>vMarket Admin</title>

    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />

    <!-- Load Javascript Files -->
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />

    <style type="text/css">
        /* common css */
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #f4f5f9;
            padding: 0px !important;
        }
        
        .clear-fix {
            clear: both;
        }
        
        .margin-top-20 {
            margin-top: 20px;
        }
        
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        .page-top-section .container {
            width: 1296px;
            padding-left: 45px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
            margin-top:30px;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -85px;
            padding: 30px 40px 30px 40px;
            width: 1296px;
        }
        /* common css end */
        .bottomFooterWrapper {
            color: #b6c2cb;
            font-size: 12px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        .bottomFooterWrapperContainer {
            margin-top: 10px;
        }
        
        /* header styles */
        .topHeader {
            background-color: #f4f5f9;
            height: 100px;
        }
        
        .topHeader .container {
            width: 1296px;
            padding-left: 45px;
            padding-right: 45px;
        }
        
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 31px;
            display: inline-block;
        }
        
        .vMarketLogoTopLink {
            float: left;
        }
        
        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
            color: #304a61 !important;
            background: #fff;
        }
        
        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus,
            .dropdown-menu>li>a:focus {
            color: #304a61 !important;
            background: #fff;
        }
        
        #userLinkWrap {
            float: right;
            margin-top: 35px;
            margin-left: 30px;
            cursor: pointer;
        }
        
        #userLinkWrap .dropdown-menu {
            right: 0;
            left: inherit;
            top: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        /* header styles end */
        .table>thead>tr>th {
            border-bottom: 2px solid #4279BD;
            color: #4279BD;
        }
        
        .panel-title, .modal-title {
            font-weight: bold;
        }
        
        .modal {
            padding-right: 0 !important;
        }
        
        .approvedAppsWrapper ul.dropdown-menu, .submittedAppsWrapper ul.dropdown-menu
            {
            right: 0 !important;
            left: inherit !important;
        }
        
        .bootgrid-header .actionBar {
            text-align: right;
        }
        
        .bootgrid-header .actionBar .search.form-group {
            display: inline-block;
            width: 30%;
            margin-right: 10px;
        }
        
        .bootgrid-header .actionBar .glyphicon-search {
            background: #2D75B6;
            color: #fff;
        }
        
        .bootgrid-header .actionBar .search-field {
            margin-top: 2px;
        }
        
        .bootgrid-header .actionBar .actions.btn-group {
            display: inline-block;
            vertical-align: top;
        }
        
        .bootgrid-footer .pagination {
            margin: 0;
        }
        
        .bootgrid-footer .infos {
            margin-top: 10px;
            text-align: right;
            font-weight: bold;
        }
        
        .btn_over {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px !important;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        
        .baseContainer {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .stylish-input-group .input-group-addon {
            background: white !important;
        }
        
        .stylish-input-group .form-control {
            border-right: 0;
            box-shadow: 0 0 0;
            border-color: #ccc;
        }
        
        .stylish-input-group button {
            border: 0;
            background: transparent;
        }
        
        .pbBottomButtons {
            width: 100%;
            text-align: center;
        }
        
        .pbBottomButtons table {
            display: inline-block;
        }
        
        .disabled {
            background: #eff0f1;
        }
        
        #exTab2 .tab-content {
            padding: 15px 15px;
        }
        
        .nav-tabs, .nav-pills {
            text-align: center;
        }
        
        #headerTab>li>a {
            height: 100px;
            position: relative;
            padding-top: 36px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #304a61;
            opacity: 0.4;
            width: 160px;
        }
        
        #headerTab>li>a:hover {
            border-color: transparent;
            background: transparent;
            opacity: 0.4;
        }
        
        #headerTab>li.active>a {
            border: 0;
            border-bottom: 4px solid #178eea;
            background-color: #ebf2fb;
            opacity: 1;
        }
        
        #statusTab {
            border-bottom: 1px solid #ebebeb;
        }
        
        #statusTab>li>a {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: #000000;
            width: 150px;
        }
        
        #statusTab>li>a[href='#submitted']:hover {
            border-color: transparent;
            border-bottom: 4px solid #178eea;
            background: transparent;
        }
        
        #statusTab>li>a[href='#approved']:hover {
            border-color: transparent;
            border-bottom: 4px solid #00c485;
            background: transparent;
        }
        
        #statusTab>li>a[href='#underreview']:hover {
            border-color: transparent;
            border-bottom: 4px solid #ffb005;
            background: transparent;
        }
        
        #statusTab>li>a[href='#rejected']:hover {
            border-color: transparent;
            border-bottom: 4px solid #fd5959;
            background: transparent;
        }
        
        #statusTab>li.active>a[href='#submitted'] {
            border-color: transparent;
            border-bottom: 4px solid #178eea;
        }
        
        #statusTab>li.active>a[href='#approved'] {
            border-color: transparent;
            border-bottom: 4px solid #00c485;
        }
        
        #statusTab>li.active>a[href='#underreview'] {
            border-color: transparent;
            border-bottom: 4px solid #ffb005;
        }
        
        #statusTab>li.active>a[href='#rejected'] {
            border-color: transparent;
            border-bottom: 4px solid #fd5959;
        }
        
        .nav-tabs {
            border: 0;
        }
        
        #mydashboard table td:first-child,
        #mydashboard table th:first-child {
            width: 6%;
            text-align: center;
        }
        #allapps table td:first-child,
        #allapps table th:first-child {
            padding-left:10px;
        }        
        
        #ReviewUserModal {
            border-radius: 0px !important;
        }
        
        #ReviewUserModal table {
            border: 1px solid #ebebeb;
            color: #304a61;
            font-size: 15px;
        }
        
        #ReviewUserModal table td {
            border-bottom: 1px solid #fbfbfb;
        }

        #ReviewUserModal table td:first-child,
        #ReviewUserModal table th:first-child {
            width: 6%;
            text-align: center;
        }
        #ReviewUserModal table th {
            border-bottom: 0px !important;
            opacity: 0.7;
            background-color: #f3f3f3;
            color: #666666;
            font-size: 14px;
        }
        
        #ReviewUserModal .close {
            color: #fff;
            z-index: 9999;
            opacity: 0.9;
        }
        
        .appsFilterSelect.bootstrap-select .dropdown-menu {
            border: 0px;
            border-radius: 0px;
        }
        
        a.pagination {
            background-color: #fefefe;
            border: solid 1px #ededed;
            padding: 6px 12px;
            margin: 0px 4px;
            border-radius: 0px;
            text-decoration: none;
        }
        
        a.pagination:hover, a.pagination:active, a.pagination.hover, a.pagination.active
            {
            text-decoration: none;
        }
        
        .disablePage {
            cursor: inherit !important;
            color: rgba(102, 102, 102, 0.6) !important;
        }
        
        .firstpage, .lastpage {
            font-size: 19px;
            padding-top: 6px !important;
            padding-bottom: 8px !important;
        }
        
        .pbBottomButtons {
            text-align: center;
            display: inline-block;
        }
        
        .pbBottomButtons table {
            border: 0px !important;
        }
        
        .baseContainer .input-group-addon {
            background-color: transparent !important;
        }
        
        .baseContainer button {
            background: #fff !important;
            border: 0 !important;
            outline: none !important;
        }
        
        .appsFilterSelect {
            display: inline-block;
        }
        
        .appsFilterSelect.bootstrap-select .dropdown-toggle {
            border: 1px solid #ccc !important;
            outline: none !important;
            border-radius: 4px;
            background: #fff;
            box-shadow: none;
            color: #304a61;
            font-size: 12px;
            width: 165px;
            height: 35px;
        }
        
        .appsFilterSelect.bootstrap-select .dropdown-menu {
            border: 0px;
            border-radius: 0px;
            width: 165px;
        }
        
        .appsFilterSelect .dropdown-menu {
            padding: 0 !important;
            border-radius: 0 !important;
            color: #fefefe;
        }
        
        .appsFilterSelect .dropdown-menu>li>a {
            border: 0;
            outline: none;
        }
        
        .appsFilterSelect ul.dropdown-menu>li:focus, .appsFilterSelect ul.dropdown-menu>li:active,
            .appsFilterSelect ul.dropdown-menu>li:hover {
            border: 0px!improtant;
            /*color: #ccc;*/
        }
        
        .userIconWrapper {
            margin-top: 30px;
            float: right;
        }
        
        #userLinkWrap .dropdown-menu {
            right: 0;
            left: inherit;
            top: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a {
            font-size: 15px;
            text-align: left;
            color: #304a61;
            padding: 4px 0px 4px 0px;
            word-wrap: break-word;
            float: left;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a:focus,
            #topMenuUserIconWrapper .dropdown-menu>li>a:hover {
            color: #304a61;
            text-decoration: none;
            background-color: #ffffff;
            font-weight: 600;
        }
        
        #topMenuUserIconWrapper .dropdown-menu {
            /*max-width: 200px;
                                    padding: 5px;*/
            padding: 10px 18px;
            width: 190px;
            margin-top: 15px;
            margin-left: -70px;
            border: 0px;
        }
        
        .up_arrow {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #ffffff;
            margin-top: 13px;
        }
        
        .arrow_li {
            position: relative;
            top: -36px;
            line-height: 0px;
            padding: 0;
            list-style: none;
            margin: 0;
            height: 0px;
            margin-left: 42px;
            margin-bottom: -10px;
        }
        
        .nameText {
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #304a61;
        }
        
        .modalHeader {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            color: #304a61;
            border-bottom: 0px !important;
            margin-bottom: -15px;
        }
        
        .CancelButton {
            width: 117px;
            height: 43px;
            background-color: #7d7d7d;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            border: 0;
            outline: none;
        }
        
        .SubmitButton {
            border: 0;
            outline: none;
            width: 117px;
            height: 43px;
            background-color: #178eea;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
        }
        
        .MessageModal {
            text-align: center;
        }
        
        .modalText {
            font-family: OpenSans;
            font-size: 18px;
            font-weight: bold;
            color: #304a61;
        }
        
        .MessageModal .modal-dialog {
            width: 400px;
        }
        
        .MessageModal .mainMessageText {
            color: #304a61;
            font-size: 18px;
            font-weight: bold;
        }
        
        .MessageModal .okBtn {
            background-color: #178eea;
            width: 150px;
            color: #fff;
            border-radius: 0;
        }
        
        .modal-content {
            border-radius: 0;
            padding: 30px;
        }
        
        .notify {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #bac5ce;
        }
        
        .message {
            text-align: center;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            /* text-align: left; */
            color: #304a61;
        }
        .emailText {
            font-size: 13px;
            text-align: left;
            color: #304a61;
        }
        .tab-content .tab-pane .table{
            margin-top: 40px;
            border: 1px solid #ededed;
            border-collapse: separate;
        }
        .tab-content .tab-pane .table thead > tr > th{
            height: 41px;           
            background-color: #f3f3f3;
            border-bottom: 0;
            font-size: 14px;
            color: #666;
        }
        .tab-content .tab-pane .table tbody > tr > td{
            border-bottom: 1px solid #ededed;
            border-top: 0px;
        }
        .tab-content .tab-pane .table tbody > tr > td, .tab-content .tab-pane .table tbody > tr > td > a{
            font-size: 15px;
            color: #304a61 !important;
            padding-top: 15px;
            padding-bottom: 15px;           
        }
        .tab-content .tab-pane .table tbody > tr > td > a.actionLink{
            color: #178eea !important;
        }
        #initiateApprovalModal .modal-header{
            padding: 0;
            border-bottom: 0;
        }
        #initiateApprovalModal .modal-header .close{
            margin-top: -10px;
            font-size: 30px;
        }
        #initiateApprovalModal .modal-body{
            padding-top: 0;
        }
        #initiateApprovalModal .chkBoxInput{
            display: inline-block;
        }
        #initiateApprovalModal .chkBoxInput{
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
        }
        #initiateApprovalModal input[type=checkbox]{
            margin-right: 0;
            width: 15px;
            height: 15px;
            margin-top: 2px;
        }
        #initiateApprovalModal input[type=checkbox] + .label{
            color: #bac5ce;
            font-size: 16px;
            padding: 0;
        }
        #initiateApprovalModal input[type=checkbox]:checked + .label{
            color: #435870;
            font-size: 16px;
            padding: 0;
        }
        #inProgressApps td.infoCell:hover{
            cursor: pointer;
        }
        #inProgressApps .description{
            background-color: #f8f8f8;
            color: #304a61;
            font-size: 13px;
            padding: 10px;
            width: 90%;
            margin-top: 15px;
        }
        #inProgressApps .hiddenDiv{
            visibility: hidden;
            height: 0;
            padding: 0;
            margin: 0;
        }
        #inProgressApps .visibleDiv{
            visibility: visible;
            padding: 10px;
            height: auto;
            margin-top: 15px;
        }
        #inProgressApps .approveBtn, #inProgressApps .rejectBtn{
            border: 0;
            outline: none;
            width: auto;
            height: 30px;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
        }
        #inProgressApps .approveBtn{
            background: #178eea;
        }
        #inProgressApps .rejectBtn{
            background: #ff3a47;
        }
        .divLoading {
            margin: 0px;
            padding: 0px;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 30001;
            opacity: 0.8;
        }
        
        .innerLoading {
            position: absolute;
            color: #000;
            top: 40% !important;
            left: 45% !important;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        
        .innerLoading img {
            margin-bottom: 20px;
            height: 125px;
        }
        
        .fa-plus-circle {
            color: #178eea;
            font-size: 24px;
        }
        
        .fa-minus-circle {
            color: #304a61;
            font-size: 24px;
        }
    </style>

    <!-- Navigation -->
    <div class="container-fluid topHeader">
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <a class="vMarketLogoTopLink" href="/vMarketLogin"><div
                            class="vMarketLogoTop"></div></a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul class="nav nav-tabs responsive hidden-xs hidden-sm"
                        id="headerTab">
                        <li class="active"><a data-toggle="tab" href="#mydashboard">My
                                Dashboard</a></li>
                       <!-- <li><a data-toggle="tab" href="#allapps">All Apps</a></li> -->
                    </ul>
                </div>
                <div id="vMarketLoader" class="divLoading" style="display: none;">
                            <p class="innerLoading">
                                <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" /><br />
                                Please wait...
                            </p>
                        </div>
                    

                <div class="col-md-6 col-sm-6">
                    <apex:outputPanel id="userLinkWrap" styleClass="userIconWrapper"
                        rendered="{!IsApprovalAdmin}" layout="block">
                        <div class="dropdown" id="topMenuUserIconWrapper">
                            <a aria-expanded="false" aria-haspopup="true"
                                style="cursor: pointer;" data-toggle="dropdown"> <img
                                src="{!$Resource.vMarketProfileIcon}" />
                            </a>

                            <ul class="dropdown-menu">
                                <li class="arrow_li">
                                    <div class="up_arrow"></div>
                                </li>
                                <li style="cursor: default;">
                                    <div class="nameText">Welcome {!$User.FirstName}&nbsp;{!$User.LastName}</div>
                                    <div class="emailText">VMS vMarket Admin</div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/vMarketLogout">Logout</a></li>
                            </ul>
                        </div>
                    </apex:outputPanel>
                    <div class="clear-fix"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>

    <apex:outputPanel id="mainContainer"
        layout="block" rendered="{!IsApprovalAdmin}"> <!-- rendered="{!IsApprovalAdmin}"  -->
        <div id="content-wrapper">
            <!--<form>-->
                <div class="container-fluid page-top-section">
                    <div class="container">
                        <h3 class="pageTitle pull-left">WELCOME {!$User.FirstName} to &nbsp; <apex:outputPanel rendered="{!techreviewer}">Technical</apex:outputPanel> <apex:outputPanel rendered="{!regreviewer}">Regulatory</apex:outputPanel> Reviewer dashboard</h3>
                    </div>
                </div>

                <div class="container page-content-section">
<!--
                    <apex:outputpanel id="msgBox">
                        <apex:outputpanel rendered="{!DoesErrorExist}">
                            <div class="modal fade MessageModal" tabindex="-1" role="dialog"
                                id="msgBoxModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="{!$Resource.vMarketAdminSuccessIcon}" />
                                            <div class="mainMessageText" style="padding: 15px 0;">
                                                <span class="modalText"><apex:pageMessages escape="false" /></span>
                                                <div class="notify">We will notify you, status of the
                                                    App Reviewed.</div>
                                            </div>
                                            <button type="button" class="btn okBtn" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                       $('#msgBoxModal').modal({backdrop: 'static', keyboard: false})
                                       $("#msgBoxModal").modal('show');
                                   </script>

                        </apex:outputpanel>
                    </apex:outputpanel>-->

                    <div class="tab-content">
                        <div id="mydashboard" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ul class="nav nav-tabs responsive hidden-xs hidden-sm"
                                        id="statusTab">
                                        <li><a data-toggle="tab" href="#underreview" style="width: 207px;">My Pending Reviews</a></li>
                                        
                                        <li class="active"><a data-toggle="tab" href="#submitted" style="width: 207px;">All Pending Reviews</a></li>                                        
                                        <li ><a data-toggle="tab" href="#inforequested">Info Needed</a></li>                                        
                                        <li><a data-toggle="tab" href="#approved">No Objection</a></li>
                                        <li><a data-toggle="tab" href="#rejected">Rejected</a></li>
                                    </ul>
                                </div>
                                <div class="clear-fix"></div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="tab-content">
                                    
                                    <div id="underreview" class="tab-pane">

                                            <apex:outputPanel styleClass="pull-right"
                                                rendered="{!(PendingAppApprovals.size > 10)}"
                                                style="padding:10px 0px;" layout="block">
                                                <button onclick="redirectToPage(3);" class="CancelButton">VIEW
                                                    ALL</button>
                                            </apex:outputPanel>

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>App Name</th>
                                                       <!-- <th>Developer Name</th> -->
                                                        <th>Submitted On</th>
                                                        <!--<th>Assigned to</th>-->
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!PendingAppApprovals}" var="app">
                                                    <tr>
                                                        <td>{!rowNum}</td>
                                                        <td>{!app.Name}</td>
                                                       <!-- <td>{!app.Owner.FirstName}</td> -->
                                                        <td>{!app.Date_of_Submission__c}</td>
                                                      <!--  <apex:outputPanel rendered="{!regreviewer}">
                                                        <td> {!app.Regulatory_Reviewer__r.name}</td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td> {!app.Technical_Reviewer__r.name}</td></apex:outputPanel> -->
                                                        <apex:outputPanel rendered="{!techreviewer}"><td><button class="approveBtn" onClick="window.submit_btn_clicked=true;$('#vMarketLoader').show();window.open('/vMarketTechRegApproval?appId={!app.id}&type=technical','_self')">Approve&nbsp;/&nbsp;Reject</button></td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!regreviewer}"><td><button class="approveBtn" onClick="window.submit_btn_clicked=true;$('#vMarketLoader').show();window.open('/vMarketTechRegApproval?appId={!app.id}&type=regulatory','_self')">Approve&nbsp;/&nbsp;Reject</button></td></apex:outputPanel>
                                                    </tr><apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    </apex:repeat>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
    
                                    
                                        <div id="approved" class="tab-pane">
                                            <table class="table table-stripped">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>App Name</th>
                                                        
                                                        <th>Comment</th>
                                                       <!-- <th>Date of Approval</th> -->
                                                        <th>Assigned To</th> 
                                                    <!--    <th>Approval History</th> -->
                                                  <!--      <th>Date of Submission</th>
                                                        <th>Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!PublishedApps}" var="app">
                                                        <tr>
                                                            <td>{!rowNum}</td>
                                                            <td>{!app.Name}</td>
                                                            
                                                            <apex:outputPanel rendered="{!regreviewer}">
                                                        <td class="infoCell">
                                                            
                                                            {!app.VMarket_Regulatory_Feedback__c} 
                                                        </td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td class="infoCell">
                                                            
                                                            {!app.VMarket_Technical_Feedback__c}
                                                        </td></apex:outputPanel>
                                                            <!--<td>{!app.Date_of_Approve_Reject__c}</td>-->
                                                            <apex:outputPanel rendered="{!regreviewer}">
                                                        <td> {!app.Regulatory_Reviewer__r.name}</td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td> {!app.Technical_Reviewer__r.name}</td></apex:outputPanel>
                                                       <!--     <td><a class="actionLink" href="VMarketApprovalLogs?appid={!app.id}">Approval History</a></td>
                                                            <td><apex:outputText value="{0, date, MMMM d','  yyyy}">
                                                                    <apex:param value="{!app.CreatedDate}" />
                                                                </apex:outputText></td>
                                                            <td><a href="javascript:void(0)" data-id="{!app.Id}"
                                                                onClick="publishedAppStatus(this)">Publish app</a></td> -->
                                                        </tr>
                                                        <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="submitted" class="tab-pane active">
                                            <table class="table" id="inProgressApps">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>App Name</th>                                                        
                                                        <th>Approval Started On </th>
                                                        <th>Assigned To</th>
                                                      <!--  <th>Approval History</th>-->
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--
                                                    <apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!SubmittedApps}" var="app">
                                                        <tr>
                                                            <td>{!rowNum}</td>
                                                            <td><a href="/{!app.Id}" target="_blank">{!app.Name}</a></td>
                                                            <td>{!app.Owner.Name}</td>
                                                            <td><apex:outputText value="{0, date, MMMM d','  yyyy}">
                                                                    <apex:param value="{!app.CreatedDate}" />
                                                                </apex:outputText></td>
                                                            <td><a href="#ReviewUserModal" data-toggle="modal"
                                                                data-id="{!app.Id}" class="ModalBox">Submit to
                                                                    approve</a></td>
                                                        </tr>
                                                        <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    </apex:repeat> -->
                                                    <apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!UnderReviewApps}" var="app">
                                                    <tr class="rowitem">
                                                        <td>{!rowNum} <!-- <a class="expandCollapseTrigger"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> -->
                                                        </td>
                                                        <td>{!app.Name} </td>
                                                        
                                                        <td> {!app.Date_of_Approval_reuqest__c}</td>
                                                        <apex:outputPanel rendered="{!regreviewer}">
                                                        <td> {!app.Regulatory_Reviewer__r.name}</td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td> {!app.Technical_Reviewer__r.name}</td></apex:outputPanel>
                                                     <!--   <td><a class="actionLink" href="VMarketApprovalLogs?appid={!app.id}">Approval History</a></td>-->
                                                        <apex:outputPanel rendered="{!techreviewer}"><td><button class="approveBtn" onClick="window.submit_btn_clicked=true;$('#vMarketLoader').show();window.open('/vMarketTechRegApproval?appId={!app.id}&type=technical','_self')">Approve&nbsp;/&nbsp;Reject</button></td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!regreviewer}"><td><button class="approveBtn" onClick="window.submit_btn_clicked=true;$('#vMarketLoader').show();window.open('/vMarketTechRegApproval?appId={!app.id}&type=regulatory','_self')">Approve&nbsp;/&nbsp;Reject</button></td></apex:outputPanel>
                                                    </tr>
                                                    <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    
                                                   </apex:repeat>
                                                                                                   
                                                </tbody>
                                            </table>
                                        </div>         
                                         <div id="inforequested" class="tab-pane">
                                            <table class="table" id="inProgressApps">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>App Name</th>
                                                        
                                                        <th>Comment</th>
                                                        <!-- <apex:outputPanel rendered="{!techreviewer}"><th>Tech Section</th></apex:outputPanel>
                                                         <apex:outputPanel rendered="{!regreviewer}"><th>Regulatory Section</th></apex:outputPanel> -->
                                                      <!--  <th>Reason</th> -->
                                                        <th>Assigned To</th>
                                                      <!--  <th>Date of Info Requested</th> -->
                                                       <!-- <th>Approval History</th>-->
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--
                                                    <apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!SubmittedApps}" var="app">
                                                        <tr>
                                                            <td>{!rowNum}</td>
                                                            <td><a href="/{!app.Id}" target="_blank">{!app.Name}</a></td>
                                                            <td>{!app.Owner.Name}</td>
                                                            <td><apex:outputText value="{0, date, MMMM d','  yyyy}">
                                                                    <apex:param value="{!app.CreatedDate}" />
                                                                </apex:outputText></td>
                                                            <td><a href="#ReviewUserModal" data-toggle="modal"
                                                                data-id="{!app.Id}" class="ModalBox">Submit to
                                                                    approve</a></td>
                                                        </tr>
                                                        <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    </apex:repeat> -->
                                                    <apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!InfoRequestedApps}" var="app">
                                                    <tr>
                                                        <td>{!rowNum} <!-- <a class="expandCollapseTrigger"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> -->
                                                        </td>
                                                        <td>{!app.Name}</td>
                                                        
                                                        <apex:outputPanel rendered="{!regreviewer}">
                                                        <td class="infoCell">
                                                            
                                                            {!app.VMarket_Regulatory_Feedback__c} 
                                                        </td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td class="infoCell">
                                                            
                                                            {!app.VMarket_Technical_Feedback__c}
                                                        </td></apex:outputPanel>
                                                     <!--   <td> {!app.Approval_Information_Required__c}</td> -->
                                                     <!--   <td>{!app.Date_of_Info_requested__c} </td> -->
                                                      <!--  <td><a class="actionLink" href="VMarketApprovalLogs?appid={!app.id}">Approval History</a></td> -->
                                                        <apex:outputPanel rendered="{!techreviewer}"><td><button class="approveBtn" onClick="window.submit_btn_clicked=true;$('#vMarketLoader').show();window.open('/vMarketTechRegApproval?appId={!app.id}&type=technical','_self')">Approve&nbsp;/&nbsp;Reject</button></td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!regreviewer}"><td><button class="approveBtn" onClick="window.submit_btn_clicked=true;$('#vMarketLoader').show();window.open('/vMarketTechRegApproval?appId={!app.id}&type=regulatory','_self')">Approve&nbsp;/&nbsp;Reject</button></td></apex:outputPanel>
                                                    </tr>
                                                    
                                                    <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                   </apex:repeat>
                                                                                                   
                                                </tbody>
                                            </table>
                                        </div>                                          
                                         
                                         
                                         <div id="rejected" class="tab-pane">

                                            <apex:outputPanel styleClass="pull-right"
                                                rendered="{!(RejectedApps.size > 10)}"
                                                style="padding:10px 0px;" layout="block">
                                                <button onclick="redirectToPage(5);" class="CancelButton">VIEW
                                                    ALL</button>
                                            </apex:outputPanel>

                                            <table class="table table-stripped">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>App Name</th>
                                                        <!--<th>Developer Name</th>-->
                                                        <th>Comment</th>
                                                       <!-- <th>Date of Rejection</th> -->
                                                        <th>Assigned To</th>
                                                      <!--  <th>Approval History</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody><apex:variable var="rowNum" value="{!1}" />
                                                <apex:repeat value="{!RejectedApps}" var="app">
                                                <tr>
                                                        <td>{!rowNum}</td>
                                                        <td>{!app.Name}</td>
                                                        <!--<td>{!app.Owner.FirstName}</td>-->
                                                        <apex:outputPanel rendered="{!regreviewer}">
                                                        <td class="infoCell">
                                                            
                                                            {!app.VMarket_Regulatory_Feedback__c} 
                                                        </td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td class="infoCell">
                                                            
                                                            {!app.VMarket_Technical_Feedback__c}
                                                        </td></apex:outputPanel>
                                                       <!-- <td>{!app.Date_of_Approve_Reject__c}</td> -->
                                                        <apex:outputPanel rendered="{!regreviewer}">
                                                        <td> {!app.Regulatory_Reviewer__r.name}</td></apex:outputPanel>
                                                        <apex:outputPanel rendered="{!techreviewer}">
                                                        <td> {!app.Technical_Reviewer__r.name}</td></apex:outputPanel>
                                                      <!--  <td><a class="actionLink" href="VMarketApprovalLogs?appid={!app.id}">Approval History</a></td> -->
                                                    </tr><apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                </apex:repeat>
                                                    <!--<apex:variable var="rowNum" value="{!1}" />
                                                    <apex:repeat value="{!RejectedApps}" var="app">
                                                        <tr>
                                                            <td>{!rowNum}</td>
                                                            <td><a href="/{!app.Id}" target="_blank">{!app.Name}</a></td>
                                                            <td>{!app.Owner.Name}</td>
                                                            <td><apex:outputText value="{!reject_comments[app.Id]}"
                                                                    rendered="{!(app.Id!=null)}" /></td>
                                                            <td><apex:outputText value="{0, date, MMMM d','  yyyy}">
                                                                    <apex:param value="{!app.CreatedDate}" />
                                                                </apex:outputText></td>
                                                        </tr>
                                                        <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    </apex:repeat> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="allapps" class="tab-pane">
                            <apex:form >
                            
                            
                                <div class="baseContainer" style="display: inline-block;">
                                    <div style="padding-top: 5px; float: left;">Filter
                                        By&nbsp;&nbsp;&nbsp;</div>
                                <!--    <div class="input-group" style="float: left;">
                                        <apex:selectList id="FilterType" value="{!FilterType}"
                                            size="1" onChange="selectCategory()"
                                            styleClass="selectpicker appsFilterSelect">
                                            <apex:selectOptions value="{!FilterCategories}" />
                                        </apex:selectList>
                                    </div>-->
                                    <div class="col-md-4">
                                      <!--  <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">Search
                                                Apps by</span> <input type="text" class="form-control"
                                                value="{!keyword}" id="searchapp" placeholder="Name"
                                                aria-describedby="basic-addon1" /> <span
                                                class="input-group-addon">
                                                <button type="button" onClick="searchKeyword()">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                            </apex:form>

                            <apex:form >
                                <apex:pageBlock id="details">
                                  <!--  <table class="table table-stripped" style="margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th>App Name</th>
                                                <th>Developer Name</th>
                                                <th>Status</th>
                                                <th>Date of Submission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <apex:repeat value="{!AllApps}" var="app">
                                                <tr>
                                                    <td><a href="/{!app.Id}" target="_blank">{!app.Name}</a></td>
                                                    <td>{!app.Owner.Name}</td>
                                                    <td>{!app.ApprovalStatus__c}</td>
                                                    <td><apex:outputText value="{0, date, MMMM d','  yyyy}">
                                                            <apex:param value="{!app.CreatedDate}" />
                                                        </apex:outputText></td>
                                                </tr>
                                            </apex:repeat>
                                        </tbody>
                                    </table> -->
                                 <!--   <apex:pageblockButtons rendered="{!(totalRecs > blockSize)}"
                                        location="bottom">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <apex:commandLink id="firstpage" action="{!beginning}"
                                                    rerender="details" value=""
                                                    StyleClass="firstpage pagination {!IF(prev, 'disablePage', '')}"
                                                    type="image/png">
                                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                </apex:commandLink>
                                                <apex:commandLink id="previous" action="{!previous}"
                                                    rerender="details" value=""
                                                    StyleClass="pagination {!IF(prev, 'disablePage', '')}">
                                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back</apex:commandLink>
                                                <apex:commandLink id="next" action="{!next}"
                                                    rerender="details" value=""
                                                    StyleClass="pagination {!IF(nxt, 'disablePage', '')}">Next&nbsp;<i
                                                        class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </apex:commandLink>
                                                <apex:commandLink id="lastpage" action="{!end}"
                                                    rerender="details" value=""
                                                    StyleClass="lastpage pagination {!IF(nxt, 'disablePage', '')}">
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                </apex:commandLink>
                                            </div>
                                        </div>
                                    </apex:pageblockButtons> -->
                                </apex:pageBlock>
                            </apex:form>
                        </div>
                    </div>
                </div>
          <!--  </form> -->
        </div>
    </apex:outputPanel>

    <div aria-hidden="true" class="modal fade bs-modal-sm"
        id="ReviewUserModal" role="dialog" tabindex="-1"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalHeader">
                    <button aria-label="Close" class="close" data-dismiss="modal"
                        id="closeButton" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Select Reviewer
                </div>
                <div class="modal-body">
                    <input type="hidden" name="AppId" id="AppId" value="" />
                   <!-- <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-4">Name</th>
                                <th class="col-md-7">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!ReviewerList}" var="user">
                                <tr>
                                    <td class="col-md-1"><input type="checkbox" name="userId"
                                        value="{!user.Id}" /></td>
                                    <td class="col-md-4"><strong>{!user.FirstName}&nbsp;{!user.LastName}</strong></td>
                                    <td class="col-md-7"><strong>{!user.Email}</strong></td>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>-->
                    <div class="text-center">
                        <button class="CancelButton" id="submitApproval"
                            data-dismiss="modal" aria-label="Close">CANCEL</button>
                        <button class="SubmitButton" id="submitApproval"
                            onClick="submitApp()">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <apex:outputPanel rendered="{!NOT(IsApprovalAdmin)}" layout="block">
        <apex:outputPanel styleClass="container-fluid" layout="block">
            <apex:outputPanel styleClass="col-md-12" layout="block">
                <div class="col-md-12 alert alert-danger"
                    style="margin-top: 40px; text-align: center;">You do not have sufficient access</div>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>

    <apex:form >
     <!--   <apex:actionFunction name="startApprovalProcess"
            action="{!startAppoval}" reRender="mainContainer"
            status="ApprovalStatus">
            <apex:param name="appId" value="" />
            <apex:param name="userList" value="" />
        </apex:actionFunction>-->

        <apex:actionStatus onstart="ApprovalStatus(0);"
            onstop="ApprovalStatus(1);" id="ApprovalStatus">
            <apex:facet name="start">
                <div id="divLoading" class="divLoading">
                    <p class="innerLoading">
                        <img src="/img/loading.gif" height="20" width="20"
                            style="margin-bottom: 20px;" /><br /> Please wait...
                    </p>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </apex:form>

    <apex:form >
       <!-- <apex:actionFunction name="publishedApp"
            action="{!publishedAppProcess}" reRender="mainContainer"
            status="pubStatus">
            <apex:param name="appId" value="" />
        </apex:actionFunction>-->

        <apex:actionStatus onstart="ApubStatus(0);" onstop="pubStatus(1);"
            id="pubStatus">
            <apex:facet name="start">
                <div id="divLoading" class="divLoading">
                    <p class="innerLoading">
                        <img src="/img/loading.gif" height="20" width="20"
                            style="margin-bottom: 20px;" /><br /> Please wait...
                    </p>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </apex:form>

    <apex:outputpanel id="confirmBox">
        <div class="modal fade MessageModal" tabindex="-1" role="dialog"
            id="confirmBoxModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{!$Resource.vMarketAlertIcon}" />
                        <div class="mainMessageText" style="padding: 15px 0;">
                            <span id="alertText" class="modalText"></span>
                        </div>
                        <button type="button" class="CancelButton" data-dismiss="modal">NO</button>
                        <button type="button" class="SubmitButton" id="AppActionButton"
                            onClick="PerfromAction()">PUBLISH/APPROVE</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </apex:outputpanel>
    
    <div class="modal fade MessageModal" tabindex="-1" role="dialog" id="initiateApprovalModal" data-backdrop="static">
        <div class="modal-dialog" role="document">
        <apex:form >
     <!--   <apex:actionFunction name="startApproval" action="{!startApproval}" rerender="view">     
                            <apex:param id="appidstart" name="appidstart" value="" />
                            <apex:param id="revtype" name="revtype" value="" />
                            </apex:actionFunction> -->
        </apex:form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="{!$Resource.vMarketUploadSuccessIcon}" />
                    <div class="mainMessageText" style="padding: 15px 0;">
                        Admin Initiate Approval
                    </div>
                    <div>                        
                        <div class="checkbox chkBoxInput pull-left">
                        <input type="hidden" id="hiddenIdInitiate"/>
                            <label>
                                <input type="checkbox" id="regulatoryChkBox" /> <span class="label">Regulatory</span>  
                            </label>
                        </div>
                        <div class="checkbox chkBoxInput pull-right">
                            <label>
                                <input type="checkbox" id="technicalChkBox" /> <span class="label">Technical</span>  
                            </label>
                        </div>                        
                    </div>
                    <div class="clear-fix"></div>
                    <button type="button" class="SubmitButton" style="margin-top: 20px;" OnCLick="window.submit_btn_clicked=true;$('#vMarketLoader').show();var revtype='';if ($('#regulatoryChkBox').is(':checked')) var revtype=revtype+'regulatory';if ($('#technicalChkBox').is(':checked')) var revtype=revtype+'technical';startApproval($('#hiddenIdInitiate').val(),revtype);">START</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- /.container -->
    <div class="container-fluid bottomFooterWrapperContainer">
        <div class="row">
            <div class="col-md-12 col-sm-12 bottomFooterWrapper">©&nbsp;1999
                - 2017 Varian Medical Systems, Inc. All rights reserved.</div>
        </div>
    </div>

    <!-- <script type="text/javascript" src="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketCommon.js')}"></script>-->
    <script type="text/javascript"
        src="{!URLFOR($Resource.vMarketResources, 'vMarketResources/js/responsiveTabs.js')}"></script>
    <script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>
        var appId, userIdString;
        $(document).on("click", ".ModalBox", function () {
            $('.selectpicker').selectpicker();
            $('.pagination .disabled a, .pagination .active a').on('click', function(e) {
                e.preventDefault();
            });

            var appId = $(this).data('id');
            $(".modal-body #AppId").val( appId );

            $("#ReviewUserModal input[type=checkbox]").each(function(index, elem) {
                if($(elem).is(":checked"))
                    $(elem).attr("checked", false)
            });
        });

        function searchKeyword() {
            var keyword = $("input[id='searchapp']").val();
            window.location = updateQueryStringParameter(window.location.href, 'keyword', keyword);     
        }

        function selectCategory() {
            var selectedOption = $("select[id*='FilterType']").find(":selected").val();
            var redirectUrl = updateQueryStringParameter(window.location.href, 'filterBy', selectedOption);
            window.location = redirectUrl ;
        }

        function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
          var separator = uri.indexOf('?') !== -1 ? "&" : "?";
          return uri.match(re) ? uri.replace(re, '$1' + key + "=" + value + '$2') : (uri + separator + key + "=" + value);
        }

        function removeURLParameter(url, parameter) {
            //prefer to use l.search if you have a location/link object
            var urlparts= url.split('?');   
            if (urlparts.length>=2) {
        
                var prefix= encodeURIComponent(parameter)+'=';
                var pars= urlparts[1].split(/[&;]/g);
        
                //reverse iteration as may be destructive
                for (var i= pars.length; i-- > 0;) {    
                    //idiom for string.startsWith
                    if (pars[i].lastIndexOf(prefix, 0) !== -1) {  
                        pars.splice(i, 1);
                    }
                }
        
                url= urlparts[0]+'?'+pars.join('&');
                return url;
            } else
                return url;
        }
        /*
        $('.expandCollapseTrigger').click(function(e){
                  e.preventDefault();
                  var rows = $(this).parent().parent('.rowitem').nextUntil('.rowitem').stop(true, true);
                  console.log(rows);
                  $(rows).fadeToggle(1);
                  var arrowIcon = $(this).children('i');
                  //console.log(arrowIcon);
                  if( $(arrowIcon).hasClass( "fa-plus-circle" ) ){
                      $(arrowIcon).removeClass("fa-plus-circle");
                      $(arrowIcon).addClass("fa-minus-circle");
                  }else if( $(arrowIcon).hasClass( "fa-minus-circle" ) ){
                      $(arrowIcon).removeClass("fa-minus-circle");
                      $(arrowIcon).addClass("fa-plus-circle");
                  }
              });
*/
        function PerfromAction() {
            var action = $("#AppActionButton").text();
            if(action=="APPROVE") {
                startApprovalProcess(appId,userIdString);
                $('#confirmBoxModal').modal('toggle');
            } else if (action=="PUBLISH") {
                publishedApp(appId);
                $('#confirmBoxModal').modal('toggle');
            } else {
                return false;
            }
        }

        function submitApp() {
            var userList = new Array();
            appId = $(".modal-body #AppId").val();

            $.each($(".modal-body input[name='userId']"), function(index, elem) {
                if ($(elem).is(':checked')) {
                    userList.push($(elem).val());               
                }
            });

            if(userList.length===0) {
                alert('Please, Select atleast one reviewer');
                return false;
            }

            userIdString = userList.join(',');

            $('#ReviewUserModal').modal('toggle');
            $("#alertText").text("Are you sure want to start approval for the app ?");
            $("#AppActionButton").text('APPROVE');
            $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
            $("#confirmBoxModal").modal('show');            
            return true;
        }

        function ApprovalStatus(statusFlag){                      
            if( statusFlag === 0 ){
                $('#divLoading').css('display', 'block');                 
            }else if( statusFlag === 1 ){
                $('#divLoading').css('display', 'block').delay(100).fadeOut();                        
            }
        }

        function pubStatus(statusFlag){                      
            if( statusFlag === 0 ){
                $('#divLoading').css('display', 'block');                 
            }else if( statusFlag === 1 ){
                $('#divLoading').css('display', 'block').delay(100).fadeOut();                        
            }
        }

        function SelectReviewer() {
            $("#ReviewUserModal input[type=checkbox]").each(function(index, elem) {
                $(elem).attr("checked", true)
            });
        }

        function UnselectReviewer() {
            $("#ReviewUserModal input[type=checkbox]").each(function(index, elem) {
                $(elem).attr("checked", false)
            });
        }
        
        function publishedAppStatus(elem) {
            appId = $(elem).attr("data-id");
            $("#alertText").text("Are you sure want to publish the app ?");
            $("#AppActionButton").text('PUBLISH');
            $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
            $("#confirmBoxModal").modal('show');
            return true;
        }
        
        function redirectToPage(pageNum) {
            var redirectUrl = updateQueryStringParameter(window.location.href, 'filterBy', pageNum);
            redirectUrl = removeURLParameter(redirectUrl, 'keyword');
            window.location = redirectUrl ;
        }
    </script>

    <script type="text/javascript">
    $(window).bind("beforeunload",function(event) 
    {
   
        if(!window.submit_btn_clicked)
          {
                        return "true";
          }
          
             
    });
    
        $(window).load(function() {
            if(document.location.search.length) {
                $(".nav-tabs a[href='#allapps']").tab('show');                                      
            }
        });
        $(function(){
            $(document).on('click', '.initiateApprovalLink', function(){
                $('#regulatoryChkBox').prop('checked',false).trigger('change');
                $('#technicalChkBox').prop('checked',false).trigger('change');                
                $('#initiateApprovalModal').modal('show');
            });
            $(document).on('click', '#inProgressApps tbody > tr > td > a.expandCollapseTrigger', function(){
                $('#inProgressApps tbody > tr > td.infoCell > .description').removeClass('visibleDiv').addClass('hiddenDiv');                
                
                var arrowIcon = $(this).children('i');
                  //console.log(arrowIcon);
                  if( $(arrowIcon).hasClass( "fa-plus-circle" ) ){
                      $(arrowIcon).removeClass("fa-plus-circle");
                      $(arrowIcon).addClass("fa-minus-circle");
                      $(this).parent().parent().find('.description').addClass('visibleDiv');
                  }else if( $(arrowIcon).hasClass( "fa-minus-circle" ) ){
                      $(arrowIcon).removeClass("fa-minus-circle");
                      $(arrowIcon).addClass("fa-plus-circle");
                      $(this).parent().parent().find('.description').removeClass('visibleDiv');
                  }
            });
        });
        
        
        function openInitiateAction(Id){
                                            
                $('#hiddenIdInitiate').val(Id);
                                
                $('#initiateApprovalModal').modal('show');
                
                $('#initiateApprovalModal').on('show.bs.modal', function(){
                    $('#regulatoryChkBox').prop('checked',true).trigger('change');
                    $('#technicalChkBox').prop('checked',true).trigger('change'); 
                });                
            }
        
    </script>
</apex:page>