<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="vMarketDevMyAppsController">
    <c:vMarketDevHeader />
   <!-- <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic"/>
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <apex:stylesheet value="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketCommon.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketHeader.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketDeveloper.css')}"/>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
   
    <apex:includeScript value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/js/vMarketCommon.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/js/vMarketDeveloper.js')}"/>
    
    -->
    <apex:stylesheet value="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
     <apex:includeScript value="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" />
    <apex:includeScript value="https://www.gstatic.com/charts/loader.js"/>
    <style>
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        .page-top-section .container {          
            padding-left: 45px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -100px;                 
        }
        .goHome {
            background-color: #178eea;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            width: 156px;
            height: 38px;
            display: block;
            color: #fff;
            text-align: center;
            padding-top: 8px;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
        }
        .changeThat{
            width: 146px;
            height: 19px;
            opacity: 0.5;
            font-family: OpenSans;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.11;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);
        }
        
    </style>
    
    
    <div id="content-wrapper">
        <div class="container-fluid page-top-section">
            <div class="container">
                <h3 class="pageTitle pull-left">MY APPS</h3>
                <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>
            </div>
        </div>
        <div class="container page-content-section appDetailsWrapper">
            <apex:form >
            <apex:outputPanel layout="block" style="margin-top: 3%;" id="pickValPanel" rendered="{!IF(appCount!=0, true, false)}">
                <apex:outputLabel value="{!$Label.vMarket_MyApp_ShowEnteries}"/>&nbsp;
                <apex:selectList size="1" value="{!SelectedValue}" styleClass="picklist">
                    <apex:selectOptions value="{!datePicker}"/>
                    <apex:actionSupport event="onchange" action="{!searchApps}" rerender="pickValPanel, msgPanel" status="status" onComplete="drwaTable({!appsByDeveloper})"/>
                </apex:selectList>
                <script type="text/javascript">
                    $(function(){
                        
                        $('#myAppsLink').addClass('activeLink');
                        
                        var dataSet = {!appsByDeveloper};                        

                        var appGrid = $('#appsGrid').DataTable( {
                        
                            data: dataSet,
                            "lengthChange": false,
                            "sPaginationType": "full_numbers",
                            "destroy" : true,
                            columns: [
                                //{ data:'index', title:"No."},
                                { data:'App', title: "App Name",
                                    "render": function ( data, type, full, meta ) {
                                        return '<a href="/vMarketDevAppDetails?appId='+full.appId+'&status='+full.status+'">'+data+'</a>';
                                    }
                                },
                                { data:'appCategory', title:"App Category"},
                                { data:'viewers', title: "Viewers" },
                                { data:'buyers', title: "Buyers" },
                                { data: 'price', title: "Price" },
                                { data: 'revenue', title: "Revenue" },
                                { data:'publishedDate', title:"PublishedDate"},
                                { data: 'submission', title: "Submission" },
                                { data: 'status', title: "Status",
                                    "render": function ( data, type, full, meta ) {
                                        var statusClass = '';
                                        if( data === 'Published' ){
                                            statusClass = 'statusApproved';
                                        }else if( data === 'Under Review' ){
                                            statusClass = 'statusPending';
                                        }else if( data === 'Rejected' ){
                                            statusClass = 'statusRejected';
                                        } else if( data == 'Submitted') {
                                            statusClass = 'statusSubmitted';
                                        } else if( data == 'Draft') {
                                            statusClass = 'statusDraft';
                                        }else if( data == 'Info Requested') {
                                            statusClass = 'statusMoreInfo';
                                            data = '<a href="/vMarketDevAppInitialEdit?appId='+full.appId+'">'+data+'</a>';
                                        }
                                        
                                        return '<div class="'+statusClass+'">'+data+'</div>';
                                    }
                                }
                            ],
                            "order": [[ 6, "desc" ]]
                        } );
                        
                    });
                    
                </script>
            </apex:outputPanel>
            
            <apex:outputPanel id="rerenderPanel" >
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <apex:outputPanel styleClass="appsGridWrapper" id="appsGridPanel">
                            <table id="appsGrid" class="display"></table>
                        </apex:outputPanel>
                    </div>
                </div>
            </apex:outputPanel>
            
            <apex:outputPanel id="msgPanel" rendered="{!IF(appCount==0, true, false)}" layout="block" Style="text-align: center;margin: 0 auto;width:50%">
                <apex:image id="noApps" value="{!$Resource.vMarketNoAppsIcon}" />
                <p style="font-size:20px;"> {!$Label.vMarket_MyApps_NoApps} 
                <!--since {!if((SelectedValue == '6M' || SelectedValue == ''), '6 months',SelectedValue)}--> </p><br/>
                <div>
                    <span class="changeThat">
                        {!$Label.vMarket_LetsChangeThat}
                    </span>
                    <span Style="text-align:center;margin: 0 auto;">
                        <a href="{!$Label.vMarket_MyApps_NewUpload}" class="goHome" id="goHome" style="text-align: center;margin-left: 38%;margin-top: 7%;">{!$Label.vMarket_MyApps_UploadApp}</a>
                    </span>
                </div>
            </apex:outputPanel>
            </apex:form>
        </div>
    </div>
    
    <c:vMarketDevFooter />
    <apex:include pageName="vMarketLoginModal" />
    
</apex:page>