<apex:page controller="vMarket_StripeAccount" action="{!authorizeConnectAccount}" standardStylesheets="false" sidebar="false" showHeader="false">
    <apex:includeScript value="{!$Resource.vMarket_Stripe_CheckOut}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	
	
     <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
     <apex:stylesheet value="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic"/>
     <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
     <apex:stylesheet value="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
     <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketCommon.css')}"/>
     <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketHeader.css')}"/>
     <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketDeveloper.css')}"/>
            
    <style>
		.button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
		.button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
        .center {
		    margin: auto;
		    width: 60%;
		    border: 3px solid #73AD21;
		    padding: 10px;
		}
	</style>
	<div class="container-fluid">
		<div class="row">
            <c:vMarketDevHeader />
        </div>
	    <apex:form >
	    	<div class="center">
		    	<div class="panel panel-primary">
					<div class="panel-heading">Your Stripe Account Information</div>
					<div class="panel-body">Stripe Account Id is required to make the transaction to your account, Please click the link below to login to your Stripe Account or 
									Sign up to create Stripe Account</div>
				</div>
		        <section>
		            <p>
		                <!-- <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={!client_id}&scope=read_write" 
		                    class="connect-button" target="_blank"><span>Connect with Stripe</span></a> -->
		                <a class="btn btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={!client_id}&scope=read_write" >
		                	Connect with Stripe
		                </a>
		            </p>
		        </section>
			</div>
	    </apex:form>
    </div>
    <Script>
    	$( document ).ready(function() {
		     $('#divLoading').css('display', 'none');
		});
    </Script>
    
</apex:page>