<apex:page sidebar="false"
    controller="vMarketDevAssertsUploadController" showHeader="false"
    standardStylesheets="false">
    <c:vMarketDevHeader />

    <style type="text/css">
        #appImagesWrapper .mainTitle {
            margin-bottom: 10px;
        }
        
        #appImagesWrapper .detailList {
            width: 100%;
        }
        
        .noAppExist {
            font-size: 1.5em;
            font-weight: bold;
            font-family: Georgia, serif;
            color: #c7c7c7;
            margin: auto;
            padding-top: 38px;
        }
        
        /* Page content styling */
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -100px;
            padding: 40px 45px;
            width: 1296px;
        }
        
        .stepTitleText {
            font-size: 16px;
            color: #5c5c5c;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .uploadAppFormWrapper {
            border: 1px solid #ebebeb;
            padding: 40px 15px 20px 15px;
        }
        
        .uploadAppFormWrapper .formField {
            margin-bottom: 14px;
        }
        
        .uploadAppFormWrapper .fieldLabel {
            display: inline-block;
            font-size: 14px;
            color: #666;
            text-align: right;
            padding-top: 5px;
        }
        
        .uploadAppFormWrapper .fieldInput {
            
        }
        
        .uploadAppFormWrapper .fieldInput input, .uploadAppFormWrapper .fieldInput textarea,
            .uploadAppFormWrapper .fieldInput select {
            border: 1px solid #ededed;
            width: 100% !important;
            padding: 5px 5px 5px 5px;
            background: #fefefe;
        }
        
        .uploadAppFormWrapper .fieldInput .bootstrap-select {
            width: 100% !important;
            border-radius: 0;
        }
        
        .uploadAppFormWrapper .fieldInput .bootstrap-select .btn {
            background: #fefefe;
            border: 1px solid #ededed;
            width: 100% !important;
            padding: 5px 5px 5px 5px;
            border-radius: 0;
        }
        
        .uploadAppFormWrapper .fieldInput .input-group-addon {
            background-color: #f9f9f9;
            border: 0px;
            color: #304a61;
            font-weight: 600;
            font-size: 12px;
            opacity: 0.7;
        }
        
        .uploadAppFormWrapper .fieldInfo {
            font-size: 12px;
            color: #bac5ce;
            font-style: italic;
        }
        
        .uploadAppFormWrapper .fieldInfo  .boldText {
            color: #435870
        }
        
        #appImagesWrapper {
            background-image: url('{!$Resource.vMarketAppScreenShotBg}');
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-size: 133px 170px;
            padding-bottom: 30px;
        }
        
        #appImagesWrapper .formField {
            margin-bottom: 30px;
        }
        
        .uploadAppIconWrapper .labelText {
            font-size: 14px;
            color: #666666;
        }
        
        .uploadAppIconWrapper .labelSubText {
            font-size: 12px;
            font-style: italic;
            color: rgba(102, 102, 109, 0.6);
        }
        
        .uploadAppIconWrapper .fieldLabel {
            margin-bottom: 15px;
        }
        
        .innerWrapper {
            background-color: #fefefe;
            border: dashed 2px #ededed;
            padding: 20px 0;
            position: relative;
        }
        
        .uploadIconWrap {
            margin: 10px 0;
        }
        
        .formSubmitBtnWrapper {
            text-align: right;
            margin-top: 30px;
        }
        
        .formSubmitBtn {
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            width: 164px;
            height: 38px;
            display: inline-block;
            color: #fff;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            border: 0;
            background-color: #178eea;
        }
        
        .formSubmitBtn.backBtn {
            background-color: #7d7d7d;
        }
        
        .bootstrap-filestyle {
            width: 100%;
        }
        
        .bootstrap-filestyle label {
            background-color: #178eea;
            color: #fff;
            border: 0;
            border-radius: 0;
            color: #fff !important;
            font-weight: normal !important;
        }
        
        .bootstrap-filestyle label:hover {
            background-color: #178eea;
        }
        
        .bootstrap-filestyle input[type="text"] {
            border: 1px solid #ededed;
            width: 100% !important;
            padding: 5px 5px 5px 5px;
            background: #fefefe;
            border-radius: 0;
            box-shadow: none;
        }
        
        .fileUpload {
            position: absolute;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: 0px;
            border: 0px;
            opacity: 0;
        }
        
        .fileuploader-input {
            cursor: pointer;
            position: relative;
            top: 35px;
            width: 351px;
        }
        
        .fileuploader-input-inner {
            width: 100%;
        }
        
        .fileuploader-input-inner img {
            display: block;
            padding: 0px 0px 10px 109px;
        }
        
        .fileuploader-input-inner p {
            text-align: center;
        }
        
        .fileuploader-input-caption {
            font-size: 16px;
            font-weight: bold;
            color: #666666;
        }
        
        .fileuploader-input-button {
            width: 212px;
            height: 43px;
            background-color: #178eea;
            margin: 0 auto;
            color: #fff;
            padding-top: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        #appImageSizeInfoWrapper {
            
        }
        
        #appImageSizeInfoWrapper .sectionTitle {
            font-size: 26px;
            font-weight: 300;
            color: #435870;
        }
        
        #appImageSizeInfoWrapper .infoText {
            font-size: 12px;
            font-style: italic;
            color: #bac5ce;
        }
        
        #appImageSizeInfoWrapper .infoBlock .title {
            font-size: 12px;
            color: #435870;
        }
        
        .uploadAppIconWrapper .label-danger {
            position: absolute !important;
            right: 0;
            top: 0;
        }
    </style>
    
    <apex:form id="app_upload_form" enctype="multipart/form-data">
        <div id="content-wrapper">
            <div class="container-fluid page-top-section">
                <div class="container">
                    <h3 class="pageTitle pull-left">UPLOAD NEW APP</h3>
                    
    
                    <div class="breadCrumbWrapper pull-right">
                        <c:vMarketBreadCrumb />
                    </div>
                </div>
            </div>
            <div class="container page-content-section">
                <apex:outputPanel styleClass="row"
                    rendered="{!AND(new_app_obj.ApprovalStatus__c!='Draft', IsAccessible)}" layout="block">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                        style="margin-top: 50px;">
                        <apex:image value="{!$Resource.vMarketNoApps}" />
                        <p style="font-size: 20px;">App is not accessible</p>
                    </div>
                </apex:outputPanel>

                <apex:outputPanel styleClass="row" rendered="{!NOT(IsAccessible)}"
                    layout="block">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                        style="margin-top: 50px;">
                        <apex:image value="{!$Resource.vMarketPermissionDenied}" />
                        <p style="font-size: 20px;">{!$Label.vMarketPermissionDenied}</p>
                    </div>
                </apex:outputPanel>

                <apex:outputPanel styleClass="row"
                    rendered="{!AND(new_app_obj.ApprovalStatus__c=='Draft', IsAccessible)}" layout="block">
                    <div class="stepTitleText">Step 2 - Upload Assets</div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="uploadAppFormWrapper">
                                <div class="formField row">
                                    <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">App
                                        Banner:</div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">
                                        <apex:inputFile value="{!attached_Banner.body}"
                                            filename="{!attached_Banner.name}" id="appBanner"
                                            styleClass="appBannerInput" />
                                            <apex:outputLink value="{!URLFOR($Action.Attachment.Download, existing_banner.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!bannerExists}">
{!existing_banner.name}</apex:outputLink>
                                        <!--onchange="TestFileType(this.id,this.value, ['jpg','jpeg'],500000);"  -->
                                    </div>
                                    
                                </div>
                                

                                <div class="fieldInfo row">
                                    <div class="col-md-offset-3 col-md-9">
                                        It should be JPEG or JPG <span class="boldText">(Max
                                            File Size .5 MB)</span> (Dimension should be - Width 1920px &amp;
                                        Height 520px)
                                    </div>
                                </div>

                                <div class="appImagesContainer">
                                    <div class="formField row"
                                        style="background-color: #fbf9f9; padding: 40px 0px 30px 0px; margin-top: 40px; margin-bottom: 0px;">
                                        <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel"
                                            style="padding-bottom: 20px; padding-top: 0;">
                                            <span style="font-weight: bold;">App Screenshots</span>&nbsp;&nbsp;
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-xs-12 fieldInfo">
                                            (It should be JPEG or PNG)&nbsp;&nbsp;<span
                                                style="color: #435870">(Max File Size 500kb)</span>&nbsp;&nbsp;(Dimension
                                            should be - Width 600px Height 400px)
                                        </div>

                                    </div>

                                    <div class="formField row" style="background-color: #fbf9f9;">
                                        <div id="appImagesWrapper">
                                            <apex:pageBlock >
                                                <apex:pageBlockSection columns="1">
                                                    <apex:variable value="{!1}" var="i" />
                                                    <apex:repeat value="{!allFileList}" var="AFL">
                                                        <apex:outputPanel layout="block">
                                                            <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">
                                                                ScreenShots {!i}: &nbsp;</div>
                                                            <apex:outputPanel styleClass="col-md-6 col-sm-6 col-xs-12 formField appImageInput"
                                                                layout="block">
                                                                <apex:inputfile value="{!AFL.body}"
                                                                    filename="{!AFL.Name}" styleClass="appImageInput"
                                                                    id="screen" />
                                                                <!--  onchange="TestFileType(this.id,this.value, ['png','jpg','jpeg'],500000);"-->
                                    <apex:outputLink value="{!URLFOR($Action.Attachment.Download, screenshot1.Id)}" target="_blank" styleClass="selectedScreenShot1" rendered="{!AND(i==1,screenshotexists1)}">
{!screenshot1.name}</apex:outputLink>
<apex:outputLink value="{!URLFOR($Action.Attachment.Download, screenshot2.Id)}" target="_blank" styleClass="selectedScreenShot2" rendered="{!AND(i==2,screenshotexists2)}">
{!screenshot2.name}</apex:outputLink>
<apex:outputLink value="{!URLFOR($Action.Attachment.Download, screenshot3.Id)}" target="_blank" styleClass="selectedScreenShot3" rendered="{!AND(i==3,screenshotexists3)}">
{!screenshot3.name}</apex:outputLink>
<apex:outputLink value="{!URLFOR($Action.Attachment.Download, screenshot4.Id)}" target="_blank" styleClass="selectedScreenShot4" rendered="{!AND(i==4,screenshotexists4)}">
{!screenshot4.name}</apex:outputLink>                           
                                                            </apex:outputPanel>
                                                        </apex:outputPanel>
                                                        <apex:variable var="i" value="{!i+1}" />
                                                    </apex:repeat>
                                                </apex:pageBlockSection>
                                            </apex:pageBlock>
                                            <div id="appImagesError"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="formField row" style="margin-top: 50px;">
                                    <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">App
                                        User Guide:</div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">
                                        <apex:inputFile value="{!attached_userGuidePDF.body}"
                                            filename="{!attached_userGuidePDF.name}" id="appUserGuide"
                                            styleclass="appUserGuideInput" />
                                            <apex:outputLink value="{!URLFOR($Action.Attachment.Download, existing_userGuide.Id)}" target="_blank" styleClass="selectedPdfFile" rendered="{!guideExists}">
{!existing_userGuide.name}</apex:outputLink> 
                                    </div>
                                </div>

                                <div class="fieldInfo row">
                                    <div class="col-md-offset-3 col-md-9">
                                        It should be PDF&nbsp;&nbsp;<span class="boldText">(Max
                                            File Size 10 MB)</span>
                                    </div>
                                </div>
								
                                 <!--EULA on vMarket-->
                                <div class="formField row" style="margin-top: 50px;">
                                    <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">End
                                        User License Agreement:</div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">
                                        <apex:inputFile value="{!attached_userEndUserAgreement.body}"
                                            filename="{!attached_userEndUserAgreement.name}" id="appUserAgreement"
                                            styleclass="appUserGuideInput" />
                                            <apex:outputLink value="{!URLFOR($Action.Attachment.Download, existing_userEndUserAgreement.Id)}" target="_blank" styleClass="selectedPdfFile" rendered="{!guideExists}">
{!existing_userEndUserAgreement.name}</apex:outputLink> 
                                    </div>
                                </div>
                                
                                <div class="formField row" style="margin-top: 50px;">
                                    <div class="col-md-3 col-sm-3 col-xs-12 fieldLabel">
                                        Youtube Video Id(If Any):</div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 fieldInput">
                                        <div class="input-group">
                                            <span class="input-group-addon">https://www.youtube.com/watch?v=</span>
                                            <apex:inputText value="{!AppVideoId}" id="appVideoID"
                                                required="false"  /><!--html-placeholder="{!existingVideoId}" -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formSubmitBtnWrapper">
                                <!--   <apex:commandButton value="Back"
                                            action="{!back}"
                                            styleClass="btn btn-primary"
                                            style="width: 25%;font-weight: bold;"  /> -->
                                <button class="formSubmitBtn backBtn" type="button"
                                    style="width: 25%; font-weight: bold;"
                                    onClick="window.submit_btn_clicked=true;window.open('/vMarketAppInitialEdit?appId={!apId}',target='_self')">BACK</button>
                                &nbsp;&nbsp;
                                <apex:commandButton value="SAVE & NEXT"
                                    action="{!saveAppDetails}" styleClass="formSubmitBtn"
                                    style="width: 25%;font-weight: bold;"  onclick="submitForm();"/>
                                <!--onclick="validationcheck();" -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!--  <span class="fieldLabel" id="cloud">Update App Icon</span> -->
                            <div class="uploadAppIconWrapper">
                                <div class="fieldLabel">
                                    <span class="labelText pull-left">Upload App Icon</span> <span
                                        class="labelSubText pull-right">PNG, Size 200x200 Pixel</span>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="innerWrapper">
                                    <!--    <img id="preview" style="width: 150px;margin: 15px auto;display: none;"/>  -->
                                    <apex:outputPanel rendered="{!logoexists}">
                                        <img id="preview1"
                                            style="width: 150px; margin: 15px auto; display: block;"
                                            src="{!URLFOR($Action.Attachment.Download, existing_logo.id)}" />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!NOT(logoexists)}">
                                        <img id="preview2"
                                            style="width: 150px; margin: 15px auto; display: none;" />
                                    </apex:outputPanel>
                                    <apex:inputFile value="{!attached_logo.body}"
                                        filename="{!attached_logo.name}" id="appLogo"
                                        styleClass="fileUpload" required="false" />
                                    <div style="text-align: center;">
                                        <div class="uploadIconWrap" id="cloud" style="display: none;">
                                            <img src="{!$Resource.vMarketUploadIconGrey}" />
                                        </div>
                                        <div class="fileuploader-input-caption">
                                            <span>Drag &amp; Drop Image Here</span>
                                            <p>or</p>
                                        </div>
                                        <div class="fileuploader-input-button">Select File To
                                            Upload</div>
                                    </div>
                                </div>
                            </div>
                            <div
                                style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
                                <img src="{!$Resource.vMarketDevAppAssetsImgGraphics}" />
                            </div>
                            <div id="appImageSizeInfoWrapper">
                                <div class="sectionTitle">ABOUT IMAGES SIZE</div>
                                <div class="infoText">Plaese upload only JPEG or PNG
                                    files.</div>
                                <div style="margin-top: 10px; margin-bottom: 10px;">
                                    <div class="infoBlock pull-left">
                                        <div class="title">APP ICON</div>
                                        <div class="infoText">Quantity : 1 Only</div>
                                        <div class="infoText">Size : 200x200 pixels</div>
                                        <div class="infoText">Limit : 500 KB</div>
                                    </div>
                                    <div class="infoBlock pull-right">
                                        <div class="title">APP SCREENSHOTS</div>
                                        <div class="infoText">Quantity : 4 Screenshots</div>
                                        <div class="infoText">Size : 600x400 pixels</div>
                                        <div class="infoText">Limit : 500 KB</div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div>
                                    <div class="infoBlock pull-left">
                                        <div class="title">APP BANNER</div>
                                        <div class="infoText">Quantity : 1 Only</div>
                                        <div class="infoText">Size : 1920x520 pixels</div>
                                        <div class="infoText">Limit : 2 MB</div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </div>

            <c:vMarketDevFooter />
        </div>
    </apex:form>
    <apex:include pageName="vMarketLoginModal" />

    <script type="text/javaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>

    <script type="text/javaScript"
        src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
    <script type="text/javascript"
        src="{!URLFOR($Resource.vMarketResources, 'vMarketResources/js/jquery.filer.min.js')}"></script>

    <script type="text/javascript">
          var submitbutton = document.getElementById("subbutton");

    $(window).bind("beforeunload",function(event) 
    {
   
        if(!window.submit_btn_clicked)
          {
                        return "true";
          }   
    });
          $(document).ready(function() {
              
              $('.appBannerInput').filestyle({
                  icon: false,
                  buttonText: "Upload Image"
              });
              
              $('.appImageInput').filestyle({
                  icon: false,
                  buttonText: "Upload Image"
              }); 
              
              $('.appUserGuideInput').filestyle({
                  icon: false,
                  buttonText: "Upload File"
              });
              
                $('[id$=app_upload_form]').validate({
                    errorElement: "span",
                    wrapper: "span",  // a wrapper around the error message
                    errorPlacement: function(error, element) {
                        //offset = element.offset();
                        error.insertBefore(element)
                        error.addClass('label label-danger');  // add a class to the wrapper
                        error.css('position', 'relative');
                        error.css('float', 'right');
                        error.css('margin-top', '-23px');
                       // error.css('left', offset.left + element.outerWidth());
                       // error.css('top', offset.top);
                    },
                    onfocusout: false,
                    invalidHandler: function(form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {                    
                        validator.errorList[0].element.focus();
                    }
                } 
                });
                
                 $('[id$=appUserGuide]').on("change", function(e) {
                $(".selectedPdfFile").remove();                
            });
            
             $('[id$=appBanner]').on("change", function(e) {
                $(".selectedBannerFile").remove();                
            });
            
             $('[id*="0:screen"]').on("change", function(e) {
                $(".selectedScreenShot1").remove();                
            });
             $('[id*="1:screen"]').on("change", function(e) {
                $(".selectedScreenShot2").remove();                
            });
             $('[id*="2:screen"]').on("change", function(e) {
                $(".selectedScreenShot3").remove();                
            });
             $('[id*="3:screen"]').on("change", function(e) {
                $(".selectedScreenShot4").remove();                
            });
            
            
                
                $.validator.addMethod('filesize', function (value, element, param) {
                    return this.optional(element) || (element.files[0].size <= param[0])
                }, 'File size must be less than {1} MB');

                $.validator.addMethod('checkDim', function (value, element, param) {     
                   var image = new Image();
                    var file = element.files[0];
                    var _URL = window.URL || window.webkitURL;
                    image.src = _URL.createObjectURL(file);
                    image.onload = function(e){
                        alert('==element.uploadWidth=='+image.width);
                        alert('==element.uploadHeigth=='+image.height);
                        if(file == null) 
                        return true;
                        if(image.width == param[0] || image.height == param[1]){ 
                            return true;
                        }
                        else{ 
                            if(file != null) {//alert(file);
                                return false;
                            }
                        }
                    }
                }, 'Image dimension must be Width {0} and Height {1}');
                
                $('[id$=appBanner]').rules("add",{
                    extension: "jpg|jpeg",
                    filesize : [500000,0.5],                                          
                     messages:{
                       extension:"<div class=\"round-rect\">Please enter only JPG or JPEG Files</div>"               
                    }                           
                });
                
 if( '{!screenshotexists1}' != 'true' ){
                $('[id*="0:screen"]').rules("add",{
                    
                    required: true,
                     messages:{
                       required:"<div class=\"round-rect\">Please enter a Screenshot</div>"
                    }                           
                });
                }
                
                $('[id*=":screen"]').each(function () {
                 $(this).rules('add', {
                extension: "jpg|jpeg|png",
                filesize : [500000,0.5], 
                //checkDim : [700,465],                  
                     messages:{
                       extension:"<div class=\"round-rect\">Please enter only JPEG or JPG or PNG Files</div>" 
                    }
                    });   
                });

                 $('[id$=appUserGuide]').rules("add",{
                    
                    extension: "pdf", 
                    filesize : [10000000,10],
                     messages:{
                       extension:"<div class=\"round-rect\">Please enter only PDF Files</div>" 
                    }                           
                });
              
                  
                
              /*$('[id$=appLogo]').rules("add",{                                          
                   extension: "png",
                   filesize : [500000,0.5], 
                   //checkDim : [200,200],                 
                     messages:{                   
                       extension:"<div class=\"round-rect\">Please enter only PNG type Files</div>" 
                    }                           
                });*/
              
              if( '{!logoexists}' != 'true' ){  
               $('[id$=appLogo]').rules("add",{
                    required: true,
                   extension: "png",
                    messages:{                   
                       required:"<div class=\"round-rect\">Please enter App Icon</div>",
                        extension:"<div class=\"round-rect\">Please enter only PNG Files</div>" 
                    }
                });
               }
              
              if( '{!logoexists}' == 'true' ){  
               $('[id$=appLogo]').rules("add",{                    
                   extension: "png",
                    messages:{   
                        extension:"<div class=\"round-rect\">Please enter only PNG Files</div>" 
                    }
                });
               }
               
               if( '{!guideExists}' != 'true' ){  
               $('[id$=appUserGuide]').rules("add",{
                    required: true,
                    messages:{                   
                       required:"<div class=\"round-rect\">Please enter a User Guide</div>",  
                    }
                });
               }   
               
               if( '{!bannerExists}' != 'true' ){  
               $('[id$=appBanner]').rules("add",{
                    required: true,
                    messages:{                   
                       required:"<div class=\"round-rect\">Please enter a Banner</div>", 
                    }
                });
               }   
                
                
          });
          
          $('input[id*="appLogo"]').change(function(e) {
            e.preventDefault();
    
    var iconFile = $('input[id*="appLogo"]')[0];
    var logoexists = true;
    logoexists ='{!logoexists}';
    logoexists = logoexists == "true";
    if(logoexists)  readURL(iconFile, "preview1");
        if(!logoexists)  readURL(iconFile, "preview2");
   });
          
          /*
          $(function
                $('#loginLink').click(function(e){
                    e.preventDefault();
                    $('#loginModal').modal('show');
                });
          });*/
       //   $("input[id*='appLogo']").attr('data-buttonName', 'btn-primary');
       //   $("input[id*='appLogo']").attr('data-size', 'sm');
          $("input[id*='appBanner']").attr('data-buttonName', 'btn-primary');
          $("input[id*='appBanner']").attr('data-size', 'sm');
          var _URL = window.URL || window.webkitURL;
            $("input[id*='appLogo']").change(function(e) {
                e.preventDefault();
                var file, img;
                var width=512, height=512;
    
                if ((file = this.files[0])) {
                    img = new Image();
                    img.onload = function() {
                        if (parseInt(this.width) > width && parseInt(this.height) > height) {
                           // alert("Logo must be 512x512 in width and height.");
                            return false
                        }
                    };
                    img.onerror = function() {
                        alert( "not a valid file: " + file.type);
                        return false;
                    };
                    img.src = _URL.createObjectURL(file);
                }
            });
            
            /*$('[id$=appLogo]').rules("add",{
                required: true,
                validImageFileSize: [50000],
                 messages:{
                   required:"Please enter App Logo",
                   validImageFileSize: "App logo size should be less than 50KB"                      
                }                           
            });*/
            
            $('[id$=appBanner]').rules("add",{
                required: true,
                 messages:{
                   required:"Please enter App Banner"                }                           
            });
           
            $('[id$=appUserGuide]').rules("add",{
                required: true,
                validImageFileSize: [50000],
                 messages:{
                   required:"Please enter App Logo",
                   validImageFileSize: "App logo size should be less than 50KB"                      
                 }                           
            });
            
            $(".appImageInput").attr('data-buttonName', 'btn-primary');
            $(".appImageInput").attr('data-size', 'sm');
            
            $('.appImageInput').each(function(index, item){
                console.log(' ========== ' + item);
                $(this).rules("add",{               
                    validImageFileSize: [100000],                    
                    messages:{                   
                        validImageFileSize: "App image size should be less than 100KB"                       
                    }                    
                });    
            });
            
        function validationcheck()
        {
           var bannerFile = $('input[id*="appBanner"]').val();
               if(bannerFile.length==0) 
               {
                   alert("Please Insert a Banner to Proceed");
                    e.preventDefault();
                    return false;
               }
               
            var guideFile = $('input[id*="appUserGuide"]').val();
               if(guideFile.length==0) 
               {
                   alert("Please Insert an App Guide to Proceed");
                    return false;
                    //e.preventDefault();
            }   
        }
            
        function TestFileType(elemid,fileName, fileTypes,maxfilesize) {
            if (!fileName) return;
            //console.log(elemid);
            dots = fileName.split(".")
            //get the part AFTER the LAST period.
            fileType = dots[dots.length - 1];
            // console.log(fileType);
            //console.log(fileTypes);
           // alert(document.getElementById(elemid).files[0].size);
           if( document.getElementById(elemid).files[0].size > maxfilesize) 
           {
           //alert(document.getElementById(elemid).files[0].size);
           alert("Maximum Allowed File Size is "+maxfilesize/1000+"KB Please reupload again");
           $('#'+elemid).addClass('alert-danger');            
           document.getElementById(elemid).value = "";
           //return false;
           }
            if(fileTypes.join(".").indexOf(fileType) != -1){
                //alert('That file is OK!') :
                $('#'+elemid).parent('div').removeClass('alert-danger');
            }else{
                alert("Please select a new file with extensions as " + (fileTypes.join(" .")) + " and try again");
                $('#'+elemid).addClass('alert-danger');            
                document.getElementById(elemid).value = "";
            }
        }
            
        function checkFileSize(element, fileSize)
        {   
            var goodSize = true;            
            
            if(typeof element.files[0] !== 'undefined')
            {
                var file = element.files[0],
                    size = typeof ActiveXObject !== 'undefined' ?
                    getIEFileSize(file)
                :
                file.fileSize || file.size;
                
                goodSize = fileSize > size;
                
                return goodSize;
            }
            
            return goodSize;
        }
            
        $('[id$=app_upload_form]').validate({           
                ignore: ":hidden:not(.appCategoryField)",                 
                errorPlacement: function (error, element) {             
                    $(element).parents('.formField').append(error);                                       
                }
        });
                
           
        function readURL(input, tar) {
            //alert(input.files);
            //alert(input.files[0]);
            if (input.files && input.files[0]) { // got sth
        
                // Clear image container
                $("#" + tar).removeAttr('src');
                $("#" + tar).css('display', 'block');  
                $('[id$=cloud]').hide();
                    //  $('[id$=uploadappicon]').hide();
                    $.each(input.files, function(index, ff) // loop each image 
                    {
                        var reader = new FileReader();
                        // Put image in created image tags
                        reader.onload = function(e) {
                        $('#' + tar).attr('src', e.target.result);
                        
                    }
                    reader.readAsDataURL(ff);
                });
            }
        }
        
        function submitForm(){
        
        //alert($('[id$=appBanner]').val);
        
      if( $('[id$=app_upload_form]').valid() ){
      window.submit_btn_clicked=true;
          $('.divLoading').show();
      }
  }
              
    </script>
</apex:page>