<apex:page docType="html-5.0" sidebar="false" showheader="false" controller="vMarketBaseController">
	<apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic"/>
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>    
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"/>
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketLogin.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}"/>
    <html>
        <head>
            <meta charset="utf-8" /> 
            <meta content="IE=edge" http-equiv="X-UA-Compatible" /> 
            <meta content="width=device-width,initial-scale=1" name="viewport" />
            <title>vMarket Login</title>
            <style>
                .footer{
                    position: relative;
                    margin-bottom: 0px;
                    height: 50px;
                    display: block;
                    margin-top: 30px;
                }
                 
                .footerContent{
                    margin: auto;
                    padding: 5px;
                    text-align: center;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    border-top: 1px dotted #d3d3d3;
                }
                .appLink {font-size:0.8em !important;margin-top: 2px !important;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
                .appViewMoreLink  {font-size:0.7sem !important;}
                .priceWrap {font-size: 1em !important;}
                a { outline:none !important; }
                .preview-panel { text-align: center; background-color: #f5f5f5; margin-bottom: 5px; border-radius: 4px; border-bottom: 3px solid #eeeeee; position: relative; max-width: 500px; margin-left: auto; margin-right: auto; }
                .preview-panel a img { border-top-right-radius: 4px; border-top-left-radius: 4px; border-left: 1px solid #f5f5f5; border-right: 1px solid #f5f5f5; }
                .preview-panel a:hover img { opacity: 0.8; }
                .preview-panel .preview-panel-content { padding: 30px 15px; }
                .preview-panel .preview-panel-content h4 { margin: 0; font-size: 20px; line-height: 20px; }
                .preview-panel .preview-panel-content p { margin: 15px 0; }
                .preview-panel .preview-panel-content .btn { font-size: 11px; border-color: #eeeeee; }
                .preview-panel .preview-panel-content .btn:hover { border-color: #d5d5d5; }
                .featuredAppsHeaderText{ text-transform: none; }
            </style>
        </head>
		<body>
		    <div class="container">
		        <div class="row">
		            <nav class="navbar navbar-default">
		                <div class="navbar-header">
		                  <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                  </button>
		                  <a class="navbar-brand appLogoText" href="#">
		                    <span class="logoVChar">V</span><span class="logoMarketText">Market</span>
		                  </a>
		                </div>
		                <div class="navbar-collapse collapse" id="navbar">
		                  <ul class="nav navbar-nav navbar-right">
		                      <li>
		                        <!-- <div id="userLinkWrap" class="{!IF(Authenticated, "hide", "show")}"><a id="userLink" class="userIcon"><i aria-hidden="true" class="fa fa-user-circle-o"></i></a></div> -->
		                        <a data-toggle="modal" href="#loginModal" id="login-link" style="display: inline-block;" class="{!IF(not(Authenticated), "show", "hide")}">LOGIN</a>
		                      </li>
		                      <li>
		                        <a href="{!$Label.CpNewAccountRegUrl}" target="_blank" id="signup-link" class="{!IF(not(Authenticated), "show", "hide")}">SIGN UP</a>
		                      </li>
		                  </ul>
		                </div>
		            </nav>
		        </div>
		    </div>
		    <div style="text-align: center;">
		    	<p>
					you are not authorized to view this page, Please login/signup to proceed.
				</p>
		    </div>
		    <apex:include pageName="vMarketLoginBox" />
		</body>
	</html>
	
</apex:page>