<apex:page sidebar="false" showHeader="false" standardStylesheets="false">
 <c:vMarketDevHeader />           
            
            
            <style>

                .tabs-right > .nav-tabs,
                .tabs-left > .nav-tabs {
                      border-bottom: 0;
                }
            
                .tab-content > .tab-pane,
                .pill-content > .pill-pane {
                    display: none;
                }
            
                .tab-content > .active,
                .pill-content > .active {
                    display: block;
                }
            
            
                .tabs-left > .nav-tabs > li,
                .tabs-right > .nav-tabs > li {
                    float: none;
                }
            
                .tabs-left > .nav-tabs > li > a,
                .tabs-right > .nav-tabs > li > a {
                    min-width: 74px;
                    margin-right: 0;
                    margin-bottom: 3px;
                }
            
                .tabs-left > .nav-tabs {
                    float: left;
                    margin-right: 19px;
                    border-right: 1px solid #ddd;
                }
            
                .tabs-left > .nav-tabs > li > a {
                    margin-right: -1px;
                    -webkit-border-radius: 4px 0 0 4px;
                    -moz-border-radius: 4px 0 0 4px;
                     border-radius: 4px 0 0 4px;
                }
            
                .tabs-left > .nav-tabs > li > a:hover,
                .tabs-left > .nav-tabs > li > a:focus {
                    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
                }
            
                .tabs-left > .nav-tabs .active > a,
                .tabs-left > .nav-tabs .active > a:hover,
                .tabs-left > .nav-tabs .active > a:focus {
                    border-color: #ddd transparent #ddd #ddd;
                    font-weight: 700 !important;
                    background-color:#a7c0e8 !important;
                }
            </style>
      
            
            
            <div id="content-wrapper">
                
                
                <div class="container-fluid page-top-section">
                    <div class="container">
                        <h3 class="pageTitle pull-left">Developer Guide</h3>
                        <div class="breadCrumbWrapper pull-right"><c:vMarketBreadCrumb /></div>
                    </div>
                </div>
                <div class="container page-content-section appDetailsWrapper" Style="text-align: left;">
                    <apex:outputPanel id="msgPanel" layout="block" Style="margin: 0 auto;">
                        
                        <div class="tabbable tabs-left">
                            <span>&nbsp;&nbsp;<strong>Product Documents</strong></span>
                            <div class="tabbable tabs-left">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <!--<li style="background-color:#a7c0e8;" class="active"><a href="#overview" data-toggle="tab">Overview</a></li>-->
                                    <li><a style="background-color:#a7c0e8;" class="active" href="#eclipse" data-toggle="tab">Eclipse</a></li>
                                    <li><a style="background-color:#a7c0e8;" href="#rapidplan" data-toggle="tab">Rapid Plan</a></li>
                                    <!--<li><a style="background-color:#a7c0e8;" href="#PHI" data-toggle="tab">Physician Intent</a></li>
                                    <li><a style="background-color:#a7c0e8;" href="#aria" data-toggle="tab">ARIA</a></li>-->
                                    <br/>
                                    <span>&nbsp;&nbsp;<strong>General Guidelines</strong></span>
                                    <li><a style="background-color:#a7e8e2;" href="#ProgTerms" data-toggle="tab">Program Terms</a></li>
                                    <li><a style="background-color:#a7e8e2;" href="#ReguGuide" data-toggle="tab">Regulatory Terms</a></li>
                                    <li><a style="background-color:#a7e8e2;" href="#TechTerms" data-toggle="tab">Technical Terms</a></li>
                                </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="col-xs-9">
                                <div class="tab-content">
                                    <!--<div class="tab-pane active" id="overview">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <div id="overview" style="font-size:90%;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>
                                            </div>  
                                        </div>
                                    </div>-->
                                    
                                    <div class="tab-pane active" id="eclipse">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <!--<div id="eclipse_guide" style="font-size:90%;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>-->
                                                <c:vMarket_DevGuideComponent productVal="Eclipse" id="eclipse_guide" />
                                            </div>  
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="rapidplan">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <!--<div id="rapidplan_guide" style="font-size:90% ;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>-->
                                                <c:vMarket_DevGuideComponent productVal="RapidPlan" id="rapidplan_guide" />
                                            </div>  
                                        </div>
                                    </div>
                                    
                                    <!--<div class="tab-pane" id="PHI">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <div id="phi_guide" style="font-size:90%;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>
                                            </div>  
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="aria">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <div id="aria_guide" style="font-size:90%;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>
                                            </div>  
                                        </div>
                                    </div>-->
                                    
                                    <div class="tab-pane" id="ProgTerms">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <div id="progterms_guide" style="font-size:90%;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>
                                            </div>  
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="ReguGuide">
                                        <iframe src='./vMarket_RegulatoryTerms' width="100%" height="600px" id="theIframe" name="theIframe" frameBorder="0"/>
                                    </div>
                                    
                                    <div class="tab-pane" id="TechTerms">
                                        <div id="tc_content" >
                                            <div class="panel-content">
                                                <div id="techterms_guide" style="font-size:90%;display:block;height:600px;overflow-y:scroll;width=100%;padding-right:20px;">&nbsp;</div>
                                            </div>  
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        
                        </div>
                        
                        <div class="clearfix"></div>
                    </apex:outputPanel>
                </div>
                    
            </div>
    
            <c:vMarketDevFooter />
            
                
            <script type="text/javascript">
                $("#overview").load("{!URLFOR($Resource.vMarket_DevOverview)}");
                $("#eclipse_guide").load("{!URLFOR($Resource.vMarket_EclipseDevGuide)}");
                $("#phi_guide").load("{!URLFOR($Resource.vMarket_PHIDevGuide)}");
                $("#rapidplan_guide").load("{!URLFOR($Resource.vMarket_RapidPlanDevGuide)}");
                $("#aria_guide").load("{!URLFOR($Resource.vMarket_ARIADevGuide)}");
                $("#progterms_guide").load("{!URLFOR($Resource.vMarketplace_ProgramTerms)}");
                $("#techterms_guide").load("{!URLFOR($Resource.vMarket_TechnicalTerms)}");
                $(window).load(function() {         
                    $('#divLoading').hide();
                });
            </script>
            
        
</apex:page>