<apex:page sidebar="false" showHeader="false"
    standardStylesheets="false" controller="vMarket_ReviewAppController" action="{!checkAppIdExist}">
    <title>vMarket Review App</title>

    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />

    <!-- Load Javascript Files -->
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />

    <style type="text/css">
        /* common css */
        body {
            font-family: 'Open Sans', sans-serif !important;
            background-color: #f4f5f9;
            padding: 0px !important;
        }
        
        .clear-fix {
            clear: both;
        }
        
        * { outline: none; }
        
        .margin-top-20 {
            margin-top: 20px;
        }
        
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        .page-top-section .container {
            width: 1296px;
            padding-left: 45px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
            margin-top:30px;
            text-transform: uppercase;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -85px;
            padding: 30px 40px 30px 40px;
            width: 1296px;
        }
        /* common css end */
        .bottomFooterWrapper {
            color: #b6c2cb;
            font-size: 12px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        .bottomFooterWrapperContainer {
            margin-top: 10px;
        }
        
        /* header styles */
        .topHeader {
            background-color: #f4f5f9;
            height: 100px;
        }
        
        .topHeader .container {
            width: 1296px;
            padding-left: 45px;
            padding-right: 45px;
        }
        
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 31px;
            display: inline-block;
        }
        
        .vMarketLogoTopLink {
            float: left;
        }
        
        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
            color: #304a61 !important;
            background: #fff;
        }
        
        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus,
            .dropdown-menu>li>a:focus {
            color: #304a61 !important;
            background: #fff;
        }
        
        #userLinkWrap {
            float: right;
            margin-top: 35px;
            margin-left: 30px;
            cursor: pointer;
        }
        
        #userLinkWrap .dropdown-menu {
            right: 0;
            left: inherit;
            top: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .userIconWrapper {
            margin-top: 30px;
            float: right;
        }
        
        #userLinkWrap .dropdown-menu {
            right: 0;
            left: inherit;
            top: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a {
            font-size: 15px;
            text-align: left;
            color: #304a61;
            padding: 4px 0px 4px 0px;
            word-wrap: break-word;
            float: left;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a:focus,
            #topMenuUserIconWrapper .dropdown-menu>li>a:hover {
            color: #304a61;
            text-decoration: none;
            background-color: #ffffff;
            font-weight: 600;
        }
        
        #topMenuUserIconWrapper .dropdown-menu {
            /*max-width: 200px;
                                    padding: 5px;*/
            padding: 10px 18px;
            width: 190px;
            margin-top: 15px;
            margin-left: -70px;
            border: 0px;
        }
        
        .up_arrow {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #ffffff;
            margin-top: 13px;
        }
        
        .arrow_li {
            position: relative;
            top: -36px;
            line-height: 0px;
            padding: 0;
            list-style: none;
            margin: 0;
            height: 0px;
            margin-left: 42px;
            margin-bottom: -10px;
        }
        
        .nameText {
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #304a61;
        }
        
        /* header styles end */            
        
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 12px;  
            color: #bac5ce;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-size: 12px;  
            color: #bac5ce;
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-size: 12px;  
            color: #bac5ce;
        }
        :-moz-placeholder { /* Firefox 18- */
            font-size: 12px;  
            color: #bac5ce;
        }
        .formField{
            margin-bottom: 30px;
            border: solid 1px #ededed;
            padding: 10px;
        }
        .fieldLabel{
            color: #96acbc;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .fieldInput{
            font-size: 15px;
            color: #304a61;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .fieldInput input, .fieldInput textarea{
            width: 100%;
            border:0;
            font-size: 15px;  
            color: #304a61;
            border: solid 1px #ededed;
        }
        .submitBtn, .rejectBtn, .needMoreBtn, .reAssignBtn{            
            width: 120px;
            height: 40px;
            color: #fff;
            display: block;
            text-align: center;
            padding-top: 9px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;            
            background-color: #178eea;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
        }
        .submitBtn, .reAssignBtn{
            background-color: #178eea;
            border: 0;          
        }        
        .rejectBtn{
            background-color: #fd5959;            
        }
        .needMoreBtn{
            background-color: #ff8a00;
        }
        .reAssignBtn{
            width: 100%;
        }        
        .rejectBtn:hover, .rejectBtn:focus, .rejectBtn:visited,
        .submitBtn:hover, .submitBtn:focus, .submitBtn:visited,
        .needMoreBtn:hover, .needMoreBtn:focus, .needMoreBtn:visited,
        .reAssignBtn:hover, .reAssignBtn:focus, .reAssignBtn:visited{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        label.error {
            color: #fff;
            font-size: 0.8em;
            background: #ef4b25;
            padding: 5px;
            border-radius: 3px;
            margin-bottom: 2px;
            margin-right: 16.5%;
            position: relative;
            float: right;
        }
        ul.alert{
            list-style: none;
        }        
        .alert-warning
        {            
            background-color: #f2dede;
            border: solid 1px #ebccd1;
            margin:20px auto 0px auto;
            padding-bottom:10px;
        }
        #reAssignApprovalModal .modal-dialog{
            width: 400px;
        }
        #reAssignApprovalModal .modal-header {
            padding: 0;
            border-bottom: 0;
        }
        #reAssignApprovalModal .modal-header .close {
            margin-top: -10px;
            font-size: 30px;
        }
        #reAssignApprovalModal .modal-body{
            padding-top: 0;
        }
        #reAssignApprovalModal .modal-content {
            border-radius: 0;
            padding: 30px;
        }
        #reAssignApprovalModal .topSection{
            text-align: center;
        }
        #reAssignApprovalModal .mainMessageText {
            color: #304a61;
            font-size: 18px;
            font-weight: bold;
        }
        #reAssignApprovalModal .formField{
            padding: 8px;
        }
        .divLoading {
            margin: 0px;
            padding: 0px;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 30001;
            opacity: 0.8;
        }
        
        .innerLoading {
            position: absolute;
            color: #000;
            top: 40% !important;
            left: 45% !important;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        
        .innerLoading img {
            margin-bottom: 20px;
            height: 125px;
        }
        .MessageModal {
                text-align: center;
            }
           
            .MessageModal .modal-dialog {
                width: 400px;
            }
            
            .MessageModal .mainMessageText {
                color: #304a61;
                font-size: 18px;
                font-weight: bold;
            }
            
            .MessageModal .okBtn {
                background-color: #178eea;
                width: 150px;
                color: #fff;
                border-radius: 0;
            }
        .sectionTitleText {
            font-size: 16px;
            color: #5c5c5c;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .inputWrap{
            margin-bottom: 20px;
        }
        .inputLabel{
            font-weight: 600;
            color: #96acbc;
        }
        .inputVal{
            color: #304a61;
        }
    </style>

    <!-- Navigation -->
    <div class="container-fluid topHeader">
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
               <!-- <div class="col-md-6 col-sm-6">
                    <a class="vMarketLogoTopLink" href="/apex/vMarketLogin"><div
                            class="vMarketLogoTop"></div></a>
                </div> -->
                <div class="col-md-6 col-sm-6">
                    <apex:outputPanel id="userLinkWrap" styleClass="userIconWrapper"
                        rendered="{!isPageShow}" layout="block">
                        <div class="dropdown" id="topMenuUserIconWrapper">
                            <a aria-expanded="false" aria-haspopup="true"
                                style="cursor: pointer;" data-toggle="dropdown"> <img
                                src="{!$Resource.vMarketProfileIcon}" />
                            </a>

                            <ul class="dropdown-menu">
                                <li class="arrow_li">
                                    <div class="up_arrow"></div>
                                </li>
                                <li style="cursor: default;">
                                    <div class="nameText">Welcome {!$User.FirstName}&nbsp;{!$User.LastName}</div>
                                    <div class="emailText">VMS vMarket Admin</div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/vMarketLogout">Logout</a></li>
                            </ul>
                        </div>
                    </apex:outputPanel>
                    <div class="clear-fix"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>

    
    <apex:outputPanel id="outerPanel" layout="block">
        <!--
        <div class="container">
            <div class="row">
            <div class="col-md-12">
            <apex:outputPanel rendered="{!Not(isPageShow)}" layout="block">
                <div class="alert {!IF(DoesInfoExist, 'alert-success','alert-warning')}" role="alert">                 
                    <div>
                        <apex:pageMessages escape="false"/>
                    </div>    
                </div>
            </apex:outputPanel>
            </div>    
            </div>    
        </div>   
        -->
        <div id="vMarketLoader" class="divLoading" style="display: none;">
            <p class="innerLoading">
                <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" /><br />
                Please wait...
            </p>
        </div>
        <apex:outputPanel layout="block" rendered="{!AND(statusOk,reviewerOk)}">
            <div id="content-wrapper">          
                <div class="container-fluid page-top-section">
                    <div class="container">
                        <h3 class="pageTitle pull-left">{!teamName} Team Approval For <b><i>{!country}</i></b></h3>
                        <div class="breadCrumbWrapper pull-right">
                        <c:vMarketBreadCrumb />
                        </div>
                    </div>
                </div>            
                <div class="container page-content-section">
                    <div class="row">
                        <div class="col-md-12"><!--col-md-offset-4-->
                            <div id="contactUsFormWrapper">                        
                            <apex:form html-autocomplete="off" id="approvalForm">
                                <div class="row">
                                <div class="col-md-6"> 
                                
                               
                                
                                    <div class="sectionTitleText">{!teamName} Section Info</div>
                                    <apex:outputpanel rendered="{!Categoryaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Category</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.App_Category__r.name}</div>
                                        </div>    
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!Nameaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Name</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.name}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!ShortDescriptionaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Short Description</div>
                                            <div class="inputVal"><apex:outputText value="{!countryApp.VMarket_App__r.Short_Description__c}" escape="false"/></div>
                                        </div>
                                    </apex:outputpanel>
                                     <apex:outputpanel rendered="{!medicalDeviceAccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Is Medical Device ?</div>
                                            <div class="inputVal"><apex:outputText value="{!countryApp.VMarket_App__r.Is_Medical_Device__c}" escape="false"/></div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!LongDescriptionaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Long Description</div>
                                            <div class="inputVal"><apex:outputText value="{!countryApp.VMarket_App__r.Long_Description__c}" escape="false"/></div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!Priceaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Price</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.Price__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!KeyFeaturesaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Key Features</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.Key_features__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                   
                                     <apex:outputpanel rendered="{!sensitiveinfoaccess}">
                                        <div class="inputWrap">
                                       <div class="inputLabel"> <apex:outputText value="{!$Label.VMarket_sec_q1}" escape="false"/>
                                           <div>
                                                <span><apex:outputPanel rendered="{!(countryApp.VMarket_App__r.VMarket_Personal_Info__c)||(countryApp.VMarket_App__r.VMarket_Protected_Health_Info__c)}">True</apex:outputPanel></span>
                                                <span><apex:outputPanel rendered="{!!((countryApp.VMarket_App__r.VMarket_Personal_Info__c)||(countryApp.VMarket_App__r.VMarket_Protected_Health_Info__c))}">False</apex:outputPanel></span>
                                           </div>
                                       </div>
                                         <div style="margin-left: 10px; margin-top:5px;"><span class="inputLabel"> Personal Info : </span> <span class="inputVal"> {!countryApp.VMarket_App__r.VMarket_Personal_Info__c}</span></div>
                                         <div style="margin-left: 10px;"><span class="inputLabel">Protected Health Info : </span><span class="inputVal"> {!countryApp.VMarket_App__r.VMarket_Protected_Health_Info__c}</span></div>
                                        </div>    
                                    </apex:outputpanel>
                                    
                                <apex:outputpanel rendered="{!securitymeasuresaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel"><apex:outputText value="{!$Label.VMarket_Sec_Qn2}" escape="false"/>
                                            </div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.VMarket_Security_Laws__c}</div>
                                        </div>    
                                    </apex:outputpanel>
                                <apex:outputpanel rendered="{!euprivacyaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel"><apex:outputText value="{!$Label.VMarket_Sec_Qn3}" escape="false"/>
                                            </div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.VMarket_Comply_Privacy_Laws__c}</div>
                                        </div>    
                                    </apex:outputpanel>
                                     <apex:outputpanel rendered="{!medicalaccess}" >
                                        <div class="inputWrap">
                                            <div class="inputLabel"><apex:outputText value="{!$Label.VMarket_Sec_Qn4}" escape="false"/>
                                            </div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.VMarket_Is_Designed_For_Medical__c}</div>
                                        </div>    
                                    </apex:outputpanel>
                                     <apex:outputpanel rendered="{!encryption1access}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Does your app use, access, contain, implement, or incorporate encryption? 
                                            </div>
                                            <div class="inputVal">{!encryption2access}</div>
                                        </div>    
                                    </apex:outputpanel>
                                     <apex:outputpanel rendered="{!encryption2access}">
                                        <div class="inputWrap">
                                            <div class="inputLabel"><apex:outputText value="{!$Label.VMarket_Sec_Qn5A}" escape="false"/>
                                                <apex:outputpanel rendered="{!typeofencr.size!=0}">True</apex:outputpanel>
                                                <apex:outputpanel rendered="{!typeofencr.size==0}">False</apex:outputpanel>
                                            </div>
                                            <ul>
                                            <apex:repeat value="{!typeofencr}" var="enc">
                                                <li>
                                                    <div class="inputVal"><!--{!countryApp.VMarket_App__r.VMarket_Type_of_Encr__c}-->
                                                        <apex:outputText escape="false" value="{!enc}"/> 
                                                    </div>
                                                </li>
                                            </apex:repeat>
                                            </ul>
                                             <br></br>
                                            <div class="inputLabel"> <apex:outputtext value="{!$Label.VMarket_Sec_Qn6}" escape="false"/></div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.VMarket_Primary_Purpose_Encr__c}</div>
                                         </div> 
                                         <apex:outputpanel rendered="{!!countryApp.VMarket_App__r.VMarket_Primary_Purpose_Encr__c}">
                                            <div class="inputWrap">
                                                <div class="inputLabel"><apex:outputtext value="{!$Label.VMarket_Sec_Qn71_71}" escape="false"/>
                                                <br/>
                                             For Example : &nbsp;<a href="javascript:void(0)" onClick="$('#q7modal').modal('show')" title="Example"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="inputVal">{!countryApp.VMarket_App__r.VMarket_Primary_Purpose_Encr_Details__c}</div>
                                            </div> 
                                            <div class="inputWrap">
                                                <div class="inputLabel">Provide technical details of the level of encryption used.
                                                </div>
                                                <div class="inputVal">{!countryApp.VMarket_App__r.Encryption_Level_Technical_Details__c}</div>
                                            </div>    
                                         </apex:outputpanel>   
                                    </apex:outputpanel>
                                    
                                    <apex:outputpanel rendered="{!Banneraccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Banner</div>
                                            <div class="inputVal"><apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_appBanner.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_appBanner.Id != NULL)}">{!attached_appBanner.name}</apex:outputLink></div>
                                        </div>
                                     </apex:outputpanel>
                                    <apex:outputpanel rendered="{!Logoaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Logo</div>
                                            <div class="inputVal"><apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_appLogo.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_appLogo.Id != NULL)}">{!attached_appLogo.name}</apex:outputLink></div>
                                        </div>
                                    </apex:outputpanel>
                                    <hr/>
                                    <apex:outputpanel rendered="{!NOT(CONTAINS(teamName,'Security'))}">
                                        
                                         <apex:outputpanel rendered="{!IF(AND(NOT(ISNULL(countryApp.VMarket_Legal_Number__c)),(CONTAINS(teamName,'Regulatory')),(countryCode=='US')),true,false)}">
                                            <div class="inputWrap">
                                                <div class="inputLabel">510k Number</div>
                                                <div class="inputVal">{!countryApp.VMarket_Legal_Number__c}</div>
                                            </div>
                                        </apex:outputpanel>
                                        
                                       <apex:outputpanel rendered="{!NOT(ISNULL(countryApp.VMarket_Legal_Name__c))}">
                                            <div class="inputWrap">
                                                <div class="inputLabel">Authorized Representative's Name</div>
                                                <div class="inputVal">{!countryApp.VMarket_Legal_Name__c}</div>
                                            </div>
                                        </apex:outputpanel>
                                        
                                        <apex:outputpanel rendered="{!NOT(ISNULL(countryApp.VMarket_Legal_Address__c))}">
                                            <div class="inputWrap">
                                                <div class="inputLabel">Authorized Representative's Address</div>
                                                <div class="inputVal">{!countryApp.VMarket_Legal_Address__c}</div>
                                            </div>
                                        </apex:outputpanel>
                                        
                                        <div class="inputWrap">
                                            <div class="inputLabel">Documents</div>
                                            <!--<apex:repeat value="{!attached_documents}" var="attcdoc"> -->
                                           <!-- for UAT defect <apex:outputpanel rendered="{!CONTAINS(teamName,'Regulatory')}">
                                                <div class="inputVal">
                                                    <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_CCATS.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_CCATS.Id != NULL) && (countryCode=='US')}">CCATS Document: {!attached_CCATS.name}</apex:outputLink>
                                                </div>
                                                <div class="inputVal">
                                                   <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_TechSpec.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_TechSpec.Id != NULL) && (countryCode=='US')}">Technical Specification: {!attached_TechSpec.name}</apex:outputLink>
                                                </div>
                                            </apex:outputpanel>-->
                                            
                                            <apex:outputpanel rendered="{!CONTAINS(teamName,'Trade')}">
                                                <div class="inputVal">
                                                    <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_CCATS.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_CCATS.Id != NULL) }">CCATS Document: {!attached_CCATS.name}</apex:outputLink>
                                                </div>
                                                <div class="inputVal">
                                                   <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_TechSpec.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_TechSpec.Id != NULL)}">Technical Specification: {!attached_TechSpec.name}</apex:outputLink>
                                                </div>
                                            </apex:outputpanel>
                                           <!-- <apex:outputpanel rendered="{!NOT(CONTAINS(teamName,'Trade'))}">
                                                <apex:repeat value="{!attached_documents}" var="attcdoc">
                                                   <div class="inputVal"><apex:outputLink value="{!URLFOR($Action.Attachment.Download, attcdoc.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attcdoc.Id != NULL)}">{!attcdoc.name}</apex:outputLink></div>
                                                </apex:repeat>
                                            </apex:outputpanel>-->
                                            <apex:outputpanel rendered="{!(CONTAINS(teamName,'Regulatory'))&&(countryCode=='US')}">
                                                <apex:repeat value="{!attached_documents}" var="attcdoc">
                                                   <div class="inputVal"><apex:outputLink value="{!URLFOR($Action.Attachment.Download, attcdoc.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attcdoc.Id != NULL)}">{!attcdoc.name}</apex:outputLink></div>
                                                </apex:repeat>
                                            </apex:outputpanel>
                                            
                                            <apex:outputpanel rendered="{!(CONTAINS(teamName,'Regulatory'))&&(countryCode!='US')}">
                                                <apex:repeat value="{!nonUS_attached_documents}" var="attcdoc_nonUS">
                                                   <div class="inputVal"><apex:outputLink value="{!URLFOR($Action.Attachment.Download, attcdoc_nonUS.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attcdoc_nonUS.Id != NULL)}">{!attcdoc_nonUS.name}</apex:outputLink></div>
                                                </apex:repeat>
                                            </apex:outputpanel>
                                            <!--</apex:repeat>-->
                                        </div>
                                        
                                         <div class="inputWrap">
                                             <apex:outputPanel rendered="{!CONTAINS(teamName,'Technical')}"> 
                                                <div class="inputLabel">App Source</div>
                                                
                                                <apex:outputPanel rendered="{!feedItem!=null}"> 
                                                <a href="/sfc/servlet.shepherd/version/download/{!feedItem.RelatedRecordId}"
                                                                        class="appSourceDownloadLink" target="_document">                                                                
                                                                       <span style="margin-left:16px"><img src="{!$Resource.Download}" style="height:35px;" title="Download App Source"/></span>
                                                                       <br/>Download
                                                                    </a>
                                             
                                        </apex:outputPanel>
                                        
                                        <apex:outputPanel rendered="{!feedItem==null}"> 
                                        No Source Available
                                    </apex:outputpanel>
                                        </apex:outputPanel>
                                        </div>
                                        
                                        
                                    </apex:outputpanel>
                                    
                                    <hr></hr>
                                     <apex:outputpanel rendered="{!PublisherNameaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Publisher Name</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.PublisherName__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!PublisherEmailaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Publisher Email</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.PublisherEmail__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!PublisherWebsiteaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Publisher Website</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.PublisherWebsite__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!PublisherContactNumberaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Publisher Contact Number</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.PublisherPhone__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!DeveloperSupportaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Developer Support</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.Publisher_Developer_Support__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!developernameaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Developer Name</div>
                                            <div class="inputVal">{!countryApp.CreatedBy.Name}</div>
                                        </div>
                                    </apex:outputpanel>
                                    <apex:outputpanel rendered="{!publisheraddressaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Publisher Address</div>
                                            <div class="inputVal">{!countryApp.VMarket_App__r.Publisher_Address__c}</div>
                                        </div>
                                    </apex:outputpanel>
                                    
                                    
                                    <hr></hr>
                                    
                                    <apex:outputpanel rendered="{!Guideaccess}">
                                        <div class="inputWrap">
                                            <div class="inputLabel">Guide</div>
                                            <div class="inputLabel"><apex:outputLink value="{!URLFOR($Action.Attachment.Download, attached_appGuide.Id)}" target="_blank" styleClass="selectedBannerFile" rendered="{!(attached_appGuide.Id != NULL)}">{!attached_appGuide.name}</apex:outputLink></div>
                                        </div>
                                    </apex:outputpanel>
                                    </div>
                                    <div class="col-md-6">                                
                                        <div class="sectionTitleText">Current Reviewer</div>                                    
                                        <div class="fieldInput">  
                                            {!reviewerName}
                                        </div>
                                        <div style="width: 30%;margin-top:10px;">
                                            <apex:outputPanel rendered="{!AND(currentReviewer,reviewers.size>0)}" > <a href="javascript:void(0)" class="reAssignBtn">Re Assign</a></apex:outputPanel>
                                            <apex:outputPanel rendered="{!AND(NOT(currentReviewer),reviewers.size>0)}"> <a href="javascript:void(0)" class="reAssignBtn">Self Assign</a></apex:outputPanel>                                                                                                                                                
                                        </div>                                        
                                        <apex:outputPanel rendered="{!currentReviewer}">
                                            <div class="inputLabel" style="margin-top: 20px;">Comments<sup>*</sup></div>                                                                         
                                            <div class="fieldInput">                                    
                                                <textarea id="reviewComment" name="reviewComment" placeholder="Enter Comments" style="min-height: 100px;"></textarea>
                                            </div>                                        
                                            <input type="hidden" id="hiddenIdInitiate"/>
                                            <div style="text-align: left;margin-top: 20px;">
                                                <a href="javascript:void(0)" class="submitBtn" onClick="submitAppReviewForm('No Objection')">No Objection</a>&nbsp;&nbsp;
                                                <a href="javascript:void(0)" class="rejectBtn" onClick="submitAppReviewForm('Rejected')">Reject</a>&nbsp;&nbsp;
                                                <a href="javascript:void(0)" class="needMoreBtn" onClick="submitAppReviewForm('Info Requested')">More Info</a>
                                            </div>                            
                                        </apex:outputPanel>                                        
                                    </div>
                                    </div>
                            </apex:form>
                        </div>
                    </div>      
                </div>
                </div>          
            </div>
        </apex:outputPanel>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!OR(NOT(statusOk),NOT(reviewerOk),NOT(countryOk))}" layout="block">
    <div class="col-md-12 alert alert-danger"
                    style="margin-top: 40px; text-align: center;">
        <apex:outputPanel styleClass="container-fluid" layout="block">
            <apex:outputPanel styleClass="col-md-12" layout="block" rendered="{!NOT(statusOk)}">
                The Status of App is Not Under Review or Requesting more Info
            </apex:outputPanel>
            <apex:outputPanel styleClass="col-md-12" layout="block" rendered="{!NOT(reviewerOk)}">
                You are not the Current Reviewer of the App
            </apex:outputPanel>
            
        </apex:outputPanel>
        <apex:outputPanel styleClass="col-md-12" layout="block" rendered="{!NOT(countryOk)}">
   Country Wide Information is InCorrect
            </apex:outputPanel>
            </div>
    </apex:outputPanel>
   <!-- 
    <apex:outputPanel rendered="{!NOT(reviewerOk)}" layout="block">
        <apex:outputPanel styleClass="container-fluid" layout="block">
            <apex:outputPanel styleClass="col-md-12" layout="block">
                <div class="col-md-12 alert alert-danger"
                    style="margin-top: 40px; text-align: center;">You are not the Current Reviewer of the App</div>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>
    
    
    <apex:outputPanel rendered="{!NOT(countryOk)}" layout="block">
        <apex:outputPanel styleClass="container-fluid" layout="block">
            <apex:outputPanel styleClass="col-md-12" layout="block">
                <div class="col-md-12 alert alert-danger"
                    style="margin-top: 40px; text-align: center;">
   Country Wide Information is InCorrect </div>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>
    -->
    <apex:form >
    
        <apex:actionFunction name="sendFeedback" action="{!sendFeedback}" rerender="view">     
                            <apex:param id="feedbacktyp" name="feedbacktype" value="" />
                            <apex:param id="feedbackactio" name="feedbackaction" value="" />
                            <apex:param id="feedbackcommen" name="feedbackcomment" value="" />
                            </apex:actionFunction>
                            <apex:actionFunction name="reAssignUser" action="{!reAssignUser}" rerender="view"> 
                            </apex:actionFunction>
        </apex:form>
    <div class="modal fade" tabindex="-1" role="dialog" id="reAssignApprovalModal" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="topSection">
                        <img src="{!$Resource.vMarketReviewIcon}" />
                        <div class="mainMessageText" style="padding: 5px 0 20px 0;">
                            Change Reviewer
                        </div>
                    </div>
                    <div>                        
                        <apex:form html-autocomplete="off" id="changeReviewerForm">   
                        
                            <div class="fieldLabel">New Reviewer<sup>*</sup></div>
                            <div>                                
                                <div class="fieldInput">
                                <apex:selectList id="FilterType" value="{!changedReviewer}"
                                            size="1" 
                                            styleClass="selectpicker appsFilterSelect">
                                            <apex:selectOptions value="{!reviewers}" />
                                        </apex:selectList> 
                                    <!--<apex:inputField  value="{!app.Technical_Reviewer__c}"/>        -->
                                   <!-- <input type="text" id="newReviewerName" name="newReviewerName" />-->
                                </div>
                            </div>                             
                            <div class="fieldLabel">Reason<sup>*</sup></div>
                            <div>                                
                                <div class="fieldInput">                                    
                                   <!-- <textarea id="reasonComment" name="reasonComment" placeholder="Enter Reason here..." style="min-height: 50px;"></textarea>-->
                                    <apex:inputTextarea id="reasonComment" value="{!changeComment}" html-placeholder="Enter Reason here..." style="min-height: 50px;"/>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <!--<a href="javascript:void(0)" class="submitBtn" onClick="submitChangeReviewerForm();">Re Assign</a>  -->
                                <apex:commandButton action="{!reAssignUser}" styleClass="submitBtn" style="padding:0;" value="Re Assign" onClick="window.submit_btn_clicked=true;"/>   
                            </div>                            
                        </apex:form>                       
                    </div>                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    
    <apex:outputpanel id="confirmBox">
                                <div class="modal fade MessageModal" tabindex="-1" role="dialog"
                                    id="confirmBoxModal" data-backdrop="static">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <img src="{!$Resource.vMarketConfirmNavigationIcon}" />
                                                <div class="mainMessageText" style="padding: 15px 0;">
                                                    <span id="alertText" class="modalText"></span>
                                                </div>
                                                
                                                
                                                <button type="button" class="submitBtn" id="AppActionButton"
                                                    onClick="startProcess()">PROCEED</button>
                                                    <!--<button type="button" class="SubmitButton" id="reassignbutton"
                                                    onClick="$('#vMarketLoader').show();reAssignUser();" >ReAssign</button> -->
                                                    <!--<a href="javascript:void(0)" class="submitBtn" onClick="$('#vMarketLoader').show();reAssignUser();" >ReAssign</a> -->
                                                <button type="button" class="rejectBtn" data-dismiss="modal" id="cancelbutton" onClick="window.open ('/apex/vMarketTechRegApproval?appid={!app.id}&type={!teamName}&con={!countryCode}','_self');" >Cancel</button>                                                
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </apex:outputpanel>   
    
    <!-- /.container -->
    <div class="container-fluid bottomFooterWrapperContainer">
        <div class="row">
            <div class="col-md-12 col-sm-12 bottomFooterWrapper">©&nbsp;1999
                - 2017 Varian Medical Systems, Inc. All rights reserved.</div>
        </div>
    </div>

    <script type="text/javaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>
    
    <script>
     $(document).ready(function() {
    if( '{!statusError}' == 'true' )
        {
                //$('#confirmBoxModal').modal('toggle');
                $("#alertText").text("Status has Already Been Changed");               
                $("#AppActionButton").hide();//text('Cancel');
                $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
                $("#confirmBoxModal").modal('show');
        }
        
        });
    
    $(window).bind("beforeunload",function(event) 
    {
   
        if(!window.submit_btn_clicked)
          {
                        return "true";
          }
          
             
    });
    
        $(function(){
            $('[id$=approvalForm]').validate({                
                errorElement: "span",
                wrapper: "span",  // a wrapper around the error message
                errorPlacement: function(error, element) {
                    //offset = element.offset();
                    error.insertBefore(element)
                    error.addClass('label label-danger');  // add a class to the wrapper
                    error.css('position', 'relative');
                    error.css('float', 'right');
                    error.css('margin-top', '-20px');
                    error.css('margin-right', '0px');
                    // error.css('left', offset.left + element.outerWidth());
                    // error.css('top', offset.top);
                }
            });
            
            $('[id$=changeReviewerForm]').validate({                
                errorElement: "span",
                wrapper: "span",  // a wrapper around the error message
                errorPlacement: function(error, element) {
                    //offset = element.offset();
                    error.insertBefore(element)
                    error.addClass('label label-danger');  // add a class to the wrapper
                    error.css('position', 'relative');
                    error.css('float', 'right');
                    error.css('margin-top', '-20px');
                    error.css('margin-right', '0px');
                    // error.css('left', offset.left + element.outerWidth());
                    // error.css('top', offset.top);
                }
            });
            
            $('[id$=reviewComment]').rules("add",{
                required: true,                           
                messages:{
                    required:"Please enter comments",                 
                }                           
            });
            
            $('[id$=newReviewerName]').rules("add",{
                required: true,                           
                messages:{
                    required:"Please enter name",                 
                }                           
            });
            
            $('[id$=reasonComment]').rules("add",{
                required: true,                           
                messages:{
                    required:"Please enter reason",                 
                }                           
            });
            
            $(document).on('click', '.reAssignBtn', function(){
                $('#reAssignApprovalModal').modal('show');
                $('[id$=changeReviewerForm]')[0].reset();
            });
    
        });
    
        function submitAppReviewForm(actionToBeTaken) {
        window.submit_btn_clicked=true;
        /*if(actionToBeTaken.indexOf('Objection') >= 0)  
        {$('#reassignbutton').hide();
        $('#confirmBoxModal').modal('toggle');                
                if(actionToBeTaken.indexOf('Objection') >= 0) $("#alertText").text('Are you Sure you want to review No Objection this cannot be changed');
                $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
                $("#confirmBoxModal").modal('show');
                $('#hiddenIdInitiate').val(actionToBeTaken);
        }else{*/
            if( $('[id$=approvalForm]').valid() ){   
            $('#reassignbutton').hide();  
            $('#confirmBoxModal').modal('toggle');   
                if(actionToBeTaken.indexOf('Objection') >= 0) $("#alertText").text('Are you Sure you want to review No Objection this cannot be changed');                             
                if(actionToBeTaken.indexOf('Rejected') >= 0) $("#alertText").text('Are you Sure you want to Reject this App, this action cannot be undone');
                if(actionToBeTaken.indexOf('Info Requested') >= 0) $("#alertText").text('Are you Sure you want more Info for this App, you will be asked for review when enough details are provided by developer');
                $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
                $("#confirmBoxModal").modal('show');
                $('#hiddenIdInitiate').val(actionToBeTaken);
            }else{
                return false;
            }
            //}
        }
        
        function startProcess() 
            {
            var actionToBeTaken = $('#hiddenIdInitiate').val();
            $('#confirmBoxModal').modal('toggle'); 
            $('#vMarketLoader').show();
            sendFeedback('{!teamName}',actionToBeTaken,$('#reviewComment').val());    
            }
        
        function submitChangeReviewerForm() {
            if( $('[id$=changeReviewerForm]').valid() ){                
                console.log('form valid');
                $('#vMarketLoader').show();
                    reAssignUser();
              /*  $('#reassignbutton').show();
                $('#AppActionButton').hide();
                $("#alertText").text('Are you Sure you want to Change the Reviewer');
                $('#confirmBoxModal').modal({backdrop: 'static', keyboard: false})
                $("#confirmBoxModal").modal('show');*/
                
            }else{
            
                return false;
            }    
        }
        
    </script>
    
    
</apex:page>