<apex:page controller="vMarket_StripeCustomer">
    <script src="https://checkout.stripe.com/checkout.js"/>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <apex:includeScript value="{!$Resource.vMarket_SecureToken}" loadOnReady="true"/>-->
    <Style>
        #custoStripeButton{
            width:300px;
            height:50px;
            background-color:orange;
            color:black;
            border:2px solid green;
        }
    </Style>
    
    <button id="custoStripeButton">Pay Here</button>
    
    <Script>
        var handler = StripeCheckout.configure({
            key: 'pk_test_Z3vfSuSfRKHzVqA3Kp1lPCdN',
            //image: '{!$Resource.vMarket_PaymentLogo}',
            image: '',
            locale: 'auto',
            token: function(token) {
                console.log(token.id);
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`
                tokenHandler(token);
            }
        });
        
        function tokenHandler(token) {
            var tokenId = token.id;
            console.log(' == tokenId == ' + token.Id);
            console.log(token.id + ' == ' + token.card.id);
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.vMarket_StripeCustomer.createCustomer}',
                tokenId,
                function(result, event) {
                    if(event.status) {
                    } else {
                    }
                }
           );
        }
    
        document.getElementById('custoStripeButton').addEventListener('click', function(e) {
            // Open Checkout with further options:label:'Pay with Card'
            handler.open({
                name: 'vMarket',
                description: 'vMarket Purcahse',
                zipCode: true,
                amount: '100',
                currency:'USD'
                
            });
            e.preventDefault();
        });
    
        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
            handler.close();
        });
    </Script>
    
    
</apex:page>