<apex:page sidebar="false" showHeader="false" standardStylesheets="false">
	<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand logoTextLink" href="#"><span class="logoTextV">v</span><span class="logoTextMarket">Market</span></a>
	    </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                    
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="searchProdWrapper">
                        <input type="text" name="search" placeholder="Search.." class="topProdSearchInput" />
                        <i class="fa fa-search" aria-hidden="true"></i>                             
                    </div>
                </li>                           
                <li><a id="shoppingCartLink" href="/vMarketShoppingCart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cartCount">(2)</span></a></li>                         
                <li><div id="userLinkWrap"><a id="userLink" class="userIcon"><i aria-hidden="true" class="fa fa-user-circle-o"></i></a></div></li>   
            </ul>                                                  
        </div>
	</nav>
</apex:page>