<apex:page sidebar="false" showHeader="false" standardStylesheets="false" id="pg" controller="vMarketDeveloperApprovalController">
	<title>vMarket Dev Approval Admin</title>
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />        
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />
    <script
        src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script
        src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <Style>
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 20px;
            display: inline-block;
            float: left;
        }
        
        
        /* header styles */
        .topHeader {
            background-color: #f4f5f9;
            height: 100px;
        }
        
        .topHeader .container {
            width: 1296px;
            padding-left: 45px;
            padding-right: 45px;
        }
        
        .page-top-section {
			background: #ebebeb;
			height: 175px;
		}
		
		.page-top-section .container {
			width: 1296px;
			padding-left: 45px;
		}
		
		.page-top-section .pageTitle {
			color: #304a61;
			font-size: 24px;
			font-weight: 600;
			margin-top:30px;
		}
        
        .page-content-section {
			background: #fff;
			min-height: 500px;
			margin-top: -85px;
			padding: 30px 40px 30px 40px;
			width: 1296px;
		}
        
        .userIconWrapper {
			margin-top: 30px;
			float: right;
		}
		
		#userLinkWrap .dropdown-menu {
			right: 0;
			left: inherit;
			top: 40px;
			padding-left: 10px;
			padding-right: 10px;
		}
		
        #topMenuUserIconWrapper .dropdown-menu>li>a {
			font-size: 15px;
			text-align: left;
			color: #304a61;
			padding: 4px 0px 4px 0px;
			word-wrap: break-word;
			float: left;
		}
		
		#topMenuUserIconWrapper .dropdown-menu>li>a:focus,
			#topMenuUserIconWrapper .dropdown-menu>li>a:hover {
			color: #304a61;
			text-decoration: none;
			background-color: #ffffff;
			font-weight: 600;
		}
		
		#topMenuUserIconWrapper .dropdown-menu {
			/*max-width: 200px;
									padding: 5px;*/
			padding: 10px 18px;
			width: 190px;
			margin-top: 15px;
			margin-left: -70px;
			border: 0px;
		}
        
        #userLinkWrap {
			float: right;
			margin-top: 35px;
			margin-left: 30px;
			cursor: pointer;
		}
		
		#userLinkWrap .dropdown-menu {
			right: 0;
			left: inherit;
			top: 40px;
			padding-left: 10px;
			padding-right: 10px;
		}
        
        .table>thead>tr>th {
			border-bottom: 2px solid #4279BD;
			color: #4279BD;
		}
		
		.tab-content table td {
			border-bottom: 1px solid #fbfbfb;
			color: #304a61 !important;
		}
		
		/* Footer CSS */
		.bottomFooterWrapperContainer {
            margin-top: 10px;
        }
        
        .bottomFooterWrapper {
            color: #b6c2cb;
            font-size: 12px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        .fade {
		    opacity: 0;
		    -webkit-transition: opacity 1s linear;
		    transition: opacity 1s linear;
		}
    </Style>
	
	<!-- Navigation -->
	<div class="container-fluid topHeader">
		<div class="container ">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<a class="vMarketLogoTopLink" href="/vMarketLogin"><div class="vMarketLogoTop"></div></a>
				</div>
				<div class="col-md-4 col-sm-4">
					
				</div>


				<div class="col-md-6 col-sm-6">
					<apex:outputPanel id="userLinkWrap" styleClass="userIconWrapper" rendered="true" layout="block">
						<div class="dropdown" id="topMenuUserIconWrapper">
							<a aria-expanded="false" aria-haspopup="true"
								style="cursor: pointer;" data-toggle="dropdown"> <img
								src="{!$Resource.vMarketProfileIcon}" />
							</a>

							<ul class="dropdown-menu">
								<li class="arrow_li">
									<div class="up_arrow"></div>
								</li>
								<li style="cursor: default;">
									<div class="nameText">{!$User.FirstName}&nbsp;{!$User.LastName}</div>
									<div class="emailText">VMS vMarket Admin</div>
								</li>
							</ul>
						</div>
					</apex:outputPanel>
					<div class="clear-fix"></div>
				</div>
				<div class="clear-fix"></div>
			</div>
			<div class="clear-fix"></div>
			<!-- Collect the nav links, forms, and other content for toggling -->

			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</div>
	
	<apex:outputPanel rendered="{!IsAdmin}" layout="block">
		<div id="content-wrapper">
			<apex:form >
				<div class="container-fluid page-top-section">
					<div class="container">
						<h3 class="pageTitle pull-left">WELCOME {!$User.LastName}</h3>
					</div>
				</div>
				
				<apex:outputPanel id="dataPanel" styleClass="container page-content-section" layout="block">
					<div class="tab-content">
						<div id="mydashboard" class="tab-pane active">
							<div class="row">
								
								<div class="col-md-12 col-sm-12">
									<ul class="nav nav-tabs responsive hidden-xs hidden-sm nav-justified" id="statusTab">
                                        <li class="active"><a data-toggle="tab" href="#pending">Pending Developer Requests</a></li>
                                        <li><a data-toggle="tab" href="#approved">Existing Developers</a></li>
                                        <li><a data-toggle="tab" href="#rejected">Rejected Developers</a></li>
                                    </ul>
								</div>
								<div class="clear-fix"></div>
								
								<div class="col-md-12 col-sm-12">
									<div class="tab-content">
										<!-- Pending Developer Section -->
										<div id="pending" class="tab-pane active">
										<apex:outputPanel id="pendingPan" styleclass="tab-pane active" layout="block">
											<table class="table table-stripped">
												<thead>
                                                    <tr>
	                                                    <th>Name</th>
	                                                    <th>Email</th>
	                                                    <th>Stripe Account Id</th>
	                                                    <th>Terms and Condition</th>
	                                                    <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	<apex:repeat value="{!pendingDevelopers}" var="pending">
                                                		<tr>
                                                			<th>
                                                				<apex:outputLink value="/{!pending.Contact__c}" target="_blank">
                                                					{!pending.Contact__r.Name}
                                                				</apex:outputLink>
                                                			</th>
                                                			<th>{!pending.Contact__r.Email}</th>
                                                			<th>{!pending.Stripe_Id__c}</th>
                                                			<th><apex:inputcheckbox value="{!pending.vMarket_Accept_Terms_of_Use__c}" disabled="true"/></th>
                                                			<th>
                                                				<apex:commandLink rendered="{!IsAdmin}" value="Approve/Reject" action="{!selectedDeveloper}" onComplete="showModal(pending);"
                                                						rerender="idActionPopupPanel, pendingPan">
		                                                    		<apex:param id="param" assignTo="{!selectedRecId}" value="{!pending.Contact__c}" name="selectedContact"/>
		                                                    		<apex:param id="status" assignTo="{!appStatus}" value="{!$Label.vMarket_Pending}" name="appStatus"/>
		                                                    	</apex:commandLink>
                                                			</th>
                                                		</tr>
                                                	</apex:repeat>
                                                </tbody>
											</table>
										</apex:outputPanel>
										</div>
										
										<!-- Existing Users -->
										<div id="approved" class="tab-pane">
										<apex:outputPanel id="approvedPan" styleclass="tab-pane" >
											<table class="table table-stripped">
												<thead>
                                                    <tr>
	                                                    <th>Name</th>
	                                                    <th>Email</th>
	                                                    <th>Stripe Account Id</th>
	                                                    <th>Terms and Condition</th>
	                                                    <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	<apex:repeat value="{!existingDevelopers}" var="existing">
                                                		<tr>
                                                			<th>
                                                				<apex:outputLink value="/{!existing.Contact__c}" target="_blank">
                                                					{!existing.Contact__r.Name}
                                                				</apex:outputLink>
                                                			</th>
                                                			<th>{!existing.Contact__r.Email}</th>
                                                			<th>{!existing.Stripe_Id__c}</th>
                                                			<th><apex:inputcheckbox value="{!existing.vMarket_Accept_Terms_of_Use__c}" disabled="true"/></th>
                                                			<th>
                                                				<apex:commandLink rendered="{!IsAdmin}" value="Reject" action="{!selectedDeveloper}" onComplete="showModal(approved);"
                                                					rerender="idActionPopupPanel, approvedPan">
		                                                    		<apex:param id="param" assignTo="{!selectedRecId}" value="{!existing.Contact__c}" name="selectedContact"/>
		                                                    		<apex:param id="status" assignTo="{!appStatus}" value="{!$Label.vMarket_Approved_Status}" name="appStatus"/>
		                                                    	</apex:commandLink>
                                                			</th>
                                                		</tr>
                                                	</apex:repeat>
                                                </tbody>
											</table>
										</apex:outputPanel>
										</div>
										
										<!-- Rejected Developers -->
										<div id="rejected" class="tab-pane">
										<apex:outputPanel id="rejectedPan" styleclass="tab-pane" layout="block">
											<table class="table table-stripped">
												<thead>
                                                    <tr>
	                                                    <th>Name</th>
	                                                    <th>Email</th>
	                                                    <th>Stripe Account Id</th>
	                                                    <th>Terms and Condition</th>
	                                                    <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	<apex:repeat value="{!rejectedDevelopers}" var="reject">
                                                		<tr>
                                                			<th>
                                                				<apex:outputLink value="/{!reject.Contact__c}" target="_blank">
                                                					{!reject.Contact__r.Name}
                                                				</apex:outputLink>
                                                			</th>
                                                			<th>{!reject.Contact__r.Email}</th>
                                                			<th>{!reject.Stripe_Id__c}</th>
                                                			<th>
                                                				<apex:inputcheckbox value="{!reject.vMarket_Accept_Terms_of_Use__c}" disabled="true"/>
                                                			</th>
                                                			<th>
                                                				<apex:commandLink rendered="{!IsAdmin}" value="Approve" action="{!selectedDeveloper}" onComplete="showModal(rejected);"
                                                					rerender="idActionPopupPanel,rejectedPan">
		                                                    		<apex:param id="param" assignTo="{!selectedRecId}" value="{!reject.Contact__c}" name="selectedContact"/>
		                                                    		<apex:param id="status" assignTo="{!appStatus}" value="{!$Label.vMarket_Rejected}" name="appStatus"/>
		                                                    	</apex:commandLink>
                                                			</th>
                                                		</tr>
                                                	</apex:repeat>
                                                </tbody>
											</table>
										</apex:outputPanel>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</apex:outputPanel>
				
			</apex:form>
		</div>
	</apex:outputPanel>
	
	<apex:outputPanel rendered="true" id="idActionPopupPanel" styleClass="ReviewUserModalWrapper">
		<div class="modal fade" id="ReviewUserModal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="dialog" id="ReviewUserModal1">
				<apex:form >
				<div class="modal-content">
					<div class="modal-header modalHeader">
						<button aria-label="Close" class="close" data-dismiss="modal"
							id="closeButton" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
						<b style="vertical-align: top;">Name:&nbsp;</b> {!dev.Stripe_User__r.Name}
					</div>
					<div class="modal-body">
						<table class="table">
							<thead>
								<tr>
									<th class="col-md-4">Status</th>
									<th class="col-md-7">Reason for Rejection</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										<!--
										 <apex:selectList value="{!dev.Developer_Request_Status__c}" onchange="changeStatus(this.value)" multiselect="false" size="1">
											<apex:selectOptions value="{!StatusValue}"/>
											<script>
												var status = '{!dev.Developer_Request_Status__c}';
												if(status == '{!$Label.vMarket_Rejected}') {
													jQuery(".RejectionReason").show();
												} else {
													jQuery(".RejectionReason").hide();
												}
											</script>
										</apex:selectList> -->
										<apex:inputField value="{!dev.Developer_Request_Status__c}" />
									</th>
									<th>
										<apex:inputField value="{!dev.Rejection_Reason__c}" style="width:250px;height:70px;" styleClass="RejectionReason"/>
									</th>
								</tr>
							</tbody>
						</table>
						<div class="text-center">
							<apex:commandButton value="Save" action="{!updateDeveloperInfo}" oncomplete="hidePopup(); return false;" status="saveStatus" 
														html-data-dismiss="modal" rerender="idActionPopupPanel, searchResults, mymsg, dataPanel" StyleClass="btn btn-default">
							</apex:commandButton>
							&nbsp;&nbsp;
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
				</apex:form>
			</div>
		</div>
	</apex:outputPanel>
	
	
	<div class="container-fluid bottomFooterWrapperContainer">
        <div class="row">
            <div class="col-md-12 col-sm-12 bottomFooterWrapper">©&nbsp;1999 - 2017 Varian Medical Systems, Inc. All rights reserved.</div>
        </div>
    </div>
	
	<Script>
		var appStatus;
	
		function changeStatus(status) {
            jQuery(".RejectionReason").hide();
            if(status == '{!$Label.vMarket_Rejected}') {
                jQuery(".RejectionReason").show();
            }
        }
        
        function showModal(status) {
        	appStatus = status;
            $(".ReviewUserModalWrapper").appendTo("body");                    
       		$('#ReviewUserModal').modal('show');		       		
       	}
       	
       	function hidePopup() {
       		console.log(' ======== ' + appStatus.value());
       		$('#ReviewUserModal').modal('hide');
       	}
	</Script>
	
</apex:page>