<!-- 
/*************************************************************************\
    @ Author        : Balraj Singh
    @ Date      : 03-Apr-2013
    @ Description   : This page is used to display for creating New Customer Account.
    @ Author        : Amit Kumar
    @ Date      : 23-May-2013
    @ Description   : Add the functionality for login and request new password .
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
    @ Last Modified By  :   Rakesh basani   
    @ Last Modified On  :   17-Dec-2015
    @ Last Modified Reason  :   Updated checkbox label and description.Line-486,487.

****************************************************************************/

-->

<apex:page id="thePage" showHeader="false" controller="VR_CP_Registration" standardStylesheets="false" sidebar="false" >
<style>
.Sidebar-CenterRight
{
position: relative;
float: right;
width: 500px;
}
        .redChar{
            color: #5895BE;
            font-size: 24px;
            padding:5px;
            vertical-align:center;
            text-align: center;
        }
        .blackChar{
            color: black;
            font-weight: bold;
            font-size: 24px;
            padding:5px;
            vertical-align:center;
            text-align: center;
        }
        .container{
            background-color: #E8E8E8;
            border-style: solid;
            border-width:2px;
            width: 150px;
            height: 30px;
            text-align: center;
            vertical-align:center;
            padding-top: 8px;
        }
         .input{
            
            border-style: solid;
            border-width:1px;
            width: 141px;
            height: 20px;
            font-size: 24px;
            padding:5px;
            
        }
    </style>
<style>
    /* This is for the full screen DIV */
    .popupBackground {
        /* Background color */
        background-color:black;
        opacity: 0.20;
        filter: alpha(opacity = 20);
    
        /* Dimensions */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 998;
        position: absolute;
        
        /* Mouse */
        cursor:wait;
    }
    
    /* This is for the message DIV */
    .PopupPanel {
        /* Background color */
        border: solid 2px blue;
        background-color: white;
    
        /* Dimensions */
        left: 50%;
        width: 200px;
        margin-left: -100px;
        top: 50%;
        height: 50px;
        margin-top: -25px;
        z-index: 999;
        position: fixed;
        
        /* Mouse */
        cursor:pointer;
    }
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
     <title>User account | MyVarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- <link rel="shortcut icon" href="/system/files/myvarian4_favicon.ico" type="image/x-icon" /> -->
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/aggregator.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/node.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/poll.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/defaults.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/system-menus.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/user.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/calendar_multiday.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/content-module.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/ckeditor.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/date.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/datepicker.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/filefield.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox_ie.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/dcpartner.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/fieldgroup.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/banners.css')}" rel="stylesheet" type="text/css"/>


<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/drupal.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/javascript.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}"  />
<script src="/soap/ajax/20.0/connection.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
            $(document).ready(function(){
                    if("{!Request}" == "Login")
                    {
                     $(Second).css("background-color", "rgb(255, 255, 255)");
                     $(first).css("background-color", "rgb(221, 221, 221)");
                     $(third).css("background-color", "rgb(221, 221, 221)");
                     $(forth).css("background-color", "rgb(221, 221, 221)");
                    }
                     if("{!Request}" == "Reqnewpass")
                    {
                     $(Second).css("background-color", "rgb(211, 211, 211)");
                     $(first).css("background-color", "rgb(221, 221, 221)");
                     $(third).css("background-color", "rgb(255, 255, 255)");
                     $(forth).css("background-color", "rgb(221, 221, 221)");
                    }
                    if("{!Request}" == "Resetpass")
                    {
                     $(Second).css("background-color", "rgb(211, 211, 211)");
                     $(first).css("background-color", "rgb(221, 221, 221)");
                     $(third).css("background-color", "rgb(221, 221, 221)");
                     $(forth).css("background-color", "rgb(255, 255, 255)");
                    }
                    });

function ValidateEmail(ele,validateExistedUser){
    var ErrorMsg = 'VMS users now access MyVarian via Unity.  If you do not have Unity access, please request access via the VMSNet Unity page using the Unity Account Request option.';
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if(ele.value != '')
    {
       /** if(!filter.test(ele.value)) 
        {
           \\ alert(ErrorMsg);
            return false;
        }else  ***/
         if(filter.test(ele.value)){
             var email= ele.value;
             if (email.search('@varian.com')!= -1) {
                alert(ErrorMsg);
                ele.value='';
                ele.focus();
                return false;
            }
        }
        
        if(validateExistedUser == true){
            startSplash();
            validateDuplicateUser();
        }
    }
    
}

function startSplash() {
    document.getElementById('splashDiv').style.display='block';
}

function endSplash() {           
    document.getElementById('splashDiv').style.display='none';
}

function noenter(ev,elementId)  {
   if (window.event && window.event.keyCode == 13 || ev.which == 13) {
       ValidateEmail(elementId,true);
    }
}

</script>


<script type="text/javascript" language="javascript">
           function PopShows(){
                    
                    $("#dialog").dialog({
                        
                      height:240,
                      width:500,
                      modal: true,
                      title:"  ",
                      close: function() {                         
                        $( this ).dialog( "close" ); 
                        },
                      buttons: {
                       "I do not consent at this time" : function() {
                      t='Donotconsent';
                      getOptinFieldChecked(t);    
                        },
                        "Yes. Please keep me informed": function() {
                        t='yes';
                            getOptinFieldChecked(t);  
                            /* window.open('/apex/CpMonteCarlo','_self');*/
                        }
                       
                      }
                                        
                    });
                    /*
                        t = 'Submit Product Feedback';
                        a = 'http://www.myvarian.com/sites/all/modules/varian/contactvarian/submit_product_feedback.html?height=200&width=500&modal=true';
                        g = '';
                        tb_show(t,a,g);
                   */
                 
            }
            
            function showOldUserPopup(){
                var j$ = jQuery.noConflict();
                var j$modalDialog = j$('<div></div>')
                     .html('The e-mail address entered is already associated with an active MyVarian account. Please enter a different e-mail address or reset your password. Should you have any questions about your MyVarian login, please <a href="/apex/CPContactUs">contact us</a>.')
                     .dialog({
                          autoOpen: false,
                          title: ' ',
                          width: 500,
                          height: 150,
                          modal: true,
                          buttons: {
                            "Close": function() {
                                j$modalDialog.dialog("close");
                                document.getElementById("thePage:innerForm:edit-mail").value = "";
                                document.getElementById("thePage:innerForm:edit-mail").focus();
                            }
                          },
                          close: function(){ 
                            document.getElementById("thePage:innerForm:edit-mail").value = "";
                            document.getElementById("thePage:innerForm:edit-mail").focus();
                          }
                        });
                j$modalDialog.dialog('open');
            }
            
        </script>
        
  </head>
  <body>

    

<div id="wrapper">
 
 <c:CpHeader />
 
    <div id="container">
  
 <c:CpSideMenuWithoutPass />
 
    <!--          <div id="sidebar-left" class="sidebar">
          <div id="block-menu-menu-mainmenu-anonimus" class="block block-menu">
  <h2>Anonimus Main Menu</h2>
 
  <div class="content">
    <ul class="menu"><li class="leaf first"><a href="/" title="">Home</a></li>
<li class="expanded"><a href="/" title="">Event Center</a><ul class="menu"><li class="leaf first"><a href="/events" title="">Events</a></li>
<li class="leaf last"><a href="/webinars" title="">Webinars</a></li>
</ul></li>
<li class="expanded"><a href="/" title="">Training &amp; Education</a><ul class="menu"><li class="leaf first"><a href="http://www.varian.com/dyna/certificate/login.php" title="">Certificate Manager</a></li>
<li class="leaf"><a href="http://www.varian.com/dyna/otrn/onln_crslist.html" title="">Course Listings</a></li>
<li class="leaf"><a href="http://www.variantraining.com/" title="">Learning Center</a></li>
<li class="leaf last"><a href="/peertopeer" title="">Peer-to-Peer Training</a></li>
</ul></li>
<li class="expanded last"><a href="/" title="">Installation &amp; Support</a><ul class="menu"><li class="leaf first"><a href="http://www.varian.com/us/oncology/services_and_support/architectural_planning/" title="">Architectural Planning</a></li>
<li class="leaf"><a href="http://www.varian.com/hardwarespecs" title="">Hardware Specifications</a></li>
<li class="leaf last"><a href="http://www.varian.com/us/oncology/services_and_support/resources/" title="">Services &amp; Support</a></li>
</ul></li>
</ul>  </div>
</div>
        </div>-->
          
      <div id="center" class="CenterNoRightSide user">
        
                
                
                    
                        <div id="sidebar-right" class="sidebar sidebarRight">
              <div id="block-block-26" class="block block-block">
 
  <div class="content">
    <p>If you do not see information for all the products in your department, please <a href="/apex/CpContactUs">contact us</a> with the additional product areas needed.</p>
  </div>
</div>
<div id="block-block-44" class="block block-block">
 
  <div class="content">
    <p>To ensure you receive communication from MyVarian, please add <a href="mailto:MyVarian@varian.com">MyVarian@varian.com</a> to your e-mail Contacts list.</p>
  </div>
</div>
            </div>
            
          <div id="tabs-wrapper" class="clear-block">          <h1 class="Useraccount">User account</h1>


         
            <div class="centerTwoCol">  
             
              <ul class="tabs primary" >

<li class="active"  ><a href='/apex/VR_Registration_PG' id="first" >Create new account</a> </li>
<li class="" ><a href='/apex/VR_Registration_PG?Request=Login'  id="Second"  >Log in</a></li>
<li class="" ><a href='/apex/VR_Registration_PG?Request=Reqnewpass' id="third">Request new password</a></li>
<!-- <li class="" ><a href='/apex/VR_Registration_PG?Request=Resetpass' id="forth">Reset password</a></li> -->
</ul>
</div>          

<div>
<apex:outputPanel style="display:{!login}"> <h2>Registration Instructions</h2>
<p>Complete the form below with information about your <strong>institution</strong> and click the "Create New Account" button. You will be granted access to product information for products that are present at or have been purchased by your institution/clinic. </p> 
<p><strong>Due to the high volume of registrations, it may take up to two (2) working days (from the time you registered) to activate your account.</strong></p>
</apex:outputPanel>

<!-- apex:actionStatus id="splashStatus" stopText="">
    <apex:facet name="start">
        <div>
            <div class="popupBackground" />
            <div class="PopupPanel">
                <table border="0" width="100%" height="100%">
                    <tr>
                        <td align="center"><b>Please Wait</b></td>
                    </tr>
                    <tr>
                        <td align="center"><img src="{!$Resource.ProgressBar}"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </apex:facet>
</apex:actionStatus> -->
    <div id="splashDiv" style="display:none;">
       <div class="popupBackground" />
       <div class="PopupPanel">
           <table border="0" width="100%" height="100%">
               <tr>
                   <td align="center"><b>Please Wait</b></td>
               </tr>
               <tr>
                   <td align="center"><img src="{!$Resource.ProgressBar}"/></td>
               </tr>
           </table>
       </div>
   </div>
<apex:form id="innerForm" >
<apex:inputHidden value="{!isUserExists}" id="existedUser"/>
    <script>
        endSplash();
        var oldUser = '{!isUserExists}';
        if(oldUser == true || oldUser == 'true'){
            showOldUserPopup();
        }
    </script>
<apex:actionFunction Name="validateDuplicateUser" action="{!checkUserExistsWithTheGivenEmail}"/>
<apex:actionFunction Name="getOptinFieldChecked" action="{!verify}" rerender="imageblock,result">
<apex:param name="Consentoryes" value=""/></apex:actionFunction>
<apex:actionFunction Name="cust_Info" action="{!verify}" rerender="result"/>
 <apex:actionFunction name="chkLogin" action="{!LogintoOkta}" rerender="imageblock">  
 </apex:actionFunction>
  <apex:actionFunction name="rerenderactionfunction" action="{!rerenderfunction}" rerender="captcha" /> 
<apex:actionFunction Name="extractrecqaction" action="{!verify}" oncomplete="rerenderfunction();return false;" rerender="RecoveryQuestion,theMsg,Loginpanel,edit-submitreset,edit-submitresetSub,msgtst,Valerr,result">
 <apex:param name="Emailidparam" value=""/>
 <apex:param name="Answerparam" value=""/>
 <apex:param name="PasswordParam" value=""/>
 </apex:actionFunction>
 <apex:actionFunction name="actionResetpass" action="{!Resetpass}" rerender="theMsg">
    <apex:param name="PWDConfirm" value=""/>
    <apex:param name="ConfirmPWD" value=""/>
    <apex:param name="OLDPWD" value=""/>
    </apex:actionFunction>
<div id="diverr" style="display:none" class="messages error"> </div> 

 <div id="success" style="display:{!if(msg == 'true' && Request == 'Login','Block','none')};width=70%" class="messages status">Your password has been successfully reset. You can now login.</div>
<apex:actionFunction Name="custresetpass_Info" action="{!verify}" rerender="theMsg"/>   
<fieldset style="display:{!login};width:700px">
<legend>Account information</legend><input type="hidden" name="name" id="edit-name" value="wevDNbb8qu"  />
<div class="form-item" id="edit-mail-wrapper">
 <!--<label for="edit-mail">E-mail: <span class="form-required" title="This field is required.">*</span>&nbsp;(please use your institution e-mail address)</label> -->
 <label for="edit-mail">E-mail&nbsp;(please use your institution e-mail address):<span class="form-required" title="This field is required."> *</span></label>
 <apex:inputText maxlength="64" value="{!CustEmail}" onkeypress="noenter(event,this);" onblur="ValidateEmail(this,true);" size="60" id="edit-mail" styleClass="form-text required"/>
  <!--<input type="text" maxlength="64" name="mail" id="edit-mail" size="60" value="" class="form-text required" /> -->
 
 <div class="description">All e-mails from MyVarian will be sent to this address. The e-mail address is not made public and will only be used as a form of communication between you and Varian Medical Systems.</div>
</div>
</fieldset>
<!-- <input type="hidden" name="form_build_id" id="form-62c7d3f5d1d3d51f59eeb6a70de47b3f" value="form-62c7d3f5d1d3d51f59eeb6a70de47b3f"  />
<input type="hidden" name="form_id" id="edit-user-register" value="user_register"  /> -->
<!-- Div for the reset pass word -->
<div style="display:{!If(Request == 'Resetpass','block','none')}">
<!--<ul id="list">
<!-- <fieldset id="myfdset4"> -->
    <!-- <div class="form-item"><label>Old Password:<span class="form-required" title="This field is required.">*</span></label>
        <input type="password" id="edit-profile-oldPassword" Class="form-text required" value="{!oldpass}" />
        
     </div>
     <div class="form-item"><label>New Password:<span class="form-required" title="This field is required.">*</span></label>
         <div id="newpass" style="display:none;color:Red">Please enter password.</div>
        <input type="password" id="edit-profile-Password" Class="form-text required" value="{!Newpass}" onchange="verifypasswrd(); return false;"/>
        <div>Password should be 1 character Caps On,1 character Chaps Off and 1 Number</div>
     </div>
     <div class="form-item"><label>Confirm Password:<span class="form-required" title="This field is required.">*</span></label>
        <input type="password" id="edit-profile-ConfirmPass" Class="form-text required" value="{!ConfirmPass}" onchange="confirmpass(); return false;"/>
        <div>To change the current user Password.Please enter new password.</div>
        <div id="confirmpass" style="display:none;color:Red">Please enter Correct password in confirm password</div>
     </div>
     <apex:commandButton id="edit-submit" value="Submit" onclick="passvaluechk(); return false;"   styleClass="form-submit" /> -->
<!-- </fieldset> -->
<!-- </ul> -->
</div>
<!-- End of the div block -->

<fieldset style="display:{!login};width:700px">
<legend>Personal Information</legend>

<div class="form-item" id="edit-profile-Salutation-wrapper">
    <label for="edit-profile-Salutation">Salutation: </label>
    <apex:selectList id="edit-profile-Salutation" value="{!ContactSalutation}" size="1">
        <apex:selectOptions value="{!Salutation}"></apex:selectOptions>               
    </apex:selectList>
</div>

<div class="form-item" id="edit-profile-firstname-wrapper">
 <label for="edit-profile-firstname">First Name: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="255" value="{!CustFname}" size="60" id="edit-profile-firstname" styleClass="form-text required"/> 
 <!-- <input type="text" maxlength="255" name="profile_firstname" id="edit-profile-firstname" size="60" value="" class="form-text required" /> -->
</div>
<div class="form-item" id="edit-profile-lastname-wrapper">
 <label for="edit-profile-lastname">Last Name: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="255" value="{!CustLname}" size="60" id="edit-profile-lastname" styleClass="form-text required"/> 
 <!-- <input type="text" maxlength="255" name="profile_lastname" id="edit-profile-lastname" size="60" value="" class="form-text required" /> -->
</div>

<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">Title: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="255" value="{!CustTitle}" size="60" id="edit-profile-title" styleClass="form-text required"/> 
 <!--  <input type="text" maxlength="255" name="profile_title" id="edit-profile-title" size="60" value="" class="form-text required" />-->
</div>
 <div class="form-item" id="edit-profile-Role-wrapper">
 <label for="edit-profile-Role">Professional Role: <span class="form-required" title="This field is required.">*</span></label>
        <apex:selectList styleclass="form-select required" id="edit-profile-Role" value="{!ContactRole}" size="1" onchange="changeContactRole(); return false;">
            <apex:selectOptions value="{!Roles}"></apex:selectOptions>               
        </apex:selectList>
</div>
<div class="form-item" id="edit-profile-Specialty-wrapper">
 <label for="edit-profile-Specialty">Specialty: <span class="form-required" title="This field is required.">*</span></label>
        <apex:selectList styleclass="form-select required" id="edit-profile-Specialty" value="{!ContactSpecialty}" size="1">
            <apex:selectOptions value="{!Specialty}"></apex:selectOptions>               
        </apex:selectList>
</div>

<div class="form-item" id="edit-profile-Preferred-Language-wrapper">
    <label for="edit-profile-Preferred-Language">Preferred Language: <span class="form-required" title="This field is required.">*</span></label>
    <apex:selectList styleclass="form-select required" id="edit-profile-Preferred-Language" value="{!ContactPreferredLanguage}" size="1">
        <apex:selectOptions value="{!PreferredLanguage}"></apex:selectOptions>               
    </apex:selectList>
</div>

 <apex:actionFunction name="changeContactRole" action="{!checkLMSTabVisibility}" rerender="jspanel">
<apex:param name="ContactRole" value="{!ContactRole}"/>
</apex:actionFunction>
 <div class="form-item" id="edit-profile-Research-wrapper">
 <label for="edit-profile-Research"><apex:inputCheckbox value="{!ResearchCheck}"  id="edit-profile-Research" styleClass="form-text required"/>&nbsp;I do research at my institution</label>
     
</div>
<apex:outputpanel id="jspanel">
<div class="form-item" id="edit-profile-Research-wrapper">
 <label for="edit-profile-Research"><apex:inputCheckbox disabled="{!disableCheck}"  value="{!checkLMSTab}" id="ContactRole" styleClass="form-text required"/>&nbsp;Request Learning Management System account</label>
     <div class="description">Select if you plan to attend a Varian classroom or online course within the next 6 months.</div>
</div>
</apex:outputpanel>


 <!--<apex:outputpanel rendered="{!checkLMSTabVisibility}">
                              <li id="lmsacct" ><a  id="lmsacct1" href="javascript:void(0)" onclick="RequestLMSaccount()">LMS Account</a></li>
                           </apex:outputpanel>-->
<!--<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">Account Id: </label>
<apex:inputText maxlength="255"  onchange="InstitutionInfo(); return false;" id="edit-Account_Id" size="60" styleClass="form-text required" />
<!--<input type="text" maxlength="255" name="profile_Account_Id"  id="edit-Account_Id" size="60" class="form-text required" />--><!--</div> -->
<apex:outputPanel id="thePanel">
<div class="form-item" id="edit-profile-institution-wrapper">
 <label for="edit-profile-institution">Institution (Full hospital name, no abbreviations): <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="255" name="profile_institution" id="edit-profile-institution" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="255" size="60" value="{!AcctName}" id="edit-profile-institution" styleClass="form-text required"/> 
</div>
<div class="form-item" id="edit-profile-address-wrapper">
 <label for="edit-profile-address">Institution Address (do not use your home address): <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="255" name="profile_address" id="edit-profile-address" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="255" size="60" value="{!AcctStreet}" id="edit-profile-address" styleClass="form-text required"/> 
</div>
<div class="form-item" id="edit-profile-city-wrapper">
 <label for="edit-profile-city">Institution City: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="255" name="profile_city" id="edit-profile-city" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="255" size="60" value="{!AcctCity}" id="edit-profile-city" styleClass="form-text required"/> 
</div>
<div class="form-item" id="edit-profile-state-wrapper">
 <label for="edit-profile-state">Institution State: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="255" name="profile_state" id="edit-profile-state" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="255" size="60" value="{!AcctState}" id="edit-profile-state" styleClass="form-text required"/> 
 <div class="description">Enter 'NA' if not applicable.</div>
</div>

 <div class="form-item" id="edit-profile-country-wrapper">
 <label for="edit-profile-country">Institution Country: <span class="form-required" title="This field is required.">*</span></label>
        <apex:selectList styleclass="form-select required" id="edit-profile-country" value="{!AcctCountry}" size="1">
            <apex:selectOptions value="{!options}"></apex:selectOptions>               
        </apex:selectList>
</div>


<div class="form-item" id="edit-profile-zip-wrapper">
 <label for="edit-profile-zip">Institution ZIP/Postal Code: <span class="form-required" title="This field is required.">*</span></label>
 <!-- <input type="text" maxlength="255" name="profile_zip" id="edit-profile-zip" size="60" value="" class="form-text required" /> -->
 <apex:inputText maxlength="255" size="60" id="edit-profile-zip" value="{!AcctZip}" styleClass="form-text required"/> 
</div>

</apex:outputPanel>

<apex:outputPanel style="display:{!login}">  
<div class="form-item" id="edit-profile-phone-wrapper">
 <label for="edit-profile-phone">Telephone: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="255" size="60" id="edit-profile-phone" value="{!CustPhone}" styleClass="form-text required"/> 
 <!-- <input type="text" maxlength="255" name="profile_phone" id="edit-profile-phone" size="60" value="" class="form-text required" /> -->
</div>
<div class="form-item" id="edit-profile-fax-wrapper">
 <label for="edit-profile-fax">Fax: </label>
 <apex:inputText maxlength="255" size="60" id="edit-profile-fax" value="{!CustFax}" styleClass="form-text"/> 
 <!-- <input type="text" maxlength="255" name="profile_fax" id="edit-profile-fax" size="60" value="" class="form-text" /> -->
</div>
<div class="form-item" id="edit-profile-dep-mamager-wrapper">
 <label for="edit-profile-dep-mamager">Manager: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="255" size="60" id="edit-profile-dep-mamager" value="{!CustMngr}" styleClass="form-text required"/> 
<!--  <input type="text" maxlength="255" name="profile_dep_mamager" id="edit-profile-dep-mamager" size="60" value="" class="form-text required" /> -->
 <div class="description">Your immediate manager's name is necessary to confirm employment.</div>
</div>

<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">Manager E-Mail: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="55" value="{!CustMngrEml}" onblur="checkEmail(this); return false;" size="60" id="edit-Manager_EId" styleClass="form-text required"/> 
</div>
<!--
<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">Recovery Question: <span class="form-required" title="This field is required.">*</span></label>
  <apex:selectList styleclass="form-select required" id="edit-RecoveryQ" value="{!CustRecovryQ}" size="1">
            <apex:selectOptions value="{!recoveryqusoptions}"></apex:selectOptions>               
        </apex:selectList>
 <!-- <apex:inputText maxlength="55" value="{!CustRecovryQ}"  size="60" id="edit-RecoveryQ" styleClass="form-text required"/> -->
<!-- </div>
<div class="form-item" id="edit-profile-title-wrapper">
 <label for="edit-profile-title">Recovery Answer: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="55" value="{!CustRecoveryAns}" size="60" id="edit-RecovryAns" styleClass="form-text required"/> 
</div> -->
</apex:outputPanel></fieldset>

<apex:outputPanel style="height:10px;" id="theMsg">  
   <font color="red"> <apex:messages styleClass="errorMsg" id="Msg"  /> </font>    
</apex:outputPanel>
<apex:outputPanel id="Loginpanel"> 
<input type="hidden" name="rerenderfield" id="rerenderfieldid" value="{!captchavariable}"  />
<div style="display:{!logindone}"><div class="form-item" id="edit-name-wrapper">
 <label for="edit-name">E-mail: <span class="form-required" title="This field is required.">*</span></label>
 <apex:inputText maxlength="64" onblur="ValidateEmail(this,false);" id="edit-emailvalue" size="60" value="{!username}" styleClass="form-text required" /> <div class="description">Enter your e-mail address.</div>
</div>
<div class="form-item" id="edit-pass-wrapper">
 <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
  <apex:inputSecret id="edit-pass" value="{!password}" styleClass="form-text required" maxlength="128"  size="60" /> 
<div class="description">Enter the password that accompanies your e-mail.</div></div>
<!-- Remember me checkbox commented -->
<!-- <div class="form-item" id="edit-persistent-login-wrapper">
 <label class="option" for="edit-persistent-login"><input type="checkbox" name="persistent_login" id="edit-persistent-login" value="1"   class="form-checkbox" /> Remember me</label>
</div> -->
<input type="hidden" name="form_build_id" id="form-aa71e9e91818e9110a5b6dd8988e25da" value="form-aa71e9e91818e9110a5b6dd8988e25da"  />
<input type="hidden" name="form_id" id="edit-user-login" value="user_login"  />
<input type="image" name="" value="Title"
                                    onclick="mylgn(); return false;" id="login_button1"
                                    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/login_btn.png')}" />
<!-- <apex:commandButton id="edit-submit3" value="Log in" onclick="mylgn(); return false;" styleClass="form-submit" /> -->
</div>
</apex:outputPanel>
<apex:outputPanel id="Valerr">
<div style="display:{!ValidationError};color:Red">The new password must be different than the current password. Please try again.</div>
<div id="msgtst" style="display:{!errorreset};color:Red">The answer to the recovery question does not match our records. Please try again.</div> 
</apex:outputPanel>
<apex:outputPanel style="display:{!LoginShow }" id="resetfrm"> 
  
  
     <div><div class="form-item" id="edit-naming-wrapper">
 <label for="edit-name">E-mail: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="64" onblur="ValidateEmail(this,false);" id="edit-emailreset" size="60" value="{!Email}" styleClass="form-text required" /> <!--onchange="findrecvry();return false;"/> -->
 <div class="description">Enter your e-mail address.</div>
</div>
<div class="form-item" id="edit-naming-wrapper">
 <label for="edit-name">Last Name: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="64"  id="edit-Lastnamereset" size="60" value="{!Email}" styleClass="form-text required"/><!-- onchange="findrecvry();return false;"/> -->
</div> 
<apex:outputPanel id="RecoveryQuestion" >
<!--<div id="msgtst" style="display:{!errorreset};color:Red">The answer to the recovery question does not match our records. Please try again.</div> -->
<div class="form-item" id="edit-naming-wrapper" style="display:{!If(RecvryQs == null,'none','block')}">
 <label for="edit-name">Recovery Question: <span class="form-required" title="This field is required.">*</span></label>
 <apex:OutputText id="edit-recovryreset" value="{!RecvryQs}" styleClass="form-text required" /> 
</div>
<div class="form-item" id="edit-naming-wrapper" style="display:{!If(RecvryQs == null,'none','block')}">
 <label for="edit-name">Recovery Answer: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="64"  id="edit-answerreset" size="60" styleClass="form-text required" /> 
</div>
<div class="form-item" style="display:{!If(RecvryQs == null,'none','block')}"><label>New Password:<span class="form-required" title="This field is required.">*</span></label>
         <div id="newpass" style="display:none;color:Red">Please enter password.</div>
        <input type="password" id="edit-profile-Password" Class="form-text required" value="{!Newpass}" onchange="verifypasswrd(); return false;"/>
        <div>Password should contain one upper case letter, one lower case letter and one number.</div>
     </div>
     <div class="form-item" style="display:{!If(RecvryQs == null,'none','block')}"><label>Confirm Password:<span class="form-required" title="This field is required.">*</span></label>
        <input type="password" id="edit-profile-ConfirmPass" Class="form-text required" value="{!ConfirmPass}" onchange="confirmpass(); return false;"/>
        <!-- <div>To change the current user Password.Please enter new password.</div> -->
        <div id="confirmpass" style="display:none;color:Red">Please enter Correct password in confirm password</div>
     </div>
</apex:outputPanel>
<!-- <apex:commandButton id="edit-submitreset" value="Request New Password" onclick="findrecvry();return false;"   styleClass="form-submit" /> -->

<input type="hidden" name="form_build_id" id="form-62569e57cb8ac618af6dc2aa1f7c89da" value="form-62569e57cb8ac618af6dc2aa1f7c89da"  />
<input type="hidden" name="form_id" id="edit-user-pass" value="user_pass"  />
 
</div>


</apex:outputPanel>

 <apex:outputPanel style="display:{!dialoguenotvisible}">
  <div id="dialog" title="My Dialog Title">

<p align="center">&nbsp; On July 1, 2014, Canada’s new anti-spam legislation (CASL)<br></br> came into effect,
 which requires Varian to obtain your consent<br></br>before sending you e-mail communications.<br></br><br></br>
 Please let us know if you’d like to continue receiving product<br></br>updates and event, webinar, and other relevant<br></br>announcements.
 </p>
</div> </apex:outputPanel>
<apex:outputPanel id="result">
      <font color="red">  {!result}</font>
   
   <div class="messages error" style="display:{!IF(msage== 'true','block','none')};">
    Captcha Code Error.
    </div>

  <apex:outputPanel rendered="{!IF(captchavariable == 'block',true,false)}">
<fieldset class="captcha" style="width:700px;">
<legend>CAPTCHA</legend><!--<div class="description">This question is for testing whether you are a human visitor and to prevent automated spam submissions.</div>--><br></br>
<font size="3"><div>Please enter <b>black</b> characters only.</div></font><br></br><div style="display:inline-block;Vertical-align:bottom !important;padding:15px !important" class="Sidebar-CenterRight"><apex:commandButton value="Reset" rerender="code" styleClass="form-submit" /></div>
 <apex:outputPanel styleClass="container" layout="block" id="code">
        <apex:outputText value="{!char1}" styleClass="blackChar"/>
        <apex:outputText value="{!char2}" styleClass="redChar"/>
        <apex:outputText value="{!char3}" styleClass="blackChar"/>
        <apex:outputText value="{!char4}" styleClass="redChar"/> 
        <apex:outputText value="{!char5}" styleClass="blackChar"/>
        <apex:outputText value="{!char6}" styleClass="redChar"/> 
    </apex:outputPanel>
    <apex:inputText value="{!input}" styleClass="input" />
   </fieldset>
    </apex:outputPanel>


 </apex:outputPanel>

<apex:commandButton id="edit-submitcreat" value="Create new account" onclick="getcust_Info(); return false;"   styleClass="form-submit"  style="display:{!Login}"  />

<!-- For okta functionality -->
<apex:outputPanel id="imageblock">
<!-- <img src="{!cookieTokenUrl}" style="display:none"/> -->

<script>
    //alert("{!ready}");
    if("{!ready}" == "true"){
        setTimeout(function(){window.open('{!$Label.oktacploginurl}','_self');},2000);
    }
    if("{!corrlog}" == "true"){
        setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg=true','_self');},2000);
         }  
              if("{!IsPassExist}" == "true"){ 
    setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg=false','_self');},2000);
    } 
      if("{!corrlog1}" == "true"){
      setTimeout(function(){window.open('{!$Label.Cp_Site}?dspMsg1=true','_self');},2000);
        }
</script>

</apex:outputPanel>

<!--<a href="javascript:void(0)" onclick="getcust_Info()" style="text-decoration:none !important;" class="form-submit">Save</a>-->
</apex:form> 

<!-- <input type="submit" name="op" id="edit-submit" value="Create new account"  class="form-submit" /> -->
<apex:form id="outerForm">

<apex:inputhidden value="{!AcctId}" id="edit-Account_Id_hdn" />
<apex:inputhidden value="{!AcctCountry}" id="edit-Account_Cntry_hdn" />
<apex:actionFunction Name="Institution_Info" action="{!AcctInfo}" rerender="thePanel,theMsg" />  
  

<!-- <apex:commandButton id="edit-submit2" value="E-mail new password" onclick="getcustrestpass_Info(); return false;"  styleClass="form-submit"  style="display:{!LoginShow }" /> -->
<!--<apex:commandButton id="edit-submit2" value="E-mail new password" onclick="getcustrestpass_Info(); return false;" styleClass="form-submit"  style="display:{!LoginShow }" />-->
<apex:commandButton id="edit-submitreset" value="Request New Password" onclick="findrecvry();return false;"   styleClass="form-submit" style="display:{!If(RecvryQs == null,'none','block')}"/>
<apex:commandButton id="edit-submitresetSub" value="Submit" onclick="findrecvry();return false;"   styleClass="form-submit" style="display:{!IsVisible}"/>
</apex:form>


</div>


              <span class="clear"></span>
            </div>
    
          
      </div> <!--  /#center -->
           
      
 
    </div> <!-- /container -->
   <!-- footer -->
        <!--<div id="myFooter">
            <div class="copyright">
        &copy; 1999-2013 Varian Medical Systems, Inc. All rights reserved. <a href="http://www.varian.com/us/corporate/legal/privacy_statement.html" target="_blank" onclick="javascript: pageTracker._trackPageview('/linkaway/PrivacyStatement');">Privacy Statement</a><br />
Production of any of the material contained herein in any format or media without the express written permission of Varian Medical Systems is prohibited.
            </div>
        </div>-->
  <!-- /footer -->
  <c:CpFooter />
  </div>
<!-- /layout -->
<script type="text/javascript">
/*function getOptinFieldChecked()
 {  
      OptinSubmit();  
        

    }
    
 } */
 </script>

 <script type="text/javascript">
 function rerenderfunction()
 {
   var emailid = document.getElementById('rerenderfieldid').value;
   //alert(emailid);
   if( emailid == "none")
   {
    rerenderactionfunction();
   }else{
        Recaptcha.reload();
   }
   return false;
 }
 
 function findrecvry()
 {
   var emailid = document.getElementById('edit-emailreset').value;
   var Lastname = document.getElementById('edit-Lastnamereset').value;
   var Answere = document.getElementById('edit-answerreset').value;
   var NewPass = document.getElementById('edit-profile-Password').value;
   //alert(Lastname);
   //alert(emailid);
   //alert(Answere);
   var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    
   if(emailid != '' && Lastname != '')
   {
     if (!filter.test(emailid)) 
     {
       alert('Please provide a valid Email address');
       return false;
     }else {
     if(Answere != '')
     {
     if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
      {
        document.getElementById('confirmpass').style.display = 'block';
        return false;
      }else{
     var Exp = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
      var pwd = document.getElementById('edit-profile-Password').value;
      //alert(pwd);
     if(!Exp.test(pwd) || pwd.length < 8)
     {
      alert('Password must contain at least one uppercase letter, one lowercase letter, one number,and 8 characters.');
      return false;
      }else{
      extractrecqaction(emailid,Answere,NewPass);
       }
      }
     }
     else
     {
      extractrecqaction(emailid,'@','');
     }
    }
   }
   else {
      alert('Please enter Email and last name');
      return false;
   }
 }
 
 function confirmpass()
{
  //alert('{!Newpass}+++{!Confirmpass}');
  //alert(document.getElementById('edit-profile-Password').value);
  if(document.getElementById('edit-profile-Password').value  != document.getElementById('edit-profile-ConfirmPass').value)
  {
    document.getElementById('confirmpass').style.display = 'block';
  }else{
    if(document.getElementById('confirmpass') != null)
    {
     document.getElementById('confirmpass').style.display = 'none';
    }
  }
}
 function verifypasswrd()
{
  var Exp = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
  var pwd = document.getElementById('edit-profile-Password').value;
  //alert(pwd);
 if(!Exp.test(pwd) || pwd.length < 8)
 {
  alert('Password should contain one upper case letter, one lower case letter and one number.');
  return false;
  }
}
function passvaluechk()
{
  var newpwd = document.getElementById('edit-profile-Password').value;
  var confrmpwd = document.getElementById('edit-profile-ConfirmPass').value;
  var oldpwd = document.getElementById('edit-profile-oldPassword').value;
  if(newpwd ==''|| confrmpwd == '')
  {
    document.getElementById('newpass').style.display = 'block';
  }
  else{
     actionResetpass(newpwd,confrmpwd,oldpwd);
  }
}
 
 function newTab()
 {return false;}
 function checkEmail(email) {
    //var email = document.getElementById('thePage:innerForm:edit-mail');
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (!filter.test(email.value)) {
    alert('Please provide a valid Email address');
    email.focus;
    return false;
    }
 }
function getcustrestpass_Info()
 {
 //Alert('hi');

var email = document.getElementById('thePage:innerForm:edit-emailreset').value;
//alert(' --emailvalue---- ' + email);
var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (!filter.test(email)) 
{
alert('Please provide a valid Email address');

  return false;

    }
else
{
//Alert('hi');
    custresetpass_Info();
   return false;

  }
  }
 

function mylgn()
    {  
var email = document.getElementById('thePage:innerForm:edit-emailvalue').value;

if(email == null || email == ''){
    return false;
}

//alert(' --emailvalue---- ' + email);
var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
if(document.getElementById('thePage:innerForm:edit-pass').value.trim() == '' && "{!restPwdReq}" == "false" )
{
alert('Please enter the password');

}

  else if (!filter.test(email)&& "{!restPwdReq}" == "false") 
{
alert('Please provide a valid Email address');

  return false;

    }
else
{      
        document.getElementById('login_button1').disabled = true;
        chkLogin();
       // alert(' ------ ' + userNm + '----- ' + pwd);
        return false;
    }
}

 function getcust_Info()
 {
 
var i = 0;
var errorMessage="";
if(document.getElementById('thePage:innerForm:edit-mail').value  =='')
{

document.getElementById('thePage:innerForm:edit-mail').className= "form-text required error";
errorMessage="<span>" + "Email field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('thePage:innerForm:edit-mail').className= "form-text required";
}

/*
if(document.getElementById('thePage:innerForm:edit-profile-Salutation').value  =='-----')
{

document.getElementById('thePage:innerForm:edit-profile-Salutation').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Salutation field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('thePage:innerForm:edit-profile-Salutation').className= "form-text required";
}
*/

if(document.getElementById('thePage:innerForm:edit-profile-firstname').value  =='')
{

document.getElementById('thePage:innerForm:edit-profile-firstname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "First Name field is required."+"</span><BR/>";
 i = 1;
 
}
else
{
document.getElementById('thePage:innerForm:edit-profile-firstname').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-lastname').value  =='')
{
document.getElementById('thePage:innerForm:edit-profile-lastname').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Last Name field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-lastname').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-title').value  =='')
{
document.getElementById('thePage:innerForm:edit-profile-title').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Title field is required."+"</span><BR/>";
i=1;
}
else
{ 
document.getElementById('thePage:innerForm:edit-profile-title').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-Role').value  =='-----')
{
document.getElementById('thePage:innerForm:edit-profile-Role').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Role field is required."+"</span><BR/>";
i=1;
}
else
{ 
document.getElementById('thePage:innerForm:edit-profile-Role').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-Specialty').value  =='-----')
{
document.getElementById('thePage:innerForm:edit-profile-Specialty').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Specialty field is required."+"</span><BR/>";
i=1;
}
else
{ 
document.getElementById('thePage:innerForm:edit-profile-Specialty').className= "form-text required";
}

if(document.getElementById('thePage:innerForm:edit-profile-Preferred-Language').value  =='-----')
{
    document.getElementById('thePage:innerForm:edit-profile-Preferred-Language').className= "form-text required error";
    errorMessage=errorMessage+"<span>" + "Preferred Language field is required."+"</span><BR/>";
    i = 1;
}
else
{
    document.getElementById('thePage:innerForm:edit-profile-Preferred-Language').className= "form-text required";
}

if(document.getElementById('thePage:innerForm:edit-profile-institution').value  =='')
{
document.getElementById('thePage:innerForm:edit-profile-institution').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution (Full hospital name, no abbreviations) field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-institution').className= "form-text required";
}

if(document.getElementById('thePage:innerForm:edit-profile-address').value  =='')
{
document.getElementById('thePage:innerForm:edit-profile-address').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution Address (do not use your home address) field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-address').className= "form-text required";
}

if(document.getElementById('thePage:innerForm:edit-profile-city').value  =='')
{
document.getElementById('thePage:innerForm:edit-profile-city').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution City field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-city').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-state').value  =='')
{

document.getElementById('thePage:innerForm:edit-profile-state').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution State field is required."+"</span><BR/>";
i=1;

}else
{
document.getElementById('thePage:innerForm:edit-profile-state').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-country').value  =='-----')
{

document.getElementById('thePage:innerForm:edit-profile-country').className= "form-select required error";
errorMessage=errorMessage+"<span>" + "Institution country field is required."+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-country').className= "form-select required";
}


if(document.getElementById('thePage:innerForm:edit-profile-zip').value  =='')
{

document.getElementById('thePage:innerForm:edit-profile-zip').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Institution ZIP/Postal Code field is required."+"</span><BR/>";
i=1;

}else
{
document.getElementById('thePage:innerForm:edit-profile-zip').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-profile-phone').value  =='')
{

document.getElementById('thePage:innerForm:edit-profile-phone').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Telephone field is required"+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-phone').className= "form-text required";
}

if(document.getElementById('thePage:innerForm:edit-profile-dep-mamager').value  =='')
{

document.getElementById('thePage:innerForm:edit-profile-dep-mamager').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Manager field is required"+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-profile-dep-mamager').className= "form-text required";
}
if(document.getElementById('thePage:innerForm:edit-Manager_EId').value  =='')
{

document.getElementById('thePage:innerForm:edit-Manager_EId').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Manager field is required"+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-Manager_EId').className= "form-text required";
}
/*
if(document.getElementById('thePage:innerForm:edit-RecoveryQ').value  =='')
{

document.getElementById('thePage:innerForm:edit-RecoveryQ').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Recovery Question field is required"+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-RecoveryQ').className= "form-text required";
}

if(document.getElementById('thePage:innerForm:edit-RecovryAns').value  =='')
{

document.getElementById('thePage:innerForm:edit-RecovryAns').className= "form-text required error";
errorMessage=errorMessage+"<span>" + "Recovery Answer field is required"+"</span><BR/>";
i=1;

}
else
{
document.getElementById('thePage:innerForm:edit-RecovryAns').className= "form-text required";
}
*/
if(i ==0)
{ document.getElementById('diverr').style.display='none';
if(document.getElementById('thePage:innerForm:edit-profile-country').value  =='Canada')
{
PopShows();
}
else
{
cust_Info();
}
//alert('Your request has been send successfully to myvarian admin for Personal Information updation');
 
}
else if(i == 1)
{
document.getElementById('diverr').style.display='block';

document.getElementById('diverr').innerHTML =errorMessage;

}
  //  if(document.getElementById('thePage:innerForm:edit-profile-firstname').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-lastname').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-title').value.trim() == '' || document.getElementById('thePage:innerForm:edit-Manager_EId').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-institution').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-city').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-state').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-zip').value.trim() == '' || document.getElementById('thePage:innerForm:edit-profile-phone').value.trim() == '')
  //  {
  //      alert('FirstName, LastName, Title, Manage-Email, Institute Name, Institute Address, Institute City, Institute State are required fields');
  //  }
  //  else
 //   {
  //      cust_Info();
 //   }
 //   return false;*/
 }
 
 
 
 function InstitutionInfo()
 {
 //alert('hi');
    //alert(' ----------- Hii ----------- ' + document.getElementById('thePage:outerForm:edit-Account_Id_hdn').value);
    document.getElementById('thePage:outerForm:edit-Account_Id_hdn').value = document.getElementById('thePage:innerForm:edit-Account_Id').value;    
    Institution_Info();    
    return false;
 }
 
 
</script>
</body>
</apex:page>