.THIS .filter{
height: 26px !important;
}
.THIS .recreateCLC{
    border-radius: 17px;
    padding: 2.5px 15px 2.5px 15px;
    color: white;
}
.THIS .prplreq{
	color: black !important;
}
.THIS .Customer-sec table thead th{
	/*font-weight:600; */
}
.THIS .Customer-sec table tbody td:first-child{
    width: 2% !important;
}
.THIS .Customer-sec table thead th:first-child{
    width: 2% !important;
}
.THIS .Customer-sec table tr td:nth-child(2) {
    width: 10% !important;
}
.THIS .Customer-sec table tr th:nth-child(2) {
    width: 10% !important;
}
.THIS .Customer-sec table tr td:nth-child(3) {
    width: 7% !important;
}
.THIS .Customer-sec table tr th:nth-child(3) {
    width: 7% !important;
}
.THIS .Customer-sec table tr td:nth-child(4) {
    width: 11% !important;
}
.THIS .Customer-sec table tr th:nth-child(4) {
    width: 11% !important;
}
.THIS .Customer-sec table tr td:nth-child(5) {
    width: 9% !important; 
}
.THIS .Customer-sec table tr th:nth-child(5) {
    width: 9% !important;
}
.THIS .Customer-sec table tr td:nth-child(6) {
    width: 8% !important;
}
.THIS .Customer-sec table tr th:nth-child(6) {
    width: 8% !important;
}
.THIS .Customer-sec table tr td:nth-child(7) {
    width: 8% !important;
}
.THIS .Customer-sec table tr th:nth-child(7) {
    width: 8% !important;
}
.THIS .Customer-sec table tr td:nth-child(8) {
    width: 10% !important;
}
.THIS .Customer-sec table tr th:nth-child(8) {
    width: 10% !important;
}
.THIS .Customer-sec table tr td:nth-child(9) {
    width: 12% !important;
}
.THIS .Customer-sec table tr th:nth-child(9) {
    width: 12% !important;
}
.THIS .Customer-sec table tr td:nth-child(10) {
    width: 12% !important;
}
.THIS .Customer-sec table tr th:nth-child(10) {
    width: 12% !important;
}
.THIS .Customer-sec table tr td:nth-child(11) {
    width: 10% !important;
}
.THIS .Customer-sec table tr th:nth-child(11) {
    width: 10% !important;
}

.THIS .slds-hide {
   display: none;
}
.THIS .slds-show{
  display: block;
}
.THIS .ppCLC{
    width:100% !important;
}
.THIS .SLC{
    height:27px;width:100px
}
.THIS .SLCFilter{
    height: 25px;
    width: 140px;
}

.THIS.White{
    Background-color:white;
}
.THIS .CreateOrder{
    color: #25a8dd;
    font-weight: 600;
    cursor: pointer;
}
.THIS .Ideadivider{
    height:60px !important;
}
.THIS .Customer-sec table thead th{
    font-size:13px !important;
}
.THIS .Customer-sec table tbody td{
    font-size:13px !important;
}
.THIS .uiOutputDate{
    font-size:13px !important;
}