<apex:component controller="APTS_AutoCompleteComponenetController">

  <!-- JQuery Files -->
  <apex:stylesheet value="{!URLFOR($Resource.JqueryAutocomplete, '/jquery-ui-1.8.18/themes/base/jquery-ui.css')}"/>
  <apex:includeScript value="{!URLFOR($Resource.JqueryAutocomplete, '/jquery-ui-1.8.18/jquery-1.7.1.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.JqueryAutocomplete, '/jquery-ui-1.8.18/ui/jquery-ui.js')}" />

  <!-- Attributes Required For Component -->
  <apex:attribute name="objectname" description="The object name you want to look for." type="String" required="false"/>
  <apex:attribute name="additionalfield" description="Any additional fields you'd like to search and include in the display." type="String" required="false"/>
  <apex:attribute name="profilename" description="To filter on the basis of profile name and include in the display." type="String" required="false"/>
  <apex:attribute name="autocomplete_textbox" description="The ID for the Autocomplete List Textbox." type="String" required="true"/>
  <apex:attribute name="hidden_textbox" description="The ID of the hidden input field" type="String" required="false"/>

   <!-- CSS Style -->
  <style>

  </style>

  <!-- Javascript -->
  <script type="text/javascript">

    var $ = jQuery.noConflict();
    
    $(document).ready(function() 

    {

        var sObjects;

        var queryTerm;
        

        $(esc('{!autocomplete_textbox}')).autocomplete({

            minLength: 1,

            source: function(request, response) {

                        queryTerm = request.term;

                        APTS_AutoCompleteComponenetController.findSObjects(request.term, function(result, event){

                            if(event.type == 'exception') 
                            {
                                  alert(event.message);
                            } else 
                            {
                                 // sObjects = result;
                                 // sObjects = sObjects.replace(/(&quot\;)/g,"\"");
                                 // sObjects = JSON.PARSE(sObjects);
                                 // console.log(sObjects);
                                 // response(sObjects);
                                 var elem = document.createElement('textarea');
                                 elem.innerHTML = unescapeXML(result);
                                 var decoded = elem.value;
                                                                              
                                      
                                      
                                     sObjects = JSON.parse( decoded );
                                    
                                      
                                     response(sObjects);

                            }
                        });
                   },

            focus: function( event, ui ) {

                    $(esc('{!autocomplete_textbox}')).val( ui.item.Name );
                    return false;
                    },

            select: function( event, ui ) {

                        $(esc('{!autocomplete_textbox}')).val( ui.item.Name );
                        $(esc('{!hidden_textbox}')).val(ui.item.EmailId);
                        $(esc('{!autocomplete_textbox}_lkid')).val( ui.item.Id );
                        $(esc('{!autocomplete_textbox}_lkold')).val( ui.item.Name );

                        if (event.keyCode == 13) { 
                            event.preventDefault();
                        }
                        return false;
                    },
         })

         .data( "autocomplete" )._renderItem = function( ul, item ) {
            var entry = item.DisplayText;

            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + entry + "</a>")
                .appendTo( ul );
        };
    });
    

    function esc(myid) 

    {
           return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
    }

  </script>
</apex:component>