<!--***************************************************************************
Created By - NA
Created Date - NA
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
25-Sep-2017 - Rakesh - STSK0012867 - Added case owner (Line 52).
*************************************************************************************-->
<apex:component controller="SR_ComponentClassV1" access="global">

    <apex:attribute name="JP" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
    width:20%;
    position:relative;
    }

    .col2{
    width:80%;      
    position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
        <tr style="text-align:center;" >
        <td colspan="2">
        <tr><td>
        <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
        </td>
        </tr>
        </td>
        </tr>
        <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
        <tr style="text-align:left;">
        <td colspan="2"> 
        <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
        <b><span style="color: #0000FF;font-size:15px;"> Case Number:</span> {!RecCase.CaseNumber}</b>
        <br/><br/><br/>
        お問い合わせいただきましたお客様へ {!RecCase.Contact.Name},   <br/><br/>
        お問い合わせの件で、お客様にメッセージが届いていますので、このメールでお知らせいたします。  <br/><br/>

        </td>
        </tr>
        <tr style="text-align:Left;" >
        <td colspan="2">

        <b><u><span style ="color:#0000FF;">お問い合わせ情報</span></u></b><br/>
        ステータス: {!RecCase.status} <br/>
        製品名: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
        作成日: {!DateToDisplayNA} <br/>
        エージェント: {!RecCase.Owner.Name} <br/><br/>

        <b><u><span style ="color:#0000FF;">ケース内容:</span></u></b><br/>
        {!RecCase.Local_Subject__c} <br/><br/>
        <!--<b><u>Summary:</u></b>-->
        <b><u><span style ="color:#0000FF;">新しいメッセージ:</span></u></b> <br/>
        {!CaseCommentObj.CommentBody }<br/>
        <!-- <apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/> -->
        <!--If you feel case  was closed in error, please <b><a href="{!$Label.portal_redirection_url}"><U>Click Here</u></a></b> to create a new case and reference the original case number.-->
        <br/>
        MyVarian ユーザーのお客様で、このケースについて、ステータスをチェックし内容を更新されるためには、「 View Case」 をクリックいただくか、VMSヘルプデスクへお問い合わせください。 Varian Medical Systemsをお選びいただき、ありがとうございます。

        <br/><br/>  <!--style="text-decoration:none"-->
        <b><span style ="color:#0000FF;">注意:</span></b> 
        お問い合わせをいただきましたサポート依頼に対するトラブル解決するために、私どもはお客様がお使いのシステムにリモートツール（SmartConnect）で対応させていただく場合がございます。本リモートツールは遠隔操作を通じてお客様より的確な情報を入手することができるものです。ツール使用の際は、お客様より許可を頂戴した上で行います。 遠隔操作終了が就業時間外になることがあれば、対応結果の報告書をお送りいたします。
        <div style="text-align:left;">
        </div>
        </td>
        </tr>
    </TABLE>
</apex:component>