<!--***************************************************************************
Created By - NA
Created Date - NA
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
25-Sep-2017 - Rakesh - STSK0012867 - Added case owner (Line 52).
*************************************************************************************-->
<apex:component controller="SR_ComponentClassV1" access="global">

    <apex:attribute name="Chinese" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
    width:20%;
    position:relative;
    }

    .col2{
    width:80%;      
    position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
        <tr style="text-align:center;" >
        <td colspan="2">
        <tr><td>
        <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
        </td>
        </tr>
        </td>
        </tr>
        <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
        <tr style="text-align:left;">
        <td colspan="2"> 
        <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
        <b><span style="color: #0000FF;font-size:15px;"> 服务请求号码:</span> {!RecCase.CaseNumber}</b>
        <br/><br/><br/>
        亲爱的 {!RecCase.Contact.Name},   <br/><br/>
        您收到该邮件，是因为瓦里安公司的代表更新了您的 Case  <br/><br/>

        </td>
        </tr>
        <tr style="text-align:Left;" >
        <td colspan="2">

        <b><u><span style ="color:#0000FF;">服务请求信息：</span></u></b><br/>
        状态: {!RecCase.status} <br/>
        产品：: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
        创建日期: {!DateToDisplayNA} <br/>
        代理人: {!RecCase.Owner.Name}  <br/><br/>

        <b><u><span style ="color:#0000FF;">主题:</span></u></b><br/>
        {!RecCase.Local_Subject__c} <br/><br/>
        <!--<b><u>Summary:</u></b>-->
        <b><u><span style ="color:#0000FF;">最新评论:</span></u></b> <br/>
        {!CaseCommentObj.CommentBody }<br/>
        <!-- <apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/> -->
        <!--If you feel case  was closed in error, please <b><a href="{!$Label.portal_redirection_url}"><U>Click Here</u></a></b> to create a new case and reference the original case number.-->
        <br/>
        如果你有MyVarian的账户，并希望更新或查看您的服务请求的状态，请点击“查看服务请求”。你也可以直接回复该邮件
        <br/><br/>  <!--style="text-decoration:none"-->
        <b><span style ="color:#0000FF;">备注:</span></b> 
        经您允许的情况下， 我们可能会利用远程连接工具“SmartConnect”进入您的系统， 以协助您检修排查和解决故障。在整个远程连接过程中我们愿与您保持沟通。如果远程连接是在您正常工作时间以外完成，我们将会把调查解决此次服务请求所采取的措施摘要发送给您。
        <div style="text-align:left;">
        </div>
        </td>
        </tr>
    </TABLE>
</apex:component>