<!--***************************************************************************
Created By - NA
Created Date - NA
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
25-Sep-2017 - Rakesh - STSK0012867 - Added case owner (Line 52).
*************************************************************************************-->
<apex:component controller="SR_ComponentClassV1" access="global">

    <apex:attribute name="Italian" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
    width:20%;
    position:relative;
    }

    .col2{
    width:80%;      
    position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
        <tr style="text-align:center;" >
        <td colspan="2">
        <tr><td>
        <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
        </td>
        </tr>
        </td>
        </tr>
        <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
        <tr style="text-align:left;">
        <td colspan="2"> 
        <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
        <b><span style="color: #0000FF;font-size:15px;"> Número di caso </span> {!RecCase.CaseNumber}</b>
        <br/><br/><br/>
        Gentile {!RecCase.Contact.Name},   <br/><br/>
        Sta ricevendo questa comunicazione in seguito ad un aggiornamento del suo Caso da parte di un agente del supporto tecnico Varian.   <br/><br/>

        </td>
        </tr>
        <tr style="text-align:Left;" >
        <td colspan="2">

        <b><u><span style ="color:#0000FF;">Informazioni </span></u></b><br/>
        Stato: {!RecCase.status}  <br/>
        Prodotto: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
        Data apertura: {!DateToDisplayNA} <br/>
        Agente: {!RecCase.Owner.Name}  <br/><br/>

        <b><u><span style ="color:#0000FF;">Oggetto:</span></u></b><br/>
        {!RecCase.Local_Subject__c} <br/><br/>
        <!--<b><u>Neuer Kommentar:</u></b>-->
        <b><u><span style ="color:#0000FF;">Nuovo commento:</span></u></b> <br/>
        {!CaseCommentObj.CommentBody }<br/>
        <!-- <apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/> -->
        <!--If you feel case  was closed in error, please <b><a href="{!$Label.portal_redirection_url}"><U>Click Here</u></a></b> to create a new case and reference the original case number.-->
        <br/>
        Qualora avesse un'utenza MyVarian e volesse visualizzare o aggiornare lo stato del suo Caso la preghiamo di cliccare "Visualizza Caso" oppure di rispondere direttamente a questa email.
        La preghiamo di non utilizzare l’indirizzo email della presente per altre comunicazioni.


        <br/><br/>  <!--style="text-decoration:none"-->
        <b><span style ="color:#0000FF;">Nota:</span></b> 
        A seguito Sua autorizzazione Varian potrebbe accedere al Vs sistema da remoto tramite lo strumento "SmartConnect" e aiutarla così nella risoluzione del  problema.
        E’ nostra intenzione in ogni caso rimanere in comunicazione con voi durante questa connessione remota.
        In caso di connessione remota al di fuori dell'orario di lavoro le sarà inviata una email di riepilogo con il dettaglio di quanto verificato e delle azioni compiute per la risoluzione del caso.

        <div style="text-align:left;">
        </div>
        </td>
        </tr>
    </TABLE>
</apex:component>