<!--***************************************************************************
Created By - NA
Created Date - NA
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
25-Sep-2017 - Rakesh - STSK0012867 - Added case owner (Line 52).
*************************************************************************************-->
<apex:component controller="SR_ComponentClassV1" access="global">

    <apex:attribute name="French" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
    width:20%;
    position:relative;
    }

    .col2{
    width:80%;      
    position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
        <tr style="text-align:center;" >
        <td colspan="2">
        <tr><td>
        <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
        </td>
        </tr>
        </td>
        </tr>
        <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
        <tr style="text-align:left;">
        <td colspan="2"> 
        <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
        <b><span style="color: #0000FF;font-size:15px;"> Numéro de ticket:</span> {!RecCase.CaseNumber}</b>
        <br/><br/><br/>
        Bonjour {!RecCase.Contact.Name},   <br/><br/>
        Vous recevez ce courriel, car votre ticket a été mis à jour par un collaborateur VARIAN   <br/><br/>

        </td>
        </tr>
        <tr style="text-align:Left;" >
        <td colspan="2">

        <b><u><span style ="color:#0000FF;">References et Status du Ticket</span></u></b><br/>
        Statut / Etat: {!RecCase.status} <br/>
        Produit: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
        Date de création: {!DateToDisplayNA} <br/>
        Personne en charge de l’affaire: {!RecCase.Owner.Name} <br/><br/>

        <b><u><span style ="color:#0000FF;">Sujet:</span></u></b><br/>
        {!RecCase.Local_Subject__c} <br/><br/>
        <!--<b><u>Summary:</u></b>-->
        <b><u><span style ="color:#0000FF;">Nouveau Commentaire:</span></u></b> <br/>
        {!CaseCommentObj.CommentBody }<br/>
        <!-- <apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/> -->
        <!--If you feel case  was closed in error, please <b><a href="{!$Label.portal_redirection_url}"><U>Click Here</u></a></b> to create a new case and reference the original case number.-->
        <br/>
        Vous pouvez dès à présent suivre son évolution sur le site MyVarian et interagir “Lien pour accéder à votre ticket » Notre support technique pourra à tout moment et avec votre accord, s’appuyer sur l’outil de connexion à distance SmartConnect, pour vous apporter rapidement une solution. Un rapport de fin d’intervention vous sera ensuite envoyé.
        <br/> Si vous souhaitez nous communiquer d’autres éléments, merci de répondre à cet email. Celui –ci contient une clé de réference située au bas de ce message (ref:_00…). Elle vous permet de lier votre email à cette affaire automatiquement.

        <br/><br/>  <!--style="text-decoration:none"-->
        <b><span style ="color:#0000FF;">Note:</span></b> 
        Ce message et toutes les pièces jointes sont établis à l'intention exclusive des destinataires. Les informations qui y figurent sont confidentielles. Si vous n'êtes pas le destinataire de ce message, il vous est interdit de le copier, de le faire suivre, de le divulguer ou d'en utiliser tout ou une partie. Si vous avez reçu ce message par erreur, merci de le supprimer de votre système, ainsi que toutes ses copies, et de n'en garder aucune trace sur quelque support que ce soit. Veuillez également en avertir 
        sa destination, toute diffusion ou toute publication, totale ou partielle, est interdite sauf autorisation expresse. Il est impossible de garantir que les communications par messagerie électronique, arrivent en temps utile, soient sécurisées ou dénuées de toute erreur ou virus. L'expéditeur, Varian Medical Systems ne peut être tenu pour responsable des modifications, erreurs ou omissions qui pourraient en résulter.
        <div style="text-align:left;">
        </div>
        </td>
        </tr>
    </TABLE>
</apex:component>