<!--***************************************************************************
Created By - NA
Created Date - NA
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
25-Sep-2017 - Rakesh - STSK0012867 - Added case owner (Line 52).
*************************************************************************************-->
<apex:component controller="SR_ComponentClassV1" access="global">

    <apex:attribute name="ENGLISH" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
    width:20%;
    position:relative;
    }

    .col2{
    width:80%;      
    position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
        <tr style="text-align:center;" >
        <td colspan="2">
        <tr><td>
        <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
        </td>
        </tr>
        </td>
        </tr>
        <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
        <tr style="text-align:left;">
        <td colspan="2"> 
        <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
        <b><span style="color: #0000FF;font-size:15px;"> Case Number:</span> {!RecCase.CaseNumber}</b>
        <br/><br/><br/>
        Dear {!RecCase.Contact.Name},   <br/><br/>
        You are receiving this email because your case has been updated by a Varian representative.  <br/><br/>

        </td>
        </tr>
        <tr style="text-align:Left;" >
        <td colspan="2">

        <b><u><span style ="color:#0000FF;">Case Information</span></u></b><br/>
        Status: {!RecCase.status} <br/>
        Product: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
        Created Date: {!DateToDisplayNA} <br/>
        Agent: {!RecCase.Owner.Name}  <br/><br/>

        <b><u><span style ="color:#0000FF;">Subject:</span></u></b><br/>
        {!RecCase.Local_Subject__c} <br/><br/>
        <!--<b><u>Summary:</u></b>-->
        <b><u><span style ="color:#0000FF;">New Comment:</span></u></b> <br/>
        {!CaseCommentObj.CommentBody }<br/>
        <!-- <apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/> -->
        <!--If you feel case  was closed in error, please <b><a href="{!$Label.portal_redirection_url}"><U>Click Here</u></a></b> to create a new case and reference the original case number.-->
        <br/>
        If you have a MyVarian account and wish to update or view the status of your case, click <a  href="{!CaseURL}">View Case</a>, or you can also reply directly to this email.
        <br/><br/>  <!--style="text-decoration:none"-->
        <b><span style ="color:#0000FF;">Note:</span></b> 
        With your permission, we may access your system using the remote connect tool “SmartConnect” to help with troubleshooting and resolution. It is our intention to be in communication with you during this remote connection. If there is a time when this remote connection is completed outside of your normal business hours, we will send a summary of actions taken to investigate and resolve the case.
        <div style="text-align:left;">
        </div>
        </td>
        </tr>
    </TABLE>
</apex:component>