<!-- 
/*************************************************************************\
    @ Author        : Narmada Yelavaluri
    @ Date      : 10-May-2013
    @ Description   : This component is used to populate Values in VisualForce Email Template.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :  06-Jun-2013
    @ Last Modified Reason  :  Updated the styling
****************************************************************************/

-->
<apex:component controller="CpweeklyDigestEmailNotification" access="global" language="{!lang}" >
    <!--added by vipul-->
    <apex:attribute assignTo="{!contactid}" name="UsId" description="User Id Passed" type="id"/>
    <apex:attribute name="lang" description="Contact Pref Lang" type="String"/> 
    <!-- added by vipul-->   
    <html>
        <head>
            <style>
                .headerstyle{
                    font-family: Arial,Helvetica,sans-serif;
                    text-align:left;                   
                    font-size: 12px;
                
                }
                
                body {                                                                                                        width:720px;

                    .views-table table td, table th {
                                    padding: 0.5em;
                    }
                    
                    .views-table table th {
                                    border-bottom-color: #CCCCCC;
                                    border-bottom-style: solid;
                                    border-bottom-width: 3px;
                                    text-align: left;
                    }
                    .views-table table .odd {
                                    background-color: #D6EBF5;
                    }
                    .views-table table tr {
                                    border-bottom-color: #8EC7E3;
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                    }
                    .views-field-field-date-value {
                                    white-space:nowrap;
                    }
            </style>
        </head>

    <!-- <apex:outputLabel value="helloo  {!contactid}"></apex:outputLabel> -->
    <apex:dataTable value="{!CpweeklyDigest}" var="documents">
    
      <table class='views-table'>
        
        <thead>
            <tr>
                 <th>
                 <apex:column headerValue="{!$Label.MV_Title}" headerClass="headerstyle" width="50%" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;text-align:left" rendered="{!if(iscustomer == '',true,false)}">
                    <a href="{!$Label.CpWeeklyDigestDocurl}/sfc/servlet.shepherd/version/download/{!documents.id}?operationContext=CHATTER" style="display:{!if(contactid == '','block','none')}">{!documents.Title}</a>
                    <!-- <a href="{!$Label.Cp_Site}/sfc/servlet.shepherd/version/download/{!documents.id}" style="display:{!if(contactid == '','none','block')}">{!documents.Title}</a>                    -->
                </apex:column>
                <apex:column headerValue="{!$Label.MV_Title}" headerClass="headerstyle" width="50%" style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;text-align:left" rendered="{!if(iscustomer == '',false,true)}">
                    <!-- <a href="{!$Label.CpWeeklyDigestDocurl}{!documents.id}" style="display:{!if(contactid == '','block','none')}">{!documents.Title}</a> -->
                    <a href="{!$Label.MvSiteURL}/sfc/servlet.shepherd/version/download/{!documents.id}?operationContext=CHATTER" style="display:{!if(contactid == '','none','block')}">{!documents.Title}</a>                    
                </apex:column>
                </th>
           
                <th>
                <apex:column headerValue="{!$Label.MV_Doc_Type}" headerClass="headerstyle" width="35%" style="font-family: Arial;font-size: 12px;text-align:left">
                    {!documents.Document_Type__c}
                </apex:column>
               </th>
            <th>   
            <apex:column headerValue="{!$Label.MV_Date}" headerClass="headerstyle" width="20%" style="font-family: Arial;font-size: 12px;text-align:left"> 
                 {!year(documents.Date__c)}-{!month(documents.Date__c)}-{!day(documents.Date__c)}                </apex:column>
            </th>
           
           </tr>
   </thead>
</table>
           </apex:dataTable>
               </html>
</apex:component>