<!-- 
/*************************************************************************\
    @ Author        : Anupam Tripathi
    @ Date      : 18-Apr-2013
    @ Description   : This Component is used as footer.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/

-->
<apex:component >
  <!-- footer -->
        <div id="myFooter">
            <a href="https://www.varian.com/" target="_blank" class="footer_logo"></a>
            <div class="copyright">
        &copy; 1999 -
        <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> Varian Medical Systems, Inc. All rights reserved. <a href="{!$Label.MyVarianPrivacyLink}" target="_blank" onclick="javascript: pageTracker._trackPageview('/linkaway/PrivacyStatement');">Privacy Statement</a><br />
Production of any of the material contained herein in any format or media without the express written permission of Varian Medical Systems is prohibited.
<div id='teconsent'>
<script type="text/javascript" src='https://consent.truste.com/notice?domain=varian.com&c=teconsent'></script>
</div>              
        </div>
            </div>
           
        
  <!-- /footer -->
</apex:component>