<!-- 
/*************************************************************************\
    @ Author        : Anupam Tripathi
    @ Date      : 18-Apr-2013
    @ Description   : This Component is used as Portal Side Menu.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
Date/Modified By Name/Task or Story or Inc # /Description of Change
11/13/2017 - Rakesh - INC4722037 - Removed Beta Research Tools tab from MyVarian.
****************************************************************************/

-->
<apex:component controller="StLoginCntlr" allowDML="true">
    <head>

<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/jquery.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/drupal.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/googleanalytics.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/thickbox.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/marketingkit.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/views_slideshow_002.js')}" />
<script type="text/javascript"
    src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/javascript.js')}" />

<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-1.3.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.Jquery, '/js/jquery-ui-1.7.3.custom.min.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.Jquery, '/css/ui-lightness/jquery-ui-1.7.3.custom.css')}" />
 <script>
        window.onload = new function() { checkCondition(); };
        function checkCondition(){
            window.open('{!$Label.MvSiteURL}',"_self");
        }
    </script>


    </head>
    <body>
        <apex:form forceSSL="true">
        <apex:pageMessages rendered="{!renderPageMessage}"/>    

            <div id="sidebar-left" class="sidebar">
                <div id="block-menu-menu-mainmenu" class="block block-menu">
                    <h2>Main Menu</h2>

                    <div class="content">
                        <ul class="menu">
                            <li class="leaf first"><a href="/apex/CpHomePage" title="">Home</a>
                            </li>
                            <li class="leaf"><a href="/apex/CpProductDocumentation"
                                title="">Product Documentation</a>
                            </li>
                            <apex:outputpanel rendered="{!!isSanctionedCountries}">
                            <li class="expanded"><a href="/" title="">Customer Support</a>
                            <ul class="menu">
                                    <!--<li class="leaf first"><a
                                        href="/apex/CpProdImprove?Request=HelpTicket" title="">Submit
                                            Help Desk Ticket</a>
                                    </li>-->
                                    <li class="leaf"><a
                                        href="/apex/CpCasePage" title="" style="display: {!if(OR(isinternaluser = true,chkUser = false),'None','Block')}">Support Cases</a>
                                    </li>
                                    
                                    <!--<li class="leaf">
                                    <a href="/apex/Submit_Product_Idea_v1" title="">Product Ideas</a>
                                    </li>-->
                                    
                                    <apex:outputpanel rendered="{!!isSanctionedCountries}">
                                        <li class="leaf"><a href="/apex/Submit_Product_Idea_v1" title="">Product Ideas</a></li>
                                    </apex:outputpanel>
                                    
                                    <!--<li class="leaf"><a

                                        href="/apex/CpProdImprove?Request=Serviceticket" title="">Submit
                                            Service Request</a>
                                    </li>-->


                                    <apex:outputpanel rendered="{!!isSanctionedCountries}">
                                        <li class="leaf"><a href="/apex/CpOncoPeerLanding" title="">OncoPeer Community</a></li> 
                                    </apex:outputpanel>
                                    
                                    <apex:outputpanel rendered="{!eligibleCustomerFlag || eligibleInternalUserFlag}">       
                                    <li class="leaf">       
                                    <a href="/apex/apiKeyMgmtHome" title="API Key Management">API Key Management</a>        
                                    </li>       
                                    </apex:outputpanel>
                                    <!--STSK0012079 - Rakesh.Start-->
                                    <apex:outputpanel rendered="{!isModelAnalyticsAccess }">
                                        <li class="leaf" >
                                        <a href="https://varian.okta.com/home/template_wsfed/0oa12ewkf7xIYpHSn1e8/4263"  title="">Model Analytics</a>
                                        </li>
                                    </apex:outputpanel>
                                    <!--STSK0012079 - Rakesh.End-->
                                   <li class="leaf last"
                                        style="display: {! if(AND(conLungPhantom = true,isinternaluser = false), 'block', 'None')}"><a
                                        href="/apex/cpLungPhantom" title="">RPC Lung Phantom</a>
                                    </li>

                                 <!--   <li class="leaf last"
                                        style="display: {! if(chkUser = true, 'block', 'None')}"><a
                                        href="/apex/CPPonAknwldgSummry" title="">View PNL History</a>
                                    </li>-->
                                </ul>
                            </li>
                            </apex:outputpanel>
                              <li class="leaf" style="display: {!if(isKPIAccess == true, 'block', 'None')}">        
                                 <!--   <a href="https://varian.oktapreview.com/home/variansystemssandbox_servicepidev_1/0oa65qng427FvGAmp0h7/aln65qu0ykA8DEoon0h7"  title="">KPI App Access</a> -->
                                    <a href="https://varian.okta.com/app/varian_servicepi_1/exk17jd4bytH8TcE91d8/sso/saml"  title="">ServicePI Access</a>
                                </li>
                            
                            <li class="expanded"><a href="/" title="">Event Center</a>
                            <ul class="menu">
                                    <li class="leaf first"><a href="/apex/CpEventsLib?cid=2"
                                        title="">Events</a>
                                    </li>
                                    <li class="leaf"><a href="/apex/CpWebinarLib" title="">Webinars</a>
                                    </li>
                                    <li class="leaf last"><a href="/apex/Cp_Presentation"
                                        title="">Presentations</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded"><a href="/" title="">Training &amp;
                                    Education</a>
                            <ul class="menu">
                                    
                                    
                                    <apex:outputpanel rendered="{!!isSanctionedCountries}">
                                        <li class="leaf first">
                                        <!--<a href="/apex/cpCertificatemanager" title="">Certificate Manager</a>-->
                                            <a href="{!$Label.MV_CertificateManger_URL}?id={!$User.email}&access_token={!$Label.MV_CertificateManger_AccessToken}" target="_black" title="">Certificate Manager</a>
                                        </li>
                                    </apex:outputpanel>
                                    
                                    <li class="leaf">
                                        <!--<a href="/apex/CpTrainingandCourse"  title="">Course Listings</a>-->
                                        <apex:commandLink action="{!gotoCourseListing}" value="Course Listings"/>
                                    </li>
                                    
                                    <!--<apex:outputtext rendered="{!AccntStatus && NOT(isinternaluser)}">  
                                        <li class="leaf" ><a  href="{!$Label.CpTrainingSABAurl}"
                                            title="" target="_blank">Learning Center</a>
                                        </li>
                                    </apex:outputtext>
                                    -->
                                    <apex:outputtext rendered="{!AccntStatus && NOT(isinternaluser)}">                                      
                                    <li class="leaf" ><apex:commandLink target="_blank" action="{!RedirectLeaningCenter}" >Learning Center</apex:commandLink>
                                    </li> </apex:outputtext>
                                    <!--                                 
                                    <apex:outputtext rendered="{!AccntStatus1 && NOT(isinternaluser)}">                                                                
                                       <li class="leaf" ><apex:commandLink value="" action="{!testLearningcenter}" >Learning Center</apex:commandLink>
                                        </li> 
                                    </apex:outputtext>
                                    -->
                                    
                                    <!--<li class="leaf last"><a href="/apex/CpPeerToPeer" title="">Peer-to-Peer Training</a></li>-->
                                    <apex:outputpanel rendered="{!!isSanctionedCountries}">
                                        <li class="leaf last"><a href="/apex/CpPeerToPeer" title="">Peer-to-Peer Training</a></li>
                                    </apex:outputpanel>
                                    
                                </ul>
                            </li>
                            <li class="expanded"><a href="/" title="">Installation
                                    &amp; Support</a>
                                <ul class="menu">
                                    <li class="leaf first"><a
                                        href="http://www.varian.com/us/oncology/services_and_support/architectural_planning/"
                                        title="">Architectural Planning</a>
                                    </li>
                                    <li class="leaf"><a
                                        href="http://www.varian.com/us/oncology/services_and_support/hardware_specifications"
                                        title="">Hardware Specifications</a>
                                    </li>
                                    <li class="leaf"><a href="/apex/CPSoftwareInstallation?psrc=swi"
                                        title="">Software Install Documents</a>
                                    </li>
                                    <!--PD updated--------
                                    <li class="leaf last"><a
                                        href="http://www.varian.com/us/oncology/services_and_support/resources/"
                                        title="">Support Resources</a>
                                        </li>-->
                                     <li class="leaf"><a
                                        href="http://www.varian.com/us/oncology/services_and_support/resources/"
                                        title="">Support Resources</a>  
                                      </li> 
                                     <li class="leaf last" style="display:{!if(IsPTUser = true, 'block', 'None')}"><a
                                        href="/apex/CPSoftwareInstallation?psrc=vpt"
                                        title="">PT Installation Instructions</a>
                                     </li>
                                    
                                </ul>
                            </li>

                            <li class="leaf" style="display: {!if(OR(IsMarketYourCenter=true, isinternaluser=true), 'block', 'None')}"><a href="/apex/CpMarketingKit" title="">Marketing
                                    Your Center</a>
                            </li> 
                           
                           <apex:outputpanel rendered="{!!isSanctionedCountries}">
                                
                                <li class="expanded">
                                <a href="/">Research Tools</a>
                                <ul class="menu">
                                <li class="leaf first"
                                style="display: {! if(OR(IsProductTrueBeam = true,isinternaluser =true), 'block', 'None')}"><a
                                href="/apex/CpTrueBeam" title="">TrueBeam Developer Mode </a>
                                </li>

                                <li class="leaf"><a href="/apex/CpMonteCarlo" title="">Monte
                                Carlo Support </a>
                                </li>
                                <li class="leaf"><a href="http://www.VarianAPIDev.com"
                                title="" target="_blank">Eclipse API Support </a>
                                </li>
                                <!--
                                <li class="leaf last"><a
                                href="http://www.RadioTherapyResearchTools.com" title=""
                                target="_blank">Beta Research Tools </a>
                                </li>
                                -->
                                </ul>                         
                                </li>

                            </apex:outputpanel>
                                    

                               <!-- <li class="leaf" style="display: {! if(OR(isinternaluser =true,isPartneruser=true), 'block', 'None')}"><a href="/apex/CpProductDocumentation_Part_IntUsers"
                                        title="">Partner Channel </a>
                                    </li>-->
                                   <li class="leaf" style="display: {!if(isPartnerChanneluser=true, 'block', 'None')}"><a href="/apex/CpProductDocumentation_Part_IntUsers"
                                        title="">Partner Channel </a>
                                    </li> 
                               <!--  <li class="leaf" style="display: {! if(OR(isinternaluser =true,isPartneruser=true), 'block', 'None')}"><a href="https://www.variancustommarketplace.com/sso/saml/login"
                                        title="">Varian Custom Marketplace</a>
                                    </li>  -->
                                    <li class="leaf" style="display: {!if(enableVMarketPlace, 'block', 'None')}">
                                        <a href="/vMarketLogin" title="vMarket">Varian Marketplace</a>
                                    </li>

                        </ul>
                       
                        <br />
                        <br />
                        <br />
                    </div>

                </div>
                <!-- 
<a href="/home/home.jsp" class="rover link_returntoorganizationportal">Return To Organization Portal</a> -->
            </div>





            <!-- /layout -->
        </apex:form>

    </body>

</apex:component>