<!-- 
/*************************************************************************\
    @ Author        : Anupam Tripathi
    @ Date      : 18-Apr-2013
    @ Description   : This Component is used as Portal Header.
    @ Last Modified By  :   Narmada Yelavaluri
    @ Last Modified On  :   27-May-2013
    @ Last Modified Reason  :   Updated Header Comments
****************************************************************************/

-->
<apex:component controller="CP_MessageController">
<apex:form >
        <apex:actionFunction name="logoutmethod" action="{!logoutmethod}" />
    </apex:form>
    <div id="topToolBar">
        <div>
            <a class="logo" href="/apex/CpHomePage">&nbsp;</a>

            <ul class="links primary-links">
                <li class="menu-66 first"><a href="http://www.varian.com">Varian.com</a>
                </li>
                <li class="menu-4486"><a href="/apex/CpMessageCenter">Messages ({!TotalMess})
                </a>
                </li>
                <li class="menu-56"><a href="/apex/CpContactUs">Contact Us</a>
                </li>
                 <apex:outputpanel rendered="{!Ispicvis}">
                <li><img src="{!usr.SmallPhotoUrl}" style="background-position: 0px -83px;background-repeat: no-repeat;border-radius: 25%;width: 25px;height: 25px;"/>
                </li>
                <li style="margin-left: -35px">
                <a href="/apex/CpMyAccount" title="">My
                        Account</a>
                </li>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!!Ispicvis}">
                <li class="menu-3074">
                <a href="/apex/CpMyAccount" title="">My
                        Account</a>
                </li> </apex:outputpanel>
                <li class="menu-70 last"><a href="#" onclick="logoutmethodjava(); return false;">Log
                        out</a>
                </li>
            </ul>

            <form id='search-block-form' method='get' accept-charset='UTF-8'
                action='/viewsearch'>
                <div>
                    <div class='searchbox'>
                        <div id='edit-search-block-form-1-wrapper' class='form-item'>
                            <input type='text' class='form-text'
                                title='Enter the terms you wish to search for.'
                                value='search site' size='24' id='edit-search-block-form-1'
                                name='search_block_form' maxlength='128' onkeyup="if (event.keyCode == 13) vsearchPg(); return false;"/>
                        </div>
                        <input type='image' title='Search'
                            onclick="vsearchPg(); return false;" alt='Search'
                            src="{!URLFOR($Resource.VarianCss, '/VarianCss/MyVarian_files/images/top_nav_search_button.png')}"
                            class='form-submit' id='edit-submit-1' value='Search' name='op' />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /topToolBar -->
    <SCRIPT LANGUAGE="JavaScript">
    function vsearchPg()
    {   
        var prm = document.getElementById('edit-search-block-form-1').value;
        //alert(' --- ' + prm);
        window.location.href = '/apex/CPViewSearch?kwrd='+prm;
    }
    function logoutmethodjava()
    {
      logoutmethod(); 
    }
</script>

</apex:component>