<apex:component allowDML="true" controller="FieldTrackingCtrl">
	 <apex:attribute name="objName" description="Name of SObject not API name"  type="String" required="false" />
	 <apex:attribute name="apiName" description="SObject API Name" type="String" required="false"  />
	 <apex:attribute name="objId" description="Record id of sObject for which all field histories are shown" type="String" required="false"/>
	 <apex:attribute name="totalresults" description="Record id of sObject for which all field histories are shown" type="Integer" required="false" default="5" assignTo="{!resultsLimit}"/>
	 <apex:form >
		 <apex:pageBlock >
		 	<apex:pageBlockTable title="{!sObjectName} Histories" value="{!aduitTrails}" var="record">
		 		<apex:column headerValue="Record Id">
		 			<apex:outputLink value="/{!record.auditObj.Id}" target="_blank">{!record.auditObj.Name}</apex:outputLink>
		 		</apex:column>
		 		<apex:column headerValue="Date" value="{!record.ConvertedTime}" />
		 		<apex:column value="{!record.auditObj.CreatedByID__r.Name}" headerValue="User" />
		 		<apex:column headerValue="Action" >
		 			<apex:outputText rendered="{!LEN(TRIM(record.auditObj.OldValue__c)) == 0 && LEN(record.auditObj.NewValue__c) > 0}">
		 				<span>Changed <b>{!record.fieldName}</b> to <b>{!LEFT(IF(record.newValue !=null, record.newValue, record.auditObj.NewValue__c), MAX_CHAR_SHOW)}</b></span>
		 			</apex:outputText>
		 			<apex:outputText rendered="{!LEN(record.auditObj.OldValue__c) > 0 && LEN(record.auditObj.NewValue__c) > 0}">
		 				<span>Changed <b>{!record.fieldName}</b> from {!LEFT(IF(record.oldValue !=null, record.oldValue, record.auditObj.OldValue__c), MAX_CHAR_SHOW)} to <b>{!LEFT(IF(record.newValue !=null, record.newValue, record.auditObj.NewValue__c), MAX_CHAR_SHOW)}</b></span>
		 			</apex:outputText>
		 			<apex:outputText rendered="{!LEN(TRIM(record.auditObj.OldValue__c)) > 0 && LEN(TRIM(record.auditObj.NewValue__c)) == 0}">
		 				<span>Deleted <b>{!record.fieldName}</b> value <b>{!LEFT(IF(record.oldValue !=null, record.oldValue, record.auditObj.OldValue__c), MAX_CHAR_SHOW)}</b></span>
		 			</apex:outputText>
		 			<apex:outputText rendered="{!LEN(record.auditObj.OldValue__c) == 0 && LEN(record.auditObj.NewValue__c) == 0 && AND (LOWER(record.fieldName) != 'created')}">
		 				<span>Changed <b>{!record.fieldName}</b></span>
		 			</apex:outputText>
		 			<apex:outputText rendered="{!LEN(record.auditObj.OldValue__c) == 0 && LEN(record.auditObj.NewValue__c) == 0 && AND (LOWER(record.fieldName) == 'created')}">
		 				<span><b>{!record.fieldName}</b></span>
		 			</apex:outputText>
		 		</apex:column> 
		 	</apex:pageBlockTable>
		 	<apex:outputPanel rendered="{!showMore}" style="margin-top:10px;display:inline-block;">
		 		<apex:commandLink action="{!showMoreRows}" value="Show More >>" id="showMoreId" />&nbsp;|&nbsp;
				<a href="/apex/historytracking?id={!sObjectId}" id="gotoListViewId" target="_blank">Go to List >></a>
			</apex:outputPanel>	
		 </apex:pageBlock>
	 </apex:form>
</apex:component>