<!--***************************************************************************
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
31-Aug-2017 - Rakesh - STSK0012697 - Adding multiple attachments when posting new Idea.
*************************************************************************************-->

<apex:component controller="Component1Cntrl" allowDML="true">
        <apex:actionregion >
        <apex:pageMessages id="pgmsg"/>
        <apex:actionfunction name="OpenCommentsPopupAF" action="{!IdeaIdRefresh}" status="commentStatus" >
        </apex:actionfunction>
        <!--STSK0012364 - Rakesh.Start  --> 
        <apex:actionfunction name="onPostIdeaClickAF" action="{!onPostIdeaClick}"/>
        <apex:actionfunction name="Resetpg" action="{!reset}" rerender="ideaMainSection"/>
        <apex:actionFunction action="{!addAttachment}" name="addAttachment"/>  <!-- //STSK0012697.Method to add attachments in the list-->
        
        <apex:actionfunction name="Resetpostidea" action="{!reset}" status="resetpostideaStatus"/>
        <!--STSK0012364 - Rakesh.End  -->
                
        <apex:actionfunction name="onSerachClickAF"  action="{!IdeaSearch}" reRender="ideapaneldetail" status="commentStatus"/>
        <apex:actionfunction name="makeVote" action="{!makeVote}" rerender="pgmsg,ideapanel" status="commentStatus" >
            <apex:param name="IdeaId" value=""/>
            <apex:param name="Type" value=""/>
        </apex:actionfunction>
       
        <apex:actionfunction name="ResetNewIdeaAF" action="{!ResetNewIdea}" rerender="newideapanel"/>
        <apex:actionfunction action="{!SaveIdea}" name="PostIdeaSave" />   <!--STSK0012364 - Rakesh  -->
        <apex:ActionStatus id="commentStatus" startText="Searching......" stopText=""/>
        <apex:ActionStatus id="resetStatus" startText="Refreshing......" stopText=""/>
        <apex:outputpanel id="ideaMainSection">
            <apex:outputpanel id="ideaComment" rendered="{!If(panel=='comment',true,false)}">
                
                <a  href="javascript:void(0)" style="line-height: 100%;font-family: sf-font-light;color: #0070d2;text-decoration: none;background-color: transparent;    font-size: 13px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;font-weight: normal;font-size: 1.077em;" onclick="Resetpg()">
                    Back to Product Ideas
                </a>                
                <div style="font-family: sf-font-light,Helvetica Neue,Helvetica,Arial; font-size: 1.846em; line-height: 100%; margin-bottom: 4px; -webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;    -webkit-margin-start: 0px;    -webkit-margin-end: 0px;">
                    Idea Details          
                </div>
                <div style="font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;font-size: 153.8%;color: #555;;border-top:1px solid #DDDDDD; -webkit-margin-before: 1em;-webkit-margin-start: 0px; -webkit-margin-end: 0px;padding-top: 10px;">                   
                    <apex:outputText value=" {!CommentObj.IdeaTitle}"/>                    
                </div>    
                <br/>
                
                <div style="font-size: 13px;  font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;  color: #555;">
                        <apex:outputText escape="false" value="{!CommentObj.IdeaBody} "/>
                </div>
                
                <div style="    font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;font-size: 153.8%;color: #555;;border-top:1px solid #DDDDDD; -webkit-margin-before: 1em;
    -webkit-margin-start: 0px; -webkit-margin-end: 0px;padding-bottom:10px;padding-top:10px">
                    Add Your Comment   
                </div>
                <div>
                    <apex:inputField value="{!CommentObj.CommentObj.commentBody}"/> 
                </div>
                <div style="float:right">
                   
                    <apex:actionStatus id="mySaveStatus1">
                        <apex:facet name="stop">
                             <apex:commandButton value="Comment" styleClass="form-submit" action="{!addComment}" status="mySaveStatus1" reRender="ideaMainSection"/>
                        </apex:facet>
                        <apex:facet name="start">
                             <input type="button"  value="Saving.." Class="btn form-submit"/>
                        </apex:facet>
                    </apex:actionStatus>
 
 
 

                </div>
                <br/>
                <br/>
                
                <div style="font-family: sf-font-light,Helvetica Neue,Helvetica,Arial;font-weight: normal;color: #333;font-size: 1.17em;padding:10px;border-top:1px solid #DDDDDD">
                    Comments&nbsp;(&nbsp;{!CommentObj.lstComment.size}&nbsp;)           
                </div>
              
                <div style="padding:10px;border-top:1px solid #DDDDDD">
                    <div>

                        <div>
                            <apex:outputpanel id="ideacommentpanel">
                                <apex:repeat value="{!CommentObj.lstComment}" var="c">
                                    <div>                
                                        <table style="width:100%;border:0px">
                                            <tr style="border:0px">
                                                <td style="width:7%;border:0px">
                                                    <div>
                                                        <apex:image url="{!c.CommentObj.CreatorSmallPhotoUrl}" alt="{!c.CommentObj.CreatorName}" width="50px" height="50px" style="border-radius:50%;overflow:hidden;"/>               
                                                    </div>
                                                </td>
                                                <td style="border:0px">
                                                    <div style="float:left">
                                                        <div>
                                                            <div >
                                                                <p><a href="javascript:void(0);" title="Jason Rodgers" style="text-decoration: none;color: #0070d2;background-color: transparent;cursor: auto;font-size: 13px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;text-align: -webkit-match-parent;word-break: break-word;">{!c.CommentObj.CreatorName}</a>&nbsp;&nbsp;<span class="slds-text-body--small">{!c.Daysago}</span></p>              
                                                            </div>
                                                        </div>
                                                                    
                                                        <div>
                                                            <p style="font-size: 13px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;color: #555;text-align: -webkit-match-parent;word-break: break-word;"><apex:outputtext escape="false" value="{!c.CommentObj.CommentBody}"/></p> 
                                                            
                                                        </div>               
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </apex:repeat>
                            </apex:outputpanel>
                        </div>
                    </div>
                </div>
            </apex:outputpanel>
          
            <apex:outputpanel id="ideapanel" rendered="{!If(panel=='detail',true,false)}">
            
            <apex:outputpanel id="ideafilterpanel" rendered="true">
            
                
            <table style="border: 0px;margin-bottom:10px;">
                <tr style="border: 0px;">
                    <td colspan="8" style="border: 0px;">
                    <apex:outputText value="{!$Label.ProductIdeaLandingPageText}" escape="false"/>
                        
                        <br/>
                        <br/>
                    </td>
                </tr>

                <tr style="border: 0px;">
                    <td rowspan="2" style="border: 0px;padding:0px;vertical-align:center"> 
                        <input type="button" value="Post Idea" Class="form-submit" id="edit-submit-docs-filtered2" onclick="PrePostIdea()" style="margin-top: 20%;"/>
                        <!--<apex:outputpanel rendered="{!isExternalUser}" >
                            <input type="button" value="Post Idea" Class="form-submit" id="edit-submit-docs-filtered2" onclick="PrePostIdea()" style="margin-top: 20%;"/>
                        </apex:outputpanel>
                        <apex:outputpanel rendered="{!!isExternalUser}" >
                            <input type="button" value="Post Idea"  Class="form-submit" style="background-image:none;background-color: gray !important;margin-top: 20%;" id="edit-submit-docs-filtersed2"/>
                        </apex:outputpanel> -->
                    
                    </td>
                    <td style="border: 0px;padding:0px;vertical-align:center">Sort By</td>
                    <td style="border: 0px;padding:0px;vertical-align:center">Product Group</td>
                    <td style="border: 0px;padding:0px;vertical-align:center">Status</td>
                    <td style="border: 0px;padding:0px;vertical-align:center">Refine using keyword:</td>
                    <td style="border: 0px;padding:0px;vertical-align:center">
                        <apex:commandButton value="Apply" styleClass="form-submit" id="applycmd" action="{!IdeaSearch}" reRender="ideapaneldetail" status="commentStatus"/>
                    </td>
                    <td rowspan="2" style="border: 0px;padding:0px;vertical-align:center">
                        <div style="margin-top:15px;">
                        <apex:inputCheckbox id="viewmyidea" value="{!viewMyIdea}">
                            <apex:actionSupport event="onclick" reRender="ideapaneldetail" status="commentStatus"/>
                        </apex:inputCheckbox>
                        <label for="viewmyidea">View My Ideas</label>
                        </div>
                    </td>
                </tr>
                <tr style="border: 0px;">
                    
                    <td style="border: 0px;padding:0px;vertical-align:center">
                        <apex:selectList id="selectSortBy" value="{!strSortBy}" size="1" style="width:170px;">
                            <apex:selectOptions value="{!IdeaSortBy}"></apex:selectOptions>
                            <apex:actionSupport event="onchange"  action="{!IdeaSearch}" reRender="ideapaneldetail" status="commentStatus"/>
                        </apex:selectList>
                    </td>
                    <td style="border: 0px;padding:0px;vertical-align:center">
                        <apex:selectList id="selectProductGroup" value="{!strIdeaPG}" size="1" multiselect="false" style="width:170px;">
                            <apex:selectOptions value="{!IdeaProductGroup}"></apex:selectOptions>
                            <apex:actionSupport event="onchange"  action="{!IdeaSearch}" reRender="ideapaneldetail" status="commentStatus"/>
                        </apex:selectList>
                    </td>
                    <td style="border: 0px;padding:0px;vertical-align:center">
                        <apex:selectList id="selectStatus" value="{!strIdeaStatus}" size="1" style="width:170px;">
                            <apex:selectOptions value="{!IdeaStatus}"></apex:selectOptions>
                            <apex:actionSupport event="onchange"  action="{!IdeaSearch}" reRender="ideapaneldetail" status="commentStatus"/>
                        </apex:selectList>
                    </td>
                    <td style="border: 0px;padding:0px;vertical-align:center">
                        <apex:inputText id="refinesearch" value="{!Idea_TypeSearch}"  onkeypress="return onSearchEnter(event)" styleClass="form-text" size="20" title="Enter the terms you wish to search for." maxlength="100"/>
                    </td>
                    <td style="border: 0px;padding:0px;vertical-align:center">
                        <apex:commandButton id="resetcmd" value="Reset" styleClass="form-submit"  action="{!reset}" reRender="ideapanel" status="resetStatus"/>
                    </td>
                    
                </tr>
            </table>

        </apex:outputpanel>
        <apex:outputpanel id="ideapaneldetail">
        
            
            <apex:repeat value="{!ProductIdea}" var="p">
                <div>                
                    <div style="border: 1px solid #D8DDE6;border-radius: 5px;padding: 0% 0% 0% 1%;">
                        
                    <table style="width:100%;border:0px">
                        <tr>
                            <td style="width:80%;border-right: 1px solid #D8DDE6">
                                <div style="float:left">
                                    <div class="slds-media__body">
                                        <div >
                                            <p><span style="color: #556a8c;font-size: 16px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;"><apex:outputtext escape="false" value="{!p.Title}"/></span></p>              
                                        </div>
                                    </div>
                                                
                                    <div>
                                         <p>
                                            <div id="ShortDescription{!p.ideaObj.Id}"  style="font-size: 13px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;color: #555;"><div id="shortdec{!p.ideaObj.id}"></div><!--<apex:outputtext escape="true" value="{!p.shortDescription}"/>--></div>
                                            <div id="LongDescription{!p.ideaObj.Id}"  style="display:none;font-size: 13px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;color: #555;"><div id="longdec{!p.ideaObj.id}"></div><!--<apex:outputtext escape="true" value="{!p.Description}"/>--></div>
                                        </p>
                                        <p>
                                            <apex:inputhidden id="inputIdeaId" value="{!hdnIdeaId}"/>
                                            <a href="javascript:void(0);" onclick="onCommentClick('{!p.ideaObj.id}')" title="Share this item">
                                            <apex:outputpanel rendered="{!IF(p.CommentCount == 0, true, false)}">Comment</apex:outputpanel>
                                            <apex:outputpanel rendered="{!IF(p.CommentCount == 1, true, false)}">{!p.CommentCount} Comment</apex:outputpanel>
                                            <apex:outputpanel rendered="{!IF(p.CommentCount > 1, true, false)}">{!p.CommentCount} Comments</apex:outputpanel>
                                            
                                            </a>&nbsp;&nbsp;
                                            <span class="slds-text-body--small">{!p.Daysago}</span>&nbsp;&nbsp;<apex:actionstatus id="commentStatus" startText="Please wait...." stopText=""/>
                                        </p>
                                    </div>                  
                                </div>
                            </td>
                            <td>
                                <div style="margin: 5% 0% 5% 0%;">
                                    <table cellspacing="5px" style="width:100%;border:0px">
                                        <tr style="border:0px">
                                            <td style="text-align: center;width:15%;border:0px">
                                            
                                                <apex:outputpanel rendered="{!p.isVoteEnable}">
                                                    <div style="border:1px solid #D8DDE6;padding: 6px;border-radius: 5px;" onclick="makeVote('{!p.ideaObj.id}','up')">
                                                        <a href="javascript:void(0)" title="Like">
                                                            <apex:image url="{!URLFOR($Resource.SR_ProducrtIdea, 'likepng.png')}" alt="like" width="20px" height="20px"/>
                                                        </a>
                                                    </div>
                                                </apex:outputpanel>
                                                <apex:outputpanel rendered="{!!p.isVoteEnable}">
                                                    <apex:outputpanel rendered="{!p.upVote}">
                                                        <div style="border:1px solid #D8DDE6;padding: 6px;border-radius: 5px;background-color:#4D9445">
                                                            <apex:image url="{!URLFOR($Resource.SR_ProducrtIdea, 'likepng.png')}" alt="like" width="20px" height="20px"/>
                                                        </div>
                                                    </apex:outputpanel>
                                                    <apex:outputpanel rendered="{!!p.upVote}">
                                                        <div style="border:1px solid #D8DDE6;padding: 6px;border-radius: 5px;">
                                                            <apex:image url="{!URLFOR($Resource.SR_ProducrtIdea, 'likepng.png')}" alt="like" width="20px" height="20px"/>
                                                        </div>
                                                    </apex:outputpanel>
                                                </apex:outputpanel>
                                            
                                            </td>
                                            <!--<td style="text-align: center;width:20%;border:0px">
                                                <div style="font-size: 12px;line-height: 1.5em;display: block;    text-align: center;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;color: #555;">
                                                {!p.points}.<div>points</div></div>
                                            </td>-->
                                            <td style="text-align: center;width:15%;border:0px">
                                                <apex:outputpanel rendered="{!p.isVoteEnable}">
                                                    <div style="border:1px solid #D8DDE6;padding: 6px;border-radius: 5px;">
                                                        <a href="javascript:void(0)" title="Dislike" onclick="makeVote('{!p.ideaObj.id}','down')">
                                                            <apex:image url="{!URLFOR($Resource.SR_ProducrtIdea, 'dislikepng.png')}" alt="like" width="20px" height="20px"/>
                                                        </a>
                                                    </div>
                                                </apex:outputpanel>
                                                <apex:outputpanel rendered="{!!p.isVoteEnable}">
                                                    <apex:outputpanel rendered="{!p.downVote}">
                                                        <div style="border:1px solid #D8DDE6;padding: 6px;border-radius: 5px;background-color:#CE1600">
                                                            <apex:image url="{!URLFOR($Resource.SR_ProducrtIdea, 'dislikepng.png')}" alt="dislike" width="20px" height="20px"/>
                                                        </div>
                                                    </apex:outputpanel>
                                                    <apex:outputpanel rendered="{!!p.downVote}">
                                                        <div style="border:1px solid #D8DDE6;padding: 6px;border-radius: 5px;">
                                                            <apex:image url="{!URLFOR($Resource.SR_ProducrtIdea, 'dislikepng.png')}" alt="dislike" width="20px" height="20px"/>
                                                        </div>
                                                    </apex:outputpanel>
                                                </apex:outputpanel>
                                            </td>
                                            <!--<td style="text-align: center;border:0px">
                                                <a href="javascript:void(0);" title="{!p.username}">
                                                    <apex:image url="{!p.ideaObj.CreatorFullPhotoUrl}" alt="{!p.username}" width="50px" height="50px" style="border-radius:50%;overflow:hidden;"/>
                                                    
                                                </a>
                                            </td>-->
                                        </tr>
                                        <tr style="border:0px">
                                            <td colspan="3" style="padding: 5px;border:0px">
                                                <!--<div  style="    text-align: center;border-radius:10%;width:100px;padding: 4px 10px; display: inline-block;background-color:#E0E5EE;"> 
                                                </div>-->
                                                <br/>
                                                
                                                <div style="padding: 4px 7px; border-radius: 11px; text-transform: uppercase; font-size: 10px; text-align: center; cursor: default;background-color: #e0e5ee;color: #000;">
                                                    {!p.ideaObj.status}  
                                                </div>
                                                <br/>
                                                <div style="text-align:center;font-weight: bold;color: #415a68;font-size: 12px;line-height: 18px;font-family: Arial, Helvetica, sans-serif;">
                                                    <apex:outputText rendered="{!IF(p.ideaObj.Status == 'Released',true,false)}" value="Released in version: {!p.ideaObj.Release_Version__c}"/>
                                                </div>
                                               
                                            </td>
                                            
                                            <!--<td colspan="1" style="text-align:center;border:0px"><div class="slds-text-color--default" style="padding: 10px;">
                                                <a  href="javascript:void(0)" style="color: #0070d2;text-decoration: none;background-color: transparent;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;    font-weight: normal;    font-size: 1.05em;">
                                                    {!p.username}
                                                </a>
                                            </div></td>-->
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </table>
                    </div>
                </div> 
                <br/>
                <script>
                    document.getElementById('shortdec{!p.ideaObj.id}').innerHTML = '{!JSENCODE(p.shortDescription)}';
                    document.getElementById('longdec{!p.ideaObj.id}').innerHTML = '{!JSENCODE(p.Description)}';
                </script>  
                </apex:repeat>
                
                <apex:outputpanel rendered="{!IF(total_size > 0,true,false)}">
                    <div style="float:left">Showing Page # {!pageNumber} of {!totalPages}</div>
                    
                    <div style="float:right">
                        <apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}"/>
                        <apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}"/>        
                        <apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}"/>
                        <apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}"/>  
                    </div>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!IF(total_size = 0,true,false)}">
                    <div style="text-align: center;color:red;padding:100px;">Records not found!</div>
                </apex:outputpanel>
                
            </apex:outputpanel>
            </apex:outputpanel>
            <!--STSK0012364 - Rakesh.Start  -->
            <apex:outputpanel id="ideapostidea" rendered="{!If(panel=='postidea',true,false)}">
            
                    
                <apex:actionStatus id="resetpostideaStatus">
                    <apex:facet name="stop">
                        <a  href="javascript:void(0)" style="line-height: 100%;font-family: sf-font-light;color: #0070d2;text-decoration: none;background-color: transparent;    font-size: 13px;font-family: sf-font-regular,Helvetica Neue,Helvetica,Arial;font-weight: normal;font-size: 1.077em;" onclick="Resetpostidea()">
                            Back to Product Ideas
                        </a>
                    </apex:facet>
                    <apex:facet name="start">
                        Redirecting....
                    </apex:facet>
                </apex:actionStatus>
                <div style="font-family: sf-font-light,Helvetica Neue,Helvetica,Arial; font-size: 1.846em; line-height: 100%; margin-bottom: 4px; -webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;    -webkit-margin-start: 0px;    -webkit-margin-end: 0px;">
                    Post New Idea           
                </div>
            <!--STSK0012364 - Rakesh.End  -->
                
            
            <div style="border-top:1px solid #DDDDDD;">
                <div style="margin-left:10px;margin-right:10px;">
                    <div id="errorpostidea" style="color:red;text-align:center;display:none"></div>
                    
                    <div style="padding:1% 1% 1% 0%">
                        <apex:outputpanel id="newideapanel">
                        
                        <!--STSK0012364 - Rakesh.Start  -->
                            <apex:outputpanel rendered="{!!isExternalUser}">
                                <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                                    <div class="PostIdeaLable">
                                        Contact (for whom this idea is being entered)
                                    </div>
                                    <div class="views-widget">
                                        <div  class="form-item" id="edit-product-wrapper">
                                            <apex:InputField id="newideacontact" value="{!NewIdeaObj.Contact__c}" style="width:50%"/>
                                        </div>
                                    </div>
                                </div>      
                            </apex:outputpanel>  
                            <!--STSK0012364 - Rakesh.End  -->
                        
                            <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                                <div class="PostIdeaLable">
                                    Product Group
                                </div>
                                <div class="views-widget">
                                    <div class="form-item" id="edit-product-wrapper">
                                        <apex:selectList id="selectNewProductGroup" value="{!NewIdeaObj.categories}" size="1" style="width:50%;">
                                             <apex:selectOptions value="{!NewIdeaProductGroup}"></apex:selectOptions>
                                        </apex:selectList>
                                    </div>
                                </div>
                            </div>
                            <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                                <div class="PostIdeaLable">
                                Version
                                </div>
                                <div class="views-widget">
                                    <div class="form-item" id="edit-product-wrapper">
                                        <apex:InputText id="newideatitleversion" value="{!NewIdeaObj.Product_Version__c}" style="width:50%"/>
                                    </div>
                                </div>
                            </div>                        
                            <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                                <div class="PostIdeaLable">
                                    Title
                                </div>
                                <div class="views-widget">
                                    <div class="form-item" id="edit-product-wrapper">
                                        <apex:InputText id="newideatitle" value="{!NewIdeaObj.Title}" style="width:50%"/>
                                    </div>
                                </div>
                            </div>                          
                            <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                                <div class="PostIdeaLable">
                                Describe Your Idea        </div>
                                <div class="views-widget">
                                    <div class="form-item" id="edit-product-wrapper">
                                        <!--http://www.forcewizard.com/blog/render-richtextarea-salesforce-->
                                        <!--<apex:Inputfield value="{!NewIdeaObj.body}" style="width:99%"/>-->
                                        <apex:InputTextArea cols="50" Rows="10" value="{!NewIdeaObj.body}" style="width:99%"/>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <!-- STSK0012697.Display all attachment with remove link when posting new idea -->
                            <div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
                                <outputpanel rendered="{!IF(lstAttachments.size > 0,true,false)}">
                                    <table style="border:0px">                                     
                                        <apex:repeat value="{!lstAttachments}" var="at">
                                            <tr style="border:0px">
                                                <td style="border:0px;width:50px;border-bottom:1px solid #E1E7E9;padding:5px;">
                                                    <apex:commandlink value="Remove" action="{!RemoveAttachmentlink}">
                                                        <apex:param value="{!at.AId}" name="docid"/>
                                                    </apex:commandlink>
                                                </td>
                                                <td style="border:0px;padding:5px;width:5px;border-bottom:1px solid #E1E7E9;">
                                                    <div style="border-left:1px solid #E1E7E9;">&nbsp;</div>
                                                </td>
                                                <td style="border:0px;border-bottom:1px solid #E1E7E9;padding:5px;">{!at.AName}</td>
                                            </tr>
                                        </apex:repeat>
                                    </table>
                                </outputpanel>
                                <br/>
                                <apex:inputfile value="{!NewIdeaAttach.body}" filename="{!NewIdeaAttach.Name}" contentType="{!NewIdeaAttach.ContentType}" onchange="addAttachment()" />                          
                            </div>                            
                            <div style="float:right">
                                 <input id="postIdeaBTN" type="button" value="Post Idea"  Class="form-submit" onclick="PostIdeaSaveJS('{!$Component.newideatitle}')"/>                              
                           </div>
                        </apex:outputpanel>
                    </div>
                </div>
            </div>
            </apex:outputpanel>
            
            
            
        </apex:outputpanel>
        </apex:actionregion>

        <div id="dialogPostIdeaAlert" title="My Dialog Title" style="display:none">
            <b>Thank you for taking the time to communicate your feedback on Varian Products.</b>
            <p>
            Note that reports related to deficiencies in the identity, quality, durability, reliability, safety, effectiveness 
            or performance of a Varian manufactured device must be reported as a COMPLAINT to the <a href="">Varian Helpdesk</a>. 
            The product idea should be used only to suggest product improvements.</p>
        </div>
        <div id="bgPopup"></div>
        
</apex:component>