<apex:component id="comp" controller="OCSDC_FileUploader" allowDML="true">

    <apex:attribute name="currTab" type="String" description="This is the value of current tab" assignTo="{!currentTab}" required="true"/>
    <apex:attribute name="divId" type="String" description="This is the value of current tab" required="false"/>
    <apex:attribute name="Count" type="Integer" description="This is the value of current tab" required="false"/>
    <style>
        .pagination {
            font-size: 80%;
        }
       .pagination a {
           text-decoration: none;
           border: solid 1px #AAE;
           color: #15B;
       }
       .pagination a, .pagination span {  
           display: block;
           float: left;
           padding: 0.3em 0.5em;
           margin-right: 5px;
           margin-bottom: 5px;
       }
       .pagination .current {
           background: #5E82A3;
           color: #fff;
           border: solid 1px #AAE;
           text-decoration:none;
       }
       .pagination .notPrevious, .pagination .notNext{
           color:#999;
           border-color:#999;
           background:#fff;
           text-decoration:none;
           pointer-events: none;
           cursor: default;
       }
       .next {
           text-decoration:underline
       }
       .prev {
           text-decoration:underline
       }
       table.myTable {
            border-width: 3px;
            border-spacing: 2px;
            border-style: groove;
            border-color: gray;
            border-collapse: separate;
            background-color: white;
        }
        table.myTable th {
            border-width: 1px;
            padding: 1px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius: ;
        }
        table.myTable td {
            border-width: 1px;
            padding: 1px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius: ;     
        }
    </style>
    <apex:form >
        <apex:sectionHeader title="Upload developer cloud invitation data from Excel file"/>
        <apex:pagemessages />
        <apex:pageBlock id="pb" >
            <center>
                <apex:inputFile value="{!contentFile}" filename="{!nameFile}" /> <apex:commandButton action="{!ReadFile}" value="Upload File" id="theButton" style="width:70px;"/>
                <br/> <br/> <font color="Black"> <b>Note: Please use the standard template to upload Invites. <a href="{!URLFOR($Resource.InviteUploadTemplate)}" target="_blank"> Click here </a> to download the template. </b> </font>
            </center>
            
            
      
        </apex:pageBlock>       
    </apex:form> 
</apex:component>