<apex:component id="idHeaderComp" controller="OCSUGC_HeaderController" allowDML="true">
    <style>
        .navbar-brand {
            font-size: 28px;
            color: #333 !important;
        }
    </style>
    <header id="idHeader">
        <div class="container-bs">
            <div class="navbar navbar-default navbar-static" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">OCSUGC</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu-collapse">
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </div>
                </div>
            </div><!-- end navbar -->
        </div>
    </header>
</apex:component>