<apex:component id="comp" controller="OCSUGC_ContactCommunityUserStatusCon" allowDML="true" extensions="OCSUGC_UpdateCustomSettingExtension">
    <apex:attribute name="currTab" type="String" description="This is the value of current tab" assignTo="{!currentTab}" required="true"/>
    <apex:attribute name="divId" type="String" description="This is the value of current tab" required="false"/>
    <apex:attribute name="Count" type="Integer" description="This is the value of current tab" required="false"/>

    <style>
        .pagination {
            font-size: 80%;
        }

       .pagination a {
           text-decoration: none;
           border: solid 1px #AAE;
           color: #15B;
       }

       .pagination a, .pagination span {
           display: block;
           float: left;
           padding: 0.3em 0.5em;
           margin-right: 5px;
           margin-bottom: 5px;
       }

       .pagination .current {
           background: #5E82A3;
           color: #fff;
           border: solid 1px #AAE;
           text-decoration:none;
       }

       .pagination .notPrevious, .pagination .notNext{
           color:#999;
           border-color:#999;
           background:#fff;
           text-decoration:none;
           pointer-events: none;
           cursor: default;
       }
       .next {
           text-decoration:underline
       }
       .prev {
           text-decoration:underline
       }

       table.myTable {
            border-width: 3px;
            border-spacing: 2px;
            border-style: groove;
            border-color: gray;
            border-collapse: separate;
            background-color: white;
        }
        table.myTable th {
            border-width: 1px;
            padding: 1px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius: ;
        }
        table.myTable td {
            border-width: 1px;
            padding: 1px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius: ;
        }
    </style>
    <apex:outputPanel rendered="{!currentTab != 'Pending Approval File' && isCallSearchRecords && currentTab != 'CommentsByVarian' && currentTab != 'Settings'}">
    <apex:pageBlock id="pb" title="{!title}">
        <apex:form id="frm">
            <apex:outputPanel id="searchResults">
                <apex:pageBlockTable value="{!WrapperContacts}" var="wrapper">
                    <apex:column headerValue="Name"> 
                        <apex:outputLink value="{!URLFOR($Action.Contact.View,wrapper.contact.id)}" target="_blank">
                            {!wrapper.contact.name}
                           </apex:outputLink>
                    </apex:column>
                    <apex:column value="{!wrapper.contact.email}"/>
                    <apex:column headerValue="Registered Date">
                        <apex:outputText value="{0,date,MMM dd yyyy}">
                           <apex:param value="{!wrapper.contact.CreatedDate}" />
                       </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Existing User">
                        <apex:inputCheckbox value="{!wrapper.existingUser}" disabled="true"/>
                    </apex:column>
                    <apex:column headerValue="My Varian Member">
                        <apex:inputCheckbox value="{!wrapper.contact.MyVarian_Member__c}" disabled="true"/>
                    </apex:column>
                    <apex:column headerValue="User Status" value="{!wrapper.userStatus}"/>
                    <apex:column headerValue="Status" value="{!wrapper.contact.OCSUGC_UserStatus__c}"/>
                    <apex:column headerValue="Rejection Reason" value="{!wrapper.contact.OCSUGC_Rejection_Reason__c}" rendered="{!isRejected}"/>
                    <apex:column headerValue="Action" rendered="{!IsAdmin && currentTab != 'Disqualified'}">
                        <apex:commandLink action="{!selectedContact}"
                                          onComplete="sfdcPage.dialogs['SFDCDialog'].importContentNode(document.getElementById('{!divId}'));sfdcPage.dialogs['SFDCDialog'].show(); jQuery('.RejectionReason').hide(); jQuery('.DisabledReason').hide();" value="{!actionLabel}" rerender="idActionPopupPanel">
                            <apex:param value="{!wrapper.contact.Id}" assignTo="{!selectedContactId}" name="selectedContactId"  />
                        </apex:commandLink>
                    </apex:column>
                </apex:pageBlockTable>

                <div>
                    <table width="100%">
                        <tr>
                            <td style="color:#818281;font-size:16px;">&nbsp;</td>
                            <td style="float: right;vertical-align: middle;font-size: 15px;">
                                <div id="PaginationUp" class="pagination">
                                    <apex:commandLink id="first0" action="{!con.First}" reRender="searchResults" status="status" style="{!IF(con.hasPrevious,'background: none;','background: lightgray;')}">&#60;&#60;</apex:commandLink>
                                    <apex:commandLink id="previousUp0" action="{!con.Previous}" reRender="searchResults" status="status" style="{!IF(con.hasPrevious,'background: none;','background: lightgray;')}">&#60;</apex:commandLink>
    <!--                                <apex:repeat value="{!con1.listOfLinks}" var="number" >-->
    <!--                                    <span style="{!IF(number == 0,'display:inline-block;font-size: 14px;color: #5E82A3;','display:none;')}"><b>....</b></span>-->
    <!--                                    <a href="#" style="{!IF(number == con1.selectedPageNumber,'text-decoration: none;','')} {!IF(number != 0,'display:inline-block;','display:none;')}"-->
    <!--                                        class="{!IF(number == con1.selectedPageNumber,'current','')}"-->
    <!--                                        onClick="setCurrentPage(0, '{!number}', {!con1.selectedPageNumber}, {!con1.totalPage});return false;">{!number}</a>-->
    <!--                                </apex:repeat>-->
                                    <apex:commandLink id="nextUp0" action="{!con.Next}" reRender="searchResults" status="status" style="{!IF(con.hasNext,'background: none;','background: lightgray;')}">&#62;</apex:commandLink>
                                    <apex:commandLink id="last0" action="{!con.Last}" reRender="searchResults" status="status" style="{!IF(con.hasNext,'background: none;','background: lightgray;')}">&#62;&#62;</apex:commandLink>
                                </div>
                            </td>
                        </tr>
                     </table>
                </div>
            </apex:outputPanel>
        </apex:form>
        <div style="display: none;">
            <apex:outputPanel id="idActionPopupPanel">
                <apex:form id="frm1">
                <b style="vertical-align: top;">Name:&nbsp;</b> {!contactStatus.Name}
                <br/><br/>
                <!-- Updated By Sumit Tanwar for Task T-296625 -->
                <!--  <apex:outputPanel rendered="{!IF(currTab=='Approved',true,false)}" > -->
                    <b>Status:&nbsp;</b>
                    <apex:selectList value="{!contactStatus.OCSUGC_UserStatus__c}" onchange="changeStatus(this.value)" multiselect="false" size="1">
                        <apex:selectOptions value="{!statusValuesCake}"/>
                    </apex:selectList>
                 <!--</apex:outputPanel> -->
                 <!--<apex:outputPanel rendered="{!IF(currTab!='Approved',true,false)}" >
                    <b>Status:&nbsp;</b> <apex:inputField value="{!contactStatus.OCSUGC_UserStatus__c}" onchange="changeStatus(this.value)"></apex:inputField>
                </apex:outputPanel> -->
                <br/><br/>
                <div class="RejectionReason">
                    <b style="vertical-align: top;">Reason for Rejection:&nbsp;</b>
                    <apex:inputField value="{!contactStatus.OCSUGC_Rejection_Reason__c}"  style="width: 250px; height: 70px;"/>
                </div>
                <div class="DisabledReason">
                    <b style="vertical-align: top;">Reason for Disable:&nbsp;</b>
                    <apex:inputField value="{!contactStatus.OCSUGC_Disabled_Reason__c}"  style="width: 250px; height: 70px;"/>
                </div>
                <br/>
                <!-- Start Here - 10 Dec 2014    Naresh K Shiwani       (Task Ref. T-339427) -->
                <!--
                <div class="GrantAccessComponent" style="display:{!IF(currTab='Approved' || currTab='Pending Approval','block','none')};">
                    <table class="list">
                        <thead class="rich-table-thead">
                            <tr class="headerRow">
                                <th>Components</th>
                                <th>Grant Access</th>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!lstWrapperGrantAccess}" var="wrapper">
                                <tr class="dataCell">
                                    <td>{!wrapper.application.Name}</td>
                                    <td style="text-align: center;"><apex:inputCheckbox value="{!wrapper.grantAccess}"/></td>
                                </tr>
                            </apex:repeat>
                        </tbody>

                    </table>
                    <br/><br/>
                </div>
                -->
                <!-- End Here - 10 Dec 2014    Naresh K Shiwani       (Task Ref. T-339427) -->
                <apex:commandButton value="Save" action="{!updateContact}" oncomplete="hidePopup{!Count}(true);" rerender="idScript,myMsg,{!divId}" status="saveStatus">
                    <apex:param value="{!contactStatus.Id}" assignTo="{!selectedContactId}" name="selectedContactId"  />
                    <apex:param value="{!contactStatus.OCSUGC_UserStatus__c}" assignTo="{!selectedStatus}" name="selectedStatus"/>
                </apex:commandButton>
                &nbsp;
                <apex:actionStatus id="saveStatus">
                     <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px" height="17px"/></apex:facet>
                     <apex:facet name="stop" />
                </apex:actionStatus>
                &nbsp;
                <apex:commandButton value="Cancel" onClick="return hidePopup{!Count}(false);" rerender="{!divId}"/>
                </apex:form>
           </apex:outputPanel>
       </div>
    </apex:pageBlock>
    
    </apex:outputPanel>
    <apex:outputPanel rendered="{!currentTab == 'Pending Approval File' && isCallSearchRecords}">
        <apex:pageBlock id="pb2" title="Knowledge Files Pending Approval Requests ({!totalRequestsKnowledge})"
                             rendered="{!IF(currTab='Pending Approval File',true,false)}">
        <apex:form id="frm1">
            <apex:outputPanel id="searchResults2">
                <apex:pageBlockTable value="{!KnowledgeArtifactsRequests}" var="knowledge">
                    <apex:column headerValue="{!$ObjectType.OCSUGC_Knowledge_Exchange__c.Fields.Name.Label}">
                        <apex:outputText value="{!knowledge.OCSUGC_Title__c}"/>
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.OCSUGC_Knowledge_Exchange__c.Fields.OCSUGC_Status__c.Label}">
                        <apex:outputText value="{!knowledge.OCSUGC_Status__c}"/>
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.OCSUGC_Knowledge_Exchange__c.Fields.OCSUGC_Summary__c.Label}">
                        <apex:outputText value="{!knowledge.OCSUGC_Summary__c}"/>
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.OCSUGC_Knowledge_Exchange__c.Fields.OCSUGC_Artifact_Type__c.Label}">
                        <apex:outputText value="{!knowledge.OCSUGC_Artifact_Type__c}"/>
                    </apex:column>
                    <apex:column headerValue="Detail Link">
                        <apex:outputLink value="{!kaDetailLink}{!knowledge.Id}" target="_blank" id="theLink">View Details</apex:outputLink>
                    </apex:column>
<!--                    <apex:column headerValue="{!$ObjectType.OCSUGC_Knowledge_Exchange__c.Fields.OCSUGC_Content_Sensitivity__c.Label}">-->
<!--                        <apex:outputText value="{!knowledge.OCSUGC_Content_Sensitivity__c}"/>-->
<!--                    </apex:column>-->
                    <apex:column headerValue="Action" rendered="{!IsAdmin}">
                        <apex:commandLink action="{!updateKnowledgeArtifacts}" value="Approve" rerender="idScript,myMsg,pb2" status="actionStatusKnowledge" oncomplete="showAlert();">
                            <apex:param value="{!knowledge.Id}" assignTo="{!selectedKnowledgeExchangeId}" name="selectedKnowledgeExchangeId"/>
                            <apex:param value="Approved" assignTo="{!artifactStatus}" name="artifactStatus"/>
                        </apex:commandLink>
                        &nbsp;/&nbsp;
                        <apex:commandLink action="{!assignSelectedKnowledgeArtificat}" status="actionStatusKnowledge"
                                          onComplete="sfdcPage.dialogs['SFDCDialog'].importContentNode(document.getElementById('{!divId}'));sfdcPage.dialogs['SFDCDialog'].show(); " value="Reject" rerender="idActionPopupPanelKnowledge">
                            <apex:param value="{!knowledge.Id}" assignTo="{!selectedKnowledgeExchangeId}" name="selectedKnowledgeExchangeId"/>
                            <apex:param value="Rejected" assignTo="{!artifactStatus}" name="artifactStatus"/>
                        </apex:commandLink>
                        &nbsp;
                        <apex:actionStatus id="actionStatusKnowledge">
                             <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px" height="17px"/></apex:facet>
                             <apex:facet name="stop" />
                        </apex:actionStatus>
                    </apex:column>
                </apex:pageBlockTable>
                <div>
                    <table width="100%">
                        <tr>
                            <td style="color:#818281;font-size:16px;">&nbsp;</td>
                            <td style="float: right;vertical-align: middle;font-size: 15px;">
                                <div id="PaginationUp1" class="pagination">
                                    <apex:commandLink id="first01" action="{!conKA.First}" reRender="pb2" status="status" style="{!IF(conKA.hasPrevious,'background: none;','background: lightgray;')}">&#60;&#60;</apex:commandLink>
                                    <apex:commandLink id="previousUp01" action="{!conKA.Previous}" reRender="pb2" status="status" style="{!IF(conKA.hasPrevious,'background: none;','background: lightgray;')}">&#60;</apex:commandLink>
                                    <apex:commandLink id="nextUp01" action="{!conKA.Next}" reRender="pb2" status="status" style="{!IF(conKA.hasNext,'background: none;','background: lightgray;')}">&#62;</apex:commandLink>
                                    <apex:commandLink id="last01" action="{!conKA.Last}" reRender="pb2" status="status" style="{!IF(conKA.hasNext,'background: none;','background: lightgray;')}">&#62;&#62;</apex:commandLink>
                                </div>
                            </td>
                        </tr>
                     </table>
                </div>
            </apex:outputPanel>
        </apex:form>
        <div style="display: none;">
        <apex:outputPanel id="idActionPopupPanelKnowledge">
                <apex:form id="frmn">

                <div class="RejectionReasonKnowledge">
                    <br/>
                    <b style="vertical-align: top;">Reason for Rejection:&nbsp;</b>
                    <apex:inputField value="{!selectedKnowledge.OCSUGC_Rejection_Reason__c}" style="width: 250px; height: 70px;"/>
                </div>
                <apex:commandButton value="Save" action="{!updateKnowledgeArtifacts}" oncomplete="hidePopup{!Count}(true);" rerender="idScript,myMsg,{!divId}" status="saveStatusKnowledge"/>
                &nbsp;
                <apex:actionStatus id="saveStatusKnowledge">
                     <apex:facet name="start">&nbsp;<apex:image value="{!$Resource.OCSUGC_Loader}" width="17px" height="17px"/></apex:facet>
                     <apex:facet name="stop" />
                </apex:actionStatus>
                &nbsp;
                <apex:commandButton value="Cancel" onClick="return hidePopup{!Count}(false);" rerender="idScript,myMsg,{!divId}"/>
                </apex:form>
           </apex:outputPanel>
           </div>
    </apex:pageBlock>
       
    </apex:outputPanel>
    
    <!--     Deleted output panel of "Comments by Varian" tab. 30-04-2015    Naresh K Shiwani    T-382725 -->
    
    <apex:outputPanel id="idScript">
        <script>

            function showAlert(){
                window.location.href = '{!$Page.OCSUGC_CommunityUserAdministration}?selectTab=knowledgeArtifactApproval';
            }
            function showSettingTab(){
                window.location.href = '{!$Page.OCSUGC_CommunityUserAdministration}?selectTab=settings';
            }

            function changeStatus(status) {
                jQuery(".RejectionReason").hide();
                jQuery(".GrantAccessComponent").show();
                if(status == 'OCSUGC Rejected') {
                    jQuery(".RejectionReason").show();
                    jQuery(".GrantAccessComponent").hide();
                }
                jQuery(".DisabledReason").hide();
                if(status == '{!$Label.OCSUGC_Disabled_by_Admin}') {
                    jQuery(".DisabledReason").show();
                }
            }

            function showPopup() {
                jQuery(".RejectionReason").hide();
                jQuery(".DisabledReason").hide();
                sfdcPage.dialogs['SFDCDialog'].importContentNode(document.getElementById('{!divId}'));
                sfdcPage.dialogs['SFDCDialog'].show();// show modal popup
                return false;
            }

            function hidePopup{!Count}(vFlag) {
                sfdcPage.dialogs['SFDCDialog'].hide(); // hide modal popup

                var selectTab = 'pendingUsers';
                if('{!currentTab}' == 'Approved') {
                    selectTab = 'existingUsers';
                } else if('{!currentTab}' == 'Disabled') {
                    selectTab = 'disabledUsers';
                } else if('{!currentTab}' == 'Rejected') {
                    selectTab = 'rejectedUsers';
                } else if('{!currentTab}' == 'Pending Approval File') {
                    selectTab = 'knowledgeArtifactApproval';
                } else if('{!currentTab}' == 'Disqualified') {
                    selectTab = 'DisqualifiedUsers';
                }  else if('{!currentTab}' == 'Settings') {
                    selectTab = 'settings';
                }

                if(vFlag && '{!foundError}'=='false') {
                    window.open('{!$Page.OCSUGC_CommunityUserAdministration}?selectTab='+selectTab,'_self');
                }
            } 

        </script>
    </apex:outputPanel>
    
   <!-- 08-08-2015 : Pratz Joshi added code block for ONCO-347.-->  
    <apex:outputPanel >
        <apex:form >
        <apex:pageblock id="pb5" rendered="{!currentTab == 'Settings'}" >
            <apex:pageblockTable value="{!setting1}" var="c" >
              <apex:column headerValue="{!$Label.OCSUGC_Display_Create_Menu_to_Contributors}"  style="width:20px;">        
                <apex:inputCheckbox value="{!c.IsCreateMenuVisible}"/> 
              </apex:column>               
            </apex:pageblockTable>
            
            <apex:pageblockTable value="{!setting2}" var="f">
            <apex:column headerValue="{!$Label.OCSUGC_Enable_Contributors_to_Comment}" style="width:20px;" >        
                <apex:inputCheckbox value="{!f.CanCreateComments}"/> 
                </apex:column>
            </apex:pageblockTable>
            <br/>                                                                   
            <apex:commandButton action="{!SaveSettings}"  value="Save" oncomplete="showSettingTab();"/>                                    
        </apex:pageblock>
        </apex:form>
    </apex:outputPanel>
      
</apex:component>