<apex:component >
<style>
        .standardHeight{
            Height:22px;
        }
        .red{
            background-color:#CC0000;
            color:#000000;
        }
        .POP_LAYER {
            width: 100%;
            position: fixed;
            z-index: 5;
            overflow: hidden;
            left: 0px;
            top: 0px;
            opacity: .4;
            filter: alpha(opacity=40);
            background-color: #CCCCCC;
            text-align: center;
        }

        .POP_LAYER_NONE {
            display:none;
        }

        /* Changed as per PR-08001 starts */
        .imgStatusIE{
           height: 20%;
           margin-left:38.5%;
           margin-top: 13.5%;
           margin-bottom: 15%;
           text-align: center;
           width: auto; vertical-align: bottom;
        }

        .imgStatus{
           height: 20%;
           /*margin-top: 45%;*/
           margin-bottom: 45%;
           text-align: center;
           width: auto; vertical-align: bottom;
        }

        /* Changed as per PR-08001 Ends */

    </style>

    <script>
        function lockScreen(doLock,statusLabel){     // New Method added as per PR-08568
            var detect = navigator.userAgent.toLowerCase();
            var browser = detect.indexOf('msie') + 1;
            if(statusLabel == '{!$Label.OCSUGC_Loading}') {
                document.getElementById('textValue').innerHTML = '';
                $('#imgLoading').show();
                $('#imgUpdating').hide();
            } else {
                document.getElementById('textValue').innerHTML = '&nbsp;' + statusLabel;
                $('#imgLoading').hide();
                $('#imgUpdating').show();
            }
            if(browser!=0){
              document.getElementById('statusImage').className='imgStatusIE';
            }
            if(doLock)
                document.getElementById('hiddenLayer').className='POP_LAYER';
            else
                document.getElementById('hiddenLayer').className='POP_LAYER_NONE';
            return true;
        }
    </script>
    <div id="hiddenLayer" class="POP_LAYER_NONE">
       <!--  Changed as per PR-08001 starts  -->
        <div id="statusImage" class="imgStatus">
            <img id="imgLoading" style="margin-top: 5% !Important;" src="{!URLFOR($Resource.OCSUGC_loading)}" />
            <img id="imgUpdating" style="margin-top: 0% !Important;" src="/img/loading.gif" />
            <label id="textValue" style="color:red; margin-top: 20% !Important;"/>
        </div>
    </div>

    <script>
        function lockScreenWithoutMsg(doLock){

            var detect = navigator.userAgent.toLowerCase();
            var browser = detect.indexOf('msie') + 1;;
            if(browser!=0){
              document.getElementById('statusImage2').className='imgStatusIE';
            }

            if(document.getElementById('hiddenLayer2') != null){
                if(doLock)
                    document.getElementById('hiddenLayer2').className='POP_LAYER';
                else
                    document.getElementById('hiddenLayer2').className='POP_LAYER_NONE';
            }
                return true;
        }
    </script>
    <div id="hiddenLayer2" class="POP_LAYER_NONE" style="height: 800px;">
        <div id="statusImage2" class="imgStatus">
            <img src="{!URLFOR($Resource.OCSUGC_loading)}" />
            <img src="/img/loading.gif" />
        </div>
    </div>
</apex:component>