<apex:component controller="SR_CustHistoryRelatedListComp_Controller">
    <apex:attribute name="ObjectName" description="Object Name" type="SObject" required="true" assignTo="{!myObject}" />
        <apex:pageBlock id="historyTable" title="{!objectLabel} History">
            <apex:pageBlockTable value="{!ObjectHistory}" var="History" >
                <apex:column headerValue="Date"  value="{!History.thedate}"/>
                <apex:column headerValue="User">
                    <apex:outputLink value="/{!History.userId}"> {!History.who} </apex:outputLink> 
                </apex:column>
                <apex:column headerValue="Action"><apex:outputText escape="false" value="{!History.action}"/></apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>
</apex:component>