<!--***************************************************************************
Created By - Rakesh
Created Date - 05/01/2018
Description - STRY0038399 - Email Template for language Turkish
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
*************************************************************************************-->
<apex:component controller="SR_ComponentClass" access="global">

    <apex:attribute name="Turkish" description="Case creation Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
        width:20%;
        position:relative;
    }

    .col2{
        width:80%;
        position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
     
     <tr style="text-align:center;" >
      <td colspan="2">
      <tr><td>
      <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
      </td>
      </tr>
      
       
      
     </td>
     </tr>

    <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->

    <tr style="text-align:left;">
          <td colspan="2">
          <style type="text/css"> 
                p { color:#fff!mportant
                   font-weight: bold;
                   font-size: 75px;
                   size  }
                </style>
        <div style="font-size:15px;">
        <b><span style="color: #0000FF;font-size:15px;"> Talep Numarası:</span></b> {!RecCase.CaseNumber}
     
            
        </div>      
         <br/>
        <br/>
        <br/>Sayın {!RecCase.Contact.Name}, <br/><br/>
        Varian Destek ile iletişime geçtiğiniz için teşekkür ederiz. Aşağıdaki talep isteğiniz üzerine oluşturulmuştur.<br/><b/><br/>
        </td>
    </tr>
    <tr style="text-align:left;" >
      <td colspan="2">

    <b><u><span style ="color:#0000FF;">Talep Bilgileri</span></u></b><br/>
    Durum: Talep Açıldı<br/>
    Ürün: {!RecCase.ProductSystem__r.name} <br/>
    Oluşturulma Tarihi: {!DateToDisplayNA} <br/><br/>


    <b><u><span style ="color:#0000FF;">Konu:</span></u></b><br/>
    {!RecCase.Subject} <br/><br/><br/><br/>

    <br>
    Eğer bir MyVarian hesabınız varsa talebinizi güncellemek veya durumunu görmek için lütfen <a href="{!$Label.portal_creation_redirection_url}{!RecCase.id}@desc">“BURAYA”</a>, tıklayın, veya doğrudan bu e-postayı yanıtlayabilirsiniz. </br>
    
    <br/><br/>
    <div style="text-align:left;"><b>Not:</b> İzninizle, sorun giderme ve çözüme yardımcı olmak için "SmartConnect" uzaktan bağlantı aracını kullanarak sisteminize erişebiliriz.<br/>  
    Bu uzak bağlantı sırasında sizinle iletişim halinde olmak isteriz. Bu uzak bağlantı ile çalışmamız normal çalışma saatlerinizin dışında tamamlanırsa size talebinizi <br/>
    araştırmak ve çözmek için gerçekleştirilen işlemlerin bir özetini göndereceğiz.   
    </div>
      </td>
    </tr>


    </TABLE>
    </apex:component>