<!--***************************************************************************
Created By - Rakesh
Created Date - 05/01/2018
Description - STRY0038399 - Email Template for language Turkish
Change Log:
Date/Modified By Name/Task or Story or Inc # /Description of Change
*************************************************************************************-->
<apex:component controller="SR_ComponentClass" access="global">

    <apex:attribute name="Swedish" description="Case creation Email" type="Id" required="required" assignTo="{!controllerValue}"/>
    <style>
    .col1{
        width:20%;
        position:relative;
    }

    .col2{
        width:80%;
        position:relative;
    }

    </style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
     
     <tr style="text-align:center;" >
      <td colspan="2">
      <tr><td>
      <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
      </td>
      </tr>
      
       
      
     </td>
     </tr>

    <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->

    <tr style="text-align:left;">
          <td colspan="2">
          <style type="text/css"> 
                p { color:#fff!mportant
                   font-weight: bold;
                   font-size: 75px;
                   size  }
                </style>
        <div style="font-size:15px;">
        <b><span style="color: #0000FF;font-size:15px;"> Ärende nummer</span></b> {!RecCase.CaseNumber}
     
            
        </div>      
         <br/>
        <br/>
        <br/>Kära {!RecCase.Contact.Name}, <br/><br/>
        Tack för att ni kontakter Varian. Fölgande Ärende har skapats på era vägnar.<br/><b/><br/>
        </td>
    </tr>
    <tr style="text-align:left;" >
      <td colspan="2">

    <b><u><span style ="color:#0000FF;">Ärende Information</span></u></b><br/>
    Status: Ärende öppen<br/>
    Produkt: {!RecCase.ProductSystem__r.name} <br/>
    Upprättad datum: {!DateToDisplayNA} <br/><br/>


    <b><u><span style ="color:#0000FF;">Ämne:</span></u></b><br/>
    {!RecCase.Subject} <br/><br/><br/><br/>

    <br>
    Om du har ett MyVarian konto och önskar en updatering eller se status på ditt ärende tryck på <a href="{!$Label.portal_creation_redirection_url}{!RecCase.id}@desc">“View Case”</a>, annars kan du svara direkt på detta email. </br>
    
    <br/><br/>
    <div style="text-align:left;"><b>Note:</b> Med din tilllåtelse vill vi evt ansluta till erat system med användning av fjärranslutningsverktyget "Smartconnect" för att göra felsökning och få en lösning på problemmet.<br/>  
    Det er vor intention att ha kontakt med er under tiden vi har fjärruppkoblingen igång  Om det blir så att vi först blir klara utanför vanlig kontors tid då  <br/>
    vill vi skicka en sammanställning med det som har gjorts för att undersöka och lösa erat ärende.   
    </div>
      </td>
    </tr>


    </TABLE>
    </apex:component>