<apex:component controller="SR_ComponentClass" access="global">

<apex:attribute name="Italian" description="Case creation Email" type="Id" required="required" assignTo="{!controllerValue}"/>
<style>
.col1{
    width:20%;
    position:relative;
}

.col2{
    width:80%;
    position:relative;
}

</style>


    <table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
     
     <tr style="text-align:center;" >
      <td colspan="2">
      <tr><td>
      <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
      </td>
      </tr>
      
       
      
     </td>
     </tr>

    <!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->

    <tr style="text-align:left;">
          <td colspan="2">
          <style type="text/css"> 
                p { color:#fff!mportant
                   font-weight: bold;
                   font-size: 75px;
                   size  }
                </style>
        <div style="font-size:15px;">
        <b><span style="color: #0000FF;font-size:15px;"> Número di caso:</span></b> {!RecCase.CaseNumber}
     
            
        </div>      
         <br/>
        <br/>
        <br/>Gentile  {!RecCase.Contact.Name}, <br/><br/>
        Grazie per aver contattato il supporto tecnico Varian. 
In riferimento alla sua segnalazione è stato aperto il seguente Caso

<br/><b/><br/>
        </td>
    </tr>
    <tr style="text-align:left;" >
      <td colspan="2">

    <b><u><span style ="color:#0000FF;">Informazioni</span></u></b><br/>
    Stato: Caso Aperto<br/>
    Prodotto: {!RecCase.ProductSystem__r.name} <br/>
    Data apertura: {!DateToDisplay} <br/><br/>


    <b><u><span style ="color:#0000FF;">Oggetto:</span></u></b><br/>
    {!RecCase.Subject} <br/><br/><br/><br/>

    <br>
    Qualora avesse un'utenza MyVarian e volesse visualizzare o aggiornare lo stato del suo Caso la preghiamo di cliccare 
<a href="{!$Label.portal_creation_redirection_url}{!RecCase.id}@desc">“Visualizza Caso”</a>, oppure di rispondere direttamente a questa email.
La preghiamo di non utilizzare l’indirizzo email della presente per altre comunicazioni.
 
 </br>
    
    <br/><br/>
    <div style="text-align:left;"><b>Nota:</b> A seguito Sua autorizzazione Varian potrebbe accedere al Vs sistema da remoto tramite lo strumento "SmartConnect" e aiutarla così nella risoluzione del  problema.<br/>  
    E’ nostra intenzione in ogni caso rimanere in comunicazione con voi durante questa connessione remota.
In caso di connessione remota al di fuori dell'orario di lavoro le sarà inviata una email di riepilogo con il dettaglio di quanto verificato e delle azioni compiute per la risoluzione del caso.


  
    </div>
      </td>
    </tr>


    </TABLE>
    </apex:component>