<apex:component controller="SR_ComponentClass" access="global">

<apex:attribute name="German" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
<style>
.col1{
    width:20%;
    position:relative;
}

.col2{
    width:80%;
    position:relative;
}

</style>

<table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
 
 <!--<tr style="text-align:center;" >
  <td colspan="2"><apex:image value="{!$Label.Varian_Partner_for_life_logo}" width="100%" />
 </td>
 </tr>-->

 <tr style="text-align:center;" >
      <td colspan="2">
      <tr><td>
      <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
      </td>
      </tr>
      </td>
     </tr>
<!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
<tr style="text-align:left;">
  <td colspan="2"> 
  <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
<b><span style="color: #0000FF;font-size:15px;"> Case Number:</span> {!RecCase.CaseNumber}</b>
 <br/><br/><br/>
Sehr geehrte(r) Frau/Herr  {!RecCase.Contact.Name},   <br/><br/>
vielen Dank, dass Sie Varian Medical Systems kontaktiert haben. 
Mit dieser Email möchten wir Ihnen mitteilen, dass wir Ihren Fall geschlossen haben.

Ihre Meinung ist uns wichtig!   <br/><br/>

Wir möchten uns stetig verbessern, daher sind wir auf Ihr Feedback angewiesen. 
Nutzen Sie bitte diesen Link 
  
 <!-- <b> <a href="http://survey.clicktools.com/go?iv=3sf81tpr32x7q&q1={!RecCase.contactid}&q2={!RecCase.Contact.Email}&q3={!RecCase.accountid}&q4={!RecCase.id}&q5={!RecCase.Subject}&q6={!RecCase.ClosedDate}&q7={!RecCase.ClosedBy__r.Name}&q8={!RecCase.ClosedBy__r.Managerid}&q9={!RecCase.ProductSystem__r.SVMXC__Product__r.Name}">Click Here</a></b> -->
 <b> <a href="http://survey.clicktools.com/app/survey/go.jsp?iv=kwq3i6j8bnyd&q1={!RecCase.contactid}&q2={!RecCase.Contact.Email}&q3={!RecCase.accountid}&q4={!RecCase.id}&q5={!RecCase.Subject}&q6={!RecCase.ClosedDate}&q7={!RecCase.ClosedBy__r.Name}&q8={!RecCase.ClosedBy__r.Managerid}&q9={!RecCase.ProductSystem__r.SVMXC__Product__r.Name}&language={!RecCase.Contact.Language_ISOCode__c}">Click Here</a></b>
  um uns Ihre Meinung mitzuteilen. 
<apex:outputPanel rendered="{!Service}">
<b> <a href="http://survey.clicktools.com/go?iv=c2x291q4bryw&q1={!RecCase.contactid}&q2={!RecCase.accountid}&q3={!RecCase.CaseNumber}&q4={!RecCase.Id}&q5={!RecCase.ClosedBy__c}&q6={!RecCase.ProductSystem__c}&language={!RecCase.SVMXC__Site__r.ERP_Default_Preferred_Language_Code__c}"></a></b>to take a short survey.</apex:outputPanel>  <br/><br/>  <!-- DE3449, Update from SVMXC__Top_Level__c to ProductSystem__c-->

 </td>
</tr>

<tr style="text-align:Left;" >
  <td colspan="2">
<!--<b><u>Case Information</u></b><br/>-->







<b><u><span style ="color:#0000FF;">Fall Information</span></u></b><br/>
Aktueller Stand: Fall abgeschlossen <br/>
Produkt: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
Erstellungsdatum: {!DateToDisplay} <br/>
Mitarbeiter: {!RecCase.Owner.Name}<br/><br/><br/>












<!--<b><u>Subject:</u></b><br/>-->
<b><u><span style ="color:#0000FF;">Fall-Titel:</span></u></b><br/>

{!RecCase.Subject} <br/><br/>


<!--<b><u>Summary:</u></b>-->
<b><u><span style ="color:#0000FF;">Zusammenfassung:</span></u></b> <br/><br/>
<apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/><br/>

Sollten wir die oben angegebene Angelegenheit nicht zu Ihrer Zufriedenheit gelöst haben, nutzen Sie bitte diesen Link  <b><a href="{!$Label.portal_redirection_url}"><U>Click Here</u></a></b> sofern Sie über einen MyVarian Account verfügen, um einen neuen Fall mit Referenz zum vorhergehenden zu generieren.
<br/>
Sollten Sie nicht über einen MyVarian Account verfügen, antworten Sie bitte direkt auf diese Email und wir werden die entsprechenden Schritte einleiten. 
 
<br/><br/>







<div style="text-align:left;">


</div>
  </td>
</tr>


</TABLE>
</apex:component>