<apex:component controller="SR_English_TestSR_Class" access="global" >

<apex:attribute name="RcontactId" description="Case Closure Email" type="Id" required="required" assignTo="{!contactId}"/>
<style>
.col1{
    width:20%;
    position:relative;
}
.col2{
    width:80%;
    position:relative;
}
</style>
<table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
    <tr style="text-align:center;" >
      <td colspan="2">
      <tr>
      <td>
      <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
      </td>
      </tr>
      </td>
    </tr>
<tr style="text-align:left;">
    <td colspan="2"> 
    <br/><br/><br/>
Dear<b> {!RecContact.Name},</b>   <br/><br/>

Your feedback is important to us. To help us learn how best to serve you in the future, please  
   <!-- <b><a href="http://survey.clicktools.com/app/survey/go.jsp?iv=3l9s8bsjw8d3r&q1={!RecContact.id}&q2={!RecContact.Firstname}&q3={!RecContact.Lastname}&q4={!RecContact.Local_language_Name__c}&q5={!RecContact.Email}&q6={!RecContact.Phone}&q7={!RecContact.Functional_Role__c}&q8={!RecContact.account.name}&q9={!RecContact.account.billingcity}&q10={!RecContact.account.billingcountry}&q11={!RecContact.account.billingstate}&q12={!RecContact.Territory__c}&q22={!RecContact.Preferred_Language1__c}">Click Here</a></b> to take a short survey. -->   
   <b><a href="http://survey.clicktools.com/app/survey/go.jsp?iv=3l9s8bsjw8d3r&q1={!RecContact.id}&q8={!RecContact.account.name}&q22={!RecContact.Preferred_Language1__c}">Click Here</a></b> to take a short survey.  
   
   <br/>
    </td>
</tr>
<br/>
If you feel not to receive further Emails, please click here to <b> <a href="http://survey.clicktools.com/app/survey/go.jsp?iv=337egww2po7n4&q1={!RecContact.Email}&q2={!RecContact.id}&q3={!RecContact.Relationship_Survey_Opt_Out__c}">Unsubscribe</a></b>
<br/><br/>
Thank you.
<div style="text-align:left;">
</div>
</TABLE>
</apex:component>