<apex:component controller="SR_OOTVFEmailTemplateCompController" access="global">
    <apex:attribute name="cId" description="case  Id" type="String" required="required" assignTo="{!caseId}"/>
    <apex:repeat value="{!caseWorkOrders}" var="cw"> {!cw.Name},</apex:repeat>
</apex:component>