<apex:component controller="SR_ComponentClass" access="global">

<apex:attribute name="Polish" description="Case Closure Email" type="Id" required="required" assignTo="{!controllerValue}"/>
<style>
.col1{
    width:20%;
    position:relative;
}

.col2{
    width:80%;
    position:relative;
}

</style>


<table border="0" style="background-color : #FFFFFF;width:100%;font-size:13px; font-family:arial;" cellpadding="2" cellspacing ="0">
 
 <!--<tr style="text-align:center;" >
  <td colspan="2"><apex:image value="{!$Label.Varian_Partner_for_life_logo}" width="100%" />
 </td>
 </tr>-->

 <tr style="text-align:center;" >
      <td colspan="2">
      <tr><td>
      <apex:image value="{!$Label.VarianCustomerSupport}" style="width:90%;" id="LogoImage"/>
      </td>
      </tr>
      </td>
     </tr>
<!--apex:image value="{!$Label.Varian_Partner_for_life_logo}"  style="width:auto;" / background-image:url({!$Label.Varian_Partner_for_life_logo});-->
<tr style="text-align:left;">
  <td colspan="2"> 
  <!--<b>Case Number: {!RecCase.CaseNumber}</b><br/>-->
<b><span style="color: #0000FF;font-size:15px;"> Numer zgłoszenia:</span> {!RecCase.CaseNumber}</b>
 <br/><br/><br/>
Szanowna/y {!RecCase.Contact.Name},   <br/><br/>
Dziękujemy za kontakt. Pragniemy poinformować o zakończeniu przesłanego zgłoszenia. <br/><br/>

Twoja opinia jest dla nas ważna. Aby pomóc nam dowiedzieć się jak ulepszyć nasze usługi, kliknij  
 <b> <a href="http://survey.clicktools.com/go?iv=3sf81tpr32x7q&q1={!RecCase.contactid}&q2={!RecCase.Contact.Email}&q3={!RecCase.accountid}&q4={!RecCase.id}&q5={!RecCase.Subject}&q6={!RecCase.ClosedDate}&q7={!RecCase.ClosedBy__r.Name}&q8={!RecCase.ClosedBy__r.Managerid}&q9={!RecCase.ProductSystem__r.SVMXC__Product__r.Name}&language={!RecCase.Contact.Language_ISOCode__c}">tutaj</a></b>, 
<apex:outputPanel rendered="{!Service}">
<b> <a href="http://survey.clicktools.com/go?iv=c2x291q4bryw&q1={!RecCase.contactid}&q2={!RecCase.accountid}&q3={!RecCase.CaseNumber}&q4={!RecCase.Id}&q5={!RecCase.ClosedBy__c}&q6={!RecCase.ProductSystem__c}&language={!RecCase.SVMXC__Site__r.ERP_Default_Preferred_Language_Code__c}}"></a></b>aby wypełnić krótką ankietę.</apex:outputPanel>  <br/><br/>  <!-- DE3449, Update from SVMXC__Top_Level__c to ProductSystem__c-->

 </td>
</tr>

<tr style="text-align:Left;" >
  <td colspan="2">
<!--<b><u>Case Information</u></b><br/>-->







<b><u><span style ="color:#0000FF;">Informacja o zgłoszeniu</span></u></b><br/>
Status: Case Closed <br/>
Produkt: {!RecCase.ProductSystem__r.name}<br/>   <!-- DE3449, Update from SVMXC__Top_Level__r to ProductSystem__r-->
Utworzone dnia: {!DateToDisplayNA} <br/>
Opiekun zgłoszena: {!RecCase.Owner.Name}<br/><br/><br/>












<!--<b><u>Subject:</u></b><br/>-->
<b><u><span style ="color:#0000FF;">Temat:</span></u></b><br/>

{!RecCase.Subject} <br/><br/>


<!--<b><u>Summary:</u></b>-->
<b><u><span style ="color:#0000FF;">Podsumowanie:</span></u></b> <br/><br/>
<apex:outputtext value="{!RecCase.Local_Case_Activity__c}" escape="false" /><br/><br/>

Jeśli uważają Państwo, iż zgłoszenie zostało błędnie zakończone, prosimy <b><a href="{!$Label.portal_redirection_url}"><U>kliknąć tutaj</u></a></b> aby stworzyć nowe zgłoszenie za pośrednictwem Państwa konta MyVarian.
<br/>
Jeśli nie posiadają Państwo konta MyVarian, prosimy o odpowiedź na poniższego maila, abyśmy mogli podjąć odpowiednie kroki. 
 
<br/><br/>







<div style="text-align:left;">


</div>
  </td>
</tr>


</TABLE>
</apex:component>