<apex:component controller="vf_timeChooser">
<apex:attribute type="SR_TimeCard_Controler" name="Pagevalatt" description="Values from page to Component" assignTo="{!pageval}"/>
<apex:attribute type="String" name="TimeVal" description="Component type" assignTo="{!Componentype}"/>
<apex:attribute name="Hourvalue" type="Integer" description="Hours" assignTo="{!Hourval}"/>
<apex:attribute name="Minvalue" type="Integer" description="Mins" assignTo="{!Minval}"/>
<apex:attribute name="IdValue" type="String" description="Id of the component" assignTo="{!idfromcontroller}"/>
<apex:attribute name="AMORPMatt" type="String" description="AM/PM of the component" assignTo="{!amOrPM}"/>
  <apex:includeScript value="{!URLFOR($Resource.JMaskInput, '/JMaskInput/jquery-2.1.1.min.js')}"  />
    <head>
        <script type="text/javascript">
        $j = jQuery.noConflict();
        $j(document).ready(function() {
            var compontclass = '.upButton' + '{!idfromcontroller}';
            $j(compontclass).click(function(){
                var strName = this.id;
                //alert('strName'+strName);
                strName  = strName.substring(8);
                //strName  = "[id$=data" + strName + '{!idfromcontroller}' + "]" ;
                var idvariable;
                if(strName == '11' || strName == '12')
                    idvariable = '.' + 'data1' + '{!idfromcontroller}';
                else if(strName == '21' || strName == '22')
                    idvariable = '.' + 'data2' + '{!idfromcontroller}';
                else if(strName == '31' || strName == '32')
                    idvariable = '.' + 'data3' + '{!idfromcontroller}';
                //alert('idvariable'+idvariable);
                var retVal;
                var val = $j(idvariable).val();
                //alert('val'+val);
                if(val == ''){
                    val = '1';
                }
                if(strName == '31' || strName == '32') {
                    if(val == 'AM')
                        retVal = 'PM';
                    else    
                        retVal = 'AM';
                } else if(strName == '21' || strName == '22') {
                    retVal = parseInt(val,10) + 1;
                    //alert('retVal'+retVal + '---' + val + '----' + parseInt(val));
                    if(retVal >= 59)
                        retVal = 00;
                    if(retVal < 10)
                        retVal = "0" + retVal;
                } 
                else {
                    retVal = parseInt(val) + 1;
                    if(retVal > 12)
                       retVal = 01;
                    if(retVal == 12)
                    {
                        var ampmid = '.'+'data3'+ '{!idfromcontroller}';
                        if($j(ampmid).val() == 'AM')
                        {
                            $j(ampmid).val('PM');
                            $j('.data32').val('PM');
                        }
                        else
                        {
                            $j('.data32').val('AM');
                                
                        }
                    }
                    
                }
                //alert('retVal'+retVal);
                $j(idvariable).val(retVal);
                //alert('{!idfromcontroller}');
                if('{!idfromcontroller}' == '1')
                {
                    idvariable = idvariable.substring(0,6) + '2';
                    //alert(idvariable);
                    $j(idvariable).val(retVal);
                }
                //alert(strName);
            });
            
            // for down arrow
            var compontclassdwn = '.downButton' + '{!idfromcontroller}';
            $j(compontclassdwn).click(function(){
                var strName = this.id;
                strName  = strName.substring(10);
                //strName  = "[id$=data" + strName + '{!idfromcontroller}' + "]" ;
                var idvariable;
                if(strName == '11' || strName == '12')
                    idvariable = '.' + 'data1' + '{!idfromcontroller}';
                else if(strName == '21' || strName == '22')
                    idvariable = '.' + 'data2' + '{!idfromcontroller}';
                else if(strName == '31' || strName == '32')
                    idvariable = '.' + 'data3' + '{!idfromcontroller}';
                //alert('ABC' + idvariable); // .data21
                //alert('ABCMyCode' + strName); //21
                var retVal;
                var val = $j(idvariable).val();
                if(strName == '31' || strName == '32') {
                    if(val == 'AM')
                        retVal = 'PM';
                    else    
                        retVal = 'AM';
                } else if(strName == '21' || strName == '22') {
                    if(val <= 0)
                        retVal = 59;
                    else {
                        retVal = parseInt(val,10) - 1;
                        if(retVal <= -1)
                            retVal = 00;
                    }
                    if(retVal < 10)
                        retVal = "0" + retVal;
                } 
                else {
                    if(val <= 0)
                        retVal = 12;
                    else {
                        retVal = parseInt(val) - 1;
                        if(retVal <= 0)
                            retVal = 12;
                    }
                }
                $j(idvariable).val(retVal);
                //alert(strName);
                if('{!idfromcontroller}' == '1')
                {
                    idvariable = idvariable.substring(0,6) + '2';
                    //alert(idvariable);
                    $j(idvariable).val(retVal);
                }
            });
            
            var dataClass1 = '.data1' + '{!idfromcontroller}';
            $j(dataClass1).keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                //if ($j.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                if ($j.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                     // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) || 
                     // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                         // let it happen, don't do anything
                         return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
                return;
            });
            $j(dataClass1).keyup(function (e) {
                var val = $j(this).val();
                var strname = this.id; //alert(val);
                strname  = strname.substring(12);
                strname  = "[id$=" + strname + "]" ; 
                var retVal = parseInt(val);
                if(strname = '[id$=data1]' && retVal > 12 )
                {
                    $j(this).val(12);
                }
                return;
            });
            
            // for 99 and above
            var dataClass2 = '.data2' + '{!idfromcontroller}';
            $j(dataClass2).keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                //if ($j.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                if ($j.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                     // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) || 
                     // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                         // let it happen, don't do anything
                         return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) ) {
                   e.preventDefault();
                }
                return;
            });
            $j(dataClass2).keyup(function (e) {
                var val = $j(this).val();
                var strname = this.id; //alert(val);
                strname  = strname.substring(12);
                strname  = "[id$=" + strname + "]" ; 
                var retVal = parseInt(val);
                if(strname = '[id$=data2]' && retVal > 59)
                {
                    $j(this).val(59);
                }
                return;
            });
            // onready
            var comid = '.data2'+ '{!idfromcontroller}';
            var vetVal = $j(comid).val();
            //var vetVal2 = $j('.data22').val();
            //alert(vetVal);//+ '---' + vetVal2);
            if(vetVal < 10)
                vetVal = "0" + vetVal;
            /*if(vetVal2 < 10)
                vetVal2 = "0" + vetVal2; */
            $j(comid).val(vetVal);
            //$j('.data22').val(vetVal);
        });


    </script>
    
        <style>
        .downButton {
            appearance: button;
            -moz-appearance: button;
            
            text-decoration: none; 
            font: menu; 
            color: Gray;
            
            width: 15px;
            height: 10px;
            text-align:center; 
            vertical-align:middle;
        }
        .upButton {
            appearance: button;
            -moz-appearance: button;
            
            text-decoration: none; 
            font: menu; 
            color: Gray;
           
            width: 15px;
            height: 10px;
            text-align:center; 
            vertical-align:middle;
        }
        .data {
            text-decoration: none; 
            font: menu; 

            color: black;



            width: 20px;
            height: 15px;
            border-style: solid;
            border-color: gray;
            text-align:center; 
            vertical-align:middle;
        }
        .data1 {
            text-decoration: none; 
            font: menu; 

            color: black;



            width: 20px;
            height: 15px;
            border-style: solid;
            border-color: gray;
            text-align:center; 
            vertical-align:middle;

        }
        .table {
            border-style: solid;

        }
    </style>

    </head>
    <apex:outputPanel layout="block" style="position:relative;">    
        <table class="table" cellspacing="1" cellpadding = "0">
            <tr>
                <td class="upButton{!idfromcontroller}" id="upButton1{!idfromcontroller}">

                    <apex:image url="{!$Resource.UpArrow}" width="15px" height="13px"/>
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="upButton{!idfromcontroller}" id="upButton2{!idfromcontroller}">

                   <apex:image url="{!$Resource.UpArrow}" width="15px" height="13px"/>
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="upButton{!idfromcontroller}" id="upButton3{!idfromcontroller}">

                    <apex:image url="{!$Resource.UpArrow}" width="15px" height="13px"/>
                </td>
            </tr>
            <tr>
                <td>                                      
                    <apex:inputtext styleclass="data1{!idfromcontroller}" value="{!Hourval}" maxlength="2" id="data1" style="width:20px;height: 15px;"/><!-- id="{!idfromcontroller}" -->
                </td>
                <td>
                    :
                </td>
                <td>                                      
                    <apex:inputtext value="{!Minval}" styleclass="data2{!idfromcontroller}" maxlength="2" id="data2" style="width:20px;height: 15px;"/><!-- id="data2{!idfromcontroller}" -->
                </td>
                <td>
                    :
                </td>
                <td>
                    <!-- input type="text" class="data3{!idfromcontroller}" id="data3{!idfromcontroller}" readonly="readonly" style="width:20px;height:15px;" value="{!amOrPM}"/ -->
                    <apex:inputtext value="{!amOrPM}" styleclass="data3{!idfromcontroller}" maxlength="2" id="data3" style="width:20px;height:15px;"/>
                </td>
            </tr>
            <tr>
                <td class="downButton{!idfromcontroller}" id="downButton1{!idfromcontroller}">

                    <apex:image url="{!$Resource.DownArrow}" width="15px" height="13px"/>
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="downButton{!idfromcontroller}" id="downButton2{!idfromcontroller}">

                    <apex:image url="{!$Resource.DownArrow}" width="15px" height="13px"/>
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="downButton{!idfromcontroller}" id="downButton3{!idfromcontroller}">

                    <apex:image url="{!$Resource.DownArrow}" width="15px" height="13px"/>
                </td>
            </tr>
        </table>   
  
    </apex:outputPanel>
</apex:component>