<apex:component controller="SR_Class_WorkOrderDetailPDF" access="global" language="{!Language}">
<apex:attribute name="recordid" description="work oder Id" assignTo="{!workorderid}" type="string" access="global" />
 <head>

        <style type="text/css">
    
            @page{ 
                         
                @bottom-left{ 
                    font-family:Arial;
                    font-size:11px;
                    font-weight:bold;
                    content: "{!$label.SR_Page} "  counter(page) " of " counter(pages);
                } 
            }
            @page{ 
                @bottom-right{ 
                    font-family:Arial;
                    font-size:11px;
                    font-weight:bold;
                    content:  "© Copyright VMS";
                } 
                @top-left{ 
                    font-family:Arial;
                    font-size:11px;
                    font-weight:bold;
                    content:  "FSR_8101330984_UPMC Beacon Hospital";
                } 
            }
        </style>
        <!-- Script used to show page number on pdf ends here-->  
    
    </head>
    <html>
        <body>
           <!-- <div >-->
                <table width="100%" style="background-color:#D8D8D8;">
                    <tr>
                        <td style="font-size:10px;" width="40%">
                            <img src="{!$Resource.VarianLogo}" style="vertical-align:left" width="110" height="50"/> <br/>
                            V.M.S UK LTD. Services<br/>
                            Gatwick Road<br/>
                            Crawley  SW<br/>
                            GB       RH10  9RG<br/>
                        </td>
                        <td style="font-weight:bold;font-size:15px;" align="center" valign="top" width="30%" >
                            Service Report
                        </td>
                        <td  align="left"   width="30%">
                            <font style="font-weight:bold;font-size:12px;" >FSR #</font><br/>
                            GB0814-SHAN-9A3C6E
                        </td>
                    </tr>
                    </table>
                <table border="2" width="100%">
                    <tr>
                        <td  width="50%" style="font-size:12px;">
                        <font style="font-weight:bold;background-color:#D8D8D8;"><apex:outputlabel value="{!$Label.SR_Notification_No}"/>&nbsp;&nbsp;&nbsp;&nbsp;</font> {!workorder.SVMXC__Case__r.CaseNumber}
                        
                        </td>
                    
                        <td  width="50%" style="font-size:12px;">
                           <font style="font-weight:bold;background-color:#D8D8D8;width=20%;">{!$label.SR_PO_Number}&nbsp;&nbsp;&nbsp;&nbsp;</font> {!workorder.Purchase_Order_Number__c}
                        </td>
                    </tr>
                    <tr>
                        <td  width="50%" style="font-size:12px;">
                        <font style="font-weight:bold;background-color:#D8D8D8;width=20%;">{!$label.SR_Request_Date}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font> {!workorder.SVMXC__Case__r.CreatedDate}
                        
                        </td>
                        <td  width="50%" style="font-size:12px;">
                           <font style="font-weight:bold;background-color:#D8D8D8;">{!$label.SR_EventDate}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>07/16/2013  12:00:00 AM
                        </td>
                    </tr>
                    <tr>
                        <td  width="50%" style="font-size:12px;">
                        <font style="font-weight:bold;background-color:#D8D8D8;width=20%;">{!$label.SR_Field_Engineer}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font> {!workorder.SVMXC__Preferred_Technician__r.Name}
                        
                        </td>
                        <td  width="50%" style="font-size:12px;">
                           <font style="font-weight:bold;background-color:#D8D8D8;">{!$label.SR_Assisted_FE}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td  width="50%" colspan="2" style="font-size:12px;">
                        <font style="font-weight:bold;background-color:#D8D8D8;width=20%;">{!$label.SR_Customer}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>{!workorder.SVMXC__Company__r.Name}
                        
                        </td>
                    </tr>
                </table >
                <table width="100%" border="2" cellSpacing="0">
                <tr style="background-color:#D8D8D8;">
                    <td width="50%" style="font-size:12px;font-weight:bold;">
                        {!$label.SR_Equipment_Id}
                    </td>
                    <td width="50%" style="font-size:12px;font-weight:bold;">
                        {!$label.SR_Equipment_Name}
                    </td>
                </tr> 
                <tr >
                    <td width="50%" style="font-size:12px;">
                        H273168
                    </td>
                    <td width="50%" style="font-size:12px;">
                        CL-DMX
                    </td>
                </tr>
                 <tr style="background-color:#D8D8D8;">
                    <td width="50%" style="font-size:12px;font-weight:bold;">
                         {!$label.SR_Notification_Equipment_Id}
                    </td>
                    <td width="50%" style="font-size:12px;font-weight:bold;">
                        {!$label.SR_Notification_Equipment_Name}
                    </td>
                </tr> 
                <tr >
                    <td width="50%" style="font-size:12px;">
                        {!workorder.SVMXC__Top_Level__r.Name}
                    </td>
                    <td width="50%" style="font-size:12px;">
                        {!workorder.SVMXC__Top_Level__r.SVMXC__Product_Name__c}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>          
                </table>
                <table width="100%" style="font-size:12px;" border="1">
                    <tr style="font-weight:bold;background-color:#D8D8D8;">
                        <td width="100%" >
                        {!$label.SR_Reason_For_call}
                        </td>
                    </tr>
                    <tr >
                        <td width="100%">
                        {!workorder.SVMXC__Case__r.Reason}
                        </td>
                    </tr>
                    
                </table>
                <table border="1" width="100%" style="font-size:12px;" cellSpacing="0">
                    <tr style="font-weight:bold;background-color:#D8D8D8;">
                        <td>
                            {!$label.SR_High_Voltage_Hours}
                        </td>
                        <td>
                             {!$label.SR_Heaters_Hours}
                        </td>
                        <td>
                            {!$label.SR_Exposure_Counter}
                        </td>
                    </tr>
                    <tr>
                        <td>
                           10 
                        </td>
                        <td>
                         {!workorder.Heater_Hours__c}   
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </table>
                <table border="1" width="100%" style="font-size:12px;" cellSpacing="0">
                    <tr style="font-weight:bold;background-color:#D8D8D8;">
                        <td>
                            {!$label.SR_Corrective_Action_Comments}
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                           Replaced KVS Arm arm elbow motor B503104R01 set belt tension and recalibrated KVS arms due to recent issues<br/>
                           with KVS arm dropping intermittently when acquiring scans.<br/><br/>
                           Changed KVD Motor driver board B 40166R02 due to recent intermittent motor driver voltage errors.<br/><br/>
                           Unchecked the "Acquire dark field after interval" check box in OBI maintenance mode detector<br/><br/>
                           configuration settings due to intermittent white screen errors when acquiring scans.
                           
                        </td>
                        
                    </tr>
                </table>
                <table width="100%" border="1" style="font-size:12px;" cellSpacing="0">
                    <tr style="font-weight:bold;background-color:#D8D8D8;">
                        <td colspan="4">
                        {!$label.SR_Times_on_site}
                        </td>
                    </tr>
                    <tr style="font-weight:bold;background-color:#FAFAFA;">
                        <td width="25%">
                        {!$label.SR_Request_Date}
                        </td>
                        <td width="25%">
                        {!$label.SR_Time_In}
                        </td>
                        <td width="25%">
                        {!$label.SR_Time_Out}
                        </td>
                        <td width="25%">
                        {!$label.SR_Hours}
                        </td>
                    </tr> 
                    <apex:repeat value="{!Workdetails}" var="workdetail">
                    <tr >
                        <td width="25%">
                            <apex:outputText value="{0,date,yyyy'/'mm'/'dd}">
                                <apex:param value="{!workdetail.SVMXC__Date_Requested__c}" /> 
                            </apex:outputText>
                        </td>
                        <td width="25%">
                       <apex:outputText value="{0,date,HH:mm:ss z}">
                           <apex:param value="{!workdetail.SVMXC__Start_Date_and_Time__c}" />
                       </apex:outputText>
                        </td>
                        <td width="25%">
                        <apex:outputText value="{0,date,HH:mm:ss z}">
                           <apex:param value="{!workdetail.SVMXC__End_Date_and_Time__c}" />
                       </apex:outputText>
                        </td>
                        <td width="25%">
                          3.50
                        </td>
                    </tr> 
                    </apex:repeat>
                    <!--<tr style="font-weight:bold;background-color:#FAFAFA;">
                        <td width="25%">
                        Total Non-chargable hours
                        </td>
                        <td width="25%">
                        Total travel hours
                        </td>
                        <td width="25%">
                        Total work hours
                        </td>
                        <td width="25%">
                        Total site hours
                        </td>
                    </tr> 
                    <tr >
                        <td width="25%">
                        0.00
                        </td>
                        <td width="25%">
                        2:00
                        </td>
                        <td width="25%">
                        3.50
                        </td>
                        <td width="25%">
                        3.50
                        </td>
                    </tr> -->  
                </table>
                
                
                <table width="100%" border="1" style="font-size:12px;" cellSpacing="0">
                    <tr style="font-weight:bold;background-color:#D8D8D8;">
                        <td colspan="6">
                        {!$label.SR_Equipment_Serviced}
                        </td>
                    </tr>
                    <tr style="font-weight:bold;background-color:#E6E6E6;">
                        <td width="17%">
                        {!$label.SR_Sub_Equipment}
                        </td>
                        <td width="17%">
                         {!$label.SR_System}
                        </td>
                        <td width="17%">
                        {!$label.SR_Sub_System}
                        </td>
                        <td width="16%">
                        {!$label.SR_Request_Date}
                        </td>
                        <td width="16%">
                        {!$label.SR_Hours}
                        </td>
                        <td width="16%">
                        {!$label.SR_Activity}
                        </td>
                    </tr> 
                    <tr>
                        <td width="17%">
                        H273168- CLINAC<br/>
                        H080324-OBI<br/>
                        H080324-OBI<br/>
                        H080324-OBI
                        </td>
                        <td width="17%">
                        Travel In<br/>
                        23 Kv exact arm<br/>
                        23 Kv exact arm<br/>
                        Travel out
                        </td>
                        <td width="17%">
                        Travel In<br/>
                        08 Encoder<br/>
                        11 Pcb<br/>
                        Travel Out
                        </td>
                        <td width="16%">
                        07/26/2013<br/>
                        07/26/2013<br/>
                        07/26/2013<br/>
                        07/26/2013
                        </td>
                        <td width="16%">
                        1.00<br/>
                        2.50<br/>
                        1.00<br/>
                        1.00
                        </td>
                        <td width="16%">
                        Travel<br/>
                        Service<br/>
                        Service<br/>
                        Travel
                        </td>
                    </tr> 
                    
                </table>
                
                
                <table width="100%" border="1" style="font-size:12px;" cellSpacing="0">
                    <tr style="font-weight:bold;background-color:#D8D8D8;">
                        <td colspan="5">
                        {!$label.SR_Parts_installed_removed}
                        </td>
                    </tr>
                    <tr style="font-weight:bold;background-color:#E6E6E6;">
                        <td width="21%">
                         {!$label.SR_Parts}
                        </td>
                        <td width="26%">
                       {!$label.SR_Description}
                        </td>
                        <td width="21%">
                        {!$label.SR_Qty}
                        </td>
                        <td width="21%">
                        {!$label.SR_Source}
                        </td>
                        <td width="21%">
                        {!$label.SR_I_R}
                        </td>
                        
                    </tr> 
                    <tr>
                        <td width="21%">
                        B503104R01<br/>
                        B401661R02
                        </td>
                        <td width="26%">
                        Flow Drive, E-Arm. cpl.<br/>
                        PCB , MOTOR DRIVER BOARD
                        </td>
                        <td width="21%">
                        1<br/>
                        1<br/>
                        </td>
                        <td width="21%">
                        V <br/>
                        C
                        </td>
                        <td width="21%">
                        I<br/>
                        I <br/>
                        </td>
                        
                    </tr> 
                    
                </table>
                <table width="100%" border="1" style="font-size:12px;" cellSpacing="0">
                <tr style="font-weight:bold;background-color:#E6E6E6;">
                    <td width="40%" >
                    {!$label.SR_Equipment_Released}
                    
                    </td>
                    <td width="40%">
                    {!$label.SR_Customer_Signature}
                    </td>
                    
                      <td width="20%">
                     {!$label.SR_Customer_Name}
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                    07/26/2013 06:00 PM GMT<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    </td>
                    <td width="40%" >
                    
                    </td>
                     <td width="20%" >
                    
                    </td>
                </tr>
                <tr style="font-weight:bold;background-color:#E6E6E6;">
                    <td width="40%" >
                    {!$label.SR_Equipment_Downtime}
                    
                    </td>
                    <td width="60%" colspan="2">
                    {!$label.SR_FE_Signature}
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                    0.00<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    &nbsp;<br/>
                    </td>
                    <td width="60%" colspan="2">
                    
                    </td>
                </tr>
                <tr style="font-weight:bold;background-color:#D8D8D8;">
                <td colspan="2">
                <center>{!$label.SR_Customer_is_responsible_for_al_calibration_verification }</center>
                </td>
                </tr>
                </table>
           <!-- </div>-->
                
            </body>
        </html>
</apex:COMPONENT>