<apex:component controller="SrOpptyComponantController" access="global">
 <apex:attribute name="varMy" description="This is the Contract Id." type="Id" assignTo="{!OpptyId}"/> 
   Hello,<BR/>Your customer has a contract that will be expiring.  The following renewal opportunity has been automatically created in Sales Force to assist with your renewal activities.
<BR/><BR/>
Opportunity ID#: {!Oppty.Renewal_Opportunity__r.Name}<BR/>
Date created  :  {!Oppty.Renewal_Opportunity__r.CreatedDate}<BR/>
Service Coverage end date: {!Oppty.SVMXC__End_Date__c }<BR/>
Contract or Warranty Record ID: {!Oppty.Name}<BR/>
Product : <ol><apex:repeat value="{!InstalledProduct}" var="k">
          <tr><li>{!k}</li></tr>
          </apex:repeat></ol>
Customer: {!Oppty.SVMXC__Company__r.name }<BR/>
Site : {!Oppty.Location__r.name}<BR/>
New or Renewal: 'Renewal'<BR/>
Please review the opportunity using the link: <a href="{!$Label.SR_InstanceURL}{!Oppty.Renewal_Opportunity__r.id}">{!Oppty.Renewal_Opportunity__r.name}</a>
</apex:component>