<apex:component controller="vMarketLoginController" allowDML="true">
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <title>Varian Marketplace</title>

    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />

    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js" />
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <style type="text/css">
    /* Global Styles */
    body {
        padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        font-family: 'Open Sans', sans-serif;
        background-color: #f4f5f9;
    }
    
    *::-ms-clear {
        display: none;
    }
    
    .modal {
        text-align: center;
        padding: 0!important;
    }
    
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    
    .modal-dialog {
        display: inline-block;
        vertical-align: middle;
    }
    
    /* Modal open page shift issue fix */
        .modal {
            overflow-y: auto;
        }
        
        .modal-open {
            overflow: auto;
        }
        
        .modal-open[style] {
            padding-right: 0px !important;
        }
  
    /* Header styles start */    
    .topHeader {
        background-color: #f4f5f9;
        height: 90px;
        padding-top: 5px;
        border-bottom: none;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
        z-index: 10000;
    }
    .vMarketLogoTop {
        background-image: url('{!$Resource.vMarketLogo}');
        background-repeat: no-repeat;
        width: 116px;
        height: 30px;
        margin-top: 20px;
        display: inline-block;
        float: left;
    }
    .topNavMenuLinksWrap{
        /*margin-top: 30px;*/
    }    
    .topNavMenuLinksWrap .menuItem{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.13;
        text-align: left;
        color: rgba(48, 74, 97, 0.7);
        display: inline-block;
        margin: 0 35px 0 0;
        cursor: pointer;
    }
    .topNavMenuLinksWrap .menuItem:last-child{
        margin-right: 0;    
    }
        
    .topSearch {
        padding: 5px 0;    
        height: 30px;
        position: relative;
        left: 0px;    
        line-height: 22px;
        margin-top: 15px;
        width: 30px;
        padding-right: 5px;    
        border-radius: 5px;
        cursor: pointer; 
        float: right;    
    }

    .topSearch input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 35px;
        line-height: 18px;
        padding: 5px 2px 0 2px;
        border-radius:1px;
        right: 0;
        width: 30px;
        border: 0;
        padding-left: 5px;
        display:none;
    }

     .topSearch:hover input, .topSearch input:focus {
        width: 250px;
        margin-left: 0px;
        box-shadow: none;
        display:block;
     }

    .topSearch .searchIconWrap {
        height: 30px;
        position: absolute;
        right: 0;
        top: 5px;
        border-radius:1px;
        padding-right: 5px;    
        padding-left: 6px;    
    }
    .topSearch .searchIconWrap i{       
        font-size: 22px;
        margin-top: 6px;
    }
    .ui-autocomplete {
        border: 0px !important;
        background-color: #ffffff;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }      
    .uploadNewAppLink{
        width: 175px;
        height: 38px;
        background-color: #00c485;
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding-top: 6px;
        margin-top: 18px;
        float:left;        
        margin-right: 20px;
    }    
    .uploadNewAppLink:hover{
        cursor:pointer;
        color: #fff;
        text-decoration: none;
        font-weight:bold;
    }
    .userIconLeftBar{
        height: 32px;
        margin-top: 22px;
        width: 1px;
        background-color: #b6c2cb;
        float: left;
        margin-right: 18px;
    }    
    #topMenuUserIconWrapper{
        cursor: pointer;
        margin-top: 22px;
        display: block;     
        float: left;        
    }
    #topMenuUserIconWrapper .dropdown-menu {            
            padding: 10px 18px;
            width: 250px;
            margin-top: 15px;
            margin-left: -105px;
            border: 0px;
        }
        
        .up_arrow {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #ffffff;
            margin-top: 13px;
        }
        
        #topMenuUserIconWrapper .emailText {
            word-wrap: break-word;
        }
        
        .nameText {
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #304a61;
        }
        
        .emailText {
            font-size: 13px;
            text-align: left;
            color: #304a61;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a {
            font-size: 15px;
            text-align: left;
            color: #304a61;
            padding: 4px 0px 4px 0px;
            word-wrap: break-word;
            float: left;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a:focus,
            #topMenuUserIconWrapper .dropdown-menu>li>a:hover {
            color: #304a61;
            text-decoration: none;
            background-color: #ffffff;
            font-weight: 600;
        }
        
        .arrow_li {
            position: relative;
            top: -36px;
            line-height: 0px;
            padding: 0;
            list-style: none;
            margin: 0;
            height: 0px;
            margin-left: 88px;
            margin-bottom: -10px;
        } 
        .loginLinksWrapper {
        color: #304a61;
        font-size: 16px;
        font-weight: 600;
        margin-top: 30px;
        
    }
    
    .loginLinksWrapper a {
        color: #304a61;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
    /* Header styles end */
    
    /* Breadcrumb styling start */
        .breadCrumbWrapper {
            margin-top: 20px;
            margin-right: 25px;
        }
        
        .breadCrumbWrapper a {
            font-size: 13px;
            color: #626262;
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
            text-decoration: none;
            font-weight: 600;
        }
        
        .breadCrumbWrapper a.current {
            color: #178eea;
        }
    
    
    /* Page common styles start */
        #content-wrapper{
        margin-top: 42px;
        }
        
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        .page-top-section .container {
            padding-left: 45px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -100px;
        }
        
        @media ( min-width : 1200px) {
            .page-content-section {
                min-width: 1200px;
                padding: 30px 40px 20px 35px;
            }
            .page-top-section .container {
                min-width: 1200px;
                padding-left: 30px;
                padding-right: 5px;
            }
        }
        
        @media ( max-width : 1024px) {
            .page-content-section {
                padding: 30px 10px 20px 15px;
            }
        }
        
        .topHeader .container{
            width:1296px;
        }    
         
    /* Page common styles end */
        
        
   /* App Upload Modal styles start */
   #appUploadBugFixModal .modal-dialog{
        width: 401px;     
   }
   #appUploadBugFixModal .modal-content{
        border-radius: 0;
        box-shadow: none;
        border: 0px;
   }     
       
   #appUploadBugFixModal .modal-header{
        background-image: url('{!$Resource.vMarketAppUploadGraphicsIcon}');
        width:401px;
        height: 148px;
   }
   #appUploadBugFixModal .mainText{
        font-size: 21px;
        font-weight: bold;  
        color: #304a61;
        margin-bottom: 10px;
   }
   #appUploadBugFixModal .subText{
        font-size: 16px;
        font-weight: 600;  
        color: #bac5ce;
        margin-bottom: 30px;
   }
   #appUploadBugFixModal .newAppUploadIcon, #appUploadBugFixModal .bugFixIcon {        
        background-color: #178eea;
        box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
        width: 140px;
        height: 92px;
        display: inline-block;
        padding-top: 60px;
        color: #fff;        
   }
   #appUploadBugFixModal .newAppUploadIcon:hover, #appUploadBugFixModal .bugFixIcon:hover { 
        box-shadow: none;     
   }
   #appUploadBugFixModal .newAppUploadIcon{
        background-image: url('{!$Resource.vMarketUploadWhiteIcon}');
        background-position: 45px 15px;
   }     
   #appUploadBugFixModal .bugFixIcon{
        background-image: url('{!$Resource.vMarketBugFixIcon}');
        background-position: 50px 12px;
        margin-left: 50px;
   }
   #appUploadBugFixModal a{
        text-decoration:none;     
   }
   #appUploadBugFixModal .close{
        color: #fff;
        opacity: 1;
        font-size: 34px;     
   }     
   /* App Upload Modal styles end */
   
   .divLoading {
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 30001;
        opacity: 0.8;
    }
        
    .innerLoading {            
        position: absolute;
        color: #000;
        top: 40% !important;
        left: 45% !important;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    
    .innerLoading img{
        margin-bottom: 20px;
        height: 125px;
    }
        
        
     @media(min-width:1024px) and (max-width: 1200px){
        .topNavMenuLinksWrap .menuItem{
            margin: 0 20px 0 0;
            font-size: 14px;
        }
        .uploadNewAppLink{
            width: 145px;
            margin-right: 16px;
            font-size: 16px;
        }
     }
        
     /*Header Menu styles*/
     .nav-tabs, .nav-pills {
            text-align: center;
        }
        
        #headerTab {
            margin-left:30px;
        }
        
        #headerTab>li>a {                        
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #304a61;
            opacity: 0.4;            
            padding:30px 12px 30px 12px;            
                        
        }
        
        #headerTab>li {
            margin-right:20px;
        }
        
        #headerTab>li>a:hover {
            border-color: transparent;
            background: transparent;
            opacity: 1;
        }
        
        #headerTab>li.active>a {
            border: 0;
            border-bottom: 4px solid #178eea;
            background-color: #ebf2fb;
            opacity: 1;
        }
        
        .nav-tabs {
            border: 0;
        }
     
     /*Header Menu Styles*/
    }
    
    /* Data Table styling start */
.dataTable tbody tr{
    background-color: #ffffff !important;
}
.dataTable tbody tr td{
    background-color: #ffffff !important;
}
.dataTable tbody tr td a{
    text-decoration: underline;
}
.dataTable tbody tr td a:hover{
    font-weight: bold;
}
table.dataTable.no-footer{  
    border-bottom: 2px solid #d9d9d9;
}
table.dataTable thead th{
    color: #7F7E7F;
    font-weight: normal;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 2px solid #d9d9d9;
}
.dataTables_filter input[type="search"], .dataTables_wrapper select{
    border: 1px solid #d9d9d9;
}

.dataTables_wrapper label, .dataTables_wrapper .dataTables_paginate, .dataTables_info{
    color: #7F7E7F !important;
}
.dataTables_wrapper  .paginate_button{
    background: none;
    padding: 0px 5px !important;
    border: 1px solid #d9d9d9;
    color: #7F7E7F !important;
}
.dataTables_wrapper  .paginate_button.current{
    background: #5B9CD5 !important;
    padding: 0px 5px;
    border: 1px solid #d9d9d9;
    color: #FFF !important;
}
.dataTables_wrapper  .paginate_button:hover{
    padding: 0px 5px !important;
    border: 1px solid #d9d9d9;
    color: #7F7E7F !important;
}
/* Data Table styling end */ 
    /* Data Table styling end */ 
    #noty-holder{    
        width: 100%;
        top:0;    
        font-weight: bold;    
        z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
        text-align: center;
        position: fixed;
    }
    
    .alert{
        margin-bottom: 2px;
        border-radius: 0px;
    } 
    
    </style>
    
    <div id="vMarketLoader" class="divLoading" style="display:none;">
        <p class="innerLoading">
            <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" />
            <br /> Please wait...
        </p>                
     </div>
    
    <nav class="navbar navbar-inverse navbar-fixed-top topHeader" role="navigation">   
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="navbar-header ">
                        <a class="vMarketLogoTop" href="/vMarketLogin"></a>
                        <a class="sidebarNavTriggerLink" onclick="openSidebarNav()" style="display:none;"><i aria-hidden="true" class="fa fa-bars"></i></a>   
                    </div>
                </div>   
                <div class="col-md-6 topNavMenuLinksWrap">
                    <!--<nav class="navbar navbar-default">   -->                   
                        <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="headerTab">
                          <li class="active"><a html-data-toggle="tab" href="/vMarketDeveloper">My Dashboard</a></li>
                          <li><a html-data-toggle="tab" href="/vMarketDevMyApps">My Apps</a></li>
                          <li><a html-data-toggle="tab" href="/vMarketDevMyPayments">Payments</a></li>
                          <li><a html-data-toggle="tab" href="/vMarketDeveloperGuide">Help</a></li>
                        </ul>                      
                    <!--</nav>-->
                </div>
                <div class="col-md-2">                  
                    <div class="topSearch" id="searchAppDiv">
                        <input type="text" name="search" placeholder="Search apps"
                             value=""
                            onkeypress="SearchResults(event)" class="topProdSearchInput form-control input-sm" />
                        <div class="searchIconWrap"><i class="fa fa-search" aria-hidden="true"></i></div>                            
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="uploadNewAppLink" style="display:{!IF(IsDevAccessible, 'block', 'none')}">
                        Upload New App  
                    </a>
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle " 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                                style="display:{!IF(IsDevAccessible, 'block', 'none')};">
                            Upload
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Upload New App</a>
                            <a class="dropdown-item">Bug Fix</a>
                        </div>
                    </div> -->
                    
                    <div class="userIconLeftBar"></div>
                                            <apex:outputText value="{!loginCheck}" escape="false"></apex:outputText>
                    <apex:outputPanel styleClass="loginLinksWrapper"
                        rendered="{!NOT(Authenticated)}" layout="block">

                        
                        <a id="loginLink">Login</a>&nbsp;/&nbsp;<a
                            href="{!$Label.CpNewAccountRegUrl}" target="_blank">Signup</a>
                    </apex:outputPanel>
                    <apex:outputPanel id="userLinkWrap" styleClass="userIconWrapper"
                        rendered="{!Authenticated}" layout="block">
                        
                        <div class="dropdown" id="topMenuUserIconWrapper">
                            <a aria-expanded="false" aria-haspopup="true"
                                style="cursor: pointer;" data-toggle="dropdown"> <img
                                src="{!$Resource.vMarketProfileIcon}" />
                            </a>

                            <ul class="dropdown-menu">
                                <li class="arrow_li">
                                    <div class="up_arrow"></div>
                                </li>
                                <li style="cursor: default;">
                                    <div class="nameText">{!FirstName}&nbsp;{!LastName}</div>
                                    <div class="emailText">{!UserEmail}</div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/vMarketMyOrders">My Orders</a></li>
                                <li><a href="/vMarketMyOrders?subscribe=1">My
                                        Subscriptions</a></li>
                                <li><a href="/CpMyAccount" target="_blank">My Profile</a></li>
                                <li><a href="/vMarketLogout">Logout</a></li>
                            </ul>
                        </div>
                    </apex:outputPanel>   
                </div>
            </div>
        </div>
         <div id="noty-holder" style="background-color:#fcedd4"><a href="#" onclick="stripeInfo()">Click here to add Stripe Details</a></div>
    </nav>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="appUploadBugFixModal"> 
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
          </div>
          <div class="modal-body" style="text-align: center;">
            <p style="text-align: center;">
                <div class="mainText">New App Upload / Bug Fix</div>
                <div class="subText">Select an option for the new app upload or bug fix.</div>
                <a href="/vMarketDevUploadAppPage" class="newAppUploadIcon">New App Upload</a>
                <a href="/vMarketDevUploadAppBugFix" class="bugFixIcon">Bug Fix</a>
            </p>
          </div>      
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('.uploadNewAppLink').click(function(e){
            e.preventDefault();
            $('#appUploadBugFixModal').modal('show');
        });
        
        $("[data-toggle=popover]").popover({
            html: true, 
            content: function() {
                return $('#topSearchContent').html();
            }
        });
    });

    var appCategoriesMap = '{!AllAppsWithCategories}';
    appCategoriesMap = $.parseJSON(appCategoriesMap);
    var appList = new Array();   
    var key = "vmappidlist";
    var hours = 8; // Reset when storage is more than 8hours
    
    function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

    /* Initially set searching keywords */
    var cat = getParameterByName('cat');
    $.each(appCategoriesMap, function(ind, val) {
        if(cat!==null && cat!=='All Categories') {
            if(cat===val) appList.push(ind);
        } else {
            appList.push(ind);
        }
    }); 

    function SearchResults(e) {
        if(e.keyCode === 13){
            var keyword = $("input[name='search']").val();                
            var baseUrl = window.location.protocol+'//'+window.location.host+'/vMarketCatalogue';
            baseUrl = updateQueryStringParameter(baseUrl, 'keyword', keyword);
            baseUrl = updateQueryStringParameter(baseUrl, 'cat', 'All Categories');
            window.location = baseUrl;
        }       
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        return uri.match(re) ? uri.replace(re, '$1' + key + "=" + value + '$2') : (uri + separator + key + "=" + value);
    }

    $( ".topProdSearchInput" ).autocomplete({
        source: appList,
        appendTo: "#searchAppDiv",
        select: function (event, ui) {
            var keyword = ui.item.label;
            var cat = $('.topSearchAllCat').html();
            var baseUrl = window.location.protocol+'//'+window.location.host+'/vMarketCatalogue';
            baseUrl = updateQueryStringParameter(baseUrl, 'keyword', keyword);
            baseUrl = updateQueryStringParameter(baseUrl, 'cat', 'All Categories');
            window.location = baseUrl;
        }
    });
    
    var pageName = window.location.href.substr(window.location.href.lastIndexOf('/'));
    pageName = pageName + '-';
    if (pageName.startsWith("/vMarketDeveloper-"))
        activeElement("/vMarketDeveloper");
    else if (pageName.startsWith("/vMarketDevMyApps-"))
        activeElement("/vMarketDevMyApps");
    else if (pageName.startsWith("/vMarketDevMyPayments-"))
       activeElement("/vMarketDevMyPayments");
    else if (pageName.startsWith("/vMarketDeveloperGuide-"))
       activeElement("/vMarketDeveloperGuide");
    
    function activeElement(url) {        
        $(".topNavMenuLinksWrap ul > li > a").each( function(index, elem) {
            var hrefVal = $(elem).attr("href");            
            if( hrefVal === url ){
               $(elem).parent().addClass("active");
            } else {
                $(elem).parent().removeClass("active");
            }
        });
    }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-104241069-1', 'auto');
      ga('send', 'pageview');
    
      function stripeInfo() {
            window.open("{!vMarketStripeURL}","_self");
        }
      
      
    </script>
    
    
</apex:component>