<apex:component controller="vMarketLoginController" allowDML="true">

    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <title>vMarket</title>

    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />

    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketStarRating.css')}" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" />



    <link rel="stylesheet"
        href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        /* Global Styles */
        body {
            padding-top: 50px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
            font-family: 'Open Sans', sans-serif;
            background-color: #f4f5f9;
        }
        
        /* Header Styles start */
        .topHeader {
            background-color: #f4f5f9;
            height: 90px;
            padding-top: 5px;
            border-bottom: none;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
        }
        
        .vMarketLogoTop {
            background-image: url('{!$Resource.vMarketLogo}');
            background-repeat: no-repeat;
            width: 116px;
            height: 30px;
            margin-top: 20px;
            display: inline-block;
            float: left;
        }
    
        .vMarketBackIcon {
            background-image: url('{!$Resource.vMarketBackIcon}');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            margin-top: 25px;
            cursor: pointer;
            display: inline-block;
            float: left;
        }
    
        .vMarketLogoTopLink {
            float: left;
        }
        
        .sidebarNavTriggerLink {
            color: #304a61;
            font-size: 19px;
            margin-top: 30px;
            display: inline-block;
            margin-left: 15px;
            cursor: pointer;
        }
        
        .topSearchWrapper {
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
            float: left;
            margin-top: 14px;
            padding-left: 20px;
        }
        
        .topSearchIcon {
            background-image: url('{!$Resource.vMarketSearchIcon}');
            background-repeat: no-repeat;
            width: 18px;
            height: 19px;
            float: left;
            margin-top: 16px;
            margin-right: 5px;
            cursor: pointer;
            border: 0;
            outline: none;
        }
        
        .topProdSearchInput {
            height: 100%;
            width: 55%;
            float: left;
            border: 0;
            color: #000;
            outline: none;
            padding-left: 5px;
        }
        
        .topSearchAllCat {
            color: #b6c2cb;
            border-left: 1px solid #b6c2cb;
            padding-left: 10px;
            width: 88%;
            display: inline-block;
        }
        
        .topSearchCatLinksDropdown .carett {
            background: url(../img/search-arrow-1.svg);
            width: 10px;
            height: 6px;
            display: inline-block;
        }
        
        .topSearchCatLinksDropdown {
            float: right;
            width: 35%;
        }
        
        .topSearchCatLinksDropdown .dropdown {
            float: left;
            width: 100%;
        }
        
        .topSearchCatLinksDropdown .dropdown-menu {
            right: 0 !important;
            left: inherit;
            top: 50px;
            border-radius: 0px;
            border: 0px !important;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            width: 94%;
        }
        
        .topSearchCatLinksDropdown .dropdown-toggle {
            background: #fff;
            border: 0;
            color: #304a61;
            margin-top: 11px;
            margin-right: 0px;
            width: 100%;
            text-align: left;
        }
        
        .topSearchCatLinksDropdown ul.dropdown-menu>li>a {
            color: #bac5ce;
        }
        
        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
            color: #304a61 !important;
            background: #fff;
        }
        
        .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus,
            .dropdown-menu>li>a:focus {
            color: #304a61 !important;
            background: #fff;
        }
        
        .ui-draggable, .ui-droppable {
            background-position: top;
        }
        
        .ui-autocomplete-input {
            font-family: 'Open Sans', sans-serif;
        }
        
        .ui-autocomplete {
            border: 0px !important;
            background-color: #ffffff;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.06);
            font-family: 'Open Sans', sans-serif;
            top: 65px !important;
            left: 15px !important;
            width: 95% !important;
            position: absolute !important;
        }
        
        .ui-autocomplete>li {
            font-family: 'Open Sans', sans-serif;
        }
        
        .ui-autocomplete>li>div {
            font-family: 'Open Sans', sans-serif;
            padding-left: 1.4em !important;
        }
        
        .ui-menu-item-wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .ui-state-active {
            background: #178eea !important;
            border: 0px !important;
        }
        
        .topSearchCatLinksDropdown .dropdown-toggle {
            background: #fff;
            border: 0;
            margin-top: 11px;
            width: 95%;
            text-align: left;
        }
        
        .topSearchCatLinksDropdown .dropdown-toggle:focus {
            border: 0;
            outline: none;
            box-shadow: none;
        }
        
        .loginLinksWrapper {
            color: #304a61;
            font-size: 16px;
            font-weight: 600;
            margin-top: 30px;
            float: right;
        }
        
        .loginLinksWrapper a {
            color: #304a61;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }
        
        .signUpAsDevLink {
            background-color: #178eea;
            width: 175px;
            height: 47px;
            color: #fff;
            display: block;
            text-align: center;
            padding-top: 15px;
            cursor: pointer;
            text-decoration: none;
            margin-top: 16px;
            margin-left: -16px;
            float: left;
        }
        
        .devReqPending {
            background-color: #178eea;
            width: 200px;
            height: 50px;
            color: #fff;
            display: block;
            text-align: center;
            padding-top: 15px;
            text-decoration: none;
            margin-top: 25px;
            float: left;
            opacity: 0.6;
            cursor: initial !important;
        }
        
        .devReqPending:hover, .devReqPending:focus, .signUpAsDevLink:hover,
            .signUpAsDevLink:focus {
            color: #fff;
            text-decoration: none;
        }
        
        .signUpAsDevLink:hover {
            color: #fff;
            text-decoration: none;
        }
        
        [id*="userLinkWrap"] {
            float: right;
            margin-right: 10px;
            margin-top: 25px;
            cursor: pointer;
        }
        
        [id*="userLinkWrap"]>.dropdown-menu {
            right: 0;
            left: inherit;
            top: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .topCartInfoWrapper {
            float: right;
            margin-top: 23px;
            color: #304a61;
            font-size: 15px;
            font-weight: 600;
            height: 36px;
            padding-left: 7px;
            border-left: 1px solid #b6c2cb;
            padding-top: 7px;
            margin-left: 20px;
        }
        
        .topCartInfoWrapper a {
            color: #304a61;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
        }
        
        .topCartIcon {
            background-image: url('{!$Resource.vMarketCartIcon}');
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
        }
        
        #topMenuUserIconWrapper .dropdown-menu {
            /*max-width: 200px;
                                    padding: 5px;*/
            padding: 10px 18px;
            width: 250px;
            margin-top: 15px;
            margin-left: -105px;
            border: 0px;
        }
        
        .up_arrow {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #ffffff;
            margin-top: 13px;
        }
        
        #topMenuUserIconWrapper .emailText {
            word-wrap: break-word;
        }
        
        .nameText {
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #304a61;
        }
        
        .emailText {
            font-size: 13px;
            text-align: left;
            color: #304a61;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a {
            font-size: 15px;
            text-align: left;
            color: #304a61;
            padding: 4px 0px 4px 0px;
            word-wrap: break-word;
            float: left;
        }
        
        #topMenuUserIconWrapper .dropdown-menu>li>a:focus,
            #topMenuUserIconWrapper .dropdown-menu>li>a:hover {
            color: #304a61;
            text-decoration: none;
            background-color: #ffffff;
            font-weight: 600;
        }
        
        .arrow_li {
            position: relative;
            top: -36px;
            line-height: 0px;
            padding: 0;
            list-style: none;
            margin: 0;
            height: 0px;
            margin-left: 88px;
            margin-bottom: -10px;
        }
        
        #commonModalBox .close, #modalBox .close {
            color: #fff;
            z-index: 9999;
            opacity: 0.9;
        }
        /* Header Styles start end */
        
        /* Breadcrumb styling start */
        .breadCrumbWrapper {
            margin-top: 20px;
            margin-right: 25px;
        }
        
        .breadCrumbWrapper a {
            font-size: 13px;
            color: #626262;
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
            text-decoration: none;
            font-weight: 600;
        }
        
        .breadCrumbWrapper a.current {
            color: #178eea;
        }
        /* Breadcrumb styling end */
        
        /* Page styling start */
        #content-wrapper {
            margin-top: 42px;
        }
        /* Page styling end */
        
        /* Footer Styles */
        footer {
            margin: 50px 0;
        }
        
        .footerWrapper {
            height: 210px;
            margin-top: 40px;
            background-color: #ffffff;
        }
        
        .footerVarianLogoWrapper {
            padding-top: 44px;
        }
        
        .footerLinksWrap {
            margin-top: 25px;
        }
        
        .footerLinksWrap ul {
            list-style: none;
            font-size: 13px;
        }
        
        .footerLinksWrap ul li.titleText {
            font-size: 14px;
            font-weight: 600;
            color: #304a61;
            padding-bottom: 10px;
        }
        
        .footerLinksWrap ul li a {
            color: #666666;
            font-size: 13px;
            cursor: pointer;
        }
        
        .bottomFooterWrapper {
            color: #b6c2cb;
            font-size: 12px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        .bottomFooterWrapperContainer {
            background: #fff;
            margin-top: 2px;
        }
        
        /* Cart message modal style start */
        .cartMessageModal {
            text-align: center;
        }
        
        .cartMessageModal .mainMessageText {
            color: #304a61;
            font-size: 18px;
            font-weight: bold;
        }
        
        .messageTable {
            margin: auto !important;
        }
        
        .cartMessageModal .okBtn {
            background-color: #178eea;
            width: 150px;
            color: #fff;
            border-radius: 0;
        }
        
        .modal-dialog {
            width: 400px;
        }
        
        .modal-content {
            border-radius: 0;
        }
        /* Cart message modal style end */
        .divLoading {
            margin: 0px;
            padding: 0px;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 30001;
            opacity: 0.8;
        }
        
        .innerLoading {
            position: absolute;
            color: #000;
            top: 40% !important;
            left: 45% !important;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        
        .innerLoading img {
            margin-bottom: 20px;
            height: 125px;
        }
        /* Responsive Styles */
        @media ( max-width :991px) {
            .customer-img, .img-related {
                margin-bottom: 30px;
            }
        }
        
        @media ( max-width :767px) {
            .img-portfolio {
                margin-bottom: 15px;
            }
            header.carousel .carousel {
                height: 70%;
            }
        }
        
        @media ( max-width :768px) {
            .topSearchWrapper {
                width: 48%;
            }
            .topCartInfoWrapper {
                float: right;
                margin-top: 23px;
                color: #304a61;
                font-size: 15px;
                font-weight: 600;
                height: 36px;
                padding-left: 7px;
                border-left: 1px solid #b6c2cb;
                padding-top: 7px;
                margin-left: 16px;
            }
            .signUpAsDevLink {
                background-color: #178eea;
                width: 120px;
                height: 47px;
                color: #fff;
                display: block;
                text-align: center;
                padding-top: 14px;
                cursor: pointer;
                text-decoration: none;
                margin-top: 16px;
                margin-left: 10px;
                float: left;
                font-size: 12px;
            }
        }
        
        @media ( max-width :1024px) {
            .vMarketLogoTop {
                margin-left: -14px;
            }
            .sidebarNavTriggerLink {
                font-size: 19px;
                margin-left: 12px;
            }
        }
        
        .page-top-section {
            background: #ebebeb;
            height: 175px;
        }
        
        .page-top-section .container {
            padding-left: 45px;
        }
        
        .page-top-section .pageTitle {
            color: #304a61;
            font-size: 24px;
            font-weight: 600;
        }
        
        .page-content-section {
            background: #fff;
            min-height: 500px;
            margin-top: -100px;
        }
        
        @media ( min-width : 1200px) {
            .page-content-section {
                min-width: 1200px;
                padding: 30px 40px 20px 35px;
            }
            .page-top-section .container {
                min-width: 1200px;
                padding-left: 30px;
                padding-right: 5px;
            }
        }
        
        @media ( max-width : 1024px) {
            .page-content-section {
                padding: 30px 10px 20px 15px;
            }
        }
        
        @media ( min-width : 1200px) {
            .signUpAsDevLink {
                margin-left: 10px;
            }
            .topCartInfoWrapper {
                margin-left: 30px;
                padding-left: 15px;
            }
            .loginLinksWrapper {
                margin-right: -10px;
            }
        }
        .logoDiv {
        	display: table;
        	margin: 0 auto;
        }
    </style>

    <!-- Navigation -->
    <div>
        <apex:include pageName="vMarketLoginModal" />
        <div id="vMarketLoader" class="divLoading" style="display: none;">
            <p class="innerLoading">
                <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" /><br />
                Please wait...
            </p>
        </div>
    </div>
    <!--
     <script>
          //  $('#vMarketLoader').show();
          //  $('#vMarketLoader').hide();
            </script>
     -->
    <nav class="navbar navbar-inverse navbar-fixed-top topHeader"
        role="navigation">

        <div class="container ">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-4">
                    <div class="navbar-header ">
                        <a class="vMarketBackIcon" href="javascript:void(0)" onClick="BackToPage()"></a>
                        
                        <a  class="sidebarNavTriggerLink" onclick="openSidebarNav()"
                            style="display: none;"><i aria-hidden="true"
                            class="fa fa-bars"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="logoDiv">
						<a class="vMarketLogoTop" href="/vMarketLogin"></a>
					</div>
                </div>
                <div class="col-md-4">
                    <apex:outputPanel styleClass="loginLinksWrapper"
                        rendered="{!NOT(Authenticated)}" layout="block">
                        <!--  <apex:include pageName="vMarketLoginModal"/> -->
                        <apex:outputText value="{!loginCheck}" escape="false"></apex:outputText>

                        <a id="loginLink">Login</a>&nbsp;/&nbsp;<a
                            href="{!$Label.CpNewAccountRegUrl}" target="_blank">Signup</a>
                    </apex:outputPanel>
                    <apex:outputPanel id="userLinkWrap" styleClass="userIconWrapper"
                        rendered="{!Authenticated}" layout="block">

                        <div class="dropdown" id="topMenuUserIconWrapper">
                            <a aria-expanded="false" aria-haspopup="true"
                                style="cursor: pointer;" data-toggle="dropdown"> <img
                                src="{!$Resource.vMarketProfileIcon}" />
                            </a>

                            <ul class="dropdown-menu">
                                <li class="arrow_li">
                                    <div class="up_arrow"></div>
                                </li>
                                <li style="cursor: default;">
                                    <div class="nameText">{!FirstName}&nbsp;{!LastName}</div>
                                    <div class="emailText">{!UserEmail}</div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/vMarketMyOrders">My Orders</a></li>
                                <li><a href="/vMarketMyOrders?subsrcibe=1">My
                                        Subscriptions</a></li>
                                <li><a href="/CpMyAccount" target="_blank">My Profile</a></li>
                                <li><a href="/vMarketLogout">Logout</a></li>
                            </ul>
                        </div>
                    </apex:outputPanel>
                    <div class="clear-fix"></div>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <c:vMarketSideNavbar />

    <apex:form id="frm">
        <apex:inputHidden value="{!appId}" id="AppIdHiddenValue" />
        <apex:actionFunction name="cartItemAction" action="{!addCartItem}"
            reRender="resultPanel,mesgError,isAppExist" status="CartStatus">
            <apex:param name="appId" value="" assignTo="{!appId}" />
        </apex:actionFunction>
        <apex:actionStatus id="CartStatus">
            <apex:facet name="start">
                <div id="divLoading" class="divLoading">
                    <p class="innerLoading">
                        <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" /><br />
                        Please wait...
                    </p>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </apex:form>

    <apex:form id="removeitem_frm">
        <apex:actionFunction name="removecartItemAction"
            action="{!removeSelectedUserCartItem}"
            reRender="resultPanel,mesgError,renderCartItems"
            status="removeAppStatus" oncomplete="initializeBinding();">
            <apex:param name="appId" value="" assignTo="{!appId}" />
        </apex:actionFunction>

        <apex:actionStatus id="removeAppStatus">
            <apex:facet name="start">
                <div id="divLoading" class="divLoading">
                    <p class="innerLoading">
                        <img src="{!$Resource.vMarketLoader}" style="margin-bottom: 20px;" /><br />
                        Please wait...
                    </p>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </apex:form>

    <apex:outputpanel id="headerMsg">
        <div aria-hidden="true"
            class="modal fade bs-modal-sm cartMessageModal" id="commonModalBox"
            role="dialog" tabindex="-1">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{!$Resource.vMarketCartBasketIcon}" />
                        <div class="mainMessageText" style="padding: 15px 0;">
                            <span id="commonMsg"></span>
                        </div>
                        <button type="button" class="btn okBtn" data-dismiss="modal">OK</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </apex:outputpanel>

    <script type="text/javascript">
        var appCategoriesMap = '{!AllAppsWithCategories}';
        appCategoriesMap = $.parseJSON(appCategoriesMap);
        var appList = new Array();   
        var key = "vmappidlist";
        var hours = 8; // Reset when storage is more than 8hours
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            /* Initially set searching keywords */
            var cat = getParameterByName('cat');
            $.each(appCategoriesMap, function(ind, val) {
                if(cat!==null && cat!=='All Categories') {
                    if(cat===val) appList.push(ind);
                } else {
                    appList.push(ind);
                }
            }); 
            $( ".topProdSearchInput" ).autocomplete({
                source: appList,
                appendTo: "#searchAppDiv",
                select: function (event, ui) {
                    var keyword = ui.item.label;
                    var cat = $('.topSearchAllCat').html();
                    var baseUrl = window.location.protocol+'//'+window.location.host+'/vMarketCatalogue';
                    baseUrl = updateQueryStringParameter(baseUrl, 'keyword', keyword);
                    baseUrl = updateQueryStringParameter(baseUrl, 'cat', cat);
                    baseUrl = removeURLParameter(baseUrl, 'tab');
                    window.location = baseUrl;
                }
            });
            
            /*$.ui.autocomplete.prototype._renderItem = function (ul, item) {        
                var t = String(item.value).replace(
                    new RegExp(this.term, "gi"),
                    "<span class='ui-state-highlight'>$&</span>");
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + t + "</a>")
                    .appendTo(ul);
            };*/
            
            /* end searching code here */

            var delete_cookie = function(name) {
                var d = new Date();
                var expires = "expires="+ d.toUTCString();
                document.cookie = name + "=;" + expires + "; path=/; domain="+window.location.host;
                setCookie('vmappidlist', '');
            };
        
            if(! {!Authenticated}) {
                if(getCookie(key)!="") {
                    var defaultArray = getCookie(key).split(',');
                    $('.cartCount').html(defaultArray.length);
                } else {
                    $('.cartCount').html(0);
                }
            } else {
                var isCookieErase = getParameterByName('cookie');
                if(isCookieErase==="false")
                    delete_cookie(key);
            }
            
            $(".searchResults").click(function() {
                var keyword = $("input[name='search']").val();
                var cat = $('.topSearchAllCat').html();
                var baseUrl = window.location.protocol+'//'+window.location.host+'/vMarketCatalogue';
                baseUrl = updateQueryStringParameter(baseUrl, 'keyword', keyword);
                baseUrl = updateQueryStringParameter(baseUrl, 'cat', cat);
                baseUrl = removeURLParameter(baseUrl, 'tab');
                window.location = baseUrl;
            });

            if (cat!=null && cat!=undefined && cat!='')
                $('.topSearchAllCat').html(cat);
            else
                $('.topSearchAllCat').html('All Categories');

            initializeBinding();
        });

        function SearchResults(e) {
            if(e.keyCode === 13){
                var keyword = $("input[name='search']").val();
                var cat = $('.topSearchAllCat').html();
                var baseUrl = window.location.protocol+'//'+window.location.host+'/vMarketCatalogue';
                baseUrl = updateQueryStringParameter(baseUrl, 'keyword', keyword);
                baseUrl = updateQueryStringParameter(baseUrl, 'cat', cat);
                baseUrl = removeURLParameter(baseUrl, 'tab');
                window.location = baseUrl;
            }       
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
          var separator = uri.indexOf('?') !== -1 ? "&" : "?";
          return uri.match(re) ? uri.replace(re, '$1' + key + "=" + value + '$2') : (uri + separator + key + "=" + value);
        }

        function disableCartItemLink(elem) {
            //After putting item to cart, disable it
            $(elem).click(function() {return false;});
            //$(elem).html('&nbsp;Added');
        }

        /* Following method helps to rebind event after reRender */
        function initializeBinding() {
            var key = "vmappidlist";
            var hours = 8;

            $(".cartLineItem").on('click', function(e) {
                e.preventDefault();
                var appId = $(this).attr("id");
                if(! {!Authenticated} ) {
                    $("span[id*='CartStatus']").css("display", "block");
                    var cartItemArray = new Array();
                    if(getCookie(key)!="") {
                        cartItemArray = getCookie(key).split(',');
                        var found=false;
                        
                        if(cartItemArray.length > 10 || cartItemArray.length == 10) {
                            $("#commonMsg").text("App Cart limit is 10 and it is already reached to limit");
                            $("#commonModalBox").modal('show');                        
                        } else {
                            for (var i = 0; i < cartItemArray.length; i++) {
                                if (cartItemArray[i] == appId) {
                                    found=true;
                                    $("#commonMsg").text("App already added into the cart!");
                                    $("#commonModalBox").modal('show');
                                }
                            }
                            
                            if(!found) {
                                cartItemArray.push(appId);
                                setCookie(key, cartItemArray);
                                if (! isNaN(parseInt($('.cartCount').html()))) {
                                    $('.cartCount').html(cartItemArray.length);
                                    //msgShow("App added into the cart!");
                                }
                            }
                        }
                    } else {
                        cartItemArray.push(appId);
                        setCookie(key, cartItemArray);
                        if (! isNaN(parseInt($('.cartCount').html()))) {
                            $('.cartCount').html(cartItemArray.length);
                            //msgShow("App added into the cart!");
                        }
                    }
                    $("span[id*='CartStatus']").css("display", "none");
                } else {
                    $('#home:frm:AppIdHiddenValue').val(appId);
                    cartItemAction(appId);
                }
                disableCartItemLink(this);
            });
            
            $(".removeCartLineItem").on('click', function(e) {
                var appId = $(this).attr("id");
                var cartItemArray = new Array();
                var newCartItemArray = new Array();
                if(! {!Authenticated} ) {
                    $("span[id*='removeAppStatus']").css("display", "block");
                    e.preventDefault();
                    cartItemArray = getCookie(key).split(',');
                    for (var i = 0; i < cartItemArray.length; i++) {
                        if (cartItemArray[i] != appId) {
                            newCartItemArray.push(cartItemArray[i]);
                        }
                    }

                    setCookie(key, newCartItemArray);
                    if (! isNaN(parseInt($('.cartCount').html()))) {
                        setTimeout(function(){ 
                            $('.cartCount').html(newCartItemArray.length);
                            $(this).closest($('.cartItemRow')).remove();
                            //msgShow("App removed from the cart!"); 
                        }, 1200);
                        
                    }

                    var keyIdList = getCookie(key);
                    sendCookieIds(keyIdList);
                    $("span[id*='removeAppStatus']").css("display", "none");
                } else {
                    $(this).closest($('.cartItemRow')).remove();
                    removecartItemAction(appId);
                }
            });
        }

        function addCartItem(elem) {
            var appId = $(elem).attr("id");
            if(! {!Authenticated} ) {
                var cartItemArray = new Array();
                if(getCookie(key)!="") {
                    cartItemArray = getCookie(key).split(',');
                    var found=false;

                    if(cartItemArray.length > 10 || cartItemArray.length == 10) {
                        $("#commonMsg").text("Your shopping Cart is full, More than 10 items not allowed!");
                        $('#commonModalBox').modal({backdrop: 'static', keyboard: false});
                        $("#commonModalBox").modal('show');                        
                    } else {
                        for (var i = 0; i < cartItemArray.length; i++) {
                            if (cartItemArray[i] == appId) {
                                found=true;                                
                                $("#commonMsg").text("App is already added to the cart!");
                                $('#commonModalBox').modal({backdrop: 'static', keyboard: false});
                                $("#commonModalBox").modal('show');
                            }
                        }

                        if(!found) {
                            cartItemArray.push(appId);
                            setCookie(key, cartItemArray);
                            if (! isNaN(parseInt($('.cartCount').html()))) {
                                $('.cartCount').html(cartItemArray.length);
                                //msgShow("App added into the cart!");
                            }
                        }
                    }
                } else {
                    cartItemArray.push(appId);
                    setCookie(key, cartItemArray);
                    if (! isNaN(parseInt($('.cartCount').html()))) {
                        $('.cartCount').html(cartItemArray.length);
                        //msgShow("App added into the cart!");
                    }
                }
            } else {
                $('#home:frm:AppIdHiddenValue').val(appId);
                cartItemAction(appId);
            }
            disableCartItemLink(elem);
            return false;       
        }

        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function msgShow(msg) {
            alert(msg);
        }           
        
        function setCookie(cname, cvalue) {
            var d = new Date();
            d.setTime(d.getTime() + (hours*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + "; path=/; domain="+window.location.host;
        }
        
        function BackToPage() {
        	var pageName = window.location.href.substr(window.location.href.lastIndexOf('/'));
        	if (pageName.startsWith("/vMarketShoppingCart"))
				window.location = "/vMarketCatalogue";
        	else if (pageName.startsWith("/vMarketCheckoutOrderInfo"))
        		window.location = "/vMarketShoppingCart";
			else if (pageName.startsWith("/vMarketSubscribeOrderInfo"))
        		window.location = "/vMarketCatalogue";
        	else
        		window.location = "/vMarketLogin";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }

        function removeURLParameter(url, parameter) {
            //prefer to use l.search if you have a location/link object
            var urlparts= url.split('?');   
            if (urlparts.length>=2) {
        
                var prefix= encodeURIComponent(parameter)+'=';
                var pars= urlparts[1].split(/[&;]/g);
        
                //reverse iteration as may be destructive
                for (var i= pars.length; i-- > 0;) {    
                    //idiom for string.startsWith
                    if (pars[i].lastIndexOf(prefix, 0) !== -1) {  
                        pars.splice(i, 1);
                    }
                }
        
                url= urlparts[0]+'?'+pars.join('&');
                return url;
            } else
                return url;
        }

        //JQuery DOM ready scripts
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        
        $('.signUpAsDevLink').click(function(e){
            e.preventDefault();
            $('#signUpAsDevModal').modal('show');
            $('#devAgreementCheckbox').prop('checked',false).trigger('change');
            $('#signUpAsDevProceedBtn').prop('disabled', true);
            $('#signUpDevTermsWrapper').show();
            $('#signUpDevConnectStripeWrap').hide();
            $('#signUpAsDevProceedBtn').show();
        });
        
    </script>

    <script>
    /* Set the width of the side navigation to 250px */
    function openSidebarNav() {
        document.getElementById("sidebarNav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeSidebarNav() {
        document.getElementById("sidebarNav").style.width = "0";
    }
    </script>

</apex:component>