<apex:component >
    <style>
    /* Sidebar Nav styling start */    
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 9999; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: #304a61;
        display: block;
        transition: none;
    }       
    .sidenav a:hover, .offcanvas a:focus{
        color: #178eea;        
    }
    .sidenav a.menu-item:hover {
        border-left: 4px solid #178eea;
    }    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #304a61;
    }        
    /* Sidebar Nav styling end */
    </style>
        
    <div id="sidebarNav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSidebarNav()">&times;</a>
      <a href="/vMarketMenu?type=About_Us" class="menu-item">About</a>
      <a href="/vMarketMenu?type=Support" class="menu-item">Support</a>
      <a href="/vMarketMenu?type=Privacy_Policy" class="menu-item">Privacy Policy</a>
      <a href="/vMarketMenu?type=Terms_Use" class="menu-item">Terms of Use</a>
      <a href="/vMarketMenu?type=FAQ" class="menu-item">FAQ</a>
      <a href="#" class="menu-item">Contact Us</a>  
    </div>    
    
</apex:component>