<apex:component id="comp" controller="vMarket_DevApprovalStatusController" allowDML="true">
    
    <apex:attribute name="status" type="String" description="represents status of Application" assignTo="{!appStatus}" required="true"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .pagination {
            font-size: 80%;
        }

        .pagination a {
            text-decoration: none;
            border: solid 1px #AAE;
            color: #15B;
        }

        .pagination a, .pagination span {
            display: block;
            float: left;
            padding: 0.3em 0.5em;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .pagination .current {
            background: #5E82A3;
            color: #fff;
            border: solid 1px #AAE;
            text-decoration:none;
        }

        .pagination .notPrevious, .pagination .notNext{
            color:#999;
            border-color:#999;
            background:#fff;
            text-decoration:none;
            pointer-events: none;
            cursor: default;
        }
        .next {
            text-decoration:underline
        }
        .prev {
            text-decoration:underline
        }
    </style>
    
    <apex:form id="form">
        <apex:outputPanel id="opPanel">
            
                <!-- <apex:pageBlockTable id="pgBlk" value="{!WrapperList}" var="wrapper">
                    <apex:column headerValue="Name"> 
                        <apex:outputLink value="{!URLFOR($Action.Contact.View,wrapper.cont.id)}" target="_blank">
                            {!wrapper.cont.name}
                        </apex:outputLink>
                    </apex:column>
                    <apex:column value="{!wrapper.cont.email}"/>
                    <apex:column headerValue="IsActive" value="{!wrapper.devInfo.isActive__c}"/>
                    <apex:column headerValue="StripeId" value="{!wrapper.devInfo.Stripe_Id__c}"/>
                    <apex:column headerValue="Terms & Condition" value="{!wrapper.devInfo.vMarket_Accept_Terms_of_Use__c}"/>
                    
                </apex:pageBlockTable> -->
                <!--
                <p>Number of {!appStatus} records :</p>
                <table  class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>is Dev Active</th>
                            <th>Stripe Id</th>
                            <th>TermsCondition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!WrapperList}" var="wrapper">
                            <td>
                                <apex:outputLink value="{!URLFOR($Action.Contact.View,wrapper.cont.id)}" target="_blank">
                                    {!wrapper.cont.name}
                                </apex:outputLink>
                            </td>
                            <td>{!wrapper.cont.email}</td>
                            <td>
                                <apex:outputField value="{!wrapper.devInfo.isActive__c}" /></td>
                            <td>{!wrapper.devInfo.Stripe_Id__c}</td>
                            <td><apex:outputField value="{!wrapper.devInfo.vMarket_Accept_Terms_of_Use__c}"/></td>
                        </apex:repeat>
                    </tbody>
                </table>
                
                <apex:outputPanel layout="block" id="pagination">
                    <table width="100%">
                        <tr>
                            <td style="color:#818281;font-size:16px;">&nbsp;</td>
                            <td style="text-align: center;">
                                <div id="paginationUp" class="pagination">
                                    <apex:commandLink id="first0" action="{!con.First}" reRender="opPanel" status="status"
                                        style="{!IF(con.hasPrevious,'background: none;','background: lightgray;')}">&#60;&#60;</apex:commandLink>
                                    
                                    <apex:commandLink id="previousUp0" action="{!con.Previous}" reRender="opPanel" status="status" 
                                        style="{!IF(con.hasPrevious,'background: none;','background: lightgray;')}">&#60;</apex:commandLink>
                                    <apex:commandLink id="nextUp0" action="{!con.Next}" reRender="opPanel" status="status" 
                                        style="{!IF(con.hasNext,'background: none;','background: lightgray;')}">&#62;</apex:commandLink>
                                    <apex:commandLink id="last0" action="{!con.Last}" reRender="opPanel" status="status" 
                                        style="{!IF(con.hasNext,'background: none;','background: lightgray;')}">&#62;&#62;</apex:commandLink>
                                </div>
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
                -->
            
        </apex:outputPanel>
    </apex:form>
    
</apex:component>