<apex:component id="comp" allowDML="true" controller="vMarket_DevApprovalStatusController">
    <apex:attribute name="status" type="String" description="represents status of Application" assignTo="{!appStatus}" required="true"/>
    <apex:attribute name="divId" type="string" description="some description" required="false"/>
    <apex:attribute name="Count" type="Integer" description="This is the value of current tab" required="false"/>
    
    <style>
        .picklist {
            height: 33px;
            width: 150px;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            border: 0px;
        }
        
        .pagination {
            font-size: 80%;
        }

        .pagination a {
            text-decoration: none;
            border: solid 1px #AAE;
            color: #15B;
        }

        .pagination a, .pagination span {
            display: block;
            float: left;
            padding: 0.3em 0.5em;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .pagination .current {
            background: #5E82A3;
            color: #fff;
            border: solid 1px #AAE;
            text-decoration:none;
        }

        .pagination .notPrevious, .pagination .notNext{
            color:#999;
            border-color:#999;
            background:#fff;
            text-decoration:none;
            pointer-events: none;
            cursor: default;
        }
        .next {
            text-decoration:underline
        }
        .prev {
            text-decoration:underline
        }
        .waitingSearchDiv {
            position: absolute;
            text-align: center;
            top: 0;
            z-index: 80;
            left: 0;
        }
        .waitingSearchDiv .waitingHolder {
            position: relative;
            white-space: nowrap;
            margin: auto;
            width: 40%;
            top: 45%;
        }
        .fade {
		    opacity: 0;
		    -webkit-transition: opacity 1s linear;
		    transition: opacity 1s linear;
		}
        
    </style>
    
    <apex:stylesheet value="{!URLFOR($Resource.vMarketResources, 'vMarketResources/css/vMarketCheckoutOrderInfo.css')}"/>
    <apex:outputPanel id="opPanel" layout="block" rendered="{!isCallSearchRecords}" Styleclass="col-md-12 col-sm-12">
        <apex:pageBlock id="pb" >
            <apex:form id="frm">
                
                <apex:outputPanel id="searchResults" layout="block" >
                    <apex:pageBlockTable value="{!WrapperList}" var="wrapper" Styleclass="table table-stripped">
                        <apex:column headerValue="Name">
                            <apex:outputLink value="/{!wrapper.Contact__c}" target="_blank">
                                 {!wrapper.Contact__r.Name}
                             </apex:outputLink>
                        </apex:column>
                        
                        <apex:column headerValue="Email" value="{!wrapper.Contact__r.Email}"/>
                        
                        <apex:column headerValue="Strip Id" value="{!wrapper.Stripe_Id__c}"/>
                        
                        <apex:column headerValue="Terms & Condition" value="{!wrapper.vMarket_Accept_Terms_of_Use__c}"/>
                        
                        <apex:column headerValue="Action">
                            
                            <apex:commandLink action="{!selectedDeveloper}" id="contStatus" rendered="{!IsAdmin}" value="{!actionLabel}" rerender="idActionPopupPanel, opPanel, mymsg, ReviewUserModalWrapper, ReviewUserModal"
                            	style="display:{!if(wrapper.vMarket_Accept_Terms_of_Use__c, 'block', 'none')}" onComplete="showModal();" >
                            	<apex:param id="param" assignTo="{!selectedRecId}" value="{!wrapper.Contact__c}" name="selectedContact"/>
                             </apex:commandLink>
                             <Script>
                             	
                             </Script>
                             <!-- <apex:commandLink action="{!selectedDeveloper}" id="contStatus" rendered="{!IsAdmin}" value="{!actionLabel}" rerender="idActionPopupPanel, opPanel, mymsg"
                                onComplete="sfdcPage.dialogs['SFDCDialog'].importContentNode(document.getElementById('{!divId}'));sfdcPage.dialogs['SFDCDialog'].show(); jQuery('.RejectionReason').hide();"
                                status="saveStatus" style="display:{!if(wrapper.vMarket_Accept_Terms_of_Use__c, 'block', 'none')}">
                                 <apex:param id="param" assignTo="{!selectedRecId}" value="{!wrapper.Contact__c}" name="selectedContact"/>
                             </apex:commandLink> -->
                        </apex:column>
                    </apex:pageBlockTable>
                    
				</apex:outputPanel>
				<apex:outputPanel rendered="{!wrapperList.size == 0}" Style="text-align: center;margin: 0 auto;width:50%">
					<p style="font-size:20px;">No {!appStatus} users</p>
				</apex:outputPanel>
                    
				<!-- Pagination -->
				<apex:outputPanel id="paginationPanel" rendered="{!recCount > 20}">
				    <table width="100%">
				        <tr>
				            <td style="text-align: center;position: absolute;margin-left: 45%;">
				                <div id="paginationUp" class="pagination">
				                    <apex:commandLink id="firstpage" action="{!first}" rerender="searchResults" 
				                        value="First Page" status="saveStatus1" rendered="true" />
				                    <apex:commandLink id="previous" action="{!Previous}" rerender="searchResults" 
				                        value="Previous" status="saveStatus1" rendered="true" />
				                    <apex:commandLink id="next" action="{!Next}" rerender="searchResults" 
				                        value="Next" status="saveStatus1" rendered="true" />
				                    <apex:commandLink id="lastpage" action="{!Last}" rerender="searchResults" 
				                        value="Last Page" status="saveStatus1" rendered="true" />
				                </div>
				            </td>
				        </tr>
				    </table> 
    			</apex:outputPanel>
				
			<apex:outputPanel rendered="true" id="idActionPopupPanel" styleClass="ReviewUserModalWrapper">
			<script>
			
				function showModal() {
                    $(".ReviewUserModalWrapper").appendTo("body");                    
		       		$('#ReviewUserModal').modal('show');		       		
		       	}
			</script>
			<div class="modal fade" id="ReviewUserModal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog" role="dialog" id="ReviewUserModal1">
					<div class="modal-content">
						<div class="modal-header modalHeader">
							<button aria-label="Close" class="close" data-dismiss="modal"
								id="closeButton" type="button">
								<span aria-hidden="true">&times;</span>
							</button>
							<b style="vertical-align: top;">Name:&nbsp;</b> {!dev.Stripe_User__r.Name}
						</div>
						<div class="modal-body">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-4">Status</th>
										<th class="col-md-7">Reason for Rejection</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>
											<apex:selectList value="{!dev.Developer_Request_Status__c}" onchange="changeStatus(this.value)" multiselect="false" size="1">
					                            <apex:selectOptions value="{!StatusValue}"/>
					                            <script>
													if(status == '{!$Label.vMarket_Rejected}') {
										                jQuery(".RejectionReason").show();
										            } else {
										            	jQuery(".RejectionReason").hide();
										            }
												</script>
					                        </apex:selectList>
										</th>
										<th>
											<apex:inputField value="{!dev.Rejection_Reason__c}" style="width:250px;height:70px;" styleClass="RejectionReason"/>
											
										</th>
									</tr>
								</tbody>
							</table>
							<div class="text-center">
								
								<apex:commandButton value="Save" action="{!updateDeveloperInfo}" oncomplete="hidePopup(); return false;" status="saveStatus" 
									rerender="searchResults, mymsg" StyleClass="btn btn-default">
			                        <apex:param value="{!dev.Id}" assignTo="{!selectedRecId}" name="selectedRecId"  />
			                    </apex:commandButton>
			                    &nbsp;
			                    &nbsp;
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                    
			                    <apex:actionStatus id="saveStatus" >
			                        <apex:facet name="start" >
			                            <div id="divLoading" class="divLoading">
			                                <p class="innerLoading">
			                                    <img src="/img/loading.gif" height="20" width="20" style="margin-bottom:20px;"/><br/>
			                                    Please wait...
			                                </p>
			                            </div>
			                        </apex:facet>
			                    </apex:actionStatus>
							</div>
						</div>
					</div>
				</div>
			</div>
			</apex:outputPanel>
				
				                    
           	</apex:form>
            
            
            <!-- <div id="modalDiv" style="display: none;" >
                <apex:outputPanel id="idActionPopupPanel" >
                    <apex:form id="frm1">
                    <b style="vertical-align: top;">Name:&nbsp;</b> {!dev.Stripe_User__r.Name}
                    <br/><br/>
                    <b>Status:&nbsp;</b>
                    <apex:selectList value="{!dev.Developer_Request_Status__c}" onchange="changeStatus(this.value)" multiselect="false" size="1">
                            <apex:selectOptions value="{!StatusValue}"/>
                        </apex:selectList>
                    
                    <br/><br/>
                    <div class="RejectionReason">
                        <b style="vertical-align: top;">Reason for Rejection:&nbsp;</b>
                        <apex:inputField value="{!dev.Rejection_Reason__c}" style="width:250px;height:70px;"/>
                    </div>
                    <br/>
                    <apex:commandButton value="Save" action="{!updateDeveloperInfo}" oncomplete="hidePopup(); return false;" status="saveStatus" rerender="searchResults, opPanel, mymsg">
                        <apex:param value="{!dev.Id}" assignTo="{!selectedRecId}" name="selectedRecId"  />
                    </apex:commandButton>
                    
                    &nbsp;
                    &nbsp;
                    <apex:commandButton value="Cancel" onClick="hidePopup(); return false;" rerender="{!divId}, mymsg"/>
                    
                    <apex:actionStatus id="saveStatus" >
                        <apex:facet name="start" >
                            <div id="divLoading" class="divLoading">
                                <p class="innerLoading">
                                    <img src="/img/loading.gif" height="20" width="20" style="margin-bottom:20px;"/><br/>
                                    Please wait...
                                </p>
                            </div>
                        </apex:facet>
                    </apex:actionStatus>
                    
                    </apex:form>
               </apex:outputPanel>
           </div> -->
            
        </apex:pageBlock>
    </apex:outputPanel>
    <apex:outputPanel id="statusPanel">
        <apex:actionStatus id="saveStatus1" >
            <apex:facet name="start" >
                <div id="divLoading" class="divLoading">
                    <p class="innerLoading">
                        <img src="/img/loading.gif" height="20" width="20" style="margin-bottom:20px;"/><br/>
                        Please wait...
                    </p>
                </div>
            </apex:facet>
        </apex:actionStatus>
    </apex:outputPanel>
    
     
    <Script>
        function changeStatus(status) {
            jQuery(".RejectionReason").hide();
            if(status == '{!$Label.vMarket_Rejected}') {
                jQuery(".RejectionReason").show();
            }
        }
        
        function hidePopup(){
        	$('#ReviewUserModal').modal('hide');
        }
        
        
        
    </Script>
    
    
</apex:component>