.THIS ::-webkit-input-placeholder {
    font-family:Arial;font-size:11px;
}

.THIS :-moz-placeholder { /* Firefox 18- */
    font-family:Arial;font-size:11px;
}

.THIS ::-moz-placeholder {  /* Firefox 19+ */
    font-family:Arial;font-size:11px;
}

.THIS  :-ms-input-placeholder {  
    font-family:Arial;font-size:11px;
}
.THIS .var-spinner {
    margin: 25px auto 0;
    width: 70px;
    text-align: center;
}

.THIS .var-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #4A99DF;
    
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    
    /*Prevent first frame from flickering when animation starts*/
    
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}	

.THIS .var-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.THIS .var-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
.THIS .slds-hide{
    display:none;
}
.THIS .onHoverCursor {
    cursor: pointer;
}

.THIS .table>thead>tr>th{
    width:10%;
    font-weight:bold;
}

.THIS .table>tbody>tr>td{
    width:10%;
}

.THIS .wordBreakClass{
    word-break: break-all;
}