.THIS .slds-form-element__label{
    font-weight: bold;
    margin-top: .7rem;
}

.THIS .slds-section-title--divider{
     background: #EEF1F6;
    color: #3E464E;
    text-align: left;
    border-radius: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 100%;
}

.THIS .slds-page-header__title{
    
    color: #0070d2;
}