.THIS{
    width:99%;
}
.THIS .fullWidth{
    width:100%;
}
.THIS .slds-listbox__item:hover {
    background: #d8edff;
    text-shadow: none;
    color: #16325c;
}

.THIS .optionParent1{
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
}
.THIS .inner-addon {
  position: relative;
}
.THIS .icon{
   
  margin-top: 2px;
   
    
 
  
 
  
 
  
}
.THIS .sWrapTest {
    height:120px;
    width:549px;
    border:hidden;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    
    z-index: 1;*/
    
}
.THIS .optionIcon {
   margin-top: 0.50rem;
}

.THIS .optionTitle{
        max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.125rem;
}
.THIS .liele{
    margin : 8px;
    margin-left : 5px;
}


.THIS .optionline{
        display: block;
    margin-top: -0.25rem;
    color: #54698d;
}
.THIS .singleRow{
    padding-top:5px;
}

.THIS .hide{
    display:none;
}