.THIS {
}
.THIS .slds-card__header{
    padding-left: 0rem;
}
.THIS .displayNone{
    display : none;
}
.THIS .displayBlock{
    display : block;
}
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 76%;
    max-width: 65rem;
    min-width: 20rem;
}